forms/stroke-assessment/xml-representations/assessment_limb_ataxia_sensory.dtd

<!ELEMENT assessment_limb_ataxia_sensory (id,assessment_id,nihss_7_limb_ataxia,nihss_8_sensory,ataxia_present_left_arm,ataxia_present_right_arm,ataxia_present_left_leg,ataxia_present_right_leg,finger_to_nose_test,heel_to_shin_test,sensory_loss_pattern,sensory_loss_side,sensory_modalities_affected,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT nihss_7_limb_ataxia (#PCDATA)>
<!ELEMENT nihss_8_sensory (#PCDATA)>
<!ELEMENT ataxia_present_left_arm (#PCDATA)>
<!ELEMENT ataxia_present_right_arm (#PCDATA)>
<!ELEMENT ataxia_present_left_leg (#PCDATA)>
<!ELEMENT ataxia_present_right_leg (#PCDATA)>
<!ELEMENT finger_to_nose_test (#PCDATA)>
<!ELEMENT heel_to_shin_test (#PCDATA)>
<!ELEMENT sensory_loss_pattern (#PCDATA)>
<!ELEMENT sensory_loss_side (#PCDATA)>
<!ELEMENT sensory_modalities_affected (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
