forms/stroke-assessment/xml-representations/assessment_current_medications.dtd

<!ELEMENT assessment_current_medications (id,assessment_id,anticoagulant_use,anticoagulant_name,last_anticoagulant_dose_time,inr_value,antiplatelet_use,antiplatelet_name,antihypertensive_use,antihypertensive_details,statin_use,diabetic_medication,diabetic_medication_details,recent_thrombolytic,other_medications,known_drug_allergies,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT anticoagulant_use (#PCDATA)>
<!ELEMENT anticoagulant_name (#PCDATA)>
<!ELEMENT last_anticoagulant_dose_time (#PCDATA)>
<!ELEMENT inr_value (#PCDATA)>
<!ELEMENT antiplatelet_use (#PCDATA)>
<!ELEMENT antiplatelet_name (#PCDATA)>
<!ELEMENT antihypertensive_use (#PCDATA)>
<!ELEMENT antihypertensive_details (#PCDATA)>
<!ELEMENT statin_use (#PCDATA)>
<!ELEMENT diabetic_medication (#PCDATA)>
<!ELEMENT diabetic_medication_details (#PCDATA)>
<!ELEMENT recent_thrombolytic (#PCDATA)>
<!ELEMENT other_medications (#PCDATA)>
<!ELEMENT known_drug_allergies (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
