forms/stroke-assessment/xml-representations/assessment_symptom_onset.dtd

<!ELEMENT assessment_symptom_onset (id,assessment_id,symptom_onset_time,last_known_well_time,onset_witnessed,wake_up_stroke,onset_setting,onset_activity,symptom_progression,initial_symptoms,headache_at_onset,seizure_at_onset,vomiting_at_onset,loss_of_consciousness,time_from_onset_to_arrival_minutes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT symptom_onset_time (#PCDATA)>
<!ELEMENT last_known_well_time (#PCDATA)>
<!ELEMENT onset_witnessed (#PCDATA)>
<!ELEMENT wake_up_stroke (#PCDATA)>
<!ELEMENT onset_setting (#PCDATA)>
<!ELEMENT onset_activity (#PCDATA)>
<!ELEMENT symptom_progression (#PCDATA)>
<!ELEMENT initial_symptoms (#PCDATA)>
<!ELEMENT headache_at_onset (#PCDATA)>
<!ELEMENT seizure_at_onset (#PCDATA)>
<!ELEMENT vomiting_at_onset (#PCDATA)>
<!ELEMENT loss_of_consciousness (#PCDATA)>
<!ELEMENT time_from_onset_to_arrival_minutes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
