forms/stroke-assessment/xml-representations/assessment_extinction_inattention.dtd

<!ELEMENT assessment_extinction_inattention (id,assessment_id,nihss_11_extinction_inattention,visual_neglect,tactile_neglect,auditory_neglect,anosognosia,line_bisection_abnormal,neglect_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT nihss_11_extinction_inattention (#PCDATA)>
<!ELEMENT visual_neglect (#PCDATA)>
<!ELEMENT tactile_neglect (#PCDATA)>
<!ELEMENT auditory_neglect (#PCDATA)>
<!ELEMENT anosognosia (#PCDATA)>
<!ELEMENT line_bisection_abnormal (#PCDATA)>
<!ELEMENT neglect_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
