forms/stroke-assessment/xml-representations/assessment_level_of_consciousness.dtd

<!ELEMENT assessment_level_of_consciousness (id,assessment_id,nihss_1a_loc,nihss_1b_loc_questions,nihss_1c_loc_commands,gcs_eye,gcs_verbal,gcs_motor,gcs_total,orientation_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT nihss_1a_loc (#PCDATA)>
<!ELEMENT nihss_1b_loc_questions (#PCDATA)>
<!ELEMENT nihss_1c_loc_commands (#PCDATA)>
<!ELEMENT gcs_eye (#PCDATA)>
<!ELEMENT gcs_verbal (#PCDATA)>
<!ELEMENT gcs_motor (#PCDATA)>
<!ELEMENT gcs_total (#PCDATA)>
<!ELEMENT orientation_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
