forms/stroke-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,best_gaze_visual,current_medications,demographics,extinction_inattention,facial_palsy_motor,language_dysarthria,level_of_consciousness,limb_ataxia_sensory,risk_factors,symptom_onset)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT best_gaze_visual (id,assessment_id,nihss_2_best_gaze,nihss_3_visual_fields,gaze_deviation_direction,forced_eye_deviation,pupil_left_mm,pupil_right_mm,pupil_left_reactive,pupil_right_reactive,visual_field_deficit_type,visual_deficit_notes,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT nihss_2_best_gaze (#PCDATA)>
<!ELEMENT nihss_3_visual_fields (#PCDATA)>
<!ELEMENT gaze_deviation_direction (#PCDATA)>
<!ELEMENT forced_eye_deviation (#PCDATA)>
<!ELEMENT pupil_left_mm (#PCDATA)>
<!ELEMENT pupil_right_mm (#PCDATA)>
<!ELEMENT pupil_left_reactive (#PCDATA)>
<!ELEMENT pupil_right_reactive (#PCDATA)>
<!ELEMENT visual_field_deficit_type (#PCDATA)>
<!ELEMENT visual_deficit_notes (#PCDATA)>
<!ELEMENT current_medications (id,assessment_id,anticoagulant_use,anticoagulant_name,last_anticoagulant_dose_time,inr_value,antiplatelet_use,antiplatelet_name,antihypertensive_use,antihypertensive_details,statin_use,diabetic_medication,diabetic_medication_details,recent_thrombolytic,other_medications,known_drug_allergies,created_at,updated_at)>
<!ELEMENT anticoagulant_use (#PCDATA)>
<!ELEMENT anticoagulant_name (#PCDATA)>
<!ELEMENT last_anticoagulant_dose_time (#PCDATA)>
<!ELEMENT inr_value (#PCDATA)>
<!ELEMENT antiplatelet_use (#PCDATA)>
<!ELEMENT antiplatelet_name (#PCDATA)>
<!ELEMENT antihypertensive_use (#PCDATA)>
<!ELEMENT antihypertensive_details (#PCDATA)>
<!ELEMENT statin_use (#PCDATA)>
<!ELEMENT diabetic_medication (#PCDATA)>
<!ELEMENT diabetic_medication_details (#PCDATA)>
<!ELEMENT recent_thrombolytic (#PCDATA)>
<!ELEMENT other_medications (#PCDATA)>
<!ELEMENT known_drug_allergies (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,ethnicity,handedness,pre_stroke_mrs_score,pre_stroke_independence,emergency_contact_name,emergency_contact_phone,created_at,updated_at)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT handedness (#PCDATA)>
<!ELEMENT pre_stroke_mrs_score (#PCDATA)>
<!ELEMENT pre_stroke_independence (#PCDATA)>
<!ELEMENT emergency_contact_name (#PCDATA)>
<!ELEMENT emergency_contact_phone (#PCDATA)>
<!ELEMENT extinction_inattention (id,assessment_id,nihss_11_extinction_inattention,visual_neglect,tactile_neglect,auditory_neglect,anosognosia,line_bisection_abnormal,neglect_notes,created_at,updated_at)>
<!ELEMENT nihss_11_extinction_inattention (#PCDATA)>
<!ELEMENT visual_neglect (#PCDATA)>
<!ELEMENT tactile_neglect (#PCDATA)>
<!ELEMENT auditory_neglect (#PCDATA)>
<!ELEMENT anosognosia (#PCDATA)>
<!ELEMENT line_bisection_abnormal (#PCDATA)>
<!ELEMENT neglect_notes (#PCDATA)>
<!ELEMENT facial_palsy_motor (id,assessment_id,nihss_4_facial_palsy,nihss_5a_motor_arm_left,nihss_5b_motor_arm_right,nihss_6a_motor_leg_left,nihss_6b_motor_leg_right,facial_droop_side,pronator_drift,motor_deficit_pattern,affected_side,created_at,updated_at)>
<!ELEMENT nihss_4_facial_palsy (#PCDATA)>
<!ELEMENT nihss_5a_motor_arm_left (#PCDATA)>
<!ELEMENT nihss_5b_motor_arm_right (#PCDATA)>
<!ELEMENT nihss_6a_motor_leg_left (#PCDATA)>
<!ELEMENT nihss_6b_motor_leg_right (#PCDATA)>
<!ELEMENT facial_droop_side (#PCDATA)>
<!ELEMENT pronator_drift (#PCDATA)>
<!ELEMENT motor_deficit_pattern (#PCDATA)>
<!ELEMENT affected_side (#PCDATA)>
<!ELEMENT language_dysarthria (id,assessment_id,nihss_9_best_language,nihss_10_dysarthria,aphasia_type,speech_fluency,comprehension_intact,repetition_intact,naming_intact,reading_intact,writing_intact,dysarthria_severity,language_notes,created_at,updated_at)>
<!ELEMENT nihss_9_best_language (#PCDATA)>
<!ELEMENT nihss_10_dysarthria (#PCDATA)>
<!ELEMENT aphasia_type (#PCDATA)>
<!ELEMENT speech_fluency (#PCDATA)>
<!ELEMENT comprehension_intact (#PCDATA)>
<!ELEMENT repetition_intact (#PCDATA)>
<!ELEMENT naming_intact (#PCDATA)>
<!ELEMENT reading_intact (#PCDATA)>
<!ELEMENT writing_intact (#PCDATA)>
<!ELEMENT dysarthria_severity (#PCDATA)>
<!ELEMENT language_notes (#PCDATA)>
<!ELEMENT level_of_consciousness (id,assessment_id,nihss_1a_loc,nihss_1b_loc_questions,nihss_1c_loc_commands,gcs_eye,gcs_verbal,gcs_motor,gcs_total,orientation_notes,created_at,updated_at)>
<!ELEMENT nihss_1a_loc (#PCDATA)>
<!ELEMENT nihss_1b_loc_questions (#PCDATA)>
<!ELEMENT nihss_1c_loc_commands (#PCDATA)>
<!ELEMENT gcs_eye (#PCDATA)>
<!ELEMENT gcs_verbal (#PCDATA)>
<!ELEMENT gcs_motor (#PCDATA)>
<!ELEMENT gcs_total (#PCDATA)>
<!ELEMENT orientation_notes (#PCDATA)>
<!ELEMENT limb_ataxia_sensory (id,assessment_id,nihss_7_limb_ataxia,nihss_8_sensory,ataxia_present_left_arm,ataxia_present_right_arm,ataxia_present_left_leg,ataxia_present_right_leg,finger_to_nose_test,heel_to_shin_test,sensory_loss_pattern,sensory_loss_side,sensory_modalities_affected,created_at,updated_at)>
<!ELEMENT nihss_7_limb_ataxia (#PCDATA)>
<!ELEMENT nihss_8_sensory (#PCDATA)>
<!ELEMENT ataxia_present_left_arm (#PCDATA)>
<!ELEMENT ataxia_present_right_arm (#PCDATA)>
<!ELEMENT ataxia_present_left_leg (#PCDATA)>
<!ELEMENT ataxia_present_right_leg (#PCDATA)>
<!ELEMENT finger_to_nose_test (#PCDATA)>
<!ELEMENT heel_to_shin_test (#PCDATA)>
<!ELEMENT sensory_loss_pattern (#PCDATA)>
<!ELEMENT sensory_loss_side (#PCDATA)>
<!ELEMENT sensory_modalities_affected (#PCDATA)>
<!ELEMENT risk_factors (id,assessment_id,hypertension,diabetes,atrial_fibrillation,atrial_fibrillation_anticoagulated,hyperlipidaemia,previous_stroke,previous_stroke_details,previous_tia,carotid_stenosis,coronary_artery_disease,heart_failure,valvular_heart_disease,smoking_status,alcohol_excess,illicit_drug_use,family_history_stroke,obstructive_sleep_apnoea,oral_contraceptive_hrt,additional_risk_factors,created_at,updated_at)>
<!ELEMENT hypertension (#PCDATA)>
<!ELEMENT diabetes (#PCDATA)>
<!ELEMENT atrial_fibrillation (#PCDATA)>
<!ELEMENT atrial_fibrillation_anticoagulated (#PCDATA)>
<!ELEMENT hyperlipidaemia (#PCDATA)>
<!ELEMENT previous_stroke (#PCDATA)>
<!ELEMENT previous_stroke_details (#PCDATA)>
<!ELEMENT previous_tia (#PCDATA)>
<!ELEMENT carotid_stenosis (#PCDATA)>
<!ELEMENT coronary_artery_disease (#PCDATA)>
<!ELEMENT heart_failure (#PCDATA)>
<!ELEMENT valvular_heart_disease (#PCDATA)>
<!ELEMENT smoking_status (#PCDATA)>
<!ELEMENT alcohol_excess (#PCDATA)>
<!ELEMENT illicit_drug_use (#PCDATA)>
<!ELEMENT family_history_stroke (#PCDATA)>
<!ELEMENT obstructive_sleep_apnoea (#PCDATA)>
<!ELEMENT oral_contraceptive_hrt (#PCDATA)>
<!ELEMENT additional_risk_factors (#PCDATA)>
<!ELEMENT symptom_onset (id,assessment_id,symptom_onset_time,last_known_well_time,onset_witnessed,wake_up_stroke,onset_setting,onset_activity,symptom_progression,initial_symptoms,headache_at_onset,seizure_at_onset,vomiting_at_onset,loss_of_consciousness,time_from_onset_to_arrival_minutes,created_at,updated_at)>
<!ELEMENT symptom_onset_time (#PCDATA)>
<!ELEMENT last_known_well_time (#PCDATA)>
<!ELEMENT onset_witnessed (#PCDATA)>
<!ELEMENT wake_up_stroke (#PCDATA)>
<!ELEMENT onset_setting (#PCDATA)>
<!ELEMENT onset_activity (#PCDATA)>
<!ELEMENT symptom_progression (#PCDATA)>
<!ELEMENT initial_symptoms (#PCDATA)>
<!ELEMENT headache_at_onset (#PCDATA)>
<!ELEMENT seizure_at_onset (#PCDATA)>
<!ELEMENT vomiting_at_onset (#PCDATA)>
<!ELEMENT loss_of_consciousness (#PCDATA)>
<!ELEMENT time_from_onset_to_arrival_minutes (#PCDATA)>
