forms/stroke-assessment/xml-representations/assessment_risk_factors.dtd

<!ELEMENT assessment_risk_factors (id,assessment_id,hypertension,diabetes,atrial_fibrillation,atrial_fibrillation_anticoagulated,hyperlipidaemia,previous_stroke,previous_stroke_details,previous_tia,carotid_stenosis,coronary_artery_disease,heart_failure,valvular_heart_disease,smoking_status,alcohol_excess,illicit_drug_use,family_history_stroke,obstructive_sleep_apnoea,oral_contraceptive_hrt,additional_risk_factors,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT hypertension (#PCDATA)>
<!ELEMENT diabetes (#PCDATA)>
<!ELEMENT atrial_fibrillation (#PCDATA)>
<!ELEMENT atrial_fibrillation_anticoagulated (#PCDATA)>
<!ELEMENT hyperlipidaemia (#PCDATA)>
<!ELEMENT previous_stroke (#PCDATA)>
<!ELEMENT previous_stroke_details (#PCDATA)>
<!ELEMENT previous_tia (#PCDATA)>
<!ELEMENT carotid_stenosis (#PCDATA)>
<!ELEMENT coronary_artery_disease (#PCDATA)>
<!ELEMENT heart_failure (#PCDATA)>
<!ELEMENT valvular_heart_disease (#PCDATA)>
<!ELEMENT smoking_status (#PCDATA)>
<!ELEMENT alcohol_excess (#PCDATA)>
<!ELEMENT illicit_drug_use (#PCDATA)>
<!ELEMENT family_history_stroke (#PCDATA)>
<!ELEMENT obstructive_sleep_apnoea (#PCDATA)>
<!ELEMENT oral_contraceptive_hrt (#PCDATA)>
<!ELEMENT additional_risk_factors (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
