forms/stroke-assessment/xml-representations/grading_result.dtd

<!ELEMENT grading_result (id,assessment_id,nihss_total_score,stroke_severity,graded_at,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT nihss_total_score (#PCDATA)>
<!ELEMENT stroke_severity (#PCDATA)>
<!ELEMENT graded_at (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
