forms/autism-assessment/xml-representations/assessment_current_support.dtd

<!ELEMENT assessment_current_support (id,assessment_id,receiving_mental_health_support,mental_health_support_details,current_medications,receiving_occupational_therapy,receiving_speech_therapy,receiving_behavioural_support,social_care_involvement,social_care_details,employment_status,employment_support_needs,independent_living,current_support_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT receiving_mental_health_support (#PCDATA)>
<!ELEMENT mental_health_support_details (#PCDATA)>
<!ELEMENT current_medications (#PCDATA)>
<!ELEMENT receiving_occupational_therapy (#PCDATA)>
<!ELEMENT receiving_speech_therapy (#PCDATA)>
<!ELEMENT receiving_behavioural_support (#PCDATA)>
<!ELEMENT social_care_involvement (#PCDATA)>
<!ELEMENT social_care_details (#PCDATA)>
<!ELEMENT employment_status (#PCDATA)>
<!ELEMENT employment_support_needs (#PCDATA)>
<!ELEMENT independent_living (#PCDATA)>
<!ELEMENT current_support_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
