forms/autism-assessment/xml-representations/assessment_developmental_history.dtd

<!ELEMENT assessment_developmental_history (id,assessment_id,age_first_words_months,age_first_sentences_months,speech_delay,motor_milestone_delay,motor_milestone_details,toilet_training_delay,educational_support_history,ehcp_or_statement,school_type,learning_difficulties,learning_difficulties_details,developmental_regression,developmental_regression_details,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT age_first_words_months (#PCDATA)>
<!ELEMENT age_first_sentences_months (#PCDATA)>
<!ELEMENT speech_delay (#PCDATA)>
<!ELEMENT motor_milestone_delay (#PCDATA)>
<!ELEMENT motor_milestone_details (#PCDATA)>
<!ELEMENT toilet_training_delay (#PCDATA)>
<!ELEMENT educational_support_history (#PCDATA)>
<!ELEMENT ehcp_or_statement (#PCDATA)>
<!ELEMENT school_type (#PCDATA)>
<!ELEMENT learning_difficulties (#PCDATA)>
<!ELEMENT learning_difficulties_details (#PCDATA)>
<!ELEMENT developmental_regression (#PCDATA)>
<!ELEMENT developmental_regression_details (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
