forms/autism-assessment/xml-representations/assessment_family_history.dtd

<!ELEMENT assessment_family_history (id,assessment_id,family_history_of_autism,family_autism_details,family_history_of_adhd,family_adhd_details,family_history_of_learning_disability,family_learning_disability_details,family_history_of_mental_health,family_mental_health_details,family_history_of_epilepsy,consanguinity,family_history_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT family_history_of_autism (#PCDATA)>
<!ELEMENT family_autism_details (#PCDATA)>
<!ELEMENT family_history_of_adhd (#PCDATA)>
<!ELEMENT family_adhd_details (#PCDATA)>
<!ELEMENT family_history_of_learning_disability (#PCDATA)>
<!ELEMENT family_learning_disability_details (#PCDATA)>
<!ELEMENT family_history_of_mental_health (#PCDATA)>
<!ELEMENT family_mental_health_details (#PCDATA)>
<!ELEMENT family_history_of_epilepsy (#PCDATA)>
<!ELEMENT consanguinity (#PCDATA)>
<!ELEMENT family_history_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
