forms/autism-assessment/xml-representations/assessment_aq10_questionnaire.dtd

<!ELEMENT assessment_aq10_questionnaire (id,assessment_id,q01_notice_small_sounds,q02_concentrate_whole_picture,q03_easy_multitask,q04_easy_go_back_and_forth,q05_easy_read_between_lines,q06_easy_detect_feeling_bored,q07_easy_work_out_intentions,q08_easy_imagine_as_character,q09_find_social_situations_easy,q10_difficult_work_out_friends,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT q01_notice_small_sounds (#PCDATA)>
<!ELEMENT q02_concentrate_whole_picture (#PCDATA)>
<!ELEMENT q03_easy_multitask (#PCDATA)>
<!ELEMENT q04_easy_go_back_and_forth (#PCDATA)>
<!ELEMENT q05_easy_read_between_lines (#PCDATA)>
<!ELEMENT q06_easy_detect_feeling_bored (#PCDATA)>
<!ELEMENT q07_easy_work_out_intentions (#PCDATA)>
<!ELEMENT q08_easy_imagine_as_character (#PCDATA)>
<!ELEMENT q09_find_social_situations_easy (#PCDATA)>
<!ELEMENT q10_difficult_work_out_friends (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
