forms/autism-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,aq10_questionnaire,current_support,demographics,developmental_history,family_history,repetitive_behaviors,screening_purpose,sensory_profile,social_communication)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT aq10_questionnaire (id,assessment_id,q01_notice_small_sounds,q02_concentrate_whole_picture,q03_easy_multitask,q04_easy_go_back_and_forth,q05_easy_read_between_lines,q06_easy_detect_feeling_bored,q07_easy_work_out_intentions,q08_easy_imagine_as_character,q09_find_social_situations_easy,q10_difficult_work_out_friends,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT q01_notice_small_sounds (#PCDATA)>
<!ELEMENT q02_concentrate_whole_picture (#PCDATA)>
<!ELEMENT q03_easy_multitask (#PCDATA)>
<!ELEMENT q04_easy_go_back_and_forth (#PCDATA)>
<!ELEMENT q05_easy_read_between_lines (#PCDATA)>
<!ELEMENT q06_easy_detect_feeling_bored (#PCDATA)>
<!ELEMENT q07_easy_work_out_intentions (#PCDATA)>
<!ELEMENT q08_easy_imagine_as_character (#PCDATA)>
<!ELEMENT q09_find_social_situations_easy (#PCDATA)>
<!ELEMENT q10_difficult_work_out_friends (#PCDATA)>
<!ELEMENT current_support (id,assessment_id,receiving_mental_health_support,mental_health_support_details,current_medications,receiving_occupational_therapy,receiving_speech_therapy,receiving_behavioural_support,social_care_involvement,social_care_details,employment_status,employment_support_needs,independent_living,current_support_notes,created_at,updated_at)>
<!ELEMENT receiving_mental_health_support (#PCDATA)>
<!ELEMENT mental_health_support_details (#PCDATA)>
<!ELEMENT current_medications (#PCDATA)>
<!ELEMENT receiving_occupational_therapy (#PCDATA)>
<!ELEMENT receiving_speech_therapy (#PCDATA)>
<!ELEMENT receiving_behavioural_support (#PCDATA)>
<!ELEMENT social_care_involvement (#PCDATA)>
<!ELEMENT social_care_details (#PCDATA)>
<!ELEMENT employment_status (#PCDATA)>
<!ELEMENT employment_support_needs (#PCDATA)>
<!ELEMENT independent_living (#PCDATA)>
<!ELEMENT current_support_notes (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,preferred_name,gender_identity,ethnicity,preferred_language,interpreter_required,gp_name,gp_practice,referrer_name,referrer_role,created_at,updated_at)>
<!ELEMENT preferred_name (#PCDATA)>
<!ELEMENT gender_identity (#PCDATA)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT preferred_language (#PCDATA)>
<!ELEMENT interpreter_required (#PCDATA)>
<!ELEMENT gp_name (#PCDATA)>
<!ELEMENT gp_practice (#PCDATA)>
<!ELEMENT referrer_name (#PCDATA)>
<!ELEMENT referrer_role (#PCDATA)>
<!ELEMENT developmental_history (id,assessment_id,age_first_words_months,age_first_sentences_months,speech_delay,motor_milestone_delay,motor_milestone_details,toilet_training_delay,educational_support_history,ehcp_or_statement,school_type,learning_difficulties,learning_difficulties_details,developmental_regression,developmental_regression_details,created_at,updated_at)>
<!ELEMENT age_first_words_months (#PCDATA)>
<!ELEMENT age_first_sentences_months (#PCDATA)>
<!ELEMENT speech_delay (#PCDATA)>
<!ELEMENT motor_milestone_delay (#PCDATA)>
<!ELEMENT motor_milestone_details (#PCDATA)>
<!ELEMENT toilet_training_delay (#PCDATA)>
<!ELEMENT educational_support_history (#PCDATA)>
<!ELEMENT ehcp_or_statement (#PCDATA)>
<!ELEMENT school_type (#PCDATA)>
<!ELEMENT learning_difficulties (#PCDATA)>
<!ELEMENT learning_difficulties_details (#PCDATA)>
<!ELEMENT developmental_regression (#PCDATA)>
<!ELEMENT developmental_regression_details (#PCDATA)>
<!ELEMENT family_history (id,assessment_id,family_history_of_autism,family_autism_details,family_history_of_adhd,family_adhd_details,family_history_of_learning_disability,family_learning_disability_details,family_history_of_mental_health,family_mental_health_details,family_history_of_epilepsy,consanguinity,family_history_notes,created_at,updated_at)>
<!ELEMENT family_history_of_autism (#PCDATA)>
<!ELEMENT family_autism_details (#PCDATA)>
<!ELEMENT family_history_of_adhd (#PCDATA)>
<!ELEMENT family_adhd_details (#PCDATA)>
<!ELEMENT family_history_of_learning_disability (#PCDATA)>
<!ELEMENT family_learning_disability_details (#PCDATA)>
<!ELEMENT family_history_of_mental_health (#PCDATA)>
<!ELEMENT family_mental_health_details (#PCDATA)>
<!ELEMENT family_history_of_epilepsy (#PCDATA)>
<!ELEMENT consanguinity (#PCDATA)>
<!ELEMENT family_history_notes (#PCDATA)>
<!ELEMENT repetitive_behaviors (id,assessment_id,repetitive_movements,repetitive_movement_details,insistence_on_sameness,distress_with_change,rigid_routines,rigid_routine_details,special_interests,special_interest_details,special_interest_intensity,echolalia,repetitive_behaviors_notes,created_at,updated_at)>
<!ELEMENT repetitive_movements (#PCDATA)>
<!ELEMENT repetitive_movement_details (#PCDATA)>
<!ELEMENT insistence_on_sameness (#PCDATA)>
<!ELEMENT distress_with_change (#PCDATA)>
<!ELEMENT rigid_routines (#PCDATA)>
<!ELEMENT rigid_routine_details (#PCDATA)>
<!ELEMENT special_interests (#PCDATA)>
<!ELEMENT special_interest_details (#PCDATA)>
<!ELEMENT special_interest_intensity (#PCDATA)>
<!ELEMENT echolalia (#PCDATA)>
<!ELEMENT repetitive_behaviors_notes (#PCDATA)>
<!ELEMENT screening_purpose (id,assessment_id,reason_for_referral,who_requested_screening,who_requested_screening_other,previous_autism_assessment,previous_assessment_details,previous_assessment_date,main_concerns,impact_on_daily_life,created_at,updated_at)>
<!ELEMENT reason_for_referral (#PCDATA)>
<!ELEMENT who_requested_screening (#PCDATA)>
<!ELEMENT who_requested_screening_other (#PCDATA)>
<!ELEMENT previous_autism_assessment (#PCDATA)>
<!ELEMENT previous_assessment_details (#PCDATA)>
<!ELEMENT previous_assessment_date (#PCDATA)>
<!ELEMENT main_concerns (#PCDATA)>
<!ELEMENT impact_on_daily_life (#PCDATA)>
<!ELEMENT sensory_profile (id,assessment_id,hypersensitivity_sound,hypersensitivity_light,hypersensitivity_touch,hypersensitivity_taste_smell,hyposensitivity_pain,hyposensitivity_temperature,sensory_seeking_behaviors,sensory_seeking_details,sensory_avoidance_behaviors,sensory_avoidance_details,sensory_overload_frequency,sensory_profile_notes,created_at,updated_at)>
<!ELEMENT hypersensitivity_sound (#PCDATA)>
<!ELEMENT hypersensitivity_light (#PCDATA)>
<!ELEMENT hypersensitivity_touch (#PCDATA)>
<!ELEMENT hypersensitivity_taste_smell (#PCDATA)>
<!ELEMENT hyposensitivity_pain (#PCDATA)>
<!ELEMENT hyposensitivity_temperature (#PCDATA)>
<!ELEMENT sensory_seeking_behaviors (#PCDATA)>
<!ELEMENT sensory_seeking_details (#PCDATA)>
<!ELEMENT sensory_avoidance_behaviors (#PCDATA)>
<!ELEMENT sensory_avoidance_details (#PCDATA)>
<!ELEMENT sensory_overload_frequency (#PCDATA)>
<!ELEMENT sensory_profile_notes (#PCDATA)>
<!ELEMENT social_communication (id,assessment_id,eye_contact_difficulty,understanding_sarcasm,difficulty_starting_conversations,difficulty_maintaining_conversations,literal_interpretation,difficulty_reading_body_language,difficulty_making_friends,preference_for_solitary_activities,social_communication_notes,created_at,updated_at)>
<!ELEMENT eye_contact_difficulty (#PCDATA)>
<!ELEMENT understanding_sarcasm (#PCDATA)>
<!ELEMENT difficulty_starting_conversations (#PCDATA)>
<!ELEMENT difficulty_maintaining_conversations (#PCDATA)>
<!ELEMENT literal_interpretation (#PCDATA)>
<!ELEMENT difficulty_reading_body_language (#PCDATA)>
<!ELEMENT difficulty_making_friends (#PCDATA)>
<!ELEMENT preference_for_solitary_activities (#PCDATA)>
<!ELEMENT social_communication_notes (#PCDATA)>
