forms/autism-assessment/xml-representations/assessment_repetitive_behaviors.dtd

<!ELEMENT assessment_repetitive_behaviors (id,assessment_id,repetitive_movements,repetitive_movement_details,insistence_on_sameness,distress_with_change,rigid_routines,rigid_routine_details,special_interests,special_interest_details,special_interest_intensity,echolalia,repetitive_behaviors_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT repetitive_movements (#PCDATA)>
<!ELEMENT repetitive_movement_details (#PCDATA)>
<!ELEMENT insistence_on_sameness (#PCDATA)>
<!ELEMENT distress_with_change (#PCDATA)>
<!ELEMENT rigid_routines (#PCDATA)>
<!ELEMENT rigid_routine_details (#PCDATA)>
<!ELEMENT special_interests (#PCDATA)>
<!ELEMENT special_interest_details (#PCDATA)>
<!ELEMENT special_interest_intensity (#PCDATA)>
<!ELEMENT echolalia (#PCDATA)>
<!ELEMENT repetitive_behaviors_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
