forms/autism-assessment/xml-representations/grading_result.dtd

<!ELEMENT grading_result (id,assessment_id,aq10_score,threshold_category,graded_at,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT aq10_score (#PCDATA)>
<!ELEMENT threshold_category (#PCDATA)>
<!ELEMENT graded_at (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
