forms/sleep-quality-assessment/xml-representations/assessment_daytime_dysfunction.dtd

<!ELEMENT assessment_daytime_dysfunction (id,assessment_id,trouble_staying_awake,lack_of_enthusiasm,daytime_sleepiness_severity,epworth_sleepiness_score,concentration_difficulty,memory_problems,irritability,morning_headaches,drowsy_driving,work_performance_impact,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT trouble_staying_awake (#PCDATA)>
<!ELEMENT lack_of_enthusiasm (#PCDATA)>
<!ELEMENT daytime_sleepiness_severity (#PCDATA)>
<!ELEMENT epworth_sleepiness_score (#PCDATA)>
<!ELEMENT concentration_difficulty (#PCDATA)>
<!ELEMENT memory_problems (#PCDATA)>
<!ELEMENT irritability (#PCDATA)>
<!ELEMENT morning_headaches (#PCDATA)>
<!ELEMENT drowsy_driving (#PCDATA)>
<!ELEMENT work_performance_impact (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
