forms/sleep-quality-assessment/xml-representations/assessment_medical_lifestyle_factors.dtd

<!ELEMENT assessment_medical_lifestyle_factors (id,assessment_id,obstructive_sleep_apnoea,cpap_use,chronic_pain,chronic_pain_details,depression,anxiety,ptsd,thyroid_disorder,respiratory_disease,cardiac_disease,neurological_condition,neurological_details,exercise_frequency,exercise_timing,smoking_status,alcohol_frequency,stress_level,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT obstructive_sleep_apnoea (#PCDATA)>
<!ELEMENT cpap_use (#PCDATA)>
<!ELEMENT chronic_pain (#PCDATA)>
<!ELEMENT chronic_pain_details (#PCDATA)>
<!ELEMENT depression (#PCDATA)>
<!ELEMENT anxiety (#PCDATA)>
<!ELEMENT ptsd (#PCDATA)>
<!ELEMENT thyroid_disorder (#PCDATA)>
<!ELEMENT respiratory_disease (#PCDATA)>
<!ELEMENT cardiac_disease (#PCDATA)>
<!ELEMENT neurological_condition (#PCDATA)>
<!ELEMENT neurological_details (#PCDATA)>
<!ELEMENT exercise_frequency (#PCDATA)>
<!ELEMENT exercise_timing (#PCDATA)>
<!ELEMENT smoking_status (#PCDATA)>
<!ELEMENT alcohol_frequency (#PCDATA)>
<!ELEMENT stress_level (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
