forms/sleep-quality-assessment/xml-representations/assessment_sleep_efficiency.dtd

<!ELEMENT assessment_sleep_efficiency (id,assessment_id,sleep_efficiency_percent,time_awake_in_bed_minutes,number_of_awakenings,time_to_return_to_sleep_minutes,early_morning_awakening,early_awakening_time,difficulty_returning_to_sleep,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT sleep_efficiency_percent (#PCDATA)>
<!ELEMENT time_awake_in_bed_minutes (#PCDATA)>
<!ELEMENT number_of_awakenings (#PCDATA)>
<!ELEMENT time_to_return_to_sleep_minutes (#PCDATA)>
<!ELEMENT early_morning_awakening (#PCDATA)>
<!ELEMENT early_awakening_time (#PCDATA)>
<!ELEMENT difficulty_returning_to_sleep (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
