forms/sleep-quality-assessment/xml-representations/assessment_sleep_medication_use.dtd

<!ELEMENT assessment_sleep_medication_use (id,assessment_id,sleep_medication_frequency,prescribed_sleep_medication,prescribed_medication_names,prescribed_medication_dose,prescribed_medication_duration_months,over_the_counter_sleep_aids,otc_sleep_aid_details,melatonin_use,melatonin_dose_mg,herbal_supplements,herbal_supplement_details,caffeine_daily_intake,caffeine_last_intake_time,alcohol_as_sleep_aid,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT sleep_medication_frequency (#PCDATA)>
<!ELEMENT prescribed_sleep_medication (#PCDATA)>
<!ELEMENT prescribed_medication_names (#PCDATA)>
<!ELEMENT prescribed_medication_dose (#PCDATA)>
<!ELEMENT prescribed_medication_duration_months (#PCDATA)>
<!ELEMENT over_the_counter_sleep_aids (#PCDATA)>
<!ELEMENT otc_sleep_aid_details (#PCDATA)>
<!ELEMENT melatonin_use (#PCDATA)>
<!ELEMENT melatonin_dose_mg (#PCDATA)>
<!ELEMENT herbal_supplements (#PCDATA)>
<!ELEMENT herbal_supplement_details (#PCDATA)>
<!ELEMENT caffeine_daily_intake (#PCDATA)>
<!ELEMENT caffeine_last_intake_time (#PCDATA)>
<!ELEMENT alcohol_as_sleep_aid (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
