forms/sleep-quality-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,daytime_dysfunction,demographics,medical_lifestyle_factors,sleep_disturbances,sleep_duration,sleep_efficiency,sleep_habits,sleep_latency,sleep_medication_use)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT daytime_dysfunction (id,assessment_id,trouble_staying_awake,lack_of_enthusiasm,daytime_sleepiness_severity,epworth_sleepiness_score,concentration_difficulty,memory_problems,irritability,morning_headaches,drowsy_driving,work_performance_impact,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT trouble_staying_awake (#PCDATA)>
<!ELEMENT lack_of_enthusiasm (#PCDATA)>
<!ELEMENT daytime_sleepiness_severity (#PCDATA)>
<!ELEMENT epworth_sleepiness_score (#PCDATA)>
<!ELEMENT concentration_difficulty (#PCDATA)>
<!ELEMENT memory_problems (#PCDATA)>
<!ELEMENT irritability (#PCDATA)>
<!ELEMENT morning_headaches (#PCDATA)>
<!ELEMENT drowsy_driving (#PCDATA)>
<!ELEMENT work_performance_impact (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,ethnicity,occupation,shift_worker,shift_pattern,referring_physician,referral_date,created_at,updated_at)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT occupation (#PCDATA)>
<!ELEMENT shift_worker (#PCDATA)>
<!ELEMENT shift_pattern (#PCDATA)>
<!ELEMENT referring_physician (#PCDATA)>
<!ELEMENT referral_date (#PCDATA)>
<!ELEMENT medical_lifestyle_factors (id,assessment_id,obstructive_sleep_apnoea,cpap_use,chronic_pain,chronic_pain_details,depression,anxiety,ptsd,thyroid_disorder,respiratory_disease,cardiac_disease,neurological_condition,neurological_details,exercise_frequency,exercise_timing,smoking_status,alcohol_frequency,stress_level,additional_notes,created_at,updated_at)>
<!ELEMENT obstructive_sleep_apnoea (#PCDATA)>
<!ELEMENT cpap_use (#PCDATA)>
<!ELEMENT chronic_pain (#PCDATA)>
<!ELEMENT chronic_pain_details (#PCDATA)>
<!ELEMENT depression (#PCDATA)>
<!ELEMENT anxiety (#PCDATA)>
<!ELEMENT ptsd (#PCDATA)>
<!ELEMENT thyroid_disorder (#PCDATA)>
<!ELEMENT respiratory_disease (#PCDATA)>
<!ELEMENT cardiac_disease (#PCDATA)>
<!ELEMENT neurological_condition (#PCDATA)>
<!ELEMENT neurological_details (#PCDATA)>
<!ELEMENT exercise_frequency (#PCDATA)>
<!ELEMENT exercise_timing (#PCDATA)>
<!ELEMENT smoking_status (#PCDATA)>
<!ELEMENT alcohol_frequency (#PCDATA)>
<!ELEMENT stress_level (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT sleep_disturbances (id,assessment_id,wake_middle_of_night,bathroom_use,breathing_difficulty,cough_or_snore,feel_too_cold,feel_too_hot,bad_dreams,pain,other_disturbance,other_disturbance_description,restless_legs,sleep_talking,sleep_walking,teeth_grinding,created_at,updated_at)>
<!ELEMENT wake_middle_of_night (#PCDATA)>
<!ELEMENT bathroom_use (#PCDATA)>
<!ELEMENT breathing_difficulty (#PCDATA)>
<!ELEMENT cough_or_snore (#PCDATA)>
<!ELEMENT feel_too_cold (#PCDATA)>
<!ELEMENT feel_too_hot (#PCDATA)>
<!ELEMENT bad_dreams (#PCDATA)>
<!ELEMENT pain (#PCDATA)>
<!ELEMENT other_disturbance (#PCDATA)>
<!ELEMENT other_disturbance_description (#PCDATA)>
<!ELEMENT restless_legs (#PCDATA)>
<!ELEMENT sleep_talking (#PCDATA)>
<!ELEMENT sleep_walking (#PCDATA)>
<!ELEMENT teeth_grinding (#PCDATA)>
<!ELEMENT sleep_duration (id,assessment_id,actual_sleep_hours,sleep_duration_weekday_hours,sleep_duration_weekend_hours,sleep_duration_variability,perceived_sleep_need_hours,sleep_debt_present,created_at,updated_at)>
<!ELEMENT actual_sleep_hours (#PCDATA)>
<!ELEMENT sleep_duration_weekday_hours (#PCDATA)>
<!ELEMENT sleep_duration_weekend_hours (#PCDATA)>
<!ELEMENT sleep_duration_variability (#PCDATA)>
<!ELEMENT perceived_sleep_need_hours (#PCDATA)>
<!ELEMENT sleep_debt_present (#PCDATA)>
<!ELEMENT sleep_efficiency (id,assessment_id,sleep_efficiency_percent,time_awake_in_bed_minutes,number_of_awakenings,time_to_return_to_sleep_minutes,early_morning_awakening,early_awakening_time,difficulty_returning_to_sleep,created_at,updated_at)>
<!ELEMENT sleep_efficiency_percent (#PCDATA)>
<!ELEMENT time_awake_in_bed_minutes (#PCDATA)>
<!ELEMENT number_of_awakenings (#PCDATA)>
<!ELEMENT time_to_return_to_sleep_minutes (#PCDATA)>
<!ELEMENT early_morning_awakening (#PCDATA)>
<!ELEMENT early_awakening_time (#PCDATA)>
<!ELEMENT difficulty_returning_to_sleep (#PCDATA)>
<!ELEMENT sleep_habits (id,assessment_id,usual_bedtime,usual_wake_time,time_in_bed_hours,nap_frequency,nap_duration_minutes,sleep_environment_noise,sleep_environment_light,sleep_environment_temperature,screen_use_before_bed,screen_use_duration_minutes,bed_partner,bed_partner_sleep_issues,created_at,updated_at)>
<!ELEMENT usual_bedtime (#PCDATA)>
<!ELEMENT usual_wake_time (#PCDATA)>
<!ELEMENT time_in_bed_hours (#PCDATA)>
<!ELEMENT nap_frequency (#PCDATA)>
<!ELEMENT nap_duration_minutes (#PCDATA)>
<!ELEMENT sleep_environment_noise (#PCDATA)>
<!ELEMENT sleep_environment_light (#PCDATA)>
<!ELEMENT sleep_environment_temperature (#PCDATA)>
<!ELEMENT screen_use_before_bed (#PCDATA)>
<!ELEMENT screen_use_duration_minutes (#PCDATA)>
<!ELEMENT bed_partner (#PCDATA)>
<!ELEMENT bed_partner_sleep_issues (#PCDATA)>
<!ELEMENT sleep_latency (id,assessment_id,time_to_fall_asleep_minutes,cannot_sleep_within_30_min,racing_thoughts_at_bedtime,physical_discomfort_at_bedtime,anxiety_at_bedtime,difficulty_relaxing,sleep_onset_strategies,created_at,updated_at)>
<!ELEMENT time_to_fall_asleep_minutes (#PCDATA)>
<!ELEMENT cannot_sleep_within_30_min (#PCDATA)>
<!ELEMENT racing_thoughts_at_bedtime (#PCDATA)>
<!ELEMENT physical_discomfort_at_bedtime (#PCDATA)>
<!ELEMENT anxiety_at_bedtime (#PCDATA)>
<!ELEMENT difficulty_relaxing (#PCDATA)>
<!ELEMENT sleep_onset_strategies (#PCDATA)>
<!ELEMENT sleep_medication_use (id,assessment_id,sleep_medication_frequency,prescribed_sleep_medication,prescribed_medication_names,prescribed_medication_dose,prescribed_medication_duration_months,over_the_counter_sleep_aids,otc_sleep_aid_details,melatonin_use,melatonin_dose_mg,herbal_supplements,herbal_supplement_details,caffeine_daily_intake,caffeine_last_intake_time,alcohol_as_sleep_aid,created_at,updated_at)>
<!ELEMENT sleep_medication_frequency (#PCDATA)>
<!ELEMENT prescribed_sleep_medication (#PCDATA)>
<!ELEMENT prescribed_medication_names (#PCDATA)>
<!ELEMENT prescribed_medication_dose (#PCDATA)>
<!ELEMENT prescribed_medication_duration_months (#PCDATA)>
<!ELEMENT over_the_counter_sleep_aids (#PCDATA)>
<!ELEMENT otc_sleep_aid_details (#PCDATA)>
<!ELEMENT melatonin_use (#PCDATA)>
<!ELEMENT melatonin_dose_mg (#PCDATA)>
<!ELEMENT herbal_supplements (#PCDATA)>
<!ELEMENT herbal_supplement_details (#PCDATA)>
<!ELEMENT caffeine_daily_intake (#PCDATA)>
<!ELEMENT caffeine_last_intake_time (#PCDATA)>
<!ELEMENT alcohol_as_sleep_aid (#PCDATA)>
