forms/sleep-quality-assessment/xml-representations/assessment_sleep_habits.dtd

<!ELEMENT assessment_sleep_habits (id,assessment_id,usual_bedtime,usual_wake_time,time_in_bed_hours,nap_frequency,nap_duration_minutes,sleep_environment_noise,sleep_environment_light,sleep_environment_temperature,screen_use_before_bed,screen_use_duration_minutes,bed_partner,bed_partner_sleep_issues,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT usual_bedtime (#PCDATA)>
<!ELEMENT usual_wake_time (#PCDATA)>
<!ELEMENT time_in_bed_hours (#PCDATA)>
<!ELEMENT nap_frequency (#PCDATA)>
<!ELEMENT nap_duration_minutes (#PCDATA)>
<!ELEMENT sleep_environment_noise (#PCDATA)>
<!ELEMENT sleep_environment_light (#PCDATA)>
<!ELEMENT sleep_environment_temperature (#PCDATA)>
<!ELEMENT screen_use_before_bed (#PCDATA)>
<!ELEMENT screen_use_duration_minutes (#PCDATA)>
<!ELEMENT bed_partner (#PCDATA)>
<!ELEMENT bed_partner_sleep_issues (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
