forms/sleep-quality-assessment/xml-representations/assessment_demographics.dtd

<!ELEMENT assessment_demographics (id,assessment_id,ethnicity,occupation,shift_worker,shift_pattern,referring_physician,referral_date,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT occupation (#PCDATA)>
<!ELEMENT shift_worker (#PCDATA)>
<!ELEMENT shift_pattern (#PCDATA)>
<!ELEMENT referring_physician (#PCDATA)>
<!ELEMENT referral_date (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
