forms/sleep-quality-assessment/xml-representations/assessment_sleep_disturbances.dtd

<!ELEMENT assessment_sleep_disturbances (id,assessment_id,wake_middle_of_night,bathroom_use,breathing_difficulty,cough_or_snore,feel_too_cold,feel_too_hot,bad_dreams,pain,other_disturbance,other_disturbance_description,restless_legs,sleep_talking,sleep_walking,teeth_grinding,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT wake_middle_of_night (#PCDATA)>
<!ELEMENT bathroom_use (#PCDATA)>
<!ELEMENT breathing_difficulty (#PCDATA)>
<!ELEMENT cough_or_snore (#PCDATA)>
<!ELEMENT feel_too_cold (#PCDATA)>
<!ELEMENT feel_too_hot (#PCDATA)>
<!ELEMENT bad_dreams (#PCDATA)>
<!ELEMENT pain (#PCDATA)>
<!ELEMENT other_disturbance (#PCDATA)>
<!ELEMENT other_disturbance_description (#PCDATA)>
<!ELEMENT restless_legs (#PCDATA)>
<!ELEMENT sleep_talking (#PCDATA)>
<!ELEMENT sleep_walking (#PCDATA)>
<!ELEMENT teeth_grinding (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
