forms/sleep-quality-assessment/xml-representations/patient.dtd

<!ELEMENT patient (id,first_name,last_name,date_of_birth,nhs_number,sex,weight_kg,height_cm,bmi,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT first_name (#PCDATA)>
<!ELEMENT last_name (#PCDATA)>
<!ELEMENT date_of_birth (#PCDATA)>
<!ELEMENT nhs_number (#PCDATA)>
<!ELEMENT sex (#PCDATA)>
<!ELEMENT weight_kg (#PCDATA)>
<!ELEMENT height_cm (#PCDATA)>
<!ELEMENT bmi (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
