forms/predicting-risk-of-cardiovascular-disease-events/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,blood_pressure,cholesterol_lipids,current_medications,demographics,medical_history,metabolic_health,renal_function,review_calculate,smoking_history)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT blood_pressure (id,assessment_id,systolic_bp,diastolic_bp,on_antihypertensive,number_of_bp_medications,bp_at_target,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT systolic_bp (#PCDATA)>
<!ELEMENT diastolic_bp (#PCDATA)>
<!ELEMENT on_antihypertensive (#PCDATA)>
<!ELEMENT number_of_bp_medications (#PCDATA)>
<!ELEMENT bp_at_target (#PCDATA)>
<!ELEMENT cholesterol_lipids (id,assessment_id,total_cholesterol,hdl_cholesterol,ldl_cholesterol,triglycerides,non_hdl_cholesterol,on_statin,statin_name,created_at,updated_at)>
<!ELEMENT total_cholesterol (#PCDATA)>
<!ELEMENT hdl_cholesterol (#PCDATA)>
<!ELEMENT ldl_cholesterol (#PCDATA)>
<!ELEMENT triglycerides (#PCDATA)>
<!ELEMENT non_hdl_cholesterol (#PCDATA)>
<!ELEMENT on_statin (#PCDATA)>
<!ELEMENT statin_name (#PCDATA)>
<!ELEMENT current_medications (id,assessment_id,on_antihypertensive_detail,on_statin_detail,on_aspirin,on_anticoagulant,on_diabetes_medication,other_medications,created_at,updated_at)>
<!ELEMENT on_antihypertensive_detail (#PCDATA)>
<!ELEMENT on_statin_detail (#PCDATA)>
<!ELEMENT on_aspirin (#PCDATA)>
<!ELEMENT on_anticoagulant (#PCDATA)>
<!ELEMENT on_diabetes_medication (#PCDATA)>
<!ELEMENT other_medications (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,age,sex,ethnicity,height_cm,weight_kg,zip_code,created_at,updated_at)>
<!ELEMENT age (#PCDATA)>
<!ELEMENT sex (#PCDATA)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT height_cm (#PCDATA)>
<!ELEMENT weight_kg (#PCDATA)>
<!ELEMENT zip_code (#PCDATA)>
<!ELEMENT medical_history (id,assessment_id,has_known_cvd,previous_mi,previous_stroke,heart_failure,peripheral_arterial_disease,atrial_fibrillation,family_cvd_history,family_cvd_details,created_at,updated_at)>
<!ELEMENT has_known_cvd (#PCDATA)>
<!ELEMENT previous_mi (#PCDATA)>
<!ELEMENT previous_stroke (#PCDATA)>
<!ELEMENT heart_failure (#PCDATA)>
<!ELEMENT peripheral_arterial_disease (#PCDATA)>
<!ELEMENT atrial_fibrillation (#PCDATA)>
<!ELEMENT family_cvd_history (#PCDATA)>
<!ELEMENT family_cvd_details (#PCDATA)>
<!ELEMENT metabolic_health (id,assessment_id,has_diabetes,diabetes_type,hba1c_value,hba1c_unit,fasting_glucose,bmi,waist_circumference_cm,created_at,updated_at)>
<!ELEMENT has_diabetes (#PCDATA)>
<!ELEMENT diabetes_type (#PCDATA)>
<!ELEMENT hba1c_value (#PCDATA)>
<!ELEMENT hba1c_unit (#PCDATA)>
<!ELEMENT fasting_glucose (#PCDATA)>
<!ELEMENT bmi (#PCDATA)>
<!ELEMENT waist_circumference_cm (#PCDATA)>
<!ELEMENT renal_function (id,assessment_id,egfr,creatinine,urine_acr,ckd_stage,created_at,updated_at)>
<!ELEMENT egfr (#PCDATA)>
<!ELEMENT creatinine (#PCDATA)>
<!ELEMENT urine_acr (#PCDATA)>
<!ELEMENT ckd_stage (#PCDATA)>
<!ELEMENT review_calculate (id,assessment_id,model_type,clinician_name,review_date,clinical_notes,created_at,updated_at)>
<!ELEMENT model_type (#PCDATA)>
<!ELEMENT clinician_name (#PCDATA)>
<!ELEMENT review_date (#PCDATA)>
<!ELEMENT clinical_notes (#PCDATA)>
<!ELEMENT smoking_history (id,assessment_id,smoking_status,cigarettes_per_day,years_smoked,years_since_quit,created_at,updated_at)>
<!ELEMENT smoking_status (#PCDATA)>
<!ELEMENT cigarettes_per_day (#PCDATA)>
<!ELEMENT years_smoked (#PCDATA)>
<!ELEMENT years_since_quit (#PCDATA)>
