forms/predicting-risk-of-cardiovascular-disease-events/xml-representations/assessment_cholesterol_lipids.dtd

<!ELEMENT assessment_cholesterol_lipids (id,assessment_id,total_cholesterol,hdl_cholesterol,ldl_cholesterol,triglycerides,non_hdl_cholesterol,on_statin,statin_name,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT total_cholesterol (#PCDATA)>
<!ELEMENT hdl_cholesterol (#PCDATA)>
<!ELEMENT ldl_cholesterol (#PCDATA)>
<!ELEMENT triglycerides (#PCDATA)>
<!ELEMENT non_hdl_cholesterol (#PCDATA)>
<!ELEMENT on_statin (#PCDATA)>
<!ELEMENT statin_name (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
