forms/predicting-risk-of-cardiovascular-disease-events/xml-representations/assessment_review_calculate.dtd

<!ELEMENT assessment_review_calculate (id,assessment_id,model_type,clinician_name,review_date,clinical_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT model_type (#PCDATA)>
<!ELEMENT clinician_name (#PCDATA)>
<!ELEMENT review_date (#PCDATA)>
<!ELEMENT clinical_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
