forms/predicting-risk-of-cardiovascular-disease-events/xml-representations/grading_result.dtd

<!ELEMENT grading_result (id,assessment_id,risk_category,ten_year_risk_percent,thirty_year_risk_percent,risk_category_override,override_reason,graded_at,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT risk_category (#PCDATA)>
<!ELEMENT ten_year_risk_percent (#PCDATA)>
<!ELEMENT thirty_year_risk_percent (#PCDATA)>
<!ELEMENT risk_category_override (#PCDATA)>
<!ELEMENT override_reason (#PCDATA)>
<!ELEMENT graded_at (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
