forms/pulmonology-assessment/xml-representations/assessment_allergies.dtd

<!ELEMENT assessment_allergies (id,assessment_id,has_drug_allergies,drug_allergy_details,has_environmental_allergies,environmental_allergy_details,atopic_history,eczema,allergic_rhinitis,food_allergies,food_allergy_details,aspirin_sensitivity,latex_allergy,allergy_testing_performed,allergy_test_results,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_drug_allergies (#PCDATA)>
<!ELEMENT drug_allergy_details (#PCDATA)>
<!ELEMENT has_environmental_allergies (#PCDATA)>
<!ELEMENT environmental_allergy_details (#PCDATA)>
<!ELEMENT atopic_history (#PCDATA)>
<!ELEMENT eczema (#PCDATA)>
<!ELEMENT allergic_rhinitis (#PCDATA)>
<!ELEMENT food_allergies (#PCDATA)>
<!ELEMENT food_allergy_details (#PCDATA)>
<!ELEMENT aspirin_sensitivity (#PCDATA)>
<!ELEMENT latex_allergy (#PCDATA)>
<!ELEMENT allergy_testing_performed (#PCDATA)>
<!ELEMENT allergy_test_results (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
