forms/pulmonology-assessment/xml-representations/assessment_exacerbation_history.dtd

<!ELEMENT assessment_exacerbation_history (id,assessment_id,exacerbations_past_year,hospitalisations_past_year,icu_admissions_past_year,intubation_history,niv_history,oral_steroid_courses_past_year,antibiotic_courses_past_year,last_exacerbation_date,last_exacerbation_trigger,seasonal_pattern,seasonal_details,pneumonia_history,pneumonia_count,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT exacerbations_past_year (#PCDATA)>
<!ELEMENT hospitalisations_past_year (#PCDATA)>
<!ELEMENT icu_admissions_past_year (#PCDATA)>
<!ELEMENT intubation_history (#PCDATA)>
<!ELEMENT niv_history (#PCDATA)>
<!ELEMENT oral_steroid_courses_past_year (#PCDATA)>
<!ELEMENT antibiotic_courses_past_year (#PCDATA)>
<!ELEMENT last_exacerbation_date (#PCDATA)>
<!ELEMENT last_exacerbation_trigger (#PCDATA)>
<!ELEMENT seasonal_pattern (#PCDATA)>
<!ELEMENT seasonal_details (#PCDATA)>
<!ELEMENT pneumonia_history (#PCDATA)>
<!ELEMENT pneumonia_count (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
