forms/pulmonology-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,allergies,assessment_chief_complaint,comorbidities,current_medications,exacerbation_history,functional_status,medication_item,smoking_exposures,spirometry,symptom_assessment)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT allergies (id,assessment_id,has_drug_allergies,drug_allergy_details,has_environmental_allergies,environmental_allergy_details,atopic_history,eczema,allergic_rhinitis,food_allergies,food_allergy_details,aspirin_sensitivity,latex_allergy,allergy_testing_performed,allergy_test_results,additional_notes,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_drug_allergies (#PCDATA)>
<!ELEMENT drug_allergy_details (#PCDATA)>
<!ELEMENT has_environmental_allergies (#PCDATA)>
<!ELEMENT environmental_allergy_details (#PCDATA)>
<!ELEMENT atopic_history (#PCDATA)>
<!ELEMENT eczema (#PCDATA)>
<!ELEMENT allergic_rhinitis (#PCDATA)>
<!ELEMENT food_allergies (#PCDATA)>
<!ELEMENT food_allergy_details (#PCDATA)>
<!ELEMENT aspirin_sensitivity (#PCDATA)>
<!ELEMENT latex_allergy (#PCDATA)>
<!ELEMENT allergy_testing_performed (#PCDATA)>
<!ELEMENT allergy_test_results (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT assessment_chief_complaint (id,assessment_id,chief_complaint,onset,duration,severity,dyspnoea,dyspnoea_onset,cough,cough_type,sputum_production,sputum_colour,wheeze,chest_pain,chest_pain_character,weight_loss,night_sweats,additional_notes,created_at,updated_at)>
<!ELEMENT chief_complaint (#PCDATA)>
<!ELEMENT onset (#PCDATA)>
<!ELEMENT duration (#PCDATA)>
<!ELEMENT severity (#PCDATA)>
<!ELEMENT dyspnoea (#PCDATA)>
<!ELEMENT dyspnoea_onset (#PCDATA)>
<!ELEMENT cough (#PCDATA)>
<!ELEMENT cough_type (#PCDATA)>
<!ELEMENT sputum_production (#PCDATA)>
<!ELEMENT sputum_colour (#PCDATA)>
<!ELEMENT wheeze (#PCDATA)>
<!ELEMENT chest_pain (#PCDATA)>
<!ELEMENT chest_pain_character (#PCDATA)>
<!ELEMENT weight_loss (#PCDATA)>
<!ELEMENT night_sweats (#PCDATA)>
<!ELEMENT comorbidities (id,assessment_id,cardiovascular_disease,cardiovascular_details,hypertension,diabetes,diabetes_type,osteoporosis,anxiety_depression,gastro_oesophageal_reflux,obstructive_sleep_apnoea,lung_cancer,pulmonary_hypertension,bronchiectasis,interstitial_lung_disease,renal_impairment,anaemia,additional_notes,created_at,updated_at)>
<!ELEMENT cardiovascular_disease (#PCDATA)>
<!ELEMENT cardiovascular_details (#PCDATA)>
<!ELEMENT hypertension (#PCDATA)>
<!ELEMENT diabetes (#PCDATA)>
<!ELEMENT diabetes_type (#PCDATA)>
<!ELEMENT osteoporosis (#PCDATA)>
<!ELEMENT anxiety_depression (#PCDATA)>
<!ELEMENT gastro_oesophageal_reflux (#PCDATA)>
<!ELEMENT obstructive_sleep_apnoea (#PCDATA)>
<!ELEMENT lung_cancer (#PCDATA)>
<!ELEMENT pulmonary_hypertension (#PCDATA)>
<!ELEMENT bronchiectasis (#PCDATA)>
<!ELEMENT interstitial_lung_disease (#PCDATA)>
<!ELEMENT renal_impairment (#PCDATA)>
<!ELEMENT anaemia (#PCDATA)>
<!ELEMENT current_medications (id,assessment_id,inhaler_use,inhaler_technique_assessed,inhaler_technique_adequate,short_acting_bronchodilator,saba_frequency,long_acting_bronchodilator,inhaled_corticosteroid,combination_inhaler,long_term_oxygen_therapy,oxygen_flow_rate_lmin,oxygen_hours_per_day,nebuliser_use,oral_medications,medication_adherence,additional_notes,created_at,updated_at)>
<!ELEMENT inhaler_use (#PCDATA)>
<!ELEMENT inhaler_technique_assessed (#PCDATA)>
<!ELEMENT inhaler_technique_adequate (#PCDATA)>
<!ELEMENT short_acting_bronchodilator (#PCDATA)>
<!ELEMENT saba_frequency (#PCDATA)>
<!ELEMENT long_acting_bronchodilator (#PCDATA)>
<!ELEMENT inhaled_corticosteroid (#PCDATA)>
<!ELEMENT combination_inhaler (#PCDATA)>
<!ELEMENT long_term_oxygen_therapy (#PCDATA)>
<!ELEMENT oxygen_flow_rate_lmin (#PCDATA)>
<!ELEMENT oxygen_hours_per_day (#PCDATA)>
<!ELEMENT nebuliser_use (#PCDATA)>
<!ELEMENT oral_medications (#PCDATA)>
<!ELEMENT medication_adherence (#PCDATA)>
<!ELEMENT exacerbation_history (id,assessment_id,exacerbations_past_year,hospitalisations_past_year,icu_admissions_past_year,intubation_history,niv_history,oral_steroid_courses_past_year,antibiotic_courses_past_year,last_exacerbation_date,last_exacerbation_trigger,seasonal_pattern,seasonal_details,pneumonia_history,pneumonia_count,additional_notes,created_at,updated_at)>
<!ELEMENT exacerbations_past_year (#PCDATA)>
<!ELEMENT hospitalisations_past_year (#PCDATA)>
<!ELEMENT icu_admissions_past_year (#PCDATA)>
<!ELEMENT intubation_history (#PCDATA)>
<!ELEMENT niv_history (#PCDATA)>
<!ELEMENT oral_steroid_courses_past_year (#PCDATA)>
<!ELEMENT antibiotic_courses_past_year (#PCDATA)>
<!ELEMENT last_exacerbation_date (#PCDATA)>
<!ELEMENT last_exacerbation_trigger (#PCDATA)>
<!ELEMENT seasonal_pattern (#PCDATA)>
<!ELEMENT seasonal_details (#PCDATA)>
<!ELEMENT pneumonia_history (#PCDATA)>
<!ELEMENT pneumonia_count (#PCDATA)>
<!ELEMENT functional_status (id,assessment_id,adl_independence,mobility_level,aids_used,pulmonary_rehabilitation,rehab_benefit,home_oxygen_assessment,ambulatory_oxygen,driving_status,employment_impact,social_isolation,carer_support,advance_care_planning,advance_care_details,additional_notes,created_at,updated_at)>
<!ELEMENT adl_independence (#PCDATA)>
<!ELEMENT mobility_level (#PCDATA)>
<!ELEMENT aids_used (#PCDATA)>
<!ELEMENT pulmonary_rehabilitation (#PCDATA)>
<!ELEMENT rehab_benefit (#PCDATA)>
<!ELEMENT home_oxygen_assessment (#PCDATA)>
<!ELEMENT ambulatory_oxygen (#PCDATA)>
<!ELEMENT driving_status (#PCDATA)>
<!ELEMENT employment_impact (#PCDATA)>
<!ELEMENT social_isolation (#PCDATA)>
<!ELEMENT carer_support (#PCDATA)>
<!ELEMENT advance_care_planning (#PCDATA)>
<!ELEMENT advance_care_details (#PCDATA)>
<!ELEMENT medication_item (id,current_medications_id,medication_name,dose,frequency,route,indication,sort_order,created_at,updated_at)>
<!ELEMENT current_medications_id (#PCDATA)>
<!ELEMENT medication_name (#PCDATA)>
<!ELEMENT dose (#PCDATA)>
<!ELEMENT frequency (#PCDATA)>
<!ELEMENT route (#PCDATA)>
<!ELEMENT indication (#PCDATA)>
<!ELEMENT sort_order (#PCDATA)>
<!ELEMENT smoking_exposures (id,assessment_id,smoking_status,pack_years,cigarettes_per_day,age_started_smoking,age_stopped_smoking,vaping,vaping_details,cannabis_smoking,passive_smoke_exposure,occupational_exposures,occupational_exposure_details,asbestos_exposure,silica_exposure,coal_dust_exposure,biomass_fuel_exposure,chemical_exposure,chemical_details,smoking_cessation_advice,cessation_support_offered,additional_notes,created_at,updated_at)>
<!ELEMENT smoking_status (#PCDATA)>
<!ELEMENT pack_years (#PCDATA)>
<!ELEMENT cigarettes_per_day (#PCDATA)>
<!ELEMENT age_started_smoking (#PCDATA)>
<!ELEMENT age_stopped_smoking (#PCDATA)>
<!ELEMENT vaping (#PCDATA)>
<!ELEMENT vaping_details (#PCDATA)>
<!ELEMENT cannabis_smoking (#PCDATA)>
<!ELEMENT passive_smoke_exposure (#PCDATA)>
<!ELEMENT occupational_exposures (#PCDATA)>
<!ELEMENT occupational_exposure_details (#PCDATA)>
<!ELEMENT asbestos_exposure (#PCDATA)>
<!ELEMENT silica_exposure (#PCDATA)>
<!ELEMENT coal_dust_exposure (#PCDATA)>
<!ELEMENT biomass_fuel_exposure (#PCDATA)>
<!ELEMENT chemical_exposure (#PCDATA)>
<!ELEMENT chemical_details (#PCDATA)>
<!ELEMENT smoking_cessation_advice (#PCDATA)>
<!ELEMENT cessation_support_offered (#PCDATA)>
<!ELEMENT spirometry (id,assessment_id,spirometry_performed,test_date,fev1_litres,fev1_predicted_pct,fvc_litres,fvc_predicted_pct,fev1_fvc_ratio,post_bronchodilator_fev1,post_bronchodilator_fev1_pct,bronchodilator_reversibility,reversibility_pct,peak_flow_lmin,dlco_pct,test_quality,additional_notes,created_at,updated_at)>
<!ELEMENT spirometry_performed (#PCDATA)>
<!ELEMENT test_date (#PCDATA)>
<!ELEMENT fev1_litres (#PCDATA)>
<!ELEMENT fev1_predicted_pct (#PCDATA)>
<!ELEMENT fvc_litres (#PCDATA)>
<!ELEMENT fvc_predicted_pct (#PCDATA)>
<!ELEMENT fev1_fvc_ratio (#PCDATA)>
<!ELEMENT post_bronchodilator_fev1 (#PCDATA)>
<!ELEMENT post_bronchodilator_fev1_pct (#PCDATA)>
<!ELEMENT bronchodilator_reversibility (#PCDATA)>
<!ELEMENT reversibility_pct (#PCDATA)>
<!ELEMENT peak_flow_lmin (#PCDATA)>
<!ELEMENT dlco_pct (#PCDATA)>
<!ELEMENT test_quality (#PCDATA)>
<!ELEMENT symptom_assessment (id,assessment_id,mrc_dyspnoea_grade,cat_score,cough_severity,sputum_volume,wheeze_frequency,chest_tightness,exercise_tolerance,walking_distance_metres,six_minute_walk_distance,oxygen_saturation_rest,oxygen_saturation_exercise,sleep_disturbance,sleep_details,additional_notes,created_at,updated_at)>
<!ELEMENT mrc_dyspnoea_grade (#PCDATA)>
<!ELEMENT cat_score (#PCDATA)>
<!ELEMENT cough_severity (#PCDATA)>
<!ELEMENT sputum_volume (#PCDATA)>
<!ELEMENT wheeze_frequency (#PCDATA)>
<!ELEMENT chest_tightness (#PCDATA)>
<!ELEMENT exercise_tolerance (#PCDATA)>
<!ELEMENT walking_distance_metres (#PCDATA)>
<!ELEMENT six_minute_walk_distance (#PCDATA)>
<!ELEMENT oxygen_saturation_rest (#PCDATA)>
<!ELEMENT oxygen_saturation_exercise (#PCDATA)>
<!ELEMENT sleep_disturbance (#PCDATA)>
<!ELEMENT sleep_details (#PCDATA)>
