forms/pulmonology-assessment/xml-representations/assessment_comorbidities.dtd

<!ELEMENT assessment_comorbidities (id,assessment_id,cardiovascular_disease,cardiovascular_details,hypertension,diabetes,diabetes_type,osteoporosis,anxiety_depression,gastro_oesophageal_reflux,obstructive_sleep_apnoea,lung_cancer,pulmonary_hypertension,bronchiectasis,interstitial_lung_disease,renal_impairment,anaemia,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT cardiovascular_disease (#PCDATA)>
<!ELEMENT cardiovascular_details (#PCDATA)>
<!ELEMENT hypertension (#PCDATA)>
<!ELEMENT diabetes (#PCDATA)>
<!ELEMENT diabetes_type (#PCDATA)>
<!ELEMENT osteoporosis (#PCDATA)>
<!ELEMENT anxiety_depression (#PCDATA)>
<!ELEMENT gastro_oesophageal_reflux (#PCDATA)>
<!ELEMENT obstructive_sleep_apnoea (#PCDATA)>
<!ELEMENT lung_cancer (#PCDATA)>
<!ELEMENT pulmonary_hypertension (#PCDATA)>
<!ELEMENT bronchiectasis (#PCDATA)>
<!ELEMENT interstitial_lung_disease (#PCDATA)>
<!ELEMENT renal_impairment (#PCDATA)>
<!ELEMENT anaemia (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
