forms/pulmonology-assessment/xml-representations/assessment_spirometry.dtd

<!ELEMENT assessment_spirometry (id,assessment_id,spirometry_performed,test_date,fev1_litres,fev1_predicted_pct,fvc_litres,fvc_predicted_pct,fev1_fvc_ratio,post_bronchodilator_fev1,post_bronchodilator_fev1_pct,bronchodilator_reversibility,reversibility_pct,peak_flow_lmin,dlco_pct,test_quality,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT spirometry_performed (#PCDATA)>
<!ELEMENT test_date (#PCDATA)>
<!ELEMENT fev1_litres (#PCDATA)>
<!ELEMENT fev1_predicted_pct (#PCDATA)>
<!ELEMENT fvc_litres (#PCDATA)>
<!ELEMENT fvc_predicted_pct (#PCDATA)>
<!ELEMENT fev1_fvc_ratio (#PCDATA)>
<!ELEMENT post_bronchodilator_fev1 (#PCDATA)>
<!ELEMENT post_bronchodilator_fev1_pct (#PCDATA)>
<!ELEMENT bronchodilator_reversibility (#PCDATA)>
<!ELEMENT reversibility_pct (#PCDATA)>
<!ELEMENT peak_flow_lmin (#PCDATA)>
<!ELEMENT dlco_pct (#PCDATA)>
<!ELEMENT test_quality (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
