forms/pulmonology-assessment/xml-representations/assessment_functional_status.dtd

<!ELEMENT assessment_functional_status (id,assessment_id,adl_independence,mobility_level,aids_used,pulmonary_rehabilitation,rehab_benefit,home_oxygen_assessment,ambulatory_oxygen,driving_status,employment_impact,social_isolation,carer_support,advance_care_planning,advance_care_details,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT adl_independence (#PCDATA)>
<!ELEMENT mobility_level (#PCDATA)>
<!ELEMENT aids_used (#PCDATA)>
<!ELEMENT pulmonary_rehabilitation (#PCDATA)>
<!ELEMENT rehab_benefit (#PCDATA)>
<!ELEMENT home_oxygen_assessment (#PCDATA)>
<!ELEMENT ambulatory_oxygen (#PCDATA)>
<!ELEMENT driving_status (#PCDATA)>
<!ELEMENT employment_impact (#PCDATA)>
<!ELEMENT social_isolation (#PCDATA)>
<!ELEMENT carer_support (#PCDATA)>
<!ELEMENT advance_care_planning (#PCDATA)>
<!ELEMENT advance_care_details (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
