forms/pulmonology-assessment/xml-representations/assessment_smoking_exposures.dtd

<!ELEMENT assessment_smoking_exposures (id,assessment_id,smoking_status,pack_years,cigarettes_per_day,age_started_smoking,age_stopped_smoking,vaping,vaping_details,cannabis_smoking,passive_smoke_exposure,occupational_exposures,occupational_exposure_details,asbestos_exposure,silica_exposure,coal_dust_exposure,biomass_fuel_exposure,chemical_exposure,chemical_details,smoking_cessation_advice,cessation_support_offered,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT smoking_status (#PCDATA)>
<!ELEMENT pack_years (#PCDATA)>
<!ELEMENT cigarettes_per_day (#PCDATA)>
<!ELEMENT age_started_smoking (#PCDATA)>
<!ELEMENT age_stopped_smoking (#PCDATA)>
<!ELEMENT vaping (#PCDATA)>
<!ELEMENT vaping_details (#PCDATA)>
<!ELEMENT cannabis_smoking (#PCDATA)>
<!ELEMENT passive_smoke_exposure (#PCDATA)>
<!ELEMENT occupational_exposures (#PCDATA)>
<!ELEMENT occupational_exposure_details (#PCDATA)>
<!ELEMENT asbestos_exposure (#PCDATA)>
<!ELEMENT silica_exposure (#PCDATA)>
<!ELEMENT coal_dust_exposure (#PCDATA)>
<!ELEMENT biomass_fuel_exposure (#PCDATA)>
<!ELEMENT chemical_exposure (#PCDATA)>
<!ELEMENT chemical_details (#PCDATA)>
<!ELEMENT smoking_cessation_advice (#PCDATA)>
<!ELEMENT cessation_support_offered (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
