forms/pulmonology-assessment/xml-representations/assessment_chief_complaint.dtd

<!ELEMENT assessment_chief_complaint (id,assessment_id,chief_complaint,onset,duration,severity,dyspnoea,dyspnoea_onset,cough,cough_type,sputum_production,sputum_colour,wheeze,chest_pain,chest_pain_character,weight_loss,night_sweats,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT chief_complaint (#PCDATA)>
<!ELEMENT onset (#PCDATA)>
<!ELEMENT duration (#PCDATA)>
<!ELEMENT severity (#PCDATA)>
<!ELEMENT dyspnoea (#PCDATA)>
<!ELEMENT dyspnoea_onset (#PCDATA)>
<!ELEMENT cough (#PCDATA)>
<!ELEMENT cough_type (#PCDATA)>
<!ELEMENT sputum_production (#PCDATA)>
<!ELEMENT sputum_colour (#PCDATA)>
<!ELEMENT wheeze (#PCDATA)>
<!ELEMENT chest_pain (#PCDATA)>
<!ELEMENT chest_pain_character (#PCDATA)>
<!ELEMENT weight_loss (#PCDATA)>
<!ELEMENT night_sweats (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
