forms/pulmonology-assessment/xml-representations/assessment_symptom_assessment.dtd

<!ELEMENT assessment_symptom_assessment (id,assessment_id,mrc_dyspnoea_grade,cat_score,cough_severity,sputum_volume,wheeze_frequency,chest_tightness,exercise_tolerance,walking_distance_metres,six_minute_walk_distance,oxygen_saturation_rest,oxygen_saturation_exercise,sleep_disturbance,sleep_details,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT mrc_dyspnoea_grade (#PCDATA)>
<!ELEMENT cat_score (#PCDATA)>
<!ELEMENT cough_severity (#PCDATA)>
<!ELEMENT sputum_volume (#PCDATA)>
<!ELEMENT wheeze_frequency (#PCDATA)>
<!ELEMENT chest_tightness (#PCDATA)>
<!ELEMENT exercise_tolerance (#PCDATA)>
<!ELEMENT walking_distance_metres (#PCDATA)>
<!ELEMENT six_minute_walk_distance (#PCDATA)>
<!ELEMENT oxygen_saturation_rest (#PCDATA)>
<!ELEMENT oxygen_saturation_exercise (#PCDATA)>
<!ELEMENT sleep_disturbance (#PCDATA)>
<!ELEMENT sleep_details (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
