forms/pulmonology-assessment/xml-representations/assessment_current_medications.dtd

<!ELEMENT assessment_current_medications (id,assessment_id,inhaler_use,inhaler_technique_assessed,inhaler_technique_adequate,short_acting_bronchodilator,saba_frequency,long_acting_bronchodilator,inhaled_corticosteroid,combination_inhaler,long_term_oxygen_therapy,oxygen_flow_rate_lmin,oxygen_hours_per_day,nebuliser_use,oral_medications,medication_adherence,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT inhaler_use (#PCDATA)>
<!ELEMENT inhaler_technique_assessed (#PCDATA)>
<!ELEMENT inhaler_technique_adequate (#PCDATA)>
<!ELEMENT short_acting_bronchodilator (#PCDATA)>
<!ELEMENT saba_frequency (#PCDATA)>
<!ELEMENT long_acting_bronchodilator (#PCDATA)>
<!ELEMENT inhaled_corticosteroid (#PCDATA)>
<!ELEMENT combination_inhaler (#PCDATA)>
<!ELEMENT long_term_oxygen_therapy (#PCDATA)>
<!ELEMENT oxygen_flow_rate_lmin (#PCDATA)>
<!ELEMENT oxygen_hours_per_day (#PCDATA)>
<!ELEMENT nebuliser_use (#PCDATA)>
<!ELEMENT oral_medications (#PCDATA)>
<!ELEMENT medication_adherence (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
