forms/occupational-therapy-assessment/xml-representations/assessment_referral_information.dtd

<!ELEMENT assessment_referral_information (id,assessment_id,referral_source,referral_source_details,referring_clinician_name,referring_clinician_role,referral_date,referral_reason,primary_diagnosis,secondary_diagnoses,precautions,previous_ot_involvement,previous_ot_details,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT referral_source (#PCDATA)>
<!ELEMENT referral_source_details (#PCDATA)>
<!ELEMENT referring_clinician_name (#PCDATA)>
<!ELEMENT referring_clinician_role (#PCDATA)>
<!ELEMENT referral_date (#PCDATA)>
<!ELEMENT referral_reason (#PCDATA)>
<!ELEMENT primary_diagnosis (#PCDATA)>
<!ELEMENT secondary_diagnoses (#PCDATA)>
<!ELEMENT precautions (#PCDATA)>
<!ELEMENT previous_ot_involvement (#PCDATA)>
<!ELEMENT previous_ot_details (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
