forms/occupational-therapy-assessment/xml-representations/assessment_goals_priorities.dtd

<!ELEMENT assessment_goals_priorities (id,assessment_id,patient_identified_priorities,short_term_goals,long_term_goals,expected_outcomes,intervention_plan,estimated_treatment_duration,treatment_frequency,discharge_criteria,patient_agreement,carer_involvement,carer_involvement_details,onward_referrals,goals_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT patient_identified_priorities (#PCDATA)>
<!ELEMENT short_term_goals (#PCDATA)>
<!ELEMENT long_term_goals (#PCDATA)>
<!ELEMENT expected_outcomes (#PCDATA)>
<!ELEMENT intervention_plan (#PCDATA)>
<!ELEMENT estimated_treatment_duration (#PCDATA)>
<!ELEMENT treatment_frequency (#PCDATA)>
<!ELEMENT discharge_criteria (#PCDATA)>
<!ELEMENT patient_agreement (#PCDATA)>
<!ELEMENT carer_involvement (#PCDATA)>
<!ELEMENT carer_involvement_details (#PCDATA)>
<!ELEMENT onward_referrals (#PCDATA)>
<!ELEMENT goals_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
