forms/occupational-therapy-assessment/xml-representations/assessment_environmental_factors.dtd

<!ELEMENT assessment_environmental_factors (id,assessment_id,home_type,home_type_details,number_of_floors,stairs_access,stair_rail_present,bathroom_accessibility,kitchen_accessibility,bedroom_location,home_modifications_in_place,home_modifications_recommended,transport_access,community_resources,social_support_network,environmental_barriers,environmental_facilitators,environmental_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT home_type (#PCDATA)>
<!ELEMENT home_type_details (#PCDATA)>
<!ELEMENT number_of_floors (#PCDATA)>
<!ELEMENT stairs_access (#PCDATA)>
<!ELEMENT stair_rail_present (#PCDATA)>
<!ELEMENT bathroom_accessibility (#PCDATA)>
<!ELEMENT kitchen_accessibility (#PCDATA)>
<!ELEMENT bedroom_location (#PCDATA)>
<!ELEMENT home_modifications_in_place (#PCDATA)>
<!ELEMENT home_modifications_recommended (#PCDATA)>
<!ELEMENT transport_access (#PCDATA)>
<!ELEMENT community_resources (#PCDATA)>
<!ELEMENT social_support_network (#PCDATA)>
<!ELEMENT environmental_barriers (#PCDATA)>
<!ELEMENT environmental_facilitators (#PCDATA)>
<!ELEMENT environmental_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
