forms/occupational-therapy-assessment/xml-representations/assessment_physical_cognitive_status.dtd

<!ELEMENT assessment_physical_cognitive_status (id,assessment_id,upper_limb_function,lower_limb_function,grip_strength_left_kg,grip_strength_right_kg,pinch_strength_left_kg,pinch_strength_right_kg,balance_sitting,balance_standing,endurance_level,pain_level,pain_location,sensation,cognition_orientation,cognition_memory,cognition_attention,cognition_executive_function,cognition_perception,vision,hearing,physical_cognitive_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT upper_limb_function (#PCDATA)>
<!ELEMENT lower_limb_function (#PCDATA)>
<!ELEMENT grip_strength_left_kg (#PCDATA)>
<!ELEMENT grip_strength_right_kg (#PCDATA)>
<!ELEMENT pinch_strength_left_kg (#PCDATA)>
<!ELEMENT pinch_strength_right_kg (#PCDATA)>
<!ELEMENT balance_sitting (#PCDATA)>
<!ELEMENT balance_standing (#PCDATA)>
<!ELEMENT endurance_level (#PCDATA)>
<!ELEMENT pain_level (#PCDATA)>
<!ELEMENT pain_location (#PCDATA)>
<!ELEMENT sensation (#PCDATA)>
<!ELEMENT cognition_orientation (#PCDATA)>
<!ELEMENT cognition_memory (#PCDATA)>
<!ELEMENT cognition_attention (#PCDATA)>
<!ELEMENT cognition_executive_function (#PCDATA)>
<!ELEMENT cognition_perception (#PCDATA)>
<!ELEMENT vision (#PCDATA)>
<!ELEMENT hearing (#PCDATA)>
<!ELEMENT physical_cognitive_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
