forms/occupational-therapy-assessment/xml-representations/assessment_satisfaction_ratings.dtd

<!ELEMENT assessment_satisfaction_ratings (id,assessment_id,overall_satisfaction_score,self_care_satisfaction_score,productivity_satisfaction_score,leisure_satisfaction_score,satisfaction_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT overall_satisfaction_score (#PCDATA)>
<!ELEMENT self_care_satisfaction_score (#PCDATA)>
<!ELEMENT productivity_satisfaction_score (#PCDATA)>
<!ELEMENT leisure_satisfaction_score (#PCDATA)>
<!ELEMENT satisfaction_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
