forms/occupational-therapy-assessment/xml-representations/assessment_productivity_activities.dtd

<!ELEMENT assessment_productivity_activities (id,assessment_id,employment_status,work_duties_description,work_limitations,household_management,meal_preparation,financial_management,community_access,driving_status,childcare_responsibilities,childcare_details,productivity_concerns,productivity_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT employment_status (#PCDATA)>
<!ELEMENT work_duties_description (#PCDATA)>
<!ELEMENT work_limitations (#PCDATA)>
<!ELEMENT household_management (#PCDATA)>
<!ELEMENT meal_preparation (#PCDATA)>
<!ELEMENT financial_management (#PCDATA)>
<!ELEMENT community_access (#PCDATA)>
<!ELEMENT driving_status (#PCDATA)>
<!ELEMENT childcare_responsibilities (#PCDATA)>
<!ELEMENT childcare_details (#PCDATA)>
<!ELEMENT productivity_concerns (#PCDATA)>
<!ELEMENT productivity_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
