forms/occupational-therapy-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,demographics,environmental_factors,goals_priorities,leisure_activities,performance_rating_item,performance_ratings,physical_cognitive_status,productivity_activities,referral_information,satisfaction_rating_item,satisfaction_ratings,self_care_activities)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,first_name,last_name,date_of_birth,sex,phone,email,address,occupation,employer,living_situation,primary_hand,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT first_name (#PCDATA)>
<!ELEMENT last_name (#PCDATA)>
<!ELEMENT date_of_birth (#PCDATA)>
<!ELEMENT sex (#PCDATA)>
<!ELEMENT phone (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT address (#PCDATA)>
<!ELEMENT occupation (#PCDATA)>
<!ELEMENT employer (#PCDATA)>
<!ELEMENT living_situation (#PCDATA)>
<!ELEMENT primary_hand (#PCDATA)>
<!ELEMENT environmental_factors (id,assessment_id,home_type,home_type_details,number_of_floors,stairs_access,stair_rail_present,bathroom_accessibility,kitchen_accessibility,bedroom_location,home_modifications_in_place,home_modifications_recommended,transport_access,community_resources,social_support_network,environmental_barriers,environmental_facilitators,environmental_notes,created_at,updated_at)>
<!ELEMENT home_type (#PCDATA)>
<!ELEMENT home_type_details (#PCDATA)>
<!ELEMENT number_of_floors (#PCDATA)>
<!ELEMENT stairs_access (#PCDATA)>
<!ELEMENT stair_rail_present (#PCDATA)>
<!ELEMENT bathroom_accessibility (#PCDATA)>
<!ELEMENT kitchen_accessibility (#PCDATA)>
<!ELEMENT bedroom_location (#PCDATA)>
<!ELEMENT home_modifications_in_place (#PCDATA)>
<!ELEMENT home_modifications_recommended (#PCDATA)>
<!ELEMENT transport_access (#PCDATA)>
<!ELEMENT community_resources (#PCDATA)>
<!ELEMENT social_support_network (#PCDATA)>
<!ELEMENT environmental_barriers (#PCDATA)>
<!ELEMENT environmental_facilitators (#PCDATA)>
<!ELEMENT environmental_notes (#PCDATA)>
<!ELEMENT goals_priorities (id,assessment_id,patient_identified_priorities,short_term_goals,long_term_goals,expected_outcomes,intervention_plan,estimated_treatment_duration,treatment_frequency,discharge_criteria,patient_agreement,carer_involvement,carer_involvement_details,onward_referrals,goals_notes,created_at,updated_at)>
<!ELEMENT patient_identified_priorities (#PCDATA)>
<!ELEMENT short_term_goals (#PCDATA)>
<!ELEMENT long_term_goals (#PCDATA)>
<!ELEMENT expected_outcomes (#PCDATA)>
<!ELEMENT intervention_plan (#PCDATA)>
<!ELEMENT estimated_treatment_duration (#PCDATA)>
<!ELEMENT treatment_frequency (#PCDATA)>
<!ELEMENT discharge_criteria (#PCDATA)>
<!ELEMENT patient_agreement (#PCDATA)>
<!ELEMENT carer_involvement (#PCDATA)>
<!ELEMENT carer_involvement_details (#PCDATA)>
<!ELEMENT onward_referrals (#PCDATA)>
<!ELEMENT goals_notes (#PCDATA)>
<!ELEMENT leisure_activities (id,assessment_id,quiet_recreation,active_recreation,socialisation,hobbies_and_interests,leisure_participation_level,barriers_to_leisure,previous_leisure_activities,activities_given_up,leisure_satisfaction,leisure_concerns,leisure_notes,created_at,updated_at)>
<!ELEMENT quiet_recreation (#PCDATA)>
<!ELEMENT active_recreation (#PCDATA)>
<!ELEMENT socialisation (#PCDATA)>
<!ELEMENT hobbies_and_interests (#PCDATA)>
<!ELEMENT leisure_participation_level (#PCDATA)>
<!ELEMENT barriers_to_leisure (#PCDATA)>
<!ELEMENT previous_leisure_activities (#PCDATA)>
<!ELEMENT activities_given_up (#PCDATA)>
<!ELEMENT leisure_satisfaction (#PCDATA)>
<!ELEMENT leisure_concerns (#PCDATA)>
<!ELEMENT leisure_notes (#PCDATA)>
<!ELEMENT performance_rating_item (id,performance_ratings_id,occupational_issue,domain,importance_score,performance_score,sort_order,created_at,updated_at)>
<!ELEMENT performance_ratings_id (#PCDATA)>
<!ELEMENT occupational_issue (#PCDATA)>
<!ELEMENT domain (#PCDATA)>
<!ELEMENT importance_score (#PCDATA)>
<!ELEMENT performance_score (#PCDATA)>
<!ELEMENT sort_order (#PCDATA)>
<!ELEMENT performance_ratings (id,assessment_id,overall_performance_score,self_care_performance_score,productivity_performance_score,leisure_performance_score,performance_notes,created_at,updated_at)>
<!ELEMENT overall_performance_score (#PCDATA)>
<!ELEMENT self_care_performance_score (#PCDATA)>
<!ELEMENT productivity_performance_score (#PCDATA)>
<!ELEMENT leisure_performance_score (#PCDATA)>
<!ELEMENT performance_notes (#PCDATA)>
<!ELEMENT physical_cognitive_status (id,assessment_id,upper_limb_function,lower_limb_function,grip_strength_left_kg,grip_strength_right_kg,pinch_strength_left_kg,pinch_strength_right_kg,balance_sitting,balance_standing,endurance_level,pain_level,pain_location,sensation,cognition_orientation,cognition_memory,cognition_attention,cognition_executive_function,cognition_perception,vision,hearing,physical_cognitive_notes,created_at,updated_at)>
<!ELEMENT upper_limb_function (#PCDATA)>
<!ELEMENT lower_limb_function (#PCDATA)>
<!ELEMENT grip_strength_left_kg (#PCDATA)>
<!ELEMENT grip_strength_right_kg (#PCDATA)>
<!ELEMENT pinch_strength_left_kg (#PCDATA)>
<!ELEMENT pinch_strength_right_kg (#PCDATA)>
<!ELEMENT balance_sitting (#PCDATA)>
<!ELEMENT balance_standing (#PCDATA)>
<!ELEMENT endurance_level (#PCDATA)>
<!ELEMENT pain_level (#PCDATA)>
<!ELEMENT pain_location (#PCDATA)>
<!ELEMENT sensation (#PCDATA)>
<!ELEMENT cognition_orientation (#PCDATA)>
<!ELEMENT cognition_memory (#PCDATA)>
<!ELEMENT cognition_attention (#PCDATA)>
<!ELEMENT cognition_executive_function (#PCDATA)>
<!ELEMENT cognition_perception (#PCDATA)>
<!ELEMENT vision (#PCDATA)>
<!ELEMENT hearing (#PCDATA)>
<!ELEMENT physical_cognitive_notes (#PCDATA)>
<!ELEMENT productivity_activities (id,assessment_id,employment_status,work_duties_description,work_limitations,household_management,meal_preparation,financial_management,community_access,driving_status,childcare_responsibilities,childcare_details,productivity_concerns,productivity_notes,created_at,updated_at)>
<!ELEMENT employment_status (#PCDATA)>
<!ELEMENT work_duties_description (#PCDATA)>
<!ELEMENT work_limitations (#PCDATA)>
<!ELEMENT household_management (#PCDATA)>
<!ELEMENT meal_preparation (#PCDATA)>
<!ELEMENT financial_management (#PCDATA)>
<!ELEMENT community_access (#PCDATA)>
<!ELEMENT driving_status (#PCDATA)>
<!ELEMENT childcare_responsibilities (#PCDATA)>
<!ELEMENT childcare_details (#PCDATA)>
<!ELEMENT productivity_concerns (#PCDATA)>
<!ELEMENT productivity_notes (#PCDATA)>
<!ELEMENT referral_information (id,assessment_id,referral_source,referral_source_details,referring_clinician_name,referring_clinician_role,referral_date,referral_reason,primary_diagnosis,secondary_diagnoses,precautions,previous_ot_involvement,previous_ot_details,created_at,updated_at)>
<!ELEMENT referral_source (#PCDATA)>
<!ELEMENT referral_source_details (#PCDATA)>
<!ELEMENT referring_clinician_name (#PCDATA)>
<!ELEMENT referring_clinician_role (#PCDATA)>
<!ELEMENT referral_date (#PCDATA)>
<!ELEMENT referral_reason (#PCDATA)>
<!ELEMENT primary_diagnosis (#PCDATA)>
<!ELEMENT secondary_diagnoses (#PCDATA)>
<!ELEMENT precautions (#PCDATA)>
<!ELEMENT previous_ot_involvement (#PCDATA)>
<!ELEMENT previous_ot_details (#PCDATA)>
<!ELEMENT satisfaction_rating_item (id,satisfaction_ratings_id,occupational_issue,domain,satisfaction_score,sort_order,created_at,updated_at)>
<!ELEMENT satisfaction_ratings_id (#PCDATA)>
<!ELEMENT satisfaction_score (#PCDATA)>
<!ELEMENT satisfaction_ratings (id,assessment_id,overall_satisfaction_score,self_care_satisfaction_score,productivity_satisfaction_score,leisure_satisfaction_score,satisfaction_notes,created_at,updated_at)>
<!ELEMENT overall_satisfaction_score (#PCDATA)>
<!ELEMENT self_care_satisfaction_score (#PCDATA)>
<!ELEMENT productivity_satisfaction_score (#PCDATA)>
<!ELEMENT leisure_satisfaction_score (#PCDATA)>
<!ELEMENT satisfaction_notes (#PCDATA)>
<!ELEMENT self_care_activities (id,assessment_id,personal_care_independence,dressing_ability,bathing_ability,feeding_ability,toileting_ability,mobility_indoors,medication_management,self_care_concerns,assistive_devices_used,self_care_notes,created_at,updated_at)>
<!ELEMENT personal_care_independence (#PCDATA)>
<!ELEMENT dressing_ability (#PCDATA)>
<!ELEMENT bathing_ability (#PCDATA)>
<!ELEMENT feeding_ability (#PCDATA)>
<!ELEMENT toileting_ability (#PCDATA)>
<!ELEMENT mobility_indoors (#PCDATA)>
<!ELEMENT medication_management (#PCDATA)>
<!ELEMENT self_care_concerns (#PCDATA)>
<!ELEMENT assistive_devices_used (#PCDATA)>
<!ELEMENT self_care_notes (#PCDATA)>
