forms/prenatal-assessment/xml-representations/assessment_obstetric_history.dtd

<!ELEMENT assessment_obstetric_history (id,assessment_id,gravida,para,living_children,miscarriages,terminations,ectopic_pregnancies,stillbirths,neonatal_deaths,previous_caesarean,caesarean_count,previous_preterm_birth,previous_preeclampsia,previous_gestational_diabetes,previous_postpartum_haemorrhage,previous_complications_details,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT gravida (#PCDATA)>
<!ELEMENT para (#PCDATA)>
<!ELEMENT living_children (#PCDATA)>
<!ELEMENT miscarriages (#PCDATA)>
<!ELEMENT terminations (#PCDATA)>
<!ELEMENT ectopic_pregnancies (#PCDATA)>
<!ELEMENT stillbirths (#PCDATA)>
<!ELEMENT neonatal_deaths (#PCDATA)>
<!ELEMENT previous_caesarean (#PCDATA)>
<!ELEMENT caesarean_count (#PCDATA)>
<!ELEMENT previous_preterm_birth (#PCDATA)>
<!ELEMENT previous_preeclampsia (#PCDATA)>
<!ELEMENT previous_gestational_diabetes (#PCDATA)>
<!ELEMENT previous_postpartum_haemorrhage (#PCDATA)>
<!ELEMENT previous_complications_details (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
