forms/prenatal-assessment/xml-representations/assessment_vital_signs.dtd

<!ELEMENT assessment_vital_signs (id,assessment_id,systolic_bp_mmhg,diastolic_bp_mmhg,heart_rate_bpm,temperature_celsius,respiratory_rate,oxygen_saturation_pct,weight_kg,pre_pregnancy_weight_kg,weight_gain_kg,fundal_height_cm,fetal_heart_rate_bpm,fetal_lie,fetal_presentation,proteinuria,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT systolic_bp_mmhg (#PCDATA)>
<!ELEMENT diastolic_bp_mmhg (#PCDATA)>
<!ELEMENT heart_rate_bpm (#PCDATA)>
<!ELEMENT temperature_celsius (#PCDATA)>
<!ELEMENT respiratory_rate (#PCDATA)>
<!ELEMENT oxygen_saturation_pct (#PCDATA)>
<!ELEMENT weight_kg (#PCDATA)>
<!ELEMENT pre_pregnancy_weight_kg (#PCDATA)>
<!ELEMENT weight_gain_kg (#PCDATA)>
<!ELEMENT fundal_height_cm (#PCDATA)>
<!ELEMENT fetal_heart_rate_bpm (#PCDATA)>
<!ELEMENT fetal_lie (#PCDATA)>
<!ELEMENT fetal_presentation (#PCDATA)>
<!ELEMENT proteinuria (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
