forms/prenatal-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,birth_plan,current_symptoms,laboratory_results,lifestyle_nutrition,medical_history,mental_health,obstetric_history,pregnancy_details,vital_signs)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT birth_plan (id,assessment_id,preferred_birth_location,preferred_delivery_method,pain_relief_preference,birth_partner,birth_partner_details,skin_to_skin,delayed_cord_clamping,infant_feeding_intention,vitamin_k_consent,vitamin_k_route,cord_blood_banking,cultural_religious_needs,special_requests,additional_notes,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT preferred_birth_location (#PCDATA)>
<!ELEMENT preferred_delivery_method (#PCDATA)>
<!ELEMENT pain_relief_preference (#PCDATA)>
<!ELEMENT birth_partner (#PCDATA)>
<!ELEMENT birth_partner_details (#PCDATA)>
<!ELEMENT skin_to_skin (#PCDATA)>
<!ELEMENT delayed_cord_clamping (#PCDATA)>
<!ELEMENT infant_feeding_intention (#PCDATA)>
<!ELEMENT vitamin_k_consent (#PCDATA)>
<!ELEMENT vitamin_k_route (#PCDATA)>
<!ELEMENT cord_blood_banking (#PCDATA)>
<!ELEMENT cultural_religious_needs (#PCDATA)>
<!ELEMENT special_requests (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT current_symptoms (id,assessment_id,nausea_vomiting,hyperemesis_gravidarum,vaginal_bleeding,bleeding_details,abdominal_pain,abdominal_pain_details,headaches,visual_disturbances,oedema,oedema_location,reduced_fetal_movement,urinary_symptoms,urinary_symptom_details,pelvic_pain,shortness_of_breath,additional_symptoms,created_at,updated_at)>
<!ELEMENT nausea_vomiting (#PCDATA)>
<!ELEMENT hyperemesis_gravidarum (#PCDATA)>
<!ELEMENT vaginal_bleeding (#PCDATA)>
<!ELEMENT bleeding_details (#PCDATA)>
<!ELEMENT abdominal_pain (#PCDATA)>
<!ELEMENT abdominal_pain_details (#PCDATA)>
<!ELEMENT headaches (#PCDATA)>
<!ELEMENT visual_disturbances (#PCDATA)>
<!ELEMENT oedema (#PCDATA)>
<!ELEMENT oedema_location (#PCDATA)>
<!ELEMENT reduced_fetal_movement (#PCDATA)>
<!ELEMENT urinary_symptoms (#PCDATA)>
<!ELEMENT urinary_symptom_details (#PCDATA)>
<!ELEMENT pelvic_pain (#PCDATA)>
<!ELEMENT shortness_of_breath (#PCDATA)>
<!ELEMENT additional_symptoms (#PCDATA)>
<!ELEMENT laboratory_results (id,assessment_id,haemoglobin_gdl,haematocrit_pct,platelet_count,white_blood_cell_count,blood_glucose_mmol,hba1c_pct,gtt_result,ferritin_ngml,thyroid_tsh,hiv_screening,hepatitis_b,hepatitis_c,syphilis_screening,rubella_immunity,group_b_strep,urine_culture,urine_culture_organism,additional_notes,created_at,updated_at)>
<!ELEMENT haemoglobin_gdl (#PCDATA)>
<!ELEMENT haematocrit_pct (#PCDATA)>
<!ELEMENT platelet_count (#PCDATA)>
<!ELEMENT white_blood_cell_count (#PCDATA)>
<!ELEMENT blood_glucose_mmol (#PCDATA)>
<!ELEMENT hba1c_pct (#PCDATA)>
<!ELEMENT gtt_result (#PCDATA)>
<!ELEMENT ferritin_ngml (#PCDATA)>
<!ELEMENT thyroid_tsh (#PCDATA)>
<!ELEMENT hiv_screening (#PCDATA)>
<!ELEMENT hepatitis_b (#PCDATA)>
<!ELEMENT hepatitis_c (#PCDATA)>
<!ELEMENT syphilis_screening (#PCDATA)>
<!ELEMENT rubella_immunity (#PCDATA)>
<!ELEMENT group_b_strep (#PCDATA)>
<!ELEMENT urine_culture (#PCDATA)>
<!ELEMENT urine_culture_organism (#PCDATA)>
<!ELEMENT lifestyle_nutrition (id,assessment_id,smoking_status,cigarettes_per_day,smoking_cessation_advice,alcohol_use,alcohol_units_per_week,recreational_drug_use,drug_use_details,folic_acid_supplementation,folic_acid_dose,vitamin_d_supplementation,iron_supplementation,dietary_restrictions,exercise_frequency,occupation,occupational_hazards,occupational_hazard_details,additional_notes,created_at,updated_at)>
<!ELEMENT smoking_status (#PCDATA)>
<!ELEMENT cigarettes_per_day (#PCDATA)>
<!ELEMENT smoking_cessation_advice (#PCDATA)>
<!ELEMENT alcohol_use (#PCDATA)>
<!ELEMENT alcohol_units_per_week (#PCDATA)>
<!ELEMENT recreational_drug_use (#PCDATA)>
<!ELEMENT drug_use_details (#PCDATA)>
<!ELEMENT folic_acid_supplementation (#PCDATA)>
<!ELEMENT folic_acid_dose (#PCDATA)>
<!ELEMENT vitamin_d_supplementation (#PCDATA)>
<!ELEMENT iron_supplementation (#PCDATA)>
<!ELEMENT dietary_restrictions (#PCDATA)>
<!ELEMENT exercise_frequency (#PCDATA)>
<!ELEMENT occupation (#PCDATA)>
<!ELEMENT occupational_hazards (#PCDATA)>
<!ELEMENT occupational_hazard_details (#PCDATA)>
<!ELEMENT medical_history (id,assessment_id,hypertension,diabetes,thyroid_disorder,thyroid_disorder_details,autoimmune_conditions,autoimmune_details,epilepsy,cardiac_conditions,cardiac_details,renal_conditions,renal_details,thrombophilia,previous_vte,psychiatric_history,psychiatric_details,previous_surgeries,surgery_details,known_allergies,allergy_details,current_medications,additional_notes,created_at,updated_at)>
<!ELEMENT hypertension (#PCDATA)>
<!ELEMENT diabetes (#PCDATA)>
<!ELEMENT thyroid_disorder (#PCDATA)>
<!ELEMENT thyroid_disorder_details (#PCDATA)>
<!ELEMENT autoimmune_conditions (#PCDATA)>
<!ELEMENT autoimmune_details (#PCDATA)>
<!ELEMENT epilepsy (#PCDATA)>
<!ELEMENT cardiac_conditions (#PCDATA)>
<!ELEMENT cardiac_details (#PCDATA)>
<!ELEMENT renal_conditions (#PCDATA)>
<!ELEMENT renal_details (#PCDATA)>
<!ELEMENT thrombophilia (#PCDATA)>
<!ELEMENT previous_vte (#PCDATA)>
<!ELEMENT psychiatric_history (#PCDATA)>
<!ELEMENT psychiatric_details (#PCDATA)>
<!ELEMENT previous_surgeries (#PCDATA)>
<!ELEMENT surgery_details (#PCDATA)>
<!ELEMENT known_allergies (#PCDATA)>
<!ELEMENT allergy_details (#PCDATA)>
<!ELEMENT current_medications (#PCDATA)>
<!ELEMENT mental_health (id,assessment_id,previous_mental_health_condition,previous_condition_details,previous_postnatal_depression,current_mood,feeling_anxious,phq2_score,gad2_score,bonding_concerns,domestic_abuse_screening,domestic_abuse_disclosed,social_support_adequate,self_harm_thoughts,current_mental_health_treatment,treatment_details,referral_needed,additional_notes,created_at,updated_at)>
<!ELEMENT previous_mental_health_condition (#PCDATA)>
<!ELEMENT previous_condition_details (#PCDATA)>
<!ELEMENT previous_postnatal_depression (#PCDATA)>
<!ELEMENT current_mood (#PCDATA)>
<!ELEMENT feeling_anxious (#PCDATA)>
<!ELEMENT phq2_score (#PCDATA)>
<!ELEMENT gad2_score (#PCDATA)>
<!ELEMENT bonding_concerns (#PCDATA)>
<!ELEMENT domestic_abuse_screening (#PCDATA)>
<!ELEMENT domestic_abuse_disclosed (#PCDATA)>
<!ELEMENT social_support_adequate (#PCDATA)>
<!ELEMENT self_harm_thoughts (#PCDATA)>
<!ELEMENT current_mental_health_treatment (#PCDATA)>
<!ELEMENT treatment_details (#PCDATA)>
<!ELEMENT referral_needed (#PCDATA)>
<!ELEMENT obstetric_history (id,assessment_id,gravida,para,living_children,miscarriages,terminations,ectopic_pregnancies,stillbirths,neonatal_deaths,previous_caesarean,caesarean_count,previous_preterm_birth,previous_preeclampsia,previous_gestational_diabetes,previous_postpartum_haemorrhage,previous_complications_details,additional_notes,created_at,updated_at)>
<!ELEMENT gravida (#PCDATA)>
<!ELEMENT para (#PCDATA)>
<!ELEMENT living_children (#PCDATA)>
<!ELEMENT miscarriages (#PCDATA)>
<!ELEMENT terminations (#PCDATA)>
<!ELEMENT ectopic_pregnancies (#PCDATA)>
<!ELEMENT stillbirths (#PCDATA)>
<!ELEMENT neonatal_deaths (#PCDATA)>
<!ELEMENT previous_caesarean (#PCDATA)>
<!ELEMENT caesarean_count (#PCDATA)>
<!ELEMENT previous_preterm_birth (#PCDATA)>
<!ELEMENT previous_preeclampsia (#PCDATA)>
<!ELEMENT previous_gestational_diabetes (#PCDATA)>
<!ELEMENT previous_postpartum_haemorrhage (#PCDATA)>
<!ELEMENT previous_complications_details (#PCDATA)>
<!ELEMENT pregnancy_details (id,assessment_id,estimated_due_date,gestational_age_weeks,gestational_age_days,dating_method,last_menstrual_period,pregnancy_type,conception_method,planned_pregnancy,booking_visit_completed,booking_visit_date,blood_group,rhesus_status,additional_notes,created_at,updated_at)>
<!ELEMENT estimated_due_date (#PCDATA)>
<!ELEMENT gestational_age_weeks (#PCDATA)>
<!ELEMENT gestational_age_days (#PCDATA)>
<!ELEMENT dating_method (#PCDATA)>
<!ELEMENT last_menstrual_period (#PCDATA)>
<!ELEMENT pregnancy_type (#PCDATA)>
<!ELEMENT conception_method (#PCDATA)>
<!ELEMENT planned_pregnancy (#PCDATA)>
<!ELEMENT booking_visit_completed (#PCDATA)>
<!ELEMENT booking_visit_date (#PCDATA)>
<!ELEMENT blood_group (#PCDATA)>
<!ELEMENT rhesus_status (#PCDATA)>
<!ELEMENT vital_signs (id,assessment_id,systolic_bp_mmhg,diastolic_bp_mmhg,heart_rate_bpm,temperature_celsius,respiratory_rate,oxygen_saturation_pct,weight_kg,pre_pregnancy_weight_kg,weight_gain_kg,fundal_height_cm,fetal_heart_rate_bpm,fetal_lie,fetal_presentation,proteinuria,additional_notes,created_at,updated_at)>
<!ELEMENT systolic_bp_mmhg (#PCDATA)>
<!ELEMENT diastolic_bp_mmhg (#PCDATA)>
<!ELEMENT heart_rate_bpm (#PCDATA)>
<!ELEMENT temperature_celsius (#PCDATA)>
<!ELEMENT respiratory_rate (#PCDATA)>
<!ELEMENT oxygen_saturation_pct (#PCDATA)>
<!ELEMENT weight_kg (#PCDATA)>
<!ELEMENT pre_pregnancy_weight_kg (#PCDATA)>
<!ELEMENT weight_gain_kg (#PCDATA)>
<!ELEMENT fundal_height_cm (#PCDATA)>
<!ELEMENT fetal_heart_rate_bpm (#PCDATA)>
<!ELEMENT fetal_lie (#PCDATA)>
<!ELEMENT fetal_presentation (#PCDATA)>
<!ELEMENT proteinuria (#PCDATA)>
