forms/prenatal-assessment/xml-representations/assessment_laboratory_results.dtd

<!ELEMENT assessment_laboratory_results (id,assessment_id,haemoglobin_gdl,haematocrit_pct,platelet_count,white_blood_cell_count,blood_glucose_mmol,hba1c_pct,gtt_result,ferritin_ngml,thyroid_tsh,hiv_screening,hepatitis_b,hepatitis_c,syphilis_screening,rubella_immunity,group_b_strep,urine_culture,urine_culture_organism,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT haemoglobin_gdl (#PCDATA)>
<!ELEMENT haematocrit_pct (#PCDATA)>
<!ELEMENT platelet_count (#PCDATA)>
<!ELEMENT white_blood_cell_count (#PCDATA)>
<!ELEMENT blood_glucose_mmol (#PCDATA)>
<!ELEMENT hba1c_pct (#PCDATA)>
<!ELEMENT gtt_result (#PCDATA)>
<!ELEMENT ferritin_ngml (#PCDATA)>
<!ELEMENT thyroid_tsh (#PCDATA)>
<!ELEMENT hiv_screening (#PCDATA)>
<!ELEMENT hepatitis_b (#PCDATA)>
<!ELEMENT hepatitis_c (#PCDATA)>
<!ELEMENT syphilis_screening (#PCDATA)>
<!ELEMENT rubella_immunity (#PCDATA)>
<!ELEMENT group_b_strep (#PCDATA)>
<!ELEMENT urine_culture (#PCDATA)>
<!ELEMENT urine_culture_organism (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
