forms/prenatal-assessment/xml-representations/assessment_lifestyle_nutrition.dtd

<!ELEMENT assessment_lifestyle_nutrition (id,assessment_id,smoking_status,cigarettes_per_day,smoking_cessation_advice,alcohol_use,alcohol_units_per_week,recreational_drug_use,drug_use_details,folic_acid_supplementation,folic_acid_dose,vitamin_d_supplementation,iron_supplementation,dietary_restrictions,exercise_frequency,occupation,occupational_hazards,occupational_hazard_details,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT smoking_status (#PCDATA)>
<!ELEMENT cigarettes_per_day (#PCDATA)>
<!ELEMENT smoking_cessation_advice (#PCDATA)>
<!ELEMENT alcohol_use (#PCDATA)>
<!ELEMENT alcohol_units_per_week (#PCDATA)>
<!ELEMENT recreational_drug_use (#PCDATA)>
<!ELEMENT drug_use_details (#PCDATA)>
<!ELEMENT folic_acid_supplementation (#PCDATA)>
<!ELEMENT folic_acid_dose (#PCDATA)>
<!ELEMENT vitamin_d_supplementation (#PCDATA)>
<!ELEMENT iron_supplementation (#PCDATA)>
<!ELEMENT dietary_restrictions (#PCDATA)>
<!ELEMENT exercise_frequency (#PCDATA)>
<!ELEMENT occupation (#PCDATA)>
<!ELEMENT occupational_hazards (#PCDATA)>
<!ELEMENT occupational_hazard_details (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
