forms/prenatal-assessment/xml-representations/assessment_birth_plan.dtd

<!ELEMENT assessment_birth_plan (id,assessment_id,preferred_birth_location,preferred_delivery_method,pain_relief_preference,birth_partner,birth_partner_details,skin_to_skin,delayed_cord_clamping,infant_feeding_intention,vitamin_k_consent,vitamin_k_route,cord_blood_banking,cultural_religious_needs,special_requests,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT preferred_birth_location (#PCDATA)>
<!ELEMENT preferred_delivery_method (#PCDATA)>
<!ELEMENT pain_relief_preference (#PCDATA)>
<!ELEMENT birth_partner (#PCDATA)>
<!ELEMENT birth_partner_details (#PCDATA)>
<!ELEMENT skin_to_skin (#PCDATA)>
<!ELEMENT delayed_cord_clamping (#PCDATA)>
<!ELEMENT infant_feeding_intention (#PCDATA)>
<!ELEMENT vitamin_k_consent (#PCDATA)>
<!ELEMENT vitamin_k_route (#PCDATA)>
<!ELEMENT cord_blood_banking (#PCDATA)>
<!ELEMENT cultural_religious_needs (#PCDATA)>
<!ELEMENT special_requests (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
