forms/prenatal-assessment/xml-representations/assessment_mental_health.dtd

<!ELEMENT assessment_mental_health (id,assessment_id,previous_mental_health_condition,previous_condition_details,previous_postnatal_depression,current_mood,feeling_anxious,phq2_score,gad2_score,bonding_concerns,domestic_abuse_screening,domestic_abuse_disclosed,social_support_adequate,self_harm_thoughts,current_mental_health_treatment,treatment_details,referral_needed,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT previous_mental_health_condition (#PCDATA)>
<!ELEMENT previous_condition_details (#PCDATA)>
<!ELEMENT previous_postnatal_depression (#PCDATA)>
<!ELEMENT current_mood (#PCDATA)>
<!ELEMENT feeling_anxious (#PCDATA)>
<!ELEMENT phq2_score (#PCDATA)>
<!ELEMENT gad2_score (#PCDATA)>
<!ELEMENT bonding_concerns (#PCDATA)>
<!ELEMENT domestic_abuse_screening (#PCDATA)>
<!ELEMENT domestic_abuse_disclosed (#PCDATA)>
<!ELEMENT social_support_adequate (#PCDATA)>
<!ELEMENT self_harm_thoughts (#PCDATA)>
<!ELEMENT current_mental_health_treatment (#PCDATA)>
<!ELEMENT treatment_details (#PCDATA)>
<!ELEMENT referral_needed (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
