forms/prenatal-assessment/xml-representations/assessment_pregnancy_details.dtd

<!ELEMENT assessment_pregnancy_details (id,assessment_id,estimated_due_date,gestational_age_weeks,gestational_age_days,dating_method,last_menstrual_period,pregnancy_type,conception_method,planned_pregnancy,booking_visit_completed,booking_visit_date,blood_group,rhesus_status,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT estimated_due_date (#PCDATA)>
<!ELEMENT gestational_age_weeks (#PCDATA)>
<!ELEMENT gestational_age_days (#PCDATA)>
<!ELEMENT dating_method (#PCDATA)>
<!ELEMENT last_menstrual_period (#PCDATA)>
<!ELEMENT pregnancy_type (#PCDATA)>
<!ELEMENT conception_method (#PCDATA)>
<!ELEMENT planned_pregnancy (#PCDATA)>
<!ELEMENT booking_visit_completed (#PCDATA)>
<!ELEMENT booking_visit_date (#PCDATA)>
<!ELEMENT blood_group (#PCDATA)>
<!ELEMENT rhesus_status (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
