forms/prenatal-assessment/xml-representations/assessment_medical_history.dtd

<!ELEMENT assessment_medical_history (id,assessment_id,hypertension,diabetes,thyroid_disorder,thyroid_disorder_details,autoimmune_conditions,autoimmune_details,epilepsy,cardiac_conditions,cardiac_details,renal_conditions,renal_details,thrombophilia,previous_vte,psychiatric_history,psychiatric_details,previous_surgeries,surgery_details,known_allergies,allergy_details,current_medications,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT hypertension (#PCDATA)>
<!ELEMENT diabetes (#PCDATA)>
<!ELEMENT thyroid_disorder (#PCDATA)>
<!ELEMENT thyroid_disorder_details (#PCDATA)>
<!ELEMENT autoimmune_conditions (#PCDATA)>
<!ELEMENT autoimmune_details (#PCDATA)>
<!ELEMENT epilepsy (#PCDATA)>
<!ELEMENT cardiac_conditions (#PCDATA)>
<!ELEMENT cardiac_details (#PCDATA)>
<!ELEMENT renal_conditions (#PCDATA)>
<!ELEMENT renal_details (#PCDATA)>
<!ELEMENT thrombophilia (#PCDATA)>
<!ELEMENT previous_vte (#PCDATA)>
<!ELEMENT psychiatric_history (#PCDATA)>
<!ELEMENT psychiatric_details (#PCDATA)>
<!ELEMENT previous_surgeries (#PCDATA)>
<!ELEMENT surgery_details (#PCDATA)>
<!ELEMENT known_allergies (#PCDATA)>
<!ELEMENT allergy_details (#PCDATA)>
<!ELEMENT current_medications (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
