forms/prenatal-assessment/xml-representations/assessment_current_symptoms.dtd

<!ELEMENT assessment_current_symptoms (id,assessment_id,nausea_vomiting,hyperemesis_gravidarum,vaginal_bleeding,bleeding_details,abdominal_pain,abdominal_pain_details,headaches,visual_disturbances,oedema,oedema_location,reduced_fetal_movement,urinary_symptoms,urinary_symptom_details,pelvic_pain,shortness_of_breath,additional_symptoms,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT nausea_vomiting (#PCDATA)>
<!ELEMENT hyperemesis_gravidarum (#PCDATA)>
<!ELEMENT vaginal_bleeding (#PCDATA)>
<!ELEMENT bleeding_details (#PCDATA)>
<!ELEMENT abdominal_pain (#PCDATA)>
<!ELEMENT abdominal_pain_details (#PCDATA)>
<!ELEMENT headaches (#PCDATA)>
<!ELEMENT visual_disturbances (#PCDATA)>
<!ELEMENT oedema (#PCDATA)>
<!ELEMENT oedema_location (#PCDATA)>
<!ELEMENT reduced_fetal_movement (#PCDATA)>
<!ELEMENT urinary_symptoms (#PCDATA)>
<!ELEMENT urinary_symptom_details (#PCDATA)>
<!ELEMENT pelvic_pain (#PCDATA)>
<!ELEMENT shortness_of_breath (#PCDATA)>
<!ELEMENT additional_symptoms (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
