forms/respirology-assessment/xml-representations/assessment_cough_assessment.dtd

<!ELEMENT assessment_cough_assessment (id,assessment_id,cough_present,cough_duration,cough_duration_weeks,cough_type,cough_timing,sputum_production,sputum_volume,sputum_colour,sputum_odour,haemoptysis,haemoptysis_volume,cough_triggers,cough_impact_on_sleep,cough_impact_on_daily_life,post_nasal_drip,gastro_oesophageal_reflux,ace_inhibitor_use,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT cough_present (#PCDATA)>
<!ELEMENT cough_duration (#PCDATA)>
<!ELEMENT cough_duration_weeks (#PCDATA)>
<!ELEMENT cough_type (#PCDATA)>
<!ELEMENT cough_timing (#PCDATA)>
<!ELEMENT sputum_production (#PCDATA)>
<!ELEMENT sputum_volume (#PCDATA)>
<!ELEMENT sputum_colour (#PCDATA)>
<!ELEMENT sputum_odour (#PCDATA)>
<!ELEMENT haemoptysis (#PCDATA)>
<!ELEMENT haemoptysis_volume (#PCDATA)>
<!ELEMENT cough_triggers (#PCDATA)>
<!ELEMENT cough_impact_on_sleep (#PCDATA)>
<!ELEMENT cough_impact_on_daily_life (#PCDATA)>
<!ELEMENT post_nasal_drip (#PCDATA)>
<!ELEMENT gastro_oesophageal_reflux (#PCDATA)>
<!ELEMENT ace_inhibitor_use (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
