forms/respirology-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,allergies,assessment_chief_complaint,cough_assessment,current_medications,dyspnoea_assessment,medication_item,pulmonary_function,respiratory_history,sleep_functional,smoking_exposures)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT allergies (id,assessment_id,has_drug_allergies,drug_allergy_details,has_environmental_allergies,environmental_allergy_details,atopic_history,eczema,allergic_rhinitis,food_allergies,food_allergy_details,aspirin_sensitivity,allergy_testing_performed,allergy_test_results,additional_notes,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_drug_allergies (#PCDATA)>
<!ELEMENT drug_allergy_details (#PCDATA)>
<!ELEMENT has_environmental_allergies (#PCDATA)>
<!ELEMENT environmental_allergy_details (#PCDATA)>
<!ELEMENT atopic_history (#PCDATA)>
<!ELEMENT eczema (#PCDATA)>
<!ELEMENT allergic_rhinitis (#PCDATA)>
<!ELEMENT food_allergies (#PCDATA)>
<!ELEMENT food_allergy_details (#PCDATA)>
<!ELEMENT aspirin_sensitivity (#PCDATA)>
<!ELEMENT allergy_testing_performed (#PCDATA)>
<!ELEMENT allergy_test_results (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT assessment_chief_complaint (id,assessment_id,chief_complaint,onset,duration,severity,dyspnoea,cough,wheeze,chest_pain,haemoptysis,recurrent_respiratory_infections,weight_loss,night_sweats,fever,additional_notes,created_at,updated_at)>
<!ELEMENT chief_complaint (#PCDATA)>
<!ELEMENT onset (#PCDATA)>
<!ELEMENT duration (#PCDATA)>
<!ELEMENT severity (#PCDATA)>
<!ELEMENT dyspnoea (#PCDATA)>
<!ELEMENT cough (#PCDATA)>
<!ELEMENT wheeze (#PCDATA)>
<!ELEMENT chest_pain (#PCDATA)>
<!ELEMENT haemoptysis (#PCDATA)>
<!ELEMENT recurrent_respiratory_infections (#PCDATA)>
<!ELEMENT weight_loss (#PCDATA)>
<!ELEMENT night_sweats (#PCDATA)>
<!ELEMENT fever (#PCDATA)>
<!ELEMENT cough_assessment (id,assessment_id,cough_present,cough_duration,cough_duration_weeks,cough_type,cough_timing,sputum_production,sputum_volume,sputum_colour,sputum_odour,haemoptysis,haemoptysis_volume,cough_triggers,cough_impact_on_sleep,cough_impact_on_daily_life,post_nasal_drip,gastro_oesophageal_reflux,ace_inhibitor_use,additional_notes,created_at,updated_at)>
<!ELEMENT cough_present (#PCDATA)>
<!ELEMENT cough_duration (#PCDATA)>
<!ELEMENT cough_duration_weeks (#PCDATA)>
<!ELEMENT cough_type (#PCDATA)>
<!ELEMENT cough_timing (#PCDATA)>
<!ELEMENT sputum_production (#PCDATA)>
<!ELEMENT sputum_volume (#PCDATA)>
<!ELEMENT sputum_colour (#PCDATA)>
<!ELEMENT sputum_odour (#PCDATA)>
<!ELEMENT haemoptysis_volume (#PCDATA)>
<!ELEMENT cough_triggers (#PCDATA)>
<!ELEMENT cough_impact_on_sleep (#PCDATA)>
<!ELEMENT cough_impact_on_daily_life (#PCDATA)>
<!ELEMENT post_nasal_drip (#PCDATA)>
<!ELEMENT gastro_oesophageal_reflux (#PCDATA)>
<!ELEMENT ace_inhibitor_use (#PCDATA)>
<!ELEMENT current_medications (id,assessment_id,takes_respiratory_medications,inhaler_use,inhaler_technique_assessed,inhaler_technique_adequate,long_term_oxygen_therapy,nebuliser_use,takes_other_medications,medication_adherence,adverse_drug_reactions,additional_notes,created_at,updated_at)>
<!ELEMENT takes_respiratory_medications (#PCDATA)>
<!ELEMENT inhaler_use (#PCDATA)>
<!ELEMENT inhaler_technique_assessed (#PCDATA)>
<!ELEMENT inhaler_technique_adequate (#PCDATA)>
<!ELEMENT long_term_oxygen_therapy (#PCDATA)>
<!ELEMENT nebuliser_use (#PCDATA)>
<!ELEMENT takes_other_medications (#PCDATA)>
<!ELEMENT medication_adherence (#PCDATA)>
<!ELEMENT adverse_drug_reactions (#PCDATA)>
<!ELEMENT dyspnoea_assessment (id,assessment_id,mrc_dyspnoea_grade,dyspnoea_at_rest,dyspnoea_on_exertion,orthopnoea,paroxysmal_nocturnal_dyspnoea,dyspnoea_onset,dyspnoea_triggers,dyspnoea_relieving_factors,exercise_limitation,walking_distance_metres,flights_of_stairs,borg_dyspnoea_score,oxygen_requirement,additional_notes,created_at,updated_at)>
<!ELEMENT mrc_dyspnoea_grade (#PCDATA)>
<!ELEMENT dyspnoea_at_rest (#PCDATA)>
<!ELEMENT dyspnoea_on_exertion (#PCDATA)>
<!ELEMENT orthopnoea (#PCDATA)>
<!ELEMENT paroxysmal_nocturnal_dyspnoea (#PCDATA)>
<!ELEMENT dyspnoea_onset (#PCDATA)>
<!ELEMENT dyspnoea_triggers (#PCDATA)>
<!ELEMENT dyspnoea_relieving_factors (#PCDATA)>
<!ELEMENT exercise_limitation (#PCDATA)>
<!ELEMENT walking_distance_metres (#PCDATA)>
<!ELEMENT flights_of_stairs (#PCDATA)>
<!ELEMENT borg_dyspnoea_score (#PCDATA)>
<!ELEMENT oxygen_requirement (#PCDATA)>
<!ELEMENT medication_item (id,current_medications_id,medication_name,dose,frequency,route,indication,sort_order,created_at,updated_at)>
<!ELEMENT current_medications_id (#PCDATA)>
<!ELEMENT medication_name (#PCDATA)>
<!ELEMENT dose (#PCDATA)>
<!ELEMENT frequency (#PCDATA)>
<!ELEMENT route (#PCDATA)>
<!ELEMENT indication (#PCDATA)>
<!ELEMENT sort_order (#PCDATA)>
<!ELEMENT pulmonary_function (id,assessment_id,spirometry_performed,test_date,fev1_litres,fev1_predicted_pct,fvc_litres,fvc_predicted_pct,fev1_fvc_ratio,peak_flow_lmin,peak_flow_variability_pct,dlco_pct,total_lung_capacity_pct,residual_volume_pct,bronchodilator_reversibility,methacholine_challenge,oxygen_saturation_rest,arterial_blood_gas_performed,pao2_kpa,paco2_kpa,additional_notes,created_at,updated_at)>
<!ELEMENT spirometry_performed (#PCDATA)>
<!ELEMENT test_date (#PCDATA)>
<!ELEMENT fev1_litres (#PCDATA)>
<!ELEMENT fev1_predicted_pct (#PCDATA)>
<!ELEMENT fvc_litres (#PCDATA)>
<!ELEMENT fvc_predicted_pct (#PCDATA)>
<!ELEMENT fev1_fvc_ratio (#PCDATA)>
<!ELEMENT peak_flow_lmin (#PCDATA)>
<!ELEMENT peak_flow_variability_pct (#PCDATA)>
<!ELEMENT dlco_pct (#PCDATA)>
<!ELEMENT total_lung_capacity_pct (#PCDATA)>
<!ELEMENT residual_volume_pct (#PCDATA)>
<!ELEMENT bronchodilator_reversibility (#PCDATA)>
<!ELEMENT methacholine_challenge (#PCDATA)>
<!ELEMENT oxygen_saturation_rest (#PCDATA)>
<!ELEMENT arterial_blood_gas_performed (#PCDATA)>
<!ELEMENT pao2_kpa (#PCDATA)>
<!ELEMENT paco2_kpa (#PCDATA)>
<!ELEMENT respiratory_history (id,assessment_id,asthma,asthma_age_of_onset,copd,copd_diagnosis_year,bronchiectasis,interstitial_lung_disease,ild_type,tuberculosis_history,tb_treatment_completed,pneumothorax_history,pulmonary_embolism,lung_surgery,lung_surgery_details,chest_trauma,previous_hospitalisations,previous_intubation,additional_notes,created_at,updated_at)>
<!ELEMENT asthma (#PCDATA)>
<!ELEMENT asthma_age_of_onset (#PCDATA)>
<!ELEMENT copd (#PCDATA)>
<!ELEMENT copd_diagnosis_year (#PCDATA)>
<!ELEMENT bronchiectasis (#PCDATA)>
<!ELEMENT interstitial_lung_disease (#PCDATA)>
<!ELEMENT ild_type (#PCDATA)>
<!ELEMENT tuberculosis_history (#PCDATA)>
<!ELEMENT tb_treatment_completed (#PCDATA)>
<!ELEMENT pneumothorax_history (#PCDATA)>
<!ELEMENT pulmonary_embolism (#PCDATA)>
<!ELEMENT lung_surgery (#PCDATA)>
<!ELEMENT lung_surgery_details (#PCDATA)>
<!ELEMENT chest_trauma (#PCDATA)>
<!ELEMENT previous_hospitalisations (#PCDATA)>
<!ELEMENT previous_intubation (#PCDATA)>
<!ELEMENT sleep_functional (id,assessment_id,sleep_quality,snoring,witnessed_apnoeas,daytime_sleepiness,epworth_sleepiness_score,sleep_study_performed,osa_diagnosed,cpap_use,cpap_compliance,adl_independence,mobility_level,employment_impact,exercise_tolerance,quality_of_life_impact,pulmonary_rehabilitation,advance_care_planning,advance_care_details,additional_notes,created_at,updated_at)>
<!ELEMENT sleep_quality (#PCDATA)>
<!ELEMENT snoring (#PCDATA)>
<!ELEMENT witnessed_apnoeas (#PCDATA)>
<!ELEMENT daytime_sleepiness (#PCDATA)>
<!ELEMENT epworth_sleepiness_score (#PCDATA)>
<!ELEMENT sleep_study_performed (#PCDATA)>
<!ELEMENT osa_diagnosed (#PCDATA)>
<!ELEMENT cpap_use (#PCDATA)>
<!ELEMENT cpap_compliance (#PCDATA)>
<!ELEMENT adl_independence (#PCDATA)>
<!ELEMENT mobility_level (#PCDATA)>
<!ELEMENT employment_impact (#PCDATA)>
<!ELEMENT exercise_tolerance (#PCDATA)>
<!ELEMENT quality_of_life_impact (#PCDATA)>
<!ELEMENT pulmonary_rehabilitation (#PCDATA)>
<!ELEMENT advance_care_planning (#PCDATA)>
<!ELEMENT advance_care_details (#PCDATA)>
<!ELEMENT smoking_exposures (id,assessment_id,smoking_status,pack_years,cigarettes_per_day,age_started_smoking,age_stopped_smoking,vaping,vaping_details,cannabis_smoking,passive_smoke_exposure,occupational_exposures,occupational_exposure_details,asbestos_exposure,silica_exposure,biomass_fuel_exposure,indoor_air_quality_concerns,air_quality_details,smoking_cessation_advice,additional_notes,created_at,updated_at)>
<!ELEMENT smoking_status (#PCDATA)>
<!ELEMENT pack_years (#PCDATA)>
<!ELEMENT cigarettes_per_day (#PCDATA)>
<!ELEMENT age_started_smoking (#PCDATA)>
<!ELEMENT age_stopped_smoking (#PCDATA)>
<!ELEMENT vaping (#PCDATA)>
<!ELEMENT vaping_details (#PCDATA)>
<!ELEMENT cannabis_smoking (#PCDATA)>
<!ELEMENT passive_smoke_exposure (#PCDATA)>
<!ELEMENT occupational_exposures (#PCDATA)>
<!ELEMENT occupational_exposure_details (#PCDATA)>
<!ELEMENT asbestos_exposure (#PCDATA)>
<!ELEMENT silica_exposure (#PCDATA)>
<!ELEMENT biomass_fuel_exposure (#PCDATA)>
<!ELEMENT indoor_air_quality_concerns (#PCDATA)>
<!ELEMENT air_quality_details (#PCDATA)>
<!ELEMENT smoking_cessation_advice (#PCDATA)>
