forms/respirology-assessment/xml-representations/assessment_chief_complaint.dtd

<!ELEMENT assessment_chief_complaint (id,assessment_id,chief_complaint,onset,duration,severity,dyspnoea,cough,wheeze,chest_pain,haemoptysis,recurrent_respiratory_infections,weight_loss,night_sweats,fever,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT chief_complaint (#PCDATA)>
<!ELEMENT onset (#PCDATA)>
<!ELEMENT duration (#PCDATA)>
<!ELEMENT severity (#PCDATA)>
<!ELEMENT dyspnoea (#PCDATA)>
<!ELEMENT cough (#PCDATA)>
<!ELEMENT wheeze (#PCDATA)>
<!ELEMENT chest_pain (#PCDATA)>
<!ELEMENT haemoptysis (#PCDATA)>
<!ELEMENT recurrent_respiratory_infections (#PCDATA)>
<!ELEMENT weight_loss (#PCDATA)>
<!ELEMENT night_sweats (#PCDATA)>
<!ELEMENT fever (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
