forms/respirology-assessment/xml-representations/assessment_current_medications.dtd

<!ELEMENT assessment_current_medications (id,assessment_id,takes_respiratory_medications,inhaler_use,inhaler_technique_assessed,inhaler_technique_adequate,long_term_oxygen_therapy,nebuliser_use,takes_other_medications,medication_adherence,adverse_drug_reactions,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT takes_respiratory_medications (#PCDATA)>
<!ELEMENT inhaler_use (#PCDATA)>
<!ELEMENT inhaler_technique_assessed (#PCDATA)>
<!ELEMENT inhaler_technique_adequate (#PCDATA)>
<!ELEMENT long_term_oxygen_therapy (#PCDATA)>
<!ELEMENT nebuliser_use (#PCDATA)>
<!ELEMENT takes_other_medications (#PCDATA)>
<!ELEMENT medication_adherence (#PCDATA)>
<!ELEMENT adverse_drug_reactions (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
