forms/respirology-assessment/xml-representations/assessment_respiratory_history.dtd

<!ELEMENT assessment_respiratory_history (id,assessment_id,asthma,asthma_age_of_onset,copd,copd_diagnosis_year,bronchiectasis,interstitial_lung_disease,ild_type,tuberculosis_history,tb_treatment_completed,pneumothorax_history,pulmonary_embolism,lung_surgery,lung_surgery_details,chest_trauma,previous_hospitalisations,previous_intubation,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT asthma (#PCDATA)>
<!ELEMENT asthma_age_of_onset (#PCDATA)>
<!ELEMENT copd (#PCDATA)>
<!ELEMENT copd_diagnosis_year (#PCDATA)>
<!ELEMENT bronchiectasis (#PCDATA)>
<!ELEMENT interstitial_lung_disease (#PCDATA)>
<!ELEMENT ild_type (#PCDATA)>
<!ELEMENT tuberculosis_history (#PCDATA)>
<!ELEMENT tb_treatment_completed (#PCDATA)>
<!ELEMENT pneumothorax_history (#PCDATA)>
<!ELEMENT pulmonary_embolism (#PCDATA)>
<!ELEMENT lung_surgery (#PCDATA)>
<!ELEMENT lung_surgery_details (#PCDATA)>
<!ELEMENT chest_trauma (#PCDATA)>
<!ELEMENT previous_hospitalisations (#PCDATA)>
<!ELEMENT previous_intubation (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
