forms/respirology-assessment/xml-representations/assessment_sleep_functional.dtd

<!ELEMENT assessment_sleep_functional (id,assessment_id,sleep_quality,snoring,witnessed_apnoeas,daytime_sleepiness,epworth_sleepiness_score,sleep_study_performed,osa_diagnosed,cpap_use,cpap_compliance,adl_independence,mobility_level,employment_impact,exercise_tolerance,quality_of_life_impact,pulmonary_rehabilitation,advance_care_planning,advance_care_details,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT sleep_quality (#PCDATA)>
<!ELEMENT snoring (#PCDATA)>
<!ELEMENT witnessed_apnoeas (#PCDATA)>
<!ELEMENT daytime_sleepiness (#PCDATA)>
<!ELEMENT epworth_sleepiness_score (#PCDATA)>
<!ELEMENT sleep_study_performed (#PCDATA)>
<!ELEMENT osa_diagnosed (#PCDATA)>
<!ELEMENT cpap_use (#PCDATA)>
<!ELEMENT cpap_compliance (#PCDATA)>
<!ELEMENT adl_independence (#PCDATA)>
<!ELEMENT mobility_level (#PCDATA)>
<!ELEMENT employment_impact (#PCDATA)>
<!ELEMENT exercise_tolerance (#PCDATA)>
<!ELEMENT quality_of_life_impact (#PCDATA)>
<!ELEMENT pulmonary_rehabilitation (#PCDATA)>
<!ELEMENT advance_care_planning (#PCDATA)>
<!ELEMENT advance_care_details (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
