forms/respirology-assessment/xml-representations/assessment_pulmonary_function.dtd

<!ELEMENT assessment_pulmonary_function (id,assessment_id,spirometry_performed,test_date,fev1_litres,fev1_predicted_pct,fvc_litres,fvc_predicted_pct,fev1_fvc_ratio,peak_flow_lmin,peak_flow_variability_pct,dlco_pct,total_lung_capacity_pct,residual_volume_pct,bronchodilator_reversibility,methacholine_challenge,oxygen_saturation_rest,arterial_blood_gas_performed,pao2_kpa,paco2_kpa,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT spirometry_performed (#PCDATA)>
<!ELEMENT test_date (#PCDATA)>
<!ELEMENT fev1_litres (#PCDATA)>
<!ELEMENT fev1_predicted_pct (#PCDATA)>
<!ELEMENT fvc_litres (#PCDATA)>
<!ELEMENT fvc_predicted_pct (#PCDATA)>
<!ELEMENT fev1_fvc_ratio (#PCDATA)>
<!ELEMENT peak_flow_lmin (#PCDATA)>
<!ELEMENT peak_flow_variability_pct (#PCDATA)>
<!ELEMENT dlco_pct (#PCDATA)>
<!ELEMENT total_lung_capacity_pct (#PCDATA)>
<!ELEMENT residual_volume_pct (#PCDATA)>
<!ELEMENT bronchodilator_reversibility (#PCDATA)>
<!ELEMENT methacholine_challenge (#PCDATA)>
<!ELEMENT oxygen_saturation_rest (#PCDATA)>
<!ELEMENT arterial_blood_gas_performed (#PCDATA)>
<!ELEMENT pao2_kpa (#PCDATA)>
<!ELEMENT paco2_kpa (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
