forms/respirology-assessment/xml-representations/assessment_dyspnoea_assessment.dtd

<!ELEMENT assessment_dyspnoea_assessment (id,assessment_id,mrc_dyspnoea_grade,dyspnoea_at_rest,dyspnoea_on_exertion,orthopnoea,paroxysmal_nocturnal_dyspnoea,dyspnoea_onset,dyspnoea_triggers,dyspnoea_relieving_factors,exercise_limitation,walking_distance_metres,flights_of_stairs,borg_dyspnoea_score,oxygen_requirement,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT mrc_dyspnoea_grade (#PCDATA)>
<!ELEMENT dyspnoea_at_rest (#PCDATA)>
<!ELEMENT dyspnoea_on_exertion (#PCDATA)>
<!ELEMENT orthopnoea (#PCDATA)>
<!ELEMENT paroxysmal_nocturnal_dyspnoea (#PCDATA)>
<!ELEMENT dyspnoea_onset (#PCDATA)>
<!ELEMENT dyspnoea_triggers (#PCDATA)>
<!ELEMENT dyspnoea_relieving_factors (#PCDATA)>
<!ELEMENT exercise_limitation (#PCDATA)>
<!ELEMENT walking_distance_metres (#PCDATA)>
<!ELEMENT flights_of_stairs (#PCDATA)>
<!ELEMENT borg_dyspnoea_score (#PCDATA)>
<!ELEMENT oxygen_requirement (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
