forms/advance-decision-to-refuse-treatment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,capacity_declaration,circumstances,exceptions_conditions,healthcare_professional_review,lasting_power_of_attorney,legal_signatures,assessment_other_wishes,personal_information,treatments_refused_general,treatments_refused_life_sustaining)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT capacity_declaration (id,assessment_id,has_mental_capacity,understands_consequences,made_voluntarily,capacity_assessment_date,capacity_assessor_name,capacity_assessor_role,capacity_notes,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_mental_capacity (#PCDATA)>
<!ELEMENT understands_consequences (#PCDATA)>
<!ELEMENT made_voluntarily (#PCDATA)>
<!ELEMENT capacity_assessment_date (#PCDATA)>
<!ELEMENT capacity_assessor_name (#PCDATA)>
<!ELEMENT capacity_assessor_role (#PCDATA)>
<!ELEMENT capacity_notes (#PCDATA)>
<!ELEMENT circumstances (id,assessment_id,circumstances_description,specific_conditions,applies_if_terminally_ill,applies_if_permanently_unconscious,applies_if_severely_brain_damaged,applies_if_advanced_dementia,other_circumstances,created_at,updated_at)>
<!ELEMENT circumstances_description (#PCDATA)>
<!ELEMENT specific_conditions (#PCDATA)>
<!ELEMENT applies_if_terminally_ill (#PCDATA)>
<!ELEMENT applies_if_permanently_unconscious (#PCDATA)>
<!ELEMENT applies_if_severely_brain_damaged (#PCDATA)>
<!ELEMENT applies_if_advanced_dementia (#PCDATA)>
<!ELEMENT other_circumstances (#PCDATA)>
<!ELEMENT exceptions_conditions (id,assessment_id,has_exceptions,exception_details,pain_management_wishes,comfort_care_wishes,emergency_exception_details,condition_specific_exceptions,created_at,updated_at)>
<!ELEMENT has_exceptions (#PCDATA)>
<!ELEMENT exception_details (#PCDATA)>
<!ELEMENT pain_management_wishes (#PCDATA)>
<!ELEMENT comfort_care_wishes (#PCDATA)>
<!ELEMENT emergency_exception_details (#PCDATA)>
<!ELEMENT condition_specific_exceptions (#PCDATA)>
<!ELEMENT healthcare_professional_review (id,assessment_id,reviewed_by_healthcare_professional,reviewer_name,reviewer_role,reviewer_registration_number,review_date,reviewer_confirms_capacity,reviewer_confirms_informed,clinical_notes,concerns_raised,reviewer_signature_obtained,created_at,updated_at)>
<!ELEMENT reviewed_by_healthcare_professional (#PCDATA)>
<!ELEMENT reviewer_name (#PCDATA)>
<!ELEMENT reviewer_role (#PCDATA)>
<!ELEMENT reviewer_registration_number (#PCDATA)>
<!ELEMENT review_date (#PCDATA)>
<!ELEMENT reviewer_confirms_capacity (#PCDATA)>
<!ELEMENT reviewer_confirms_informed (#PCDATA)>
<!ELEMENT clinical_notes (#PCDATA)>
<!ELEMENT concerns_raised (#PCDATA)>
<!ELEMENT reviewer_signature_obtained (#PCDATA)>
<!ELEMENT lasting_power_of_attorney (id,assessment_id,has_health_welfare_lpa,lpa_registered_with_opg,lpa_registration_date,attorney_name,attorney_address,attorney_phone,replacement_attorney_name,lpa_authority_scope,lpa_conflicts_with_adrt,lpa_conflict_details,created_at,updated_at)>
<!ELEMENT has_health_welfare_lpa (#PCDATA)>
<!ELEMENT lpa_registered_with_opg (#PCDATA)>
<!ELEMENT lpa_registration_date (#PCDATA)>
<!ELEMENT attorney_name (#PCDATA)>
<!ELEMENT attorney_address (#PCDATA)>
<!ELEMENT attorney_phone (#PCDATA)>
<!ELEMENT replacement_attorney_name (#PCDATA)>
<!ELEMENT lpa_authority_scope (#PCDATA)>
<!ELEMENT lpa_conflicts_with_adrt (#PCDATA)>
<!ELEMENT lpa_conflict_details (#PCDATA)>
<!ELEMENT legal_signatures (id,assessment_id,maker_signature_obtained,maker_signature_date,witness_name,witness_address,witness_signature_obtained,witness_signature_date,second_witness_name,second_witness_signature_obtained,declaration_statement_agreed,legal_notes,created_at,updated_at)>
<!ELEMENT maker_signature_obtained (#PCDATA)>
<!ELEMENT maker_signature_date (#PCDATA)>
<!ELEMENT witness_name (#PCDATA)>
<!ELEMENT witness_address (#PCDATA)>
<!ELEMENT witness_signature_obtained (#PCDATA)>
<!ELEMENT witness_signature_date (#PCDATA)>
<!ELEMENT second_witness_name (#PCDATA)>
<!ELEMENT second_witness_signature_obtained (#PCDATA)>
<!ELEMENT declaration_statement_agreed (#PCDATA)>
<!ELEMENT legal_notes (#PCDATA)>
<!ELEMENT assessment_other_wishes (id,assessment_id,preferred_place_of_care,preferred_place_of_death,spiritual_or_religious_wishes,organ_donation_wishes,organ_donation_details,other_wishes,people_to_notify,created_at,updated_at)>
<!ELEMENT preferred_place_of_care (#PCDATA)>
<!ELEMENT preferred_place_of_death (#PCDATA)>
<!ELEMENT spiritual_or_religious_wishes (#PCDATA)>
<!ELEMENT organ_donation_wishes (#PCDATA)>
<!ELEMENT organ_donation_details (#PCDATA)>
<!ELEMENT other_wishes (#PCDATA)>
<!ELEMENT people_to_notify (#PCDATA)>
<!ELEMENT personal_information (id,assessment_id,full_name,address,postcode,date_of_birth,nhs_number,gp_name,gp_practice,gp_address,gp_phone,created_at,updated_at)>
<!ELEMENT full_name (#PCDATA)>
<!ELEMENT address (#PCDATA)>
<!ELEMENT postcode (#PCDATA)>
<!ELEMENT date_of_birth (#PCDATA)>
<!ELEMENT nhs_number (#PCDATA)>
<!ELEMENT gp_name (#PCDATA)>
<!ELEMENT gp_practice (#PCDATA)>
<!ELEMENT gp_address (#PCDATA)>
<!ELEMENT gp_phone (#PCDATA)>
<!ELEMENT treatments_refused_general (id,assessment_id,refuses_cardiopulmonary_resuscitation,refuses_mechanical_ventilation,refuses_artificial_nutrition,refuses_artificial_hydration,refuses_antibiotics,refuses_blood_transfusion,refuses_dialysis,other_treatments_refused,treatment_refusal_details,created_at,updated_at)>
<!ELEMENT refuses_cardiopulmonary_resuscitation (#PCDATA)>
<!ELEMENT refuses_mechanical_ventilation (#PCDATA)>
<!ELEMENT refuses_artificial_nutrition (#PCDATA)>
<!ELEMENT refuses_artificial_hydration (#PCDATA)>
<!ELEMENT refuses_antibiotics (#PCDATA)>
<!ELEMENT refuses_blood_transfusion (#PCDATA)>
<!ELEMENT refuses_dialysis (#PCDATA)>
<!ELEMENT other_treatments_refused (#PCDATA)>
<!ELEMENT treatment_refusal_details (#PCDATA)>
<!ELEMENT treatments_refused_life_sustaining (id,assessment_id,includes_life_sustaining_treatment,understands_may_result_in_death,life_sustaining_treatments_specified,is_written_and_signed,is_witnessed,witness_confirmation,created_at,updated_at)>
<!ELEMENT includes_life_sustaining_treatment (#PCDATA)>
<!ELEMENT understands_may_result_in_death (#PCDATA)>
<!ELEMENT life_sustaining_treatments_specified (#PCDATA)>
<!ELEMENT is_written_and_signed (#PCDATA)>
<!ELEMENT is_witnessed (#PCDATA)>
<!ELEMENT witness_confirmation (#PCDATA)>
