forms/advance-decision-to-refuse-treatment/xml-representations/assessment_personal_information.dtd

<!ELEMENT assessment_personal_information (id,assessment_id,full_name,address,postcode,date_of_birth,nhs_number,gp_name,gp_practice,gp_address,gp_phone,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT full_name (#PCDATA)>
<!ELEMENT address (#PCDATA)>
<!ELEMENT postcode (#PCDATA)>
<!ELEMENT date_of_birth (#PCDATA)>
<!ELEMENT nhs_number (#PCDATA)>
<!ELEMENT gp_name (#PCDATA)>
<!ELEMENT gp_practice (#PCDATA)>
<!ELEMENT gp_address (#PCDATA)>
<!ELEMENT gp_phone (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
