forms/advance-decision-to-refuse-treatment/xml-representations/assessment_healthcare_professional_review.dtd

<!ELEMENT assessment_healthcare_professional_review (id,assessment_id,reviewed_by_healthcare_professional,reviewer_name,reviewer_role,reviewer_registration_number,review_date,reviewer_confirms_capacity,reviewer_confirms_informed,clinical_notes,concerns_raised,reviewer_signature_obtained,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT reviewed_by_healthcare_professional (#PCDATA)>
<!ELEMENT reviewer_name (#PCDATA)>
<!ELEMENT reviewer_role (#PCDATA)>
<!ELEMENT reviewer_registration_number (#PCDATA)>
<!ELEMENT review_date (#PCDATA)>
<!ELEMENT reviewer_confirms_capacity (#PCDATA)>
<!ELEMENT reviewer_confirms_informed (#PCDATA)>
<!ELEMENT clinical_notes (#PCDATA)>
<!ELEMENT concerns_raised (#PCDATA)>
<!ELEMENT reviewer_signature_obtained (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
