forms/advance-decision-to-refuse-treatment/xml-representations/assessment_treatments_refused_life_sustaining.dtd

<!ELEMENT assessment_treatments_refused_life_sustaining (id,assessment_id,includes_life_sustaining_treatment,understands_may_result_in_death,life_sustaining_treatments_specified,is_written_and_signed,is_witnessed,witness_confirmation,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT includes_life_sustaining_treatment (#PCDATA)>
<!ELEMENT understands_may_result_in_death (#PCDATA)>
<!ELEMENT life_sustaining_treatments_specified (#PCDATA)>
<!ELEMENT is_written_and_signed (#PCDATA)>
<!ELEMENT is_witnessed (#PCDATA)>
<!ELEMENT witness_confirmation (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
