forms/advance-decision-to-refuse-treatment/xml-representations/assessment_legal_signatures.dtd

<!ELEMENT assessment_legal_signatures (id,assessment_id,maker_signature_obtained,maker_signature_date,witness_name,witness_address,witness_signature_obtained,witness_signature_date,second_witness_name,second_witness_signature_obtained,declaration_statement_agreed,legal_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT maker_signature_obtained (#PCDATA)>
<!ELEMENT maker_signature_date (#PCDATA)>
<!ELEMENT witness_name (#PCDATA)>
<!ELEMENT witness_address (#PCDATA)>
<!ELEMENT witness_signature_obtained (#PCDATA)>
<!ELEMENT witness_signature_date (#PCDATA)>
<!ELEMENT second_witness_name (#PCDATA)>
<!ELEMENT second_witness_signature_obtained (#PCDATA)>
<!ELEMENT declaration_statement_agreed (#PCDATA)>
<!ELEMENT legal_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
