forms/advance-decision-to-refuse-treatment/xml-representations/assessment_other_wishes.dtd

<!ELEMENT assessment_other_wishes (id,assessment_id,preferred_place_of_care,preferred_place_of_death,spiritual_or_religious_wishes,organ_donation_wishes,organ_donation_details,other_wishes,people_to_notify,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT preferred_place_of_care (#PCDATA)>
<!ELEMENT preferred_place_of_death (#PCDATA)>
<!ELEMENT spiritual_or_religious_wishes (#PCDATA)>
<!ELEMENT organ_donation_wishes (#PCDATA)>
<!ELEMENT organ_donation_details (#PCDATA)>
<!ELEMENT other_wishes (#PCDATA)>
<!ELEMENT people_to_notify (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
