forms/advance-decision-to-refuse-treatment/xml-representations/assessment_exceptions_conditions.dtd

<!ELEMENT assessment_exceptions_conditions (id,assessment_id,has_exceptions,exception_details,pain_management_wishes,comfort_care_wishes,emergency_exception_details,condition_specific_exceptions,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_exceptions (#PCDATA)>
<!ELEMENT exception_details (#PCDATA)>
<!ELEMENT pain_management_wishes (#PCDATA)>
<!ELEMENT comfort_care_wishes (#PCDATA)>
<!ELEMENT emergency_exception_details (#PCDATA)>
<!ELEMENT condition_specific_exceptions (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
