forms/advance-decision-to-refuse-treatment/xml-representations/assessment_capacity_declaration.dtd

<!ELEMENT assessment_capacity_declaration (id,assessment_id,has_mental_capacity,understands_consequences,made_voluntarily,capacity_assessment_date,capacity_assessor_name,capacity_assessor_role,capacity_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_mental_capacity (#PCDATA)>
<!ELEMENT understands_consequences (#PCDATA)>
<!ELEMENT made_voluntarily (#PCDATA)>
<!ELEMENT capacity_assessment_date (#PCDATA)>
<!ELEMENT capacity_assessor_name (#PCDATA)>
<!ELEMENT capacity_assessor_role (#PCDATA)>
<!ELEMENT capacity_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
