forms/dental-assessment/xml-representations/assessment_current_medications.dtd

<!ELEMENT assessment_current_medications (id,assessment_id,takes_anticoagulants,anticoagulant_name,takes_antiplatelet,antiplatelet_name,takes_bisphosphonates,bisphosphonate_name,takes_immunosuppressants,immunosuppressant_name,takes_steroids,steroid_name,takes_antihypertensives,antihypertensive_name,local_anaesthetic_allergy,anaesthetic_allergy_details,latex_allergy,antibiotic_allergy,antibiotic_allergy_details,other_medications,other_allergies,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT takes_anticoagulants (#PCDATA)>
<!ELEMENT anticoagulant_name (#PCDATA)>
<!ELEMENT takes_antiplatelet (#PCDATA)>
<!ELEMENT antiplatelet_name (#PCDATA)>
<!ELEMENT takes_bisphosphonates (#PCDATA)>
<!ELEMENT bisphosphonate_name (#PCDATA)>
<!ELEMENT takes_immunosuppressants (#PCDATA)>
<!ELEMENT immunosuppressant_name (#PCDATA)>
<!ELEMENT takes_steroids (#PCDATA)>
<!ELEMENT steroid_name (#PCDATA)>
<!ELEMENT takes_antihypertensives (#PCDATA)>
<!ELEMENT antihypertensive_name (#PCDATA)>
<!ELEMENT local_anaesthetic_allergy (#PCDATA)>
<!ELEMENT anaesthetic_allergy_details (#PCDATA)>
<!ELEMENT latex_allergy (#PCDATA)>
<!ELEMENT antibiotic_allergy (#PCDATA)>
<!ELEMENT antibiotic_allergy_details (#PCDATA)>
<!ELEMENT other_medications (#PCDATA)>
<!ELEMENT other_allergies (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
