forms/dental-assessment/xml-representations/assessment_radiographic_findings.dtd

<!ELEMENT assessment_radiographic_findings (id,assessment_id,radiographs_taken,radiograph_type,radiograph_date,periapical_pathology,periapical_details,bone_loss_pattern,bone_loss_severity,bone_loss_details,impacted_teeth,impacted_teeth_details,caries_detected,caries_details,root_resorption,root_resorption_details,other_pathology,other_pathology_details,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT radiographs_taken (#PCDATA)>
<!ELEMENT radiograph_type (#PCDATA)>
<!ELEMENT radiograph_date (#PCDATA)>
<!ELEMENT periapical_pathology (#PCDATA)>
<!ELEMENT periapical_details (#PCDATA)>
<!ELEMENT bone_loss_pattern (#PCDATA)>
<!ELEMENT bone_loss_severity (#PCDATA)>
<!ELEMENT bone_loss_details (#PCDATA)>
<!ELEMENT impacted_teeth (#PCDATA)>
<!ELEMENT impacted_teeth_details (#PCDATA)>
<!ELEMENT caries_detected (#PCDATA)>
<!ELEMENT caries_details (#PCDATA)>
<!ELEMENT root_resorption (#PCDATA)>
<!ELEMENT root_resorption_details (#PCDATA)>
<!ELEMENT other_pathology (#PCDATA)>
<!ELEMENT other_pathology_details (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
