forms/dental-assessment/xml-representations/assessment_periodontal.dtd

<!ELEMENT assessment_periodontal (id,assessment_id,gingival_status,bleeding_on_probing,bleeding_sites,probing_depth_max,probing_depth_mean,clinical_attachment_loss,furcation_involvement,furcation_details,tooth_mobility,mobility_details,plaque_index_score,calculus_present,calculus_location,gingival_recession,recession_details,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT gingival_status (#PCDATA)>
<!ELEMENT bleeding_on_probing (#PCDATA)>
<!ELEMENT bleeding_sites (#PCDATA)>
<!ELEMENT probing_depth_max (#PCDATA)>
<!ELEMENT probing_depth_mean (#PCDATA)>
<!ELEMENT clinical_attachment_loss (#PCDATA)>
<!ELEMENT furcation_involvement (#PCDATA)>
<!ELEMENT furcation_details (#PCDATA)>
<!ELEMENT tooth_mobility (#PCDATA)>
<!ELEMENT mobility_details (#PCDATA)>
<!ELEMENT plaque_index_score (#PCDATA)>
<!ELEMENT calculus_present (#PCDATA)>
<!ELEMENT calculus_location (#PCDATA)>
<!ELEMENT gingival_recession (#PCDATA)>
<!ELEMENT recession_details (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
