forms/dental-assessment/xml-representations/assessment_dental_history.dtd

<!ELEMENT assessment_dental_history (id,assessment_id,last_dental_visit,visit_frequency,previous_extractions,extraction_details,previous_orthodontics,orthodontic_details,previous_endodontics,endodontic_details,previous_prosthetics,prosthetic_details,oral_hygiene_routine,brushing_frequency,flossing_frequency,mouthwash_use,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT last_dental_visit (#PCDATA)>
<!ELEMENT visit_frequency (#PCDATA)>
<!ELEMENT previous_extractions (#PCDATA)>
<!ELEMENT extraction_details (#PCDATA)>
<!ELEMENT previous_orthodontics (#PCDATA)>
<!ELEMENT orthodontic_details (#PCDATA)>
<!ELEMENT previous_endodontics (#PCDATA)>
<!ELEMENT endodontic_details (#PCDATA)>
<!ELEMENT previous_prosthetics (#PCDATA)>
<!ELEMENT prosthetic_details (#PCDATA)>
<!ELEMENT oral_hygiene_routine (#PCDATA)>
<!ELEMENT brushing_frequency (#PCDATA)>
<!ELEMENT flossing_frequency (#PCDATA)>
<!ELEMENT mouthwash_use (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
