forms/dental-assessment/xml-representations/assessment_oral_examination.dtd

<!ELEMENT assessment_oral_examination (id,assessment_id,soft_tissue_status,soft_tissue_findings,tongue_status,tongue_findings,floor_of_mouth_status,floor_of_mouth_findings,palate_status,palate_findings,buccal_mucosa_status,buccal_mucosa_findings,lymph_node_status,lymph_node_findings,tmj_status,tmj_findings,occlusion,occlusion_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT soft_tissue_status (#PCDATA)>
<!ELEMENT soft_tissue_findings (#PCDATA)>
<!ELEMENT tongue_status (#PCDATA)>
<!ELEMENT tongue_findings (#PCDATA)>
<!ELEMENT floor_of_mouth_status (#PCDATA)>
<!ELEMENT floor_of_mouth_findings (#PCDATA)>
<!ELEMENT palate_status (#PCDATA)>
<!ELEMENT palate_findings (#PCDATA)>
<!ELEMENT buccal_mucosa_status (#PCDATA)>
<!ELEMENT buccal_mucosa_findings (#PCDATA)>
<!ELEMENT lymph_node_status (#PCDATA)>
<!ELEMENT lymph_node_findings (#PCDATA)>
<!ELEMENT tmj_status (#PCDATA)>
<!ELEMENT tmj_findings (#PCDATA)>
<!ELEMENT occlusion (#PCDATA)>
<!ELEMENT occlusion_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
