forms/dental-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,assessment_chief_complaint,current_medications,demographics,dental_history,dmft,medical_history,oral_examination,periodontal,radiographic_findings)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT assessment_chief_complaint (id,assessment_id,chief_complaint,onset_date,duration,severity,pain_location,pain_character,aggravating_factors,relieving_factors,previous_treatment,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT chief_complaint (#PCDATA)>
<!ELEMENT onset_date (#PCDATA)>
<!ELEMENT duration (#PCDATA)>
<!ELEMENT severity (#PCDATA)>
<!ELEMENT pain_location (#PCDATA)>
<!ELEMENT pain_character (#PCDATA)>
<!ELEMENT aggravating_factors (#PCDATA)>
<!ELEMENT relieving_factors (#PCDATA)>
<!ELEMENT previous_treatment (#PCDATA)>
<!ELEMENT current_medications (id,assessment_id,takes_anticoagulants,anticoagulant_name,takes_antiplatelet,antiplatelet_name,takes_bisphosphonates,bisphosphonate_name,takes_immunosuppressants,immunosuppressant_name,takes_steroids,steroid_name,takes_antihypertensives,antihypertensive_name,local_anaesthetic_allergy,anaesthetic_allergy_details,latex_allergy,antibiotic_allergy,antibiotic_allergy_details,other_medications,other_allergies,created_at,updated_at)>
<!ELEMENT takes_anticoagulants (#PCDATA)>
<!ELEMENT anticoagulant_name (#PCDATA)>
<!ELEMENT takes_antiplatelet (#PCDATA)>
<!ELEMENT antiplatelet_name (#PCDATA)>
<!ELEMENT takes_bisphosphonates (#PCDATA)>
<!ELEMENT bisphosphonate_name (#PCDATA)>
<!ELEMENT takes_immunosuppressants (#PCDATA)>
<!ELEMENT immunosuppressant_name (#PCDATA)>
<!ELEMENT takes_steroids (#PCDATA)>
<!ELEMENT steroid_name (#PCDATA)>
<!ELEMENT takes_antihypertensives (#PCDATA)>
<!ELEMENT antihypertensive_name (#PCDATA)>
<!ELEMENT local_anaesthetic_allergy (#PCDATA)>
<!ELEMENT anaesthetic_allergy_details (#PCDATA)>
<!ELEMENT latex_allergy (#PCDATA)>
<!ELEMENT antibiotic_allergy (#PCDATA)>
<!ELEMENT antibiotic_allergy_details (#PCDATA)>
<!ELEMENT other_medications (#PCDATA)>
<!ELEMENT other_allergies (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,full_name,date_of_birth,nhs_number,address,telephone,email,gp_name,gp_practice,created_at,updated_at)>
<!ELEMENT full_name (#PCDATA)>
<!ELEMENT date_of_birth (#PCDATA)>
<!ELEMENT nhs_number (#PCDATA)>
<!ELEMENT address (#PCDATA)>
<!ELEMENT telephone (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT gp_name (#PCDATA)>
<!ELEMENT gp_practice (#PCDATA)>
<!ELEMENT dental_history (id,assessment_id,last_dental_visit,visit_frequency,previous_extractions,extraction_details,previous_orthodontics,orthodontic_details,previous_endodontics,endodontic_details,previous_prosthetics,prosthetic_details,oral_hygiene_routine,brushing_frequency,flossing_frequency,mouthwash_use,created_at,updated_at)>
<!ELEMENT last_dental_visit (#PCDATA)>
<!ELEMENT visit_frequency (#PCDATA)>
<!ELEMENT previous_extractions (#PCDATA)>
<!ELEMENT extraction_details (#PCDATA)>
<!ELEMENT previous_orthodontics (#PCDATA)>
<!ELEMENT orthodontic_details (#PCDATA)>
<!ELEMENT previous_endodontics (#PCDATA)>
<!ELEMENT endodontic_details (#PCDATA)>
<!ELEMENT previous_prosthetics (#PCDATA)>
<!ELEMENT prosthetic_details (#PCDATA)>
<!ELEMENT oral_hygiene_routine (#PCDATA)>
<!ELEMENT brushing_frequency (#PCDATA)>
<!ELEMENT flossing_frequency (#PCDATA)>
<!ELEMENT mouthwash_use (#PCDATA)>
<!ELEMENT dmft (id,assessment_id,decayed_teeth,missing_teeth,filled_teeth,dmft_total,decayed_tooth_numbers,missing_tooth_numbers,filled_tooth_numbers,caries_activity,notes,created_at,updated_at)>
<!ELEMENT decayed_teeth (#PCDATA)>
<!ELEMENT missing_teeth (#PCDATA)>
<!ELEMENT filled_teeth (#PCDATA)>
<!ELEMENT dmft_total (#PCDATA)>
<!ELEMENT decayed_tooth_numbers (#PCDATA)>
<!ELEMENT missing_tooth_numbers (#PCDATA)>
<!ELEMENT filled_tooth_numbers (#PCDATA)>
<!ELEMENT caries_activity (#PCDATA)>
<!ELEMENT notes (#PCDATA)>
<!ELEMENT medical_history (id,assessment_id,has_cardiovascular_disease,cardiovascular_details,has_diabetes,diabetes_type,has_bleeding_disorder,bleeding_disorder_details,has_respiratory_disease,respiratory_details,has_hepatitis,hepatitis_type,has_hiv,has_epilepsy,has_osteoporosis,bisphosphonate_use,has_immunosuppression,immunosuppression_details,is_pregnant,pregnancy_trimester,tobacco_use,alcohol_use,other_conditions,created_at,updated_at)>
<!ELEMENT has_cardiovascular_disease (#PCDATA)>
<!ELEMENT cardiovascular_details (#PCDATA)>
<!ELEMENT has_diabetes (#PCDATA)>
<!ELEMENT diabetes_type (#PCDATA)>
<!ELEMENT has_bleeding_disorder (#PCDATA)>
<!ELEMENT bleeding_disorder_details (#PCDATA)>
<!ELEMENT has_respiratory_disease (#PCDATA)>
<!ELEMENT respiratory_details (#PCDATA)>
<!ELEMENT has_hepatitis (#PCDATA)>
<!ELEMENT hepatitis_type (#PCDATA)>
<!ELEMENT has_hiv (#PCDATA)>
<!ELEMENT has_epilepsy (#PCDATA)>
<!ELEMENT has_osteoporosis (#PCDATA)>
<!ELEMENT bisphosphonate_use (#PCDATA)>
<!ELEMENT has_immunosuppression (#PCDATA)>
<!ELEMENT immunosuppression_details (#PCDATA)>
<!ELEMENT is_pregnant (#PCDATA)>
<!ELEMENT pregnancy_trimester (#PCDATA)>
<!ELEMENT tobacco_use (#PCDATA)>
<!ELEMENT alcohol_use (#PCDATA)>
<!ELEMENT other_conditions (#PCDATA)>
<!ELEMENT oral_examination (id,assessment_id,soft_tissue_status,soft_tissue_findings,tongue_status,tongue_findings,floor_of_mouth_status,floor_of_mouth_findings,palate_status,palate_findings,buccal_mucosa_status,buccal_mucosa_findings,lymph_node_status,lymph_node_findings,tmj_status,tmj_findings,occlusion,occlusion_notes,created_at,updated_at)>
<!ELEMENT soft_tissue_status (#PCDATA)>
<!ELEMENT soft_tissue_findings (#PCDATA)>
<!ELEMENT tongue_status (#PCDATA)>
<!ELEMENT tongue_findings (#PCDATA)>
<!ELEMENT floor_of_mouth_status (#PCDATA)>
<!ELEMENT floor_of_mouth_findings (#PCDATA)>
<!ELEMENT palate_status (#PCDATA)>
<!ELEMENT palate_findings (#PCDATA)>
<!ELEMENT buccal_mucosa_status (#PCDATA)>
<!ELEMENT buccal_mucosa_findings (#PCDATA)>
<!ELEMENT lymph_node_status (#PCDATA)>
<!ELEMENT lymph_node_findings (#PCDATA)>
<!ELEMENT tmj_status (#PCDATA)>
<!ELEMENT tmj_findings (#PCDATA)>
<!ELEMENT occlusion (#PCDATA)>
<!ELEMENT occlusion_notes (#PCDATA)>
<!ELEMENT periodontal (id,assessment_id,gingival_status,bleeding_on_probing,bleeding_sites,probing_depth_max,probing_depth_mean,clinical_attachment_loss,furcation_involvement,furcation_details,tooth_mobility,mobility_details,plaque_index_score,calculus_present,calculus_location,gingival_recession,recession_details,created_at,updated_at)>
<!ELEMENT gingival_status (#PCDATA)>
<!ELEMENT bleeding_on_probing (#PCDATA)>
<!ELEMENT bleeding_sites (#PCDATA)>
<!ELEMENT probing_depth_max (#PCDATA)>
<!ELEMENT probing_depth_mean (#PCDATA)>
<!ELEMENT clinical_attachment_loss (#PCDATA)>
<!ELEMENT furcation_involvement (#PCDATA)>
<!ELEMENT furcation_details (#PCDATA)>
<!ELEMENT tooth_mobility (#PCDATA)>
<!ELEMENT mobility_details (#PCDATA)>
<!ELEMENT plaque_index_score (#PCDATA)>
<!ELEMENT calculus_present (#PCDATA)>
<!ELEMENT calculus_location (#PCDATA)>
<!ELEMENT gingival_recession (#PCDATA)>
<!ELEMENT recession_details (#PCDATA)>
<!ELEMENT radiographic_findings (id,assessment_id,radiographs_taken,radiograph_type,radiograph_date,periapical_pathology,periapical_details,bone_loss_pattern,bone_loss_severity,bone_loss_details,impacted_teeth,impacted_teeth_details,caries_detected,caries_details,root_resorption,root_resorption_details,other_pathology,other_pathology_details,additional_notes,created_at,updated_at)>
<!ELEMENT radiographs_taken (#PCDATA)>
<!ELEMENT radiograph_type (#PCDATA)>
<!ELEMENT radiograph_date (#PCDATA)>
<!ELEMENT periapical_pathology (#PCDATA)>
<!ELEMENT periapical_details (#PCDATA)>
<!ELEMENT bone_loss_pattern (#PCDATA)>
<!ELEMENT bone_loss_severity (#PCDATA)>
<!ELEMENT bone_loss_details (#PCDATA)>
<!ELEMENT impacted_teeth (#PCDATA)>
<!ELEMENT impacted_teeth_details (#PCDATA)>
<!ELEMENT caries_detected (#PCDATA)>
<!ELEMENT caries_details (#PCDATA)>
<!ELEMENT root_resorption (#PCDATA)>
<!ELEMENT root_resorption_details (#PCDATA)>
<!ELEMENT other_pathology (#PCDATA)>
<!ELEMENT other_pathology_details (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
