forms/dental-assessment/xml-representations/assessment_medical_history.dtd

<!ELEMENT assessment_medical_history (id,assessment_id,has_cardiovascular_disease,cardiovascular_details,has_diabetes,diabetes_type,has_bleeding_disorder,bleeding_disorder_details,has_respiratory_disease,respiratory_details,has_hepatitis,hepatitis_type,has_hiv,has_epilepsy,has_osteoporosis,bisphosphonate_use,has_immunosuppression,immunosuppression_details,is_pregnant,pregnancy_trimester,tobacco_use,alcohol_use,other_conditions,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_cardiovascular_disease (#PCDATA)>
<!ELEMENT cardiovascular_details (#PCDATA)>
<!ELEMENT has_diabetes (#PCDATA)>
<!ELEMENT diabetes_type (#PCDATA)>
<!ELEMENT has_bleeding_disorder (#PCDATA)>
<!ELEMENT bleeding_disorder_details (#PCDATA)>
<!ELEMENT has_respiratory_disease (#PCDATA)>
<!ELEMENT respiratory_details (#PCDATA)>
<!ELEMENT has_hepatitis (#PCDATA)>
<!ELEMENT hepatitis_type (#PCDATA)>
<!ELEMENT has_hiv (#PCDATA)>
<!ELEMENT has_epilepsy (#PCDATA)>
<!ELEMENT has_osteoporosis (#PCDATA)>
<!ELEMENT bisphosphonate_use (#PCDATA)>
<!ELEMENT has_immunosuppression (#PCDATA)>
<!ELEMENT immunosuppression_details (#PCDATA)>
<!ELEMENT is_pregnant (#PCDATA)>
<!ELEMENT pregnancy_trimester (#PCDATA)>
<!ELEMENT tobacco_use (#PCDATA)>
<!ELEMENT alcohol_use (#PCDATA)>
<!ELEMENT other_conditions (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
