forms/organ-donation-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,demographics,donor_type_registration,eligibility_allocation,ethical_legal,immunological,infectious_disease,medical_history,organ_function,psychological,surgical)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,preferred_name,gender_identity,ethnicity,preferred_language,interpreter_required,blood_group,gp_name,gp_practice,referrer_name,referrer_role,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT preferred_name (#PCDATA)>
<!ELEMENT gender_identity (#PCDATA)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT preferred_language (#PCDATA)>
<!ELEMENT interpreter_required (#PCDATA)>
<!ELEMENT blood_group (#PCDATA)>
<!ELEMENT gp_name (#PCDATA)>
<!ELEMENT gp_practice (#PCDATA)>
<!ELEMENT referrer_name (#PCDATA)>
<!ELEMENT referrer_role (#PCDATA)>
<!ELEMENT donor_type_registration (id,assessment_id,donor_type,registered_donor,organ_donor_register_checked,advance_directive,advance_directive_details,organs_offered,relationship_to_recipient,cause_of_death,cause_of_death_details,time_of_death,warm_ischaemia_minutes,donor_type_notes,created_at,updated_at)>
<!ELEMENT donor_type (#PCDATA)>
<!ELEMENT registered_donor (#PCDATA)>
<!ELEMENT organ_donor_register_checked (#PCDATA)>
<!ELEMENT advance_directive (#PCDATA)>
<!ELEMENT advance_directive_details (#PCDATA)>
<!ELEMENT organs_offered (#PCDATA)>
<!ELEMENT relationship_to_recipient (#PCDATA)>
<!ELEMENT cause_of_death (#PCDATA)>
<!ELEMENT cause_of_death_details (#PCDATA)>
<!ELEMENT time_of_death (#PCDATA)>
<!ELEMENT warm_ischaemia_minutes (#PCDATA)>
<!ELEMENT donor_type_notes (#PCDATA)>
<!ELEMENT eligibility_allocation (id,assessment_id,eligibility,expanded_criteria_donor,organs_approved,organs_declined,decline_reason,nhsbt_referral_made,nhsbt_reference,allocation_priority,lead_clinician,decision_date,decision_notes,created_at,updated_at)>
<!ELEMENT eligibility (#PCDATA)>
<!ELEMENT expanded_criteria_donor (#PCDATA)>
<!ELEMENT organs_approved (#PCDATA)>
<!ELEMENT organs_declined (#PCDATA)>
<!ELEMENT decline_reason (#PCDATA)>
<!ELEMENT nhsbt_referral_made (#PCDATA)>
<!ELEMENT nhsbt_reference (#PCDATA)>
<!ELEMENT allocation_priority (#PCDATA)>
<!ELEMENT lead_clinician (#PCDATA)>
<!ELEMENT decision_date (#PCDATA)>
<!ELEMENT decision_notes (#PCDATA)>
<!ELEMENT ethical_legal (id,assessment_id,consent_type,consent_obtained,consent_date,next_of_kin_consulted,next_of_kin_name,next_of_kin_relationship,coroner_notified,coroner_consent,hta_authorisation,hta_reference,independent_assessor_approved,ethics_committee_review,legal_notes,created_at,updated_at)>
<!ELEMENT consent_type (#PCDATA)>
<!ELEMENT consent_obtained (#PCDATA)>
<!ELEMENT consent_date (#PCDATA)>
<!ELEMENT next_of_kin_consulted (#PCDATA)>
<!ELEMENT next_of_kin_name (#PCDATA)>
<!ELEMENT next_of_kin_relationship (#PCDATA)>
<!ELEMENT coroner_notified (#PCDATA)>
<!ELEMENT coroner_consent (#PCDATA)>
<!ELEMENT hta_authorisation (#PCDATA)>
<!ELEMENT hta_reference (#PCDATA)>
<!ELEMENT independent_assessor_approved (#PCDATA)>
<!ELEMENT ethics_committee_review (#PCDATA)>
<!ELEMENT legal_notes (#PCDATA)>
<!ELEMENT immunological (id,assessment_id,hla_typing_completed,hla_a,hla_b,hla_dr,hla_dq,crossmatch_performed,crossmatch_result,pra_percentage,donor_specific_antibodies,donor_specific_antibodies_details,abo_compatibility,immunological_notes,created_at,updated_at)>
<!ELEMENT hla_typing_completed (#PCDATA)>
<!ELEMENT hla_a (#PCDATA)>
<!ELEMENT hla_b (#PCDATA)>
<!ELEMENT hla_dr (#PCDATA)>
<!ELEMENT hla_dq (#PCDATA)>
<!ELEMENT crossmatch_performed (#PCDATA)>
<!ELEMENT crossmatch_result (#PCDATA)>
<!ELEMENT pra_percentage (#PCDATA)>
<!ELEMENT donor_specific_antibodies (#PCDATA)>
<!ELEMENT donor_specific_antibodies_details (#PCDATA)>
<!ELEMENT abo_compatibility (#PCDATA)>
<!ELEMENT immunological_notes (#PCDATA)>
<!ELEMENT infectious_disease (id,assessment_id,hiv_status,hepatitis_b_surface_antigen,hepatitis_b_core_antibody,hepatitis_c_antibody,hepatitis_c_nat,cmv_status,ebv_status,syphilis_screen,htlv_status,toxoplasma_status,tuberculosis_screen,mrsa_screen,blood_cultures_taken,blood_culture_result,blood_culture_organism,active_infection,active_infection_details,infectious_disease_notes,created_at,updated_at)>
<!ELEMENT hiv_status (#PCDATA)>
<!ELEMENT hepatitis_b_surface_antigen (#PCDATA)>
<!ELEMENT hepatitis_b_core_antibody (#PCDATA)>
<!ELEMENT hepatitis_c_antibody (#PCDATA)>
<!ELEMENT hepatitis_c_nat (#PCDATA)>
<!ELEMENT cmv_status (#PCDATA)>
<!ELEMENT ebv_status (#PCDATA)>
<!ELEMENT syphilis_screen (#PCDATA)>
<!ELEMENT htlv_status (#PCDATA)>
<!ELEMENT toxoplasma_status (#PCDATA)>
<!ELEMENT tuberculosis_screen (#PCDATA)>
<!ELEMENT mrsa_screen (#PCDATA)>
<!ELEMENT blood_cultures_taken (#PCDATA)>
<!ELEMENT blood_culture_result (#PCDATA)>
<!ELEMENT blood_culture_organism (#PCDATA)>
<!ELEMENT active_infection (#PCDATA)>
<!ELEMENT active_infection_details (#PCDATA)>
<!ELEMENT infectious_disease_notes (#PCDATA)>
<!ELEMENT medical_history (id,assessment_id,hypertension,hypertension_duration_years,diabetes,diabetes_type,diabetes_duration_years,malignancy_history,malignancy_details,malignancy_remission_years,autoimmune_disease,autoimmune_details,smoking,smoking_pack_years,alcohol,iv_drug_use,previous_surgery,previous_surgery_details,medical_history_notes,created_at,updated_at)>
<!ELEMENT hypertension (#PCDATA)>
<!ELEMENT hypertension_duration_years (#PCDATA)>
<!ELEMENT diabetes (#PCDATA)>
<!ELEMENT diabetes_type (#PCDATA)>
<!ELEMENT diabetes_duration_years (#PCDATA)>
<!ELEMENT malignancy_history (#PCDATA)>
<!ELEMENT malignancy_details (#PCDATA)>
<!ELEMENT malignancy_remission_years (#PCDATA)>
<!ELEMENT autoimmune_disease (#PCDATA)>
<!ELEMENT autoimmune_details (#PCDATA)>
<!ELEMENT smoking (#PCDATA)>
<!ELEMENT smoking_pack_years (#PCDATA)>
<!ELEMENT alcohol (#PCDATA)>
<!ELEMENT iv_drug_use (#PCDATA)>
<!ELEMENT previous_surgery (#PCDATA)>
<!ELEMENT previous_surgery_details (#PCDATA)>
<!ELEMENT medical_history_notes (#PCDATA)>
<!ELEMENT organ_function (id,assessment_id,serum_creatinine,egfr,proteinuria,renal_ultrasound_normal,renal_ultrasound_findings,alt,ast,bilirubin,albumin,inr,liver_steatosis,ecg_normal,ecg_findings,echo_performed,lvef,echo_findings,troponin,pao2,fio2,pf_ratio,chest_xray_normal,chest_xray_findings,bronchoscopy_performed,bronchoscopy_findings,organ_function_notes,created_at,updated_at)>
<!ELEMENT serum_creatinine (#PCDATA)>
<!ELEMENT egfr (#PCDATA)>
<!ELEMENT proteinuria (#PCDATA)>
<!ELEMENT renal_ultrasound_normal (#PCDATA)>
<!ELEMENT renal_ultrasound_findings (#PCDATA)>
<!ELEMENT alt (#PCDATA)>
<!ELEMENT ast (#PCDATA)>
<!ELEMENT bilirubin (#PCDATA)>
<!ELEMENT albumin (#PCDATA)>
<!ELEMENT inr (#PCDATA)>
<!ELEMENT liver_steatosis (#PCDATA)>
<!ELEMENT ecg_normal (#PCDATA)>
<!ELEMENT ecg_findings (#PCDATA)>
<!ELEMENT echo_performed (#PCDATA)>
<!ELEMENT lvef (#PCDATA)>
<!ELEMENT echo_findings (#PCDATA)>
<!ELEMENT troponin (#PCDATA)>
<!ELEMENT pao2 (#PCDATA)>
<!ELEMENT fio2 (#PCDATA)>
<!ELEMENT pf_ratio (#PCDATA)>
<!ELEMENT chest_xray_normal (#PCDATA)>
<!ELEMENT chest_xray_findings (#PCDATA)>
<!ELEMENT bronchoscopy_performed (#PCDATA)>
<!ELEMENT bronchoscopy_findings (#PCDATA)>
<!ELEMENT organ_function_notes (#PCDATA)>
<!ELEMENT psychological (id,assessment_id,living_donor,independent_assessment_completed,assessor_name,assessor_role,voluntary_consent,coercion_concerns,coercion_details,understands_risks,understands_alternatives,mental_health_history,mental_health_details,capacity_to_consent,support_network_adequate,financial_incentive,psychological_notes,created_at,updated_at)>
<!ELEMENT living_donor (#PCDATA)>
<!ELEMENT independent_assessment_completed (#PCDATA)>
<!ELEMENT assessor_name (#PCDATA)>
<!ELEMENT assessor_role (#PCDATA)>
<!ELEMENT voluntary_consent (#PCDATA)>
<!ELEMENT coercion_concerns (#PCDATA)>
<!ELEMENT coercion_details (#PCDATA)>
<!ELEMENT understands_risks (#PCDATA)>
<!ELEMENT understands_alternatives (#PCDATA)>
<!ELEMENT mental_health_history (#PCDATA)>
<!ELEMENT mental_health_details (#PCDATA)>
<!ELEMENT capacity_to_consent (#PCDATA)>
<!ELEMENT support_network_adequate (#PCDATA)>
<!ELEMENT financial_incentive (#PCDATA)>
<!ELEMENT psychological_notes (#PCDATA)>
<!ELEMENT surgical (id,assessment_id,abdominal_anatomy_normal,abdominal_anatomy_findings,vascular_anatomy_normal,vascular_anatomy_findings,ct_angiogram_performed,ct_angiogram_findings,number_of_renal_arteries,previous_abdominal_surgery,previous_abdominal_surgery_details,anaesthetic_risk,surgical_fitness,surgical_notes,created_at,updated_at)>
<!ELEMENT abdominal_anatomy_normal (#PCDATA)>
<!ELEMENT abdominal_anatomy_findings (#PCDATA)>
<!ELEMENT vascular_anatomy_normal (#PCDATA)>
<!ELEMENT vascular_anatomy_findings (#PCDATA)>
<!ELEMENT ct_angiogram_performed (#PCDATA)>
<!ELEMENT ct_angiogram_findings (#PCDATA)>
<!ELEMENT number_of_renal_arteries (#PCDATA)>
<!ELEMENT previous_abdominal_surgery (#PCDATA)>
<!ELEMENT previous_abdominal_surgery_details (#PCDATA)>
<!ELEMENT anaesthetic_risk (#PCDATA)>
<!ELEMENT surgical_fitness (#PCDATA)>
<!ELEMENT surgical_notes (#PCDATA)>
