forms/organ-donation-assessment/xml-representations/assessment_demographics.dtd

<!ELEMENT assessment_demographics (id,assessment_id,preferred_name,gender_identity,ethnicity,preferred_language,interpreter_required,blood_group,gp_name,gp_practice,referrer_name,referrer_role,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT preferred_name (#PCDATA)>
<!ELEMENT gender_identity (#PCDATA)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT preferred_language (#PCDATA)>
<!ELEMENT interpreter_required (#PCDATA)>
<!ELEMENT blood_group (#PCDATA)>
<!ELEMENT gp_name (#PCDATA)>
<!ELEMENT gp_practice (#PCDATA)>
<!ELEMENT referrer_name (#PCDATA)>
<!ELEMENT referrer_role (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
