forms/organ-donation-assessment/xml-representations/assessment_medical_history.dtd

<!ELEMENT assessment_medical_history (id,assessment_id,hypertension,hypertension_duration_years,diabetes,diabetes_type,diabetes_duration_years,malignancy_history,malignancy_details,malignancy_remission_years,autoimmune_disease,autoimmune_details,smoking,smoking_pack_years,alcohol,iv_drug_use,previous_surgery,previous_surgery_details,medical_history_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT hypertension (#PCDATA)>
<!ELEMENT hypertension_duration_years (#PCDATA)>
<!ELEMENT diabetes (#PCDATA)>
<!ELEMENT diabetes_type (#PCDATA)>
<!ELEMENT diabetes_duration_years (#PCDATA)>
<!ELEMENT malignancy_history (#PCDATA)>
<!ELEMENT malignancy_details (#PCDATA)>
<!ELEMENT malignancy_remission_years (#PCDATA)>
<!ELEMENT autoimmune_disease (#PCDATA)>
<!ELEMENT autoimmune_details (#PCDATA)>
<!ELEMENT smoking (#PCDATA)>
<!ELEMENT smoking_pack_years (#PCDATA)>
<!ELEMENT alcohol (#PCDATA)>
<!ELEMENT iv_drug_use (#PCDATA)>
<!ELEMENT previous_surgery (#PCDATA)>
<!ELEMENT previous_surgery_details (#PCDATA)>
<!ELEMENT medical_history_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
