forms/organ-donation-assessment/xml-representations/assessment_organ_function.dtd

<!ELEMENT assessment_organ_function (id,assessment_id,serum_creatinine,egfr,proteinuria,renal_ultrasound_normal,renal_ultrasound_findings,alt,ast,bilirubin,albumin,inr,liver_steatosis,ecg_normal,ecg_findings,echo_performed,lvef,echo_findings,troponin,pao2,fio2,pf_ratio,chest_xray_normal,chest_xray_findings,bronchoscopy_performed,bronchoscopy_findings,organ_function_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT serum_creatinine (#PCDATA)>
<!ELEMENT egfr (#PCDATA)>
<!ELEMENT proteinuria (#PCDATA)>
<!ELEMENT renal_ultrasound_normal (#PCDATA)>
<!ELEMENT renal_ultrasound_findings (#PCDATA)>
<!ELEMENT alt (#PCDATA)>
<!ELEMENT ast (#PCDATA)>
<!ELEMENT bilirubin (#PCDATA)>
<!ELEMENT albumin (#PCDATA)>
<!ELEMENT inr (#PCDATA)>
<!ELEMENT liver_steatosis (#PCDATA)>
<!ELEMENT ecg_normal (#PCDATA)>
<!ELEMENT ecg_findings (#PCDATA)>
<!ELEMENT echo_performed (#PCDATA)>
<!ELEMENT lvef (#PCDATA)>
<!ELEMENT echo_findings (#PCDATA)>
<!ELEMENT troponin (#PCDATA)>
<!ELEMENT pao2 (#PCDATA)>
<!ELEMENT fio2 (#PCDATA)>
<!ELEMENT pf_ratio (#PCDATA)>
<!ELEMENT chest_xray_normal (#PCDATA)>
<!ELEMENT chest_xray_findings (#PCDATA)>
<!ELEMENT bronchoscopy_performed (#PCDATA)>
<!ELEMENT bronchoscopy_findings (#PCDATA)>
<!ELEMENT organ_function_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
