forms/organ-donation-assessment/xml-representations/assessment_ethical_legal.dtd

<!ELEMENT assessment_ethical_legal (id,assessment_id,consent_type,consent_obtained,consent_date,next_of_kin_consulted,next_of_kin_name,next_of_kin_relationship,coroner_notified,coroner_consent,hta_authorisation,hta_reference,independent_assessor_approved,ethics_committee_review,legal_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT consent_type (#PCDATA)>
<!ELEMENT consent_obtained (#PCDATA)>
<!ELEMENT consent_date (#PCDATA)>
<!ELEMENT next_of_kin_consulted (#PCDATA)>
<!ELEMENT next_of_kin_name (#PCDATA)>
<!ELEMENT next_of_kin_relationship (#PCDATA)>
<!ELEMENT coroner_notified (#PCDATA)>
<!ELEMENT coroner_consent (#PCDATA)>
<!ELEMENT hta_authorisation (#PCDATA)>
<!ELEMENT hta_reference (#PCDATA)>
<!ELEMENT independent_assessor_approved (#PCDATA)>
<!ELEMENT ethics_committee_review (#PCDATA)>
<!ELEMENT legal_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
