forms/organ-donation-assessment/xml-representations/assessment_immunological.dtd

<!ELEMENT assessment_immunological (id,assessment_id,hla_typing_completed,hla_a,hla_b,hla_dr,hla_dq,crossmatch_performed,crossmatch_result,pra_percentage,donor_specific_antibodies,donor_specific_antibodies_details,abo_compatibility,immunological_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT hla_typing_completed (#PCDATA)>
<!ELEMENT hla_a (#PCDATA)>
<!ELEMENT hla_b (#PCDATA)>
<!ELEMENT hla_dr (#PCDATA)>
<!ELEMENT hla_dq (#PCDATA)>
<!ELEMENT crossmatch_performed (#PCDATA)>
<!ELEMENT crossmatch_result (#PCDATA)>
<!ELEMENT pra_percentage (#PCDATA)>
<!ELEMENT donor_specific_antibodies (#PCDATA)>
<!ELEMENT donor_specific_antibodies_details (#PCDATA)>
<!ELEMENT abo_compatibility (#PCDATA)>
<!ELEMENT immunological_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
