forms/organ-donation-assessment/xml-representations/assessment_infectious_disease.dtd

<!ELEMENT assessment_infectious_disease (id,assessment_id,hiv_status,hepatitis_b_surface_antigen,hepatitis_b_core_antibody,hepatitis_c_antibody,hepatitis_c_nat,cmv_status,ebv_status,syphilis_screen,htlv_status,toxoplasma_status,tuberculosis_screen,mrsa_screen,blood_cultures_taken,blood_culture_result,blood_culture_organism,active_infection,active_infection_details,infectious_disease_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT hiv_status (#PCDATA)>
<!ELEMENT hepatitis_b_surface_antigen (#PCDATA)>
<!ELEMENT hepatitis_b_core_antibody (#PCDATA)>
<!ELEMENT hepatitis_c_antibody (#PCDATA)>
<!ELEMENT hepatitis_c_nat (#PCDATA)>
<!ELEMENT cmv_status (#PCDATA)>
<!ELEMENT ebv_status (#PCDATA)>
<!ELEMENT syphilis_screen (#PCDATA)>
<!ELEMENT htlv_status (#PCDATA)>
<!ELEMENT toxoplasma_status (#PCDATA)>
<!ELEMENT tuberculosis_screen (#PCDATA)>
<!ELEMENT mrsa_screen (#PCDATA)>
<!ELEMENT blood_cultures_taken (#PCDATA)>
<!ELEMENT blood_culture_result (#PCDATA)>
<!ELEMENT blood_culture_organism (#PCDATA)>
<!ELEMENT active_infection (#PCDATA)>
<!ELEMENT active_infection_details (#PCDATA)>
<!ELEMENT infectious_disease_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
