forms/organ-donation-assessment/xml-representations/assessment_psychological.dtd

<!ELEMENT assessment_psychological (id,assessment_id,living_donor,independent_assessment_completed,assessor_name,assessor_role,voluntary_consent,coercion_concerns,coercion_details,understands_risks,understands_alternatives,mental_health_history,mental_health_details,capacity_to_consent,support_network_adequate,financial_incentive,psychological_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT living_donor (#PCDATA)>
<!ELEMENT independent_assessment_completed (#PCDATA)>
<!ELEMENT assessor_name (#PCDATA)>
<!ELEMENT assessor_role (#PCDATA)>
<!ELEMENT voluntary_consent (#PCDATA)>
<!ELEMENT coercion_concerns (#PCDATA)>
<!ELEMENT coercion_details (#PCDATA)>
<!ELEMENT understands_risks (#PCDATA)>
<!ELEMENT understands_alternatives (#PCDATA)>
<!ELEMENT mental_health_history (#PCDATA)>
<!ELEMENT mental_health_details (#PCDATA)>
<!ELEMENT capacity_to_consent (#PCDATA)>
<!ELEMENT support_network_adequate (#PCDATA)>
<!ELEMENT financial_incentive (#PCDATA)>
<!ELEMENT psychological_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
