forms/organ-donation-assessment/xml-representations/grading_result.dtd

<!ELEMENT grading_result (id,assessment_id,eligibility,overall_risk_level,donor_risk_index,graded_at,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT eligibility (#PCDATA)>
<!ELEMENT overall_risk_level (#PCDATA)>
<!ELEMENT donor_risk_index (#PCDATA)>
<!ELEMENT graded_at (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
