forms/patient-satisfaction-survey/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,access_waiting_times,clinical_care_quality,comments_suggestions,communication_information,demographics,discharge_follow_up,environment_facilities,overall_experience,staff_attitude,visit_details)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT access_waiting_times (id,assessment_id,ease_of_booking,waiting_time_for_appointment,waiting_time_on_day,reception_service,signage_wayfinding,parking_transport,actual_wait_minutes,access_notes,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT ease_of_booking (#PCDATA)>
<!ELEMENT waiting_time_for_appointment (#PCDATA)>
<!ELEMENT waiting_time_on_day (#PCDATA)>
<!ELEMENT reception_service (#PCDATA)>
<!ELEMENT signage_wayfinding (#PCDATA)>
<!ELEMENT parking_transport (#PCDATA)>
<!ELEMENT actual_wait_minutes (#PCDATA)>
<!ELEMENT access_notes (#PCDATA)>
<!ELEMENT clinical_care_quality (id,assessment_id,confidence_in_clinician,thoroughness_of_examination,pain_management,involvement_in_decisions,privacy_during_examination,coordination_of_care,clinical_care_notes,created_at,updated_at)>
<!ELEMENT confidence_in_clinician (#PCDATA)>
<!ELEMENT thoroughness_of_examination (#PCDATA)>
<!ELEMENT pain_management (#PCDATA)>
<!ELEMENT involvement_in_decisions (#PCDATA)>
<!ELEMENT privacy_during_examination (#PCDATA)>
<!ELEMENT coordination_of_care (#PCDATA)>
<!ELEMENT clinical_care_notes (#PCDATA)>
<!ELEMENT comments_suggestions (id,assessment_id,what_went_well,what_could_improve,specific_staff_praise,complaint_raised,complaint_details,additional_comments,consent_to_contact,contact_email,contact_phone,created_at,updated_at)>
<!ELEMENT what_went_well (#PCDATA)>
<!ELEMENT what_could_improve (#PCDATA)>
<!ELEMENT specific_staff_praise (#PCDATA)>
<!ELEMENT complaint_raised (#PCDATA)>
<!ELEMENT complaint_details (#PCDATA)>
<!ELEMENT additional_comments (#PCDATA)>
<!ELEMENT consent_to_contact (#PCDATA)>
<!ELEMENT contact_email (#PCDATA)>
<!ELEMENT contact_phone (#PCDATA)>
<!ELEMENT communication_information (id,assessment_id,explanation_of_condition,explanation_of_treatment,opportunity_to_ask_questions,listened_to,informed_about_medication,written_information_quality,communication_notes,created_at,updated_at)>
<!ELEMENT explanation_of_condition (#PCDATA)>
<!ELEMENT explanation_of_treatment (#PCDATA)>
<!ELEMENT opportunity_to_ask_questions (#PCDATA)>
<!ELEMENT listened_to (#PCDATA)>
<!ELEMENT informed_about_medication (#PCDATA)>
<!ELEMENT written_information_quality (#PCDATA)>
<!ELEMENT communication_notes (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,preferred_name,gender_identity,age_range,ethnicity,preferred_language,interpreter_required,postcode_area,created_at,updated_at)>
<!ELEMENT preferred_name (#PCDATA)>
<!ELEMENT gender_identity (#PCDATA)>
<!ELEMENT age_range (#PCDATA)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT preferred_language (#PCDATA)>
<!ELEMENT interpreter_required (#PCDATA)>
<!ELEMENT postcode_area (#PCDATA)>
<!ELEMENT discharge_follow_up (id,assessment_id,discharge_information,medication_explanation,follow_up_arrangements,knew_who_to_contact,recovery_information,care_plan_clarity,discharge_notes,created_at,updated_at)>
<!ELEMENT discharge_information (#PCDATA)>
<!ELEMENT medication_explanation (#PCDATA)>
<!ELEMENT follow_up_arrangements (#PCDATA)>
<!ELEMENT knew_who_to_contact (#PCDATA)>
<!ELEMENT recovery_information (#PCDATA)>
<!ELEMENT care_plan_clarity (#PCDATA)>
<!ELEMENT discharge_notes (#PCDATA)>
<!ELEMENT environment_facilities (id,assessment_id,cleanliness,comfort,noise_levels,food_quality,toilet_facilities,temperature_comfort,environment_notes,created_at,updated_at)>
<!ELEMENT cleanliness (#PCDATA)>
<!ELEMENT comfort (#PCDATA)>
<!ELEMENT noise_levels (#PCDATA)>
<!ELEMENT food_quality (#PCDATA)>
<!ELEMENT toilet_facilities (#PCDATA)>
<!ELEMENT temperature_comfort (#PCDATA)>
<!ELEMENT environment_notes (#PCDATA)>
<!ELEMENT overall_experience (id,assessment_id,overall_satisfaction,would_recommend,met_expectations,felt_safe,would_return,nhs_rating,overall_experience_notes,created_at,updated_at)>
<!ELEMENT overall_satisfaction (#PCDATA)>
<!ELEMENT would_recommend (#PCDATA)>
<!ELEMENT met_expectations (#PCDATA)>
<!ELEMENT felt_safe (#PCDATA)>
<!ELEMENT would_return (#PCDATA)>
<!ELEMENT nhs_rating (#PCDATA)>
<!ELEMENT overall_experience_notes (#PCDATA)>
<!ELEMENT staff_attitude (id,assessment_id,doctor_courtesy,nurse_courtesy,reception_courtesy,respect_for_dignity,cultural_sensitivity,emotional_support,staff_attitude_notes,created_at,updated_at)>
<!ELEMENT doctor_courtesy (#PCDATA)>
<!ELEMENT nurse_courtesy (#PCDATA)>
<!ELEMENT reception_courtesy (#PCDATA)>
<!ELEMENT respect_for_dignity (#PCDATA)>
<!ELEMENT cultural_sensitivity (#PCDATA)>
<!ELEMENT emotional_support (#PCDATA)>
<!ELEMENT staff_attitude_notes (#PCDATA)>
<!ELEMENT visit_details (id,assessment_id,visit_date,visit_type,department,hospital_site,length_of_stay_days,referral_source,is_first_visit,visit_details_notes,created_at,updated_at)>
<!ELEMENT visit_date (#PCDATA)>
<!ELEMENT visit_type (#PCDATA)>
<!ELEMENT department (#PCDATA)>
<!ELEMENT hospital_site (#PCDATA)>
<!ELEMENT length_of_stay_days (#PCDATA)>
<!ELEMENT referral_source (#PCDATA)>
<!ELEMENT is_first_visit (#PCDATA)>
<!ELEMENT visit_details_notes (#PCDATA)>
