forms/patient-satisfaction-survey/xml-representations/assessment_visit_details.dtd

<!ELEMENT assessment_visit_details (id,assessment_id,visit_date,visit_type,department,hospital_site,length_of_stay_days,referral_source,is_first_visit,visit_details_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT visit_date (#PCDATA)>
<!ELEMENT visit_type (#PCDATA)>
<!ELEMENT department (#PCDATA)>
<!ELEMENT hospital_site (#PCDATA)>
<!ELEMENT length_of_stay_days (#PCDATA)>
<!ELEMENT referral_source (#PCDATA)>
<!ELEMENT is_first_visit (#PCDATA)>
<!ELEMENT visit_details_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
