forms/patient-satisfaction-survey/xml-representations/assessment_staff_attitude.dtd

<!ELEMENT assessment_staff_attitude (id,assessment_id,doctor_courtesy,nurse_courtesy,reception_courtesy,respect_for_dignity,cultural_sensitivity,emotional_support,staff_attitude_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT doctor_courtesy (#PCDATA)>
<!ELEMENT nurse_courtesy (#PCDATA)>
<!ELEMENT reception_courtesy (#PCDATA)>
<!ELEMENT respect_for_dignity (#PCDATA)>
<!ELEMENT cultural_sensitivity (#PCDATA)>
<!ELEMENT emotional_support (#PCDATA)>
<!ELEMENT staff_attitude_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
