forms/patient-satisfaction-survey/xml-representations/assessment_environment_facilities.dtd

<!ELEMENT assessment_environment_facilities (id,assessment_id,cleanliness,comfort,noise_levels,food_quality,toilet_facilities,temperature_comfort,environment_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT cleanliness (#PCDATA)>
<!ELEMENT comfort (#PCDATA)>
<!ELEMENT noise_levels (#PCDATA)>
<!ELEMENT food_quality (#PCDATA)>
<!ELEMENT toilet_facilities (#PCDATA)>
<!ELEMENT temperature_comfort (#PCDATA)>
<!ELEMENT environment_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
