forms/patient-satisfaction-survey/xml-representations/assessment_clinical_care_quality.dtd

<!ELEMENT assessment_clinical_care_quality (id,assessment_id,confidence_in_clinician,thoroughness_of_examination,pain_management,involvement_in_decisions,privacy_during_examination,coordination_of_care,clinical_care_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT confidence_in_clinician (#PCDATA)>
<!ELEMENT thoroughness_of_examination (#PCDATA)>
<!ELEMENT pain_management (#PCDATA)>
<!ELEMENT involvement_in_decisions (#PCDATA)>
<!ELEMENT privacy_during_examination (#PCDATA)>
<!ELEMENT coordination_of_care (#PCDATA)>
<!ELEMENT clinical_care_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
