forms/seasonal-affective-disorder-assessment/xml-representations/assessment_treatment_plan.dtd

<!ELEMENT assessment_treatment_plan (id,assessment_id,light_therapy_recommended,light_therapy_prescription,antidepressant_recommended,antidepressant_prescription,cbt_recommended,exercise_recommended,exercise_details,lifestyle_advice,vitamin_d_recommended,follow_up_interval,follow_up_date,referral_required,referral_to,crisis_plan,treatment_plan_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT light_therapy_recommended (#PCDATA)>
<!ELEMENT light_therapy_prescription (#PCDATA)>
<!ELEMENT antidepressant_recommended (#PCDATA)>
<!ELEMENT antidepressant_prescription (#PCDATA)>
<!ELEMENT cbt_recommended (#PCDATA)>
<!ELEMENT exercise_recommended (#PCDATA)>
<!ELEMENT exercise_details (#PCDATA)>
<!ELEMENT lifestyle_advice (#PCDATA)>
<!ELEMENT vitamin_d_recommended (#PCDATA)>
<!ELEMENT follow_up_interval (#PCDATA)>
<!ELEMENT follow_up_date (#PCDATA)>
<!ELEMENT referral_required (#PCDATA)>
<!ELEMENT referral_to (#PCDATA)>
<!ELEMENT crisis_plan (#PCDATA)>
<!ELEMENT treatment_plan_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
