forms/seasonal-affective-disorder-assessment/xml-representations/assessment_current_mood.dtd

<!ELEMENT assessment_current_mood (id,assessment_id,phq9_interest,phq9_feeling_down,phq9_sleep,phq9_tired,phq9_appetite,phq9_feeling_bad,phq9_concentration,phq9_moving_slowly,phq9_self_harm,phq9_total,current_mood_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT phq9_interest (#PCDATA)>
<!ELEMENT phq9_feeling_down (#PCDATA)>
<!ELEMENT phq9_sleep (#PCDATA)>
<!ELEMENT phq9_tired (#PCDATA)>
<!ELEMENT phq9_appetite (#PCDATA)>
<!ELEMENT phq9_feeling_bad (#PCDATA)>
<!ELEMENT phq9_concentration (#PCDATA)>
<!ELEMENT phq9_moving_slowly (#PCDATA)>
<!ELEMENT phq9_self_harm (#PCDATA)>
<!ELEMENT phq9_total (#PCDATA)>
<!ELEMENT current_mood_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
