forms/seasonal-affective-disorder-assessment/xml-representations/assessment_sleep_energy.dtd

<!ELEMENT assessment_sleep_energy (id,assessment_id,average_sleep_hours,sleep_quality,difficulty_waking,hypersomnia,hypersomnia_hours,daytime_sleepiness,energy_level,energy_worst_time,fatigue_impact,sleep_energy_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT average_sleep_hours (#PCDATA)>
<!ELEMENT sleep_quality (#PCDATA)>
<!ELEMENT difficulty_waking (#PCDATA)>
<!ELEMENT hypersomnia (#PCDATA)>
<!ELEMENT hypersomnia_hours (#PCDATA)>
<!ELEMENT daytime_sleepiness (#PCDATA)>
<!ELEMENT energy_level (#PCDATA)>
<!ELEMENT energy_worst_time (#PCDATA)>
<!ELEMENT fatigue_impact (#PCDATA)>
<!ELEMENT sleep_energy_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
