forms/seasonal-affective-disorder-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,appetite_weight,current_mood,demographics,light_exposure,previous_treatments,risk_assessment,seasonal_pattern_history,sleep_energy,social_occupational,treatment_plan)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT appetite_weight (id,assessment_id,appetite_change,carbohydrate_craving,carbohydrate_craving_severity,chocolate_craving,weight_change,weight_change_kg,weight_change_period,seasonal_weight_pattern,appetite_weight_notes,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT appetite_change (#PCDATA)>
<!ELEMENT carbohydrate_craving (#PCDATA)>
<!ELEMENT carbohydrate_craving_severity (#PCDATA)>
<!ELEMENT chocolate_craving (#PCDATA)>
<!ELEMENT weight_change (#PCDATA)>
<!ELEMENT weight_change_kg (#PCDATA)>
<!ELEMENT weight_change_period (#PCDATA)>
<!ELEMENT seasonal_weight_pattern (#PCDATA)>
<!ELEMENT appetite_weight_notes (#PCDATA)>
<!ELEMENT current_mood (id,assessment_id,phq9_interest,phq9_feeling_down,phq9_sleep,phq9_tired,phq9_appetite,phq9_feeling_bad,phq9_concentration,phq9_moving_slowly,phq9_self_harm,phq9_total,current_mood_notes,created_at,updated_at)>
<!ELEMENT phq9_interest (#PCDATA)>
<!ELEMENT phq9_feeling_down (#PCDATA)>
<!ELEMENT phq9_sleep (#PCDATA)>
<!ELEMENT phq9_tired (#PCDATA)>
<!ELEMENT phq9_appetite (#PCDATA)>
<!ELEMENT phq9_feeling_bad (#PCDATA)>
<!ELEMENT phq9_concentration (#PCDATA)>
<!ELEMENT phq9_moving_slowly (#PCDATA)>
<!ELEMENT phq9_self_harm (#PCDATA)>
<!ELEMENT phq9_total (#PCDATA)>
<!ELEMENT current_mood_notes (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,preferred_name,gender_identity,ethnicity,preferred_language,interpreter_required,gp_name,gp_practice,referrer_name,referrer_role,created_at,updated_at)>
<!ELEMENT preferred_name (#PCDATA)>
<!ELEMENT gender_identity (#PCDATA)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT preferred_language (#PCDATA)>
<!ELEMENT interpreter_required (#PCDATA)>
<!ELEMENT gp_name (#PCDATA)>
<!ELEMENT gp_practice (#PCDATA)>
<!ELEMENT referrer_name (#PCDATA)>
<!ELEMENT referrer_role (#PCDATA)>
<!ELEMENT light_exposure (id,assessment_id,daily_outdoor_minutes,outdoor_time_of_day,workplace_natural_light,home_natural_light,latitude_awareness,uses_light_therapy,light_therapy_details,light_therapy_duration_minutes,light_therapy_lux,dawn_simulator,light_exposure_notes,created_at,updated_at)>
<!ELEMENT daily_outdoor_minutes (#PCDATA)>
<!ELEMENT outdoor_time_of_day (#PCDATA)>
<!ELEMENT workplace_natural_light (#PCDATA)>
<!ELEMENT home_natural_light (#PCDATA)>
<!ELEMENT latitude_awareness (#PCDATA)>
<!ELEMENT uses_light_therapy (#PCDATA)>
<!ELEMENT light_therapy_details (#PCDATA)>
<!ELEMENT light_therapy_duration_minutes (#PCDATA)>
<!ELEMENT light_therapy_lux (#PCDATA)>
<!ELEMENT dawn_simulator (#PCDATA)>
<!ELEMENT light_exposure_notes (#PCDATA)>
<!ELEMENT previous_treatments (id,assessment_id,previous_sad_diagnosis,previous_depression_diagnosis,on_antidepressant,antidepressant_details,previous_antidepressant,previous_antidepressant_details,previous_light_therapy,light_therapy_response,previous_cbt,cbt_response,previous_other_therapy,other_therapy_details,vitamin_d_supplementation,medication_adherence,treatment_notes,created_at,updated_at)>
<!ELEMENT previous_sad_diagnosis (#PCDATA)>
<!ELEMENT previous_depression_diagnosis (#PCDATA)>
<!ELEMENT on_antidepressant (#PCDATA)>
<!ELEMENT antidepressant_details (#PCDATA)>
<!ELEMENT previous_antidepressant (#PCDATA)>
<!ELEMENT previous_antidepressant_details (#PCDATA)>
<!ELEMENT previous_light_therapy (#PCDATA)>
<!ELEMENT light_therapy_response (#PCDATA)>
<!ELEMENT previous_cbt (#PCDATA)>
<!ELEMENT cbt_response (#PCDATA)>
<!ELEMENT previous_other_therapy (#PCDATA)>
<!ELEMENT other_therapy_details (#PCDATA)>
<!ELEMENT vitamin_d_supplementation (#PCDATA)>
<!ELEMENT medication_adherence (#PCDATA)>
<!ELEMENT treatment_notes (#PCDATA)>
<!ELEMENT risk_assessment (id,assessment_id,suicidal_ideation,suicidal_ideation_frequency,suicidal_plan,suicidal_intent,previous_self_harm,previous_self_harm_details,previous_suicide_attempt,previous_attempt_details,hopelessness,protective_factors,risk_level,safety_plan_in_place,risk_assessment_notes,created_at,updated_at)>
<!ELEMENT suicidal_ideation (#PCDATA)>
<!ELEMENT suicidal_ideation_frequency (#PCDATA)>
<!ELEMENT suicidal_plan (#PCDATA)>
<!ELEMENT suicidal_intent (#PCDATA)>
<!ELEMENT previous_self_harm (#PCDATA)>
<!ELEMENT previous_self_harm_details (#PCDATA)>
<!ELEMENT previous_suicide_attempt (#PCDATA)>
<!ELEMENT previous_attempt_details (#PCDATA)>
<!ELEMENT hopelessness (#PCDATA)>
<!ELEMENT protective_factors (#PCDATA)>
<!ELEMENT risk_level (#PCDATA)>
<!ELEMENT safety_plan_in_place (#PCDATA)>
<!ELEMENT risk_assessment_notes (#PCDATA)>
<!ELEMENT seasonal_pattern_history (id,assessment_id,worst_month,best_month,years_of_seasonal_symptoms,gss_sleep_length,gss_social_activity,gss_mood,gss_weight,gss_appetite,gss_energy,gss_total,seasonal_pattern_is_problem,seasonal_pattern_notes,created_at,updated_at)>
<!ELEMENT worst_month (#PCDATA)>
<!ELEMENT best_month (#PCDATA)>
<!ELEMENT years_of_seasonal_symptoms (#PCDATA)>
<!ELEMENT gss_sleep_length (#PCDATA)>
<!ELEMENT gss_social_activity (#PCDATA)>
<!ELEMENT gss_mood (#PCDATA)>
<!ELEMENT gss_weight (#PCDATA)>
<!ELEMENT gss_appetite (#PCDATA)>
<!ELEMENT gss_energy (#PCDATA)>
<!ELEMENT gss_total (#PCDATA)>
<!ELEMENT seasonal_pattern_is_problem (#PCDATA)>
<!ELEMENT seasonal_pattern_notes (#PCDATA)>
<!ELEMENT sleep_energy (id,assessment_id,average_sleep_hours,sleep_quality,difficulty_waking,hypersomnia,hypersomnia_hours,daytime_sleepiness,energy_level,energy_worst_time,fatigue_impact,sleep_energy_notes,created_at,updated_at)>
<!ELEMENT average_sleep_hours (#PCDATA)>
<!ELEMENT sleep_quality (#PCDATA)>
<!ELEMENT difficulty_waking (#PCDATA)>
<!ELEMENT hypersomnia (#PCDATA)>
<!ELEMENT hypersomnia_hours (#PCDATA)>
<!ELEMENT daytime_sleepiness (#PCDATA)>
<!ELEMENT energy_level (#PCDATA)>
<!ELEMENT energy_worst_time (#PCDATA)>
<!ELEMENT fatigue_impact (#PCDATA)>
<!ELEMENT sleep_energy_notes (#PCDATA)>
<!ELEMENT social_occupational (id,assessment_id,social_withdrawal,relationship_impact,work_performance,days_missed_work,daily_activities_impact,hobbies_interest,employment_status,occupation,social_occupational_notes,created_at,updated_at)>
<!ELEMENT social_withdrawal (#PCDATA)>
<!ELEMENT relationship_impact (#PCDATA)>
<!ELEMENT work_performance (#PCDATA)>
<!ELEMENT days_missed_work (#PCDATA)>
<!ELEMENT daily_activities_impact (#PCDATA)>
<!ELEMENT hobbies_interest (#PCDATA)>
<!ELEMENT employment_status (#PCDATA)>
<!ELEMENT occupation (#PCDATA)>
<!ELEMENT social_occupational_notes (#PCDATA)>
<!ELEMENT treatment_plan (id,assessment_id,light_therapy_recommended,light_therapy_prescription,antidepressant_recommended,antidepressant_prescription,cbt_recommended,exercise_recommended,exercise_details,lifestyle_advice,vitamin_d_recommended,follow_up_interval,follow_up_date,referral_required,referral_to,crisis_plan,treatment_plan_notes,created_at,updated_at)>
<!ELEMENT light_therapy_recommended (#PCDATA)>
<!ELEMENT light_therapy_prescription (#PCDATA)>
<!ELEMENT antidepressant_recommended (#PCDATA)>
<!ELEMENT antidepressant_prescription (#PCDATA)>
<!ELEMENT cbt_recommended (#PCDATA)>
<!ELEMENT exercise_recommended (#PCDATA)>
<!ELEMENT exercise_details (#PCDATA)>
<!ELEMENT lifestyle_advice (#PCDATA)>
<!ELEMENT vitamin_d_recommended (#PCDATA)>
<!ELEMENT follow_up_interval (#PCDATA)>
<!ELEMENT follow_up_date (#PCDATA)>
<!ELEMENT referral_required (#PCDATA)>
<!ELEMENT referral_to (#PCDATA)>
<!ELEMENT crisis_plan (#PCDATA)>
<!ELEMENT treatment_plan_notes (#PCDATA)>
