forms/seasonal-affective-disorder-assessment/xml-representations/assessment_risk_assessment.dtd

<!ELEMENT assessment_risk_assessment (id,assessment_id,suicidal_ideation,suicidal_ideation_frequency,suicidal_plan,suicidal_intent,previous_self_harm,previous_self_harm_details,previous_suicide_attempt,previous_attempt_details,hopelessness,protective_factors,risk_level,safety_plan_in_place,risk_assessment_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT suicidal_ideation (#PCDATA)>
<!ELEMENT suicidal_ideation_frequency (#PCDATA)>
<!ELEMENT suicidal_plan (#PCDATA)>
<!ELEMENT suicidal_intent (#PCDATA)>
<!ELEMENT previous_self_harm (#PCDATA)>
<!ELEMENT previous_self_harm_details (#PCDATA)>
<!ELEMENT previous_suicide_attempt (#PCDATA)>
<!ELEMENT previous_attempt_details (#PCDATA)>
<!ELEMENT hopelessness (#PCDATA)>
<!ELEMENT protective_factors (#PCDATA)>
<!ELEMENT risk_level (#PCDATA)>
<!ELEMENT safety_plan_in_place (#PCDATA)>
<!ELEMENT risk_assessment_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
