forms/seasonal-affective-disorder-assessment/xml-representations/assessment_appetite_weight.dtd

<!ELEMENT assessment_appetite_weight (id,assessment_id,appetite_change,carbohydrate_craving,carbohydrate_craving_severity,chocolate_craving,weight_change,weight_change_kg,weight_change_period,seasonal_weight_pattern,appetite_weight_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT appetite_change (#PCDATA)>
<!ELEMENT carbohydrate_craving (#PCDATA)>
<!ELEMENT carbohydrate_craving_severity (#PCDATA)>
<!ELEMENT chocolate_craving (#PCDATA)>
<!ELEMENT weight_change (#PCDATA)>
<!ELEMENT weight_change_kg (#PCDATA)>
<!ELEMENT weight_change_period (#PCDATA)>
<!ELEMENT seasonal_weight_pattern (#PCDATA)>
<!ELEMENT appetite_weight_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
