forms/seasonal-affective-disorder-assessment/xml-representations/assessment_previous_treatments.dtd

<!ELEMENT assessment_previous_treatments (id,assessment_id,previous_sad_diagnosis,previous_depression_diagnosis,on_antidepressant,antidepressant_details,previous_antidepressant,previous_antidepressant_details,previous_light_therapy,light_therapy_response,previous_cbt,cbt_response,previous_other_therapy,other_therapy_details,vitamin_d_supplementation,medication_adherence,treatment_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT previous_sad_diagnosis (#PCDATA)>
<!ELEMENT previous_depression_diagnosis (#PCDATA)>
<!ELEMENT on_antidepressant (#PCDATA)>
<!ELEMENT antidepressant_details (#PCDATA)>
<!ELEMENT previous_antidepressant (#PCDATA)>
<!ELEMENT previous_antidepressant_details (#PCDATA)>
<!ELEMENT previous_light_therapy (#PCDATA)>
<!ELEMENT light_therapy_response (#PCDATA)>
<!ELEMENT previous_cbt (#PCDATA)>
<!ELEMENT cbt_response (#PCDATA)>
<!ELEMENT previous_other_therapy (#PCDATA)>
<!ELEMENT other_therapy_details (#PCDATA)>
<!ELEMENT vitamin_d_supplementation (#PCDATA)>
<!ELEMENT medication_adherence (#PCDATA)>
<!ELEMENT treatment_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
