forms/seasonal-affective-disorder-assessment/xml-representations/assessment_social_occupational.dtd

<!ELEMENT assessment_social_occupational (id,assessment_id,social_withdrawal,relationship_impact,work_performance,days_missed_work,daily_activities_impact,hobbies_interest,employment_status,occupation,social_occupational_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT social_withdrawal (#PCDATA)>
<!ELEMENT relationship_impact (#PCDATA)>
<!ELEMENT work_performance (#PCDATA)>
<!ELEMENT days_missed_work (#PCDATA)>
<!ELEMENT daily_activities_impact (#PCDATA)>
<!ELEMENT hobbies_interest (#PCDATA)>
<!ELEMENT employment_status (#PCDATA)>
<!ELEMENT occupation (#PCDATA)>
<!ELEMENT social_occupational_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
