forms/pre-operative-assessment/xml-representations/assessment_previous_anaesthesia.dtd

<!ELEMENT assessment_previous_anaesthesia (id,assessment_id,previous_anaesthesia,anaesthesia_problems,anaesthesia_problem_details,family_mh_history,family_mh_details,ponv,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT previous_anaesthesia (#PCDATA)>
<!ELEMENT anaesthesia_problems (#PCDATA)>
<!ELEMENT anaesthesia_problem_details (#PCDATA)>
<!ELEMENT family_mh_history (#PCDATA)>
<!ELEMENT family_mh_details (#PCDATA)>
<!ELEMENT ponv (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
