forms/pre-operative-assessment/xml-representations/assessment_haematological.dtd

<!ELEMENT assessment_haematological (id,assessment_id,bleeding_disorder,bleeding_details,on_anticoagulants,anticoagulant_type,sickle_cell_disease,sickle_cell_trait,anaemia,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT bleeding_disorder (#PCDATA)>
<!ELEMENT bleeding_details (#PCDATA)>
<!ELEMENT on_anticoagulants (#PCDATA)>
<!ELEMENT anticoagulant_type (#PCDATA)>
<!ELEMENT sickle_cell_disease (#PCDATA)>
<!ELEMENT sickle_cell_trait (#PCDATA)>
<!ELEMENT anaemia (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
