forms/pre-operative-assessment/xml-representations/assessment_cardiovascular.dtd

<!ELEMENT assessment_cardiovascular (id,assessment_id,hypertension,hypertension_controlled,ischemic_heart_disease,ihd_details,heart_failure,heart_failure_nyha,valvular_disease,valvular_details,arrhythmia,arrhythmia_type,pacemaker,recent_mi,recent_mi_weeks,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT hypertension (#PCDATA)>
<!ELEMENT hypertension_controlled (#PCDATA)>
<!ELEMENT ischemic_heart_disease (#PCDATA)>
<!ELEMENT ihd_details (#PCDATA)>
<!ELEMENT heart_failure (#PCDATA)>
<!ELEMENT heart_failure_nyha (#PCDATA)>
<!ELEMENT valvular_disease (#PCDATA)>
<!ELEMENT valvular_details (#PCDATA)>
<!ELEMENT arrhythmia (#PCDATA)>
<!ELEMENT arrhythmia_type (#PCDATA)>
<!ELEMENT pacemaker (#PCDATA)>
<!ELEMENT recent_mi (#PCDATA)>
<!ELEMENT recent_mi_weeks (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
