forms/pre-operative-assessment/xml-representations/assessment_endocrine.dtd

<!ELEMENT assessment_endocrine (id,assessment_id,diabetes,diabetes_control,diabetes_on_insulin,thyroid_disease,thyroid_type,adrenal_insufficiency,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT diabetes (#PCDATA)>
<!ELEMENT diabetes_control (#PCDATA)>
<!ELEMENT diabetes_on_insulin (#PCDATA)>
<!ELEMENT thyroid_disease (#PCDATA)>
<!ELEMENT thyroid_type (#PCDATA)>
<!ELEMENT adrenal_insufficiency (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
