forms/pediatric-assessment/xml-representations/assessment_social_environmental.dtd

<!ELEMENT assessment_social_environmental (id,assessment_id,living_arrangement,living_arrangement_details,number_of_siblings,childcare_type,school_type,school_performance,behavioural_concerns,behavioural_concern_details,social_services_involved,safeguarding_concerns,safeguarding_details,household_smoking,housing_concerns,housing_concern_details,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT living_arrangement (#PCDATA)>
<!ELEMENT living_arrangement_details (#PCDATA)>
<!ELEMENT number_of_siblings (#PCDATA)>
<!ELEMENT childcare_type (#PCDATA)>
<!ELEMENT school_type (#PCDATA)>
<!ELEMENT school_performance (#PCDATA)>
<!ELEMENT behavioural_concerns (#PCDATA)>
<!ELEMENT behavioural_concern_details (#PCDATA)>
<!ELEMENT social_services_involved (#PCDATA)>
<!ELEMENT safeguarding_concerns (#PCDATA)>
<!ELEMENT safeguarding_details (#PCDATA)>
<!ELEMENT household_smoking (#PCDATA)>
<!ELEMENT housing_concerns (#PCDATA)>
<!ELEMENT housing_concern_details (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
