forms/pediatric-assessment/xml-representations/assessment_medical_history.dtd

<!ELEMENT assessment_medical_history (id,assessment_id,chronic_conditions,previous_hospitalizations,hospitalization_details,previous_surgeries,surgery_details,known_allergies,allergy_details,congenital_conditions,congenital_condition_details,hearing_screen_passed,vision_screen_passed,recurrent_infections,recurrent_infection_details,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT chronic_conditions (#PCDATA)>
<!ELEMENT previous_hospitalizations (#PCDATA)>
<!ELEMENT hospitalization_details (#PCDATA)>
<!ELEMENT previous_surgeries (#PCDATA)>
<!ELEMENT surgery_details (#PCDATA)>
<!ELEMENT known_allergies (#PCDATA)>
<!ELEMENT allergy_details (#PCDATA)>
<!ELEMENT congenital_conditions (#PCDATA)>
<!ELEMENT congenital_condition_details (#PCDATA)>
<!ELEMENT hearing_screen_passed (#PCDATA)>
<!ELEMENT vision_screen_passed (#PCDATA)>
<!ELEMENT recurrent_infections (#PCDATA)>
<!ELEMENT recurrent_infection_details (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
