forms/pediatric-assessment/xml-representations/assessment_family_history.dtd

<!ELEMENT assessment_family_history (id,assessment_id,family_history_significant,consanguinity,genetic_conditions,genetic_condition_details,developmental_delays_family,developmental_delay_details,mental_health_family,mental_health_details,chronic_disease_family,chronic_disease_details,sudden_infant_death,childhood_cancer_family,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT family_history_significant (#PCDATA)>
<!ELEMENT consanguinity (#PCDATA)>
<!ELEMENT genetic_conditions (#PCDATA)>
<!ELEMENT genetic_condition_details (#PCDATA)>
<!ELEMENT developmental_delays_family (#PCDATA)>
<!ELEMENT developmental_delay_details (#PCDATA)>
<!ELEMENT mental_health_family (#PCDATA)>
<!ELEMENT mental_health_details (#PCDATA)>
<!ELEMENT chronic_disease_family (#PCDATA)>
<!ELEMENT chronic_disease_details (#PCDATA)>
<!ELEMENT sudden_infant_death (#PCDATA)>
<!ELEMENT childhood_cancer_family (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
