forms/pediatric-assessment/xml-representations/assessment_current_medications.dtd

<!ELEMENT assessment_current_medications (id,assessment_id,takes_regular_medications,takes_over_the_counter,over_the_counter_details,takes_supplements,supplement_details,medication_adherence,adverse_drug_reactions,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT takes_regular_medications (#PCDATA)>
<!ELEMENT takes_over_the_counter (#PCDATA)>
<!ELEMENT over_the_counter_details (#PCDATA)>
<!ELEMENT takes_supplements (#PCDATA)>
<!ELEMENT supplement_details (#PCDATA)>
<!ELEMENT medication_adherence (#PCDATA)>
<!ELEMENT adverse_drug_reactions (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
