forms/pediatric-assessment/xml-representations/assessment_developmental_milestones.dtd

<!ELEMENT assessment_developmental_milestones (id,assessment_id,gross_motor_status,gross_motor_details,fine_motor_status,fine_motor_details,speech_language_status,speech_language_details,social_emotional_status,social_emotional_details,cognitive_status,cognitive_details,self_care_status,self_care_details,developmental_screening_tool,developmental_screening_score,previous_developmental_concerns,previous_concern_details,early_intervention_referral,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT gross_motor_status (#PCDATA)>
<!ELEMENT gross_motor_details (#PCDATA)>
<!ELEMENT fine_motor_status (#PCDATA)>
<!ELEMENT fine_motor_details (#PCDATA)>
<!ELEMENT speech_language_status (#PCDATA)>
<!ELEMENT speech_language_details (#PCDATA)>
<!ELEMENT social_emotional_status (#PCDATA)>
<!ELEMENT social_emotional_details (#PCDATA)>
<!ELEMENT cognitive_status (#PCDATA)>
<!ELEMENT cognitive_details (#PCDATA)>
<!ELEMENT self_care_status (#PCDATA)>
<!ELEMENT self_care_details (#PCDATA)>
<!ELEMENT developmental_screening_tool (#PCDATA)>
<!ELEMENT developmental_screening_score (#PCDATA)>
<!ELEMENT previous_developmental_concerns (#PCDATA)>
<!ELEMENT previous_concern_details (#PCDATA)>
<!ELEMENT early_intervention_referral (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
