forms/pediatric-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,birth_history,current_medications,developmental_milestones,family_history,growth_nutrition,immunization_status,medical_history,medication_item,social_environmental)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT birth_history (id,assessment_id,gestational_age_weeks,birth_weight_grams,delivery_method,apgar_score_1min,apgar_score_5min,nicu_admission,nicu_duration_days,birth_complications,maternal_complications,preterm,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT gestational_age_weeks (#PCDATA)>
<!ELEMENT birth_weight_grams (#PCDATA)>
<!ELEMENT delivery_method (#PCDATA)>
<!ELEMENT apgar_score_1min (#PCDATA)>
<!ELEMENT apgar_score_5min (#PCDATA)>
<!ELEMENT nicu_admission (#PCDATA)>
<!ELEMENT nicu_duration_days (#PCDATA)>
<!ELEMENT birth_complications (#PCDATA)>
<!ELEMENT maternal_complications (#PCDATA)>
<!ELEMENT preterm (#PCDATA)>
<!ELEMENT current_medications (id,assessment_id,takes_regular_medications,takes_over_the_counter,over_the_counter_details,takes_supplements,supplement_details,medication_adherence,adverse_drug_reactions,additional_notes,created_at,updated_at)>
<!ELEMENT takes_regular_medications (#PCDATA)>
<!ELEMENT takes_over_the_counter (#PCDATA)>
<!ELEMENT over_the_counter_details (#PCDATA)>
<!ELEMENT takes_supplements (#PCDATA)>
<!ELEMENT supplement_details (#PCDATA)>
<!ELEMENT medication_adherence (#PCDATA)>
<!ELEMENT adverse_drug_reactions (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT developmental_milestones (id,assessment_id,gross_motor_status,gross_motor_details,fine_motor_status,fine_motor_details,speech_language_status,speech_language_details,social_emotional_status,social_emotional_details,cognitive_status,cognitive_details,self_care_status,self_care_details,developmental_screening_tool,developmental_screening_score,previous_developmental_concerns,previous_concern_details,early_intervention_referral,created_at,updated_at)>
<!ELEMENT gross_motor_status (#PCDATA)>
<!ELEMENT gross_motor_details (#PCDATA)>
<!ELEMENT fine_motor_status (#PCDATA)>
<!ELEMENT fine_motor_details (#PCDATA)>
<!ELEMENT speech_language_status (#PCDATA)>
<!ELEMENT speech_language_details (#PCDATA)>
<!ELEMENT social_emotional_status (#PCDATA)>
<!ELEMENT social_emotional_details (#PCDATA)>
<!ELEMENT cognitive_status (#PCDATA)>
<!ELEMENT cognitive_details (#PCDATA)>
<!ELEMENT self_care_status (#PCDATA)>
<!ELEMENT self_care_details (#PCDATA)>
<!ELEMENT developmental_screening_tool (#PCDATA)>
<!ELEMENT developmental_screening_score (#PCDATA)>
<!ELEMENT previous_developmental_concerns (#PCDATA)>
<!ELEMENT previous_concern_details (#PCDATA)>
<!ELEMENT early_intervention_referral (#PCDATA)>
<!ELEMENT family_history (id,assessment_id,family_history_significant,consanguinity,genetic_conditions,genetic_condition_details,developmental_delays_family,developmental_delay_details,mental_health_family,mental_health_details,chronic_disease_family,chronic_disease_details,sudden_infant_death,childhood_cancer_family,additional_notes,created_at,updated_at)>
<!ELEMENT family_history_significant (#PCDATA)>
<!ELEMENT consanguinity (#PCDATA)>
<!ELEMENT genetic_conditions (#PCDATA)>
<!ELEMENT genetic_condition_details (#PCDATA)>
<!ELEMENT developmental_delays_family (#PCDATA)>
<!ELEMENT developmental_delay_details (#PCDATA)>
<!ELEMENT mental_health_family (#PCDATA)>
<!ELEMENT mental_health_details (#PCDATA)>
<!ELEMENT chronic_disease_family (#PCDATA)>
<!ELEMENT chronic_disease_details (#PCDATA)>
<!ELEMENT sudden_infant_death (#PCDATA)>
<!ELEMENT childhood_cancer_family (#PCDATA)>
<!ELEMENT growth_nutrition (id,assessment_id,current_weight_kg,current_height_cm,head_circumference_cm,weight_percentile,height_percentile,bmi_percentile,feeding_method,dietary_concerns,appetite,nutritional_supplements,supplement_details,growth_concerns,growth_concern_details,created_at,updated_at)>
<!ELEMENT current_weight_kg (#PCDATA)>
<!ELEMENT current_height_cm (#PCDATA)>
<!ELEMENT head_circumference_cm (#PCDATA)>
<!ELEMENT weight_percentile (#PCDATA)>
<!ELEMENT height_percentile (#PCDATA)>
<!ELEMENT bmi_percentile (#PCDATA)>
<!ELEMENT feeding_method (#PCDATA)>
<!ELEMENT dietary_concerns (#PCDATA)>
<!ELEMENT appetite (#PCDATA)>
<!ELEMENT nutritional_supplements (#PCDATA)>
<!ELEMENT growth_concerns (#PCDATA)>
<!ELEMENT growth_concern_details (#PCDATA)>
<!ELEMENT immunization_status (id,assessment_id,immunization_up_to_date,immunization_schedule,missed_vaccinations,vaccine_adverse_reactions,adverse_reaction_details,vaccine_exemptions,exemption_reason,bcg_given,influenza_vaccine,covid_vaccine,last_vaccination_date,additional_notes,created_at,updated_at)>
<!ELEMENT immunization_up_to_date (#PCDATA)>
<!ELEMENT immunization_schedule (#PCDATA)>
<!ELEMENT missed_vaccinations (#PCDATA)>
<!ELEMENT vaccine_adverse_reactions (#PCDATA)>
<!ELEMENT adverse_reaction_details (#PCDATA)>
<!ELEMENT vaccine_exemptions (#PCDATA)>
<!ELEMENT exemption_reason (#PCDATA)>
<!ELEMENT bcg_given (#PCDATA)>
<!ELEMENT influenza_vaccine (#PCDATA)>
<!ELEMENT covid_vaccine (#PCDATA)>
<!ELEMENT last_vaccination_date (#PCDATA)>
<!ELEMENT medical_history (id,assessment_id,chronic_conditions,previous_hospitalizations,hospitalization_details,previous_surgeries,surgery_details,known_allergies,allergy_details,congenital_conditions,congenital_condition_details,hearing_screen_passed,vision_screen_passed,recurrent_infections,recurrent_infection_details,additional_notes,created_at,updated_at)>
<!ELEMENT chronic_conditions (#PCDATA)>
<!ELEMENT previous_hospitalizations (#PCDATA)>
<!ELEMENT hospitalization_details (#PCDATA)>
<!ELEMENT previous_surgeries (#PCDATA)>
<!ELEMENT surgery_details (#PCDATA)>
<!ELEMENT known_allergies (#PCDATA)>
<!ELEMENT allergy_details (#PCDATA)>
<!ELEMENT congenital_conditions (#PCDATA)>
<!ELEMENT congenital_condition_details (#PCDATA)>
<!ELEMENT hearing_screen_passed (#PCDATA)>
<!ELEMENT vision_screen_passed (#PCDATA)>
<!ELEMENT recurrent_infections (#PCDATA)>
<!ELEMENT recurrent_infection_details (#PCDATA)>
<!ELEMENT medication_item (id,current_medications_id,medication_name,dose,frequency,route,indication,prescribing_clinician,sort_order,created_at,updated_at)>
<!ELEMENT current_medications_id (#PCDATA)>
<!ELEMENT medication_name (#PCDATA)>
<!ELEMENT dose (#PCDATA)>
<!ELEMENT frequency (#PCDATA)>
<!ELEMENT route (#PCDATA)>
<!ELEMENT indication (#PCDATA)>
<!ELEMENT prescribing_clinician (#PCDATA)>
<!ELEMENT sort_order (#PCDATA)>
<!ELEMENT social_environmental (id,assessment_id,living_arrangement,living_arrangement_details,number_of_siblings,childcare_type,school_type,school_performance,behavioural_concerns,behavioural_concern_details,social_services_involved,safeguarding_concerns,safeguarding_details,household_smoking,housing_concerns,housing_concern_details,additional_notes,created_at,updated_at)>
<!ELEMENT living_arrangement (#PCDATA)>
<!ELEMENT living_arrangement_details (#PCDATA)>
<!ELEMENT number_of_siblings (#PCDATA)>
<!ELEMENT childcare_type (#PCDATA)>
<!ELEMENT school_type (#PCDATA)>
<!ELEMENT school_performance (#PCDATA)>
<!ELEMENT behavioural_concerns (#PCDATA)>
<!ELEMENT behavioural_concern_details (#PCDATA)>
<!ELEMENT social_services_involved (#PCDATA)>
<!ELEMENT safeguarding_concerns (#PCDATA)>
<!ELEMENT safeguarding_details (#PCDATA)>
<!ELEMENT household_smoking (#PCDATA)>
<!ELEMENT housing_concerns (#PCDATA)>
<!ELEMENT housing_concern_details (#PCDATA)>
