forms/pediatric-assessment/xml-representations/assessment_growth_nutrition.dtd

<!ELEMENT assessment_growth_nutrition (id,assessment_id,current_weight_kg,current_height_cm,head_circumference_cm,weight_percentile,height_percentile,bmi_percentile,feeding_method,dietary_concerns,appetite,nutritional_supplements,supplement_details,growth_concerns,growth_concern_details,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT current_weight_kg (#PCDATA)>
<!ELEMENT current_height_cm (#PCDATA)>
<!ELEMENT head_circumference_cm (#PCDATA)>
<!ELEMENT weight_percentile (#PCDATA)>
<!ELEMENT height_percentile (#PCDATA)>
<!ELEMENT bmi_percentile (#PCDATA)>
<!ELEMENT feeding_method (#PCDATA)>
<!ELEMENT dietary_concerns (#PCDATA)>
<!ELEMENT appetite (#PCDATA)>
<!ELEMENT nutritional_supplements (#PCDATA)>
<!ELEMENT supplement_details (#PCDATA)>
<!ELEMENT growth_concerns (#PCDATA)>
<!ELEMENT growth_concern_details (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
