forms/gynecology-assessment/xml-representations/assessment_obstetric_history.dtd

<!ELEMENT assessment_obstetric_history (id,assessment_id,gravida,para,number_of_miscarriages,number_of_terminations,number_of_ectopics,number_of_stillbirths,currently_pregnant,gestational_age_weeks,delivery_complications,delivery_complication_details,caesarean_section_history,number_of_caesareans,gestational_diabetes,pre_eclampsia,obstetric_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT gravida (#PCDATA)>
<!ELEMENT para (#PCDATA)>
<!ELEMENT number_of_miscarriages (#PCDATA)>
<!ELEMENT number_of_terminations (#PCDATA)>
<!ELEMENT number_of_ectopics (#PCDATA)>
<!ELEMENT number_of_stillbirths (#PCDATA)>
<!ELEMENT currently_pregnant (#PCDATA)>
<!ELEMENT gestational_age_weeks (#PCDATA)>
<!ELEMENT delivery_complications (#PCDATA)>
<!ELEMENT delivery_complication_details (#PCDATA)>
<!ELEMENT caesarean_section_history (#PCDATA)>
<!ELEMENT number_of_caesareans (#PCDATA)>
<!ELEMENT gestational_diabetes (#PCDATA)>
<!ELEMENT pre_eclampsia (#PCDATA)>
<!ELEMENT obstetric_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
