forms/gynecology-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,cervical_screening,chief_complaint,current_medication_item,current_medications,demographics,family_history,gynecological_symptoms,medical_history,menstrual_history,obstetric_history,sexual_health)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT cervical_screening (id,assessment_id,last_smear_date,smear_result,hpv_status,hpv_vaccination,colposcopy_history,colposcopy_details,cervical_treatment_history,cervical_treatment_type,cervical_treatment_details,screening_up_to_date,screening_notes,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT last_smear_date (#PCDATA)>
<!ELEMENT smear_result (#PCDATA)>
<!ELEMENT hpv_status (#PCDATA)>
<!ELEMENT hpv_vaccination (#PCDATA)>
<!ELEMENT colposcopy_history (#PCDATA)>
<!ELEMENT colposcopy_details (#PCDATA)>
<!ELEMENT cervical_treatment_history (#PCDATA)>
<!ELEMENT cervical_treatment_type (#PCDATA)>
<!ELEMENT cervical_treatment_details (#PCDATA)>
<!ELEMENT screening_up_to_date (#PCDATA)>
<!ELEMENT screening_notes (#PCDATA)>
<!ELEMENT chief_complaint (id,assessment_id,primary_complaint,symptom_duration,symptom_onset,symptom_severity,symptom_pattern,aggravating_factors,relieving_factors,impact_on_daily_life,previous_treatment_for_complaint,previous_treatment_details,created_at,updated_at)>
<!ELEMENT primary_complaint (#PCDATA)>
<!ELEMENT symptom_duration (#PCDATA)>
<!ELEMENT symptom_onset (#PCDATA)>
<!ELEMENT symptom_severity (#PCDATA)>
<!ELEMENT symptom_pattern (#PCDATA)>
<!ELEMENT aggravating_factors (#PCDATA)>
<!ELEMENT relieving_factors (#PCDATA)>
<!ELEMENT impact_on_daily_life (#PCDATA)>
<!ELEMENT previous_treatment_for_complaint (#PCDATA)>
<!ELEMENT previous_treatment_details (#PCDATA)>
<!ELEMENT current_medication_item (id,current_medications_id,medication_name,dose,frequency,indication,sort_order,created_at,updated_at)>
<!ELEMENT current_medications_id (#PCDATA)>
<!ELEMENT medication_name (#PCDATA)>
<!ELEMENT dose (#PCDATA)>
<!ELEMENT frequency (#PCDATA)>
<!ELEMENT indication (#PCDATA)>
<!ELEMENT sort_order (#PCDATA)>
<!ELEMENT current_medications (id,assessment_id,takes_regular_medications,takes_over_the_counter,takes_herbal_supplements,herbal_supplement_details,hormone_therapy,hormone_therapy_details,medication_notes,created_at,updated_at)>
<!ELEMENT takes_regular_medications (#PCDATA)>
<!ELEMENT takes_over_the_counter (#PCDATA)>
<!ELEMENT takes_herbal_supplements (#PCDATA)>
<!ELEMENT herbal_supplement_details (#PCDATA)>
<!ELEMENT hormone_therapy (#PCDATA)>
<!ELEMENT hormone_therapy_details (#PCDATA)>
<!ELEMENT medication_notes (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,ethnicity,primary_language,interpreter_required,marital_status,occupation,emergency_contact_name,emergency_contact_phone,emergency_contact_relationship,gp_name,gp_practice,created_at,updated_at)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT primary_language (#PCDATA)>
<!ELEMENT interpreter_required (#PCDATA)>
<!ELEMENT marital_status (#PCDATA)>
<!ELEMENT occupation (#PCDATA)>
<!ELEMENT emergency_contact_name (#PCDATA)>
<!ELEMENT emergency_contact_phone (#PCDATA)>
<!ELEMENT emergency_contact_relationship (#PCDATA)>
<!ELEMENT gp_name (#PCDATA)>
<!ELEMENT gp_practice (#PCDATA)>
<!ELEMENT family_history (id,assessment_id,family_history_breast_cancer,breast_cancer_details,family_history_ovarian_cancer,ovarian_cancer_details,family_history_endometrial_cancer,endometrial_cancer_details,family_history_cervical_cancer,family_history_endometriosis,family_history_fibroids,family_history_pcos,family_history_early_menopause,family_history_osteoporosis,family_history_thromboembolism,other_family_history,family_history_notes,created_at,updated_at)>
<!ELEMENT family_history_breast_cancer (#PCDATA)>
<!ELEMENT breast_cancer_details (#PCDATA)>
<!ELEMENT family_history_ovarian_cancer (#PCDATA)>
<!ELEMENT ovarian_cancer_details (#PCDATA)>
<!ELEMENT family_history_endometrial_cancer (#PCDATA)>
<!ELEMENT endometrial_cancer_details (#PCDATA)>
<!ELEMENT family_history_cervical_cancer (#PCDATA)>
<!ELEMENT family_history_endometriosis (#PCDATA)>
<!ELEMENT family_history_fibroids (#PCDATA)>
<!ELEMENT family_history_pcos (#PCDATA)>
<!ELEMENT family_history_early_menopause (#PCDATA)>
<!ELEMENT family_history_osteoporosis (#PCDATA)>
<!ELEMENT family_history_thromboembolism (#PCDATA)>
<!ELEMENT other_family_history (#PCDATA)>
<!ELEMENT family_history_notes (#PCDATA)>
<!ELEMENT gynecological_symptoms (id,assessment_id,pelvic_pain,pelvic_pain_severity,pelvic_pain_location,dyspareunia,dyspareunia_type,vaginal_discharge,discharge_characteristics,vulval_symptoms,vulval_symptom_details,urinary_symptoms,urinary_symptom_type,pelvic_organ_prolapse_symptoms,prolapse_details,bloating,bowel_symptoms,bowel_symptom_details,symptom_notes,created_at,updated_at)>
<!ELEMENT pelvic_pain (#PCDATA)>
<!ELEMENT pelvic_pain_severity (#PCDATA)>
<!ELEMENT pelvic_pain_location (#PCDATA)>
<!ELEMENT dyspareunia (#PCDATA)>
<!ELEMENT dyspareunia_type (#PCDATA)>
<!ELEMENT vaginal_discharge (#PCDATA)>
<!ELEMENT discharge_characteristics (#PCDATA)>
<!ELEMENT vulval_symptoms (#PCDATA)>
<!ELEMENT vulval_symptom_details (#PCDATA)>
<!ELEMENT urinary_symptoms (#PCDATA)>
<!ELEMENT urinary_symptom_type (#PCDATA)>
<!ELEMENT pelvic_organ_prolapse_symptoms (#PCDATA)>
<!ELEMENT prolapse_details (#PCDATA)>
<!ELEMENT bloating (#PCDATA)>
<!ELEMENT bowel_symptoms (#PCDATA)>
<!ELEMENT bowel_symptom_details (#PCDATA)>
<!ELEMENT symptom_notes (#PCDATA)>
<!ELEMENT medical_history (id,assessment_id,has_endometriosis,endometriosis_details,has_fibroids,fibroid_details,has_pcos,has_ovarian_cysts,ovarian_cyst_details,previous_gynaecological_surgery,gynaecological_surgery_details,has_thyroid_disorder,thyroid_details,has_clotting_disorder,clotting_disorder_details,has_autoimmune_condition,autoimmune_details,has_mental_health_condition,mental_health_details,other_medical_conditions,previous_surgeries,allergies,created_at,updated_at)>
<!ELEMENT has_endometriosis (#PCDATA)>
<!ELEMENT endometriosis_details (#PCDATA)>
<!ELEMENT has_fibroids (#PCDATA)>
<!ELEMENT fibroid_details (#PCDATA)>
<!ELEMENT has_pcos (#PCDATA)>
<!ELEMENT has_ovarian_cysts (#PCDATA)>
<!ELEMENT ovarian_cyst_details (#PCDATA)>
<!ELEMENT previous_gynaecological_surgery (#PCDATA)>
<!ELEMENT gynaecological_surgery_details (#PCDATA)>
<!ELEMENT has_thyroid_disorder (#PCDATA)>
<!ELEMENT thyroid_details (#PCDATA)>
<!ELEMENT has_clotting_disorder (#PCDATA)>
<!ELEMENT clotting_disorder_details (#PCDATA)>
<!ELEMENT has_autoimmune_condition (#PCDATA)>
<!ELEMENT autoimmune_details (#PCDATA)>
<!ELEMENT has_mental_health_condition (#PCDATA)>
<!ELEMENT mental_health_details (#PCDATA)>
<!ELEMENT other_medical_conditions (#PCDATA)>
<!ELEMENT previous_surgeries (#PCDATA)>
<!ELEMENT allergies (#PCDATA)>
<!ELEMENT menstrual_history (id,assessment_id,menarche_age,menstrual_status,cycle_length_days,period_duration_days,flow_volume,menorrhagia,dysmenorrhoea,dysmenorrhoea_severity,intermenstrual_bleeding,postcoital_bleeding,post_menopausal_bleeding,last_menstrual_period_date,menopause_age,menstrual_notes,created_at,updated_at)>
<!ELEMENT menarche_age (#PCDATA)>
<!ELEMENT menstrual_status (#PCDATA)>
<!ELEMENT cycle_length_days (#PCDATA)>
<!ELEMENT period_duration_days (#PCDATA)>
<!ELEMENT flow_volume (#PCDATA)>
<!ELEMENT menorrhagia (#PCDATA)>
<!ELEMENT dysmenorrhoea (#PCDATA)>
<!ELEMENT dysmenorrhoea_severity (#PCDATA)>
<!ELEMENT intermenstrual_bleeding (#PCDATA)>
<!ELEMENT postcoital_bleeding (#PCDATA)>
<!ELEMENT post_menopausal_bleeding (#PCDATA)>
<!ELEMENT last_menstrual_period_date (#PCDATA)>
<!ELEMENT menopause_age (#PCDATA)>
<!ELEMENT menstrual_notes (#PCDATA)>
<!ELEMENT obstetric_history (id,assessment_id,gravida,para,number_of_miscarriages,number_of_terminations,number_of_ectopics,number_of_stillbirths,currently_pregnant,gestational_age_weeks,delivery_complications,delivery_complication_details,caesarean_section_history,number_of_caesareans,gestational_diabetes,pre_eclampsia,obstetric_notes,created_at,updated_at)>
<!ELEMENT gravida (#PCDATA)>
<!ELEMENT para (#PCDATA)>
<!ELEMENT number_of_miscarriages (#PCDATA)>
<!ELEMENT number_of_terminations (#PCDATA)>
<!ELEMENT number_of_ectopics (#PCDATA)>
<!ELEMENT number_of_stillbirths (#PCDATA)>
<!ELEMENT currently_pregnant (#PCDATA)>
<!ELEMENT gestational_age_weeks (#PCDATA)>
<!ELEMENT delivery_complications (#PCDATA)>
<!ELEMENT delivery_complication_details (#PCDATA)>
<!ELEMENT caesarean_section_history (#PCDATA)>
<!ELEMENT number_of_caesareans (#PCDATA)>
<!ELEMENT gestational_diabetes (#PCDATA)>
<!ELEMENT pre_eclampsia (#PCDATA)>
<!ELEMENT obstetric_notes (#PCDATA)>
<!ELEMENT sexual_health (id,assessment_id,sexually_active,contraception_use,contraception_method,contraception_details,sti_history,sti_details,last_sti_screen_date,sti_screen_result,fertility_concerns,fertility_concern_details,sexual_dysfunction,sexual_dysfunction_details,domestic_abuse_screen,sexual_health_notes,created_at,updated_at)>
<!ELEMENT sexually_active (#PCDATA)>
<!ELEMENT contraception_use (#PCDATA)>
<!ELEMENT contraception_method (#PCDATA)>
<!ELEMENT contraception_details (#PCDATA)>
<!ELEMENT sti_history (#PCDATA)>
<!ELEMENT sti_details (#PCDATA)>
<!ELEMENT last_sti_screen_date (#PCDATA)>
<!ELEMENT sti_screen_result (#PCDATA)>
<!ELEMENT fertility_concerns (#PCDATA)>
<!ELEMENT fertility_concern_details (#PCDATA)>
<!ELEMENT sexual_dysfunction (#PCDATA)>
<!ELEMENT sexual_dysfunction_details (#PCDATA)>
<!ELEMENT domestic_abuse_screen (#PCDATA)>
<!ELEMENT sexual_health_notes (#PCDATA)>
