forms/gynecology-assessment/xml-representations/assessment_menstrual_history.dtd

<!ELEMENT assessment_menstrual_history (id,assessment_id,menarche_age,menstrual_status,cycle_length_days,period_duration_days,flow_volume,menorrhagia,dysmenorrhoea,dysmenorrhoea_severity,intermenstrual_bleeding,postcoital_bleeding,post_menopausal_bleeding,last_menstrual_period_date,menopause_age,menstrual_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT menarche_age (#PCDATA)>
<!ELEMENT menstrual_status (#PCDATA)>
<!ELEMENT cycle_length_days (#PCDATA)>
<!ELEMENT period_duration_days (#PCDATA)>
<!ELEMENT flow_volume (#PCDATA)>
<!ELEMENT menorrhagia (#PCDATA)>
<!ELEMENT dysmenorrhoea (#PCDATA)>
<!ELEMENT dysmenorrhoea_severity (#PCDATA)>
<!ELEMENT intermenstrual_bleeding (#PCDATA)>
<!ELEMENT postcoital_bleeding (#PCDATA)>
<!ELEMENT post_menopausal_bleeding (#PCDATA)>
<!ELEMENT last_menstrual_period_date (#PCDATA)>
<!ELEMENT menopause_age (#PCDATA)>
<!ELEMENT menstrual_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
