forms/gynecology-assessment/xml-representations/assessment_medical_history.dtd

<!ELEMENT assessment_medical_history (id,assessment_id,has_endometriosis,endometriosis_details,has_fibroids,fibroid_details,has_pcos,has_ovarian_cysts,ovarian_cyst_details,previous_gynaecological_surgery,gynaecological_surgery_details,has_thyroid_disorder,thyroid_details,has_clotting_disorder,clotting_disorder_details,has_autoimmune_condition,autoimmune_details,has_mental_health_condition,mental_health_details,other_medical_conditions,previous_surgeries,allergies,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_endometriosis (#PCDATA)>
<!ELEMENT endometriosis_details (#PCDATA)>
<!ELEMENT has_fibroids (#PCDATA)>
<!ELEMENT fibroid_details (#PCDATA)>
<!ELEMENT has_pcos (#PCDATA)>
<!ELEMENT has_ovarian_cysts (#PCDATA)>
<!ELEMENT ovarian_cyst_details (#PCDATA)>
<!ELEMENT previous_gynaecological_surgery (#PCDATA)>
<!ELEMENT gynaecological_surgery_details (#PCDATA)>
<!ELEMENT has_thyroid_disorder (#PCDATA)>
<!ELEMENT thyroid_details (#PCDATA)>
<!ELEMENT has_clotting_disorder (#PCDATA)>
<!ELEMENT clotting_disorder_details (#PCDATA)>
<!ELEMENT has_autoimmune_condition (#PCDATA)>
<!ELEMENT autoimmune_details (#PCDATA)>
<!ELEMENT has_mental_health_condition (#PCDATA)>
<!ELEMENT mental_health_details (#PCDATA)>
<!ELEMENT other_medical_conditions (#PCDATA)>
<!ELEMENT previous_surgeries (#PCDATA)>
<!ELEMENT allergies (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
