forms/gynecology-assessment/xml-representations/assessment_gynecological_symptoms.dtd

<!ELEMENT assessment_gynecological_symptoms (id,assessment_id,pelvic_pain,pelvic_pain_severity,pelvic_pain_location,dyspareunia,dyspareunia_type,vaginal_discharge,discharge_characteristics,vulval_symptoms,vulval_symptom_details,urinary_symptoms,urinary_symptom_type,pelvic_organ_prolapse_symptoms,prolapse_details,bloating,bowel_symptoms,bowel_symptom_details,symptom_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT pelvic_pain (#PCDATA)>
<!ELEMENT pelvic_pain_severity (#PCDATA)>
<!ELEMENT pelvic_pain_location (#PCDATA)>
<!ELEMENT dyspareunia (#PCDATA)>
<!ELEMENT dyspareunia_type (#PCDATA)>
<!ELEMENT vaginal_discharge (#PCDATA)>
<!ELEMENT discharge_characteristics (#PCDATA)>
<!ELEMENT vulval_symptoms (#PCDATA)>
<!ELEMENT vulval_symptom_details (#PCDATA)>
<!ELEMENT urinary_symptoms (#PCDATA)>
<!ELEMENT urinary_symptom_type (#PCDATA)>
<!ELEMENT pelvic_organ_prolapse_symptoms (#PCDATA)>
<!ELEMENT prolapse_details (#PCDATA)>
<!ELEMENT bloating (#PCDATA)>
<!ELEMENT bowel_symptoms (#PCDATA)>
<!ELEMENT bowel_symptom_details (#PCDATA)>
<!ELEMENT symptom_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
