forms/gynecology-assessment/xml-representations/assessment_current_medication_item.dtd

<!ELEMENT assessment_current_medication_item (id,current_medications_id,medication_name,dose,frequency,indication,sort_order,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT current_medications_id (#PCDATA)>
<!ELEMENT medication_name (#PCDATA)>
<!ELEMENT dose (#PCDATA)>
<!ELEMENT frequency (#PCDATA)>
<!ELEMENT indication (#PCDATA)>
<!ELEMENT sort_order (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
