forms/gynecology-assessment/xml-representations/assessment_family_history.dtd

<!ELEMENT assessment_family_history (id,assessment_id,family_history_breast_cancer,breast_cancer_details,family_history_ovarian_cancer,ovarian_cancer_details,family_history_endometrial_cancer,endometrial_cancer_details,family_history_cervical_cancer,family_history_endometriosis,family_history_fibroids,family_history_pcos,family_history_early_menopause,family_history_osteoporosis,family_history_thromboembolism,other_family_history,family_history_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT family_history_breast_cancer (#PCDATA)>
<!ELEMENT breast_cancer_details (#PCDATA)>
<!ELEMENT family_history_ovarian_cancer (#PCDATA)>
<!ELEMENT ovarian_cancer_details (#PCDATA)>
<!ELEMENT family_history_endometrial_cancer (#PCDATA)>
<!ELEMENT endometrial_cancer_details (#PCDATA)>
<!ELEMENT family_history_cervical_cancer (#PCDATA)>
<!ELEMENT family_history_endometriosis (#PCDATA)>
<!ELEMENT family_history_fibroids (#PCDATA)>
<!ELEMENT family_history_pcos (#PCDATA)>
<!ELEMENT family_history_early_menopause (#PCDATA)>
<!ELEMENT family_history_osteoporosis (#PCDATA)>
<!ELEMENT family_history_thromboembolism (#PCDATA)>
<!ELEMENT other_family_history (#PCDATA)>
<!ELEMENT family_history_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
