forms/gynecology-assessment/xml-representations/assessment_sexual_health.dtd

<!ELEMENT assessment_sexual_health (id,assessment_id,sexually_active,contraception_use,contraception_method,contraception_details,sti_history,sti_details,last_sti_screen_date,sti_screen_result,fertility_concerns,fertility_concern_details,sexual_dysfunction,sexual_dysfunction_details,domestic_abuse_screen,sexual_health_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT sexually_active (#PCDATA)>
<!ELEMENT contraception_use (#PCDATA)>
<!ELEMENT contraception_method (#PCDATA)>
<!ELEMENT contraception_details (#PCDATA)>
<!ELEMENT sti_history (#PCDATA)>
<!ELEMENT sti_details (#PCDATA)>
<!ELEMENT last_sti_screen_date (#PCDATA)>
<!ELEMENT sti_screen_result (#PCDATA)>
<!ELEMENT fertility_concerns (#PCDATA)>
<!ELEMENT fertility_concern_details (#PCDATA)>
<!ELEMENT sexual_dysfunction (#PCDATA)>
<!ELEMENT sexual_dysfunction_details (#PCDATA)>
<!ELEMENT domestic_abuse_screen (#PCDATA)>
<!ELEMENT sexual_health_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
