forms/gynecology-assessment/xml-representations/grading_result.dtd

<!ELEMENT grading_result (id,assessment_id,severity_level,total_symptom_score,menstrual_domain_score,pelvic_symptom_score,urogenital_symptom_score,graded_at,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT severity_level (#PCDATA)>
<!ELEMENT total_symptom_score (#PCDATA)>
<!ELEMENT menstrual_domain_score (#PCDATA)>
<!ELEMENT pelvic_symptom_score (#PCDATA)>
<!ELEMENT urogenital_symptom_score (#PCDATA)>
<!ELEMENT graded_at (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
