forms/endometriosis-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,demographics,fertility,gastrointestinal_symptoms,menstrual_history,pain_assessment,previous_treatments,quality_of_life,surgical_history,treatment_planning,urinary_symptoms)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,preferred_name,gender_identity,ethnicity,preferred_language,interpreter_required,gp_name,gp_practice,referrer_name,referrer_role,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT preferred_name (#PCDATA)>
<!ELEMENT gender_identity (#PCDATA)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT preferred_language (#PCDATA)>
<!ELEMENT interpreter_required (#PCDATA)>
<!ELEMENT gp_name (#PCDATA)>
<!ELEMENT gp_practice (#PCDATA)>
<!ELEMENT referrer_name (#PCDATA)>
<!ELEMENT referrer_role (#PCDATA)>
<!ELEMENT fertility (id,assessment_id,trying_to_conceive,duration_trying_months,previous_pregnancies,live_births,miscarriages,ectopic_pregnancies,previous_fertility_treatment,fertility_treatment_details,amh_level,partner_semen_analysis,future_fertility_concerns,fertility_notes,created_at,updated_at)>
<!ELEMENT trying_to_conceive (#PCDATA)>
<!ELEMENT duration_trying_months (#PCDATA)>
<!ELEMENT previous_pregnancies (#PCDATA)>
<!ELEMENT live_births (#PCDATA)>
<!ELEMENT miscarriages (#PCDATA)>
<!ELEMENT ectopic_pregnancies (#PCDATA)>
<!ELEMENT previous_fertility_treatment (#PCDATA)>
<!ELEMENT fertility_treatment_details (#PCDATA)>
<!ELEMENT amh_level (#PCDATA)>
<!ELEMENT partner_semen_analysis (#PCDATA)>
<!ELEMENT future_fertility_concerns (#PCDATA)>
<!ELEMENT fertility_notes (#PCDATA)>
<!ELEMENT gastrointestinal_symptoms (id,assessment_id,has_gi_symptoms,bloating,bloating_cyclical,nausea,constipation,diarrhoea,alternating_bowel_habit,rectal_bleeding,rectal_bleeding_cyclical,bowel_obstruction_symptoms,gi_notes,created_at,updated_at)>
<!ELEMENT has_gi_symptoms (#PCDATA)>
<!ELEMENT bloating (#PCDATA)>
<!ELEMENT bloating_cyclical (#PCDATA)>
<!ELEMENT nausea (#PCDATA)>
<!ELEMENT constipation (#PCDATA)>
<!ELEMENT diarrhoea (#PCDATA)>
<!ELEMENT alternating_bowel_habit (#PCDATA)>
<!ELEMENT rectal_bleeding (#PCDATA)>
<!ELEMENT rectal_bleeding_cyclical (#PCDATA)>
<!ELEMENT bowel_obstruction_symptoms (#PCDATA)>
<!ELEMENT gi_notes (#PCDATA)>
<!ELEMENT menstrual_history (id,assessment_id,age_at_menarche,cycle_regularity,cycle_length_days,period_duration_days,flow_heaviness,clots_present,intermenstrual_bleeding,postcoital_bleeding,dysmenorrhoea_severity,days_off_work_per_cycle,current_contraception,menstrual_notes,created_at,updated_at)>
<!ELEMENT age_at_menarche (#PCDATA)>
<!ELEMENT cycle_regularity (#PCDATA)>
<!ELEMENT cycle_length_days (#PCDATA)>
<!ELEMENT period_duration_days (#PCDATA)>
<!ELEMENT flow_heaviness (#PCDATA)>
<!ELEMENT clots_present (#PCDATA)>
<!ELEMENT intermenstrual_bleeding (#PCDATA)>
<!ELEMENT postcoital_bleeding (#PCDATA)>
<!ELEMENT dysmenorrhoea_severity (#PCDATA)>
<!ELEMENT days_off_work_per_cycle (#PCDATA)>
<!ELEMENT current_contraception (#PCDATA)>
<!ELEMENT menstrual_notes (#PCDATA)>
<!ELEMENT pain_assessment (id,assessment_id,has_pelvic_pain,pelvic_pain_severity,pelvic_pain_character,pelvic_pain_location,pelvic_pain_timing,dyspareunia,dyspareunia_severity,dyschezia,dyschezia_cyclical,back_pain,leg_pain,pain_worse_with_activity,pain_notes,created_at,updated_at)>
<!ELEMENT has_pelvic_pain (#PCDATA)>
<!ELEMENT pelvic_pain_severity (#PCDATA)>
<!ELEMENT pelvic_pain_character (#PCDATA)>
<!ELEMENT pelvic_pain_location (#PCDATA)>
<!ELEMENT pelvic_pain_timing (#PCDATA)>
<!ELEMENT dyspareunia (#PCDATA)>
<!ELEMENT dyspareunia_severity (#PCDATA)>
<!ELEMENT dyschezia (#PCDATA)>
<!ELEMENT dyschezia_cyclical (#PCDATA)>
<!ELEMENT back_pain (#PCDATA)>
<!ELEMENT leg_pain (#PCDATA)>
<!ELEMENT pain_worse_with_activity (#PCDATA)>
<!ELEMENT pain_notes (#PCDATA)>
<!ELEMENT previous_treatments (id,assessment_id,nsaids_tried,nsaids_effective,paracetamol_tried,opioids_tried,opioids_current,combined_pill_tried,combined_pill_effective,progesterone_tried,progesterone_type,gnrh_agonist_tried,gnrh_agonist_duration_months,mirena_ius_tried,other_treatments,treatment_notes,created_at,updated_at)>
<!ELEMENT nsaids_tried (#PCDATA)>
<!ELEMENT nsaids_effective (#PCDATA)>
<!ELEMENT paracetamol_tried (#PCDATA)>
<!ELEMENT opioids_tried (#PCDATA)>
<!ELEMENT opioids_current (#PCDATA)>
<!ELEMENT combined_pill_tried (#PCDATA)>
<!ELEMENT combined_pill_effective (#PCDATA)>
<!ELEMENT progesterone_tried (#PCDATA)>
<!ELEMENT progesterone_type (#PCDATA)>
<!ELEMENT gnrh_agonist_tried (#PCDATA)>
<!ELEMENT gnrh_agonist_duration_months (#PCDATA)>
<!ELEMENT mirena_ius_tried (#PCDATA)>
<!ELEMENT other_treatments (#PCDATA)>
<!ELEMENT treatment_notes (#PCDATA)>
<!ELEMENT quality_of_life (id,assessment_id,pain_domain_score,control_powerlessness_score,emotional_wellbeing_score,social_support_score,self_image_score,work_impact,relationship_impact,sleep_impact,mental_health_impact,exercise_impact,qol_notes,created_at,updated_at)>
<!ELEMENT pain_domain_score (#PCDATA)>
<!ELEMENT control_powerlessness_score (#PCDATA)>
<!ELEMENT emotional_wellbeing_score (#PCDATA)>
<!ELEMENT social_support_score (#PCDATA)>
<!ELEMENT self_image_score (#PCDATA)>
<!ELEMENT work_impact (#PCDATA)>
<!ELEMENT relationship_impact (#PCDATA)>
<!ELEMENT sleep_impact (#PCDATA)>
<!ELEMENT mental_health_impact (#PCDATA)>
<!ELEMENT exercise_impact (#PCDATA)>
<!ELEMENT qol_notes (#PCDATA)>
<!ELEMENT surgical_history (id,assessment_id,previous_laparoscopy,number_of_laparoscopies,most_recent_laparoscopy_date,endometriosis_confirmed_surgically,histological_confirmation,asrm_stage_at_surgery,sites_found,excision_performed,ablation_performed,adhesiolysis_performed,endometrioma_drained,bowel_surgery,bladder_surgery,other_pelvic_surgery,surgical_complications,surgical_notes,created_at,updated_at)>
<!ELEMENT previous_laparoscopy (#PCDATA)>
<!ELEMENT number_of_laparoscopies (#PCDATA)>
<!ELEMENT most_recent_laparoscopy_date (#PCDATA)>
<!ELEMENT endometriosis_confirmed_surgically (#PCDATA)>
<!ELEMENT histological_confirmation (#PCDATA)>
<!ELEMENT asrm_stage_at_surgery (#PCDATA)>
<!ELEMENT sites_found (#PCDATA)>
<!ELEMENT excision_performed (#PCDATA)>
<!ELEMENT ablation_performed (#PCDATA)>
<!ELEMENT adhesiolysis_performed (#PCDATA)>
<!ELEMENT endometrioma_drained (#PCDATA)>
<!ELEMENT bowel_surgery (#PCDATA)>
<!ELEMENT bladder_surgery (#PCDATA)>
<!ELEMENT other_pelvic_surgery (#PCDATA)>
<!ELEMENT surgical_complications (#PCDATA)>
<!ELEMENT surgical_notes (#PCDATA)>
<!ELEMENT treatment_planning (id,assessment_id,treatment_goals,preferred_approach,surgery_considered,surgery_type_considered,fertility_preservation_needed,mdt_referral_needed,pain_management_referral,psychology_referral,physiotherapy_referral,fertility_clinic_referral,imaging_requested,follow_up_interval,planning_notes,created_at,updated_at)>
<!ELEMENT treatment_goals (#PCDATA)>
<!ELEMENT preferred_approach (#PCDATA)>
<!ELEMENT surgery_considered (#PCDATA)>
<!ELEMENT surgery_type_considered (#PCDATA)>
<!ELEMENT fertility_preservation_needed (#PCDATA)>
<!ELEMENT mdt_referral_needed (#PCDATA)>
<!ELEMENT pain_management_referral (#PCDATA)>
<!ELEMENT psychology_referral (#PCDATA)>
<!ELEMENT physiotherapy_referral (#PCDATA)>
<!ELEMENT fertility_clinic_referral (#PCDATA)>
<!ELEMENT imaging_requested (#PCDATA)>
<!ELEMENT follow_up_interval (#PCDATA)>
<!ELEMENT planning_notes (#PCDATA)>
<!ELEMENT urinary_symptoms (id,assessment_id,has_urinary_symptoms,frequency,urgency,dysuria,haematuria,haematuria_cyclical,flank_pain,urinary_obstruction_symptoms,recurrent_utis,urinary_notes,created_at,updated_at)>
<!ELEMENT has_urinary_symptoms (#PCDATA)>
<!ELEMENT frequency (#PCDATA)>
<!ELEMENT urgency (#PCDATA)>
<!ELEMENT dysuria (#PCDATA)>
<!ELEMENT haematuria (#PCDATA)>
<!ELEMENT haematuria_cyclical (#PCDATA)>
<!ELEMENT flank_pain (#PCDATA)>
<!ELEMENT urinary_obstruction_symptoms (#PCDATA)>
<!ELEMENT recurrent_utis (#PCDATA)>
<!ELEMENT urinary_notes (#PCDATA)>
