forms/endometriosis-assessment/xml-representations/assessment_urinary_symptoms.dtd

<!ELEMENT assessment_urinary_symptoms (id,assessment_id,has_urinary_symptoms,frequency,urgency,dysuria,haematuria,haematuria_cyclical,flank_pain,urinary_obstruction_symptoms,recurrent_utis,urinary_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_urinary_symptoms (#PCDATA)>
<!ELEMENT frequency (#PCDATA)>
<!ELEMENT urgency (#PCDATA)>
<!ELEMENT dysuria (#PCDATA)>
<!ELEMENT haematuria (#PCDATA)>
<!ELEMENT haematuria_cyclical (#PCDATA)>
<!ELEMENT flank_pain (#PCDATA)>
<!ELEMENT urinary_obstruction_symptoms (#PCDATA)>
<!ELEMENT recurrent_utis (#PCDATA)>
<!ELEMENT urinary_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
