forms/endometriosis-assessment/xml-representations/assessment_surgical_history.dtd

<!ELEMENT assessment_surgical_history (id,assessment_id,previous_laparoscopy,number_of_laparoscopies,most_recent_laparoscopy_date,endometriosis_confirmed_surgically,histological_confirmation,asrm_stage_at_surgery,sites_found,excision_performed,ablation_performed,adhesiolysis_performed,endometrioma_drained,bowel_surgery,bladder_surgery,other_pelvic_surgery,surgical_complications,surgical_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT previous_laparoscopy (#PCDATA)>
<!ELEMENT number_of_laparoscopies (#PCDATA)>
<!ELEMENT most_recent_laparoscopy_date (#PCDATA)>
<!ELEMENT endometriosis_confirmed_surgically (#PCDATA)>
<!ELEMENT histological_confirmation (#PCDATA)>
<!ELEMENT asrm_stage_at_surgery (#PCDATA)>
<!ELEMENT sites_found (#PCDATA)>
<!ELEMENT excision_performed (#PCDATA)>
<!ELEMENT ablation_performed (#PCDATA)>
<!ELEMENT adhesiolysis_performed (#PCDATA)>
<!ELEMENT endometrioma_drained (#PCDATA)>
<!ELEMENT bowel_surgery (#PCDATA)>
<!ELEMENT bladder_surgery (#PCDATA)>
<!ELEMENT other_pelvic_surgery (#PCDATA)>
<!ELEMENT surgical_complications (#PCDATA)>
<!ELEMENT surgical_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
