forms/endometriosis-assessment/xml-representations/assessment_gastrointestinal_symptoms.dtd

<!ELEMENT assessment_gastrointestinal_symptoms (id,assessment_id,has_gi_symptoms,bloating,bloating_cyclical,nausea,constipation,diarrhoea,alternating_bowel_habit,rectal_bleeding,rectal_bleeding_cyclical,bowel_obstruction_symptoms,gi_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_gi_symptoms (#PCDATA)>
<!ELEMENT bloating (#PCDATA)>
<!ELEMENT bloating_cyclical (#PCDATA)>
<!ELEMENT nausea (#PCDATA)>
<!ELEMENT constipation (#PCDATA)>
<!ELEMENT diarrhoea (#PCDATA)>
<!ELEMENT alternating_bowel_habit (#PCDATA)>
<!ELEMENT rectal_bleeding (#PCDATA)>
<!ELEMENT rectal_bleeding_cyclical (#PCDATA)>
<!ELEMENT bowel_obstruction_symptoms (#PCDATA)>
<!ELEMENT gi_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
