forms/endometriosis-assessment/xml-representations/assessment_treatment_planning.dtd

<!ELEMENT assessment_treatment_planning (id,assessment_id,treatment_goals,preferred_approach,surgery_considered,surgery_type_considered,fertility_preservation_needed,mdt_referral_needed,pain_management_referral,psychology_referral,physiotherapy_referral,fertility_clinic_referral,imaging_requested,follow_up_interval,planning_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT treatment_goals (#PCDATA)>
<!ELEMENT preferred_approach (#PCDATA)>
<!ELEMENT surgery_considered (#PCDATA)>
<!ELEMENT surgery_type_considered (#PCDATA)>
<!ELEMENT fertility_preservation_needed (#PCDATA)>
<!ELEMENT mdt_referral_needed (#PCDATA)>
<!ELEMENT pain_management_referral (#PCDATA)>
<!ELEMENT psychology_referral (#PCDATA)>
<!ELEMENT physiotherapy_referral (#PCDATA)>
<!ELEMENT fertility_clinic_referral (#PCDATA)>
<!ELEMENT imaging_requested (#PCDATA)>
<!ELEMENT follow_up_interval (#PCDATA)>
<!ELEMENT planning_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
