forms/endometriosis-assessment/xml-representations/assessment_fertility.dtd

<!ELEMENT assessment_fertility (id,assessment_id,trying_to_conceive,duration_trying_months,previous_pregnancies,live_births,miscarriages,ectopic_pregnancies,previous_fertility_treatment,fertility_treatment_details,amh_level,partner_semen_analysis,future_fertility_concerns,fertility_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT trying_to_conceive (#PCDATA)>
<!ELEMENT duration_trying_months (#PCDATA)>
<!ELEMENT previous_pregnancies (#PCDATA)>
<!ELEMENT live_births (#PCDATA)>
<!ELEMENT miscarriages (#PCDATA)>
<!ELEMENT ectopic_pregnancies (#PCDATA)>
<!ELEMENT previous_fertility_treatment (#PCDATA)>
<!ELEMENT fertility_treatment_details (#PCDATA)>
<!ELEMENT amh_level (#PCDATA)>
<!ELEMENT partner_semen_analysis (#PCDATA)>
<!ELEMENT future_fertility_concerns (#PCDATA)>
<!ELEMENT fertility_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
