forms/endometriosis-assessment/xml-representations/assessment_menstrual_history.dtd

<!ELEMENT assessment_menstrual_history (id,assessment_id,age_at_menarche,cycle_regularity,cycle_length_days,period_duration_days,flow_heaviness,clots_present,intermenstrual_bleeding,postcoital_bleeding,dysmenorrhoea_severity,days_off_work_per_cycle,current_contraception,menstrual_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT age_at_menarche (#PCDATA)>
<!ELEMENT cycle_regularity (#PCDATA)>
<!ELEMENT cycle_length_days (#PCDATA)>
<!ELEMENT period_duration_days (#PCDATA)>
<!ELEMENT flow_heaviness (#PCDATA)>
<!ELEMENT clots_present (#PCDATA)>
<!ELEMENT intermenstrual_bleeding (#PCDATA)>
<!ELEMENT postcoital_bleeding (#PCDATA)>
<!ELEMENT dysmenorrhoea_severity (#PCDATA)>
<!ELEMENT days_off_work_per_cycle (#PCDATA)>
<!ELEMENT current_contraception (#PCDATA)>
<!ELEMENT menstrual_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
