forms/endometriosis-assessment/xml-representations/assessment_pain_assessment.dtd

<!ELEMENT assessment_pain_assessment (id,assessment_id,has_pelvic_pain,pelvic_pain_severity,pelvic_pain_character,pelvic_pain_location,pelvic_pain_timing,dyspareunia,dyspareunia_severity,dyschezia,dyschezia_cyclical,back_pain,leg_pain,pain_worse_with_activity,pain_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_pelvic_pain (#PCDATA)>
<!ELEMENT pelvic_pain_severity (#PCDATA)>
<!ELEMENT pelvic_pain_character (#PCDATA)>
<!ELEMENT pelvic_pain_location (#PCDATA)>
<!ELEMENT pelvic_pain_timing (#PCDATA)>
<!ELEMENT dyspareunia (#PCDATA)>
<!ELEMENT dyspareunia_severity (#PCDATA)>
<!ELEMENT dyschezia (#PCDATA)>
<!ELEMENT dyschezia_cyclical (#PCDATA)>
<!ELEMENT back_pain (#PCDATA)>
<!ELEMENT leg_pain (#PCDATA)>
<!ELEMENT pain_worse_with_activity (#PCDATA)>
<!ELEMENT pain_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
