forms/endometriosis-assessment/xml-representations/assessment_previous_treatments.dtd

<!ELEMENT assessment_previous_treatments (id,assessment_id,nsaids_tried,nsaids_effective,paracetamol_tried,opioids_tried,opioids_current,combined_pill_tried,combined_pill_effective,progesterone_tried,progesterone_type,gnrh_agonist_tried,gnrh_agonist_duration_months,mirena_ius_tried,other_treatments,treatment_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT nsaids_tried (#PCDATA)>
<!ELEMENT nsaids_effective (#PCDATA)>
<!ELEMENT paracetamol_tried (#PCDATA)>
<!ELEMENT opioids_tried (#PCDATA)>
<!ELEMENT opioids_current (#PCDATA)>
<!ELEMENT combined_pill_tried (#PCDATA)>
<!ELEMENT combined_pill_effective (#PCDATA)>
<!ELEMENT progesterone_tried (#PCDATA)>
<!ELEMENT progesterone_type (#PCDATA)>
<!ELEMENT gnrh_agonist_tried (#PCDATA)>
<!ELEMENT gnrh_agonist_duration_months (#PCDATA)>
<!ELEMENT mirena_ius_tried (#PCDATA)>
<!ELEMENT other_treatments (#PCDATA)>
<!ELEMENT treatment_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
