forms/endometriosis-assessment/xml-representations/grading_result.dtd

<!ELEMENT grading_result (id,assessment_id,asrm_stage,asrm_points,ehp30_total_score,overall_severity,graded_at,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT asrm_stage (#PCDATA)>
<!ELEMENT asrm_points (#PCDATA)>
<!ELEMENT ehp30_total_score (#PCDATA)>
<!ELEMENT overall_severity (#PCDATA)>
<!ELEMENT graded_at (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
