forms/medical-error-report/xml-representations/assessment_corrective_actions.dtd

<!ELEMENT assessment_corrective_actions (id,assessment_id,immediate_corrective_actions,long_term_corrective_actions,policy_change_required,policy_change_details,training_required,training_details,equipment_change_required,equipment_change_details,process_redesign_required,process_redesign_details,responsible_person,target_completion_date,actions_status,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT immediate_corrective_actions (#PCDATA)>
<!ELEMENT long_term_corrective_actions (#PCDATA)>
<!ELEMENT policy_change_required (#PCDATA)>
<!ELEMENT policy_change_details (#PCDATA)>
<!ELEMENT training_required (#PCDATA)>
<!ELEMENT training_details (#PCDATA)>
<!ELEMENT equipment_change_required (#PCDATA)>
<!ELEMENT equipment_change_details (#PCDATA)>
<!ELEMENT process_redesign_required (#PCDATA)>
<!ELEMENT process_redesign_details (#PCDATA)>
<!ELEMENT responsible_person (#PCDATA)>
<!ELEMENT target_completion_date (#PCDATA)>
<!ELEMENT actions_status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
