forms/medical-error-report/xml-representations/assessment_patient_involvement.dtd

<!ELEMENT assessment_patient_involvement (id,assessment_id,patient_involved,patient_first_name,patient_last_name,patient_nhs_number,patient_date_of_birth,patient_sex,patient_age_at_incident,patient_informed,patient_informed_date,patient_informed_by,duty_of_candour_applies,duty_of_candour_completed,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT patient_involved (#PCDATA)>
<!ELEMENT patient_first_name (#PCDATA)>
<!ELEMENT patient_last_name (#PCDATA)>
<!ELEMENT patient_nhs_number (#PCDATA)>
<!ELEMENT patient_date_of_birth (#PCDATA)>
<!ELEMENT patient_sex (#PCDATA)>
<!ELEMENT patient_age_at_incident (#PCDATA)>
<!ELEMENT patient_informed (#PCDATA)>
<!ELEMENT patient_informed_date (#PCDATA)>
<!ELEMENT patient_informed_by (#PCDATA)>
<!ELEMENT duty_of_candour_applies (#PCDATA)>
<!ELEMENT duty_of_candour_completed (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
