forms/medical-error-report/xml-representations/assessment_reporting_followup.dtd

<!ELEMENT assessment_reporting_followup (id,assessment_id,internal_reference,reported_to_datix,datix_reference,reported_to_nrls,nrls_reference,reported_to_cqc,reported_to_hsib,reported_to_coroner,safeguarding_referral,lessons_learned,shared_with_team,follow_up_review_date,follow_up_reviewer,final_status,closure_date,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT internal_reference (#PCDATA)>
<!ELEMENT reported_to_datix (#PCDATA)>
<!ELEMENT datix_reference (#PCDATA)>
<!ELEMENT reported_to_nrls (#PCDATA)>
<!ELEMENT nrls_reference (#PCDATA)>
<!ELEMENT reported_to_cqc (#PCDATA)>
<!ELEMENT reported_to_hsib (#PCDATA)>
<!ELEMENT reported_to_coroner (#PCDATA)>
<!ELEMENT safeguarding_referral (#PCDATA)>
<!ELEMENT lessons_learned (#PCDATA)>
<!ELEMENT shared_with_team (#PCDATA)>
<!ELEMENT follow_up_review_date (#PCDATA)>
<!ELEMENT follow_up_reviewer (#PCDATA)>
<!ELEMENT final_status (#PCDATA)>
<!ELEMENT closure_date (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
