forms/medical-error-report/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,contributing_factors,corrective_actions,demographics,error_classification,immediate_actions,incident_details,patient_involvement,patient_outcome,reporting_followup,root_cause_analysis)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT contributing_factors (id,assessment_id,staff_fatigue,inadequate_training,communication_failure,communication_failure_details,handover_failure,equipment_failure,equipment_failure_details,environmental_factors,environmental_details,policy_not_followed,policy_details,workload_pressure,patient_factors,patient_factors_details,other_factors,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT staff_fatigue (#PCDATA)>
<!ELEMENT inadequate_training (#PCDATA)>
<!ELEMENT communication_failure (#PCDATA)>
<!ELEMENT communication_failure_details (#PCDATA)>
<!ELEMENT handover_failure (#PCDATA)>
<!ELEMENT equipment_failure (#PCDATA)>
<!ELEMENT equipment_failure_details (#PCDATA)>
<!ELEMENT environmental_factors (#PCDATA)>
<!ELEMENT environmental_details (#PCDATA)>
<!ELEMENT policy_not_followed (#PCDATA)>
<!ELEMENT policy_details (#PCDATA)>
<!ELEMENT workload_pressure (#PCDATA)>
<!ELEMENT patient_factors (#PCDATA)>
<!ELEMENT patient_factors_details (#PCDATA)>
<!ELEMENT other_factors (#PCDATA)>
<!ELEMENT corrective_actions (id,assessment_id,immediate_corrective_actions,long_term_corrective_actions,policy_change_required,policy_change_details,training_required,training_details,equipment_change_required,equipment_change_details,process_redesign_required,process_redesign_details,responsible_person,target_completion_date,actions_status,created_at,updated_at)>
<!ELEMENT immediate_corrective_actions (#PCDATA)>
<!ELEMENT long_term_corrective_actions (#PCDATA)>
<!ELEMENT policy_change_required (#PCDATA)>
<!ELEMENT policy_change_details (#PCDATA)>
<!ELEMENT training_required (#PCDATA)>
<!ELEMENT training_details (#PCDATA)>
<!ELEMENT equipment_change_required (#PCDATA)>
<!ELEMENT equipment_change_details (#PCDATA)>
<!ELEMENT process_redesign_required (#PCDATA)>
<!ELEMENT process_redesign_details (#PCDATA)>
<!ELEMENT responsible_person (#PCDATA)>
<!ELEMENT target_completion_date (#PCDATA)>
<!ELEMENT actions_status (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,reporter_first_name,reporter_last_name,reporter_role,reporter_department,reporter_contact_phone,reporter_contact_email,facility_name,facility_ward,report_date,anonymous_report,created_at,updated_at)>
<!ELEMENT reporter_first_name (#PCDATA)>
<!ELEMENT reporter_last_name (#PCDATA)>
<!ELEMENT reporter_role (#PCDATA)>
<!ELEMENT reporter_department (#PCDATA)>
<!ELEMENT reporter_contact_phone (#PCDATA)>
<!ELEMENT reporter_contact_email (#PCDATA)>
<!ELEMENT facility_name (#PCDATA)>
<!ELEMENT facility_ward (#PCDATA)>
<!ELEMENT report_date (#PCDATA)>
<!ELEMENT anonymous_report (#PCDATA)>
<!ELEMENT error_classification (id,assessment_id,error_type,error_type_details,medication_error_stage,who_severity,ncc_merp_category,preventability,recurrence_likelihood,created_at,updated_at)>
<!ELEMENT error_type (#PCDATA)>
<!ELEMENT error_type_details (#PCDATA)>
<!ELEMENT medication_error_stage (#PCDATA)>
<!ELEMENT who_severity (#PCDATA)>
<!ELEMENT ncc_merp_category (#PCDATA)>
<!ELEMENT preventability (#PCDATA)>
<!ELEMENT recurrence_likelihood (#PCDATA)>
<!ELEMENT immediate_actions (id,assessment_id,patient_assessed,treatment_provided,treatment_details,error_contained,containment_details,senior_staff_notified,senior_staff_name,senior_staff_role,risk_team_notified,additional_monitoring,monitoring_details,immediate_actions_summary,created_at,updated_at)>
<!ELEMENT patient_assessed (#PCDATA)>
<!ELEMENT treatment_provided (#PCDATA)>
<!ELEMENT treatment_details (#PCDATA)>
<!ELEMENT error_contained (#PCDATA)>
<!ELEMENT containment_details (#PCDATA)>
<!ELEMENT senior_staff_notified (#PCDATA)>
<!ELEMENT senior_staff_name (#PCDATA)>
<!ELEMENT senior_staff_role (#PCDATA)>
<!ELEMENT risk_team_notified (#PCDATA)>
<!ELEMENT additional_monitoring (#PCDATA)>
<!ELEMENT monitoring_details (#PCDATA)>
<!ELEMENT immediate_actions_summary (#PCDATA)>
<!ELEMENT incident_details (id,assessment_id,incident_date,incident_time,discovery_date,discovery_time,location_type,location_details,incident_summary,incident_witnessed,witness_details,shift_type,staffing_level,created_at,updated_at)>
<!ELEMENT incident_date (#PCDATA)>
<!ELEMENT incident_time (#PCDATA)>
<!ELEMENT discovery_date (#PCDATA)>
<!ELEMENT discovery_time (#PCDATA)>
<!ELEMENT location_type (#PCDATA)>
<!ELEMENT location_details (#PCDATA)>
<!ELEMENT incident_summary (#PCDATA)>
<!ELEMENT incident_witnessed (#PCDATA)>
<!ELEMENT witness_details (#PCDATA)>
<!ELEMENT shift_type (#PCDATA)>
<!ELEMENT staffing_level (#PCDATA)>
<!ELEMENT patient_involvement (id,assessment_id,patient_involved,patient_first_name,patient_last_name,patient_nhs_number,patient_date_of_birth,patient_sex,patient_age_at_incident,patient_informed,patient_informed_date,patient_informed_by,duty_of_candour_applies,duty_of_candour_completed,created_at,updated_at)>
<!ELEMENT patient_involved (#PCDATA)>
<!ELEMENT patient_first_name (#PCDATA)>
<!ELEMENT patient_last_name (#PCDATA)>
<!ELEMENT patient_nhs_number (#PCDATA)>
<!ELEMENT patient_date_of_birth (#PCDATA)>
<!ELEMENT patient_sex (#PCDATA)>
<!ELEMENT patient_age_at_incident (#PCDATA)>
<!ELEMENT patient_informed (#PCDATA)>
<!ELEMENT patient_informed_date (#PCDATA)>
<!ELEMENT patient_informed_by (#PCDATA)>
<!ELEMENT duty_of_candour_applies (#PCDATA)>
<!ELEMENT duty_of_candour_completed (#PCDATA)>
<!ELEMENT patient_outcome (id,assessment_id,harm_reached_patient,harm_level,harm_description,additional_treatment_required,additional_treatment_details,extended_hospital_stay,extra_days,readmission_required,permanent_disability,disability_details,patient_died,death_date,outcome_notes,created_at,updated_at)>
<!ELEMENT harm_reached_patient (#PCDATA)>
<!ELEMENT harm_level (#PCDATA)>
<!ELEMENT harm_description (#PCDATA)>
<!ELEMENT additional_treatment_required (#PCDATA)>
<!ELEMENT additional_treatment_details (#PCDATA)>
<!ELEMENT extended_hospital_stay (#PCDATA)>
<!ELEMENT extra_days (#PCDATA)>
<!ELEMENT readmission_required (#PCDATA)>
<!ELEMENT permanent_disability (#PCDATA)>
<!ELEMENT disability_details (#PCDATA)>
<!ELEMENT patient_died (#PCDATA)>
<!ELEMENT death_date (#PCDATA)>
<!ELEMENT outcome_notes (#PCDATA)>
<!ELEMENT reporting_followup (id,assessment_id,internal_reference,reported_to_datix,datix_reference,reported_to_nrls,nrls_reference,reported_to_cqc,reported_to_hsib,reported_to_coroner,safeguarding_referral,lessons_learned,shared_with_team,follow_up_review_date,follow_up_reviewer,final_status,closure_date,created_at,updated_at)>
<!ELEMENT internal_reference (#PCDATA)>
<!ELEMENT reported_to_datix (#PCDATA)>
<!ELEMENT datix_reference (#PCDATA)>
<!ELEMENT reported_to_nrls (#PCDATA)>
<!ELEMENT nrls_reference (#PCDATA)>
<!ELEMENT reported_to_cqc (#PCDATA)>
<!ELEMENT reported_to_hsib (#PCDATA)>
<!ELEMENT reported_to_coroner (#PCDATA)>
<!ELEMENT safeguarding_referral (#PCDATA)>
<!ELEMENT lessons_learned (#PCDATA)>
<!ELEMENT shared_with_team (#PCDATA)>
<!ELEMENT follow_up_review_date (#PCDATA)>
<!ELEMENT follow_up_reviewer (#PCDATA)>
<!ELEMENT final_status (#PCDATA)>
<!ELEMENT closure_date (#PCDATA)>
<!ELEMENT root_cause_analysis (id,assessment_id,rca_conducted,rca_date,rca_lead,rca_team_members,root_cause_category,root_cause_description,five_whys_analysis,fishbone_factors,system_vulnerabilities,similar_incidents,similar_incidents_details,rca_findings_summary,created_at,updated_at)>
<!ELEMENT rca_conducted (#PCDATA)>
<!ELEMENT rca_date (#PCDATA)>
<!ELEMENT rca_lead (#PCDATA)>
<!ELEMENT rca_team_members (#PCDATA)>
<!ELEMENT root_cause_category (#PCDATA)>
<!ELEMENT root_cause_description (#PCDATA)>
<!ELEMENT five_whys_analysis (#PCDATA)>
<!ELEMENT fishbone_factors (#PCDATA)>
<!ELEMENT system_vulnerabilities (#PCDATA)>
<!ELEMENT similar_incidents (#PCDATA)>
<!ELEMENT similar_incidents_details (#PCDATA)>
<!ELEMENT rca_findings_summary (#PCDATA)>
