forms/medical-error-report/xml-representations/assessment_immediate_actions.dtd

<!ELEMENT assessment_immediate_actions (id,assessment_id,patient_assessed,treatment_provided,treatment_details,error_contained,containment_details,senior_staff_notified,senior_staff_name,senior_staff_role,risk_team_notified,additional_monitoring,monitoring_details,immediate_actions_summary,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT patient_assessed (#PCDATA)>
<!ELEMENT treatment_provided (#PCDATA)>
<!ELEMENT treatment_details (#PCDATA)>
<!ELEMENT error_contained (#PCDATA)>
<!ELEMENT containment_details (#PCDATA)>
<!ELEMENT senior_staff_notified (#PCDATA)>
<!ELEMENT senior_staff_name (#PCDATA)>
<!ELEMENT senior_staff_role (#PCDATA)>
<!ELEMENT risk_team_notified (#PCDATA)>
<!ELEMENT additional_monitoring (#PCDATA)>
<!ELEMENT monitoring_details (#PCDATA)>
<!ELEMENT immediate_actions_summary (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
