forms/medical-error-report/xml-representations/assessment_contributing_factors.dtd

<!ELEMENT assessment_contributing_factors (id,assessment_id,staff_fatigue,inadequate_training,communication_failure,communication_failure_details,handover_failure,equipment_failure,equipment_failure_details,environmental_factors,environmental_details,policy_not_followed,policy_details,workload_pressure,patient_factors,patient_factors_details,other_factors,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT staff_fatigue (#PCDATA)>
<!ELEMENT inadequate_training (#PCDATA)>
<!ELEMENT communication_failure (#PCDATA)>
<!ELEMENT communication_failure_details (#PCDATA)>
<!ELEMENT handover_failure (#PCDATA)>
<!ELEMENT equipment_failure (#PCDATA)>
<!ELEMENT equipment_failure_details (#PCDATA)>
<!ELEMENT environmental_factors (#PCDATA)>
<!ELEMENT environmental_details (#PCDATA)>
<!ELEMENT policy_not_followed (#PCDATA)>
<!ELEMENT policy_details (#PCDATA)>
<!ELEMENT workload_pressure (#PCDATA)>
<!ELEMENT patient_factors (#PCDATA)>
<!ELEMENT patient_factors_details (#PCDATA)>
<!ELEMENT other_factors (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
