forms/medical-error-report/xml-representations/assessment_incident_details.dtd

<!ELEMENT assessment_incident_details (id,assessment_id,incident_date,incident_time,discovery_date,discovery_time,location_type,location_details,incident_summary,incident_witnessed,witness_details,shift_type,staffing_level,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT incident_date (#PCDATA)>
<!ELEMENT incident_time (#PCDATA)>
<!ELEMENT discovery_date (#PCDATA)>
<!ELEMENT discovery_time (#PCDATA)>
<!ELEMENT location_type (#PCDATA)>
<!ELEMENT location_details (#PCDATA)>
<!ELEMENT incident_summary (#PCDATA)>
<!ELEMENT incident_witnessed (#PCDATA)>
<!ELEMENT witness_details (#PCDATA)>
<!ELEMENT shift_type (#PCDATA)>
<!ELEMENT staffing_level (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
