forms/medical-error-report/xml-representations/assessment_patient_outcome.dtd

<!ELEMENT assessment_patient_outcome (id,assessment_id,harm_reached_patient,harm_level,harm_description,additional_treatment_required,additional_treatment_details,extended_hospital_stay,extra_days,readmission_required,permanent_disability,disability_details,patient_died,death_date,outcome_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT harm_reached_patient (#PCDATA)>
<!ELEMENT harm_level (#PCDATA)>
<!ELEMENT harm_description (#PCDATA)>
<!ELEMENT additional_treatment_required (#PCDATA)>
<!ELEMENT additional_treatment_details (#PCDATA)>
<!ELEMENT extended_hospital_stay (#PCDATA)>
<!ELEMENT extra_days (#PCDATA)>
<!ELEMENT readmission_required (#PCDATA)>
<!ELEMENT permanent_disability (#PCDATA)>
<!ELEMENT disability_details (#PCDATA)>
<!ELEMENT patient_died (#PCDATA)>
<!ELEMENT death_date (#PCDATA)>
<!ELEMENT outcome_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
