forms/medical-error-report/xml-representations/grading_result.dtd

<!ELEMENT grading_result (id,assessment_id,who_severity,ncc_merp_category,overall_risk_level,graded_at,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT who_severity (#PCDATA)>
<!ELEMENT ncc_merp_category (#PCDATA)>
<!ELEMENT overall_risk_level (#PCDATA)>
<!ELEMENT graded_at (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
