forms/birth-control-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,cardiovascular_risk,clinical_recommendation,contraceptive_history,contraceptive_preferences,current_medications,demographics,lifestyle,medical_history,menstrual_history,thromboembolism_risk)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT cardiovascular_risk (id,assessment_id,hypertension,systolic_bp_mmhg,diastolic_bp_mmhg,bp_controlled,ischaemic_heart_disease,stroke_history,valvular_heart_disease,valvular_complications,hyperlipidaemia,family_history_vte,family_history_cvd,family_cvd_details,cardiovascular_notes,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT hypertension (#PCDATA)>
<!ELEMENT systolic_bp_mmhg (#PCDATA)>
<!ELEMENT diastolic_bp_mmhg (#PCDATA)>
<!ELEMENT bp_controlled (#PCDATA)>
<!ELEMENT ischaemic_heart_disease (#PCDATA)>
<!ELEMENT stroke_history (#PCDATA)>
<!ELEMENT valvular_heart_disease (#PCDATA)>
<!ELEMENT valvular_complications (#PCDATA)>
<!ELEMENT hyperlipidaemia (#PCDATA)>
<!ELEMENT family_history_vte (#PCDATA)>
<!ELEMENT family_history_cvd (#PCDATA)>
<!ELEMENT family_cvd_details (#PCDATA)>
<!ELEMENT cardiovascular_notes (#PCDATA)>
<!ELEMENT clinical_recommendation (id,assessment_id,recommended_method,alternative_methods,methods_contraindicated,counselling_provided,counselling_topics,follow_up_required,follow_up_interval,referral_required,referral_details,clinical_notes,created_at,updated_at)>
<!ELEMENT recommended_method (#PCDATA)>
<!ELEMENT alternative_methods (#PCDATA)>
<!ELEMENT methods_contraindicated (#PCDATA)>
<!ELEMENT counselling_provided (#PCDATA)>
<!ELEMENT counselling_topics (#PCDATA)>
<!ELEMENT follow_up_required (#PCDATA)>
<!ELEMENT follow_up_interval (#PCDATA)>
<!ELEMENT referral_required (#PCDATA)>
<!ELEMENT referral_details (#PCDATA)>
<!ELEMENT clinical_notes (#PCDATA)>
<!ELEMENT contraceptive_history (id,assessment_id,previous_contraception,previous_coc,coc_details,previous_pop,pop_details,previous_implant,implant_details,previous_injection,injection_details,previous_iud,iud_details,previous_ius,ius_details,previous_patch_ring,patch_ring_details,previous_barrier,reason_for_change,adverse_effects,contraceptive_history_notes,created_at,updated_at)>
<!ELEMENT previous_contraception (#PCDATA)>
<!ELEMENT previous_coc (#PCDATA)>
<!ELEMENT coc_details (#PCDATA)>
<!ELEMENT previous_pop (#PCDATA)>
<!ELEMENT pop_details (#PCDATA)>
<!ELEMENT previous_implant (#PCDATA)>
<!ELEMENT implant_details (#PCDATA)>
<!ELEMENT previous_injection (#PCDATA)>
<!ELEMENT injection_details (#PCDATA)>
<!ELEMENT previous_iud (#PCDATA)>
<!ELEMENT iud_details (#PCDATA)>
<!ELEMENT previous_ius (#PCDATA)>
<!ELEMENT ius_details (#PCDATA)>
<!ELEMENT previous_patch_ring (#PCDATA)>
<!ELEMENT patch_ring_details (#PCDATA)>
<!ELEMENT previous_barrier (#PCDATA)>
<!ELEMENT reason_for_change (#PCDATA)>
<!ELEMENT adverse_effects (#PCDATA)>
<!ELEMENT contraceptive_history_notes (#PCDATA)>
<!ELEMENT contraceptive_preferences (id,assessment_id,preferred_method,hormonal_acceptable,long_acting_acceptable,daily_pill_acceptable,intrauterine_acceptable,fertility_plans,breastfeeding,postpartum_weeks,concerns,preference_notes,created_at,updated_at)>
<!ELEMENT preferred_method (#PCDATA)>
<!ELEMENT hormonal_acceptable (#PCDATA)>
<!ELEMENT long_acting_acceptable (#PCDATA)>
<!ELEMENT daily_pill_acceptable (#PCDATA)>
<!ELEMENT intrauterine_acceptable (#PCDATA)>
<!ELEMENT fertility_plans (#PCDATA)>
<!ELEMENT breastfeeding (#PCDATA)>
<!ELEMENT postpartum_weeks (#PCDATA)>
<!ELEMENT concerns (#PCDATA)>
<!ELEMENT preference_notes (#PCDATA)>
<!ELEMENT current_medications (id,assessment_id,on_enzyme_inducing_drugs,enzyme_inducing_details,on_anticoagulants,anticoagulant_details,on_antiepileptics,antiepileptic_details,on_antiretrovirals,antiretroviral_details,on_antibiotics,antibiotic_details,on_ssri_snri,ssri_snri_details,herbal_remedies,herbal_details,other_medications,drug_allergies,drug_allergy_details,medication_notes,created_at,updated_at)>
<!ELEMENT on_enzyme_inducing_drugs (#PCDATA)>
<!ELEMENT enzyme_inducing_details (#PCDATA)>
<!ELEMENT on_anticoagulants (#PCDATA)>
<!ELEMENT anticoagulant_details (#PCDATA)>
<!ELEMENT on_antiepileptics (#PCDATA)>
<!ELEMENT antiepileptic_details (#PCDATA)>
<!ELEMENT on_antiretrovirals (#PCDATA)>
<!ELEMENT antiretroviral_details (#PCDATA)>
<!ELEMENT on_antibiotics (#PCDATA)>
<!ELEMENT antibiotic_details (#PCDATA)>
<!ELEMENT on_ssri_snri (#PCDATA)>
<!ELEMENT ssri_snri_details (#PCDATA)>
<!ELEMENT herbal_remedies (#PCDATA)>
<!ELEMENT herbal_details (#PCDATA)>
<!ELEMENT other_medications (#PCDATA)>
<!ELEMENT drug_allergies (#PCDATA)>
<!ELEMENT drug_allergy_details (#PCDATA)>
<!ELEMENT medication_notes (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,preferred_name,gender_identity,ethnicity,preferred_language,interpreter_required,gp_name,gp_practice,referrer_name,referrer_role,created_at,updated_at)>
<!ELEMENT preferred_name (#PCDATA)>
<!ELEMENT gender_identity (#PCDATA)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT preferred_language (#PCDATA)>
<!ELEMENT interpreter_required (#PCDATA)>
<!ELEMENT gp_name (#PCDATA)>
<!ELEMENT gp_practice (#PCDATA)>
<!ELEMENT referrer_name (#PCDATA)>
<!ELEMENT referrer_role (#PCDATA)>
<!ELEMENT lifestyle (id,assessment_id,smoking_status,cigarettes_per_day,age_over_35_smoker,alcohol_consumption,alcohol_units_per_week,recreational_drug_use,recreational_drug_details,exercise_frequency,sexual_activity,number_of_partners,pregnancy_risk_awareness,lifestyle_notes,created_at,updated_at)>
<!ELEMENT smoking_status (#PCDATA)>
<!ELEMENT cigarettes_per_day (#PCDATA)>
<!ELEMENT age_over_35_smoker (#PCDATA)>
<!ELEMENT alcohol_consumption (#PCDATA)>
<!ELEMENT alcohol_units_per_week (#PCDATA)>
<!ELEMENT recreational_drug_use (#PCDATA)>
<!ELEMENT recreational_drug_details (#PCDATA)>
<!ELEMENT exercise_frequency (#PCDATA)>
<!ELEMENT sexual_activity (#PCDATA)>
<!ELEMENT number_of_partners (#PCDATA)>
<!ELEMENT pregnancy_risk_awareness (#PCDATA)>
<!ELEMENT lifestyle_notes (#PCDATA)>
<!ELEMENT medical_history (id,assessment_id,migraine,migraine_with_aura,migraine_frequency,breast_cancer,cervical_cancer,liver_disease,gallbladder_disease,inflammatory_bowel_disease,systemic_lupus_erythematosus,sle_antiphospholipid,epilepsy,diabetes,diabetes_complications,sexually_transmitted_infection,sti_details,pelvic_inflammatory_disease,medical_history_notes,created_at,updated_at)>
<!ELEMENT migraine (#PCDATA)>
<!ELEMENT migraine_with_aura (#PCDATA)>
<!ELEMENT migraine_frequency (#PCDATA)>
<!ELEMENT breast_cancer (#PCDATA)>
<!ELEMENT cervical_cancer (#PCDATA)>
<!ELEMENT liver_disease (#PCDATA)>
<!ELEMENT gallbladder_disease (#PCDATA)>
<!ELEMENT inflammatory_bowel_disease (#PCDATA)>
<!ELEMENT systemic_lupus_erythematosus (#PCDATA)>
<!ELEMENT sle_antiphospholipid (#PCDATA)>
<!ELEMENT epilepsy (#PCDATA)>
<!ELEMENT diabetes (#PCDATA)>
<!ELEMENT diabetes_complications (#PCDATA)>
<!ELEMENT sexually_transmitted_infection (#PCDATA)>
<!ELEMENT sti_details (#PCDATA)>
<!ELEMENT pelvic_inflammatory_disease (#PCDATA)>
<!ELEMENT medical_history_notes (#PCDATA)>
<!ELEMENT menstrual_history (id,assessment_id,menarche_age,cycle_regularity,cycle_length_days,period_duration_days,flow_heaviness,intermenstrual_bleeding,postcoital_bleeding,dysmenorrhoea,last_menstrual_period,amenorrhoea,amenorrhoea_duration_months,menstrual_notes,created_at,updated_at)>
<!ELEMENT menarche_age (#PCDATA)>
<!ELEMENT cycle_regularity (#PCDATA)>
<!ELEMENT cycle_length_days (#PCDATA)>
<!ELEMENT period_duration_days (#PCDATA)>
<!ELEMENT flow_heaviness (#PCDATA)>
<!ELEMENT intermenstrual_bleeding (#PCDATA)>
<!ELEMENT postcoital_bleeding (#PCDATA)>
<!ELEMENT dysmenorrhoea (#PCDATA)>
<!ELEMENT last_menstrual_period (#PCDATA)>
<!ELEMENT amenorrhoea (#PCDATA)>
<!ELEMENT amenorrhoea_duration_months (#PCDATA)>
<!ELEMENT menstrual_notes (#PCDATA)>
<!ELEMENT thromboembolism_risk (id,assessment_id,previous_dvt,dvt_details,previous_pe,pe_details,known_thrombophilia,thrombophilia_type,immobility_risk,immobility_details,recent_major_surgery,surgery_details,long_haul_travel,varicose_veins,thromboembolism_notes,created_at,updated_at)>
<!ELEMENT previous_dvt (#PCDATA)>
<!ELEMENT dvt_details (#PCDATA)>
<!ELEMENT previous_pe (#PCDATA)>
<!ELEMENT pe_details (#PCDATA)>
<!ELEMENT known_thrombophilia (#PCDATA)>
<!ELEMENT thrombophilia_type (#PCDATA)>
<!ELEMENT immobility_risk (#PCDATA)>
<!ELEMENT immobility_details (#PCDATA)>
<!ELEMENT recent_major_surgery (#PCDATA)>
<!ELEMENT surgery_details (#PCDATA)>
<!ELEMENT long_haul_travel (#PCDATA)>
<!ELEMENT varicose_veins (#PCDATA)>
<!ELEMENT thromboembolism_notes (#PCDATA)>
