forms/birth-control-assessment/xml-representations/assessment_menstrual_history.dtd

<!ELEMENT assessment_menstrual_history (id,assessment_id,menarche_age,cycle_regularity,cycle_length_days,period_duration_days,flow_heaviness,intermenstrual_bleeding,postcoital_bleeding,dysmenorrhoea,last_menstrual_period,amenorrhoea,amenorrhoea_duration_months,menstrual_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT menarche_age (#PCDATA)>
<!ELEMENT cycle_regularity (#PCDATA)>
<!ELEMENT cycle_length_days (#PCDATA)>
<!ELEMENT period_duration_days (#PCDATA)>
<!ELEMENT flow_heaviness (#PCDATA)>
<!ELEMENT intermenstrual_bleeding (#PCDATA)>
<!ELEMENT postcoital_bleeding (#PCDATA)>
<!ELEMENT dysmenorrhoea (#PCDATA)>
<!ELEMENT last_menstrual_period (#PCDATA)>
<!ELEMENT amenorrhoea (#PCDATA)>
<!ELEMENT amenorrhoea_duration_months (#PCDATA)>
<!ELEMENT menstrual_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
