forms/birth-control-assessment/xml-representations/assessment_clinical_recommendation.dtd

<!ELEMENT assessment_clinical_recommendation (id,assessment_id,recommended_method,alternative_methods,methods_contraindicated,counselling_provided,counselling_topics,follow_up_required,follow_up_interval,referral_required,referral_details,clinical_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT recommended_method (#PCDATA)>
<!ELEMENT alternative_methods (#PCDATA)>
<!ELEMENT methods_contraindicated (#PCDATA)>
<!ELEMENT counselling_provided (#PCDATA)>
<!ELEMENT counselling_topics (#PCDATA)>
<!ELEMENT follow_up_required (#PCDATA)>
<!ELEMENT follow_up_interval (#PCDATA)>
<!ELEMENT referral_required (#PCDATA)>
<!ELEMENT referral_details (#PCDATA)>
<!ELEMENT clinical_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
