forms/birth-control-assessment/xml-representations/assessment_medical_history.dtd

<!ELEMENT assessment_medical_history (id,assessment_id,migraine,migraine_with_aura,migraine_frequency,breast_cancer,cervical_cancer,liver_disease,gallbladder_disease,inflammatory_bowel_disease,systemic_lupus_erythematosus,sle_antiphospholipid,epilepsy,diabetes,diabetes_complications,sexually_transmitted_infection,sti_details,pelvic_inflammatory_disease,medical_history_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT migraine (#PCDATA)>
<!ELEMENT migraine_with_aura (#PCDATA)>
<!ELEMENT migraine_frequency (#PCDATA)>
<!ELEMENT breast_cancer (#PCDATA)>
<!ELEMENT cervical_cancer (#PCDATA)>
<!ELEMENT liver_disease (#PCDATA)>
<!ELEMENT gallbladder_disease (#PCDATA)>
<!ELEMENT inflammatory_bowel_disease (#PCDATA)>
<!ELEMENT systemic_lupus_erythematosus (#PCDATA)>
<!ELEMENT sle_antiphospholipid (#PCDATA)>
<!ELEMENT epilepsy (#PCDATA)>
<!ELEMENT diabetes (#PCDATA)>
<!ELEMENT diabetes_complications (#PCDATA)>
<!ELEMENT sexually_transmitted_infection (#PCDATA)>
<!ELEMENT sti_details (#PCDATA)>
<!ELEMENT pelvic_inflammatory_disease (#PCDATA)>
<!ELEMENT medical_history_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
