forms/birth-control-assessment/xml-representations/assessment_contraceptive_history.dtd

<!ELEMENT assessment_contraceptive_history (id,assessment_id,previous_contraception,previous_coc,coc_details,previous_pop,pop_details,previous_implant,implant_details,previous_injection,injection_details,previous_iud,iud_details,previous_ius,ius_details,previous_patch_ring,patch_ring_details,previous_barrier,reason_for_change,adverse_effects,contraceptive_history_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT previous_contraception (#PCDATA)>
<!ELEMENT previous_coc (#PCDATA)>
<!ELEMENT coc_details (#PCDATA)>
<!ELEMENT previous_pop (#PCDATA)>
<!ELEMENT pop_details (#PCDATA)>
<!ELEMENT previous_implant (#PCDATA)>
<!ELEMENT implant_details (#PCDATA)>
<!ELEMENT previous_injection (#PCDATA)>
<!ELEMENT injection_details (#PCDATA)>
<!ELEMENT previous_iud (#PCDATA)>
<!ELEMENT iud_details (#PCDATA)>
<!ELEMENT previous_ius (#PCDATA)>
<!ELEMENT ius_details (#PCDATA)>
<!ELEMENT previous_patch_ring (#PCDATA)>
<!ELEMENT patch_ring_details (#PCDATA)>
<!ELEMENT previous_barrier (#PCDATA)>
<!ELEMENT reason_for_change (#PCDATA)>
<!ELEMENT adverse_effects (#PCDATA)>
<!ELEMENT contraceptive_history_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
