forms/birth-control-assessment/xml-representations/assessment_thromboembolism_risk.dtd

<!ELEMENT assessment_thromboembolism_risk (id,assessment_id,previous_dvt,dvt_details,previous_pe,pe_details,known_thrombophilia,thrombophilia_type,immobility_risk,immobility_details,recent_major_surgery,surgery_details,long_haul_travel,varicose_veins,thromboembolism_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT previous_dvt (#PCDATA)>
<!ELEMENT dvt_details (#PCDATA)>
<!ELEMENT previous_pe (#PCDATA)>
<!ELEMENT pe_details (#PCDATA)>
<!ELEMENT known_thrombophilia (#PCDATA)>
<!ELEMENT thrombophilia_type (#PCDATA)>
<!ELEMENT immobility_risk (#PCDATA)>
<!ELEMENT immobility_details (#PCDATA)>
<!ELEMENT recent_major_surgery (#PCDATA)>
<!ELEMENT surgery_details (#PCDATA)>
<!ELEMENT long_haul_travel (#PCDATA)>
<!ELEMENT varicose_veins (#PCDATA)>
<!ELEMENT thromboembolism_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
