forms/birth-control-assessment/xml-representations/assessment_current_medications.dtd

<!ELEMENT assessment_current_medications (id,assessment_id,on_enzyme_inducing_drugs,enzyme_inducing_details,on_anticoagulants,anticoagulant_details,on_antiepileptics,antiepileptic_details,on_antiretrovirals,antiretroviral_details,on_antibiotics,antibiotic_details,on_ssri_snri,ssri_snri_details,herbal_remedies,herbal_details,other_medications,drug_allergies,drug_allergy_details,medication_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT on_enzyme_inducing_drugs (#PCDATA)>
<!ELEMENT enzyme_inducing_details (#PCDATA)>
<!ELEMENT on_anticoagulants (#PCDATA)>
<!ELEMENT anticoagulant_details (#PCDATA)>
<!ELEMENT on_antiepileptics (#PCDATA)>
<!ELEMENT antiepileptic_details (#PCDATA)>
<!ELEMENT on_antiretrovirals (#PCDATA)>
<!ELEMENT antiretroviral_details (#PCDATA)>
<!ELEMENT on_antibiotics (#PCDATA)>
<!ELEMENT antibiotic_details (#PCDATA)>
<!ELEMENT on_ssri_snri (#PCDATA)>
<!ELEMENT ssri_snri_details (#PCDATA)>
<!ELEMENT herbal_remedies (#PCDATA)>
<!ELEMENT herbal_details (#PCDATA)>
<!ELEMENT other_medications (#PCDATA)>
<!ELEMENT drug_allergies (#PCDATA)>
<!ELEMENT drug_allergy_details (#PCDATA)>
<!ELEMENT medication_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
