forms/birth-control-assessment/xml-representations/assessment_cardiovascular_risk.dtd

<!ELEMENT assessment_cardiovascular_risk (id,assessment_id,hypertension,systolic_bp_mmhg,diastolic_bp_mmhg,bp_controlled,ischaemic_heart_disease,stroke_history,valvular_heart_disease,valvular_complications,hyperlipidaemia,family_history_vte,family_history_cvd,family_cvd_details,cardiovascular_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT hypertension (#PCDATA)>
<!ELEMENT systolic_bp_mmhg (#PCDATA)>
<!ELEMENT diastolic_bp_mmhg (#PCDATA)>
<!ELEMENT bp_controlled (#PCDATA)>
<!ELEMENT ischaemic_heart_disease (#PCDATA)>
<!ELEMENT stroke_history (#PCDATA)>
<!ELEMENT valvular_heart_disease (#PCDATA)>
<!ELEMENT valvular_complications (#PCDATA)>
<!ELEMENT hyperlipidaemia (#PCDATA)>
<!ELEMENT family_history_vte (#PCDATA)>
<!ELEMENT family_history_cvd (#PCDATA)>
<!ELEMENT family_cvd_details (#PCDATA)>
<!ELEMENT cardiovascular_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
