forms/heart-health-check/xml-representations/grading_fired_rule.dtd

<!ELEMENT grading_fired_rule (id,grading_result_id,rule_id,category,description,risk_level,created_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT grading_result_id (#PCDATA)>
<!ELEMENT rule_id (#PCDATA)>
<!ELEMENT category (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT risk_level (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
