forms/hearing-aid-assessment/xml-representations/assessment_audiogram_results.dtd

<!ELEMENT assessment_audiogram_results (id,assessment_id,audiogram_date,left_pta_db,right_pta_db,left_hearing_loss_degree,right_hearing_loss_degree,left_hearing_loss_type,right_hearing_loss_type,left_hearing_loss_configuration,right_hearing_loss_configuration,speech_recognition_left_pct,speech_recognition_right_pct,tympanometry_left,tympanometry_right,asymmetric_hearing_loss,audiogram_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT audiogram_date (#PCDATA)>
<!ELEMENT left_pta_db (#PCDATA)>
<!ELEMENT right_pta_db (#PCDATA)>
<!ELEMENT left_hearing_loss_degree (#PCDATA)>
<!ELEMENT right_hearing_loss_degree (#PCDATA)>
<!ELEMENT left_hearing_loss_type (#PCDATA)>
<!ELEMENT right_hearing_loss_type (#PCDATA)>
<!ELEMENT left_hearing_loss_configuration (#PCDATA)>
<!ELEMENT right_hearing_loss_configuration (#PCDATA)>
<!ELEMENT speech_recognition_left_pct (#PCDATA)>
<!ELEMENT speech_recognition_right_pct (#PCDATA)>
<!ELEMENT tympanometry_left (#PCDATA)>
<!ELEMENT tympanometry_right (#PCDATA)>
<!ELEMENT asymmetric_hearing_loss (#PCDATA)>
<!ELEMENT audiogram_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
