forms/hearing-aid-assessment/xml-representations/assessment_lifestyle_and_needs.dtd

<!ELEMENT assessment_lifestyle_and_needs (id,assessment_id,primary_listening_environment,frequent_phone_use,frequent_music_listening,active_social_life,exercises_regularly,dexterity_issues,dexterity_details,vision_issues,vision_details,cognitive_concerns,technology_comfort,smartphone_use,bluetooth_connectivity_desired,cosmetic_preference,budget_considerations,lifestyle_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT primary_listening_environment (#PCDATA)>
<!ELEMENT frequent_phone_use (#PCDATA)>
<!ELEMENT frequent_music_listening (#PCDATA)>
<!ELEMENT active_social_life (#PCDATA)>
<!ELEMENT exercises_regularly (#PCDATA)>
<!ELEMENT dexterity_issues (#PCDATA)>
<!ELEMENT dexterity_details (#PCDATA)>
<!ELEMENT vision_issues (#PCDATA)>
<!ELEMENT vision_details (#PCDATA)>
<!ELEMENT cognitive_concerns (#PCDATA)>
<!ELEMENT technology_comfort (#PCDATA)>
<!ELEMENT smartphone_use (#PCDATA)>
<!ELEMENT bluetooth_connectivity_desired (#PCDATA)>
<!ELEMENT cosmetic_preference (#PCDATA)>
<!ELEMENT budget_considerations (#PCDATA)>
<!ELEMENT lifestyle_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
