forms/hearing-aid-assessment/xml-representations/assessment_ear_examination.dtd

<!ELEMENT assessment_ear_examination (id,assessment_id,left_ear_canal,left_ear_canal_details,right_ear_canal,right_ear_canal_details,left_tympanic_membrane,left_tympanic_membrane_details,right_tympanic_membrane,right_tympanic_membrane_details,left_pinna,left_pinna_details,right_pinna,right_pinna_details,otoscopy_referral_needed,ear_examination_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT left_ear_canal (#PCDATA)>
<!ELEMENT left_ear_canal_details (#PCDATA)>
<!ELEMENT right_ear_canal (#PCDATA)>
<!ELEMENT right_ear_canal_details (#PCDATA)>
<!ELEMENT left_tympanic_membrane (#PCDATA)>
<!ELEMENT left_tympanic_membrane_details (#PCDATA)>
<!ELEMENT right_tympanic_membrane (#PCDATA)>
<!ELEMENT right_tympanic_membrane_details (#PCDATA)>
<!ELEMENT left_pinna (#PCDATA)>
<!ELEMENT left_pinna_details (#PCDATA)>
<!ELEMENT right_pinna (#PCDATA)>
<!ELEMENT right_pinna_details (#PCDATA)>
<!ELEMENT otoscopy_referral_needed (#PCDATA)>
<!ELEMENT ear_examination_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
