forms/hearing-aid-assessment/xml-representations/assessment_expectations_and_goals.dtd

<!ELEMENT assessment_expectations_and_goals (id,assessment_id,motivation_level,self_referral,referral_source,primary_goal,secondary_goal,realistic_expectations,willingness_to_wear_daily,support_from_family,previous_hearing_aid_experience,concerns_about_hearing_aids,preferred_hearing_aid_style,follow_up_commitment,expectations_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT motivation_level (#PCDATA)>
<!ELEMENT self_referral (#PCDATA)>
<!ELEMENT referral_source (#PCDATA)>
<!ELEMENT primary_goal (#PCDATA)>
<!ELEMENT secondary_goal (#PCDATA)>
<!ELEMENT realistic_expectations (#PCDATA)>
<!ELEMENT willingness_to_wear_daily (#PCDATA)>
<!ELEMENT support_from_family (#PCDATA)>
<!ELEMENT previous_hearing_aid_experience (#PCDATA)>
<!ELEMENT concerns_about_hearing_aids (#PCDATA)>
<!ELEMENT preferred_hearing_aid_style (#PCDATA)>
<!ELEMENT follow_up_commitment (#PCDATA)>
<!ELEMENT expectations_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
