forms/hearing-aid-assessment/xml-representations/assessment_hearing_history.dtd

<!ELEMENT assessment_hearing_history (id,assessment_id,onset_of_hearing_loss,duration_of_hearing_loss,hearing_loss_laterality,worse_ear,noise_exposure_history,noise_exposure_details,ototoxic_medication_history,ototoxic_medication_details,family_history_hearing_loss,family_hearing_loss_details,tinnitus,tinnitus_laterality,tinnitus_severity,vertigo_dizziness,vertigo_details,ear_surgery_history,ear_surgery_details,hearing_history_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT onset_of_hearing_loss (#PCDATA)>
<!ELEMENT duration_of_hearing_loss (#PCDATA)>
<!ELEMENT hearing_loss_laterality (#PCDATA)>
<!ELEMENT worse_ear (#PCDATA)>
<!ELEMENT noise_exposure_history (#PCDATA)>
<!ELEMENT noise_exposure_details (#PCDATA)>
<!ELEMENT ototoxic_medication_history (#PCDATA)>
<!ELEMENT ototoxic_medication_details (#PCDATA)>
<!ELEMENT family_history_hearing_loss (#PCDATA)>
<!ELEMENT family_hearing_loss_details (#PCDATA)>
<!ELEMENT tinnitus (#PCDATA)>
<!ELEMENT tinnitus_laterality (#PCDATA)>
<!ELEMENT tinnitus_severity (#PCDATA)>
<!ELEMENT vertigo_dizziness (#PCDATA)>
<!ELEMENT vertigo_details (#PCDATA)>
<!ELEMENT ear_surgery_history (#PCDATA)>
<!ELEMENT ear_surgery_details (#PCDATA)>
<!ELEMENT hearing_history_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
