forms/hearing-aid-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,audiogram_results,communication_difficulties,current_hearing_aids,demographics,ear_examination,expectations_and_goals,hearing_history,hhies_questionnaire,lifestyle_and_needs)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT audiogram_results (id,assessment_id,audiogram_date,left_pta_db,right_pta_db,left_hearing_loss_degree,right_hearing_loss_degree,left_hearing_loss_type,right_hearing_loss_type,left_hearing_loss_configuration,right_hearing_loss_configuration,speech_recognition_left_pct,speech_recognition_right_pct,tympanometry_left,tympanometry_right,asymmetric_hearing_loss,audiogram_notes,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT audiogram_date (#PCDATA)>
<!ELEMENT left_pta_db (#PCDATA)>
<!ELEMENT right_pta_db (#PCDATA)>
<!ELEMENT left_hearing_loss_degree (#PCDATA)>
<!ELEMENT right_hearing_loss_degree (#PCDATA)>
<!ELEMENT left_hearing_loss_type (#PCDATA)>
<!ELEMENT right_hearing_loss_type (#PCDATA)>
<!ELEMENT left_hearing_loss_configuration (#PCDATA)>
<!ELEMENT right_hearing_loss_configuration (#PCDATA)>
<!ELEMENT speech_recognition_left_pct (#PCDATA)>
<!ELEMENT speech_recognition_right_pct (#PCDATA)>
<!ELEMENT tympanometry_left (#PCDATA)>
<!ELEMENT tympanometry_right (#PCDATA)>
<!ELEMENT asymmetric_hearing_loss (#PCDATA)>
<!ELEMENT audiogram_notes (#PCDATA)>
<!ELEMENT communication_difficulties (id,assessment_id,difficulty_quiet_conversation,difficulty_noisy_environment,difficulty_group_settings,difficulty_on_telephone,difficulty_television,difficulty_understanding_speech,asks_people_to_repeat,lip_reading_reliance,social_withdrawal,communication_partner_concerns,communication_partner_details,communication_notes,created_at,updated_at)>
<!ELEMENT difficulty_quiet_conversation (#PCDATA)>
<!ELEMENT difficulty_noisy_environment (#PCDATA)>
<!ELEMENT difficulty_group_settings (#PCDATA)>
<!ELEMENT difficulty_on_telephone (#PCDATA)>
<!ELEMENT difficulty_television (#PCDATA)>
<!ELEMENT difficulty_understanding_speech (#PCDATA)>
<!ELEMENT asks_people_to_repeat (#PCDATA)>
<!ELEMENT lip_reading_reliance (#PCDATA)>
<!ELEMENT social_withdrawal (#PCDATA)>
<!ELEMENT communication_partner_concerns (#PCDATA)>
<!ELEMENT communication_partner_details (#PCDATA)>
<!ELEMENT communication_notes (#PCDATA)>
<!ELEMENT current_hearing_aids (id,assessment_id,currently_uses_hearing_aids,hearing_aid_side,hearing_aid_type,hearing_aid_make,hearing_aid_model,hearing_aid_age_years,daily_usage_hours,satisfaction_with_current_aid,problems_with_current_aid,problem_details,previous_hearing_aids,previous_aid_details,uses_assistive_listening_devices,assistive_device_details,hearing_aid_notes,created_at,updated_at)>
<!ELEMENT currently_uses_hearing_aids (#PCDATA)>
<!ELEMENT hearing_aid_side (#PCDATA)>
<!ELEMENT hearing_aid_type (#PCDATA)>
<!ELEMENT hearing_aid_make (#PCDATA)>
<!ELEMENT hearing_aid_model (#PCDATA)>
<!ELEMENT hearing_aid_age_years (#PCDATA)>
<!ELEMENT daily_usage_hours (#PCDATA)>
<!ELEMENT satisfaction_with_current_aid (#PCDATA)>
<!ELEMENT problems_with_current_aid (#PCDATA)>
<!ELEMENT problem_details (#PCDATA)>
<!ELEMENT previous_hearing_aids (#PCDATA)>
<!ELEMENT previous_aid_details (#PCDATA)>
<!ELEMENT uses_assistive_listening_devices (#PCDATA)>
<!ELEMENT assistive_device_details (#PCDATA)>
<!ELEMENT hearing_aid_notes (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,ethnicity,primary_language,interpreter_required,marital_status,living_situation,occupation,retired,emergency_contact_name,emergency_contact_phone,emergency_contact_relationship,gp_name,gp_practice,created_at,updated_at)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT primary_language (#PCDATA)>
<!ELEMENT interpreter_required (#PCDATA)>
<!ELEMENT marital_status (#PCDATA)>
<!ELEMENT living_situation (#PCDATA)>
<!ELEMENT occupation (#PCDATA)>
<!ELEMENT retired (#PCDATA)>
<!ELEMENT emergency_contact_name (#PCDATA)>
<!ELEMENT emergency_contact_phone (#PCDATA)>
<!ELEMENT emergency_contact_relationship (#PCDATA)>
<!ELEMENT gp_name (#PCDATA)>
<!ELEMENT gp_practice (#PCDATA)>
<!ELEMENT ear_examination (id,assessment_id,left_ear_canal,left_ear_canal_details,right_ear_canal,right_ear_canal_details,left_tympanic_membrane,left_tympanic_membrane_details,right_tympanic_membrane,right_tympanic_membrane_details,left_pinna,left_pinna_details,right_pinna,right_pinna_details,otoscopy_referral_needed,ear_examination_notes,created_at,updated_at)>
<!ELEMENT left_ear_canal (#PCDATA)>
<!ELEMENT left_ear_canal_details (#PCDATA)>
<!ELEMENT right_ear_canal (#PCDATA)>
<!ELEMENT right_ear_canal_details (#PCDATA)>
<!ELEMENT left_tympanic_membrane (#PCDATA)>
<!ELEMENT left_tympanic_membrane_details (#PCDATA)>
<!ELEMENT right_tympanic_membrane (#PCDATA)>
<!ELEMENT right_tympanic_membrane_details (#PCDATA)>
<!ELEMENT left_pinna (#PCDATA)>
<!ELEMENT left_pinna_details (#PCDATA)>
<!ELEMENT right_pinna (#PCDATA)>
<!ELEMENT right_pinna_details (#PCDATA)>
<!ELEMENT otoscopy_referral_needed (#PCDATA)>
<!ELEMENT ear_examination_notes (#PCDATA)>
<!ELEMENT expectations_and_goals (id,assessment_id,motivation_level,self_referral,referral_source,primary_goal,secondary_goal,realistic_expectations,willingness_to_wear_daily,support_from_family,previous_hearing_aid_experience,concerns_about_hearing_aids,preferred_hearing_aid_style,follow_up_commitment,expectations_notes,created_at,updated_at)>
<!ELEMENT motivation_level (#PCDATA)>
<!ELEMENT self_referral (#PCDATA)>
<!ELEMENT referral_source (#PCDATA)>
<!ELEMENT primary_goal (#PCDATA)>
<!ELEMENT secondary_goal (#PCDATA)>
<!ELEMENT realistic_expectations (#PCDATA)>
<!ELEMENT willingness_to_wear_daily (#PCDATA)>
<!ELEMENT support_from_family (#PCDATA)>
<!ELEMENT previous_hearing_aid_experience (#PCDATA)>
<!ELEMENT concerns_about_hearing_aids (#PCDATA)>
<!ELEMENT preferred_hearing_aid_style (#PCDATA)>
<!ELEMENT follow_up_commitment (#PCDATA)>
<!ELEMENT expectations_notes (#PCDATA)>
<!ELEMENT hearing_history (id,assessment_id,onset_of_hearing_loss,duration_of_hearing_loss,hearing_loss_laterality,worse_ear,noise_exposure_history,noise_exposure_details,ototoxic_medication_history,ototoxic_medication_details,family_history_hearing_loss,family_hearing_loss_details,tinnitus,tinnitus_laterality,tinnitus_severity,vertigo_dizziness,vertigo_details,ear_surgery_history,ear_surgery_details,hearing_history_notes,created_at,updated_at)>
<!ELEMENT onset_of_hearing_loss (#PCDATA)>
<!ELEMENT duration_of_hearing_loss (#PCDATA)>
<!ELEMENT hearing_loss_laterality (#PCDATA)>
<!ELEMENT worse_ear (#PCDATA)>
<!ELEMENT noise_exposure_history (#PCDATA)>
<!ELEMENT noise_exposure_details (#PCDATA)>
<!ELEMENT ototoxic_medication_history (#PCDATA)>
<!ELEMENT ototoxic_medication_details (#PCDATA)>
<!ELEMENT family_history_hearing_loss (#PCDATA)>
<!ELEMENT family_hearing_loss_details (#PCDATA)>
<!ELEMENT tinnitus (#PCDATA)>
<!ELEMENT tinnitus_laterality (#PCDATA)>
<!ELEMENT tinnitus_severity (#PCDATA)>
<!ELEMENT vertigo_dizziness (#PCDATA)>
<!ELEMENT vertigo_details (#PCDATA)>
<!ELEMENT ear_surgery_history (#PCDATA)>
<!ELEMENT ear_surgery_details (#PCDATA)>
<!ELEMENT hearing_history_notes (#PCDATA)>
<!ELEMENT hhies_questionnaire (id,assessment_id,s1_telephone_difficulty,s2_embarrassment,s3_difficulty_group_conversation,s4_handicapped_feeling,s5_difficulty_visiting,s6_difficulty_religious_services,s7_arguments_due_to_hearing,s8_difficulty_tv_radio,s9_personal_social_life_affected,s10_difficulty_restaurant,hhies_total_score,created_at,updated_at)>
<!ELEMENT s1_telephone_difficulty (#PCDATA)>
<!ELEMENT s2_embarrassment (#PCDATA)>
<!ELEMENT s3_difficulty_group_conversation (#PCDATA)>
<!ELEMENT s4_handicapped_feeling (#PCDATA)>
<!ELEMENT s5_difficulty_visiting (#PCDATA)>
<!ELEMENT s6_difficulty_religious_services (#PCDATA)>
<!ELEMENT s7_arguments_due_to_hearing (#PCDATA)>
<!ELEMENT s8_difficulty_tv_radio (#PCDATA)>
<!ELEMENT s9_personal_social_life_affected (#PCDATA)>
<!ELEMENT s10_difficulty_restaurant (#PCDATA)>
<!ELEMENT hhies_total_score (#PCDATA)>
<!ELEMENT lifestyle_and_needs (id,assessment_id,primary_listening_environment,frequent_phone_use,frequent_music_listening,active_social_life,exercises_regularly,dexterity_issues,dexterity_details,vision_issues,vision_details,cognitive_concerns,technology_comfort,smartphone_use,bluetooth_connectivity_desired,cosmetic_preference,budget_considerations,lifestyle_notes,created_at,updated_at)>
<!ELEMENT primary_listening_environment (#PCDATA)>
<!ELEMENT frequent_phone_use (#PCDATA)>
<!ELEMENT frequent_music_listening (#PCDATA)>
<!ELEMENT active_social_life (#PCDATA)>
<!ELEMENT exercises_regularly (#PCDATA)>
<!ELEMENT dexterity_issues (#PCDATA)>
<!ELEMENT dexterity_details (#PCDATA)>
<!ELEMENT vision_issues (#PCDATA)>
<!ELEMENT vision_details (#PCDATA)>
<!ELEMENT cognitive_concerns (#PCDATA)>
<!ELEMENT technology_comfort (#PCDATA)>
<!ELEMENT smartphone_use (#PCDATA)>
<!ELEMENT bluetooth_connectivity_desired (#PCDATA)>
<!ELEMENT cosmetic_preference (#PCDATA)>
<!ELEMENT budget_considerations (#PCDATA)>
<!ELEMENT lifestyle_notes (#PCDATA)>
