forms/hearing-aid-assessment/xml-representations/assessment_communication_difficulties.dtd

<!ELEMENT assessment_communication_difficulties (id,assessment_id,difficulty_quiet_conversation,difficulty_noisy_environment,difficulty_group_settings,difficulty_on_telephone,difficulty_television,difficulty_understanding_speech,asks_people_to_repeat,lip_reading_reliance,social_withdrawal,communication_partner_concerns,communication_partner_details,communication_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT difficulty_quiet_conversation (#PCDATA)>
<!ELEMENT difficulty_noisy_environment (#PCDATA)>
<!ELEMENT difficulty_group_settings (#PCDATA)>
<!ELEMENT difficulty_on_telephone (#PCDATA)>
<!ELEMENT difficulty_television (#PCDATA)>
<!ELEMENT difficulty_understanding_speech (#PCDATA)>
<!ELEMENT asks_people_to_repeat (#PCDATA)>
<!ELEMENT lip_reading_reliance (#PCDATA)>
<!ELEMENT social_withdrawal (#PCDATA)>
<!ELEMENT communication_partner_concerns (#PCDATA)>
<!ELEMENT communication_partner_details (#PCDATA)>
<!ELEMENT communication_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
