forms/hearing-aid-assessment/xml-representations/assessment_current_hearing_aids.dtd

<!ELEMENT assessment_current_hearing_aids (id,assessment_id,currently_uses_hearing_aids,hearing_aid_side,hearing_aid_type,hearing_aid_make,hearing_aid_model,hearing_aid_age_years,daily_usage_hours,satisfaction_with_current_aid,problems_with_current_aid,problem_details,previous_hearing_aids,previous_aid_details,uses_assistive_listening_devices,assistive_device_details,hearing_aid_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT currently_uses_hearing_aids (#PCDATA)>
<!ELEMENT hearing_aid_side (#PCDATA)>
<!ELEMENT hearing_aid_type (#PCDATA)>
<!ELEMENT hearing_aid_make (#PCDATA)>
<!ELEMENT hearing_aid_model (#PCDATA)>
<!ELEMENT hearing_aid_age_years (#PCDATA)>
<!ELEMENT daily_usage_hours (#PCDATA)>
<!ELEMENT satisfaction_with_current_aid (#PCDATA)>
<!ELEMENT problems_with_current_aid (#PCDATA)>
<!ELEMENT problem_details (#PCDATA)>
<!ELEMENT previous_hearing_aids (#PCDATA)>
<!ELEMENT previous_aid_details (#PCDATA)>
<!ELEMENT uses_assistive_listening_devices (#PCDATA)>
<!ELEMENT assistive_device_details (#PCDATA)>
<!ELEMENT hearing_aid_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
