forms/psychiatry-assessment/xml-representations/assessment_psychiatric_history.dtd

<!ELEMENT assessment_psychiatric_history (id,assessment_id,previous_diagnoses,age_first_contact,previous_inpatient_admissions,inpatient_admission_count,inpatient_details,previous_sectioning,sectioning_details,previous_ect,previous_therapy,therapy_types,therapy_response,previous_medication_trials,treatment_adherence,longest_period_of_wellness,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT previous_diagnoses (#PCDATA)>
<!ELEMENT age_first_contact (#PCDATA)>
<!ELEMENT previous_inpatient_admissions (#PCDATA)>
<!ELEMENT inpatient_admission_count (#PCDATA)>
<!ELEMENT inpatient_details (#PCDATA)>
<!ELEMENT previous_sectioning (#PCDATA)>
<!ELEMENT sectioning_details (#PCDATA)>
<!ELEMENT previous_ect (#PCDATA)>
<!ELEMENT previous_therapy (#PCDATA)>
<!ELEMENT therapy_types (#PCDATA)>
<!ELEMENT therapy_response (#PCDATA)>
<!ELEMENT previous_medication_trials (#PCDATA)>
<!ELEMENT treatment_adherence (#PCDATA)>
<!ELEMENT longest_period_of_wellness (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
