forms/psychiatry-assessment/xml-representations/assessment_substance_use.dtd

<!ELEMENT assessment_substance_use (id,assessment_id,alcohol_use,alcohol_units_per_week,audit_score,tobacco_use,cigarettes_per_day,cannabis_use,stimulant_use,stimulant_details,opioid_use,opioid_details,benzodiazepine_misuse,novel_psychoactive_substances,iv_drug_use,previous_detox,previous_detox_details,substance_use_impact,motivation_to_change,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT alcohol_use (#PCDATA)>
<!ELEMENT alcohol_units_per_week (#PCDATA)>
<!ELEMENT audit_score (#PCDATA)>
<!ELEMENT tobacco_use (#PCDATA)>
<!ELEMENT cigarettes_per_day (#PCDATA)>
<!ELEMENT cannabis_use (#PCDATA)>
<!ELEMENT stimulant_use (#PCDATA)>
<!ELEMENT stimulant_details (#PCDATA)>
<!ELEMENT opioid_use (#PCDATA)>
<!ELEMENT opioid_details (#PCDATA)>
<!ELEMENT benzodiazepine_misuse (#PCDATA)>
<!ELEMENT novel_psychoactive_substances (#PCDATA)>
<!ELEMENT iv_drug_use (#PCDATA)>
<!ELEMENT previous_detox (#PCDATA)>
<!ELEMENT previous_detox_details (#PCDATA)>
<!ELEMENT substance_use_impact (#PCDATA)>
<!ELEMENT motivation_to_change (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
