forms/psychiatry-assessment/xml-representations/assessment_mental_status_exam.dtd

<!ELEMENT assessment_mental_status_exam (id,assessment_id,appearance,behaviour,psychomotor_activity,speech_rate,speech_volume,speech_quality,mood_subjective,affect,affect_congruence,thought_form,thought_content,delusions,delusion_details,hallucinations,hallucination_type,hallucination_details,orientation_time,orientation_place,orientation_person,concentration,memory_short_term,memory_long_term,insight,judgement,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT appearance (#PCDATA)>
<!ELEMENT behaviour (#PCDATA)>
<!ELEMENT psychomotor_activity (#PCDATA)>
<!ELEMENT speech_rate (#PCDATA)>
<!ELEMENT speech_volume (#PCDATA)>
<!ELEMENT speech_quality (#PCDATA)>
<!ELEMENT mood_subjective (#PCDATA)>
<!ELEMENT affect (#PCDATA)>
<!ELEMENT affect_congruence (#PCDATA)>
<!ELEMENT thought_form (#PCDATA)>
<!ELEMENT thought_content (#PCDATA)>
<!ELEMENT delusions (#PCDATA)>
<!ELEMENT delusion_details (#PCDATA)>
<!ELEMENT hallucinations (#PCDATA)>
<!ELEMENT hallucination_type (#PCDATA)>
<!ELEMENT hallucination_details (#PCDATA)>
<!ELEMENT orientation_time (#PCDATA)>
<!ELEMENT orientation_place (#PCDATA)>
<!ELEMENT orientation_person (#PCDATA)>
<!ELEMENT concentration (#PCDATA)>
<!ELEMENT memory_short_term (#PCDATA)>
<!ELEMENT memory_long_term (#PCDATA)>
<!ELEMENT insight (#PCDATA)>
<!ELEMENT judgement (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
