forms/psychiatry-assessment/xml-representations/assessment_mood_and_anxiety.dtd

<!ELEMENT assessment_mood_and_anxiety (id,assessment_id,phq9_score,gad7_score,depressed_mood,anhedonia,sleep_disturbance,appetite_change,energy_level,concentration_difficulty,psychomotor_changes,guilt_worthlessness,panic_attacks,panic_frequency,phobias,phobia_details,obsessions,compulsions,ocd_details,ptsd_symptoms,ptsd_details,manic_episodes,manic_episode_details,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT phq9_score (#PCDATA)>
<!ELEMENT gad7_score (#PCDATA)>
<!ELEMENT depressed_mood (#PCDATA)>
<!ELEMENT anhedonia (#PCDATA)>
<!ELEMENT sleep_disturbance (#PCDATA)>
<!ELEMENT appetite_change (#PCDATA)>
<!ELEMENT energy_level (#PCDATA)>
<!ELEMENT concentration_difficulty (#PCDATA)>
<!ELEMENT psychomotor_changes (#PCDATA)>
<!ELEMENT guilt_worthlessness (#PCDATA)>
<!ELEMENT panic_attacks (#PCDATA)>
<!ELEMENT panic_frequency (#PCDATA)>
<!ELEMENT phobias (#PCDATA)>
<!ELEMENT phobia_details (#PCDATA)>
<!ELEMENT obsessions (#PCDATA)>
<!ELEMENT compulsions (#PCDATA)>
<!ELEMENT ocd_details (#PCDATA)>
<!ELEMENT ptsd_symptoms (#PCDATA)>
<!ELEMENT ptsd_details (#PCDATA)>
<!ELEMENT manic_episodes (#PCDATA)>
<!ELEMENT manic_episode_details (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
