forms/psychiatry-assessment/xml-representations/assessment_risk_assessment.dtd

<!ELEMENT assessment_risk_assessment (id,assessment_id,suicidal_ideation,suicidal_ideation_details,suicidal_plan,suicidal_plan_details,suicidal_intent,access_to_means,means_details,previous_suicide_attempts,attempt_count,attempt_details,self_harm_current,self_harm_details,risk_to_others,risk_to_others_details,violence_history,violence_details,vulnerability,vulnerability_details,safeguarding_concerns,safeguarding_details,protective_factors,overall_risk_level,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT suicidal_ideation (#PCDATA)>
<!ELEMENT suicidal_ideation_details (#PCDATA)>
<!ELEMENT suicidal_plan (#PCDATA)>
<!ELEMENT suicidal_plan_details (#PCDATA)>
<!ELEMENT suicidal_intent (#PCDATA)>
<!ELEMENT access_to_means (#PCDATA)>
<!ELEMENT means_details (#PCDATA)>
<!ELEMENT previous_suicide_attempts (#PCDATA)>
<!ELEMENT attempt_count (#PCDATA)>
<!ELEMENT attempt_details (#PCDATA)>
<!ELEMENT self_harm_current (#PCDATA)>
<!ELEMENT self_harm_details (#PCDATA)>
<!ELEMENT risk_to_others (#PCDATA)>
<!ELEMENT risk_to_others_details (#PCDATA)>
<!ELEMENT violence_history (#PCDATA)>
<!ELEMENT violence_details (#PCDATA)>
<!ELEMENT vulnerability (#PCDATA)>
<!ELEMENT vulnerability_details (#PCDATA)>
<!ELEMENT safeguarding_concerns (#PCDATA)>
<!ELEMENT safeguarding_details (#PCDATA)>
<!ELEMENT protective_factors (#PCDATA)>
<!ELEMENT overall_risk_level (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
