forms/psychiatry-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,capacity_and_consent,current_medications,medical_history,medication_item,mental_status_exam,mood_and_anxiety,presenting_complaint,psychiatric_history,risk_assessment,social_history,substance_use)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT capacity_and_consent (id,assessment_id,capacity_assessed,has_capacity,understands_information,retains_information,weighs_information,communicates_decision,capacity_details,advance_directive,advance_directive_details,lasting_power_of_attorney,lpa_details,mental_health_act_status,mha_details,consent_to_treatment,consent_to_share_information,nearest_relative,nearest_relative_informed,additional_notes,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT capacity_assessed (#PCDATA)>
<!ELEMENT has_capacity (#PCDATA)>
<!ELEMENT understands_information (#PCDATA)>
<!ELEMENT retains_information (#PCDATA)>
<!ELEMENT weighs_information (#PCDATA)>
<!ELEMENT communicates_decision (#PCDATA)>
<!ELEMENT capacity_details (#PCDATA)>
<!ELEMENT advance_directive (#PCDATA)>
<!ELEMENT advance_directive_details (#PCDATA)>
<!ELEMENT lasting_power_of_attorney (#PCDATA)>
<!ELEMENT lpa_details (#PCDATA)>
<!ELEMENT mental_health_act_status (#PCDATA)>
<!ELEMENT mha_details (#PCDATA)>
<!ELEMENT consent_to_treatment (#PCDATA)>
<!ELEMENT consent_to_share_information (#PCDATA)>
<!ELEMENT nearest_relative (#PCDATA)>
<!ELEMENT nearest_relative_informed (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT current_medications (id,assessment_id,takes_psychiatric_medications,takes_other_medications,medication_adherence,adherence_barriers,side_effects,clozapine_registered,depot_injection,depot_details,adverse_drug_reactions,additional_notes,created_at,updated_at)>
<!ELEMENT takes_psychiatric_medications (#PCDATA)>
<!ELEMENT takes_other_medications (#PCDATA)>
<!ELEMENT medication_adherence (#PCDATA)>
<!ELEMENT adherence_barriers (#PCDATA)>
<!ELEMENT side_effects (#PCDATA)>
<!ELEMENT clozapine_registered (#PCDATA)>
<!ELEMENT depot_injection (#PCDATA)>
<!ELEMENT depot_details (#PCDATA)>
<!ELEMENT adverse_drug_reactions (#PCDATA)>
<!ELEMENT medical_history (id,assessment_id,chronic_conditions,neurological_conditions,neurological_details,endocrine_conditions,endocrine_details,cardiovascular_conditions,cardiovascular_details,head_injuries,head_injury_details,seizure_history,known_allergies,allergy_details,recent_blood_tests,blood_test_results,physical_health_screening,additional_notes,created_at,updated_at)>
<!ELEMENT chronic_conditions (#PCDATA)>
<!ELEMENT neurological_conditions (#PCDATA)>
<!ELEMENT neurological_details (#PCDATA)>
<!ELEMENT endocrine_conditions (#PCDATA)>
<!ELEMENT endocrine_details (#PCDATA)>
<!ELEMENT cardiovascular_conditions (#PCDATA)>
<!ELEMENT cardiovascular_details (#PCDATA)>
<!ELEMENT head_injuries (#PCDATA)>
<!ELEMENT head_injury_details (#PCDATA)>
<!ELEMENT seizure_history (#PCDATA)>
<!ELEMENT known_allergies (#PCDATA)>
<!ELEMENT allergy_details (#PCDATA)>
<!ELEMENT recent_blood_tests (#PCDATA)>
<!ELEMENT blood_test_results (#PCDATA)>
<!ELEMENT physical_health_screening (#PCDATA)>
<!ELEMENT medication_item (id,current_medications_id,medication_name,dose,frequency,medication_type,indication,prescribing_clinician,sort_order,created_at,updated_at)>
<!ELEMENT current_medications_id (#PCDATA)>
<!ELEMENT medication_name (#PCDATA)>
<!ELEMENT dose (#PCDATA)>
<!ELEMENT frequency (#PCDATA)>
<!ELEMENT medication_type (#PCDATA)>
<!ELEMENT indication (#PCDATA)>
<!ELEMENT prescribing_clinician (#PCDATA)>
<!ELEMENT sort_order (#PCDATA)>
<!ELEMENT mental_status_exam (id,assessment_id,appearance,behaviour,psychomotor_activity,speech_rate,speech_volume,speech_quality,mood_subjective,affect,affect_congruence,thought_form,thought_content,delusions,delusion_details,hallucinations,hallucination_type,hallucination_details,orientation_time,orientation_place,orientation_person,concentration,memory_short_term,memory_long_term,insight,judgement,additional_notes,created_at,updated_at)>
<!ELEMENT appearance (#PCDATA)>
<!ELEMENT behaviour (#PCDATA)>
<!ELEMENT psychomotor_activity (#PCDATA)>
<!ELEMENT speech_rate (#PCDATA)>
<!ELEMENT speech_volume (#PCDATA)>
<!ELEMENT speech_quality (#PCDATA)>
<!ELEMENT mood_subjective (#PCDATA)>
<!ELEMENT affect (#PCDATA)>
<!ELEMENT affect_congruence (#PCDATA)>
<!ELEMENT thought_form (#PCDATA)>
<!ELEMENT thought_content (#PCDATA)>
<!ELEMENT delusions (#PCDATA)>
<!ELEMENT delusion_details (#PCDATA)>
<!ELEMENT hallucinations (#PCDATA)>
<!ELEMENT hallucination_type (#PCDATA)>
<!ELEMENT hallucination_details (#PCDATA)>
<!ELEMENT orientation_time (#PCDATA)>
<!ELEMENT orientation_place (#PCDATA)>
<!ELEMENT orientation_person (#PCDATA)>
<!ELEMENT concentration (#PCDATA)>
<!ELEMENT memory_short_term (#PCDATA)>
<!ELEMENT memory_long_term (#PCDATA)>
<!ELEMENT insight (#PCDATA)>
<!ELEMENT judgement (#PCDATA)>
<!ELEMENT mood_and_anxiety (id,assessment_id,phq9_score,gad7_score,depressed_mood,anhedonia,sleep_disturbance,appetite_change,energy_level,concentration_difficulty,psychomotor_changes,guilt_worthlessness,panic_attacks,panic_frequency,phobias,phobia_details,obsessions,compulsions,ocd_details,ptsd_symptoms,ptsd_details,manic_episodes,manic_episode_details,additional_notes,created_at,updated_at)>
<!ELEMENT phq9_score (#PCDATA)>
<!ELEMENT gad7_score (#PCDATA)>
<!ELEMENT depressed_mood (#PCDATA)>
<!ELEMENT anhedonia (#PCDATA)>
<!ELEMENT sleep_disturbance (#PCDATA)>
<!ELEMENT appetite_change (#PCDATA)>
<!ELEMENT energy_level (#PCDATA)>
<!ELEMENT concentration_difficulty (#PCDATA)>
<!ELEMENT psychomotor_changes (#PCDATA)>
<!ELEMENT guilt_worthlessness (#PCDATA)>
<!ELEMENT panic_attacks (#PCDATA)>
<!ELEMENT panic_frequency (#PCDATA)>
<!ELEMENT phobias (#PCDATA)>
<!ELEMENT phobia_details (#PCDATA)>
<!ELEMENT obsessions (#PCDATA)>
<!ELEMENT compulsions (#PCDATA)>
<!ELEMENT ocd_details (#PCDATA)>
<!ELEMENT ptsd_symptoms (#PCDATA)>
<!ELEMENT ptsd_details (#PCDATA)>
<!ELEMENT manic_episodes (#PCDATA)>
<!ELEMENT manic_episode_details (#PCDATA)>
<!ELEMENT presenting_complaint (id,assessment_id,chief_complaint,onset_date,onset_description,duration,severity,precipitating_factors,aggravating_factors,relieving_factors,previous_episodes,previous_episode_details,referral_source,referral_reason,additional_notes,created_at,updated_at)>
<!ELEMENT chief_complaint (#PCDATA)>
<!ELEMENT onset_date (#PCDATA)>
<!ELEMENT onset_description (#PCDATA)>
<!ELEMENT duration (#PCDATA)>
<!ELEMENT severity (#PCDATA)>
<!ELEMENT precipitating_factors (#PCDATA)>
<!ELEMENT aggravating_factors (#PCDATA)>
<!ELEMENT relieving_factors (#PCDATA)>
<!ELEMENT previous_episodes (#PCDATA)>
<!ELEMENT previous_episode_details (#PCDATA)>
<!ELEMENT referral_source (#PCDATA)>
<!ELEMENT referral_reason (#PCDATA)>
<!ELEMENT psychiatric_history (id,assessment_id,previous_diagnoses,age_first_contact,previous_inpatient_admissions,inpatient_admission_count,inpatient_details,previous_sectioning,sectioning_details,previous_ect,previous_therapy,therapy_types,therapy_response,previous_medication_trials,treatment_adherence,longest_period_of_wellness,additional_notes,created_at,updated_at)>
<!ELEMENT previous_diagnoses (#PCDATA)>
<!ELEMENT age_first_contact (#PCDATA)>
<!ELEMENT previous_inpatient_admissions (#PCDATA)>
<!ELEMENT inpatient_admission_count (#PCDATA)>
<!ELEMENT inpatient_details (#PCDATA)>
<!ELEMENT previous_sectioning (#PCDATA)>
<!ELEMENT sectioning_details (#PCDATA)>
<!ELEMENT previous_ect (#PCDATA)>
<!ELEMENT previous_therapy (#PCDATA)>
<!ELEMENT therapy_types (#PCDATA)>
<!ELEMENT therapy_response (#PCDATA)>
<!ELEMENT previous_medication_trials (#PCDATA)>
<!ELEMENT treatment_adherence (#PCDATA)>
<!ELEMENT longest_period_of_wellness (#PCDATA)>
<!ELEMENT risk_assessment (id,assessment_id,suicidal_ideation,suicidal_ideation_details,suicidal_plan,suicidal_plan_details,suicidal_intent,access_to_means,means_details,previous_suicide_attempts,attempt_count,attempt_details,self_harm_current,self_harm_details,risk_to_others,risk_to_others_details,violence_history,violence_details,vulnerability,vulnerability_details,safeguarding_concerns,safeguarding_details,protective_factors,overall_risk_level,additional_notes,created_at,updated_at)>
<!ELEMENT suicidal_ideation (#PCDATA)>
<!ELEMENT suicidal_ideation_details (#PCDATA)>
<!ELEMENT suicidal_plan (#PCDATA)>
<!ELEMENT suicidal_plan_details (#PCDATA)>
<!ELEMENT suicidal_intent (#PCDATA)>
<!ELEMENT access_to_means (#PCDATA)>
<!ELEMENT means_details (#PCDATA)>
<!ELEMENT previous_suicide_attempts (#PCDATA)>
<!ELEMENT attempt_count (#PCDATA)>
<!ELEMENT attempt_details (#PCDATA)>
<!ELEMENT self_harm_current (#PCDATA)>
<!ELEMENT self_harm_details (#PCDATA)>
<!ELEMENT risk_to_others (#PCDATA)>
<!ELEMENT risk_to_others_details (#PCDATA)>
<!ELEMENT violence_history (#PCDATA)>
<!ELEMENT violence_details (#PCDATA)>
<!ELEMENT vulnerability (#PCDATA)>
<!ELEMENT vulnerability_details (#PCDATA)>
<!ELEMENT safeguarding_concerns (#PCDATA)>
<!ELEMENT safeguarding_details (#PCDATA)>
<!ELEMENT protective_factors (#PCDATA)>
<!ELEMENT overall_risk_level (#PCDATA)>
<!ELEMENT social_history (id,assessment_id,living_arrangement,living_arrangement_details,relationship_status,dependants,dependant_details,employment_status,occupation,financial_difficulties,benefits_received,forensic_history,forensic_details,current_legal_issues,legal_details,immigration_status,social_support,hobbies_interests,spiritual_beliefs,childhood_adversity,childhood_adversity_details,additional_notes,created_at,updated_at)>
<!ELEMENT living_arrangement (#PCDATA)>
<!ELEMENT living_arrangement_details (#PCDATA)>
<!ELEMENT relationship_status (#PCDATA)>
<!ELEMENT dependants (#PCDATA)>
<!ELEMENT dependant_details (#PCDATA)>
<!ELEMENT employment_status (#PCDATA)>
<!ELEMENT occupation (#PCDATA)>
<!ELEMENT financial_difficulties (#PCDATA)>
<!ELEMENT benefits_received (#PCDATA)>
<!ELEMENT forensic_history (#PCDATA)>
<!ELEMENT forensic_details (#PCDATA)>
<!ELEMENT current_legal_issues (#PCDATA)>
<!ELEMENT legal_details (#PCDATA)>
<!ELEMENT immigration_status (#PCDATA)>
<!ELEMENT social_support (#PCDATA)>
<!ELEMENT hobbies_interests (#PCDATA)>
<!ELEMENT spiritual_beliefs (#PCDATA)>
<!ELEMENT childhood_adversity (#PCDATA)>
<!ELEMENT childhood_adversity_details (#PCDATA)>
<!ELEMENT substance_use (id,assessment_id,alcohol_use,alcohol_units_per_week,audit_score,tobacco_use,cigarettes_per_day,cannabis_use,stimulant_use,stimulant_details,opioid_use,opioid_details,benzodiazepine_misuse,novel_psychoactive_substances,iv_drug_use,previous_detox,previous_detox_details,substance_use_impact,motivation_to_change,additional_notes,created_at,updated_at)>
<!ELEMENT alcohol_use (#PCDATA)>
<!ELEMENT alcohol_units_per_week (#PCDATA)>
<!ELEMENT audit_score (#PCDATA)>
<!ELEMENT tobacco_use (#PCDATA)>
<!ELEMENT cigarettes_per_day (#PCDATA)>
<!ELEMENT cannabis_use (#PCDATA)>
<!ELEMENT stimulant_use (#PCDATA)>
<!ELEMENT stimulant_details (#PCDATA)>
<!ELEMENT opioid_use (#PCDATA)>
<!ELEMENT opioid_details (#PCDATA)>
<!ELEMENT benzodiazepine_misuse (#PCDATA)>
<!ELEMENT novel_psychoactive_substances (#PCDATA)>
<!ELEMENT iv_drug_use (#PCDATA)>
<!ELEMENT previous_detox (#PCDATA)>
<!ELEMENT previous_detox_details (#PCDATA)>
<!ELEMENT substance_use_impact (#PCDATA)>
<!ELEMENT motivation_to_change (#PCDATA)>
