forms/psychiatry-assessment/xml-representations/assessment_presenting_complaint.dtd

<!ELEMENT assessment_presenting_complaint (id,assessment_id,chief_complaint,onset_date,onset_description,duration,severity,precipitating_factors,aggravating_factors,relieving_factors,previous_episodes,previous_episode_details,referral_source,referral_reason,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT chief_complaint (#PCDATA)>
<!ELEMENT onset_date (#PCDATA)>
<!ELEMENT onset_description (#PCDATA)>
<!ELEMENT duration (#PCDATA)>
<!ELEMENT severity (#PCDATA)>
<!ELEMENT precipitating_factors (#PCDATA)>
<!ELEMENT aggravating_factors (#PCDATA)>
<!ELEMENT relieving_factors (#PCDATA)>
<!ELEMENT previous_episodes (#PCDATA)>
<!ELEMENT previous_episode_details (#PCDATA)>
<!ELEMENT referral_source (#PCDATA)>
<!ELEMENT referral_reason (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
