forms/psychiatry-assessment/xml-representations/assessment_medical_history.dtd

<!ELEMENT assessment_medical_history (id,assessment_id,chronic_conditions,neurological_conditions,neurological_details,endocrine_conditions,endocrine_details,cardiovascular_conditions,cardiovascular_details,head_injuries,head_injury_details,seizure_history,known_allergies,allergy_details,recent_blood_tests,blood_test_results,physical_health_screening,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT chronic_conditions (#PCDATA)>
<!ELEMENT neurological_conditions (#PCDATA)>
<!ELEMENT neurological_details (#PCDATA)>
<!ELEMENT endocrine_conditions (#PCDATA)>
<!ELEMENT endocrine_details (#PCDATA)>
<!ELEMENT cardiovascular_conditions (#PCDATA)>
<!ELEMENT cardiovascular_details (#PCDATA)>
<!ELEMENT head_injuries (#PCDATA)>
<!ELEMENT head_injury_details (#PCDATA)>
<!ELEMENT seizure_history (#PCDATA)>
<!ELEMENT known_allergies (#PCDATA)>
<!ELEMENT allergy_details (#PCDATA)>
<!ELEMENT recent_blood_tests (#PCDATA)>
<!ELEMENT blood_test_results (#PCDATA)>
<!ELEMENT physical_health_screening (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
