forms/psychiatry-assessment/xml-representations/assessment_social_history.dtd

<!ELEMENT assessment_social_history (id,assessment_id,living_arrangement,living_arrangement_details,relationship_status,dependants,dependant_details,employment_status,occupation,financial_difficulties,benefits_received,forensic_history,forensic_details,current_legal_issues,legal_details,immigration_status,social_support,hobbies_interests,spiritual_beliefs,childhood_adversity,childhood_adversity_details,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT living_arrangement (#PCDATA)>
<!ELEMENT living_arrangement_details (#PCDATA)>
<!ELEMENT relationship_status (#PCDATA)>
<!ELEMENT dependants (#PCDATA)>
<!ELEMENT dependant_details (#PCDATA)>
<!ELEMENT employment_status (#PCDATA)>
<!ELEMENT occupation (#PCDATA)>
<!ELEMENT financial_difficulties (#PCDATA)>
<!ELEMENT benefits_received (#PCDATA)>
<!ELEMENT forensic_history (#PCDATA)>
<!ELEMENT forensic_details (#PCDATA)>
<!ELEMENT current_legal_issues (#PCDATA)>
<!ELEMENT legal_details (#PCDATA)>
<!ELEMENT immigration_status (#PCDATA)>
<!ELEMENT social_support (#PCDATA)>
<!ELEMENT hobbies_interests (#PCDATA)>
<!ELEMENT spiritual_beliefs (#PCDATA)>
<!ELEMENT childhood_adversity (#PCDATA)>
<!ELEMENT childhood_adversity_details (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
