forms/psychiatry-assessment/xml-representations/assessment_capacity_and_consent.dtd

<!ELEMENT assessment_capacity_and_consent (id,assessment_id,capacity_assessed,has_capacity,understands_information,retains_information,weighs_information,communicates_decision,capacity_details,advance_directive,advance_directive_details,lasting_power_of_attorney,lpa_details,mental_health_act_status,mha_details,consent_to_treatment,consent_to_share_information,nearest_relative,nearest_relative_informed,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT capacity_assessed (#PCDATA)>
<!ELEMENT has_capacity (#PCDATA)>
<!ELEMENT understands_information (#PCDATA)>
<!ELEMENT retains_information (#PCDATA)>
<!ELEMENT weighs_information (#PCDATA)>
<!ELEMENT communicates_decision (#PCDATA)>
<!ELEMENT capacity_details (#PCDATA)>
<!ELEMENT advance_directive (#PCDATA)>
<!ELEMENT advance_directive_details (#PCDATA)>
<!ELEMENT lasting_power_of_attorney (#PCDATA)>
<!ELEMENT lpa_details (#PCDATA)>
<!ELEMENT mental_health_act_status (#PCDATA)>
<!ELEMENT mha_details (#PCDATA)>
<!ELEMENT consent_to_treatment (#PCDATA)>
<!ELEMENT consent_to_share_information (#PCDATA)>
<!ELEMENT nearest_relative (#PCDATA)>
<!ELEMENT nearest_relative_informed (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
