forms/gastroenterology-assessment/xml-representations/assessment_lower_gi_symptoms.dtd

<!ELEMENT assessment_lower_gi_symptoms (id,assessment_id,altered_bowel_habit,bowel_habit_change_type,stool_frequency_per_day,bristol_stool_type,rectal_bleeding,bleeding_colour,melaena,mucus_in_stool,tenesmus,urgency,incontinence,flatulence,abdominal_distension,perianal_symptoms,perianal_details,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT altered_bowel_habit (#PCDATA)>
<!ELEMENT bowel_habit_change_type (#PCDATA)>
<!ELEMENT stool_frequency_per_day (#PCDATA)>
<!ELEMENT bristol_stool_type (#PCDATA)>
<!ELEMENT rectal_bleeding (#PCDATA)>
<!ELEMENT bleeding_colour (#PCDATA)>
<!ELEMENT melaena (#PCDATA)>
<!ELEMENT mucus_in_stool (#PCDATA)>
<!ELEMENT tenesmus (#PCDATA)>
<!ELEMENT urgency (#PCDATA)>
<!ELEMENT incontinence (#PCDATA)>
<!ELEMENT flatulence (#PCDATA)>
<!ELEMENT abdominal_distension (#PCDATA)>
<!ELEMENT perianal_symptoms (#PCDATA)>
<!ELEMENT perianal_details (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
