forms/gastroenterology-assessment/xml-representations/assessment_red_flags_and_social.dtd

<!ELEMENT assessment_red_flags_and_social (id,assessment_id,unintentional_weight_loss,progressive_dysphagia,gi_bleeding,iron_deficiency_anaemia,persistent_vomiting,palpable_abdominal_mass,new_onset_symptoms_over_50,family_history_gi_cancer,family_gi_cancer_details,night_sweats,fever,tobacco_use,alcohol_use,recreational_drug_use,occupation,travel_history,stress_level,psychological_impact,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT unintentional_weight_loss (#PCDATA)>
<!ELEMENT progressive_dysphagia (#PCDATA)>
<!ELEMENT gi_bleeding (#PCDATA)>
<!ELEMENT iron_deficiency_anaemia (#PCDATA)>
<!ELEMENT persistent_vomiting (#PCDATA)>
<!ELEMENT palpable_abdominal_mass (#PCDATA)>
<!ELEMENT new_onset_symptoms_over_50 (#PCDATA)>
<!ELEMENT family_history_gi_cancer (#PCDATA)>
<!ELEMENT family_gi_cancer_details (#PCDATA)>
<!ELEMENT night_sweats (#PCDATA)>
<!ELEMENT fever (#PCDATA)>
<!ELEMENT tobacco_use (#PCDATA)>
<!ELEMENT alcohol_use (#PCDATA)>
<!ELEMENT recreational_drug_use (#PCDATA)>
<!ELEMENT occupation (#PCDATA)>
<!ELEMENT travel_history (#PCDATA)>
<!ELEMENT stress_level (#PCDATA)>
<!ELEMENT psychological_impact (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
