forms/gastroenterology-assessment/xml-representations/assessment_previous_gi_history.dtd

<!ELEMENT assessment_previous_gi_history (id,assessment_id,has_ibs,ibs_subtype,has_ibd,ibd_type,has_coeliac_disease,has_peptic_ulcer,helicobacter_pylori_status,has_gord,has_barretts_oesophagus,has_gi_malignancy,gi_malignancy_details,has_polyps,polyp_details,previous_endoscopy,endoscopy_date,endoscopy_findings,previous_colonoscopy,colonoscopy_date,colonoscopy_findings,previous_gi_surgery,gi_surgery_details,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_ibs (#PCDATA)>
<!ELEMENT ibs_subtype (#PCDATA)>
<!ELEMENT has_ibd (#PCDATA)>
<!ELEMENT ibd_type (#PCDATA)>
<!ELEMENT has_coeliac_disease (#PCDATA)>
<!ELEMENT has_peptic_ulcer (#PCDATA)>
<!ELEMENT helicobacter_pylori_status (#PCDATA)>
<!ELEMENT has_gord (#PCDATA)>
<!ELEMENT has_barretts_oesophagus (#PCDATA)>
<!ELEMENT has_gi_malignancy (#PCDATA)>
<!ELEMENT gi_malignancy_details (#PCDATA)>
<!ELEMENT has_polyps (#PCDATA)>
<!ELEMENT polyp_details (#PCDATA)>
<!ELEMENT previous_endoscopy (#PCDATA)>
<!ELEMENT endoscopy_date (#PCDATA)>
<!ELEMENT endoscopy_findings (#PCDATA)>
<!ELEMENT previous_colonoscopy (#PCDATA)>
<!ELEMENT colonoscopy_date (#PCDATA)>
<!ELEMENT colonoscopy_findings (#PCDATA)>
<!ELEMENT previous_gi_surgery (#PCDATA)>
<!ELEMENT gi_surgery_details (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
