forms/gastroenterology-assessment/xml-representations/assessment_current_medications.dtd

<!ELEMENT assessment_current_medications (id,assessment_id,takes_ppi,ppi_name,takes_h2_blocker,h2_blocker_name,takes_antacids,takes_laxatives,laxative_type,takes_antidiarrhoeals,takes_nsaids,nsaid_name,takes_anticoagulants,anticoagulant_name,takes_immunosuppressants,immunosuppressant_name,takes_biologics,biologic_name,takes_antibiotics,antibiotic_name,takes_probiotics,other_medications,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT takes_ppi (#PCDATA)>
<!ELEMENT ppi_name (#PCDATA)>
<!ELEMENT takes_h2_blocker (#PCDATA)>
<!ELEMENT h2_blocker_name (#PCDATA)>
<!ELEMENT takes_antacids (#PCDATA)>
<!ELEMENT takes_laxatives (#PCDATA)>
<!ELEMENT laxative_type (#PCDATA)>
<!ELEMENT takes_antidiarrhoeals (#PCDATA)>
<!ELEMENT takes_nsaids (#PCDATA)>
<!ELEMENT nsaid_name (#PCDATA)>
<!ELEMENT takes_anticoagulants (#PCDATA)>
<!ELEMENT anticoagulant_name (#PCDATA)>
<!ELEMENT takes_immunosuppressants (#PCDATA)>
<!ELEMENT immunosuppressant_name (#PCDATA)>
<!ELEMENT takes_biologics (#PCDATA)>
<!ELEMENT biologic_name (#PCDATA)>
<!ELEMENT takes_antibiotics (#PCDATA)>
<!ELEMENT antibiotic_name (#PCDATA)>
<!ELEMENT takes_probiotics (#PCDATA)>
<!ELEMENT other_medications (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
