forms/gastroenterology-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,abdominal_pain,allergies_and_diet,assessment_chief_complaint,current_medications,demographics,liver_and_pancreas,lower_gi_symptoms,previous_gi_history,red_flags_and_social,upper_gi_symptoms)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT abdominal_pain (id,assessment_id,has_abdominal_pain,pain_location,pain_character,pain_severity,pain_radiation,pain_onset,pain_duration,pain_aggravating_factors,pain_relieving_factors,relation_to_meals,relation_to_defecation,nocturnal_pain,associated_weight_loss,weight_loss_amount_kg,weight_loss_duration,additional_notes,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_abdominal_pain (#PCDATA)>
<!ELEMENT pain_location (#PCDATA)>
<!ELEMENT pain_character (#PCDATA)>
<!ELEMENT pain_severity (#PCDATA)>
<!ELEMENT pain_radiation (#PCDATA)>
<!ELEMENT pain_onset (#PCDATA)>
<!ELEMENT pain_duration (#PCDATA)>
<!ELEMENT pain_aggravating_factors (#PCDATA)>
<!ELEMENT pain_relieving_factors (#PCDATA)>
<!ELEMENT relation_to_meals (#PCDATA)>
<!ELEMENT relation_to_defecation (#PCDATA)>
<!ELEMENT nocturnal_pain (#PCDATA)>
<!ELEMENT associated_weight_loss (#PCDATA)>
<!ELEMENT weight_loss_amount_kg (#PCDATA)>
<!ELEMENT weight_loss_duration (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT allergies_and_diet (id,assessment_id,has_drug_allergies,drug_allergy_details,has_food_allergies,food_allergy_details,has_food_intolerances,food_intolerance_details,lactose_intolerance,gluten_sensitivity,fructose_intolerance,dietary_restrictions,diet_type,diet_type_other,fibre_intake,fluid_intake_litres,caffeine_intake,nutritional_supplements,additional_notes,created_at,updated_at)>
<!ELEMENT has_drug_allergies (#PCDATA)>
<!ELEMENT drug_allergy_details (#PCDATA)>
<!ELEMENT has_food_allergies (#PCDATA)>
<!ELEMENT food_allergy_details (#PCDATA)>
<!ELEMENT has_food_intolerances (#PCDATA)>
<!ELEMENT food_intolerance_details (#PCDATA)>
<!ELEMENT lactose_intolerance (#PCDATA)>
<!ELEMENT gluten_sensitivity (#PCDATA)>
<!ELEMENT fructose_intolerance (#PCDATA)>
<!ELEMENT dietary_restrictions (#PCDATA)>
<!ELEMENT diet_type (#PCDATA)>
<!ELEMENT diet_type_other (#PCDATA)>
<!ELEMENT fibre_intake (#PCDATA)>
<!ELEMENT fluid_intake_litres (#PCDATA)>
<!ELEMENT caffeine_intake (#PCDATA)>
<!ELEMENT nutritional_supplements (#PCDATA)>
<!ELEMENT assessment_chief_complaint (id,assessment_id,chief_complaint,onset_date,duration,symptom_pattern,severity,impact_on_daily_life,previous_investigations,previous_treatment,previous_treatment_response,created_at,updated_at)>
<!ELEMENT chief_complaint (#PCDATA)>
<!ELEMENT onset_date (#PCDATA)>
<!ELEMENT duration (#PCDATA)>
<!ELEMENT symptom_pattern (#PCDATA)>
<!ELEMENT severity (#PCDATA)>
<!ELEMENT impact_on_daily_life (#PCDATA)>
<!ELEMENT previous_investigations (#PCDATA)>
<!ELEMENT previous_treatment (#PCDATA)>
<!ELEMENT previous_treatment_response (#PCDATA)>
<!ELEMENT current_medications (id,assessment_id,takes_ppi,ppi_name,takes_h2_blocker,h2_blocker_name,takes_antacids,takes_laxatives,laxative_type,takes_antidiarrhoeals,takes_nsaids,nsaid_name,takes_anticoagulants,anticoagulant_name,takes_immunosuppressants,immunosuppressant_name,takes_biologics,biologic_name,takes_antibiotics,antibiotic_name,takes_probiotics,other_medications,created_at,updated_at)>
<!ELEMENT takes_ppi (#PCDATA)>
<!ELEMENT ppi_name (#PCDATA)>
<!ELEMENT takes_h2_blocker (#PCDATA)>
<!ELEMENT h2_blocker_name (#PCDATA)>
<!ELEMENT takes_antacids (#PCDATA)>
<!ELEMENT takes_laxatives (#PCDATA)>
<!ELEMENT laxative_type (#PCDATA)>
<!ELEMENT takes_antidiarrhoeals (#PCDATA)>
<!ELEMENT takes_nsaids (#PCDATA)>
<!ELEMENT nsaid_name (#PCDATA)>
<!ELEMENT takes_anticoagulants (#PCDATA)>
<!ELEMENT anticoagulant_name (#PCDATA)>
<!ELEMENT takes_immunosuppressants (#PCDATA)>
<!ELEMENT immunosuppressant_name (#PCDATA)>
<!ELEMENT takes_biologics (#PCDATA)>
<!ELEMENT biologic_name (#PCDATA)>
<!ELEMENT takes_antibiotics (#PCDATA)>
<!ELEMENT antibiotic_name (#PCDATA)>
<!ELEMENT takes_probiotics (#PCDATA)>
<!ELEMENT other_medications (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,full_name,date_of_birth,nhs_number,address,telephone,email,gp_name,gp_practice,created_at,updated_at)>
<!ELEMENT full_name (#PCDATA)>
<!ELEMENT date_of_birth (#PCDATA)>
<!ELEMENT nhs_number (#PCDATA)>
<!ELEMENT address (#PCDATA)>
<!ELEMENT telephone (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT gp_name (#PCDATA)>
<!ELEMENT gp_practice (#PCDATA)>
<!ELEMENT liver_and_pancreas (id,assessment_id,jaundice,jaundice_duration,dark_urine,pale_stools,pruritus,hepatomegaly,ascites,history_of_hepatitis,hepatitis_type,history_of_liver_disease,liver_disease_details,alcohol_consumption,alcohol_units_per_week,history_of_pancreatitis,pancreatitis_type,history_of_gallstones,cholecystectomy_performed,liver_function_tests_available,lft_notes,additional_notes,created_at,updated_at)>
<!ELEMENT jaundice (#PCDATA)>
<!ELEMENT jaundice_duration (#PCDATA)>
<!ELEMENT dark_urine (#PCDATA)>
<!ELEMENT pale_stools (#PCDATA)>
<!ELEMENT pruritus (#PCDATA)>
<!ELEMENT hepatomegaly (#PCDATA)>
<!ELEMENT ascites (#PCDATA)>
<!ELEMENT history_of_hepatitis (#PCDATA)>
<!ELEMENT hepatitis_type (#PCDATA)>
<!ELEMENT history_of_liver_disease (#PCDATA)>
<!ELEMENT liver_disease_details (#PCDATA)>
<!ELEMENT alcohol_consumption (#PCDATA)>
<!ELEMENT alcohol_units_per_week (#PCDATA)>
<!ELEMENT history_of_pancreatitis (#PCDATA)>
<!ELEMENT pancreatitis_type (#PCDATA)>
<!ELEMENT history_of_gallstones (#PCDATA)>
<!ELEMENT cholecystectomy_performed (#PCDATA)>
<!ELEMENT liver_function_tests_available (#PCDATA)>
<!ELEMENT lft_notes (#PCDATA)>
<!ELEMENT lower_gi_symptoms (id,assessment_id,altered_bowel_habit,bowel_habit_change_type,stool_frequency_per_day,bristol_stool_type,rectal_bleeding,bleeding_colour,melaena,mucus_in_stool,tenesmus,urgency,incontinence,flatulence,abdominal_distension,perianal_symptoms,perianal_details,additional_notes,created_at,updated_at)>
<!ELEMENT altered_bowel_habit (#PCDATA)>
<!ELEMENT bowel_habit_change_type (#PCDATA)>
<!ELEMENT stool_frequency_per_day (#PCDATA)>
<!ELEMENT bristol_stool_type (#PCDATA)>
<!ELEMENT rectal_bleeding (#PCDATA)>
<!ELEMENT bleeding_colour (#PCDATA)>
<!ELEMENT melaena (#PCDATA)>
<!ELEMENT mucus_in_stool (#PCDATA)>
<!ELEMENT tenesmus (#PCDATA)>
<!ELEMENT urgency (#PCDATA)>
<!ELEMENT incontinence (#PCDATA)>
<!ELEMENT flatulence (#PCDATA)>
<!ELEMENT abdominal_distension (#PCDATA)>
<!ELEMENT perianal_symptoms (#PCDATA)>
<!ELEMENT perianal_details (#PCDATA)>
<!ELEMENT previous_gi_history (id,assessment_id,has_ibs,ibs_subtype,has_ibd,ibd_type,has_coeliac_disease,has_peptic_ulcer,helicobacter_pylori_status,has_gord,has_barretts_oesophagus,has_gi_malignancy,gi_malignancy_details,has_polyps,polyp_details,previous_endoscopy,endoscopy_date,endoscopy_findings,previous_colonoscopy,colonoscopy_date,colonoscopy_findings,previous_gi_surgery,gi_surgery_details,additional_notes,created_at,updated_at)>
<!ELEMENT has_ibs (#PCDATA)>
<!ELEMENT ibs_subtype (#PCDATA)>
<!ELEMENT has_ibd (#PCDATA)>
<!ELEMENT ibd_type (#PCDATA)>
<!ELEMENT has_coeliac_disease (#PCDATA)>
<!ELEMENT has_peptic_ulcer (#PCDATA)>
<!ELEMENT helicobacter_pylori_status (#PCDATA)>
<!ELEMENT has_gord (#PCDATA)>
<!ELEMENT has_barretts_oesophagus (#PCDATA)>
<!ELEMENT has_gi_malignancy (#PCDATA)>
<!ELEMENT gi_malignancy_details (#PCDATA)>
<!ELEMENT has_polyps (#PCDATA)>
<!ELEMENT polyp_details (#PCDATA)>
<!ELEMENT previous_endoscopy (#PCDATA)>
<!ELEMENT endoscopy_date (#PCDATA)>
<!ELEMENT endoscopy_findings (#PCDATA)>
<!ELEMENT previous_colonoscopy (#PCDATA)>
<!ELEMENT colonoscopy_date (#PCDATA)>
<!ELEMENT colonoscopy_findings (#PCDATA)>
<!ELEMENT previous_gi_surgery (#PCDATA)>
<!ELEMENT gi_surgery_details (#PCDATA)>
<!ELEMENT red_flags_and_social (id,assessment_id,unintentional_weight_loss,progressive_dysphagia,gi_bleeding,iron_deficiency_anaemia,persistent_vomiting,palpable_abdominal_mass,new_onset_symptoms_over_50,family_history_gi_cancer,family_gi_cancer_details,night_sweats,fever,tobacco_use,alcohol_use,recreational_drug_use,occupation,travel_history,stress_level,psychological_impact,additional_notes,created_at,updated_at)>
<!ELEMENT unintentional_weight_loss (#PCDATA)>
<!ELEMENT progressive_dysphagia (#PCDATA)>
<!ELEMENT gi_bleeding (#PCDATA)>
<!ELEMENT iron_deficiency_anaemia (#PCDATA)>
<!ELEMENT persistent_vomiting (#PCDATA)>
<!ELEMENT palpable_abdominal_mass (#PCDATA)>
<!ELEMENT new_onset_symptoms_over_50 (#PCDATA)>
<!ELEMENT family_history_gi_cancer (#PCDATA)>
<!ELEMENT family_gi_cancer_details (#PCDATA)>
<!ELEMENT night_sweats (#PCDATA)>
<!ELEMENT fever (#PCDATA)>
<!ELEMENT tobacco_use (#PCDATA)>
<!ELEMENT alcohol_use (#PCDATA)>
<!ELEMENT recreational_drug_use (#PCDATA)>
<!ELEMENT occupation (#PCDATA)>
<!ELEMENT travel_history (#PCDATA)>
<!ELEMENT stress_level (#PCDATA)>
<!ELEMENT psychological_impact (#PCDATA)>
<!ELEMENT upper_gi_symptoms (id,assessment_id,dysphagia,dysphagia_type,dysphagia_progression,odynophagia,heartburn,heartburn_frequency,acid_regurgitation,nausea,nausea_frequency,vomiting,vomiting_frequency,haematemesis,early_satiety,bloating,epigastric_pain,epigastric_pain_relation_to_meals,additional_notes,created_at,updated_at)>
<!ELEMENT dysphagia (#PCDATA)>
<!ELEMENT dysphagia_type (#PCDATA)>
<!ELEMENT dysphagia_progression (#PCDATA)>
<!ELEMENT odynophagia (#PCDATA)>
<!ELEMENT heartburn (#PCDATA)>
<!ELEMENT heartburn_frequency (#PCDATA)>
<!ELEMENT acid_regurgitation (#PCDATA)>
<!ELEMENT nausea (#PCDATA)>
<!ELEMENT nausea_frequency (#PCDATA)>
<!ELEMENT vomiting (#PCDATA)>
<!ELEMENT vomiting_frequency (#PCDATA)>
<!ELEMENT haematemesis (#PCDATA)>
<!ELEMENT early_satiety (#PCDATA)>
<!ELEMENT bloating (#PCDATA)>
<!ELEMENT epigastric_pain (#PCDATA)>
<!ELEMENT epigastric_pain_relation_to_meals (#PCDATA)>
