forms/gastroenterology-assessment/xml-representations/assessment_upper_gi_symptoms.dtd

<!ELEMENT assessment_upper_gi_symptoms (id,assessment_id,dysphagia,dysphagia_type,dysphagia_progression,odynophagia,heartburn,heartburn_frequency,acid_regurgitation,nausea,nausea_frequency,vomiting,vomiting_frequency,haematemesis,early_satiety,bloating,epigastric_pain,epigastric_pain_relation_to_meals,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT dysphagia (#PCDATA)>
<!ELEMENT dysphagia_type (#PCDATA)>
<!ELEMENT dysphagia_progression (#PCDATA)>
<!ELEMENT odynophagia (#PCDATA)>
<!ELEMENT heartburn (#PCDATA)>
<!ELEMENT heartburn_frequency (#PCDATA)>
<!ELEMENT acid_regurgitation (#PCDATA)>
<!ELEMENT nausea (#PCDATA)>
<!ELEMENT nausea_frequency (#PCDATA)>
<!ELEMENT vomiting (#PCDATA)>
<!ELEMENT vomiting_frequency (#PCDATA)>
<!ELEMENT haematemesis (#PCDATA)>
<!ELEMENT early_satiety (#PCDATA)>
<!ELEMENT bloating (#PCDATA)>
<!ELEMENT epigastric_pain (#PCDATA)>
<!ELEMENT epigastric_pain_relation_to_meals (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
