forms/gastroenterology-assessment/xml-representations/assessment_abdominal_pain.dtd

<!ELEMENT assessment_abdominal_pain (id,assessment_id,has_abdominal_pain,pain_location,pain_character,pain_severity,pain_radiation,pain_onset,pain_duration,pain_aggravating_factors,pain_relieving_factors,relation_to_meals,relation_to_defecation,nocturnal_pain,associated_weight_loss,weight_loss_amount_kg,weight_loss_duration,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_abdominal_pain (#PCDATA)>
<!ELEMENT pain_location (#PCDATA)>
<!ELEMENT pain_character (#PCDATA)>
<!ELEMENT pain_severity (#PCDATA)>
<!ELEMENT pain_radiation (#PCDATA)>
<!ELEMENT pain_onset (#PCDATA)>
<!ELEMENT pain_duration (#PCDATA)>
<!ELEMENT pain_aggravating_factors (#PCDATA)>
<!ELEMENT pain_relieving_factors (#PCDATA)>
<!ELEMENT relation_to_meals (#PCDATA)>
<!ELEMENT relation_to_defecation (#PCDATA)>
<!ELEMENT nocturnal_pain (#PCDATA)>
<!ELEMENT associated_weight_loss (#PCDATA)>
<!ELEMENT weight_loss_amount_kg (#PCDATA)>
<!ELEMENT weight_loss_duration (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
