forms/gastroenterology-assessment/xml-representations/assessment_liver_and_pancreas.dtd

<!ELEMENT assessment_liver_and_pancreas (id,assessment_id,jaundice,jaundice_duration,dark_urine,pale_stools,pruritus,hepatomegaly,ascites,history_of_hepatitis,hepatitis_type,history_of_liver_disease,liver_disease_details,alcohol_consumption,alcohol_units_per_week,history_of_pancreatitis,pancreatitis_type,history_of_gallstones,cholecystectomy_performed,liver_function_tests_available,lft_notes,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT jaundice (#PCDATA)>
<!ELEMENT jaundice_duration (#PCDATA)>
<!ELEMENT dark_urine (#PCDATA)>
<!ELEMENT pale_stools (#PCDATA)>
<!ELEMENT pruritus (#PCDATA)>
<!ELEMENT hepatomegaly (#PCDATA)>
<!ELEMENT ascites (#PCDATA)>
<!ELEMENT history_of_hepatitis (#PCDATA)>
<!ELEMENT hepatitis_type (#PCDATA)>
<!ELEMENT history_of_liver_disease (#PCDATA)>
<!ELEMENT liver_disease_details (#PCDATA)>
<!ELEMENT alcohol_consumption (#PCDATA)>
<!ELEMENT alcohol_units_per_week (#PCDATA)>
<!ELEMENT history_of_pancreatitis (#PCDATA)>
<!ELEMENT pancreatitis_type (#PCDATA)>
<!ELEMENT history_of_gallstones (#PCDATA)>
<!ELEMENT cholecystectomy_performed (#PCDATA)>
<!ELEMENT liver_function_tests_available (#PCDATA)>
<!ELEMENT lft_notes (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
