forms/gastroenterology-assessment/xml-representations/assessment_chief_complaint.dtd

<!ELEMENT assessment_chief_complaint (id,assessment_id,chief_complaint,onset_date,duration,symptom_pattern,severity,impact_on_daily_life,previous_investigations,previous_treatment,previous_treatment_response,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT chief_complaint (#PCDATA)>
<!ELEMENT onset_date (#PCDATA)>
<!ELEMENT duration (#PCDATA)>
<!ELEMENT symptom_pattern (#PCDATA)>
<!ELEMENT severity (#PCDATA)>
<!ELEMENT impact_on_daily_life (#PCDATA)>
<!ELEMENT previous_investigations (#PCDATA)>
<!ELEMENT previous_treatment (#PCDATA)>
<!ELEMENT previous_treatment_response (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
