forms/gastroenterology-assessment/xml-representations/assessment_allergies_and_diet.dtd

<!ELEMENT assessment_allergies_and_diet (id,assessment_id,has_drug_allergies,drug_allergy_details,has_food_allergies,food_allergy_details,has_food_intolerances,food_intolerance_details,lactose_intolerance,gluten_sensitivity,fructose_intolerance,dietary_restrictions,diet_type,diet_type_other,fibre_intake,fluid_intake_litres,caffeine_intake,nutritional_supplements,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_drug_allergies (#PCDATA)>
<!ELEMENT drug_allergy_details (#PCDATA)>
<!ELEMENT has_food_allergies (#PCDATA)>
<!ELEMENT food_allergy_details (#PCDATA)>
<!ELEMENT has_food_intolerances (#PCDATA)>
<!ELEMENT food_intolerance_details (#PCDATA)>
<!ELEMENT lactose_intolerance (#PCDATA)>
<!ELEMENT gluten_sensitivity (#PCDATA)>
<!ELEMENT fructose_intolerance (#PCDATA)>
<!ELEMENT dietary_restrictions (#PCDATA)>
<!ELEMENT diet_type (#PCDATA)>
<!ELEMENT diet_type_other (#PCDATA)>
<!ELEMENT fibre_intake (#PCDATA)>
<!ELEMENT fluid_intake_litres (#PCDATA)>
<!ELEMENT caffeine_intake (#PCDATA)>
<!ELEMENT nutritional_supplements (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
