forms/gastroenterology-assessment/xml-representations/grading_result.dtd

<!ELEMENT grading_result (id,assessment_id,severity_score,severity_level,red_flag_count,urgent_referral_recommended,graded_at,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT severity_score (#PCDATA)>
<!ELEMENT severity_level (#PCDATA)>
<!ELEMENT red_flag_count (#PCDATA)>
<!ELEMENT urgent_referral_recommended (#PCDATA)>
<!ELEMENT graded_at (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
