forms/contraception-assessment/xml-representations/assessment_reproductive_history.dtd

<!ELEMENT assessment_reproductive_history (id,assessment_id,gravida,para,miscarriages,terminations,ectopic_pregnancies,last_delivery_date,last_delivery_method,breastfeeding,weeks_postpartum,currently_pregnant,pregnancy_test_date,pregnancy_test_result,reproductive_history_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT gravida (#PCDATA)>
<!ELEMENT para (#PCDATA)>
<!ELEMENT miscarriages (#PCDATA)>
<!ELEMENT terminations (#PCDATA)>
<!ELEMENT ectopic_pregnancies (#PCDATA)>
<!ELEMENT last_delivery_date (#PCDATA)>
<!ELEMENT last_delivery_method (#PCDATA)>
<!ELEMENT breastfeeding (#PCDATA)>
<!ELEMENT weeks_postpartum (#PCDATA)>
<!ELEMENT currently_pregnant (#PCDATA)>
<!ELEMENT pregnancy_test_date (#PCDATA)>
<!ELEMENT pregnancy_test_result (#PCDATA)>
<!ELEMENT reproductive_history_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
