forms/contraception-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,breast_cervical_screening,cardiovascular_risk,current_contraception,demographics,family_planning_goals,lifestyle_factors,medical_history,menstrual_history,preferences_priorities,reproductive_history)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT breast_cervical_screening (id,assessment_id,last_cervical_smear_date,cervical_smear_result,cervical_smear_abnormality_details,hpv_vaccination_status,breast_self_examination,last_mammogram_date,mammogram_result,mammogram_abnormality_details,breast_lumps_or_changes,breast_change_details,screening_notes,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT last_cervical_smear_date (#PCDATA)>
<!ELEMENT cervical_smear_result (#PCDATA)>
<!ELEMENT cervical_smear_abnormality_details (#PCDATA)>
<!ELEMENT hpv_vaccination_status (#PCDATA)>
<!ELEMENT breast_self_examination (#PCDATA)>
<!ELEMENT last_mammogram_date (#PCDATA)>
<!ELEMENT mammogram_result (#PCDATA)>
<!ELEMENT mammogram_abnormality_details (#PCDATA)>
<!ELEMENT breast_lumps_or_changes (#PCDATA)>
<!ELEMENT breast_change_details (#PCDATA)>
<!ELEMENT screening_notes (#PCDATA)>
<!ELEMENT cardiovascular_risk (id,assessment_id,smoking_status,cigarettes_per_day,age_over_35_and_smoking,bmi,bmi_over_35,family_history_vte,family_vte_details,family_history_arterial_disease,family_arterial_details,known_thrombophilia,thrombophilia_type,immobility_risk,immobility_details,major_surgery_planned,cardiovascular_risk_notes,created_at,updated_at)>
<!ELEMENT smoking_status (#PCDATA)>
<!ELEMENT cigarettes_per_day (#PCDATA)>
<!ELEMENT age_over_35_and_smoking (#PCDATA)>
<!ELEMENT bmi (#PCDATA)>
<!ELEMENT bmi_over_35 (#PCDATA)>
<!ELEMENT family_history_vte (#PCDATA)>
<!ELEMENT family_vte_details (#PCDATA)>
<!ELEMENT family_history_arterial_disease (#PCDATA)>
<!ELEMENT family_arterial_details (#PCDATA)>
<!ELEMENT known_thrombophilia (#PCDATA)>
<!ELEMENT thrombophilia_type (#PCDATA)>
<!ELEMENT immobility_risk (#PCDATA)>
<!ELEMENT immobility_details (#PCDATA)>
<!ELEMENT major_surgery_planned (#PCDATA)>
<!ELEMENT cardiovascular_risk_notes (#PCDATA)>
<!ELEMENT current_contraception (id,assessment_id,currently_using_contraception,current_method,current_method_details,current_method_duration_months,satisfaction_with_current,reason_for_change,side_effects_experienced,previous_methods_tried,previous_method_problems,emergency_contraception_used,emergency_contraception_details,current_contraception_notes,created_at,updated_at)>
<!ELEMENT currently_using_contraception (#PCDATA)>
<!ELEMENT current_method (#PCDATA)>
<!ELEMENT current_method_details (#PCDATA)>
<!ELEMENT current_method_duration_months (#PCDATA)>
<!ELEMENT satisfaction_with_current (#PCDATA)>
<!ELEMENT reason_for_change (#PCDATA)>
<!ELEMENT side_effects_experienced (#PCDATA)>
<!ELEMENT previous_methods_tried (#PCDATA)>
<!ELEMENT previous_method_problems (#PCDATA)>
<!ELEMENT emergency_contraception_used (#PCDATA)>
<!ELEMENT emergency_contraception_details (#PCDATA)>
<!ELEMENT current_contraception_notes (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,preferred_name,gender_identity,ethnicity,preferred_language,interpreter_required,relationship_status,gp_name,gp_practice,created_at,updated_at)>
<!ELEMENT preferred_name (#PCDATA)>
<!ELEMENT gender_identity (#PCDATA)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT preferred_language (#PCDATA)>
<!ELEMENT interpreter_required (#PCDATA)>
<!ELEMENT relationship_status (#PCDATA)>
<!ELEMENT gp_name (#PCDATA)>
<!ELEMENT gp_practice (#PCDATA)>
<!ELEMENT family_planning_goals (id,assessment_id,desired_number_of_children,children_already_have,considering_sterilisation,sterilisation_discussed,vasectomy_considered,preconception_counselling_needed,folic_acid_advised,fertility_concerns,fertility_concern_details,method_chosen,method_chosen_details,follow_up_plan,family_planning_notes,created_at,updated_at)>
<!ELEMENT desired_number_of_children (#PCDATA)>
<!ELEMENT children_already_have (#PCDATA)>
<!ELEMENT considering_sterilisation (#PCDATA)>
<!ELEMENT sterilisation_discussed (#PCDATA)>
<!ELEMENT vasectomy_considered (#PCDATA)>
<!ELEMENT preconception_counselling_needed (#PCDATA)>
<!ELEMENT folic_acid_advised (#PCDATA)>
<!ELEMENT fertility_concerns (#PCDATA)>
<!ELEMENT fertility_concern_details (#PCDATA)>
<!ELEMENT method_chosen (#PCDATA)>
<!ELEMENT method_chosen_details (#PCDATA)>
<!ELEMENT follow_up_plan (#PCDATA)>
<!ELEMENT family_planning_notes (#PCDATA)>
<!ELEMENT lifestyle_factors (id,assessment_id,alcohol_consumption,alcohol_units_per_week,recreational_drug_use,recreational_drug_details,exercise_frequency,occupation,shift_work,travel_frequency,sexual_activity_frequency,number_of_partners,condom_use_for_sti_prevention,lifestyle_notes,created_at,updated_at)>
<!ELEMENT alcohol_consumption (#PCDATA)>
<!ELEMENT alcohol_units_per_week (#PCDATA)>
<!ELEMENT recreational_drug_use (#PCDATA)>
<!ELEMENT recreational_drug_details (#PCDATA)>
<!ELEMENT exercise_frequency (#PCDATA)>
<!ELEMENT occupation (#PCDATA)>
<!ELEMENT shift_work (#PCDATA)>
<!ELEMENT travel_frequency (#PCDATA)>
<!ELEMENT sexual_activity_frequency (#PCDATA)>
<!ELEMENT number_of_partners (#PCDATA)>
<!ELEMENT condom_use_for_sti_prevention (#PCDATA)>
<!ELEMENT lifestyle_notes (#PCDATA)>
<!ELEMENT medical_history (id,assessment_id,history_of_vte,vte_details,history_of_stroke,history_of_mi,migraine_with_aura,migraine_without_aura,hypertension,systolic_bp_mmhg,diastolic_bp_mmhg,diabetes,diabetes_complications,liver_disease,liver_disease_details,gallbladder_disease,breast_cancer,breast_cancer_details,cervical_cancer,endometriosis,fibroids,pelvic_inflammatory_disease,sti_history,sti_details,epilepsy,epilepsy_medications,current_medications,drug_allergies,medical_history_notes,created_at,updated_at)>
<!ELEMENT history_of_vte (#PCDATA)>
<!ELEMENT vte_details (#PCDATA)>
<!ELEMENT history_of_stroke (#PCDATA)>
<!ELEMENT history_of_mi (#PCDATA)>
<!ELEMENT migraine_with_aura (#PCDATA)>
<!ELEMENT migraine_without_aura (#PCDATA)>
<!ELEMENT hypertension (#PCDATA)>
<!ELEMENT systolic_bp_mmhg (#PCDATA)>
<!ELEMENT diastolic_bp_mmhg (#PCDATA)>
<!ELEMENT diabetes (#PCDATA)>
<!ELEMENT diabetes_complications (#PCDATA)>
<!ELEMENT liver_disease (#PCDATA)>
<!ELEMENT liver_disease_details (#PCDATA)>
<!ELEMENT gallbladder_disease (#PCDATA)>
<!ELEMENT breast_cancer (#PCDATA)>
<!ELEMENT breast_cancer_details (#PCDATA)>
<!ELEMENT cervical_cancer (#PCDATA)>
<!ELEMENT endometriosis (#PCDATA)>
<!ELEMENT fibroids (#PCDATA)>
<!ELEMENT pelvic_inflammatory_disease (#PCDATA)>
<!ELEMENT sti_history (#PCDATA)>
<!ELEMENT sti_details (#PCDATA)>
<!ELEMENT epilepsy (#PCDATA)>
<!ELEMENT epilepsy_medications (#PCDATA)>
<!ELEMENT current_medications (#PCDATA)>
<!ELEMENT drug_allergies (#PCDATA)>
<!ELEMENT medical_history_notes (#PCDATA)>
<!ELEMENT menstrual_history (id,assessment_id,age_at_menarche,last_menstrual_period,cycle_regularity,cycle_length_days,period_duration_days,flow_heaviness,intermenstrual_bleeding,postcoital_bleeding,dysmenorrhoea,dysmenorrhoea_management,menstrual_history_notes,created_at,updated_at)>
<!ELEMENT age_at_menarche (#PCDATA)>
<!ELEMENT last_menstrual_period (#PCDATA)>
<!ELEMENT cycle_regularity (#PCDATA)>
<!ELEMENT cycle_length_days (#PCDATA)>
<!ELEMENT period_duration_days (#PCDATA)>
<!ELEMENT flow_heaviness (#PCDATA)>
<!ELEMENT intermenstrual_bleeding (#PCDATA)>
<!ELEMENT postcoital_bleeding (#PCDATA)>
<!ELEMENT dysmenorrhoea (#PCDATA)>
<!ELEMENT dysmenorrhoea_management (#PCDATA)>
<!ELEMENT menstrual_history_notes (#PCDATA)>
<!ELEMENT preferences_priorities (id,assessment_id,most_important_factor,most_important_factor_other,preference_for_hormonal,preference_for_long_acting,comfortable_with_procedure,wants_period_control,fertility_timeline,partner_involvement,partner_preferences,previous_method_preferences,preferences_notes,created_at,updated_at)>
<!ELEMENT most_important_factor (#PCDATA)>
<!ELEMENT most_important_factor_other (#PCDATA)>
<!ELEMENT preference_for_hormonal (#PCDATA)>
<!ELEMENT preference_for_long_acting (#PCDATA)>
<!ELEMENT comfortable_with_procedure (#PCDATA)>
<!ELEMENT wants_period_control (#PCDATA)>
<!ELEMENT fertility_timeline (#PCDATA)>
<!ELEMENT partner_involvement (#PCDATA)>
<!ELEMENT partner_preferences (#PCDATA)>
<!ELEMENT previous_method_preferences (#PCDATA)>
<!ELEMENT preferences_notes (#PCDATA)>
<!ELEMENT reproductive_history (id,assessment_id,gravida,para,miscarriages,terminations,ectopic_pregnancies,last_delivery_date,last_delivery_method,breastfeeding,weeks_postpartum,currently_pregnant,pregnancy_test_date,pregnancy_test_result,reproductive_history_notes,created_at,updated_at)>
<!ELEMENT gravida (#PCDATA)>
<!ELEMENT para (#PCDATA)>
<!ELEMENT miscarriages (#PCDATA)>
<!ELEMENT terminations (#PCDATA)>
<!ELEMENT ectopic_pregnancies (#PCDATA)>
<!ELEMENT last_delivery_date (#PCDATA)>
<!ELEMENT last_delivery_method (#PCDATA)>
<!ELEMENT breastfeeding (#PCDATA)>
<!ELEMENT weeks_postpartum (#PCDATA)>
<!ELEMENT currently_pregnant (#PCDATA)>
<!ELEMENT pregnancy_test_date (#PCDATA)>
<!ELEMENT pregnancy_test_result (#PCDATA)>
<!ELEMENT reproductive_history_notes (#PCDATA)>
