forms/contraception-assessment/xml-representations/assessment_cardiovascular_risk.dtd

<!ELEMENT assessment_cardiovascular_risk (id,assessment_id,smoking_status,cigarettes_per_day,age_over_35_and_smoking,bmi,bmi_over_35,family_history_vte,family_vte_details,family_history_arterial_disease,family_arterial_details,known_thrombophilia,thrombophilia_type,immobility_risk,immobility_details,major_surgery_planned,cardiovascular_risk_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT smoking_status (#PCDATA)>
<!ELEMENT cigarettes_per_day (#PCDATA)>
<!ELEMENT age_over_35_and_smoking (#PCDATA)>
<!ELEMENT bmi (#PCDATA)>
<!ELEMENT bmi_over_35 (#PCDATA)>
<!ELEMENT family_history_vte (#PCDATA)>
<!ELEMENT family_vte_details (#PCDATA)>
<!ELEMENT family_history_arterial_disease (#PCDATA)>
<!ELEMENT family_arterial_details (#PCDATA)>
<!ELEMENT known_thrombophilia (#PCDATA)>
<!ELEMENT thrombophilia_type (#PCDATA)>
<!ELEMENT immobility_risk (#PCDATA)>
<!ELEMENT immobility_details (#PCDATA)>
<!ELEMENT major_surgery_planned (#PCDATA)>
<!ELEMENT cardiovascular_risk_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
