forms/contraception-assessment/xml-representations/assessment_breast_cervical_screening.dtd

<!ELEMENT assessment_breast_cervical_screening (id,assessment_id,last_cervical_smear_date,cervical_smear_result,cervical_smear_abnormality_details,hpv_vaccination_status,breast_self_examination,last_mammogram_date,mammogram_result,mammogram_abnormality_details,breast_lumps_or_changes,breast_change_details,screening_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT last_cervical_smear_date (#PCDATA)>
<!ELEMENT cervical_smear_result (#PCDATA)>
<!ELEMENT cervical_smear_abnormality_details (#PCDATA)>
<!ELEMENT hpv_vaccination_status (#PCDATA)>
<!ELEMENT breast_self_examination (#PCDATA)>
<!ELEMENT last_mammogram_date (#PCDATA)>
<!ELEMENT mammogram_result (#PCDATA)>
<!ELEMENT mammogram_abnormality_details (#PCDATA)>
<!ELEMENT breast_lumps_or_changes (#PCDATA)>
<!ELEMENT breast_change_details (#PCDATA)>
<!ELEMENT screening_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
