forms/contraception-assessment/xml-representations/assessment_lifestyle_factors.dtd

<!ELEMENT assessment_lifestyle_factors (id,assessment_id,alcohol_consumption,alcohol_units_per_week,recreational_drug_use,recreational_drug_details,exercise_frequency,occupation,shift_work,travel_frequency,sexual_activity_frequency,number_of_partners,condom_use_for_sti_prevention,lifestyle_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT alcohol_consumption (#PCDATA)>
<!ELEMENT alcohol_units_per_week (#PCDATA)>
<!ELEMENT recreational_drug_use (#PCDATA)>
<!ELEMENT recreational_drug_details (#PCDATA)>
<!ELEMENT exercise_frequency (#PCDATA)>
<!ELEMENT occupation (#PCDATA)>
<!ELEMENT shift_work (#PCDATA)>
<!ELEMENT travel_frequency (#PCDATA)>
<!ELEMENT sexual_activity_frequency (#PCDATA)>
<!ELEMENT number_of_partners (#PCDATA)>
<!ELEMENT condom_use_for_sti_prevention (#PCDATA)>
<!ELEMENT lifestyle_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
