forms/contraception-assessment/xml-representations/assessment_preferences_priorities.dtd

<!ELEMENT assessment_preferences_priorities (id,assessment_id,most_important_factor,most_important_factor_other,preference_for_hormonal,preference_for_long_acting,comfortable_with_procedure,wants_period_control,fertility_timeline,partner_involvement,partner_preferences,previous_method_preferences,preferences_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT most_important_factor (#PCDATA)>
<!ELEMENT most_important_factor_other (#PCDATA)>
<!ELEMENT preference_for_hormonal (#PCDATA)>
<!ELEMENT preference_for_long_acting (#PCDATA)>
<!ELEMENT comfortable_with_procedure (#PCDATA)>
<!ELEMENT wants_period_control (#PCDATA)>
<!ELEMENT fertility_timeline (#PCDATA)>
<!ELEMENT partner_involvement (#PCDATA)>
<!ELEMENT partner_preferences (#PCDATA)>
<!ELEMENT previous_method_preferences (#PCDATA)>
<!ELEMENT preferences_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
