forms/contraception-assessment/xml-representations/assessment_menstrual_history.dtd

<!ELEMENT assessment_menstrual_history (id,assessment_id,age_at_menarche,last_menstrual_period,cycle_regularity,cycle_length_days,period_duration_days,flow_heaviness,intermenstrual_bleeding,postcoital_bleeding,dysmenorrhoea,dysmenorrhoea_management,menstrual_history_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT age_at_menarche (#PCDATA)>
<!ELEMENT last_menstrual_period (#PCDATA)>
<!ELEMENT cycle_regularity (#PCDATA)>
<!ELEMENT cycle_length_days (#PCDATA)>
<!ELEMENT period_duration_days (#PCDATA)>
<!ELEMENT flow_heaviness (#PCDATA)>
<!ELEMENT intermenstrual_bleeding (#PCDATA)>
<!ELEMENT postcoital_bleeding (#PCDATA)>
<!ELEMENT dysmenorrhoea (#PCDATA)>
<!ELEMENT dysmenorrhoea_management (#PCDATA)>
<!ELEMENT menstrual_history_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
