forms/contraception-assessment/xml-representations/assessment_current_contraception.dtd

<!ELEMENT assessment_current_contraception (id,assessment_id,currently_using_contraception,current_method,current_method_details,current_method_duration_months,satisfaction_with_current,reason_for_change,side_effects_experienced,previous_methods_tried,previous_method_problems,emergency_contraception_used,emergency_contraception_details,current_contraception_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT currently_using_contraception (#PCDATA)>
<!ELEMENT current_method (#PCDATA)>
<!ELEMENT current_method_details (#PCDATA)>
<!ELEMENT current_method_duration_months (#PCDATA)>
<!ELEMENT satisfaction_with_current (#PCDATA)>
<!ELEMENT reason_for_change (#PCDATA)>
<!ELEMENT side_effects_experienced (#PCDATA)>
<!ELEMENT previous_methods_tried (#PCDATA)>
<!ELEMENT previous_method_problems (#PCDATA)>
<!ELEMENT emergency_contraception_used (#PCDATA)>
<!ELEMENT emergency_contraception_details (#PCDATA)>
<!ELEMENT current_contraception_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
