forms/contraception-assessment/xml-representations/assessment_medical_history.dtd

<!ELEMENT assessment_medical_history (id,assessment_id,history_of_vte,vte_details,history_of_stroke,history_of_mi,migraine_with_aura,migraine_without_aura,hypertension,systolic_bp_mmhg,diastolic_bp_mmhg,diabetes,diabetes_complications,liver_disease,liver_disease_details,gallbladder_disease,breast_cancer,breast_cancer_details,cervical_cancer,endometriosis,fibroids,pelvic_inflammatory_disease,sti_history,sti_details,epilepsy,epilepsy_medications,current_medications,drug_allergies,medical_history_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT history_of_vte (#PCDATA)>
<!ELEMENT vte_details (#PCDATA)>
<!ELEMENT history_of_stroke (#PCDATA)>
<!ELEMENT history_of_mi (#PCDATA)>
<!ELEMENT migraine_with_aura (#PCDATA)>
<!ELEMENT migraine_without_aura (#PCDATA)>
<!ELEMENT hypertension (#PCDATA)>
<!ELEMENT systolic_bp_mmhg (#PCDATA)>
<!ELEMENT diastolic_bp_mmhg (#PCDATA)>
<!ELEMENT diabetes (#PCDATA)>
<!ELEMENT diabetes_complications (#PCDATA)>
<!ELEMENT liver_disease (#PCDATA)>
<!ELEMENT liver_disease_details (#PCDATA)>
<!ELEMENT gallbladder_disease (#PCDATA)>
<!ELEMENT breast_cancer (#PCDATA)>
<!ELEMENT breast_cancer_details (#PCDATA)>
<!ELEMENT cervical_cancer (#PCDATA)>
<!ELEMENT endometriosis (#PCDATA)>
<!ELEMENT fibroids (#PCDATA)>
<!ELEMENT pelvic_inflammatory_disease (#PCDATA)>
<!ELEMENT sti_history (#PCDATA)>
<!ELEMENT sti_details (#PCDATA)>
<!ELEMENT epilepsy (#PCDATA)>
<!ELEMENT epilepsy_medications (#PCDATA)>
<!ELEMENT current_medications (#PCDATA)>
<!ELEMENT drug_allergies (#PCDATA)>
<!ELEMENT medical_history_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
