forms/contraception-assessment/xml-representations/assessment_family_planning_goals.dtd

<!ELEMENT assessment_family_planning_goals (id,assessment_id,desired_number_of_children,children_already_have,considering_sterilisation,sterilisation_discussed,vasectomy_considered,preconception_counselling_needed,folic_acid_advised,fertility_concerns,fertility_concern_details,method_chosen,method_chosen_details,follow_up_plan,family_planning_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT desired_number_of_children (#PCDATA)>
<!ELEMENT children_already_have (#PCDATA)>
<!ELEMENT considering_sterilisation (#PCDATA)>
<!ELEMENT sterilisation_discussed (#PCDATA)>
<!ELEMENT vasectomy_considered (#PCDATA)>
<!ELEMENT preconception_counselling_needed (#PCDATA)>
<!ELEMENT folic_acid_advised (#PCDATA)>
<!ELEMENT fertility_concerns (#PCDATA)>
<!ELEMENT fertility_concern_details (#PCDATA)>
<!ELEMENT method_chosen (#PCDATA)>
<!ELEMENT method_chosen_details (#PCDATA)>
<!ELEMENT follow_up_plan (#PCDATA)>
<!ELEMENT family_planning_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
