forms/contraception-assessment/xml-representations/grading_result.dtd

<!ELEMENT grading_result (id,assessment_id,overall_highest_ukmec_category,ukmec_cocp,ukmec_pop,ukmec_patch,ukmec_ring,ukmec_injection,ukmec_implant,ukmec_cu_iud,ukmec_lng_ius,ukmec_condom_male,ukmec_condom_female,ukmec_diaphragm,graded_at,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT overall_highest_ukmec_category (#PCDATA)>
<!ELEMENT ukmec_cocp (#PCDATA)>
<!ELEMENT ukmec_pop (#PCDATA)>
<!ELEMENT ukmec_patch (#PCDATA)>
<!ELEMENT ukmec_ring (#PCDATA)>
<!ELEMENT ukmec_injection (#PCDATA)>
<!ELEMENT ukmec_implant (#PCDATA)>
<!ELEMENT ukmec_cu_iud (#PCDATA)>
<!ELEMENT ukmec_lng_ius (#PCDATA)>
<!ELEMENT ukmec_condom_male (#PCDATA)>
<!ELEMENT ukmec_condom_female (#PCDATA)>
<!ELEMENT ukmec_diaphragm (#PCDATA)>
<!ELEMENT graded_at (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
