forms/pre-operative-assessment-by-clinician/xml-representations/assessment_allergy.dtd

<!ELEMENT assessment_allergy (id,assessment_id,allergen,category,reaction_type,reaction_severity,reaction_notes,verified,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT allergen (#PCDATA)>
<!ELEMENT category (#PCDATA)>
<!ELEMENT reaction_type (#PCDATA)>
<!ELEMENT reaction_severity (#PCDATA)>
<!ELEMENT reaction_notes (#PCDATA)>
<!ELEMENT verified (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
