forms/pre-operative-assessment-by-clinician/xml-representations/assessment_renal_hepatic.dtd

<!ELEMENT assessment_renal_hepatic (id,assessment_id,creatinine_umol_l,egfr_ml_min_1_73m2,urea_mmol_l,potassium_mmol_l,sodium_mmol_l,dialysis_status,ckd_stage,bilirubin_umol_l,alt_u_l,ast_u_l,alp_u_l,albumin_g_l,chronic_liver_disease,child_pugh_class,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT creatinine_umol_l (#PCDATA)>
<!ELEMENT egfr_ml_min_1_73m2 (#PCDATA)>
<!ELEMENT urea_mmol_l (#PCDATA)>
<!ELEMENT potassium_mmol_l (#PCDATA)>
<!ELEMENT sodium_mmol_l (#PCDATA)>
<!ELEMENT dialysis_status (#PCDATA)>
<!ELEMENT ckd_stage (#PCDATA)>
<!ELEMENT bilirubin_umol_l (#PCDATA)>
<!ELEMENT alt_u_l (#PCDATA)>
<!ELEMENT ast_u_l (#PCDATA)>
<!ELEMENT alp_u_l (#PCDATA)>
<!ELEMENT albumin_g_l (#PCDATA)>
<!ELEMENT chronic_liver_disease (#PCDATA)>
<!ELEMENT child_pugh_class (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
