forms/pre-operative-assessment-by-clinician/xml-representations/assessment_clinician.dtd

<!ELEMENT assessment_clinician (id,assessment_id,clinician_name,clinician_role,registration_body,registration_number,site_name,assessment_date,assessment_time,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT clinician_name (#PCDATA)>
<!ELEMENT clinician_role (#PCDATA)>
<!ELEMENT registration_body (#PCDATA)>
<!ELEMENT registration_number (#PCDATA)>
<!ELEMENT site_name (#PCDATA)>
<!ELEMENT assessment_date (#PCDATA)>
<!ELEMENT assessment_time (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
