forms/pre-operative-assessment-by-clinician/xml-representations/assessment_respiratory.dtd

<!ELEMENT assessment_respiratory (id,assessment_id,breath_sounds,wheeze,crackles,crepitations,chest_wall_deformity,asthma,copd,cxr_performed,cxr_findings,pft_performed,pft_fev1_percent_predicted,pft_fev1_fvc_ratio,smoking_status,pack_years,covid_history,days_since_covid,covid_unresolved_symptoms,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT breath_sounds (#PCDATA)>
<!ELEMENT wheeze (#PCDATA)>
<!ELEMENT crackles (#PCDATA)>
<!ELEMENT crepitations (#PCDATA)>
<!ELEMENT chest_wall_deformity (#PCDATA)>
<!ELEMENT asthma (#PCDATA)>
<!ELEMENT copd (#PCDATA)>
<!ELEMENT cxr_performed (#PCDATA)>
<!ELEMENT cxr_findings (#PCDATA)>
<!ELEMENT pft_performed (#PCDATA)>
<!ELEMENT pft_fev1_percent_predicted (#PCDATA)>
<!ELEMENT pft_fev1_fvc_ratio (#PCDATA)>
<!ELEMENT smoking_status (#PCDATA)>
<!ELEMENT pack_years (#PCDATA)>
<!ELEMENT covid_history (#PCDATA)>
<!ELEMENT days_since_covid (#PCDATA)>
<!ELEMENT covid_unresolved_symptoms (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
