forms/pre-operative-assessment-by-clinician/xml-representations/assessment_gastrointestinal.dtd

<!ELEMENT assessment_gastrointestinal (id,assessment_id,abdominal_exam,abdominal_notes,reflux_symptoms,hiatus_hernia,previous_gastric_surgery,ng_tube,stoma,fasting_confirmed,last_solid_food_at,last_clear_fluid_at,rapid_sequence_induction_needed,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT abdominal_exam (#PCDATA)>
<!ELEMENT abdominal_notes (#PCDATA)>
<!ELEMENT reflux_symptoms (#PCDATA)>
<!ELEMENT hiatus_hernia (#PCDATA)>
<!ELEMENT previous_gastric_surgery (#PCDATA)>
<!ELEMENT ng_tube (#PCDATA)>
<!ELEMENT stoma (#PCDATA)>
<!ELEMENT fasting_confirmed (#PCDATA)>
<!ELEMENT last_solid_food_at (#PCDATA)>
<!ELEMENT last_clear_fluid_at (#PCDATA)>
<!ELEMENT rapid_sequence_induction_needed (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
