forms/pre-operative-assessment-by-clinician/xml-representations/assessment_endocrine.dtd

<!ELEMENT assessment_endocrine (id,assessment_id,diabetes_type,diabetes_on_insulin,hba1c_mmol_mol,fasting_glucose_mmol_l,random_glucose_mmol_l,diabetes_control,diabetes_complications,thyroid_status,tsh_mu_l,adrenal_status,on_long_term_steroids,steroid_dose_mg,steroid_cover_plan,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT diabetes_type (#PCDATA)>
<!ELEMENT diabetes_on_insulin (#PCDATA)>
<!ELEMENT hba1c_mmol_mol (#PCDATA)>
<!ELEMENT fasting_glucose_mmol_l (#PCDATA)>
<!ELEMENT random_glucose_mmol_l (#PCDATA)>
<!ELEMENT diabetes_control (#PCDATA)>
<!ELEMENT diabetes_complications (#PCDATA)>
<!ELEMENT thyroid_status (#PCDATA)>
<!ELEMENT tsh_mu_l (#PCDATA)>
<!ELEMENT adrenal_status (#PCDATA)>
<!ELEMENT on_long_term_steroids (#PCDATA)>
<!ELEMENT steroid_dose_mg (#PCDATA)>
<!ELEMENT steroid_cover_plan (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
