forms/pre-operative-assessment-by-clinician/xml-representations/assessment_neurological.dtd

<!ELEMENT assessment_neurological (id,assessment_id,gcs_total,gcs_eye,gcs_verbal,gcs_motor,cognition_tool,cognition_score,cognitive_impairment,capacity_concern,cranial_nerves_notes,motor_power,sensory_notes,reflexes,recent_stroke_tia,days_since_stroke_tia,seizure_disorder,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT gcs_total (#PCDATA)>
<!ELEMENT gcs_eye (#PCDATA)>
<!ELEMENT gcs_verbal (#PCDATA)>
<!ELEMENT gcs_motor (#PCDATA)>
<!ELEMENT cognition_tool (#PCDATA)>
<!ELEMENT cognition_score (#PCDATA)>
<!ELEMENT cognitive_impairment (#PCDATA)>
<!ELEMENT capacity_concern (#PCDATA)>
<!ELEMENT cranial_nerves_notes (#PCDATA)>
<!ELEMENT motor_power (#PCDATA)>
<!ELEMENT sensory_notes (#PCDATA)>
<!ELEMENT reflexes (#PCDATA)>
<!ELEMENT recent_stroke_tia (#PCDATA)>
<!ELEMENT days_since_stroke_tia (#PCDATA)>
<!ELEMENT seizure_disorder (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
