forms/pre-operative-assessment-by-clinician/xml-representations/assessment_haematology.dtd

<!ELEMENT assessment_haematology (id,assessment_id,hb_g_l,wcc_10_9_l,platelets_10_9_l,mcv_fl,ferritin_ug_l,transferrin_saturation_percent,inr,aptt_seconds,fibrinogen_g_l,on_anticoagulant,anticoagulant_type,anticoagulant_hold_plan,group_and_save,crossmatch_units,last_transfusion_date,anaemia_severity,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT hb_g_l (#PCDATA)>
<!ELEMENT wcc_10_9_l (#PCDATA)>
<!ELEMENT platelets_10_9_l (#PCDATA)>
<!ELEMENT mcv_fl (#PCDATA)>
<!ELEMENT ferritin_ug_l (#PCDATA)>
<!ELEMENT transferrin_saturation_percent (#PCDATA)>
<!ELEMENT inr (#PCDATA)>
<!ELEMENT aptt_seconds (#PCDATA)>
<!ELEMENT fibrinogen_g_l (#PCDATA)>
<!ELEMENT on_anticoagulant (#PCDATA)>
<!ELEMENT anticoagulant_type (#PCDATA)>
<!ELEMENT anticoagulant_hold_plan (#PCDATA)>
<!ELEMENT group_and_save (#PCDATA)>
<!ELEMENT crossmatch_units (#PCDATA)>
<!ELEMENT last_transfusion_date (#PCDATA)>
<!ELEMENT anaemia_severity (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
