forms/pre-operative-assessment-by-clinician/xml-representations/assessment_cardiovascular.dtd

<!ELEMENT assessment_cardiovascular (id,assessment_id,heart_rhythm,murmur_present,murmur_description,peripheral_pulses,jvp_raised,peripheral_oedema,ecg_performed,ecg_rhythm,ecg_rate_bpm,ecg_axis,ecg_ischaemic_changes,ecg_notes,echo_performed,echo_ef_percent,echo_notes,history_ihd,history_chf,history_stroke_tia,recent_mi_within_3_months,pacemaker_or_icd,severe_valve_dysfunction,active_angina,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT heart_rhythm (#PCDATA)>
<!ELEMENT murmur_present (#PCDATA)>
<!ELEMENT murmur_description (#PCDATA)>
<!ELEMENT peripheral_pulses (#PCDATA)>
<!ELEMENT jvp_raised (#PCDATA)>
<!ELEMENT peripheral_oedema (#PCDATA)>
<!ELEMENT ecg_performed (#PCDATA)>
<!ELEMENT ecg_rhythm (#PCDATA)>
<!ELEMENT ecg_rate_bpm (#PCDATA)>
<!ELEMENT ecg_axis (#PCDATA)>
<!ELEMENT ecg_ischaemic_changes (#PCDATA)>
<!ELEMENT ecg_notes (#PCDATA)>
<!ELEMENT echo_performed (#PCDATA)>
<!ELEMENT echo_ef_percent (#PCDATA)>
<!ELEMENT echo_notes (#PCDATA)>
<!ELEMENT history_ihd (#PCDATA)>
<!ELEMENT history_chf (#PCDATA)>
<!ELEMENT history_stroke_tia (#PCDATA)>
<!ELEMENT recent_mi_within_3_months (#PCDATA)>
<!ELEMENT pacemaker_or_icd (#PCDATA)>
<!ELEMENT severe_valve_dysfunction (#PCDATA)>
<!ELEMENT active_angina (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
