forms/pre-operative-assessment-by-clinician/xml-representations/assessment_functional_capacity.dtd

<!ELEMENT assessment_functional_capacity (id,assessment_id,mets_estimate,dasi_score,ecog_performance_status,clinical_frailty_scale,six_minute_walk_metres,sts_one_minute_reps,tug_seconds,cpet_performed,cpet_vo2_peak_ml_kg_min,cpet_anaerobic_threshold_ml_kg_min,cpet_notes,malnutrition_risk,unintentional_weight_loss_kg,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT mets_estimate (#PCDATA)>
<!ELEMENT dasi_score (#PCDATA)>
<!ELEMENT ecog_performance_status (#PCDATA)>
<!ELEMENT clinical_frailty_scale (#PCDATA)>
<!ELEMENT six_minute_walk_metres (#PCDATA)>
<!ELEMENT sts_one_minute_reps (#PCDATA)>
<!ELEMENT tug_seconds (#PCDATA)>
<!ELEMENT cpet_performed (#PCDATA)>
<!ELEMENT cpet_vo2_peak_ml_kg_min (#PCDATA)>
<!ELEMENT cpet_anaerobic_threshold_ml_kg_min (#PCDATA)>
<!ELEMENT cpet_notes (#PCDATA)>
<!ELEMENT malnutrition_risk (#PCDATA)>
<!ELEMENT unintentional_weight_loss_kg (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
