forms/pre-operative-assessment-by-clinician/xml-representations/assessment_surgery_plan.dtd

<!ELEMENT assessment_surgery_plan (id,assessment_id,planned_procedure,surgical_specialty,urgency,laterality,surgical_severity,anticipated_blood_loss_ml,anticipated_duration_minutes,consultant_surgeon,planned_date,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT planned_procedure (#PCDATA)>
<!ELEMENT surgical_specialty (#PCDATA)>
<!ELEMENT urgency (#PCDATA)>
<!ELEMENT laterality (#PCDATA)>
<!ELEMENT surgical_severity (#PCDATA)>
<!ELEMENT anticipated_blood_loss_ml (#PCDATA)>
<!ELEMENT anticipated_duration_minutes (#PCDATA)>
<!ELEMENT consultant_surgeon (#PCDATA)>
<!ELEMENT planned_date (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
