forms/pre-operative-assessment-by-clinician/xml-representations/assessment_musculoskeletal.dtd

<!ELEMENT assessment_musculoskeletal (id,assessment_id,spine_exam,spine_notes,neuraxial_suitable,joint_rom_hip,joint_rom_shoulder,joint_rom_neck,skin_iv_access,skin_block_site,pressure_ulcer_risk,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT spine_exam (#PCDATA)>
<!ELEMENT spine_notes (#PCDATA)>
<!ELEMENT neuraxial_suitable (#PCDATA)>
<!ELEMENT joint_rom_hip (#PCDATA)>
<!ELEMENT joint_rom_shoulder (#PCDATA)>
<!ELEMENT joint_rom_neck (#PCDATA)>
<!ELEMENT skin_iv_access (#PCDATA)>
<!ELEMENT skin_block_site (#PCDATA)>
<!ELEMENT pressure_ulcer_risk (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
