forms/pre-operative-assessment-by-clinician/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,airway,allergy,anaesthesia_plan,cardiovascular,clinician,endocrine,functional_capacity,gastrointestinal,haematology,medication,musculoskeletal,neurological,renal_hepatic,respiratory,surgery_plan,vitals)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT airway (id,assessment_id,mallampati_class,thyromental_distance_cm,mouth_opening_cm,inter_incisor_gap_cm,neck_rom,cervical_spine_stability,dentition,beard,upper_lip_bite_test,prior_difficult_intubation,stopbang_snoring,stopbang_tired,stopbang_observed_apnoea,stopbang_pressure,stopbang_bmi_gt35,stopbang_age_gt50,stopbang_neck_gt40,stopbang_male,airway_notes,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT mallampati_class (#PCDATA)>
<!ELEMENT thyromental_distance_cm (#PCDATA)>
<!ELEMENT mouth_opening_cm (#PCDATA)>
<!ELEMENT inter_incisor_gap_cm (#PCDATA)>
<!ELEMENT neck_rom (#PCDATA)>
<!ELEMENT cervical_spine_stability (#PCDATA)>
<!ELEMENT dentition (#PCDATA)>
<!ELEMENT beard (#PCDATA)>
<!ELEMENT upper_lip_bite_test (#PCDATA)>
<!ELEMENT prior_difficult_intubation (#PCDATA)>
<!ELEMENT stopbang_snoring (#PCDATA)>
<!ELEMENT stopbang_tired (#PCDATA)>
<!ELEMENT stopbang_observed_apnoea (#PCDATA)>
<!ELEMENT stopbang_pressure (#PCDATA)>
<!ELEMENT stopbang_bmi_gt35 (#PCDATA)>
<!ELEMENT stopbang_age_gt50 (#PCDATA)>
<!ELEMENT stopbang_neck_gt40 (#PCDATA)>
<!ELEMENT stopbang_male (#PCDATA)>
<!ELEMENT airway_notes (#PCDATA)>
<!ELEMENT allergy (id,assessment_id,allergen,category,reaction_type,reaction_severity,reaction_notes,verified,created_at,updated_at)>
<!ELEMENT allergen (#PCDATA)>
<!ELEMENT category (#PCDATA)>
<!ELEMENT reaction_type (#PCDATA)>
<!ELEMENT reaction_severity (#PCDATA)>
<!ELEMENT reaction_notes (#PCDATA)>
<!ELEMENT verified (#PCDATA)>
<!ELEMENT anaesthesia_plan (id,assessment_id,technique,airway_plan,rsi_planned,monitoring_level,analgesia_plan,regional_block_planned,dvt_prophylaxis,antibiotic_prophylaxis,post_op_disposition,anticipated_length_of_stay_days,special_equipment,blood_products_required,created_at,updated_at)>
<!ELEMENT technique (#PCDATA)>
<!ELEMENT airway_plan (#PCDATA)>
<!ELEMENT rsi_planned (#PCDATA)>
<!ELEMENT monitoring_level (#PCDATA)>
<!ELEMENT analgesia_plan (#PCDATA)>
<!ELEMENT regional_block_planned (#PCDATA)>
<!ELEMENT dvt_prophylaxis (#PCDATA)>
<!ELEMENT antibiotic_prophylaxis (#PCDATA)>
<!ELEMENT post_op_disposition (#PCDATA)>
<!ELEMENT anticipated_length_of_stay_days (#PCDATA)>
<!ELEMENT special_equipment (#PCDATA)>
<!ELEMENT blood_products_required (#PCDATA)>
<!ELEMENT cardiovascular (id,assessment_id,heart_rhythm,murmur_present,murmur_description,peripheral_pulses,jvp_raised,peripheral_oedema,ecg_performed,ecg_rhythm,ecg_rate_bpm,ecg_axis,ecg_ischaemic_changes,ecg_notes,echo_performed,echo_ef_percent,echo_notes,history_ihd,history_chf,history_stroke_tia,recent_mi_within_3_months,pacemaker_or_icd,severe_valve_dysfunction,active_angina,created_at,updated_at)>
<!ELEMENT heart_rhythm (#PCDATA)>
<!ELEMENT murmur_present (#PCDATA)>
<!ELEMENT murmur_description (#PCDATA)>
<!ELEMENT peripheral_pulses (#PCDATA)>
<!ELEMENT jvp_raised (#PCDATA)>
<!ELEMENT peripheral_oedema (#PCDATA)>
<!ELEMENT ecg_performed (#PCDATA)>
<!ELEMENT ecg_rhythm (#PCDATA)>
<!ELEMENT ecg_rate_bpm (#PCDATA)>
<!ELEMENT ecg_axis (#PCDATA)>
<!ELEMENT ecg_ischaemic_changes (#PCDATA)>
<!ELEMENT ecg_notes (#PCDATA)>
<!ELEMENT echo_performed (#PCDATA)>
<!ELEMENT echo_ef_percent (#PCDATA)>
<!ELEMENT echo_notes (#PCDATA)>
<!ELEMENT history_ihd (#PCDATA)>
<!ELEMENT history_chf (#PCDATA)>
<!ELEMENT history_stroke_tia (#PCDATA)>
<!ELEMENT recent_mi_within_3_months (#PCDATA)>
<!ELEMENT pacemaker_or_icd (#PCDATA)>
<!ELEMENT severe_valve_dysfunction (#PCDATA)>
<!ELEMENT active_angina (#PCDATA)>
<!ELEMENT clinician (id,assessment_id,clinician_name,clinician_role,registration_body,registration_number,site_name,assessment_date,assessment_time,created_at,updated_at)>
<!ELEMENT clinician_name (#PCDATA)>
<!ELEMENT clinician_role (#PCDATA)>
<!ELEMENT registration_body (#PCDATA)>
<!ELEMENT registration_number (#PCDATA)>
<!ELEMENT site_name (#PCDATA)>
<!ELEMENT assessment_date (#PCDATA)>
<!ELEMENT assessment_time (#PCDATA)>
<!ELEMENT endocrine (id,assessment_id,diabetes_type,diabetes_on_insulin,hba1c_mmol_mol,fasting_glucose_mmol_l,random_glucose_mmol_l,diabetes_control,diabetes_complications,thyroid_status,tsh_mu_l,adrenal_status,on_long_term_steroids,steroid_dose_mg,steroid_cover_plan,created_at,updated_at)>
<!ELEMENT diabetes_type (#PCDATA)>
<!ELEMENT diabetes_on_insulin (#PCDATA)>
<!ELEMENT hba1c_mmol_mol (#PCDATA)>
<!ELEMENT fasting_glucose_mmol_l (#PCDATA)>
<!ELEMENT random_glucose_mmol_l (#PCDATA)>
<!ELEMENT diabetes_control (#PCDATA)>
<!ELEMENT diabetes_complications (#PCDATA)>
<!ELEMENT thyroid_status (#PCDATA)>
<!ELEMENT tsh_mu_l (#PCDATA)>
<!ELEMENT adrenal_status (#PCDATA)>
<!ELEMENT on_long_term_steroids (#PCDATA)>
<!ELEMENT steroid_dose_mg (#PCDATA)>
<!ELEMENT steroid_cover_plan (#PCDATA)>
<!ELEMENT functional_capacity (id,assessment_id,mets_estimate,dasi_score,ecog_performance_status,clinical_frailty_scale,six_minute_walk_metres,sts_one_minute_reps,tug_seconds,cpet_performed,cpet_vo2_peak_ml_kg_min,cpet_anaerobic_threshold_ml_kg_min,cpet_notes,malnutrition_risk,unintentional_weight_loss_kg,created_at,updated_at)>
<!ELEMENT mets_estimate (#PCDATA)>
<!ELEMENT dasi_score (#PCDATA)>
<!ELEMENT ecog_performance_status (#PCDATA)>
<!ELEMENT clinical_frailty_scale (#PCDATA)>
<!ELEMENT six_minute_walk_metres (#PCDATA)>
<!ELEMENT sts_one_minute_reps (#PCDATA)>
<!ELEMENT tug_seconds (#PCDATA)>
<!ELEMENT cpet_performed (#PCDATA)>
<!ELEMENT cpet_vo2_peak_ml_kg_min (#PCDATA)>
<!ELEMENT cpet_anaerobic_threshold_ml_kg_min (#PCDATA)>
<!ELEMENT cpet_notes (#PCDATA)>
<!ELEMENT malnutrition_risk (#PCDATA)>
<!ELEMENT unintentional_weight_loss_kg (#PCDATA)>
<!ELEMENT gastrointestinal (id,assessment_id,abdominal_exam,abdominal_notes,reflux_symptoms,hiatus_hernia,previous_gastric_surgery,ng_tube,stoma,fasting_confirmed,last_solid_food_at,last_clear_fluid_at,rapid_sequence_induction_needed,created_at,updated_at)>
<!ELEMENT abdominal_exam (#PCDATA)>
<!ELEMENT abdominal_notes (#PCDATA)>
<!ELEMENT reflux_symptoms (#PCDATA)>
<!ELEMENT hiatus_hernia (#PCDATA)>
<!ELEMENT previous_gastric_surgery (#PCDATA)>
<!ELEMENT ng_tube (#PCDATA)>
<!ELEMENT stoma (#PCDATA)>
<!ELEMENT fasting_confirmed (#PCDATA)>
<!ELEMENT last_solid_food_at (#PCDATA)>
<!ELEMENT last_clear_fluid_at (#PCDATA)>
<!ELEMENT rapid_sequence_induction_needed (#PCDATA)>
<!ELEMENT haematology (id,assessment_id,hb_g_l,wcc_10_9_l,platelets_10_9_l,mcv_fl,ferritin_ug_l,transferrin_saturation_percent,inr,aptt_seconds,fibrinogen_g_l,on_anticoagulant,anticoagulant_type,anticoagulant_hold_plan,group_and_save,crossmatch_units,last_transfusion_date,anaemia_severity,created_at,updated_at)>
<!ELEMENT hb_g_l (#PCDATA)>
<!ELEMENT wcc_10_9_l (#PCDATA)>
<!ELEMENT platelets_10_9_l (#PCDATA)>
<!ELEMENT mcv_fl (#PCDATA)>
<!ELEMENT ferritin_ug_l (#PCDATA)>
<!ELEMENT transferrin_saturation_percent (#PCDATA)>
<!ELEMENT inr (#PCDATA)>
<!ELEMENT aptt_seconds (#PCDATA)>
<!ELEMENT fibrinogen_g_l (#PCDATA)>
<!ELEMENT on_anticoagulant (#PCDATA)>
<!ELEMENT anticoagulant_type (#PCDATA)>
<!ELEMENT anticoagulant_hold_plan (#PCDATA)>
<!ELEMENT group_and_save (#PCDATA)>
<!ELEMENT crossmatch_units (#PCDATA)>
<!ELEMENT last_transfusion_date (#PCDATA)>
<!ELEMENT anaemia_severity (#PCDATA)>
<!ELEMENT medication (id,assessment_id,name,dose,route,frequency,indication,class,perioperative_action,perioperative_notes,last_dose_at,created_at,updated_at)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT dose (#PCDATA)>
<!ELEMENT route (#PCDATA)>
<!ELEMENT frequency (#PCDATA)>
<!ELEMENT indication (#PCDATA)>
<!ELEMENT class (#PCDATA)>
<!ELEMENT perioperative_action (#PCDATA)>
<!ELEMENT perioperative_notes (#PCDATA)>
<!ELEMENT last_dose_at (#PCDATA)>
<!ELEMENT musculoskeletal (id,assessment_id,spine_exam,spine_notes,neuraxial_suitable,joint_rom_hip,joint_rom_shoulder,joint_rom_neck,skin_iv_access,skin_block_site,pressure_ulcer_risk,created_at,updated_at)>
<!ELEMENT spine_exam (#PCDATA)>
<!ELEMENT spine_notes (#PCDATA)>
<!ELEMENT neuraxial_suitable (#PCDATA)>
<!ELEMENT joint_rom_hip (#PCDATA)>
<!ELEMENT joint_rom_shoulder (#PCDATA)>
<!ELEMENT joint_rom_neck (#PCDATA)>
<!ELEMENT skin_iv_access (#PCDATA)>
<!ELEMENT skin_block_site (#PCDATA)>
<!ELEMENT pressure_ulcer_risk (#PCDATA)>
<!ELEMENT neurological (id,assessment_id,gcs_total,gcs_eye,gcs_verbal,gcs_motor,cognition_tool,cognition_score,cognitive_impairment,capacity_concern,cranial_nerves_notes,motor_power,sensory_notes,reflexes,recent_stroke_tia,days_since_stroke_tia,seizure_disorder,created_at,updated_at)>
<!ELEMENT gcs_total (#PCDATA)>
<!ELEMENT gcs_eye (#PCDATA)>
<!ELEMENT gcs_verbal (#PCDATA)>
<!ELEMENT gcs_motor (#PCDATA)>
<!ELEMENT cognition_tool (#PCDATA)>
<!ELEMENT cognition_score (#PCDATA)>
<!ELEMENT cognitive_impairment (#PCDATA)>
<!ELEMENT capacity_concern (#PCDATA)>
<!ELEMENT cranial_nerves_notes (#PCDATA)>
<!ELEMENT motor_power (#PCDATA)>
<!ELEMENT sensory_notes (#PCDATA)>
<!ELEMENT reflexes (#PCDATA)>
<!ELEMENT recent_stroke_tia (#PCDATA)>
<!ELEMENT days_since_stroke_tia (#PCDATA)>
<!ELEMENT seizure_disorder (#PCDATA)>
<!ELEMENT renal_hepatic (id,assessment_id,creatinine_umol_l,egfr_ml_min_1_73m2,urea_mmol_l,potassium_mmol_l,sodium_mmol_l,dialysis_status,ckd_stage,bilirubin_umol_l,alt_u_l,ast_u_l,alp_u_l,albumin_g_l,chronic_liver_disease,child_pugh_class,created_at,updated_at)>
<!ELEMENT creatinine_umol_l (#PCDATA)>
<!ELEMENT egfr_ml_min_1_73m2 (#PCDATA)>
<!ELEMENT urea_mmol_l (#PCDATA)>
<!ELEMENT potassium_mmol_l (#PCDATA)>
<!ELEMENT sodium_mmol_l (#PCDATA)>
<!ELEMENT dialysis_status (#PCDATA)>
<!ELEMENT ckd_stage (#PCDATA)>
<!ELEMENT bilirubin_umol_l (#PCDATA)>
<!ELEMENT alt_u_l (#PCDATA)>
<!ELEMENT ast_u_l (#PCDATA)>
<!ELEMENT alp_u_l (#PCDATA)>
<!ELEMENT albumin_g_l (#PCDATA)>
<!ELEMENT chronic_liver_disease (#PCDATA)>
<!ELEMENT child_pugh_class (#PCDATA)>
<!ELEMENT respiratory (id,assessment_id,breath_sounds,wheeze,crackles,crepitations,chest_wall_deformity,asthma,copd,cxr_performed,cxr_findings,pft_performed,pft_fev1_percent_predicted,pft_fev1_fvc_ratio,smoking_status,pack_years,covid_history,days_since_covid,covid_unresolved_symptoms,created_at,updated_at)>
<!ELEMENT breath_sounds (#PCDATA)>
<!ELEMENT wheeze (#PCDATA)>
<!ELEMENT crackles (#PCDATA)>
<!ELEMENT crepitations (#PCDATA)>
<!ELEMENT chest_wall_deformity (#PCDATA)>
<!ELEMENT asthma (#PCDATA)>
<!ELEMENT copd (#PCDATA)>
<!ELEMENT cxr_performed (#PCDATA)>
<!ELEMENT cxr_findings (#PCDATA)>
<!ELEMENT pft_performed (#PCDATA)>
<!ELEMENT pft_fev1_percent_predicted (#PCDATA)>
<!ELEMENT pft_fev1_fvc_ratio (#PCDATA)>
<!ELEMENT smoking_status (#PCDATA)>
<!ELEMENT pack_years (#PCDATA)>
<!ELEMENT covid_history (#PCDATA)>
<!ELEMENT days_since_covid (#PCDATA)>
<!ELEMENT covid_unresolved_symptoms (#PCDATA)>
<!ELEMENT surgery_plan (id,assessment_id,planned_procedure,surgical_specialty,urgency,laterality,surgical_severity,anticipated_blood_loss_ml,anticipated_duration_minutes,consultant_surgeon,planned_date,created_at,updated_at)>
<!ELEMENT planned_procedure (#PCDATA)>
<!ELEMENT surgical_specialty (#PCDATA)>
<!ELEMENT urgency (#PCDATA)>
<!ELEMENT laterality (#PCDATA)>
<!ELEMENT surgical_severity (#PCDATA)>
<!ELEMENT anticipated_blood_loss_ml (#PCDATA)>
<!ELEMENT anticipated_duration_minutes (#PCDATA)>
<!ELEMENT consultant_surgeon (#PCDATA)>
<!ELEMENT planned_date (#PCDATA)>
<!ELEMENT vitals (id,assessment_id,systolic_bp,diastolic_bp,heart_rate,respiratory_rate,spo2_percent,temperature_celsius,capillary_refill_seconds,pain_score_0_10,on_room_air,supplemental_oxygen_litres,created_at,updated_at)>
<!ELEMENT systolic_bp (#PCDATA)>
<!ELEMENT diastolic_bp (#PCDATA)>
<!ELEMENT heart_rate (#PCDATA)>
<!ELEMENT respiratory_rate (#PCDATA)>
<!ELEMENT spo2_percent (#PCDATA)>
<!ELEMENT temperature_celsius (#PCDATA)>
<!ELEMENT capillary_refill_seconds (#PCDATA)>
<!ELEMENT pain_score_0_10 (#PCDATA)>
<!ELEMENT on_room_air (#PCDATA)>
<!ELEMENT supplemental_oxygen_litres (#PCDATA)>
