forms/pre-operative-assessment-by-clinician/xml-representations/assessment_airway.dtd

<!ELEMENT assessment_airway (id,assessment_id,mallampati_class,thyromental_distance_cm,mouth_opening_cm,inter_incisor_gap_cm,neck_rom,cervical_spine_stability,dentition,beard,upper_lip_bite_test,prior_difficult_intubation,stopbang_snoring,stopbang_tired,stopbang_observed_apnoea,stopbang_pressure,stopbang_bmi_gt35,stopbang_age_gt50,stopbang_neck_gt40,stopbang_male,airway_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT mallampati_class (#PCDATA)>
<!ELEMENT thyromental_distance_cm (#PCDATA)>
<!ELEMENT mouth_opening_cm (#PCDATA)>
<!ELEMENT inter_incisor_gap_cm (#PCDATA)>
<!ELEMENT neck_rom (#PCDATA)>
<!ELEMENT cervical_spine_stability (#PCDATA)>
<!ELEMENT dentition (#PCDATA)>
<!ELEMENT beard (#PCDATA)>
<!ELEMENT upper_lip_bite_test (#PCDATA)>
<!ELEMENT prior_difficult_intubation (#PCDATA)>
<!ELEMENT stopbang_snoring (#PCDATA)>
<!ELEMENT stopbang_tired (#PCDATA)>
<!ELEMENT stopbang_observed_apnoea (#PCDATA)>
<!ELEMENT stopbang_pressure (#PCDATA)>
<!ELEMENT stopbang_bmi_gt35 (#PCDATA)>
<!ELEMENT stopbang_age_gt50 (#PCDATA)>
<!ELEMENT stopbang_neck_gt40 (#PCDATA)>
<!ELEMENT stopbang_male (#PCDATA)>
<!ELEMENT airway_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
