forms/pre-operative-assessment-by-clinician/xml-representations/grading_fired_rule.dtd

<!ELEMENT grading_fired_rule (id,grading_result_id,rule_id,instrument,grade,category,description,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT grading_result_id (#PCDATA)>
<!ELEMENT rule_id (#PCDATA)>
<!ELEMENT instrument (#PCDATA)>
<!ELEMENT grade (#PCDATA)>
<!ELEMENT category (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
