forms/pre-operative-assessment-by-clinician/xml-representations/grading_result.dtd

<!ELEMENT grading_result (id,assessment_id,computed_asa_grade,final_asa_grade,asa_emergency_suffix,override_reason,mallampati_class,rcri_score,stopbang_score,frailty_scale,composite_risk,recommendation,clinician_notes,signed_at,graded_at,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT computed_asa_grade (#PCDATA)>
<!ELEMENT final_asa_grade (#PCDATA)>
<!ELEMENT asa_emergency_suffix (#PCDATA)>
<!ELEMENT override_reason (#PCDATA)>
<!ELEMENT mallampati_class (#PCDATA)>
<!ELEMENT rcri_score (#PCDATA)>
<!ELEMENT stopbang_score (#PCDATA)>
<!ELEMENT frailty_scale (#PCDATA)>
<!ELEMENT composite_risk (#PCDATA)>
<!ELEMENT recommendation (#PCDATA)>
<!ELEMENT clinician_notes (#PCDATA)>
<!ELEMENT signed_at (#PCDATA)>
<!ELEMENT graded_at (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
