forms/orthopedic-assessment/xml-representations/assessment_surgery_item.dtd

<!ELEMENT assessment_surgery_item (id,surgical_history_id,procedure_name,date_performed,surgeon,hospital,outcome,outcome_details,sort_order,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT surgical_history_id (#PCDATA)>
<!ELEMENT procedure_name (#PCDATA)>
<!ELEMENT date_performed (#PCDATA)>
<!ELEMENT surgeon (#PCDATA)>
<!ELEMENT hospital (#PCDATA)>
<!ELEMENT outcome (#PCDATA)>
<!ELEMENT outcome_details (#PCDATA)>
<!ELEMENT sort_order (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
