forms/orthopedic-assessment/xml-representations/assessment_current_treatment.dtd

<!ELEMENT assessment_current_treatment (id,assessment_id,has_physiotherapy,physiotherapy_details,has_occupational_therapy,occupational_therapy_details,has_injection_therapy,injection_details,has_splinting_bracing,splinting_bracing_details,current_medications,has_alternative_therapy,alternative_therapy_details,treatment_effectiveness,current_treatment_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_physiotherapy (#PCDATA)>
<!ELEMENT physiotherapy_details (#PCDATA)>
<!ELEMENT has_occupational_therapy (#PCDATA)>
<!ELEMENT occupational_therapy_details (#PCDATA)>
<!ELEMENT has_injection_therapy (#PCDATA)>
<!ELEMENT injection_details (#PCDATA)>
<!ELEMENT has_splinting_bracing (#PCDATA)>
<!ELEMENT splinting_bracing_details (#PCDATA)>
<!ELEMENT current_medications (#PCDATA)>
<!ELEMENT has_alternative_therapy (#PCDATA)>
<!ELEMENT alternative_therapy_details (#PCDATA)>
<!ELEMENT treatment_effectiveness (#PCDATA)>
<!ELEMENT current_treatment_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
