forms/orthopedic-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,chief_complaint,current_treatment,dash_questionnaire,demographics,functional_limitations,imaging_history,imaging_item,pain_assessment,range_of_motion,rom_measurement,strength_test_item,strength_testing,surgery_item,surgical_history)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT chief_complaint (id,assessment_id,primary_complaint,affected_region,affected_side,onset_type,onset_date,mechanism_of_injury,duration,aggravating_factors,relieving_factors,previous_episodes,previous_episode_details,work_related,sport_related,chief_complaint_notes,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT primary_complaint (#PCDATA)>
<!ELEMENT affected_region (#PCDATA)>
<!ELEMENT affected_side (#PCDATA)>
<!ELEMENT onset_type (#PCDATA)>
<!ELEMENT onset_date (#PCDATA)>
<!ELEMENT mechanism_of_injury (#PCDATA)>
<!ELEMENT duration (#PCDATA)>
<!ELEMENT aggravating_factors (#PCDATA)>
<!ELEMENT relieving_factors (#PCDATA)>
<!ELEMENT previous_episodes (#PCDATA)>
<!ELEMENT previous_episode_details (#PCDATA)>
<!ELEMENT work_related (#PCDATA)>
<!ELEMENT sport_related (#PCDATA)>
<!ELEMENT chief_complaint_notes (#PCDATA)>
<!ELEMENT current_treatment (id,assessment_id,has_physiotherapy,physiotherapy_details,has_occupational_therapy,occupational_therapy_details,has_injection_therapy,injection_details,has_splinting_bracing,splinting_bracing_details,current_medications,has_alternative_therapy,alternative_therapy_details,treatment_effectiveness,current_treatment_notes,created_at,updated_at)>
<!ELEMENT has_physiotherapy (#PCDATA)>
<!ELEMENT physiotherapy_details (#PCDATA)>
<!ELEMENT has_occupational_therapy (#PCDATA)>
<!ELEMENT occupational_therapy_details (#PCDATA)>
<!ELEMENT has_injection_therapy (#PCDATA)>
<!ELEMENT injection_details (#PCDATA)>
<!ELEMENT has_splinting_bracing (#PCDATA)>
<!ELEMENT splinting_bracing_details (#PCDATA)>
<!ELEMENT current_medications (#PCDATA)>
<!ELEMENT has_alternative_therapy (#PCDATA)>
<!ELEMENT alternative_therapy_details (#PCDATA)>
<!ELEMENT treatment_effectiveness (#PCDATA)>
<!ELEMENT current_treatment_notes (#PCDATA)>
<!ELEMENT dash_questionnaire (id,assessment_id,q01_open_jar,q02_write,q03_turn_key,q04_prepare_meal,q05_push_door,q06_place_object_shelf,q07_heavy_household,q08_garden_yard,q09_make_bed,q10_carry_bag,q11_carry_heavy,q12_overhead,q13_wash_back,q14_use_knife,q15_recreational_force,q16_recreational_arm,q17_transportation,q18_sexual_activity,q19_family_care,q20_social_activity,q21_limited_work,q22_usual_work,q23_arm_pain,q24_arm_pain_activity,q25_tingling,q26_weakness,q27_stiffness,q28_sleep_difficulty,q29_less_capable,q30_less_confident,items_answered,dash_score,dash_notes,created_at,updated_at)>
<!ELEMENT q01_open_jar (#PCDATA)>
<!ELEMENT q02_write (#PCDATA)>
<!ELEMENT q03_turn_key (#PCDATA)>
<!ELEMENT q04_prepare_meal (#PCDATA)>
<!ELEMENT q05_push_door (#PCDATA)>
<!ELEMENT q06_place_object_shelf (#PCDATA)>
<!ELEMENT q07_heavy_household (#PCDATA)>
<!ELEMENT q08_garden_yard (#PCDATA)>
<!ELEMENT q09_make_bed (#PCDATA)>
<!ELEMENT q10_carry_bag (#PCDATA)>
<!ELEMENT q11_carry_heavy (#PCDATA)>
<!ELEMENT q12_overhead (#PCDATA)>
<!ELEMENT q13_wash_back (#PCDATA)>
<!ELEMENT q14_use_knife (#PCDATA)>
<!ELEMENT q15_recreational_force (#PCDATA)>
<!ELEMENT q16_recreational_arm (#PCDATA)>
<!ELEMENT q17_transportation (#PCDATA)>
<!ELEMENT q18_sexual_activity (#PCDATA)>
<!ELEMENT q19_family_care (#PCDATA)>
<!ELEMENT q20_social_activity (#PCDATA)>
<!ELEMENT q21_limited_work (#PCDATA)>
<!ELEMENT q22_usual_work (#PCDATA)>
<!ELEMENT q23_arm_pain (#PCDATA)>
<!ELEMENT q24_arm_pain_activity (#PCDATA)>
<!ELEMENT q25_tingling (#PCDATA)>
<!ELEMENT q26_weakness (#PCDATA)>
<!ELEMENT q27_stiffness (#PCDATA)>
<!ELEMENT q28_sleep_difficulty (#PCDATA)>
<!ELEMENT q29_less_capable (#PCDATA)>
<!ELEMENT q30_less_confident (#PCDATA)>
<!ELEMENT items_answered (#PCDATA)>
<!ELEMENT dash_score (#PCDATA)>
<!ELEMENT dash_notes (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,first_name,last_name,date_of_birth,sex,phone,email,address,occupation,dominant_hand,sport_activity_level,created_at,updated_at)>
<!ELEMENT first_name (#PCDATA)>
<!ELEMENT last_name (#PCDATA)>
<!ELEMENT date_of_birth (#PCDATA)>
<!ELEMENT sex (#PCDATA)>
<!ELEMENT phone (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT address (#PCDATA)>
<!ELEMENT occupation (#PCDATA)>
<!ELEMENT dominant_hand (#PCDATA)>
<!ELEMENT sport_activity_level (#PCDATA)>
<!ELEMENT functional_limitations (id,assessment_id,dressing_difficulty,washing_difficulty,eating_difficulty,work_difficulty,household_difficulty,lifting_difficulty,sleep_difficulty,recreation_difficulty,driving_difficulty,walking_difficulty,stair_difficulty,aids_in_use,functional_limitations_notes,created_at,updated_at)>
<!ELEMENT dressing_difficulty (#PCDATA)>
<!ELEMENT washing_difficulty (#PCDATA)>
<!ELEMENT eating_difficulty (#PCDATA)>
<!ELEMENT work_difficulty (#PCDATA)>
<!ELEMENT household_difficulty (#PCDATA)>
<!ELEMENT lifting_difficulty (#PCDATA)>
<!ELEMENT sleep_difficulty (#PCDATA)>
<!ELEMENT recreation_difficulty (#PCDATA)>
<!ELEMENT driving_difficulty (#PCDATA)>
<!ELEMENT walking_difficulty (#PCDATA)>
<!ELEMENT stair_difficulty (#PCDATA)>
<!ELEMENT aids_in_use (#PCDATA)>
<!ELEMENT functional_limitations_notes (#PCDATA)>
<!ELEMENT imaging_history (id,assessment_id,has_previous_imaging,imaging_requested,imaging_requested_details,imaging_notes,created_at,updated_at)>
<!ELEMENT has_previous_imaging (#PCDATA)>
<!ELEMENT imaging_requested (#PCDATA)>
<!ELEMENT imaging_requested_details (#PCDATA)>
<!ELEMENT imaging_notes (#PCDATA)>
<!ELEMENT imaging_item (id,imaging_history_id,modality,body_region,date_performed,findings,sort_order,created_at,updated_at)>
<!ELEMENT imaging_history_id (#PCDATA)>
<!ELEMENT modality (#PCDATA)>
<!ELEMENT body_region (#PCDATA)>
<!ELEMENT date_performed (#PCDATA)>
<!ELEMENT findings (#PCDATA)>
<!ELEMENT sort_order (#PCDATA)>
<!ELEMENT pain_assessment (id,assessment_id,pain_at_rest,pain_with_activity,pain_at_night,worst_pain,pain_character,pain_pattern,pain_location,pain_radiation,night_waking,morning_stiffness,morning_stiffness_duration_minutes,current_analgesia,analgesia_effectiveness,pain_notes,created_at,updated_at)>
<!ELEMENT pain_at_rest (#PCDATA)>
<!ELEMENT pain_with_activity (#PCDATA)>
<!ELEMENT pain_at_night (#PCDATA)>
<!ELEMENT worst_pain (#PCDATA)>
<!ELEMENT pain_character (#PCDATA)>
<!ELEMENT pain_pattern (#PCDATA)>
<!ELEMENT pain_location (#PCDATA)>
<!ELEMENT pain_radiation (#PCDATA)>
<!ELEMENT night_waking (#PCDATA)>
<!ELEMENT morning_stiffness (#PCDATA)>
<!ELEMENT morning_stiffness_duration_minutes (#PCDATA)>
<!ELEMENT current_analgesia (#PCDATA)>
<!ELEMENT analgesia_effectiveness (#PCDATA)>
<!ELEMENT pain_notes (#PCDATA)>
<!ELEMENT range_of_motion (id,assessment_id,joint_assessed,side_assessed,overall_rom_status,range_of_motion_notes,created_at,updated_at)>
<!ELEMENT joint_assessed (#PCDATA)>
<!ELEMENT side_assessed (#PCDATA)>
<!ELEMENT overall_rom_status (#PCDATA)>
<!ELEMENT range_of_motion_notes (#PCDATA)>
<!ELEMENT rom_measurement (id,range_of_motion_id,movement,active_degrees,passive_degrees,normal_degrees,end_feel,pain_on_movement,sort_order,created_at,updated_at)>
<!ELEMENT range_of_motion_id (#PCDATA)>
<!ELEMENT movement (#PCDATA)>
<!ELEMENT active_degrees (#PCDATA)>
<!ELEMENT passive_degrees (#PCDATA)>
<!ELEMENT normal_degrees (#PCDATA)>
<!ELEMENT end_feel (#PCDATA)>
<!ELEMENT pain_on_movement (#PCDATA)>
<!ELEMENT strength_test_item (id,strength_testing_id,muscle_group,movement,mrc_grade,pain_on_testing,sort_order,created_at,updated_at)>
<!ELEMENT strength_testing_id (#PCDATA)>
<!ELEMENT muscle_group (#PCDATA)>
<!ELEMENT mrc_grade (#PCDATA)>
<!ELEMENT pain_on_testing (#PCDATA)>
<!ELEMENT strength_testing (id,assessment_id,grip_strength_affected_kg,grip_strength_unaffected_kg,overall_strength_status,strength_testing_notes,created_at,updated_at)>
<!ELEMENT grip_strength_affected_kg (#PCDATA)>
<!ELEMENT grip_strength_unaffected_kg (#PCDATA)>
<!ELEMENT overall_strength_status (#PCDATA)>
<!ELEMENT strength_testing_notes (#PCDATA)>
<!ELEMENT surgery_item (id,surgical_history_id,procedure_name,date_performed,surgeon,hospital,outcome,outcome_details,sort_order,created_at,updated_at)>
<!ELEMENT surgical_history_id (#PCDATA)>
<!ELEMENT procedure_name (#PCDATA)>
<!ELEMENT surgeon (#PCDATA)>
<!ELEMENT hospital (#PCDATA)>
<!ELEMENT outcome (#PCDATA)>
<!ELEMENT outcome_details (#PCDATA)>
<!ELEMENT surgical_history (id,assessment_id,has_previous_surgery,surgery_considered,surgery_considered_details,patient_preference,comorbidities_affecting_surgery,anaesthetic_risk,anticoagulant_use,anticoagulant_details,surgical_history_notes,created_at,updated_at)>
<!ELEMENT has_previous_surgery (#PCDATA)>
<!ELEMENT surgery_considered (#PCDATA)>
<!ELEMENT surgery_considered_details (#PCDATA)>
<!ELEMENT patient_preference (#PCDATA)>
<!ELEMENT comorbidities_affecting_surgery (#PCDATA)>
<!ELEMENT anaesthetic_risk (#PCDATA)>
<!ELEMENT anticoagulant_use (#PCDATA)>
<!ELEMENT anticoagulant_details (#PCDATA)>
<!ELEMENT surgical_history_notes (#PCDATA)>
