forms/orthopedic-assessment/xml-representations/assessment_functional_limitations.dtd

<!ELEMENT assessment_functional_limitations (id,assessment_id,dressing_difficulty,washing_difficulty,eating_difficulty,work_difficulty,household_difficulty,lifting_difficulty,sleep_difficulty,recreation_difficulty,driving_difficulty,walking_difficulty,stair_difficulty,aids_in_use,functional_limitations_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT dressing_difficulty (#PCDATA)>
<!ELEMENT washing_difficulty (#PCDATA)>
<!ELEMENT eating_difficulty (#PCDATA)>
<!ELEMENT work_difficulty (#PCDATA)>
<!ELEMENT household_difficulty (#PCDATA)>
<!ELEMENT lifting_difficulty (#PCDATA)>
<!ELEMENT sleep_difficulty (#PCDATA)>
<!ELEMENT recreation_difficulty (#PCDATA)>
<!ELEMENT driving_difficulty (#PCDATA)>
<!ELEMENT walking_difficulty (#PCDATA)>
<!ELEMENT stair_difficulty (#PCDATA)>
<!ELEMENT aids_in_use (#PCDATA)>
<!ELEMENT functional_limitations_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
