forms/orthopedic-assessment/xml-representations/assessment_dash_questionnaire.dtd

<!ELEMENT assessment_dash_questionnaire (id,assessment_id,q01_open_jar,q02_write,q03_turn_key,q04_prepare_meal,q05_push_door,q06_place_object_shelf,q07_heavy_household,q08_garden_yard,q09_make_bed,q10_carry_bag,q11_carry_heavy,q12_overhead,q13_wash_back,q14_use_knife,q15_recreational_force,q16_recreational_arm,q17_transportation,q18_sexual_activity,q19_family_care,q20_social_activity,q21_limited_work,q22_usual_work,q23_arm_pain,q24_arm_pain_activity,q25_tingling,q26_weakness,q27_stiffness,q28_sleep_difficulty,q29_less_capable,q30_less_confident,items_answered,dash_score,dash_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT q01_open_jar (#PCDATA)>
<!ELEMENT q02_write (#PCDATA)>
<!ELEMENT q03_turn_key (#PCDATA)>
<!ELEMENT q04_prepare_meal (#PCDATA)>
<!ELEMENT q05_push_door (#PCDATA)>
<!ELEMENT q06_place_object_shelf (#PCDATA)>
<!ELEMENT q07_heavy_household (#PCDATA)>
<!ELEMENT q08_garden_yard (#PCDATA)>
<!ELEMENT q09_make_bed (#PCDATA)>
<!ELEMENT q10_carry_bag (#PCDATA)>
<!ELEMENT q11_carry_heavy (#PCDATA)>
<!ELEMENT q12_overhead (#PCDATA)>
<!ELEMENT q13_wash_back (#PCDATA)>
<!ELEMENT q14_use_knife (#PCDATA)>
<!ELEMENT q15_recreational_force (#PCDATA)>
<!ELEMENT q16_recreational_arm (#PCDATA)>
<!ELEMENT q17_transportation (#PCDATA)>
<!ELEMENT q18_sexual_activity (#PCDATA)>
<!ELEMENT q19_family_care (#PCDATA)>
<!ELEMENT q20_social_activity (#PCDATA)>
<!ELEMENT q21_limited_work (#PCDATA)>
<!ELEMENT q22_usual_work (#PCDATA)>
<!ELEMENT q23_arm_pain (#PCDATA)>
<!ELEMENT q24_arm_pain_activity (#PCDATA)>
<!ELEMENT q25_tingling (#PCDATA)>
<!ELEMENT q26_weakness (#PCDATA)>
<!ELEMENT q27_stiffness (#PCDATA)>
<!ELEMENT q28_sleep_difficulty (#PCDATA)>
<!ELEMENT q29_less_capable (#PCDATA)>
<!ELEMENT q30_less_confident (#PCDATA)>
<!ELEMENT items_answered (#PCDATA)>
<!ELEMENT dash_score (#PCDATA)>
<!ELEMENT dash_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
