forms/orthopedic-assessment/xml-representations/assessment_chief_complaint.dtd

<!ELEMENT assessment_chief_complaint (id,assessment_id,primary_complaint,affected_region,affected_side,onset_type,onset_date,mechanism_of_injury,duration,aggravating_factors,relieving_factors,previous_episodes,previous_episode_details,work_related,sport_related,chief_complaint_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT primary_complaint (#PCDATA)>
<!ELEMENT affected_region (#PCDATA)>
<!ELEMENT affected_side (#PCDATA)>
<!ELEMENT onset_type (#PCDATA)>
<!ELEMENT onset_date (#PCDATA)>
<!ELEMENT mechanism_of_injury (#PCDATA)>
<!ELEMENT duration (#PCDATA)>
<!ELEMENT aggravating_factors (#PCDATA)>
<!ELEMENT relieving_factors (#PCDATA)>
<!ELEMENT previous_episodes (#PCDATA)>
<!ELEMENT previous_episode_details (#PCDATA)>
<!ELEMENT work_related (#PCDATA)>
<!ELEMENT sport_related (#PCDATA)>
<!ELEMENT chief_complaint_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
