forms/orthopedic-assessment/xml-representations/assessment_pain_assessment.dtd

<!ELEMENT assessment_pain_assessment (id,assessment_id,pain_at_rest,pain_with_activity,pain_at_night,worst_pain,pain_character,pain_pattern,pain_location,pain_radiation,night_waking,morning_stiffness,morning_stiffness_duration_minutes,current_analgesia,analgesia_effectiveness,pain_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT pain_at_rest (#PCDATA)>
<!ELEMENT pain_with_activity (#PCDATA)>
<!ELEMENT pain_at_night (#PCDATA)>
<!ELEMENT worst_pain (#PCDATA)>
<!ELEMENT pain_character (#PCDATA)>
<!ELEMENT pain_pattern (#PCDATA)>
<!ELEMENT pain_location (#PCDATA)>
<!ELEMENT pain_radiation (#PCDATA)>
<!ELEMENT night_waking (#PCDATA)>
<!ELEMENT morning_stiffness (#PCDATA)>
<!ELEMENT morning_stiffness_duration_minutes (#PCDATA)>
<!ELEMENT current_analgesia (#PCDATA)>
<!ELEMENT analgesia_effectiveness (#PCDATA)>
<!ELEMENT pain_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
