forms/audiology-assessment/xml-representations/assessment_audiometric_results.dtd

<!ELEMENT assessment_audiometric_results (id,assessment_id,right_ac_250hz,right_ac_500hz,right_ac_1000hz,right_ac_2000hz,right_ac_4000hz,right_ac_8000hz,left_ac_250hz,left_ac_500hz,left_ac_1000hz,left_ac_2000hz,left_ac_4000hz,left_ac_8000hz,right_bc_500hz,right_bc_1000hz,right_bc_2000hz,right_bc_4000hz,left_bc_500hz,left_bc_1000hz,left_bc_2000hz,left_bc_4000hz,right_pta_db,left_pta_db,right_hearing_type,left_hearing_type,right_srt_db,left_srt_db,right_word_recognition_percent,left_word_recognition_percent,right_tympanogram_type,left_tympanogram_type,test_date,audiologist_name,audiometric_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT right_ac_250hz (#PCDATA)>
<!ELEMENT right_ac_500hz (#PCDATA)>
<!ELEMENT right_ac_1000hz (#PCDATA)>
<!ELEMENT right_ac_2000hz (#PCDATA)>
<!ELEMENT right_ac_4000hz (#PCDATA)>
<!ELEMENT right_ac_8000hz (#PCDATA)>
<!ELEMENT left_ac_250hz (#PCDATA)>
<!ELEMENT left_ac_500hz (#PCDATA)>
<!ELEMENT left_ac_1000hz (#PCDATA)>
<!ELEMENT left_ac_2000hz (#PCDATA)>
<!ELEMENT left_ac_4000hz (#PCDATA)>
<!ELEMENT left_ac_8000hz (#PCDATA)>
<!ELEMENT right_bc_500hz (#PCDATA)>
<!ELEMENT right_bc_1000hz (#PCDATA)>
<!ELEMENT right_bc_2000hz (#PCDATA)>
<!ELEMENT right_bc_4000hz (#PCDATA)>
<!ELEMENT left_bc_500hz (#PCDATA)>
<!ELEMENT left_bc_1000hz (#PCDATA)>
<!ELEMENT left_bc_2000hz (#PCDATA)>
<!ELEMENT left_bc_4000hz (#PCDATA)>
<!ELEMENT right_pta_db (#PCDATA)>
<!ELEMENT left_pta_db (#PCDATA)>
<!ELEMENT right_hearing_type (#PCDATA)>
<!ELEMENT left_hearing_type (#PCDATA)>
<!ELEMENT right_srt_db (#PCDATA)>
<!ELEMENT left_srt_db (#PCDATA)>
<!ELEMENT right_word_recognition_percent (#PCDATA)>
<!ELEMENT left_word_recognition_percent (#PCDATA)>
<!ELEMENT right_tympanogram_type (#PCDATA)>
<!ELEMENT left_tympanogram_type (#PCDATA)>
<!ELEMENT test_date (#PCDATA)>
<!ELEMENT audiologist_name (#PCDATA)>
<!ELEMENT audiometric_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
