forms/audiology-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,audiometric_results,chief_complaint,demographics,functional_communication,hearing_history,medical_history,otoscopic_findings,tinnitus,vestibular_symptoms)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT audiometric_results (id,assessment_id,right_ac_250hz,right_ac_500hz,right_ac_1000hz,right_ac_2000hz,right_ac_4000hz,right_ac_8000hz,left_ac_250hz,left_ac_500hz,left_ac_1000hz,left_ac_2000hz,left_ac_4000hz,left_ac_8000hz,right_bc_500hz,right_bc_1000hz,right_bc_2000hz,right_bc_4000hz,left_bc_500hz,left_bc_1000hz,left_bc_2000hz,left_bc_4000hz,right_pta_db,left_pta_db,right_hearing_type,left_hearing_type,right_srt_db,left_srt_db,right_word_recognition_percent,left_word_recognition_percent,right_tympanogram_type,left_tympanogram_type,test_date,audiologist_name,audiometric_notes,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT right_ac_250hz (#PCDATA)>
<!ELEMENT right_ac_500hz (#PCDATA)>
<!ELEMENT right_ac_1000hz (#PCDATA)>
<!ELEMENT right_ac_2000hz (#PCDATA)>
<!ELEMENT right_ac_4000hz (#PCDATA)>
<!ELEMENT right_ac_8000hz (#PCDATA)>
<!ELEMENT left_ac_250hz (#PCDATA)>
<!ELEMENT left_ac_500hz (#PCDATA)>
<!ELEMENT left_ac_1000hz (#PCDATA)>
<!ELEMENT left_ac_2000hz (#PCDATA)>
<!ELEMENT left_ac_4000hz (#PCDATA)>
<!ELEMENT left_ac_8000hz (#PCDATA)>
<!ELEMENT right_bc_500hz (#PCDATA)>
<!ELEMENT right_bc_1000hz (#PCDATA)>
<!ELEMENT right_bc_2000hz (#PCDATA)>
<!ELEMENT right_bc_4000hz (#PCDATA)>
<!ELEMENT left_bc_500hz (#PCDATA)>
<!ELEMENT left_bc_1000hz (#PCDATA)>
<!ELEMENT left_bc_2000hz (#PCDATA)>
<!ELEMENT left_bc_4000hz (#PCDATA)>
<!ELEMENT right_pta_db (#PCDATA)>
<!ELEMENT left_pta_db (#PCDATA)>
<!ELEMENT right_hearing_type (#PCDATA)>
<!ELEMENT left_hearing_type (#PCDATA)>
<!ELEMENT right_srt_db (#PCDATA)>
<!ELEMENT left_srt_db (#PCDATA)>
<!ELEMENT right_word_recognition_percent (#PCDATA)>
<!ELEMENT left_word_recognition_percent (#PCDATA)>
<!ELEMENT right_tympanogram_type (#PCDATA)>
<!ELEMENT left_tympanogram_type (#PCDATA)>
<!ELEMENT test_date (#PCDATA)>
<!ELEMENT audiologist_name (#PCDATA)>
<!ELEMENT audiometric_notes (#PCDATA)>
<!ELEMENT chief_complaint (id,assessment_id,primary_complaint,complaint_duration,onset_type,laterality,ear_most_affected,difficulty_in_noise,difficulty_on_phone,difficulty_with_television,asks_others_to_repeat,additional_concerns,created_at,updated_at)>
<!ELEMENT primary_complaint (#PCDATA)>
<!ELEMENT complaint_duration (#PCDATA)>
<!ELEMENT onset_type (#PCDATA)>
<!ELEMENT laterality (#PCDATA)>
<!ELEMENT ear_most_affected (#PCDATA)>
<!ELEMENT difficulty_in_noise (#PCDATA)>
<!ELEMENT difficulty_on_phone (#PCDATA)>
<!ELEMENT difficulty_with_television (#PCDATA)>
<!ELEMENT asks_others_to_repeat (#PCDATA)>
<!ELEMENT additional_concerns (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,age,sex,ethnicity,occupation,postcode,referring_clinician,referral_source,created_at,updated_at)>
<!ELEMENT age (#PCDATA)>
<!ELEMENT sex (#PCDATA)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT occupation (#PCDATA)>
<!ELEMENT postcode (#PCDATA)>
<!ELEMENT referring_clinician (#PCDATA)>
<!ELEMENT referral_source (#PCDATA)>
<!ELEMENT functional_communication (id,assessment_id,communication_difficulty_rating,impact_on_work,impact_on_social_life,impact_on_relationships,impact_on_mental_health,uses_hearing_aid,hearing_aid_type,hearing_aid_satisfaction,uses_assistive_devices,assistive_device_details,communication_strategies_used,patient_goals,referral_recommendations,created_at,updated_at)>
<!ELEMENT communication_difficulty_rating (#PCDATA)>
<!ELEMENT impact_on_work (#PCDATA)>
<!ELEMENT impact_on_social_life (#PCDATA)>
<!ELEMENT impact_on_relationships (#PCDATA)>
<!ELEMENT impact_on_mental_health (#PCDATA)>
<!ELEMENT uses_hearing_aid (#PCDATA)>
<!ELEMENT hearing_aid_type (#PCDATA)>
<!ELEMENT hearing_aid_satisfaction (#PCDATA)>
<!ELEMENT uses_assistive_devices (#PCDATA)>
<!ELEMENT assistive_device_details (#PCDATA)>
<!ELEMENT communication_strategies_used (#PCDATA)>
<!ELEMENT patient_goals (#PCDATA)>
<!ELEMENT referral_recommendations (#PCDATA)>
<!ELEMENT hearing_history (id,assessment_id,previous_hearing_test,previous_test_date,previous_test_results,noise_exposure_history,noise_exposure_details,occupational_noise_exposure,recreational_noise_exposure,uses_hearing_protection,military_service,ear_infections_history,ear_surgery_history,ear_surgery_details,ototoxic_medication_exposure,ototoxic_medication_details,family_history_hearing_loss,family_hearing_loss_details,created_at,updated_at)>
<!ELEMENT previous_hearing_test (#PCDATA)>
<!ELEMENT previous_test_date (#PCDATA)>
<!ELEMENT previous_test_results (#PCDATA)>
<!ELEMENT noise_exposure_history (#PCDATA)>
<!ELEMENT noise_exposure_details (#PCDATA)>
<!ELEMENT occupational_noise_exposure (#PCDATA)>
<!ELEMENT recreational_noise_exposure (#PCDATA)>
<!ELEMENT uses_hearing_protection (#PCDATA)>
<!ELEMENT military_service (#PCDATA)>
<!ELEMENT ear_infections_history (#PCDATA)>
<!ELEMENT ear_surgery_history (#PCDATA)>
<!ELEMENT ear_surgery_details (#PCDATA)>
<!ELEMENT ototoxic_medication_exposure (#PCDATA)>
<!ELEMENT ototoxic_medication_details (#PCDATA)>
<!ELEMENT family_history_hearing_loss (#PCDATA)>
<!ELEMENT family_hearing_loss_details (#PCDATA)>
<!ELEMENT medical_history (id,assessment_id,has_diabetes,has_cardiovascular_disease,has_autoimmune_condition,autoimmune_details,has_kidney_disease,has_neurological_condition,neurological_details,current_medications,ototoxic_medications,has_drug_allergies,drug_allergy_details,other_medical_history,created_at,updated_at)>
<!ELEMENT has_diabetes (#PCDATA)>
<!ELEMENT has_cardiovascular_disease (#PCDATA)>
<!ELEMENT has_autoimmune_condition (#PCDATA)>
<!ELEMENT autoimmune_details (#PCDATA)>
<!ELEMENT has_kidney_disease (#PCDATA)>
<!ELEMENT has_neurological_condition (#PCDATA)>
<!ELEMENT neurological_details (#PCDATA)>
<!ELEMENT current_medications (#PCDATA)>
<!ELEMENT ototoxic_medications (#PCDATA)>
<!ELEMENT has_drug_allergies (#PCDATA)>
<!ELEMENT drug_allergy_details (#PCDATA)>
<!ELEMENT other_medical_history (#PCDATA)>
<!ELEMENT otoscopic_findings (id,assessment_id,right_ear_canal,right_ear_canal_notes,right_tympanic_membrane,right_tympanic_membrane_notes,right_cerumen,left_ear_canal,left_ear_canal_notes,left_tympanic_membrane,left_tympanic_membrane_notes,left_cerumen,otoscopy_notes,created_at,updated_at)>
<!ELEMENT right_ear_canal (#PCDATA)>
<!ELEMENT right_ear_canal_notes (#PCDATA)>
<!ELEMENT right_tympanic_membrane (#PCDATA)>
<!ELEMENT right_tympanic_membrane_notes (#PCDATA)>
<!ELEMENT right_cerumen (#PCDATA)>
<!ELEMENT left_ear_canal (#PCDATA)>
<!ELEMENT left_ear_canal_notes (#PCDATA)>
<!ELEMENT left_tympanic_membrane (#PCDATA)>
<!ELEMENT left_tympanic_membrane_notes (#PCDATA)>
<!ELEMENT left_cerumen (#PCDATA)>
<!ELEMENT otoscopy_notes (#PCDATA)>
<!ELEMENT tinnitus (id,assessment_id,has_tinnitus,tinnitus_laterality,tinnitus_type,tinnitus_description,tinnitus_onset,tinnitus_duration,tinnitus_constancy,tinnitus_severity,tinnitus_impact_on_sleep,tinnitus_impact_on_concentration,tinnitus_impact_on_mood,tinnitus_management,created_at,updated_at)>
<!ELEMENT has_tinnitus (#PCDATA)>
<!ELEMENT tinnitus_laterality (#PCDATA)>
<!ELEMENT tinnitus_type (#PCDATA)>
<!ELEMENT tinnitus_description (#PCDATA)>
<!ELEMENT tinnitus_onset (#PCDATA)>
<!ELEMENT tinnitus_duration (#PCDATA)>
<!ELEMENT tinnitus_constancy (#PCDATA)>
<!ELEMENT tinnitus_severity (#PCDATA)>
<!ELEMENT tinnitus_impact_on_sleep (#PCDATA)>
<!ELEMENT tinnitus_impact_on_concentration (#PCDATA)>
<!ELEMENT tinnitus_impact_on_mood (#PCDATA)>
<!ELEMENT tinnitus_management (#PCDATA)>
<!ELEMENT vestibular_symptoms (id,assessment_id,has_dizziness,has_vertigo,vertigo_type,vertigo_duration,vertigo_frequency,vertigo_triggers,has_balance_problems,has_falls,falls_frequency,has_nausea_with_dizziness,has_aural_fullness,suspected_meniere_disease,vestibular_notes,created_at,updated_at)>
<!ELEMENT has_dizziness (#PCDATA)>
<!ELEMENT has_vertigo (#PCDATA)>
<!ELEMENT vertigo_type (#PCDATA)>
<!ELEMENT vertigo_duration (#PCDATA)>
<!ELEMENT vertigo_frequency (#PCDATA)>
<!ELEMENT vertigo_triggers (#PCDATA)>
<!ELEMENT has_balance_problems (#PCDATA)>
<!ELEMENT has_falls (#PCDATA)>
<!ELEMENT falls_frequency (#PCDATA)>
<!ELEMENT has_nausea_with_dizziness (#PCDATA)>
<!ELEMENT has_aural_fullness (#PCDATA)>
<!ELEMENT suspected_meniere_disease (#PCDATA)>
<!ELEMENT vestibular_notes (#PCDATA)>
