forms/audiology-assessment/xml-representations/assessment_tinnitus.dtd

<!ELEMENT assessment_tinnitus (id,assessment_id,has_tinnitus,tinnitus_laterality,tinnitus_type,tinnitus_description,tinnitus_onset,tinnitus_duration,tinnitus_constancy,tinnitus_severity,tinnitus_impact_on_sleep,tinnitus_impact_on_concentration,tinnitus_impact_on_mood,tinnitus_management,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_tinnitus (#PCDATA)>
<!ELEMENT tinnitus_laterality (#PCDATA)>
<!ELEMENT tinnitus_type (#PCDATA)>
<!ELEMENT tinnitus_description (#PCDATA)>
<!ELEMENT tinnitus_onset (#PCDATA)>
<!ELEMENT tinnitus_duration (#PCDATA)>
<!ELEMENT tinnitus_constancy (#PCDATA)>
<!ELEMENT tinnitus_severity (#PCDATA)>
<!ELEMENT tinnitus_impact_on_sleep (#PCDATA)>
<!ELEMENT tinnitus_impact_on_concentration (#PCDATA)>
<!ELEMENT tinnitus_impact_on_mood (#PCDATA)>
<!ELEMENT tinnitus_management (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
