forms/audiology-assessment/xml-representations/assessment_hearing_history.dtd

<!ELEMENT assessment_hearing_history (id,assessment_id,previous_hearing_test,previous_test_date,previous_test_results,noise_exposure_history,noise_exposure_details,occupational_noise_exposure,recreational_noise_exposure,uses_hearing_protection,military_service,ear_infections_history,ear_surgery_history,ear_surgery_details,ototoxic_medication_exposure,ototoxic_medication_details,family_history_hearing_loss,family_hearing_loss_details,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT previous_hearing_test (#PCDATA)>
<!ELEMENT previous_test_date (#PCDATA)>
<!ELEMENT previous_test_results (#PCDATA)>
<!ELEMENT noise_exposure_history (#PCDATA)>
<!ELEMENT noise_exposure_details (#PCDATA)>
<!ELEMENT occupational_noise_exposure (#PCDATA)>
<!ELEMENT recreational_noise_exposure (#PCDATA)>
<!ELEMENT uses_hearing_protection (#PCDATA)>
<!ELEMENT military_service (#PCDATA)>
<!ELEMENT ear_infections_history (#PCDATA)>
<!ELEMENT ear_surgery_history (#PCDATA)>
<!ELEMENT ear_surgery_details (#PCDATA)>
<!ELEMENT ototoxic_medication_exposure (#PCDATA)>
<!ELEMENT ototoxic_medication_details (#PCDATA)>
<!ELEMENT family_history_hearing_loss (#PCDATA)>
<!ELEMENT family_hearing_loss_details (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
