forms/audiology-assessment/xml-representations/assessment_functional_communication.dtd

<!ELEMENT assessment_functional_communication (id,assessment_id,communication_difficulty_rating,impact_on_work,impact_on_social_life,impact_on_relationships,impact_on_mental_health,uses_hearing_aid,hearing_aid_type,hearing_aid_satisfaction,uses_assistive_devices,assistive_device_details,communication_strategies_used,patient_goals,referral_recommendations,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT communication_difficulty_rating (#PCDATA)>
<!ELEMENT impact_on_work (#PCDATA)>
<!ELEMENT impact_on_social_life (#PCDATA)>
<!ELEMENT impact_on_relationships (#PCDATA)>
<!ELEMENT impact_on_mental_health (#PCDATA)>
<!ELEMENT uses_hearing_aid (#PCDATA)>
<!ELEMENT hearing_aid_type (#PCDATA)>
<!ELEMENT hearing_aid_satisfaction (#PCDATA)>
<!ELEMENT uses_assistive_devices (#PCDATA)>
<!ELEMENT assistive_device_details (#PCDATA)>
<!ELEMENT communication_strategies_used (#PCDATA)>
<!ELEMENT patient_goals (#PCDATA)>
<!ELEMENT referral_recommendations (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
