forms/audiology-assessment/xml-representations/assessment_vestibular_symptoms.dtd

<!ELEMENT assessment_vestibular_symptoms (id,assessment_id,has_dizziness,has_vertigo,vertigo_type,vertigo_duration,vertigo_frequency,vertigo_triggers,has_balance_problems,has_falls,falls_frequency,has_nausea_with_dizziness,has_aural_fullness,suspected_meniere_disease,vestibular_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_dizziness (#PCDATA)>
<!ELEMENT has_vertigo (#PCDATA)>
<!ELEMENT vertigo_type (#PCDATA)>
<!ELEMENT vertigo_duration (#PCDATA)>
<!ELEMENT vertigo_frequency (#PCDATA)>
<!ELEMENT vertigo_triggers (#PCDATA)>
<!ELEMENT has_balance_problems (#PCDATA)>
<!ELEMENT has_falls (#PCDATA)>
<!ELEMENT falls_frequency (#PCDATA)>
<!ELEMENT has_nausea_with_dizziness (#PCDATA)>
<!ELEMENT has_aural_fullness (#PCDATA)>
<!ELEMENT suspected_meniere_disease (#PCDATA)>
<!ELEMENT vestibular_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
