forms/audiology-assessment/xml-representations/assessment_medical_history.dtd

<!ELEMENT assessment_medical_history (id,assessment_id,has_diabetes,has_cardiovascular_disease,has_autoimmune_condition,autoimmune_details,has_kidney_disease,has_neurological_condition,neurological_details,current_medications,ototoxic_medications,has_drug_allergies,drug_allergy_details,other_medical_history,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_diabetes (#PCDATA)>
<!ELEMENT has_cardiovascular_disease (#PCDATA)>
<!ELEMENT has_autoimmune_condition (#PCDATA)>
<!ELEMENT autoimmune_details (#PCDATA)>
<!ELEMENT has_kidney_disease (#PCDATA)>
<!ELEMENT has_neurological_condition (#PCDATA)>
<!ELEMENT neurological_details (#PCDATA)>
<!ELEMENT current_medications (#PCDATA)>
<!ELEMENT ototoxic_medications (#PCDATA)>
<!ELEMENT has_drug_allergies (#PCDATA)>
<!ELEMENT drug_allergy_details (#PCDATA)>
<!ELEMENT other_medical_history (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
