forms/hormone-replacement-therapy-assessment/xml-representations/assessment_contraindications_screen.dtd

<!ELEMENT assessment_contraindications_screen (id,assessment_id,undiagnosed_vaginal_bleeding,known_or_suspected_breast_cancer,known_or_suspected_oestrogen_dependent_neoplasm,active_or_recent_vte,active_or_recent_arterial_thromboembolism,untreated_endometrial_hyperplasia,active_liver_disease,porphyria,known_pregnancy,history_of_endometrial_cancer,history_of_vte,thrombophilia,migraine_with_aura,gallbladder_disease,epilepsy,sle,meningioma,absolute_contraindication_present,relative_contraindication_present,contraindication_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT undiagnosed_vaginal_bleeding (#PCDATA)>
<!ELEMENT known_or_suspected_breast_cancer (#PCDATA)>
<!ELEMENT known_or_suspected_oestrogen_dependent_neoplasm (#PCDATA)>
<!ELEMENT active_or_recent_vte (#PCDATA)>
<!ELEMENT active_or_recent_arterial_thromboembolism (#PCDATA)>
<!ELEMENT untreated_endometrial_hyperplasia (#PCDATA)>
<!ELEMENT active_liver_disease (#PCDATA)>
<!ELEMENT porphyria (#PCDATA)>
<!ELEMENT known_pregnancy (#PCDATA)>
<!ELEMENT history_of_endometrial_cancer (#PCDATA)>
<!ELEMENT history_of_vte (#PCDATA)>
<!ELEMENT thrombophilia (#PCDATA)>
<!ELEMENT migraine_with_aura (#PCDATA)>
<!ELEMENT gallbladder_disease (#PCDATA)>
<!ELEMENT epilepsy (#PCDATA)>
<!ELEMENT sle (#PCDATA)>
<!ELEMENT meningioma (#PCDATA)>
<!ELEMENT absolute_contraindication_present (#PCDATA)>
<!ELEMENT relative_contraindication_present (#PCDATA)>
<!ELEMENT contraindication_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
