forms/hormone-replacement-therapy-assessment/xml-representations/assessment_demographics.dtd

<!ELEMENT assessment_demographics (id,assessment_id,ethnicity,primary_language,interpreter_required,marital_status,occupation,smoking_status,alcohol_units_per_week,exercise_frequency,emergency_contact_name,emergency_contact_phone,gp_name,gp_practice,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT primary_language (#PCDATA)>
<!ELEMENT interpreter_required (#PCDATA)>
<!ELEMENT marital_status (#PCDATA)>
<!ELEMENT occupation (#PCDATA)>
<!ELEMENT smoking_status (#PCDATA)>
<!ELEMENT alcohol_units_per_week (#PCDATA)>
<!ELEMENT exercise_frequency (#PCDATA)>
<!ELEMENT emergency_contact_name (#PCDATA)>
<!ELEMENT emergency_contact_phone (#PCDATA)>
<!ELEMENT gp_name (#PCDATA)>
<!ELEMENT gp_practice (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
