forms/hormone-replacement-therapy-assessment/xml-representations/assessment_bone_health.dtd

<!ELEMENT assessment_bone_health (id,assessment_id,previous_fracture,fracture_details,fragility_fracture,family_history_osteoporosis,family_history_hip_fracture,dexa_scan_performed,dexa_scan_date,spine_t_score,hip_t_score,dexa_result,calcium_intake,vitamin_d_level,vitamin_d_supplementation,corticosteroid_use,corticosteroid_details,frax_score,bone_health_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT previous_fracture (#PCDATA)>
<!ELEMENT fracture_details (#PCDATA)>
<!ELEMENT fragility_fracture (#PCDATA)>
<!ELEMENT family_history_osteoporosis (#PCDATA)>
<!ELEMENT family_history_hip_fracture (#PCDATA)>
<!ELEMENT dexa_scan_performed (#PCDATA)>
<!ELEMENT dexa_scan_date (#PCDATA)>
<!ELEMENT spine_t_score (#PCDATA)>
<!ELEMENT hip_t_score (#PCDATA)>
<!ELEMENT dexa_result (#PCDATA)>
<!ELEMENT calcium_intake (#PCDATA)>
<!ELEMENT vitamin_d_level (#PCDATA)>
<!ELEMENT vitamin_d_supplementation (#PCDATA)>
<!ELEMENT corticosteroid_use (#PCDATA)>
<!ELEMENT corticosteroid_details (#PCDATA)>
<!ELEMENT frax_score (#PCDATA)>
<!ELEMENT bone_health_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
