forms/hormone-replacement-therapy-assessment/xml-representations/assessment_breast_health.dtd

<!ELEMENT assessment_breast_health (id,assessment_id,personal_history_breast_cancer,breast_cancer_details,breast_cancer_treatment,family_history_breast_cancer,family_breast_cancer_details,family_history_ovarian_cancer,known_brca_mutation,brca_mutation_type,mammogram_up_to_date,last_mammogram_date,mammogram_result,breast_biopsy_history,breast_biopsy_details,breast_density,current_breast_symptoms,breast_symptom_details,breast_health_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT personal_history_breast_cancer (#PCDATA)>
<!ELEMENT breast_cancer_details (#PCDATA)>
<!ELEMENT breast_cancer_treatment (#PCDATA)>
<!ELEMENT family_history_breast_cancer (#PCDATA)>
<!ELEMENT family_breast_cancer_details (#PCDATA)>
<!ELEMENT family_history_ovarian_cancer (#PCDATA)>
<!ELEMENT known_brca_mutation (#PCDATA)>
<!ELEMENT brca_mutation_type (#PCDATA)>
<!ELEMENT mammogram_up_to_date (#PCDATA)>
<!ELEMENT last_mammogram_date (#PCDATA)>
<!ELEMENT mammogram_result (#PCDATA)>
<!ELEMENT breast_biopsy_history (#PCDATA)>
<!ELEMENT breast_biopsy_details (#PCDATA)>
<!ELEMENT breast_density (#PCDATA)>
<!ELEMENT current_breast_symptoms (#PCDATA)>
<!ELEMENT breast_symptom_details (#PCDATA)>
<!ELEMENT breast_health_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
