forms/hormone-replacement-therapy-assessment/xml-representations/assessment_vasomotor_symptoms.dtd

<!ELEMENT assessment_vasomotor_symptoms (id,assessment_id,hot_flushes_present,hot_flush_frequency,hot_flush_severity,hot_flush_duration_minutes,night_sweats,night_sweat_frequency,sleep_disruption,sleep_disruption_severity,palpitations,impact_on_work,impact_on_social_life,previous_vasomotor_treatment,previous_treatment_details,vasomotor_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT hot_flushes_present (#PCDATA)>
<!ELEMENT hot_flush_frequency (#PCDATA)>
<!ELEMENT hot_flush_severity (#PCDATA)>
<!ELEMENT hot_flush_duration_minutes (#PCDATA)>
<!ELEMENT night_sweats (#PCDATA)>
<!ELEMENT night_sweat_frequency (#PCDATA)>
<!ELEMENT sleep_disruption (#PCDATA)>
<!ELEMENT sleep_disruption_severity (#PCDATA)>
<!ELEMENT palpitations (#PCDATA)>
<!ELEMENT impact_on_work (#PCDATA)>
<!ELEMENT impact_on_social_life (#PCDATA)>
<!ELEMENT previous_vasomotor_treatment (#PCDATA)>
<!ELEMENT previous_treatment_details (#PCDATA)>
<!ELEMENT vasomotor_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
