forms/hormone-replacement-therapy-assessment/xml-representations/assessment_mrs_symptom_scale.dtd

<!ELEMENT assessment_mrs_symptom_scale (id,assessment_id,hot_flushes_sweating,heart_discomfort,sleep_problems,joint_muscle_discomfort,depressive_mood,irritability,anxiety,physical_mental_exhaustion,sexual_problems,bladder_problems,dryness_of_vagina,somatic_subscale_score,psychological_subscale_score,urogenital_subscale_score,mrs_total_score,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT hot_flushes_sweating (#PCDATA)>
<!ELEMENT heart_discomfort (#PCDATA)>
<!ELEMENT sleep_problems (#PCDATA)>
<!ELEMENT joint_muscle_discomfort (#PCDATA)>
<!ELEMENT depressive_mood (#PCDATA)>
<!ELEMENT irritability (#PCDATA)>
<!ELEMENT anxiety (#PCDATA)>
<!ELEMENT physical_mental_exhaustion (#PCDATA)>
<!ELEMENT sexual_problems (#PCDATA)>
<!ELEMENT bladder_problems (#PCDATA)>
<!ELEMENT dryness_of_vagina (#PCDATA)>
<!ELEMENT somatic_subscale_score (#PCDATA)>
<!ELEMENT psychological_subscale_score (#PCDATA)>
<!ELEMENT urogenital_subscale_score (#PCDATA)>
<!ELEMENT mrs_total_score (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
