forms/hormone-replacement-therapy-assessment/xml-representations/assessment_cardiovascular_risk.dtd

<!ELEMENT assessment_cardiovascular_risk (id,assessment_id,has_hypertension,systolic_bp_mmhg,diastolic_bp_mmhg,on_antihypertensive,has_diabetes,diabetes_type,hba1c,total_cholesterol,hdl_cholesterol,ldl_cholesterol,triglycerides,on_statin,history_of_vte,vte_details,history_of_stroke_tia,history_of_mi,family_history_cvd,qrisk3_score,cardiovascular_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_hypertension (#PCDATA)>
<!ELEMENT systolic_bp_mmhg (#PCDATA)>
<!ELEMENT diastolic_bp_mmhg (#PCDATA)>
<!ELEMENT on_antihypertensive (#PCDATA)>
<!ELEMENT has_diabetes (#PCDATA)>
<!ELEMENT diabetes_type (#PCDATA)>
<!ELEMENT hba1c (#PCDATA)>
<!ELEMENT total_cholesterol (#PCDATA)>
<!ELEMENT hdl_cholesterol (#PCDATA)>
<!ELEMENT ldl_cholesterol (#PCDATA)>
<!ELEMENT triglycerides (#PCDATA)>
<!ELEMENT on_statin (#PCDATA)>
<!ELEMENT history_of_vte (#PCDATA)>
<!ELEMENT vte_details (#PCDATA)>
<!ELEMENT history_of_stroke_tia (#PCDATA)>
<!ELEMENT history_of_mi (#PCDATA)>
<!ELEMENT family_history_cvd (#PCDATA)>
<!ELEMENT qrisk3_score (#PCDATA)>
<!ELEMENT cardiovascular_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
