forms/hormone-replacement-therapy-assessment/xml-representations/assessment_current_medications.dtd

<!ELEMENT assessment_current_medications (id,assessment_id,takes_regular_medications,current_hrt,current_hrt_type,current_hrt_route,current_hrt_duration,previous_hrt,previous_hrt_details,reason_for_stopping_hrt,takes_herbal_supplements,herbal_supplement_details,takes_anticoagulants,anticoagulant_details,medication_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT takes_regular_medications (#PCDATA)>
<!ELEMENT current_hrt (#PCDATA)>
<!ELEMENT current_hrt_type (#PCDATA)>
<!ELEMENT current_hrt_route (#PCDATA)>
<!ELEMENT current_hrt_duration (#PCDATA)>
<!ELEMENT previous_hrt (#PCDATA)>
<!ELEMENT previous_hrt_details (#PCDATA)>
<!ELEMENT reason_for_stopping_hrt (#PCDATA)>
<!ELEMENT takes_herbal_supplements (#PCDATA)>
<!ELEMENT herbal_supplement_details (#PCDATA)>
<!ELEMENT takes_anticoagulants (#PCDATA)>
<!ELEMENT anticoagulant_details (#PCDATA)>
<!ELEMENT medication_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
