forms/hormone-replacement-therapy-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,bone_health,breast_health,cardiovascular_risk,contraindications_screen,current_medication_item,current_medications,demographics,menopause_status,mrs_symptom_scale,treatment_preferences,vasomotor_symptoms)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT bone_health (id,assessment_id,previous_fracture,fracture_details,fragility_fracture,family_history_osteoporosis,family_history_hip_fracture,dexa_scan_performed,dexa_scan_date,spine_t_score,hip_t_score,dexa_result,calcium_intake,vitamin_d_level,vitamin_d_supplementation,corticosteroid_use,corticosteroid_details,frax_score,bone_health_notes,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT previous_fracture (#PCDATA)>
<!ELEMENT fracture_details (#PCDATA)>
<!ELEMENT fragility_fracture (#PCDATA)>
<!ELEMENT family_history_osteoporosis (#PCDATA)>
<!ELEMENT family_history_hip_fracture (#PCDATA)>
<!ELEMENT dexa_scan_performed (#PCDATA)>
<!ELEMENT dexa_scan_date (#PCDATA)>
<!ELEMENT spine_t_score (#PCDATA)>
<!ELEMENT hip_t_score (#PCDATA)>
<!ELEMENT dexa_result (#PCDATA)>
<!ELEMENT calcium_intake (#PCDATA)>
<!ELEMENT vitamin_d_level (#PCDATA)>
<!ELEMENT vitamin_d_supplementation (#PCDATA)>
<!ELEMENT corticosteroid_use (#PCDATA)>
<!ELEMENT corticosteroid_details (#PCDATA)>
<!ELEMENT frax_score (#PCDATA)>
<!ELEMENT bone_health_notes (#PCDATA)>
<!ELEMENT breast_health (id,assessment_id,personal_history_breast_cancer,breast_cancer_details,breast_cancer_treatment,family_history_breast_cancer,family_breast_cancer_details,family_history_ovarian_cancer,known_brca_mutation,brca_mutation_type,mammogram_up_to_date,last_mammogram_date,mammogram_result,breast_biopsy_history,breast_biopsy_details,breast_density,current_breast_symptoms,breast_symptom_details,breast_health_notes,created_at,updated_at)>
<!ELEMENT personal_history_breast_cancer (#PCDATA)>
<!ELEMENT breast_cancer_details (#PCDATA)>
<!ELEMENT breast_cancer_treatment (#PCDATA)>
<!ELEMENT family_history_breast_cancer (#PCDATA)>
<!ELEMENT family_breast_cancer_details (#PCDATA)>
<!ELEMENT family_history_ovarian_cancer (#PCDATA)>
<!ELEMENT known_brca_mutation (#PCDATA)>
<!ELEMENT brca_mutation_type (#PCDATA)>
<!ELEMENT mammogram_up_to_date (#PCDATA)>
<!ELEMENT last_mammogram_date (#PCDATA)>
<!ELEMENT mammogram_result (#PCDATA)>
<!ELEMENT breast_biopsy_history (#PCDATA)>
<!ELEMENT breast_biopsy_details (#PCDATA)>
<!ELEMENT breast_density (#PCDATA)>
<!ELEMENT current_breast_symptoms (#PCDATA)>
<!ELEMENT breast_symptom_details (#PCDATA)>
<!ELEMENT breast_health_notes (#PCDATA)>
<!ELEMENT cardiovascular_risk (id,assessment_id,has_hypertension,systolic_bp_mmhg,diastolic_bp_mmhg,on_antihypertensive,has_diabetes,diabetes_type,hba1c,total_cholesterol,hdl_cholesterol,ldl_cholesterol,triglycerides,on_statin,history_of_vte,vte_details,history_of_stroke_tia,history_of_mi,family_history_cvd,qrisk3_score,cardiovascular_notes,created_at,updated_at)>
<!ELEMENT has_hypertension (#PCDATA)>
<!ELEMENT systolic_bp_mmhg (#PCDATA)>
<!ELEMENT diastolic_bp_mmhg (#PCDATA)>
<!ELEMENT on_antihypertensive (#PCDATA)>
<!ELEMENT has_diabetes (#PCDATA)>
<!ELEMENT diabetes_type (#PCDATA)>
<!ELEMENT hba1c (#PCDATA)>
<!ELEMENT total_cholesterol (#PCDATA)>
<!ELEMENT hdl_cholesterol (#PCDATA)>
<!ELEMENT ldl_cholesterol (#PCDATA)>
<!ELEMENT triglycerides (#PCDATA)>
<!ELEMENT on_statin (#PCDATA)>
<!ELEMENT history_of_vte (#PCDATA)>
<!ELEMENT vte_details (#PCDATA)>
<!ELEMENT history_of_stroke_tia (#PCDATA)>
<!ELEMENT history_of_mi (#PCDATA)>
<!ELEMENT family_history_cvd (#PCDATA)>
<!ELEMENT qrisk3_score (#PCDATA)>
<!ELEMENT cardiovascular_notes (#PCDATA)>
<!ELEMENT contraindications_screen (id,assessment_id,undiagnosed_vaginal_bleeding,known_or_suspected_breast_cancer,known_or_suspected_oestrogen_dependent_neoplasm,active_or_recent_vte,active_or_recent_arterial_thromboembolism,untreated_endometrial_hyperplasia,active_liver_disease,porphyria,known_pregnancy,history_of_endometrial_cancer,history_of_vte,thrombophilia,migraine_with_aura,gallbladder_disease,epilepsy,sle,meningioma,absolute_contraindication_present,relative_contraindication_present,contraindication_notes,created_at,updated_at)>
<!ELEMENT undiagnosed_vaginal_bleeding (#PCDATA)>
<!ELEMENT known_or_suspected_breast_cancer (#PCDATA)>
<!ELEMENT known_or_suspected_oestrogen_dependent_neoplasm (#PCDATA)>
<!ELEMENT active_or_recent_vte (#PCDATA)>
<!ELEMENT active_or_recent_arterial_thromboembolism (#PCDATA)>
<!ELEMENT untreated_endometrial_hyperplasia (#PCDATA)>
<!ELEMENT active_liver_disease (#PCDATA)>
<!ELEMENT porphyria (#PCDATA)>
<!ELEMENT known_pregnancy (#PCDATA)>
<!ELEMENT history_of_endometrial_cancer (#PCDATA)>
<!ELEMENT thrombophilia (#PCDATA)>
<!ELEMENT migraine_with_aura (#PCDATA)>
<!ELEMENT gallbladder_disease (#PCDATA)>
<!ELEMENT epilepsy (#PCDATA)>
<!ELEMENT sle (#PCDATA)>
<!ELEMENT meningioma (#PCDATA)>
<!ELEMENT absolute_contraindication_present (#PCDATA)>
<!ELEMENT relative_contraindication_present (#PCDATA)>
<!ELEMENT contraindication_notes (#PCDATA)>
<!ELEMENT current_medication_item (id,current_medications_id,medication_name,dose,frequency,indication,sort_order,created_at,updated_at)>
<!ELEMENT current_medications_id (#PCDATA)>
<!ELEMENT medication_name (#PCDATA)>
<!ELEMENT dose (#PCDATA)>
<!ELEMENT frequency (#PCDATA)>
<!ELEMENT indication (#PCDATA)>
<!ELEMENT sort_order (#PCDATA)>
<!ELEMENT current_medications (id,assessment_id,takes_regular_medications,current_hrt,current_hrt_type,current_hrt_route,current_hrt_duration,previous_hrt,previous_hrt_details,reason_for_stopping_hrt,takes_herbal_supplements,herbal_supplement_details,takes_anticoagulants,anticoagulant_details,medication_notes,created_at,updated_at)>
<!ELEMENT takes_regular_medications (#PCDATA)>
<!ELEMENT current_hrt (#PCDATA)>
<!ELEMENT current_hrt_type (#PCDATA)>
<!ELEMENT current_hrt_route (#PCDATA)>
<!ELEMENT current_hrt_duration (#PCDATA)>
<!ELEMENT previous_hrt (#PCDATA)>
<!ELEMENT previous_hrt_details (#PCDATA)>
<!ELEMENT reason_for_stopping_hrt (#PCDATA)>
<!ELEMENT takes_herbal_supplements (#PCDATA)>
<!ELEMENT herbal_supplement_details (#PCDATA)>
<!ELEMENT takes_anticoagulants (#PCDATA)>
<!ELEMENT anticoagulant_details (#PCDATA)>
<!ELEMENT medication_notes (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,ethnicity,primary_language,interpreter_required,marital_status,occupation,smoking_status,alcohol_units_per_week,exercise_frequency,emergency_contact_name,emergency_contact_phone,gp_name,gp_practice,created_at,updated_at)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT primary_language (#PCDATA)>
<!ELEMENT interpreter_required (#PCDATA)>
<!ELEMENT marital_status (#PCDATA)>
<!ELEMENT occupation (#PCDATA)>
<!ELEMENT smoking_status (#PCDATA)>
<!ELEMENT alcohol_units_per_week (#PCDATA)>
<!ELEMENT exercise_frequency (#PCDATA)>
<!ELEMENT emergency_contact_name (#PCDATA)>
<!ELEMENT emergency_contact_phone (#PCDATA)>
<!ELEMENT gp_name (#PCDATA)>
<!ELEMENT gp_practice (#PCDATA)>
<!ELEMENT menopause_status (id,assessment_id,menopausal_status,age_at_menopause,premature_menopause,last_menstrual_period_date,menstrual_status,cycle_changes,surgical_menopause_type,surgical_menopause_date,fsh_level,oestradiol_level,hormone_testing_date,menopause_duration_years,menopause_status_notes,created_at,updated_at)>
<!ELEMENT menopausal_status (#PCDATA)>
<!ELEMENT age_at_menopause (#PCDATA)>
<!ELEMENT premature_menopause (#PCDATA)>
<!ELEMENT last_menstrual_period_date (#PCDATA)>
<!ELEMENT menstrual_status (#PCDATA)>
<!ELEMENT cycle_changes (#PCDATA)>
<!ELEMENT surgical_menopause_type (#PCDATA)>
<!ELEMENT surgical_menopause_date (#PCDATA)>
<!ELEMENT fsh_level (#PCDATA)>
<!ELEMENT oestradiol_level (#PCDATA)>
<!ELEMENT hormone_testing_date (#PCDATA)>
<!ELEMENT menopause_duration_years (#PCDATA)>
<!ELEMENT menopause_status_notes (#PCDATA)>
<!ELEMENT mrs_symptom_scale (id,assessment_id,hot_flushes_sweating,heart_discomfort,sleep_problems,joint_muscle_discomfort,depressive_mood,irritability,anxiety,physical_mental_exhaustion,sexual_problems,bladder_problems,dryness_of_vagina,somatic_subscale_score,psychological_subscale_score,urogenital_subscale_score,mrs_total_score,created_at,updated_at)>
<!ELEMENT hot_flushes_sweating (#PCDATA)>
<!ELEMENT heart_discomfort (#PCDATA)>
<!ELEMENT sleep_problems (#PCDATA)>
<!ELEMENT joint_muscle_discomfort (#PCDATA)>
<!ELEMENT depressive_mood (#PCDATA)>
<!ELEMENT irritability (#PCDATA)>
<!ELEMENT anxiety (#PCDATA)>
<!ELEMENT physical_mental_exhaustion (#PCDATA)>
<!ELEMENT sexual_problems (#PCDATA)>
<!ELEMENT bladder_problems (#PCDATA)>
<!ELEMENT dryness_of_vagina (#PCDATA)>
<!ELEMENT somatic_subscale_score (#PCDATA)>
<!ELEMENT psychological_subscale_score (#PCDATA)>
<!ELEMENT urogenital_subscale_score (#PCDATA)>
<!ELEMENT mrs_total_score (#PCDATA)>
<!ELEMENT treatment_preferences (id,assessment_id,preferred_hrt_route,has_uterus,combined_hrt_appropriate,preferred_regimen,interested_in_testosterone,testosterone_details,interested_in_vaginal_oestrogen,non_hormonal_alternatives_considered,non_hormonal_details,concerns_about_hrt,duration_expectation,follow_up_preference,informed_consent_discussed,patient_information_provided,treatment_preference_notes,created_at,updated_at)>
<!ELEMENT preferred_hrt_route (#PCDATA)>
<!ELEMENT has_uterus (#PCDATA)>
<!ELEMENT combined_hrt_appropriate (#PCDATA)>
<!ELEMENT preferred_regimen (#PCDATA)>
<!ELEMENT interested_in_testosterone (#PCDATA)>
<!ELEMENT testosterone_details (#PCDATA)>
<!ELEMENT interested_in_vaginal_oestrogen (#PCDATA)>
<!ELEMENT non_hormonal_alternatives_considered (#PCDATA)>
<!ELEMENT non_hormonal_details (#PCDATA)>
<!ELEMENT concerns_about_hrt (#PCDATA)>
<!ELEMENT duration_expectation (#PCDATA)>
<!ELEMENT follow_up_preference (#PCDATA)>
<!ELEMENT informed_consent_discussed (#PCDATA)>
<!ELEMENT patient_information_provided (#PCDATA)>
<!ELEMENT treatment_preference_notes (#PCDATA)>
<!ELEMENT vasomotor_symptoms (id,assessment_id,hot_flushes_present,hot_flush_frequency,hot_flush_severity,hot_flush_duration_minutes,night_sweats,night_sweat_frequency,sleep_disruption,sleep_disruption_severity,palpitations,impact_on_work,impact_on_social_life,previous_vasomotor_treatment,previous_treatment_details,vasomotor_notes,created_at,updated_at)>
<!ELEMENT hot_flushes_present (#PCDATA)>
<!ELEMENT hot_flush_frequency (#PCDATA)>
<!ELEMENT hot_flush_severity (#PCDATA)>
<!ELEMENT hot_flush_duration_minutes (#PCDATA)>
<!ELEMENT night_sweats (#PCDATA)>
<!ELEMENT night_sweat_frequency (#PCDATA)>
<!ELEMENT sleep_disruption (#PCDATA)>
<!ELEMENT sleep_disruption_severity (#PCDATA)>
<!ELEMENT palpitations (#PCDATA)>
<!ELEMENT impact_on_work (#PCDATA)>
<!ELEMENT impact_on_social_life (#PCDATA)>
<!ELEMENT previous_vasomotor_treatment (#PCDATA)>
<!ELEMENT previous_treatment_details (#PCDATA)>
<!ELEMENT vasomotor_notes (#PCDATA)>
