forms/hormone-replacement-therapy-assessment/xml-representations/assessment_treatment_preferences.dtd

<!ELEMENT assessment_treatment_preferences (id,assessment_id,preferred_hrt_route,has_uterus,combined_hrt_appropriate,preferred_regimen,interested_in_testosterone,testosterone_details,interested_in_vaginal_oestrogen,non_hormonal_alternatives_considered,non_hormonal_details,concerns_about_hrt,duration_expectation,follow_up_preference,informed_consent_discussed,patient_information_provided,treatment_preference_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT preferred_hrt_route (#PCDATA)>
<!ELEMENT has_uterus (#PCDATA)>
<!ELEMENT combined_hrt_appropriate (#PCDATA)>
<!ELEMENT preferred_regimen (#PCDATA)>
<!ELEMENT interested_in_testosterone (#PCDATA)>
<!ELEMENT testosterone_details (#PCDATA)>
<!ELEMENT interested_in_vaginal_oestrogen (#PCDATA)>
<!ELEMENT non_hormonal_alternatives_considered (#PCDATA)>
<!ELEMENT non_hormonal_details (#PCDATA)>
<!ELEMENT concerns_about_hrt (#PCDATA)>
<!ELEMENT duration_expectation (#PCDATA)>
<!ELEMENT follow_up_preference (#PCDATA)>
<!ELEMENT informed_consent_discussed (#PCDATA)>
<!ELEMENT patient_information_provided (#PCDATA)>
<!ELEMENT treatment_preference_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
