forms/hormone-replacement-therapy-assessment/xml-representations/assessment_menopause_status.dtd

<!ELEMENT assessment_menopause_status (id,assessment_id,menopausal_status,age_at_menopause,premature_menopause,last_menstrual_period_date,menstrual_status,cycle_changes,surgical_menopause_type,surgical_menopause_date,fsh_level,oestradiol_level,hormone_testing_date,menopause_duration_years,menopause_status_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT menopausal_status (#PCDATA)>
<!ELEMENT age_at_menopause (#PCDATA)>
<!ELEMENT premature_menopause (#PCDATA)>
<!ELEMENT last_menstrual_period_date (#PCDATA)>
<!ELEMENT menstrual_status (#PCDATA)>
<!ELEMENT cycle_changes (#PCDATA)>
<!ELEMENT surgical_menopause_type (#PCDATA)>
<!ELEMENT surgical_menopause_date (#PCDATA)>
<!ELEMENT fsh_level (#PCDATA)>
<!ELEMENT oestradiol_level (#PCDATA)>
<!ELEMENT hormone_testing_date (#PCDATA)>
<!ELEMENT menopause_duration_years (#PCDATA)>
<!ELEMENT menopause_status_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
