forms/ergonomoic-assessment/xml-representations/assessment_psychosocial_factors.dtd

<!ELEMENT assessment_psychosocial_factors (id,assessment_id,job_satisfaction,work_pace,job_control,work_related_stress,support_from_colleagues,support_from_management,overtime_hours_per_week,deadline_pressure,work_life_balance,fear_of_job_loss,monotonous_work,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT job_satisfaction (#PCDATA)>
<!ELEMENT work_pace (#PCDATA)>
<!ELEMENT job_control (#PCDATA)>
<!ELEMENT work_related_stress (#PCDATA)>
<!ELEMENT support_from_colleagues (#PCDATA)>
<!ELEMENT support_from_management (#PCDATA)>
<!ELEMENT overtime_hours_per_week (#PCDATA)>
<!ELEMENT deadline_pressure (#PCDATA)>
<!ELEMENT work_life_balance (#PCDATA)>
<!ELEMENT fear_of_job_loss (#PCDATA)>
<!ELEMENT monotonous_work (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
