forms/ergonomoic-assessment/xml-representations/assessment_recommendations_action_plan.dtd

<!ELEMENT assessment_recommendations_action_plan (id,assessment_id,workstation_modifications,equipment_recommendations,posture_advice,exercise_programme,break_schedule_advice,referral_to_physiotherapy,referral_to_occupational_health,referral_to_specialist,specialist_type,follow_up_required,follow_up_date,follow_up_interval,priority_level,assessor_name,assessment_date,clinician_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT workstation_modifications (#PCDATA)>
<!ELEMENT equipment_recommendations (#PCDATA)>
<!ELEMENT posture_advice (#PCDATA)>
<!ELEMENT exercise_programme (#PCDATA)>
<!ELEMENT break_schedule_advice (#PCDATA)>
<!ELEMENT referral_to_physiotherapy (#PCDATA)>
<!ELEMENT referral_to_occupational_health (#PCDATA)>
<!ELEMENT referral_to_specialist (#PCDATA)>
<!ELEMENT specialist_type (#PCDATA)>
<!ELEMENT follow_up_required (#PCDATA)>
<!ELEMENT follow_up_date (#PCDATA)>
<!ELEMENT follow_up_interval (#PCDATA)>
<!ELEMENT priority_level (#PCDATA)>
<!ELEMENT assessor_name (#PCDATA)>
<!ELEMENT assessment_date (#PCDATA)>
<!ELEMENT clinician_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
