forms/ergonomoic-assessment/xml-representations/assessment_medical_history.dtd

<!ELEMENT assessment_medical_history (id,assessment_id,has_previous_msk_injury,msk_injury_details,has_carpal_tunnel,has_tennis_elbow,has_disc_herniation,has_arthritis,arthritis_type,has_fibromyalgia,has_osteoporosis,has_previous_surgery,surgery_details,has_vision_problems,wears_corrective_lenses,other_conditions,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_previous_msk_injury (#PCDATA)>
<!ELEMENT msk_injury_details (#PCDATA)>
<!ELEMENT has_carpal_tunnel (#PCDATA)>
<!ELEMENT has_tennis_elbow (#PCDATA)>
<!ELEMENT has_disc_herniation (#PCDATA)>
<!ELEMENT has_arthritis (#PCDATA)>
<!ELEMENT arthritis_type (#PCDATA)>
<!ELEMENT has_fibromyalgia (#PCDATA)>
<!ELEMENT has_osteoporosis (#PCDATA)>
<!ELEMENT has_previous_surgery (#PCDATA)>
<!ELEMENT surgery_details (#PCDATA)>
<!ELEMENT has_vision_problems (#PCDATA)>
<!ELEMENT wears_corrective_lenses (#PCDATA)>
<!ELEMENT other_conditions (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
