forms/ergonomoic-assessment/xml-representations/assessment_posture.dtd

<!ELEMENT assessment_posture (id,assessment_id,trunk_position,trunk_score,trunk_side_bent,trunk_twisted,neck_position,neck_score,neck_side_bent,neck_twisted,leg_position,leg_score,knee_flexion,upper_arm_position,upper_arm_score,shoulder_raised,upper_arm_abducted,lower_arm_position,lower_arm_score,wrist_position,wrist_score,wrist_deviated,wrist_twisted,posture_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT trunk_position (#PCDATA)>
<!ELEMENT trunk_score (#PCDATA)>
<!ELEMENT trunk_side_bent (#PCDATA)>
<!ELEMENT trunk_twisted (#PCDATA)>
<!ELEMENT neck_position (#PCDATA)>
<!ELEMENT neck_score (#PCDATA)>
<!ELEMENT neck_side_bent (#PCDATA)>
<!ELEMENT neck_twisted (#PCDATA)>
<!ELEMENT leg_position (#PCDATA)>
<!ELEMENT leg_score (#PCDATA)>
<!ELEMENT knee_flexion (#PCDATA)>
<!ELEMENT upper_arm_position (#PCDATA)>
<!ELEMENT upper_arm_score (#PCDATA)>
<!ELEMENT shoulder_raised (#PCDATA)>
<!ELEMENT upper_arm_abducted (#PCDATA)>
<!ELEMENT lower_arm_position (#PCDATA)>
<!ELEMENT lower_arm_score (#PCDATA)>
<!ELEMENT wrist_position (#PCDATA)>
<!ELEMENT wrist_score (#PCDATA)>
<!ELEMENT wrist_deviated (#PCDATA)>
<!ELEMENT wrist_twisted (#PCDATA)>
<!ELEMENT posture_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
