forms/ergonomoic-assessment/xml-representations/assessment_current_symptoms.dtd

<!ELEMENT assessment_current_symptoms (id,assessment_id,neck_pain,neck_pain_severity,neck_pain_frequency,shoulder_pain,shoulder_pain_side,upper_back_pain,lower_back_pain,lower_back_pain_severity,wrist_hand_pain,wrist_hand_side,elbow_pain,hip_pain,knee_pain,tingling_numbness,tingling_location,symptoms_worse_at_work,symptoms_improve_off_work,days_lost_last_year,visual_symptoms,visual_symptom_details,headaches,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT neck_pain (#PCDATA)>
<!ELEMENT neck_pain_severity (#PCDATA)>
<!ELEMENT neck_pain_frequency (#PCDATA)>
<!ELEMENT shoulder_pain (#PCDATA)>
<!ELEMENT shoulder_pain_side (#PCDATA)>
<!ELEMENT upper_back_pain (#PCDATA)>
<!ELEMENT lower_back_pain (#PCDATA)>
<!ELEMENT lower_back_pain_severity (#PCDATA)>
<!ELEMENT wrist_hand_pain (#PCDATA)>
<!ELEMENT wrist_hand_side (#PCDATA)>
<!ELEMENT elbow_pain (#PCDATA)>
<!ELEMENT hip_pain (#PCDATA)>
<!ELEMENT knee_pain (#PCDATA)>
<!ELEMENT tingling_numbness (#PCDATA)>
<!ELEMENT tingling_location (#PCDATA)>
<!ELEMENT symptoms_worse_at_work (#PCDATA)>
<!ELEMENT symptoms_improve_off_work (#PCDATA)>
<!ELEMENT days_lost_last_year (#PCDATA)>
<!ELEMENT visual_symptoms (#PCDATA)>
<!ELEMENT visual_symptom_details (#PCDATA)>
<!ELEMENT headaches (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
