forms/ergonomoic-assessment/xml-representations/assessment_manual_handling.dtd

<!ELEMENT assessment_manual_handling (id,assessment_id,involves_lifting,max_lift_weight_kg,lifting_frequency,lifting_height,involves_carrying,carry_distance_metres,involves_pushing_pulling,push_pull_force,two_person_lift_available,mechanical_aids_available,mechanical_aids_details,load_characteristics,floor_conditions,space_constraints,manual_handling_training,training_date,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT involves_lifting (#PCDATA)>
<!ELEMENT max_lift_weight_kg (#PCDATA)>
<!ELEMENT lifting_frequency (#PCDATA)>
<!ELEMENT lifting_height (#PCDATA)>
<!ELEMENT involves_carrying (#PCDATA)>
<!ELEMENT carry_distance_metres (#PCDATA)>
<!ELEMENT involves_pushing_pulling (#PCDATA)>
<!ELEMENT push_pull_force (#PCDATA)>
<!ELEMENT two_person_lift_available (#PCDATA)>
<!ELEMENT mechanical_aids_available (#PCDATA)>
<!ELEMENT mechanical_aids_details (#PCDATA)>
<!ELEMENT load_characteristics (#PCDATA)>
<!ELEMENT floor_conditions (#PCDATA)>
<!ELEMENT space_constraints (#PCDATA)>
<!ELEMENT manual_handling_training (#PCDATA)>
<!ELEMENT training_date (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
