forms/ergonomoic-assessment/xml-representations/assessment_workstation_setup.dtd

<!ELEMENT assessment_workstation_setup (id,assessment_id,workstation_type,workstation_type_other,chair_type,chair_adjustable,monitor_count,monitor_position,monitor_distance_cm,keyboard_type,mouse_type,desk_height_adjustable,footrest_available,wrist_rest_available,lighting_adequate,lighting_notes,hours_at_workstation_per_day,break_frequency,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT workstation_type (#PCDATA)>
<!ELEMENT workstation_type_other (#PCDATA)>
<!ELEMENT chair_type (#PCDATA)>
<!ELEMENT chair_adjustable (#PCDATA)>
<!ELEMENT monitor_count (#PCDATA)>
<!ELEMENT monitor_position (#PCDATA)>
<!ELEMENT monitor_distance_cm (#PCDATA)>
<!ELEMENT keyboard_type (#PCDATA)>
<!ELEMENT mouse_type (#PCDATA)>
<!ELEMENT desk_height_adjustable (#PCDATA)>
<!ELEMENT footrest_available (#PCDATA)>
<!ELEMENT wrist_rest_available (#PCDATA)>
<!ELEMENT lighting_adequate (#PCDATA)>
<!ELEMENT lighting_notes (#PCDATA)>
<!ELEMENT hours_at_workstation_per_day (#PCDATA)>
<!ELEMENT break_frequency (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
