forms/ergonomoic-assessment/xml-representations/assessment_repetitive_tasks.dtd

<!ELEMENT assessment_repetitive_tasks (id,assessment_id,keyboard_use_hours,mouse_use_hours,repetitive_hand_movements,hand_movement_frequency,hand_movement_description,repetitive_arm_movements,arm_movement_description,sustained_grip,grip_duration_minutes,pinch_grip_required,vibrating_tools_use,vibrating_tools_details,task_rotation_available,cycle_time_seconds,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT keyboard_use_hours (#PCDATA)>
<!ELEMENT mouse_use_hours (#PCDATA)>
<!ELEMENT repetitive_hand_movements (#PCDATA)>
<!ELEMENT hand_movement_frequency (#PCDATA)>
<!ELEMENT hand_movement_description (#PCDATA)>
<!ELEMENT repetitive_arm_movements (#PCDATA)>
<!ELEMENT arm_movement_description (#PCDATA)>
<!ELEMENT sustained_grip (#PCDATA)>
<!ELEMENT grip_duration_minutes (#PCDATA)>
<!ELEMENT pinch_grip_required (#PCDATA)>
<!ELEMENT vibrating_tools_use (#PCDATA)>
<!ELEMENT vibrating_tools_details (#PCDATA)>
<!ELEMENT task_rotation_available (#PCDATA)>
<!ELEMENT cycle_time_seconds (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
