forms/ergonomoic-assessment/xml-representations/assessment_current_interventions.dtd

<!ELEMENT assessment_current_interventions (id,assessment_id,uses_ergonomic_equipment,ergonomic_equipment_details,uses_wrist_splint,uses_back_support,receives_physiotherapy,physiotherapy_details,receives_occupational_therapy,takes_pain_medication,pain_medication_details,performs_stretching_exercises,stretching_frequency,workplace_assessment_done,workplace_assessment_date,modifications_made,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT uses_ergonomic_equipment (#PCDATA)>
<!ELEMENT ergonomic_equipment_details (#PCDATA)>
<!ELEMENT uses_wrist_splint (#PCDATA)>
<!ELEMENT uses_back_support (#PCDATA)>
<!ELEMENT receives_physiotherapy (#PCDATA)>
<!ELEMENT physiotherapy_details (#PCDATA)>
<!ELEMENT receives_occupational_therapy (#PCDATA)>
<!ELEMENT takes_pain_medication (#PCDATA)>
<!ELEMENT pain_medication_details (#PCDATA)>
<!ELEMENT performs_stretching_exercises (#PCDATA)>
<!ELEMENT stretching_frequency (#PCDATA)>
<!ELEMENT workplace_assessment_done (#PCDATA)>
<!ELEMENT workplace_assessment_date (#PCDATA)>
<!ELEMENT modifications_made (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
