forms/ergonomoic-assessment/xml-representations/grading_result.dtd

<!ELEMENT grading_result (id,assessment_id,reba_score,risk_level,action_level,group_a_score,group_b_score,graded_at,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT reba_score (#PCDATA)>
<!ELEMENT risk_level (#PCDATA)>
<!ELEMENT action_level (#PCDATA)>
<!ELEMENT group_a_score (#PCDATA)>
<!ELEMENT group_b_score (#PCDATA)>
<!ELEMENT graded_at (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
