forms/care-privacy-notice/xml-representations/assessment_practice_configuration.dtd

<!ELEMENT assessment_practice_configuration (id,assessment_id,practice_name,practice_address,dpo_name,dpo_contact_details,research_organisations,data_sharing_partners,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT practice_name (#PCDATA)>
<!ELEMENT practice_address (#PCDATA)>
<!ELEMENT dpo_name (#PCDATA)>
<!ELEMENT dpo_contact_details (#PCDATA)>
<!ELEMENT research_organisations (#PCDATA)>
<!ELEMENT data_sharing_partners (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
