forms/care-privacy-notice/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,acknowledgment,practice_configuration)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT acknowledgment (id,assessment_id,agreed,patient_typed_full_name,patient_typed_date,acknowledged_at,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT agreed (#PCDATA)>
<!ELEMENT patient_typed_full_name (#PCDATA)>
<!ELEMENT patient_typed_date (#PCDATA)>
<!ELEMENT acknowledged_at (#PCDATA)>
<!ELEMENT practice_configuration (id,assessment_id,practice_name,practice_address,dpo_name,dpo_contact_details,research_organisations,data_sharing_partners,created_at,updated_at)>
<!ELEMENT practice_name (#PCDATA)>
<!ELEMENT practice_address (#PCDATA)>
<!ELEMENT dpo_name (#PCDATA)>
<!ELEMENT dpo_contact_details (#PCDATA)>
<!ELEMENT research_organisations (#PCDATA)>
<!ELEMENT data_sharing_partners (#PCDATA)>
