forms/care-privacy-notice/xml-representations/grading_result.dtd

<!ELEMENT grading_result (id,assessment_id,completeness_status,sections_complete,sections_total,graded_at,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT completeness_status (#PCDATA)>
<!ELEMENT sections_complete (#PCDATA)>
<!ELEMENT sections_total (#PCDATA)>
<!ELEMENT graded_at (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
