forms/dyslexia-assessment/xml-representations/assessment_reading.dtd

<!ELEMENT assessment_reading (id,assessment_id,reading_fluency_score,reading_comprehension_score,single_word_reading_score,nonword_reading_score,reading_speed,reading_accuracy,reading_avoidance,reading_fatigue,reading_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT reading_fluency_score (#PCDATA)>
<!ELEMENT reading_comprehension_score (#PCDATA)>
<!ELEMENT single_word_reading_score (#PCDATA)>
<!ELEMENT nonword_reading_score (#PCDATA)>
<!ELEMENT reading_speed (#PCDATA)>
<!ELEMENT reading_accuracy (#PCDATA)>
<!ELEMENT reading_avoidance (#PCDATA)>
<!ELEMENT reading_fatigue (#PCDATA)>
<!ELEMENT reading_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
