forms/dyslexia-assessment/xml-representations/assessment_writing_spelling.dtd

<!ELEMENT assessment_writing_spelling (id,assessment_id,spelling_score,written_expression_score,handwriting_quality,handwriting_speed,spelling_error_pattern,sentence_structure,punctuation_use,writing_avoidance,writing_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT spelling_score (#PCDATA)>
<!ELEMENT written_expression_score (#PCDATA)>
<!ELEMENT handwriting_quality (#PCDATA)>
<!ELEMENT handwriting_speed (#PCDATA)>
<!ELEMENT spelling_error_pattern (#PCDATA)>
<!ELEMENT sentence_structure (#PCDATA)>
<!ELEMENT punctuation_use (#PCDATA)>
<!ELEMENT writing_avoidance (#PCDATA)>
<!ELEMENT writing_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
