forms/dyslexia-assessment/xml-representations/assessment_recommendations.dtd

<!ELEMENT assessment_recommendations (id,assessment_id,specialist_teaching,specialist_teaching_details,classroom_accommodations,classroom_accommodations_details,assistive_technology_recommended,assistive_technology_recommended_details,exam_access_recommended,exam_access_recommended_details,further_referrals,further_referrals_details,review_date,recommendations_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT specialist_teaching (#PCDATA)>
<!ELEMENT specialist_teaching_details (#PCDATA)>
<!ELEMENT classroom_accommodations (#PCDATA)>
<!ELEMENT classroom_accommodations_details (#PCDATA)>
<!ELEMENT assistive_technology_recommended (#PCDATA)>
<!ELEMENT assistive_technology_recommended_details (#PCDATA)>
<!ELEMENT exam_access_recommended (#PCDATA)>
<!ELEMENT exam_access_recommended_details (#PCDATA)>
<!ELEMENT further_referrals (#PCDATA)>
<!ELEMENT further_referrals_details (#PCDATA)>
<!ELEMENT review_date (#PCDATA)>
<!ELEMENT recommendations_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
