forms/dyslexia-assessment/xml-representations/assessment_developmental_history.dtd

<!ELEMENT assessment_developmental_history (id,assessment_id,birth_complications,birth_complications_details,speech_delay,speech_delay_details,motor_delay,motor_delay_details,family_history_dyslexia,family_history_details,family_history_other_learning_difficulties,family_history_other_details,hearing_concerns,hearing_concerns_details,vision_concerns,vision_concerns_details,developmental_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT birth_complications (#PCDATA)>
<!ELEMENT birth_complications_details (#PCDATA)>
<!ELEMENT speech_delay (#PCDATA)>
<!ELEMENT speech_delay_details (#PCDATA)>
<!ELEMENT motor_delay (#PCDATA)>
<!ELEMENT motor_delay_details (#PCDATA)>
<!ELEMENT family_history_dyslexia (#PCDATA)>
<!ELEMENT family_history_details (#PCDATA)>
<!ELEMENT family_history_other_learning_difficulties (#PCDATA)>
<!ELEMENT family_history_other_details (#PCDATA)>
<!ELEMENT hearing_concerns (#PCDATA)>
<!ELEMENT hearing_concerns_details (#PCDATA)>
<!ELEMENT vision_concerns (#PCDATA)>
<!ELEMENT vision_concerns_details (#PCDATA)>
<!ELEMENT developmental_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
