forms/dyslexia-assessment/xml-representations/assessment_previous_support.dtd

<!ELEMENT assessment_previous_support (id,assessment_id,previous_assessments,previous_assessments_details,previous_diagnosis,previous_diagnosis_details,school_interventions,school_interventions_details,speech_therapy,speech_therapy_details,occupational_therapy,occupational_therapy_details,assistive_technology,assistive_technology_details,exam_access_arrangements,exam_access_details,support_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT previous_assessments (#PCDATA)>
<!ELEMENT previous_assessments_details (#PCDATA)>
<!ELEMENT previous_diagnosis (#PCDATA)>
<!ELEMENT previous_diagnosis_details (#PCDATA)>
<!ELEMENT school_interventions (#PCDATA)>
<!ELEMENT school_interventions_details (#PCDATA)>
<!ELEMENT speech_therapy (#PCDATA)>
<!ELEMENT speech_therapy_details (#PCDATA)>
<!ELEMENT occupational_therapy (#PCDATA)>
<!ELEMENT occupational_therapy_details (#PCDATA)>
<!ELEMENT assistive_technology (#PCDATA)>
<!ELEMENT assistive_technology_details (#PCDATA)>
<!ELEMENT exam_access_arrangements (#PCDATA)>
<!ELEMENT exam_access_details (#PCDATA)>
<!ELEMENT support_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
