forms/dyslexia-assessment/xml-representations/assessment_educational_background.dtd

<!ELEMENT assessment_educational_background (id,assessment_id,current_education_level,school_name,year_group,previous_schools_count,school_attendance,academic_performance,english_as_additional_language,additional_languages,sen_register,ehcp,ehcp_details,educational_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT current_education_level (#PCDATA)>
<!ELEMENT school_name (#PCDATA)>
<!ELEMENT year_group (#PCDATA)>
<!ELEMENT previous_schools_count (#PCDATA)>
<!ELEMENT school_attendance (#PCDATA)>
<!ELEMENT academic_performance (#PCDATA)>
<!ELEMENT english_as_additional_language (#PCDATA)>
<!ELEMENT additional_languages (#PCDATA)>
<!ELEMENT sen_register (#PCDATA)>
<!ELEMENT ehcp (#PCDATA)>
<!ELEMENT ehcp_details (#PCDATA)>
<!ELEMENT educational_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
