forms/dyslexia-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,demographics,developmental_history,educational_background,emotional_behavioural,phonological_processing,previous_support,reading,recommendations,working_memory_processing_speed,writing_spelling)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,preferred_name,gender_identity,ethnicity,preferred_language,interpreter_required,gp_name,gp_practice,referrer_name,referrer_role,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT preferred_name (#PCDATA)>
<!ELEMENT gender_identity (#PCDATA)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT preferred_language (#PCDATA)>
<!ELEMENT interpreter_required (#PCDATA)>
<!ELEMENT gp_name (#PCDATA)>
<!ELEMENT gp_practice (#PCDATA)>
<!ELEMENT referrer_name (#PCDATA)>
<!ELEMENT referrer_role (#PCDATA)>
<!ELEMENT developmental_history (id,assessment_id,birth_complications,birth_complications_details,speech_delay,speech_delay_details,motor_delay,motor_delay_details,family_history_dyslexia,family_history_details,family_history_other_learning_difficulties,family_history_other_details,hearing_concerns,hearing_concerns_details,vision_concerns,vision_concerns_details,developmental_notes,created_at,updated_at)>
<!ELEMENT birth_complications (#PCDATA)>
<!ELEMENT birth_complications_details (#PCDATA)>
<!ELEMENT speech_delay (#PCDATA)>
<!ELEMENT speech_delay_details (#PCDATA)>
<!ELEMENT motor_delay (#PCDATA)>
<!ELEMENT motor_delay_details (#PCDATA)>
<!ELEMENT family_history_dyslexia (#PCDATA)>
<!ELEMENT family_history_details (#PCDATA)>
<!ELEMENT family_history_other_learning_difficulties (#PCDATA)>
<!ELEMENT family_history_other_details (#PCDATA)>
<!ELEMENT hearing_concerns (#PCDATA)>
<!ELEMENT hearing_concerns_details (#PCDATA)>
<!ELEMENT vision_concerns (#PCDATA)>
<!ELEMENT vision_concerns_details (#PCDATA)>
<!ELEMENT developmental_notes (#PCDATA)>
<!ELEMENT educational_background (id,assessment_id,current_education_level,school_name,year_group,previous_schools_count,school_attendance,academic_performance,english_as_additional_language,additional_languages,sen_register,ehcp,ehcp_details,educational_notes,created_at,updated_at)>
<!ELEMENT current_education_level (#PCDATA)>
<!ELEMENT school_name (#PCDATA)>
<!ELEMENT year_group (#PCDATA)>
<!ELEMENT previous_schools_count (#PCDATA)>
<!ELEMENT school_attendance (#PCDATA)>
<!ELEMENT academic_performance (#PCDATA)>
<!ELEMENT english_as_additional_language (#PCDATA)>
<!ELEMENT additional_languages (#PCDATA)>
<!ELEMENT sen_register (#PCDATA)>
<!ELEMENT ehcp (#PCDATA)>
<!ELEMENT ehcp_details (#PCDATA)>
<!ELEMENT educational_notes (#PCDATA)>
<!ELEMENT emotional_behavioural (id,assessment_id,self_esteem,anxiety_about_learning,anxiety_details,frustration_with_tasks,frustration_details,avoidance_behaviours,avoidance_details,peer_relationships,behavioural_concerns,behavioural_concerns_details,motivation_for_learning,emotional_notes,created_at,updated_at)>
<!ELEMENT self_esteem (#PCDATA)>
<!ELEMENT anxiety_about_learning (#PCDATA)>
<!ELEMENT anxiety_details (#PCDATA)>
<!ELEMENT frustration_with_tasks (#PCDATA)>
<!ELEMENT frustration_details (#PCDATA)>
<!ELEMENT avoidance_behaviours (#PCDATA)>
<!ELEMENT avoidance_details (#PCDATA)>
<!ELEMENT peer_relationships (#PCDATA)>
<!ELEMENT behavioural_concerns (#PCDATA)>
<!ELEMENT behavioural_concerns_details (#PCDATA)>
<!ELEMENT motivation_for_learning (#PCDATA)>
<!ELEMENT emotional_notes (#PCDATA)>
<!ELEMENT phonological_processing (id,assessment_id,phonological_awareness_score,phonological_memory_score,rapid_naming_score,rhyme_detection,phoneme_segmentation,phoneme_blending,phoneme_manipulation,rapid_naming_difficulty,phonological_notes,created_at,updated_at)>
<!ELEMENT phonological_awareness_score (#PCDATA)>
<!ELEMENT phonological_memory_score (#PCDATA)>
<!ELEMENT rapid_naming_score (#PCDATA)>
<!ELEMENT rhyme_detection (#PCDATA)>
<!ELEMENT phoneme_segmentation (#PCDATA)>
<!ELEMENT phoneme_blending (#PCDATA)>
<!ELEMENT phoneme_manipulation (#PCDATA)>
<!ELEMENT rapid_naming_difficulty (#PCDATA)>
<!ELEMENT phonological_notes (#PCDATA)>
<!ELEMENT previous_support (id,assessment_id,previous_assessments,previous_assessments_details,previous_diagnosis,previous_diagnosis_details,school_interventions,school_interventions_details,speech_therapy,speech_therapy_details,occupational_therapy,occupational_therapy_details,assistive_technology,assistive_technology_details,exam_access_arrangements,exam_access_details,support_notes,created_at,updated_at)>
<!ELEMENT previous_assessments (#PCDATA)>
<!ELEMENT previous_assessments_details (#PCDATA)>
<!ELEMENT previous_diagnosis (#PCDATA)>
<!ELEMENT previous_diagnosis_details (#PCDATA)>
<!ELEMENT school_interventions (#PCDATA)>
<!ELEMENT school_interventions_details (#PCDATA)>
<!ELEMENT speech_therapy (#PCDATA)>
<!ELEMENT speech_therapy_details (#PCDATA)>
<!ELEMENT occupational_therapy (#PCDATA)>
<!ELEMENT occupational_therapy_details (#PCDATA)>
<!ELEMENT assistive_technology (#PCDATA)>
<!ELEMENT assistive_technology_details (#PCDATA)>
<!ELEMENT exam_access_arrangements (#PCDATA)>
<!ELEMENT exam_access_details (#PCDATA)>
<!ELEMENT support_notes (#PCDATA)>
<!ELEMENT reading (id,assessment_id,reading_fluency_score,reading_comprehension_score,single_word_reading_score,nonword_reading_score,reading_speed,reading_accuracy,reading_avoidance,reading_fatigue,reading_notes,created_at,updated_at)>
<!ELEMENT reading_fluency_score (#PCDATA)>
<!ELEMENT reading_comprehension_score (#PCDATA)>
<!ELEMENT single_word_reading_score (#PCDATA)>
<!ELEMENT nonword_reading_score (#PCDATA)>
<!ELEMENT reading_speed (#PCDATA)>
<!ELEMENT reading_accuracy (#PCDATA)>
<!ELEMENT reading_avoidance (#PCDATA)>
<!ELEMENT reading_fatigue (#PCDATA)>
<!ELEMENT reading_notes (#PCDATA)>
<!ELEMENT recommendations (id,assessment_id,specialist_teaching,specialist_teaching_details,classroom_accommodations,classroom_accommodations_details,assistive_technology_recommended,assistive_technology_recommended_details,exam_access_recommended,exam_access_recommended_details,further_referrals,further_referrals_details,review_date,recommendations_notes,created_at,updated_at)>
<!ELEMENT specialist_teaching (#PCDATA)>
<!ELEMENT specialist_teaching_details (#PCDATA)>
<!ELEMENT classroom_accommodations (#PCDATA)>
<!ELEMENT classroom_accommodations_details (#PCDATA)>
<!ELEMENT assistive_technology_recommended (#PCDATA)>
<!ELEMENT assistive_technology_recommended_details (#PCDATA)>
<!ELEMENT exam_access_recommended (#PCDATA)>
<!ELEMENT exam_access_recommended_details (#PCDATA)>
<!ELEMENT further_referrals (#PCDATA)>
<!ELEMENT further_referrals_details (#PCDATA)>
<!ELEMENT review_date (#PCDATA)>
<!ELEMENT recommendations_notes (#PCDATA)>
<!ELEMENT working_memory_processing_speed (id,assessment_id,working_memory_score,processing_speed_score,digit_span_forward,digit_span_backward,following_instructions,task_completion_speed,organisational_skills,concentration_difficulties,concentration_details,working_memory_notes,created_at,updated_at)>
<!ELEMENT working_memory_score (#PCDATA)>
<!ELEMENT processing_speed_score (#PCDATA)>
<!ELEMENT digit_span_forward (#PCDATA)>
<!ELEMENT digit_span_backward (#PCDATA)>
<!ELEMENT following_instructions (#PCDATA)>
<!ELEMENT task_completion_speed (#PCDATA)>
<!ELEMENT organisational_skills (#PCDATA)>
<!ELEMENT concentration_difficulties (#PCDATA)>
<!ELEMENT concentration_details (#PCDATA)>
<!ELEMENT working_memory_notes (#PCDATA)>
<!ELEMENT writing_spelling (id,assessment_id,spelling_score,written_expression_score,handwriting_quality,handwriting_speed,spelling_error_pattern,sentence_structure,punctuation_use,writing_avoidance,writing_notes,created_at,updated_at)>
<!ELEMENT spelling_score (#PCDATA)>
<!ELEMENT written_expression_score (#PCDATA)>
<!ELEMENT handwriting_quality (#PCDATA)>
<!ELEMENT handwriting_speed (#PCDATA)>
<!ELEMENT spelling_error_pattern (#PCDATA)>
<!ELEMENT sentence_structure (#PCDATA)>
<!ELEMENT punctuation_use (#PCDATA)>
<!ELEMENT writing_avoidance (#PCDATA)>
<!ELEMENT writing_notes (#PCDATA)>
