forms/advance-statement-about-care/xml-representations/assessment_values_beliefs.dtd

<!ELEMENT assessment_values_beliefs (id,assessment_id,personal_values,quality_of_life_priorities,religious_beliefs,spiritual_needs,cultural_considerations,fears_and_concerns,things_that_matter_most,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT personal_values (#PCDATA)>
<!ELEMENT quality_of_life_priorities (#PCDATA)>
<!ELEMENT religious_beliefs (#PCDATA)>
<!ELEMENT spiritual_needs (#PCDATA)>
<!ELEMENT cultural_considerations (#PCDATA)>
<!ELEMENT fears_and_concerns (#PCDATA)>
<!ELEMENT things_that_matter_most (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
