forms/advance-statement-about-care/xml-representations/assessment_communication_preferences.dtd

<!ELEMENT assessment_communication_preferences (id,assessment_id,preferred_language,communication_aids,how_to_share_information,who_to_involve_in_decisions,information_sharing_restrictions,preferred_communication_style,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT preferred_language (#PCDATA)>
<!ELEMENT communication_aids (#PCDATA)>
<!ELEMENT how_to_share_information (#PCDATA)>
<!ELEMENT who_to_involve_in_decisions (#PCDATA)>
<!ELEMENT information_sharing_restrictions (#PCDATA)>
<!ELEMENT preferred_communication_style (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
