forms/advance-statement-about-care/xml-representations/assessment_care_preferences.dtd

<!ELEMENT assessment_care_preferences (id,assessment_id,preferred_place_of_care,preferred_place_of_death,daily_routine_preferences,personal_care_preferences,food_and_drink_preferences,sleep_preferences,clothing_preferences,environment_preferences,pet_care_wishes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT preferred_place_of_care (#PCDATA)>
<!ELEMENT preferred_place_of_death (#PCDATA)>
<!ELEMENT daily_routine_preferences (#PCDATA)>
<!ELEMENT personal_care_preferences (#PCDATA)>
<!ELEMENT food_and_drink_preferences (#PCDATA)>
<!ELEMENT sleep_preferences (#PCDATA)>
<!ELEMENT clothing_preferences (#PCDATA)>
<!ELEMENT environment_preferences (#PCDATA)>
<!ELEMENT pet_care_wishes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
