forms/advance-statement-about-care/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,care_preferences,communication_preferences,medical_treatment_wishes,people_important_to_me,personal_information,practical_matters,signatures_witnesses,statement_context,values_beliefs)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT care_preferences (id,assessment_id,preferred_place_of_care,preferred_place_of_death,daily_routine_preferences,personal_care_preferences,food_and_drink_preferences,sleep_preferences,clothing_preferences,environment_preferences,pet_care_wishes,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT preferred_place_of_care (#PCDATA)>
<!ELEMENT preferred_place_of_death (#PCDATA)>
<!ELEMENT daily_routine_preferences (#PCDATA)>
<!ELEMENT personal_care_preferences (#PCDATA)>
<!ELEMENT food_and_drink_preferences (#PCDATA)>
<!ELEMENT sleep_preferences (#PCDATA)>
<!ELEMENT clothing_preferences (#PCDATA)>
<!ELEMENT environment_preferences (#PCDATA)>
<!ELEMENT pet_care_wishes (#PCDATA)>
<!ELEMENT communication_preferences (id,assessment_id,preferred_language,communication_aids,how_to_share_information,who_to_involve_in_decisions,information_sharing_restrictions,preferred_communication_style,created_at,updated_at)>
<!ELEMENT preferred_language (#PCDATA)>
<!ELEMENT communication_aids (#PCDATA)>
<!ELEMENT how_to_share_information (#PCDATA)>
<!ELEMENT who_to_involve_in_decisions (#PCDATA)>
<!ELEMENT information_sharing_restrictions (#PCDATA)>
<!ELEMENT preferred_communication_style (#PCDATA)>
<!ELEMENT medical_treatment_wishes (id,assessment_id,pain_management_preferences,attitude_to_hospital_admission,attitude_to_intensive_care,attitude_to_artificial_nutrition,attitude_to_artificial_hydration,medication_preferences,complementary_therapy_preferences,other_treatment_wishes,created_at,updated_at)>
<!ELEMENT pain_management_preferences (#PCDATA)>
<!ELEMENT attitude_to_hospital_admission (#PCDATA)>
<!ELEMENT attitude_to_intensive_care (#PCDATA)>
<!ELEMENT attitude_to_artificial_nutrition (#PCDATA)>
<!ELEMENT attitude_to_artificial_hydration (#PCDATA)>
<!ELEMENT medication_preferences (#PCDATA)>
<!ELEMENT complementary_therapy_preferences (#PCDATA)>
<!ELEMENT other_treatment_wishes (#PCDATA)>
<!ELEMENT people_important_to_me (id,assessment_id,primary_contact_name,primary_contact_relationship,primary_contact_phone,primary_contact_email,secondary_contact_name,secondary_contact_relationship,secondary_contact_phone,people_who_should_visit,people_who_should_not_visit,support_network_details,created_at,updated_at)>
<!ELEMENT primary_contact_name (#PCDATA)>
<!ELEMENT primary_contact_relationship (#PCDATA)>
<!ELEMENT primary_contact_phone (#PCDATA)>
<!ELEMENT primary_contact_email (#PCDATA)>
<!ELEMENT secondary_contact_name (#PCDATA)>
<!ELEMENT secondary_contact_relationship (#PCDATA)>
<!ELEMENT secondary_contact_phone (#PCDATA)>
<!ELEMENT people_who_should_visit (#PCDATA)>
<!ELEMENT people_who_should_not_visit (#PCDATA)>
<!ELEMENT support_network_details (#PCDATA)>
<!ELEMENT personal_information (id,assessment_id,full_name,address,postcode,date_of_birth,nhs_number,phone,email,gp_name,gp_practice,created_at,updated_at)>
<!ELEMENT full_name (#PCDATA)>
<!ELEMENT address (#PCDATA)>
<!ELEMENT postcode (#PCDATA)>
<!ELEMENT date_of_birth (#PCDATA)>
<!ELEMENT nhs_number (#PCDATA)>
<!ELEMENT phone (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT gp_name (#PCDATA)>
<!ELEMENT gp_practice (#PCDATA)>
<!ELEMENT practical_matters (id,assessment_id,financial_arrangements,property_arrangements,insurance_details,will_location,has_lasting_power_of_attorney,lpa_details,funeral_wishes,burial_or_cremation,other_practical_matters,created_at,updated_at)>
<!ELEMENT financial_arrangements (#PCDATA)>
<!ELEMENT property_arrangements (#PCDATA)>
<!ELEMENT insurance_details (#PCDATA)>
<!ELEMENT will_location (#PCDATA)>
<!ELEMENT has_lasting_power_of_attorney (#PCDATA)>
<!ELEMENT lpa_details (#PCDATA)>
<!ELEMENT funeral_wishes (#PCDATA)>
<!ELEMENT burial_or_cremation (#PCDATA)>
<!ELEMENT other_practical_matters (#PCDATA)>
<!ELEMENT signatures_witnesses (id,assessment_id,maker_signature_obtained,maker_signature_date,witness_name,witness_address,witness_signature_obtained,witness_signature_date,review_date,review_notes,created_at,updated_at)>
<!ELEMENT maker_signature_obtained (#PCDATA)>
<!ELEMENT maker_signature_date (#PCDATA)>
<!ELEMENT witness_name (#PCDATA)>
<!ELEMENT witness_address (#PCDATA)>
<!ELEMENT witness_signature_obtained (#PCDATA)>
<!ELEMENT witness_signature_date (#PCDATA)>
<!ELEMENT review_date (#PCDATA)>
<!ELEMENT review_notes (#PCDATA)>
<!ELEMENT statement_context (id,assessment_id,reason_for_statement,current_health_status,current_diagnoses,has_discussed_with_family,has_discussed_with_clinician,discussion_details,created_at,updated_at)>
<!ELEMENT reason_for_statement (#PCDATA)>
<!ELEMENT current_health_status (#PCDATA)>
<!ELEMENT current_diagnoses (#PCDATA)>
<!ELEMENT has_discussed_with_family (#PCDATA)>
<!ELEMENT has_discussed_with_clinician (#PCDATA)>
<!ELEMENT discussion_details (#PCDATA)>
<!ELEMENT values_beliefs (id,assessment_id,personal_values,quality_of_life_priorities,religious_beliefs,spiritual_needs,cultural_considerations,fears_and_concerns,things_that_matter_most,created_at,updated_at)>
<!ELEMENT personal_values (#PCDATA)>
<!ELEMENT quality_of_life_priorities (#PCDATA)>
<!ELEMENT religious_beliefs (#PCDATA)>
<!ELEMENT spiritual_needs (#PCDATA)>
<!ELEMENT cultural_considerations (#PCDATA)>
<!ELEMENT fears_and_concerns (#PCDATA)>
<!ELEMENT things_that_matter_most (#PCDATA)>
