forms/advance-statement-about-care/xml-representations/assessment_statement_context.dtd

<!ELEMENT assessment_statement_context (id,assessment_id,reason_for_statement,current_health_status,current_diagnoses,has_discussed_with_family,has_discussed_with_clinician,discussion_details,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT reason_for_statement (#PCDATA)>
<!ELEMENT current_health_status (#PCDATA)>
<!ELEMENT current_diagnoses (#PCDATA)>
<!ELEMENT has_discussed_with_family (#PCDATA)>
<!ELEMENT has_discussed_with_clinician (#PCDATA)>
<!ELEMENT discussion_details (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
