forms/advance-statement-about-care/xml-representations/grading_result.dtd

<!ELEMENT grading_result (id,assessment_id,completeness_level,sections_completed,total_sections,graded_at,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT completeness_level (#PCDATA)>
<!ELEMENT sections_completed (#PCDATA)>
<!ELEMENT total_sections (#PCDATA)>
<!ELEMENT graded_at (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
