forms/cognitive-assessment/xml-representations/assessment_functional_history.dtd

<!ELEMENT assessment_functional_history (id,assessment_id,managing_finances,managing_medications,using_telephone,meal_preparation,shopping,housekeeping,transportation,personal_care,driving_status,safety_concerns,safety_concern_details,wandering_risk,carer_name,carer_relationship,carer_strain,functional_history_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT managing_finances (#PCDATA)>
<!ELEMENT managing_medications (#PCDATA)>
<!ELEMENT using_telephone (#PCDATA)>
<!ELEMENT meal_preparation (#PCDATA)>
<!ELEMENT shopping (#PCDATA)>
<!ELEMENT housekeeping (#PCDATA)>
<!ELEMENT transportation (#PCDATA)>
<!ELEMENT personal_care (#PCDATA)>
<!ELEMENT driving_status (#PCDATA)>
<!ELEMENT safety_concerns (#PCDATA)>
<!ELEMENT safety_concern_details (#PCDATA)>
<!ELEMENT wandering_risk (#PCDATA)>
<!ELEMENT carer_name (#PCDATA)>
<!ELEMENT carer_relationship (#PCDATA)>
<!ELEMENT carer_strain (#PCDATA)>
<!ELEMENT functional_history_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
