forms/cognitive-assessment/xml-representations/assessment_visuospatial.dtd

<!ELEMENT assessment_visuospatial (id,assessment_id,pentagon_copy_correct,visuospatial_score,pentagon_quality,tremor_observed,visuospatial_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT pentagon_copy_correct (#PCDATA)>
<!ELEMENT visuospatial_score (#PCDATA)>
<!ELEMENT pentagon_quality (#PCDATA)>
<!ELEMENT tremor_observed (#PCDATA)>
<!ELEMENT visuospatial_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
