forms/cognitive-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,attention_calculation,demographics,functional_history,language,orientation,recall,referral_information,registration,repetition_commands,visuospatial)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT attention_calculation (id,assessment_id,test_used,serial_7s_attempt_1,serial_7s_attempt_2,serial_7s_attempt_3,serial_7s_attempt_4,serial_7s_attempt_5,world_letter_1,world_letter_2,world_letter_3,world_letter_4,world_letter_5,attention_score,attention_notes,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT test_used (#PCDATA)>
<!ELEMENT serial_7s_attempt_1 (#PCDATA)>
<!ELEMENT serial_7s_attempt_2 (#PCDATA)>
<!ELEMENT serial_7s_attempt_3 (#PCDATA)>
<!ELEMENT serial_7s_attempt_4 (#PCDATA)>
<!ELEMENT serial_7s_attempt_5 (#PCDATA)>
<!ELEMENT world_letter_1 (#PCDATA)>
<!ELEMENT world_letter_2 (#PCDATA)>
<!ELEMENT world_letter_3 (#PCDATA)>
<!ELEMENT world_letter_4 (#PCDATA)>
<!ELEMENT world_letter_5 (#PCDATA)>
<!ELEMENT attention_score (#PCDATA)>
<!ELEMENT attention_notes (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,preferred_name,gender_identity,ethnicity,preferred_language,interpreter_required,education_level,years_of_education,handedness,gp_name,gp_practice,created_at,updated_at)>
<!ELEMENT preferred_name (#PCDATA)>
<!ELEMENT gender_identity (#PCDATA)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT preferred_language (#PCDATA)>
<!ELEMENT interpreter_required (#PCDATA)>
<!ELEMENT education_level (#PCDATA)>
<!ELEMENT years_of_education (#PCDATA)>
<!ELEMENT handedness (#PCDATA)>
<!ELEMENT gp_name (#PCDATA)>
<!ELEMENT gp_practice (#PCDATA)>
<!ELEMENT functional_history (id,assessment_id,managing_finances,managing_medications,using_telephone,meal_preparation,shopping,housekeeping,transportation,personal_care,driving_status,safety_concerns,safety_concern_details,wandering_risk,carer_name,carer_relationship,carer_strain,functional_history_notes,created_at,updated_at)>
<!ELEMENT managing_finances (#PCDATA)>
<!ELEMENT managing_medications (#PCDATA)>
<!ELEMENT using_telephone (#PCDATA)>
<!ELEMENT meal_preparation (#PCDATA)>
<!ELEMENT shopping (#PCDATA)>
<!ELEMENT housekeeping (#PCDATA)>
<!ELEMENT transportation (#PCDATA)>
<!ELEMENT personal_care (#PCDATA)>
<!ELEMENT driving_status (#PCDATA)>
<!ELEMENT safety_concerns (#PCDATA)>
<!ELEMENT safety_concern_details (#PCDATA)>
<!ELEMENT wandering_risk (#PCDATA)>
<!ELEMENT carer_name (#PCDATA)>
<!ELEMENT carer_relationship (#PCDATA)>
<!ELEMENT carer_strain (#PCDATA)>
<!ELEMENT functional_history_notes (#PCDATA)>
<!ELEMENT language (id,assessment_id,naming_object_1,naming_object_1_correct,naming_object_2,naming_object_2_correct,naming_score,repetition_correct,repetition_score,language_notes,created_at,updated_at)>
<!ELEMENT naming_object_1 (#PCDATA)>
<!ELEMENT naming_object_1_correct (#PCDATA)>
<!ELEMENT naming_object_2 (#PCDATA)>
<!ELEMENT naming_object_2_correct (#PCDATA)>
<!ELEMENT naming_score (#PCDATA)>
<!ELEMENT repetition_correct (#PCDATA)>
<!ELEMENT repetition_score (#PCDATA)>
<!ELEMENT language_notes (#PCDATA)>
<!ELEMENT orientation (id,assessment_id,orientation_year,orientation_season,orientation_month,orientation_date,orientation_day,orientation_time_score,orientation_country,orientation_county,orientation_city,orientation_building,orientation_floor,orientation_place_score,orientation_notes,created_at,updated_at)>
<!ELEMENT orientation_year (#PCDATA)>
<!ELEMENT orientation_season (#PCDATA)>
<!ELEMENT orientation_month (#PCDATA)>
<!ELEMENT orientation_date (#PCDATA)>
<!ELEMENT orientation_day (#PCDATA)>
<!ELEMENT orientation_time_score (#PCDATA)>
<!ELEMENT orientation_country (#PCDATA)>
<!ELEMENT orientation_county (#PCDATA)>
<!ELEMENT orientation_city (#PCDATA)>
<!ELEMENT orientation_building (#PCDATA)>
<!ELEMENT orientation_floor (#PCDATA)>
<!ELEMENT orientation_place_score (#PCDATA)>
<!ELEMENT orientation_notes (#PCDATA)>
<!ELEMENT recall (id,assessment_id,word_1_recalled,word_2_recalled,word_3_recalled,recall_score,cueing_required,cueing_details,recall_notes,created_at,updated_at)>
<!ELEMENT word_1_recalled (#PCDATA)>
<!ELEMENT word_2_recalled (#PCDATA)>
<!ELEMENT word_3_recalled (#PCDATA)>
<!ELEMENT recall_score (#PCDATA)>
<!ELEMENT cueing_required (#PCDATA)>
<!ELEMENT cueing_details (#PCDATA)>
<!ELEMENT recall_notes (#PCDATA)>
<!ELEMENT referral_information (id,assessment_id,referrer_name,referrer_role,referral_date,reason_for_referral,presenting_complaint,symptom_duration_months,symptom_onset,informant_name,informant_relationship,informant_available,referral_notes,created_at,updated_at)>
<!ELEMENT referrer_name (#PCDATA)>
<!ELEMENT referrer_role (#PCDATA)>
<!ELEMENT referral_date (#PCDATA)>
<!ELEMENT reason_for_referral (#PCDATA)>
<!ELEMENT presenting_complaint (#PCDATA)>
<!ELEMENT symptom_duration_months (#PCDATA)>
<!ELEMENT symptom_onset (#PCDATA)>
<!ELEMENT informant_name (#PCDATA)>
<!ELEMENT informant_relationship (#PCDATA)>
<!ELEMENT informant_available (#PCDATA)>
<!ELEMENT referral_notes (#PCDATA)>
<!ELEMENT registration (id,assessment_id,word_1,word_1_recalled,word_2,word_2_recalled,word_3,word_3_recalled,registration_score,number_of_trials,registration_notes,created_at,updated_at)>
<!ELEMENT word_1 (#PCDATA)>
<!ELEMENT word_2 (#PCDATA)>
<!ELEMENT word_3 (#PCDATA)>
<!ELEMENT registration_score (#PCDATA)>
<!ELEMENT number_of_trials (#PCDATA)>
<!ELEMENT registration_notes (#PCDATA)>
<!ELEMENT repetition_commands (id,assessment_id,command_take_paper,command_fold_paper,command_put_on_floor,three_stage_command_score,reading_instruction_followed,reading_score,writing_sentence_produced,writing_score,commands_notes,created_at,updated_at)>
<!ELEMENT command_take_paper (#PCDATA)>
<!ELEMENT command_fold_paper (#PCDATA)>
<!ELEMENT command_put_on_floor (#PCDATA)>
<!ELEMENT three_stage_command_score (#PCDATA)>
<!ELEMENT reading_instruction_followed (#PCDATA)>
<!ELEMENT reading_score (#PCDATA)>
<!ELEMENT writing_sentence_produced (#PCDATA)>
<!ELEMENT writing_score (#PCDATA)>
<!ELEMENT commands_notes (#PCDATA)>
<!ELEMENT visuospatial (id,assessment_id,pentagon_copy_correct,visuospatial_score,pentagon_quality,tremor_observed,visuospatial_notes,created_at,updated_at)>
<!ELEMENT pentagon_copy_correct (#PCDATA)>
<!ELEMENT visuospatial_score (#PCDATA)>
<!ELEMENT pentagon_quality (#PCDATA)>
<!ELEMENT tremor_observed (#PCDATA)>
<!ELEMENT visuospatial_notes (#PCDATA)>
