forms/cognitive-assessment/xml-representations/assessment_orientation.dtd

<!ELEMENT assessment_orientation (id,assessment_id,orientation_year,orientation_season,orientation_month,orientation_date,orientation_day,orientation_time_score,orientation_country,orientation_county,orientation_city,orientation_building,orientation_floor,orientation_place_score,orientation_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT orientation_year (#PCDATA)>
<!ELEMENT orientation_season (#PCDATA)>
<!ELEMENT orientation_month (#PCDATA)>
<!ELEMENT orientation_date (#PCDATA)>
<!ELEMENT orientation_day (#PCDATA)>
<!ELEMENT orientation_time_score (#PCDATA)>
<!ELEMENT orientation_country (#PCDATA)>
<!ELEMENT orientation_county (#PCDATA)>
<!ELEMENT orientation_city (#PCDATA)>
<!ELEMENT orientation_building (#PCDATA)>
<!ELEMENT orientation_floor (#PCDATA)>
<!ELEMENT orientation_place_score (#PCDATA)>
<!ELEMENT orientation_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
