forms/cognitive-assessment/xml-representations/assessment_repetition_commands.dtd

<!ELEMENT assessment_repetition_commands (id,assessment_id,command_take_paper,command_fold_paper,command_put_on_floor,three_stage_command_score,reading_instruction_followed,reading_score,writing_sentence_produced,writing_score,commands_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT command_take_paper (#PCDATA)>
<!ELEMENT command_fold_paper (#PCDATA)>
<!ELEMENT command_put_on_floor (#PCDATA)>
<!ELEMENT three_stage_command_score (#PCDATA)>
<!ELEMENT reading_instruction_followed (#PCDATA)>
<!ELEMENT reading_score (#PCDATA)>
<!ELEMENT writing_sentence_produced (#PCDATA)>
<!ELEMENT writing_score (#PCDATA)>
<!ELEMENT commands_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
