forms/cognitive-assessment/xml-representations/assessment_attention_calculation.dtd

<!ELEMENT assessment_attention_calculation (id,assessment_id,test_used,serial_7s_attempt_1,serial_7s_attempt_2,serial_7s_attempt_3,serial_7s_attempt_4,serial_7s_attempt_5,world_letter_1,world_letter_2,world_letter_3,world_letter_4,world_letter_5,attention_score,attention_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT test_used (#PCDATA)>
<!ELEMENT serial_7s_attempt_1 (#PCDATA)>
<!ELEMENT serial_7s_attempt_2 (#PCDATA)>
<!ELEMENT serial_7s_attempt_3 (#PCDATA)>
<!ELEMENT serial_7s_attempt_4 (#PCDATA)>
<!ELEMENT serial_7s_attempt_5 (#PCDATA)>
<!ELEMENT world_letter_1 (#PCDATA)>
<!ELEMENT world_letter_2 (#PCDATA)>
<!ELEMENT world_letter_3 (#PCDATA)>
<!ELEMENT world_letter_4 (#PCDATA)>
<!ELEMENT world_letter_5 (#PCDATA)>
<!ELEMENT attention_score (#PCDATA)>
<!ELEMENT attention_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
