forms/cognitive-assessment/xml-representations/assessment_referral_information.dtd

<!ELEMENT assessment_referral_information (id,assessment_id,referrer_name,referrer_role,referral_date,reason_for_referral,presenting_complaint,symptom_duration_months,symptom_onset,informant_name,informant_relationship,informant_available,referral_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT referrer_name (#PCDATA)>
<!ELEMENT referrer_role (#PCDATA)>
<!ELEMENT referral_date (#PCDATA)>
<!ELEMENT reason_for_referral (#PCDATA)>
<!ELEMENT presenting_complaint (#PCDATA)>
<!ELEMENT symptom_duration_months (#PCDATA)>
<!ELEMENT symptom_onset (#PCDATA)>
<!ELEMENT informant_name (#PCDATA)>
<!ELEMENT informant_relationship (#PCDATA)>
<!ELEMENT informant_available (#PCDATA)>
<!ELEMENT referral_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
