forms/cognitive-assessment/xml-representations/assessment_registration.dtd

<!ELEMENT assessment_registration (id,assessment_id,word_1,word_1_recalled,word_2,word_2_recalled,word_3,word_3_recalled,registration_score,number_of_trials,registration_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT word_1 (#PCDATA)>
<!ELEMENT word_1_recalled (#PCDATA)>
<!ELEMENT word_2 (#PCDATA)>
<!ELEMENT word_2_recalled (#PCDATA)>
<!ELEMENT word_3 (#PCDATA)>
<!ELEMENT word_3_recalled (#PCDATA)>
<!ELEMENT registration_score (#PCDATA)>
<!ELEMENT number_of_trials (#PCDATA)>
<!ELEMENT registration_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
