forms/cognitive-assessment/xml-representations/grading_result.dtd

<!ELEMENT grading_result (id,assessment_id,mmse_total_score,cognitive_category,graded_at,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT mmse_total_score (#PCDATA)>
<!ELEMENT cognitive_category (#PCDATA)>
<!ELEMENT graded_at (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
