forms/neurology-assessment/xml-representations/assessment_chief_complaint.dtd

<!ELEMENT assessment_chief_complaint (id,assessment_id,chief_complaint,symptom_onset_date,symptom_onset_time,onset_type,symptom_duration,symptom_laterality,headache,weakness,numbness,speech_difficulty,vision_changes,dizziness,seizure,loss_of_consciousness,previous_neurological_history,chief_complaint_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT chief_complaint (#PCDATA)>
<!ELEMENT symptom_onset_date (#PCDATA)>
<!ELEMENT symptom_onset_time (#PCDATA)>
<!ELEMENT onset_type (#PCDATA)>
<!ELEMENT symptom_duration (#PCDATA)>
<!ELEMENT symptom_laterality (#PCDATA)>
<!ELEMENT headache (#PCDATA)>
<!ELEMENT weakness (#PCDATA)>
<!ELEMENT numbness (#PCDATA)>
<!ELEMENT speech_difficulty (#PCDATA)>
<!ELEMENT vision_changes (#PCDATA)>
<!ELEMENT dizziness (#PCDATA)>
<!ELEMENT seizure (#PCDATA)>
<!ELEMENT loss_of_consciousness (#PCDATA)>
<!ELEMENT previous_neurological_history (#PCDATA)>
<!ELEMENT chief_complaint_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
