forms/neurology-assessment/xml-representations/assessment_headache.dtd

<!ELEMENT assessment_headache (id,assessment_id,headache_present,headache_type,headache_severity,headache_location,headache_side,headache_frequency,headache_duration,aura,aura_type,photophobia,phonophobia,nausea_with_headache,neck_stiffness,worst_headache_ever,headache_triggers,headache_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT headache_present (#PCDATA)>
<!ELEMENT headache_type (#PCDATA)>
<!ELEMENT headache_severity (#PCDATA)>
<!ELEMENT headache_location (#PCDATA)>
<!ELEMENT headache_side (#PCDATA)>
<!ELEMENT headache_frequency (#PCDATA)>
<!ELEMENT headache_duration (#PCDATA)>
<!ELEMENT aura (#PCDATA)>
<!ELEMENT aura_type (#PCDATA)>
<!ELEMENT photophobia (#PCDATA)>
<!ELEMENT phonophobia (#PCDATA)>
<!ELEMENT nausea_with_headache (#PCDATA)>
<!ELEMENT neck_stiffness (#PCDATA)>
<!ELEMENT worst_headache_ever (#PCDATA)>
<!ELEMENT headache_triggers (#PCDATA)>
<!ELEMENT headache_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
