forms/neurology-assessment/xml-representations/assessment_seizure_history.dtd

<!ELEMENT assessment_seizure_history (id,assessment_id,seizure_history,epilepsy_diagnosis,seizure_type,seizure_frequency,last_seizure_date,seizure_duration_typical,seizure_triggers,aura_before_seizure,aura_description,postictal_symptoms,status_epilepticus_history,febrile_seizures_childhood,family_history_epilepsy,driving_status,seizure_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT seizure_history (#PCDATA)>
<!ELEMENT epilepsy_diagnosis (#PCDATA)>
<!ELEMENT seizure_type (#PCDATA)>
<!ELEMENT seizure_frequency (#PCDATA)>
<!ELEMENT last_seizure_date (#PCDATA)>
<!ELEMENT seizure_duration_typical (#PCDATA)>
<!ELEMENT seizure_triggers (#PCDATA)>
<!ELEMENT aura_before_seizure (#PCDATA)>
<!ELEMENT aura_description (#PCDATA)>
<!ELEMENT postictal_symptoms (#PCDATA)>
<!ELEMENT status_epilepticus_history (#PCDATA)>
<!ELEMENT febrile_seizures_childhood (#PCDATA)>
<!ELEMENT family_history_epilepsy (#PCDATA)>
<!ELEMENT driving_status (#PCDATA)>
<!ELEMENT seizure_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
