forms/neurology-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,assessment_chief_complaint,cognitive,current_medications,demographics,diagnostic_results,functional_and_social,assessment_headache,motor_and_sensory_exam,nihss,assessment_seizure_history)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT assessment_chief_complaint (id,assessment_id,chief_complaint,symptom_onset_date,symptom_onset_time,onset_type,symptom_duration,symptom_laterality,headache,weakness,numbness,speech_difficulty,vision_changes,dizziness,seizure,loss_of_consciousness,previous_neurological_history,chief_complaint_notes,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT chief_complaint (#PCDATA)>
<!ELEMENT symptom_onset_date (#PCDATA)>
<!ELEMENT symptom_onset_time (#PCDATA)>
<!ELEMENT onset_type (#PCDATA)>
<!ELEMENT symptom_duration (#PCDATA)>
<!ELEMENT symptom_laterality (#PCDATA)>
<!ELEMENT headache (#PCDATA)>
<!ELEMENT weakness (#PCDATA)>
<!ELEMENT numbness (#PCDATA)>
<!ELEMENT speech_difficulty (#PCDATA)>
<!ELEMENT vision_changes (#PCDATA)>
<!ELEMENT dizziness (#PCDATA)>
<!ELEMENT seizure (#PCDATA)>
<!ELEMENT loss_of_consciousness (#PCDATA)>
<!ELEMENT previous_neurological_history (#PCDATA)>
<!ELEMENT chief_complaint_notes (#PCDATA)>
<!ELEMENT cognitive (id,assessment_id,cognitive_complaint,cognitive_complaint_details,orientation_person,orientation_place,orientation_time,attention_intact,memory_immediate,memory_delayed,language_fluency,naming,comprehension,repetition,reading,writing,visuospatial,executive_function,mmse_score,moca_score,cognitive_notes,created_at,updated_at)>
<!ELEMENT cognitive_complaint (#PCDATA)>
<!ELEMENT cognitive_complaint_details (#PCDATA)>
<!ELEMENT orientation_person (#PCDATA)>
<!ELEMENT orientation_place (#PCDATA)>
<!ELEMENT orientation_time (#PCDATA)>
<!ELEMENT attention_intact (#PCDATA)>
<!ELEMENT memory_immediate (#PCDATA)>
<!ELEMENT memory_delayed (#PCDATA)>
<!ELEMENT language_fluency (#PCDATA)>
<!ELEMENT naming (#PCDATA)>
<!ELEMENT comprehension (#PCDATA)>
<!ELEMENT repetition (#PCDATA)>
<!ELEMENT reading (#PCDATA)>
<!ELEMENT writing (#PCDATA)>
<!ELEMENT visuospatial (#PCDATA)>
<!ELEMENT executive_function (#PCDATA)>
<!ELEMENT mmse_score (#PCDATA)>
<!ELEMENT moca_score (#PCDATA)>
<!ELEMENT cognitive_notes (#PCDATA)>
<!ELEMENT current_medications (id,assessment_id,taking_neurological_medication,anticonvulsants,anticonvulsant_details,anticoagulants,anticoagulant_name,antiplatelets,antiplatelet_name,analgesics,triptans,migraine_prophylaxis,antihypertensives,statins,other_medications,medication_adherence,medication_notes,created_at,updated_at)>
<!ELEMENT taking_neurological_medication (#PCDATA)>
<!ELEMENT anticonvulsants (#PCDATA)>
<!ELEMENT anticonvulsant_details (#PCDATA)>
<!ELEMENT anticoagulants (#PCDATA)>
<!ELEMENT anticoagulant_name (#PCDATA)>
<!ELEMENT antiplatelets (#PCDATA)>
<!ELEMENT antiplatelet_name (#PCDATA)>
<!ELEMENT analgesics (#PCDATA)>
<!ELEMENT triptans (#PCDATA)>
<!ELEMENT migraine_prophylaxis (#PCDATA)>
<!ELEMENT antihypertensives (#PCDATA)>
<!ELEMENT statins (#PCDATA)>
<!ELEMENT other_medications (#PCDATA)>
<!ELEMENT medication_adherence (#PCDATA)>
<!ELEMENT medication_notes (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,occupation,ethnicity,handedness,contact_phone,contact_email,emergency_contact_name,emergency_contact_phone,gp_name,gp_practice,created_at,updated_at)>
<!ELEMENT occupation (#PCDATA)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT handedness (#PCDATA)>
<!ELEMENT contact_phone (#PCDATA)>
<!ELEMENT contact_email (#PCDATA)>
<!ELEMENT emergency_contact_name (#PCDATA)>
<!ELEMENT emergency_contact_phone (#PCDATA)>
<!ELEMENT gp_name (#PCDATA)>
<!ELEMENT gp_practice (#PCDATA)>
<!ELEMENT diagnostic_results (id,assessment_id,ct_head,ct_head_date,ct_head_result,mri_brain,mri_brain_date,mri_brain_result,ct_angiography,ct_angiography_result,mr_angiography,mr_angiography_result,eeg,eeg_date,eeg_result,emg_nerve_conduction,emg_result,lumbar_puncture,lumbar_puncture_result,carotid_doppler,carotid_doppler_result,blood_tests_relevant,diagnostic_notes,created_at,updated_at)>
<!ELEMENT ct_head (#PCDATA)>
<!ELEMENT ct_head_date (#PCDATA)>
<!ELEMENT ct_head_result (#PCDATA)>
<!ELEMENT mri_brain (#PCDATA)>
<!ELEMENT mri_brain_date (#PCDATA)>
<!ELEMENT mri_brain_result (#PCDATA)>
<!ELEMENT ct_angiography (#PCDATA)>
<!ELEMENT ct_angiography_result (#PCDATA)>
<!ELEMENT mr_angiography (#PCDATA)>
<!ELEMENT mr_angiography_result (#PCDATA)>
<!ELEMENT eeg (#PCDATA)>
<!ELEMENT eeg_date (#PCDATA)>
<!ELEMENT eeg_result (#PCDATA)>
<!ELEMENT emg_nerve_conduction (#PCDATA)>
<!ELEMENT emg_result (#PCDATA)>
<!ELEMENT lumbar_puncture (#PCDATA)>
<!ELEMENT lumbar_puncture_result (#PCDATA)>
<!ELEMENT carotid_doppler (#PCDATA)>
<!ELEMENT carotid_doppler_result (#PCDATA)>
<!ELEMENT blood_tests_relevant (#PCDATA)>
<!ELEMENT diagnostic_notes (#PCDATA)>
<!ELEMENT functional_and_social (id,assessment_id,modified_rankin_score,barthel_index,daily_functioning,employment_status,driving_status,mobility_level,social_support,carer_support,carer_details,mood_impact,quality_of_life_score,rehabilitation_needs,functional_social_notes,created_at,updated_at)>
<!ELEMENT modified_rankin_score (#PCDATA)>
<!ELEMENT barthel_index (#PCDATA)>
<!ELEMENT daily_functioning (#PCDATA)>
<!ELEMENT employment_status (#PCDATA)>
<!ELEMENT driving_status (#PCDATA)>
<!ELEMENT mobility_level (#PCDATA)>
<!ELEMENT social_support (#PCDATA)>
<!ELEMENT carer_support (#PCDATA)>
<!ELEMENT carer_details (#PCDATA)>
<!ELEMENT mood_impact (#PCDATA)>
<!ELEMENT quality_of_life_score (#PCDATA)>
<!ELEMENT rehabilitation_needs (#PCDATA)>
<!ELEMENT functional_social_notes (#PCDATA)>
<!ELEMENT assessment_headache (id,assessment_id,headache_present,headache_type,headache_severity,headache_location,headache_side,headache_frequency,headache_duration,aura,aura_type,photophobia,phonophobia,nausea_with_headache,neck_stiffness,worst_headache_ever,headache_triggers,headache_notes,created_at,updated_at)>
<!ELEMENT headache_present (#PCDATA)>
<!ELEMENT headache_type (#PCDATA)>
<!ELEMENT headache_severity (#PCDATA)>
<!ELEMENT headache_location (#PCDATA)>
<!ELEMENT headache_side (#PCDATA)>
<!ELEMENT headache_frequency (#PCDATA)>
<!ELEMENT headache_duration (#PCDATA)>
<!ELEMENT aura (#PCDATA)>
<!ELEMENT aura_type (#PCDATA)>
<!ELEMENT photophobia (#PCDATA)>
<!ELEMENT phonophobia (#PCDATA)>
<!ELEMENT nausea_with_headache (#PCDATA)>
<!ELEMENT neck_stiffness (#PCDATA)>
<!ELEMENT worst_headache_ever (#PCDATA)>
<!ELEMENT headache_triggers (#PCDATA)>
<!ELEMENT headache_notes (#PCDATA)>
<!ELEMENT motor_and_sensory_exam (id,assessment_id,upper_limb_power_left,upper_limb_power_right,lower_limb_power_left,lower_limb_power_right,grip_strength_left,grip_strength_right,upper_limb_tone_left,upper_limb_tone_right,lower_limb_tone_left,lower_limb_tone_right,biceps_reflex_left,biceps_reflex_right,knee_reflex_left,knee_reflex_right,ankle_reflex_left,ankle_reflex_right,plantar_response_left,plantar_response_right,light_touch_intact,light_touch_deficit_area,pinprick_intact,pinprick_deficit_area,proprioception_intact,vibration_sense_intact,finger_nose_test_left,finger_nose_test_right,heel_shin_test_left,heel_shin_test_right,romberg_test,motor_sensory_notes,created_at,updated_at)>
<!ELEMENT upper_limb_power_left (#PCDATA)>
<!ELEMENT upper_limb_power_right (#PCDATA)>
<!ELEMENT lower_limb_power_left (#PCDATA)>
<!ELEMENT lower_limb_power_right (#PCDATA)>
<!ELEMENT grip_strength_left (#PCDATA)>
<!ELEMENT grip_strength_right (#PCDATA)>
<!ELEMENT upper_limb_tone_left (#PCDATA)>
<!ELEMENT upper_limb_tone_right (#PCDATA)>
<!ELEMENT lower_limb_tone_left (#PCDATA)>
<!ELEMENT lower_limb_tone_right (#PCDATA)>
<!ELEMENT biceps_reflex_left (#PCDATA)>
<!ELEMENT biceps_reflex_right (#PCDATA)>
<!ELEMENT knee_reflex_left (#PCDATA)>
<!ELEMENT knee_reflex_right (#PCDATA)>
<!ELEMENT ankle_reflex_left (#PCDATA)>
<!ELEMENT ankle_reflex_right (#PCDATA)>
<!ELEMENT plantar_response_left (#PCDATA)>
<!ELEMENT plantar_response_right (#PCDATA)>
<!ELEMENT light_touch_intact (#PCDATA)>
<!ELEMENT light_touch_deficit_area (#PCDATA)>
<!ELEMENT pinprick_intact (#PCDATA)>
<!ELEMENT pinprick_deficit_area (#PCDATA)>
<!ELEMENT proprioception_intact (#PCDATA)>
<!ELEMENT vibration_sense_intact (#PCDATA)>
<!ELEMENT finger_nose_test_left (#PCDATA)>
<!ELEMENT finger_nose_test_right (#PCDATA)>
<!ELEMENT heel_shin_test_left (#PCDATA)>
<!ELEMENT heel_shin_test_right (#PCDATA)>
<!ELEMENT romberg_test (#PCDATA)>
<!ELEMENT motor_sensory_notes (#PCDATA)>
<!ELEMENT nihss (id,assessment_id,q1a_level_of_consciousness,q1b_loc_questions,q1c_loc_commands,q2_best_gaze,q3_visual_fields,q4_facial_palsy,q5a_motor_left_arm,q5b_motor_right_arm,q6a_motor_left_leg,q6b_motor_right_leg,q7_limb_ataxia,q8_sensory,q9_best_language,q10_dysarthria,q11_extinction_inattention,nihss_total_score,assessment_datetime,nihss_notes,created_at,updated_at)>
<!ELEMENT q1a_level_of_consciousness (#PCDATA)>
<!ELEMENT q1b_loc_questions (#PCDATA)>
<!ELEMENT q1c_loc_commands (#PCDATA)>
<!ELEMENT q2_best_gaze (#PCDATA)>
<!ELEMENT q3_visual_fields (#PCDATA)>
<!ELEMENT q4_facial_palsy (#PCDATA)>
<!ELEMENT q5a_motor_left_arm (#PCDATA)>
<!ELEMENT q5b_motor_right_arm (#PCDATA)>
<!ELEMENT q6a_motor_left_leg (#PCDATA)>
<!ELEMENT q6b_motor_right_leg (#PCDATA)>
<!ELEMENT q7_limb_ataxia (#PCDATA)>
<!ELEMENT q8_sensory (#PCDATA)>
<!ELEMENT q9_best_language (#PCDATA)>
<!ELEMENT q10_dysarthria (#PCDATA)>
<!ELEMENT q11_extinction_inattention (#PCDATA)>
<!ELEMENT nihss_total_score (#PCDATA)>
<!ELEMENT assessment_datetime (#PCDATA)>
<!ELEMENT nihss_notes (#PCDATA)>
<!ELEMENT assessment_seizure_history (id,assessment_id,seizure_history,epilepsy_diagnosis,seizure_type,seizure_frequency,last_seizure_date,seizure_duration_typical,seizure_triggers,aura_before_seizure,aura_description,postictal_symptoms,status_epilepticus_history,febrile_seizures_childhood,family_history_epilepsy,driving_status,seizure_notes,created_at,updated_at)>
<!ELEMENT seizure_history (#PCDATA)>
<!ELEMENT epilepsy_diagnosis (#PCDATA)>
<!ELEMENT seizure_type (#PCDATA)>
<!ELEMENT seizure_frequency (#PCDATA)>
<!ELEMENT last_seizure_date (#PCDATA)>
<!ELEMENT seizure_duration_typical (#PCDATA)>
<!ELEMENT seizure_triggers (#PCDATA)>
<!ELEMENT aura_before_seizure (#PCDATA)>
<!ELEMENT aura_description (#PCDATA)>
<!ELEMENT postictal_symptoms (#PCDATA)>
<!ELEMENT status_epilepticus_history (#PCDATA)>
<!ELEMENT febrile_seizures_childhood (#PCDATA)>
<!ELEMENT family_history_epilepsy (#PCDATA)>
<!ELEMENT seizure_notes (#PCDATA)>
