forms/neurology-assessment/xml-representations/assessment_current_medications.dtd

<!ELEMENT assessment_current_medications (id,assessment_id,taking_neurological_medication,anticonvulsants,anticonvulsant_details,anticoagulants,anticoagulant_name,antiplatelets,antiplatelet_name,analgesics,triptans,migraine_prophylaxis,antihypertensives,statins,other_medications,medication_adherence,medication_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT taking_neurological_medication (#PCDATA)>
<!ELEMENT anticonvulsants (#PCDATA)>
<!ELEMENT anticonvulsant_details (#PCDATA)>
<!ELEMENT anticoagulants (#PCDATA)>
<!ELEMENT anticoagulant_name (#PCDATA)>
<!ELEMENT antiplatelets (#PCDATA)>
<!ELEMENT antiplatelet_name (#PCDATA)>
<!ELEMENT analgesics (#PCDATA)>
<!ELEMENT triptans (#PCDATA)>
<!ELEMENT migraine_prophylaxis (#PCDATA)>
<!ELEMENT antihypertensives (#PCDATA)>
<!ELEMENT statins (#PCDATA)>
<!ELEMENT other_medications (#PCDATA)>
<!ELEMENT medication_adherence (#PCDATA)>
<!ELEMENT medication_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
