forms/neurology-assessment/xml-representations/assessment_functional_and_social.dtd

<!ELEMENT assessment_functional_and_social (id,assessment_id,modified_rankin_score,barthel_index,daily_functioning,employment_status,driving_status,mobility_level,social_support,carer_support,carer_details,mood_impact,quality_of_life_score,rehabilitation_needs,functional_social_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT modified_rankin_score (#PCDATA)>
<!ELEMENT barthel_index (#PCDATA)>
<!ELEMENT daily_functioning (#PCDATA)>
<!ELEMENT employment_status (#PCDATA)>
<!ELEMENT driving_status (#PCDATA)>
<!ELEMENT mobility_level (#PCDATA)>
<!ELEMENT social_support (#PCDATA)>
<!ELEMENT carer_support (#PCDATA)>
<!ELEMENT carer_details (#PCDATA)>
<!ELEMENT mood_impact (#PCDATA)>
<!ELEMENT quality_of_life_score (#PCDATA)>
<!ELEMENT rehabilitation_needs (#PCDATA)>
<!ELEMENT functional_social_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
