forms/neurology-assessment/xml-representations/assessment_nihss.dtd

<!ELEMENT assessment_nihss (id,assessment_id,q1a_level_of_consciousness,q1b_loc_questions,q1c_loc_commands,q2_best_gaze,q3_visual_fields,q4_facial_palsy,q5a_motor_left_arm,q5b_motor_right_arm,q6a_motor_left_leg,q6b_motor_right_leg,q7_limb_ataxia,q8_sensory,q9_best_language,q10_dysarthria,q11_extinction_inattention,nihss_total_score,assessment_datetime,nihss_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT q1a_level_of_consciousness (#PCDATA)>
<!ELEMENT q1b_loc_questions (#PCDATA)>
<!ELEMENT q1c_loc_commands (#PCDATA)>
<!ELEMENT q2_best_gaze (#PCDATA)>
<!ELEMENT q3_visual_fields (#PCDATA)>
<!ELEMENT q4_facial_palsy (#PCDATA)>
<!ELEMENT q5a_motor_left_arm (#PCDATA)>
<!ELEMENT q5b_motor_right_arm (#PCDATA)>
<!ELEMENT q6a_motor_left_leg (#PCDATA)>
<!ELEMENT q6b_motor_right_leg (#PCDATA)>
<!ELEMENT q7_limb_ataxia (#PCDATA)>
<!ELEMENT q8_sensory (#PCDATA)>
<!ELEMENT q9_best_language (#PCDATA)>
<!ELEMENT q10_dysarthria (#PCDATA)>
<!ELEMENT q11_extinction_inattention (#PCDATA)>
<!ELEMENT nihss_total_score (#PCDATA)>
<!ELEMENT assessment_datetime (#PCDATA)>
<!ELEMENT nihss_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
