forms/neurology-assessment/xml-representations/assessment_diagnostic_results.dtd

<!ELEMENT assessment_diagnostic_results (id,assessment_id,ct_head,ct_head_date,ct_head_result,mri_brain,mri_brain_date,mri_brain_result,ct_angiography,ct_angiography_result,mr_angiography,mr_angiography_result,eeg,eeg_date,eeg_result,emg_nerve_conduction,emg_result,lumbar_puncture,lumbar_puncture_result,carotid_doppler,carotid_doppler_result,blood_tests_relevant,diagnostic_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT ct_head (#PCDATA)>
<!ELEMENT ct_head_date (#PCDATA)>
<!ELEMENT ct_head_result (#PCDATA)>
<!ELEMENT mri_brain (#PCDATA)>
<!ELEMENT mri_brain_date (#PCDATA)>
<!ELEMENT mri_brain_result (#PCDATA)>
<!ELEMENT ct_angiography (#PCDATA)>
<!ELEMENT ct_angiography_result (#PCDATA)>
<!ELEMENT mr_angiography (#PCDATA)>
<!ELEMENT mr_angiography_result (#PCDATA)>
<!ELEMENT eeg (#PCDATA)>
<!ELEMENT eeg_date (#PCDATA)>
<!ELEMENT eeg_result (#PCDATA)>
<!ELEMENT emg_nerve_conduction (#PCDATA)>
<!ELEMENT emg_result (#PCDATA)>
<!ELEMENT lumbar_puncture (#PCDATA)>
<!ELEMENT lumbar_puncture_result (#PCDATA)>
<!ELEMENT carotid_doppler (#PCDATA)>
<!ELEMENT carotid_doppler_result (#PCDATA)>
<!ELEMENT blood_tests_relevant (#PCDATA)>
<!ELEMENT diagnostic_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
