forms/neurology-assessment/xml-representations/assessment_motor_and_sensory_exam.dtd

<!ELEMENT assessment_motor_and_sensory_exam (id,assessment_id,upper_limb_power_left,upper_limb_power_right,lower_limb_power_left,lower_limb_power_right,grip_strength_left,grip_strength_right,upper_limb_tone_left,upper_limb_tone_right,lower_limb_tone_left,lower_limb_tone_right,biceps_reflex_left,biceps_reflex_right,knee_reflex_left,knee_reflex_right,ankle_reflex_left,ankle_reflex_right,plantar_response_left,plantar_response_right,light_touch_intact,light_touch_deficit_area,pinprick_intact,pinprick_deficit_area,proprioception_intact,vibration_sense_intact,finger_nose_test_left,finger_nose_test_right,heel_shin_test_left,heel_shin_test_right,romberg_test,motor_sensory_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT upper_limb_power_left (#PCDATA)>
<!ELEMENT upper_limb_power_right (#PCDATA)>
<!ELEMENT lower_limb_power_left (#PCDATA)>
<!ELEMENT lower_limb_power_right (#PCDATA)>
<!ELEMENT grip_strength_left (#PCDATA)>
<!ELEMENT grip_strength_right (#PCDATA)>
<!ELEMENT upper_limb_tone_left (#PCDATA)>
<!ELEMENT upper_limb_tone_right (#PCDATA)>
<!ELEMENT lower_limb_tone_left (#PCDATA)>
<!ELEMENT lower_limb_tone_right (#PCDATA)>
<!ELEMENT biceps_reflex_left (#PCDATA)>
<!ELEMENT biceps_reflex_right (#PCDATA)>
<!ELEMENT knee_reflex_left (#PCDATA)>
<!ELEMENT knee_reflex_right (#PCDATA)>
<!ELEMENT ankle_reflex_left (#PCDATA)>
<!ELEMENT ankle_reflex_right (#PCDATA)>
<!ELEMENT plantar_response_left (#PCDATA)>
<!ELEMENT plantar_response_right (#PCDATA)>
<!ELEMENT light_touch_intact (#PCDATA)>
<!ELEMENT light_touch_deficit_area (#PCDATA)>
<!ELEMENT pinprick_intact (#PCDATA)>
<!ELEMENT pinprick_deficit_area (#PCDATA)>
<!ELEMENT proprioception_intact (#PCDATA)>
<!ELEMENT vibration_sense_intact (#PCDATA)>
<!ELEMENT finger_nose_test_left (#PCDATA)>
<!ELEMENT finger_nose_test_right (#PCDATA)>
<!ELEMENT heel_shin_test_left (#PCDATA)>
<!ELEMENT heel_shin_test_right (#PCDATA)>
<!ELEMENT romberg_test (#PCDATA)>
<!ELEMENT motor_sensory_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
