forms/neurology-assessment/xml-representations/assessment_cognitive.dtd

<!ELEMENT assessment_cognitive (id,assessment_id,cognitive_complaint,cognitive_complaint_details,orientation_person,orientation_place,orientation_time,attention_intact,memory_immediate,memory_delayed,language_fluency,naming,comprehension,repetition,reading,writing,visuospatial,executive_function,mmse_score,moca_score,cognitive_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT cognitive_complaint (#PCDATA)>
<!ELEMENT cognitive_complaint_details (#PCDATA)>
<!ELEMENT orientation_person (#PCDATA)>
<!ELEMENT orientation_place (#PCDATA)>
<!ELEMENT orientation_time (#PCDATA)>
<!ELEMENT attention_intact (#PCDATA)>
<!ELEMENT memory_immediate (#PCDATA)>
<!ELEMENT memory_delayed (#PCDATA)>
<!ELEMENT language_fluency (#PCDATA)>
<!ELEMENT naming (#PCDATA)>
<!ELEMENT comprehension (#PCDATA)>
<!ELEMENT repetition (#PCDATA)>
<!ELEMENT reading (#PCDATA)>
<!ELEMENT writing (#PCDATA)>
<!ELEMENT visuospatial (#PCDATA)>
<!ELEMENT executive_function (#PCDATA)>
<!ELEMENT mmse_score (#PCDATA)>
<!ELEMENT moca_score (#PCDATA)>
<!ELEMENT cognitive_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
