forms/neurology-assessment/xml-representations/grading_result.dtd

<!ELEMENT grading_result (id,assessment_id,nihss_total_score,nihss_severity,modified_rankin_score,barthel_index,graded_at,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT nihss_total_score (#PCDATA)>
<!ELEMENT nihss_severity (#PCDATA)>
<!ELEMENT modified_rankin_score (#PCDATA)>
<!ELEMENT barthel_index (#PCDATA)>
<!ELEMENT graded_at (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
