forms/prescription-request/xml-representations/grading_result.dtd

<!ELEMENT grading_result (id,prescription_request_id,priority_level,rule_count,graded_at,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT prescription_request_id (#PCDATA)>
<!ELEMENT priority_level (#PCDATA)>
<!ELEMENT rule_count (#PCDATA)>
<!ELEMENT graded_at (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
