forms/prescription-request/xml-representations/patient.dtd

<!ELEMENT patient (id,first_name,last_name,date_of_birth,nhs_number,phone,email,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT first_name (#PCDATA)>
<!ELEMENT last_name (#PCDATA)>
<!ELEMENT date_of_birth (#PCDATA)>
<!ELEMENT nhs_number (#PCDATA)>
<!ELEMENT phone (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
