forms/prescription-request/xml-representations/prescription_details.dtd

<!ELEMENT prescription_details (id,prescription_request_id,request_date,medication_name,dosage,frequency,route_of_administration,treatment_instructions,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT prescription_request_id (#PCDATA)>
<!ELEMENT request_date (#PCDATA)>
<!ELEMENT medication_name (#PCDATA)>
<!ELEMENT dosage (#PCDATA)>
<!ELEMENT frequency (#PCDATA)>
<!ELEMENT route_of_administration (#PCDATA)>
<!ELEMENT treatment_instructions (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
