forms/bone-marrow-donation-assessment/xml-representations/assessment_consent_eligibility.dtd

<!ELEMENT assessment_consent_eligibility (id,assessment_id,informed_consent_given,consent_form_signed,consent_date,witness_name,witness_role,information_leaflet_provided,questions_answered,eligibility_decision,eligibility_conditions,deferral_reason,deferral_duration,assessor_name,assessor_role,assessment_date,consent_eligibility_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT informed_consent_given (#PCDATA)>
<!ELEMENT consent_form_signed (#PCDATA)>
<!ELEMENT consent_date (#PCDATA)>
<!ELEMENT witness_name (#PCDATA)>
<!ELEMENT witness_role (#PCDATA)>
<!ELEMENT information_leaflet_provided (#PCDATA)>
<!ELEMENT questions_answered (#PCDATA)>
<!ELEMENT eligibility_decision (#PCDATA)>
<!ELEMENT eligibility_conditions (#PCDATA)>
<!ELEMENT deferral_reason (#PCDATA)>
<!ELEMENT deferral_duration (#PCDATA)>
<!ELEMENT assessor_name (#PCDATA)>
<!ELEMENT assessor_role (#PCDATA)>
<!ELEMENT assessment_date (#PCDATA)>
<!ELEMENT consent_eligibility_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
