forms/bone-marrow-donation-assessment/xml-representations/assessment_infectious_disease_screening.dtd

<!ELEMENT assessment_infectious_disease_screening (id,assessment_id,hiv_status,hepatitis_b_surface_antigen,hepatitis_b_core_antibody,hepatitis_c_antibody,htlv_status,syphilis_screen,cmv_status,ebv_status,toxoplasma_status,tuberculosis_screen,recent_travel,travel_details,recent_infection,infection_details,vaccination_up_to_date,infectious_disease_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT hiv_status (#PCDATA)>
<!ELEMENT hepatitis_b_surface_antigen (#PCDATA)>
<!ELEMENT hepatitis_b_core_antibody (#PCDATA)>
<!ELEMENT hepatitis_c_antibody (#PCDATA)>
<!ELEMENT htlv_status (#PCDATA)>
<!ELEMENT syphilis_screen (#PCDATA)>
<!ELEMENT cmv_status (#PCDATA)>
<!ELEMENT ebv_status (#PCDATA)>
<!ELEMENT toxoplasma_status (#PCDATA)>
<!ELEMENT tuberculosis_screen (#PCDATA)>
<!ELEMENT recent_travel (#PCDATA)>
<!ELEMENT travel_details (#PCDATA)>
<!ELEMENT recent_infection (#PCDATA)>
<!ELEMENT infection_details (#PCDATA)>
<!ELEMENT vaccination_up_to_date (#PCDATA)>
<!ELEMENT infectious_disease_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
