forms/bone-marrow-donation-assessment/xml-representations/assessment_haematological.dtd

<!ELEMENT assessment_haematological (id,assessment_id,haemoglobin,white_cell_count,platelet_count,neutrophil_count,lymphocyte_count,haematocrit,mcv,blood_group,coagulation_screen,coagulation_details,ferritin,creatinine,liver_function,liver_function_details,haematological_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT haemoglobin (#PCDATA)>
<!ELEMENT white_cell_count (#PCDATA)>
<!ELEMENT platelet_count (#PCDATA)>
<!ELEMENT neutrophil_count (#PCDATA)>
<!ELEMENT lymphocyte_count (#PCDATA)>
<!ELEMENT haematocrit (#PCDATA)>
<!ELEMENT mcv (#PCDATA)>
<!ELEMENT blood_group (#PCDATA)>
<!ELEMENT coagulation_screen (#PCDATA)>
<!ELEMENT coagulation_details (#PCDATA)>
<!ELEMENT ferritin (#PCDATA)>
<!ELEMENT creatinine (#PCDATA)>
<!ELEMENT liver_function (#PCDATA)>
<!ELEMENT liver_function_details (#PCDATA)>
<!ELEMENT haematological_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
