forms/bone-marrow-donation-assessment/xml-representations/assessment_physical_examination.dtd

<!ELEMENT assessment_physical_examination (id,assessment_id,blood_pressure_systolic,blood_pressure_diastolic,heart_rate,temperature_celsius,respiratory_rate,oxygen_saturation,general_appearance,cardiovascular_examination,cardiovascular_findings,respiratory_examination,respiratory_findings,abdominal_examination,abdominal_findings,venous_access_assessment,venous_access_notes,posterior_iliac_crest_assessment,physical_examination_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT blood_pressure_systolic (#PCDATA)>
<!ELEMENT blood_pressure_diastolic (#PCDATA)>
<!ELEMENT heart_rate (#PCDATA)>
<!ELEMENT temperature_celsius (#PCDATA)>
<!ELEMENT respiratory_rate (#PCDATA)>
<!ELEMENT oxygen_saturation (#PCDATA)>
<!ELEMENT general_appearance (#PCDATA)>
<!ELEMENT cardiovascular_examination (#PCDATA)>
<!ELEMENT cardiovascular_findings (#PCDATA)>
<!ELEMENT respiratory_examination (#PCDATA)>
<!ELEMENT respiratory_findings (#PCDATA)>
<!ELEMENT abdominal_examination (#PCDATA)>
<!ELEMENT abdominal_findings (#PCDATA)>
<!ELEMENT venous_access_assessment (#PCDATA)>
<!ELEMENT venous_access_notes (#PCDATA)>
<!ELEMENT posterior_iliac_crest_assessment (#PCDATA)>
<!ELEMENT physical_examination_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
