forms/bone-marrow-donation-assessment/xml-representations/assessment_collection_method.dtd

<!ELEMENT assessment_collection_method (id,assessment_id,preferred_method,recipient_preference,final_collection_method,gcsf_eligible,gcsf_contraindications,venous_access_suitable_for_apheresis,central_line_required,estimated_donor_weight_kg,target_cd34_dose,estimated_collection_days,bone_marrow_harvest_volume_ml,autologous_blood_donation,collection_method_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT preferred_method (#PCDATA)>
<!ELEMENT recipient_preference (#PCDATA)>
<!ELEMENT final_collection_method (#PCDATA)>
<!ELEMENT gcsf_eligible (#PCDATA)>
<!ELEMENT gcsf_contraindications (#PCDATA)>
<!ELEMENT venous_access_suitable_for_apheresis (#PCDATA)>
<!ELEMENT central_line_required (#PCDATA)>
<!ELEMENT estimated_donor_weight_kg (#PCDATA)>
<!ELEMENT target_cd34_dose (#PCDATA)>
<!ELEMENT estimated_collection_days (#PCDATA)>
<!ELEMENT bone_marrow_harvest_volume_ml (#PCDATA)>
<!ELEMENT autologous_blood_donation (#PCDATA)>
<!ELEMENT collection_method_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
