forms/bone-marrow-donation-assessment/xml-representations/assessment_psychological_readiness.dtd

<!ELEMENT assessment_psychological_readiness (id,assessment_id,understands_procedure,understands_risks,voluntary_decision,coercion_concerns,coercion_details,anxiety_about_procedure,previous_psychological_issues,psychological_issue_details,support_network,time_off_work_arranged,donor_advocate_consulted,willing_to_proceed,psychological_readiness_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT understands_procedure (#PCDATA)>
<!ELEMENT understands_risks (#PCDATA)>
<!ELEMENT voluntary_decision (#PCDATA)>
<!ELEMENT coercion_concerns (#PCDATA)>
<!ELEMENT coercion_details (#PCDATA)>
<!ELEMENT anxiety_about_procedure (#PCDATA)>
<!ELEMENT previous_psychological_issues (#PCDATA)>
<!ELEMENT psychological_issue_details (#PCDATA)>
<!ELEMENT support_network (#PCDATA)>
<!ELEMENT time_off_work_arranged (#PCDATA)>
<!ELEMENT donor_advocate_consulted (#PCDATA)>
<!ELEMENT willing_to_proceed (#PCDATA)>
<!ELEMENT psychological_readiness_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
