forms/bone-marrow-donation-assessment/xml-representations/assessment_anaesthetic.dtd

<!ELEMENT assessment_anaesthetic (id,assessment_id,asa_grade,previous_anaesthetic,anaesthetic_complications,complication_details,family_anaesthetic_problems,family_problem_details,mallampati_score,airway_concerns,airway_details,nil_by_mouth_confirmed,smoking_status,alcohol_use,anaesthetic_plan,anaesthetic_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT asa_grade (#PCDATA)>
<!ELEMENT previous_anaesthetic (#PCDATA)>
<!ELEMENT anaesthetic_complications (#PCDATA)>
<!ELEMENT complication_details (#PCDATA)>
<!ELEMENT family_anaesthetic_problems (#PCDATA)>
<!ELEMENT family_problem_details (#PCDATA)>
<!ELEMENT mallampati_score (#PCDATA)>
<!ELEMENT airway_concerns (#PCDATA)>
<!ELEMENT airway_details (#PCDATA)>
<!ELEMENT nil_by_mouth_confirmed (#PCDATA)>
<!ELEMENT smoking_status (#PCDATA)>
<!ELEMENT alcohol_use (#PCDATA)>
<!ELEMENT anaesthetic_plan (#PCDATA)>
<!ELEMENT anaesthetic_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
