forms/bone-marrow-donation-assessment/xml-representations/assessment_medical_history.dtd

<!ELEMENT assessment_medical_history (id,assessment_id,has_autoimmune_disease,autoimmune_details,has_malignancy,malignancy_details,has_cardiovascular_disease,cardiovascular_details,has_respiratory_disease,respiratory_details,has_renal_disease,renal_details,has_hepatic_disease,hepatic_details,has_bleeding_disorder,bleeding_disorder_details,has_neurological_condition,neurological_details,current_medications,drug_allergies,previous_surgery,surgery_details,medical_history_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_autoimmune_disease (#PCDATA)>
<!ELEMENT autoimmune_details (#PCDATA)>
<!ELEMENT has_malignancy (#PCDATA)>
<!ELEMENT malignancy_details (#PCDATA)>
<!ELEMENT has_cardiovascular_disease (#PCDATA)>
<!ELEMENT cardiovascular_details (#PCDATA)>
<!ELEMENT has_respiratory_disease (#PCDATA)>
<!ELEMENT respiratory_details (#PCDATA)>
<!ELEMENT has_renal_disease (#PCDATA)>
<!ELEMENT renal_details (#PCDATA)>
<!ELEMENT has_hepatic_disease (#PCDATA)>
<!ELEMENT hepatic_details (#PCDATA)>
<!ELEMENT has_bleeding_disorder (#PCDATA)>
<!ELEMENT bleeding_disorder_details (#PCDATA)>
<!ELEMENT has_neurological_condition (#PCDATA)>
<!ELEMENT neurological_details (#PCDATA)>
<!ELEMENT current_medications (#PCDATA)>
<!ELEMENT drug_allergies (#PCDATA)>
<!ELEMENT previous_surgery (#PCDATA)>
<!ELEMENT surgery_details (#PCDATA)>
<!ELEMENT medical_history_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
