forms/bone-marrow-donation-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,anaesthetic,collection_method,consent_eligibility,demographics,donor_registration_hla_typing,haematological,infectious_disease_screening,medical_history,physical_examination,psychological_readiness)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT anaesthetic (id,assessment_id,asa_grade,previous_anaesthetic,anaesthetic_complications,complication_details,family_anaesthetic_problems,family_problem_details,mallampati_score,airway_concerns,airway_details,nil_by_mouth_confirmed,smoking_status,alcohol_use,anaesthetic_plan,anaesthetic_notes,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT asa_grade (#PCDATA)>
<!ELEMENT previous_anaesthetic (#PCDATA)>
<!ELEMENT anaesthetic_complications (#PCDATA)>
<!ELEMENT complication_details (#PCDATA)>
<!ELEMENT family_anaesthetic_problems (#PCDATA)>
<!ELEMENT family_problem_details (#PCDATA)>
<!ELEMENT mallampati_score (#PCDATA)>
<!ELEMENT airway_concerns (#PCDATA)>
<!ELEMENT airway_details (#PCDATA)>
<!ELEMENT nil_by_mouth_confirmed (#PCDATA)>
<!ELEMENT smoking_status (#PCDATA)>
<!ELEMENT alcohol_use (#PCDATA)>
<!ELEMENT anaesthetic_plan (#PCDATA)>
<!ELEMENT anaesthetic_notes (#PCDATA)>
<!ELEMENT collection_method (id,assessment_id,preferred_method,recipient_preference,final_collection_method,gcsf_eligible,gcsf_contraindications,venous_access_suitable_for_apheresis,central_line_required,estimated_donor_weight_kg,target_cd34_dose,estimated_collection_days,bone_marrow_harvest_volume_ml,autologous_blood_donation,collection_method_notes,created_at,updated_at)>
<!ELEMENT preferred_method (#PCDATA)>
<!ELEMENT recipient_preference (#PCDATA)>
<!ELEMENT final_collection_method (#PCDATA)>
<!ELEMENT gcsf_eligible (#PCDATA)>
<!ELEMENT gcsf_contraindications (#PCDATA)>
<!ELEMENT venous_access_suitable_for_apheresis (#PCDATA)>
<!ELEMENT central_line_required (#PCDATA)>
<!ELEMENT estimated_donor_weight_kg (#PCDATA)>
<!ELEMENT target_cd34_dose (#PCDATA)>
<!ELEMENT estimated_collection_days (#PCDATA)>
<!ELEMENT bone_marrow_harvest_volume_ml (#PCDATA)>
<!ELEMENT autologous_blood_donation (#PCDATA)>
<!ELEMENT collection_method_notes (#PCDATA)>
<!ELEMENT consent_eligibility (id,assessment_id,informed_consent_given,consent_form_signed,consent_date,witness_name,witness_role,information_leaflet_provided,questions_answered,eligibility_decision,eligibility_conditions,deferral_reason,deferral_duration,assessor_name,assessor_role,assessment_date,consent_eligibility_notes,created_at,updated_at)>
<!ELEMENT informed_consent_given (#PCDATA)>
<!ELEMENT consent_form_signed (#PCDATA)>
<!ELEMENT consent_date (#PCDATA)>
<!ELEMENT witness_name (#PCDATA)>
<!ELEMENT witness_role (#PCDATA)>
<!ELEMENT information_leaflet_provided (#PCDATA)>
<!ELEMENT questions_answered (#PCDATA)>
<!ELEMENT eligibility_decision (#PCDATA)>
<!ELEMENT eligibility_conditions (#PCDATA)>
<!ELEMENT deferral_reason (#PCDATA)>
<!ELEMENT deferral_duration (#PCDATA)>
<!ELEMENT assessor_name (#PCDATA)>
<!ELEMENT assessor_role (#PCDATA)>
<!ELEMENT assessment_date (#PCDATA)>
<!ELEMENT consent_eligibility_notes (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,preferred_name,gender_identity,ethnicity,preferred_language,interpreter_required,gp_name,gp_practice,referrer_name,referrer_role,created_at,updated_at)>
<!ELEMENT preferred_name (#PCDATA)>
<!ELEMENT gender_identity (#PCDATA)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT preferred_language (#PCDATA)>
<!ELEMENT interpreter_required (#PCDATA)>
<!ELEMENT gp_name (#PCDATA)>
<!ELEMENT gp_practice (#PCDATA)>
<!ELEMENT referrer_name (#PCDATA)>
<!ELEMENT referrer_role (#PCDATA)>
<!ELEMENT donor_registration_hla_typing (id,assessment_id,donor_registry,donor_registry_id,registration_date,donation_type,recipient_relationship,hla_a,hla_b,hla_c,hla_drb1,hla_dqb1,hla_dpb1,hla_match_level,crossmatch_result,previous_donation,previous_donation_details,hla_typing_notes,created_at,updated_at)>
<!ELEMENT donor_registry (#PCDATA)>
<!ELEMENT donor_registry_id (#PCDATA)>
<!ELEMENT registration_date (#PCDATA)>
<!ELEMENT donation_type (#PCDATA)>
<!ELEMENT recipient_relationship (#PCDATA)>
<!ELEMENT hla_a (#PCDATA)>
<!ELEMENT hla_b (#PCDATA)>
<!ELEMENT hla_c (#PCDATA)>
<!ELEMENT hla_drb1 (#PCDATA)>
<!ELEMENT hla_dqb1 (#PCDATA)>
<!ELEMENT hla_dpb1 (#PCDATA)>
<!ELEMENT hla_match_level (#PCDATA)>
<!ELEMENT crossmatch_result (#PCDATA)>
<!ELEMENT previous_donation (#PCDATA)>
<!ELEMENT previous_donation_details (#PCDATA)>
<!ELEMENT hla_typing_notes (#PCDATA)>
<!ELEMENT haematological (id,assessment_id,haemoglobin,white_cell_count,platelet_count,neutrophil_count,lymphocyte_count,haematocrit,mcv,blood_group,coagulation_screen,coagulation_details,ferritin,creatinine,liver_function,liver_function_details,haematological_notes,created_at,updated_at)>
<!ELEMENT haemoglobin (#PCDATA)>
<!ELEMENT white_cell_count (#PCDATA)>
<!ELEMENT platelet_count (#PCDATA)>
<!ELEMENT neutrophil_count (#PCDATA)>
<!ELEMENT lymphocyte_count (#PCDATA)>
<!ELEMENT haematocrit (#PCDATA)>
<!ELEMENT mcv (#PCDATA)>
<!ELEMENT blood_group (#PCDATA)>
<!ELEMENT coagulation_screen (#PCDATA)>
<!ELEMENT coagulation_details (#PCDATA)>
<!ELEMENT ferritin (#PCDATA)>
<!ELEMENT creatinine (#PCDATA)>
<!ELEMENT liver_function (#PCDATA)>
<!ELEMENT liver_function_details (#PCDATA)>
<!ELEMENT haematological_notes (#PCDATA)>
<!ELEMENT infectious_disease_screening (id,assessment_id,hiv_status,hepatitis_b_surface_antigen,hepatitis_b_core_antibody,hepatitis_c_antibody,htlv_status,syphilis_screen,cmv_status,ebv_status,toxoplasma_status,tuberculosis_screen,recent_travel,travel_details,recent_infection,infection_details,vaccination_up_to_date,infectious_disease_notes,created_at,updated_at)>
<!ELEMENT hiv_status (#PCDATA)>
<!ELEMENT hepatitis_b_surface_antigen (#PCDATA)>
<!ELEMENT hepatitis_b_core_antibody (#PCDATA)>
<!ELEMENT hepatitis_c_antibody (#PCDATA)>
<!ELEMENT htlv_status (#PCDATA)>
<!ELEMENT syphilis_screen (#PCDATA)>
<!ELEMENT cmv_status (#PCDATA)>
<!ELEMENT ebv_status (#PCDATA)>
<!ELEMENT toxoplasma_status (#PCDATA)>
<!ELEMENT tuberculosis_screen (#PCDATA)>
<!ELEMENT recent_travel (#PCDATA)>
<!ELEMENT travel_details (#PCDATA)>
<!ELEMENT recent_infection (#PCDATA)>
<!ELEMENT infection_details (#PCDATA)>
<!ELEMENT vaccination_up_to_date (#PCDATA)>
<!ELEMENT infectious_disease_notes (#PCDATA)>
<!ELEMENT medical_history (id,assessment_id,has_autoimmune_disease,autoimmune_details,has_malignancy,malignancy_details,has_cardiovascular_disease,cardiovascular_details,has_respiratory_disease,respiratory_details,has_renal_disease,renal_details,has_hepatic_disease,hepatic_details,has_bleeding_disorder,bleeding_disorder_details,has_neurological_condition,neurological_details,current_medications,drug_allergies,previous_surgery,surgery_details,medical_history_notes,created_at,updated_at)>
<!ELEMENT has_autoimmune_disease (#PCDATA)>
<!ELEMENT autoimmune_details (#PCDATA)>
<!ELEMENT has_malignancy (#PCDATA)>
<!ELEMENT malignancy_details (#PCDATA)>
<!ELEMENT has_cardiovascular_disease (#PCDATA)>
<!ELEMENT cardiovascular_details (#PCDATA)>
<!ELEMENT has_respiratory_disease (#PCDATA)>
<!ELEMENT respiratory_details (#PCDATA)>
<!ELEMENT has_renal_disease (#PCDATA)>
<!ELEMENT renal_details (#PCDATA)>
<!ELEMENT has_hepatic_disease (#PCDATA)>
<!ELEMENT hepatic_details (#PCDATA)>
<!ELEMENT has_bleeding_disorder (#PCDATA)>
<!ELEMENT bleeding_disorder_details (#PCDATA)>
<!ELEMENT has_neurological_condition (#PCDATA)>
<!ELEMENT neurological_details (#PCDATA)>
<!ELEMENT current_medications (#PCDATA)>
<!ELEMENT drug_allergies (#PCDATA)>
<!ELEMENT previous_surgery (#PCDATA)>
<!ELEMENT surgery_details (#PCDATA)>
<!ELEMENT medical_history_notes (#PCDATA)>
<!ELEMENT physical_examination (id,assessment_id,blood_pressure_systolic,blood_pressure_diastolic,heart_rate,temperature_celsius,respiratory_rate,oxygen_saturation,general_appearance,cardiovascular_examination,cardiovascular_findings,respiratory_examination,respiratory_findings,abdominal_examination,abdominal_findings,venous_access_assessment,venous_access_notes,posterior_iliac_crest_assessment,physical_examination_notes,created_at,updated_at)>
<!ELEMENT blood_pressure_systolic (#PCDATA)>
<!ELEMENT blood_pressure_diastolic (#PCDATA)>
<!ELEMENT heart_rate (#PCDATA)>
<!ELEMENT temperature_celsius (#PCDATA)>
<!ELEMENT respiratory_rate (#PCDATA)>
<!ELEMENT oxygen_saturation (#PCDATA)>
<!ELEMENT general_appearance (#PCDATA)>
<!ELEMENT cardiovascular_examination (#PCDATA)>
<!ELEMENT cardiovascular_findings (#PCDATA)>
<!ELEMENT respiratory_examination (#PCDATA)>
<!ELEMENT respiratory_findings (#PCDATA)>
<!ELEMENT abdominal_examination (#PCDATA)>
<!ELEMENT abdominal_findings (#PCDATA)>
<!ELEMENT venous_access_assessment (#PCDATA)>
<!ELEMENT venous_access_notes (#PCDATA)>
<!ELEMENT posterior_iliac_crest_assessment (#PCDATA)>
<!ELEMENT physical_examination_notes (#PCDATA)>
<!ELEMENT psychological_readiness (id,assessment_id,understands_procedure,understands_risks,voluntary_decision,coercion_concerns,coercion_details,anxiety_about_procedure,previous_psychological_issues,psychological_issue_details,support_network,time_off_work_arranged,donor_advocate_consulted,willing_to_proceed,psychological_readiness_notes,created_at,updated_at)>
<!ELEMENT understands_procedure (#PCDATA)>
<!ELEMENT understands_risks (#PCDATA)>
<!ELEMENT voluntary_decision (#PCDATA)>
<!ELEMENT coercion_concerns (#PCDATA)>
<!ELEMENT coercion_details (#PCDATA)>
<!ELEMENT anxiety_about_procedure (#PCDATA)>
<!ELEMENT previous_psychological_issues (#PCDATA)>
<!ELEMENT psychological_issue_details (#PCDATA)>
<!ELEMENT support_network (#PCDATA)>
<!ELEMENT time_off_work_arranged (#PCDATA)>
<!ELEMENT donor_advocate_consulted (#PCDATA)>
<!ELEMENT willing_to_proceed (#PCDATA)>
<!ELEMENT psychological_readiness_notes (#PCDATA)>
