forms/bone-marrow-donation-assessment/xml-representations/assessment_donor_registration_hla_typing.dtd

<!ELEMENT assessment_donor_registration_hla_typing (id,assessment_id,donor_registry,donor_registry_id,registration_date,donation_type,recipient_relationship,hla_a,hla_b,hla_c,hla_drb1,hla_dqb1,hla_dpb1,hla_match_level,crossmatch_result,previous_donation,previous_donation_details,hla_typing_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT donor_registry (#PCDATA)>
<!ELEMENT donor_registry_id (#PCDATA)>
<!ELEMENT registration_date (#PCDATA)>
<!ELEMENT donation_type (#PCDATA)>
<!ELEMENT recipient_relationship (#PCDATA)>
<!ELEMENT hla_a (#PCDATA)>
<!ELEMENT hla_b (#PCDATA)>
<!ELEMENT hla_c (#PCDATA)>
<!ELEMENT hla_drb1 (#PCDATA)>
<!ELEMENT hla_dqb1 (#PCDATA)>
<!ELEMENT hla_dpb1 (#PCDATA)>
<!ELEMENT hla_match_level (#PCDATA)>
<!ELEMENT crossmatch_result (#PCDATA)>
<!ELEMENT previous_donation (#PCDATA)>
<!ELEMENT previous_donation_details (#PCDATA)>
<!ELEMENT hla_typing_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
