forms/allergy-assessment/xml-representations/assessment_impact_action_plan.dtd

<!ELEMENT assessment_impact_action_plan (id,assessment_id,quality_of_life_score,school_work_impact,school_work_impact_details,emergency_action_plan_status,training_provided,training_details,follow_up_schedule,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT quality_of_life_score (#PCDATA)>
<!ELEMENT school_work_impact (#PCDATA)>
<!ELEMENT school_work_impact_details (#PCDATA)>
<!ELEMENT emergency_action_plan_status (#PCDATA)>
<!ELEMENT training_provided (#PCDATA)>
<!ELEMENT training_details (#PCDATA)>
<!ELEMENT follow_up_schedule (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
