forms/allergy-assessment/xml-representations/assessment_drug_allergy_item.dtd

<!ELEMENT assessment_drug_allergy_item (id,drug_allergies_id,allergen,reaction_type,severity,timing,alternatives_tolerated,sort_order,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT drug_allergies_id (#PCDATA)>
<!ELEMENT allergen (#PCDATA)>
<!ELEMENT reaction_type (#PCDATA)>
<!ELEMENT severity (#PCDATA)>
<!ELEMENT timing (#PCDATA)>
<!ELEMENT alternatives_tolerated (#PCDATA)>
<!ELEMENT sort_order (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
