forms/allergy-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,allergy_history,anaphylaxis_episode,anaphylaxis_history,comorbidities,current_management,drug_allergies,drug_allergy_item,environmental_allergies,food_allergies,food_allergy_item,impact_action_plan,other_medication,test_result_item,testing_results)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT allergy_history (id,assessment_id,age_of_onset,known_allergens,family_history_of_atopy,family_atopy_details,family_history_of_allergy,family_allergy_details,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT age_of_onset (#PCDATA)>
<!ELEMENT known_allergens (#PCDATA)>
<!ELEMENT family_history_of_atopy (#PCDATA)>
<!ELEMENT family_atopy_details (#PCDATA)>
<!ELEMENT family_history_of_allergy (#PCDATA)>
<!ELEMENT family_allergy_details (#PCDATA)>
<!ELEMENT anaphylaxis_episode (id,anaphylaxis_history_id,trigger_description,symptoms,treatment_required,sort_order,created_at,updated_at)>
<!ELEMENT anaphylaxis_history_id (#PCDATA)>
<!ELEMENT trigger_description (#PCDATA)>
<!ELEMENT symptoms (#PCDATA)>
<!ELEMENT treatment_required (#PCDATA)>
<!ELEMENT sort_order (#PCDATA)>
<!ELEMENT anaphylaxis_history (id,assessment_id,has_anaphylaxis_history,number_of_episodes,adrenaline_auto_injector_prescribed,action_plan_in_place,created_at,updated_at)>
<!ELEMENT has_anaphylaxis_history (#PCDATA)>
<!ELEMENT number_of_episodes (#PCDATA)>
<!ELEMENT adrenaline_auto_injector_prescribed (#PCDATA)>
<!ELEMENT action_plan_in_place (#PCDATA)>
<!ELEMENT comorbidities (id,assessment_id,asthma,asthma_severity,eczema,eczema_severity,rhinitis,rhinitis_severity,eosinophilic_oesophagitis,mast_cell_disorders,mast_cell_details,mental_health_impact,mental_health_details,created_at,updated_at)>
<!ELEMENT asthma (#PCDATA)>
<!ELEMENT asthma_severity (#PCDATA)>
<!ELEMENT eczema (#PCDATA)>
<!ELEMENT eczema_severity (#PCDATA)>
<!ELEMENT rhinitis (#PCDATA)>
<!ELEMENT rhinitis_severity (#PCDATA)>
<!ELEMENT eosinophilic_oesophagitis (#PCDATA)>
<!ELEMENT mast_cell_disorders (#PCDATA)>
<!ELEMENT mast_cell_details (#PCDATA)>
<!ELEMENT mental_health_impact (#PCDATA)>
<!ELEMENT mental_health_details (#PCDATA)>
<!ELEMENT current_management (id,assessment_id,antihistamines,antihistamine_details,nasal_steroids,adrenaline_auto_injector,immunotherapy,immunotherapy_details,biologics,biologic_details,allergen_avoidance_strategies,created_at,updated_at)>
<!ELEMENT antihistamines (#PCDATA)>
<!ELEMENT antihistamine_details (#PCDATA)>
<!ELEMENT nasal_steroids (#PCDATA)>
<!ELEMENT adrenaline_auto_injector (#PCDATA)>
<!ELEMENT immunotherapy (#PCDATA)>
<!ELEMENT immunotherapy_details (#PCDATA)>
<!ELEMENT biologics (#PCDATA)>
<!ELEMENT biologic_details (#PCDATA)>
<!ELEMENT allergen_avoidance_strategies (#PCDATA)>
<!ELEMENT drug_allergies (id,assessment_id,has_drug_allergies,cross_reactivity_concerns,created_at,updated_at)>
<!ELEMENT has_drug_allergies (#PCDATA)>
<!ELEMENT cross_reactivity_concerns (#PCDATA)>
<!ELEMENT drug_allergy_item (id,drug_allergies_id,allergen,reaction_type,severity,timing,alternatives_tolerated,sort_order,created_at,updated_at)>
<!ELEMENT drug_allergies_id (#PCDATA)>
<!ELEMENT allergen (#PCDATA)>
<!ELEMENT reaction_type (#PCDATA)>
<!ELEMENT severity (#PCDATA)>
<!ELEMENT timing (#PCDATA)>
<!ELEMENT alternatives_tolerated (#PCDATA)>
<!ELEMENT environmental_allergies (id,assessment_id,pollen_allergy,dust_mite_allergy,mould_allergy,animal_dander_allergy,latex_allergy,insect_sting_allergy,insect_sting_severity,seasonal_pattern,other_environmental_allergens,created_at,updated_at)>
<!ELEMENT pollen_allergy (#PCDATA)>
<!ELEMENT dust_mite_allergy (#PCDATA)>
<!ELEMENT mould_allergy (#PCDATA)>
<!ELEMENT animal_dander_allergy (#PCDATA)>
<!ELEMENT latex_allergy (#PCDATA)>
<!ELEMENT insect_sting_allergy (#PCDATA)>
<!ELEMENT insect_sting_severity (#PCDATA)>
<!ELEMENT seasonal_pattern (#PCDATA)>
<!ELEMENT other_environmental_allergens (#PCDATA)>
<!ELEMENT food_allergies (id,assessment_id,has_food_allergies,ige_type,oral_allergy_syndrome,dietary_restrictions,created_at,updated_at)>
<!ELEMENT has_food_allergies (#PCDATA)>
<!ELEMENT ige_type (#PCDATA)>
<!ELEMENT oral_allergy_syndrome (#PCDATA)>
<!ELEMENT dietary_restrictions (#PCDATA)>
<!ELEMENT food_allergy_item (id,food_allergies_id,allergen,reaction_type,severity,timing,alternatives_tolerated,sort_order,created_at,updated_at)>
<!ELEMENT food_allergies_id (#PCDATA)>
<!ELEMENT impact_action_plan (id,assessment_id,quality_of_life_score,school_work_impact,school_work_impact_details,emergency_action_plan_status,training_provided,training_details,follow_up_schedule,created_at,updated_at)>
<!ELEMENT quality_of_life_score (#PCDATA)>
<!ELEMENT school_work_impact (#PCDATA)>
<!ELEMENT school_work_impact_details (#PCDATA)>
<!ELEMENT emergency_action_plan_status (#PCDATA)>
<!ELEMENT training_provided (#PCDATA)>
<!ELEMENT training_details (#PCDATA)>
<!ELEMENT follow_up_schedule (#PCDATA)>
<!ELEMENT other_medication (id,current_management_id,medication_name,dose,frequency,sort_order,created_at,updated_at)>
<!ELEMENT current_management_id (#PCDATA)>
<!ELEMENT medication_name (#PCDATA)>
<!ELEMENT dose (#PCDATA)>
<!ELEMENT frequency (#PCDATA)>
<!ELEMENT test_result_item (id,testing_results_id,test_type,allergen,result,sort_order,created_at,updated_at)>
<!ELEMENT testing_results_id (#PCDATA)>
<!ELEMENT test_type (#PCDATA)>
<!ELEMENT result (#PCDATA)>
<!ELEMENT testing_results (id,assessment_id,skin_prick_tests_done,specific_ige_done,component_resolved_diagnostics_done,challenge_tests_done,patch_tests_done,created_at,updated_at)>
<!ELEMENT skin_prick_tests_done (#PCDATA)>
<!ELEMENT specific_ige_done (#PCDATA)>
<!ELEMENT component_resolved_diagnostics_done (#PCDATA)>
<!ELEMENT challenge_tests_done (#PCDATA)>
<!ELEMENT patch_tests_done (#PCDATA)>
