forms/allergy-assessment/xml-representations/assessment_anaphylaxis_episode.dtd

<!ELEMENT assessment_anaphylaxis_episode (id,anaphylaxis_history_id,trigger_description,symptoms,treatment_required,sort_order,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT anaphylaxis_history_id (#PCDATA)>
<!ELEMENT trigger_description (#PCDATA)>
<!ELEMENT symptoms (#PCDATA)>
<!ELEMENT treatment_required (#PCDATA)>
<!ELEMENT sort_order (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
