forms/allergy-assessment/xml-representations/assessment_testing_results.dtd

<!ELEMENT assessment_testing_results (id,assessment_id,skin_prick_tests_done,specific_ige_done,component_resolved_diagnostics_done,challenge_tests_done,patch_tests_done,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT skin_prick_tests_done (#PCDATA)>
<!ELEMENT specific_ige_done (#PCDATA)>
<!ELEMENT component_resolved_diagnostics_done (#PCDATA)>
<!ELEMENT challenge_tests_done (#PCDATA)>
<!ELEMENT patch_tests_done (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
