forms/allergy-assessment/xml-representations/grading_result.dtd

<!ELEMENT grading_result (id,assessment_id,severity_level,allergy_burden_score,graded_at,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT severity_level (#PCDATA)>
<!ELEMENT allergy_burden_score (#PCDATA)>
<!ELEMENT graded_at (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
