forms/hematology-assessment/xml-representations/assessment_patient_information.dtd

<!ELEMENT assessment_patient_information (id,assessment_id,patient_name,date_of_birth,medical_record_number,referring_physician,clinical_indication,specimen_date,specimen_type,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT patient_name (#PCDATA)>
<!ELEMENT date_of_birth (#PCDATA)>
<!ELEMENT medical_record_number (#PCDATA)>
<!ELEMENT referring_physician (#PCDATA)>
<!ELEMENT clinical_indication (#PCDATA)>
<!ELEMENT specimen_date (#PCDATA)>
<!ELEMENT specimen_type (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
