forms/hematology-assessment/xml-representations/assessment_transfusion_history.dtd

<!ELEMENT assessment_transfusion_history (id,assessment_id,previous_transfusions,transfusion_reactions,blood_group_type,antibody_screen,crossmatch_results,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT previous_transfusions (#PCDATA)>
<!ELEMENT transfusion_reactions (#PCDATA)>
<!ELEMENT blood_group_type (#PCDATA)>
<!ELEMENT antibody_screen (#PCDATA)>
<!ELEMENT crossmatch_results (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
