forms/hematology-assessment/xml-representations/assessment_blood_count_analysis.dtd

<!ELEMENT assessment_blood_count_analysis (id,assessment_id,hemoglobin,hematocrit,red_blood_cell_count,white_blood_cell_count,platelet_count,mean_corpuscular_volume,mean_corpuscular_hemoglobin,red_cell_distribution_width,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT hemoglobin (#PCDATA)>
<!ELEMENT hematocrit (#PCDATA)>
<!ELEMENT red_blood_cell_count (#PCDATA)>
<!ELEMENT white_blood_cell_count (#PCDATA)>
<!ELEMENT platelet_count (#PCDATA)>
<!ELEMENT mean_corpuscular_volume (#PCDATA)>
<!ELEMENT mean_corpuscular_hemoglobin (#PCDATA)>
<!ELEMENT red_cell_distribution_width (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
