forms/hematology-assessment/xml-representations/assessment_clinical_review.dtd

<!ELEMENT assessment_clinical_review (id,assessment_id,clinical_summary,diagnosis,follow_up_plan,urgency_level,reviewer_name,review_date,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT clinical_summary (#PCDATA)>
<!ELEMENT diagnosis (#PCDATA)>
<!ELEMENT follow_up_plan (#PCDATA)>
<!ELEMENT urgency_level (#PCDATA)>
<!ELEMENT reviewer_name (#PCDATA)>
<!ELEMENT review_date (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
