forms/hematology-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,blood_count_analysis,bone_marrow_assessment,clinical_review,coagulation_studies,hemoglobinopathy_screening,iron_studies,patient_information,peripheral_blood_film,transfusion_history,treatment_medications)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT blood_count_analysis (id,assessment_id,hemoglobin,hematocrit,red_blood_cell_count,white_blood_cell_count,platelet_count,mean_corpuscular_volume,mean_corpuscular_hemoglobin,red_cell_distribution_width,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT hemoglobin (#PCDATA)>
<!ELEMENT hematocrit (#PCDATA)>
<!ELEMENT red_blood_cell_count (#PCDATA)>
<!ELEMENT white_blood_cell_count (#PCDATA)>
<!ELEMENT platelet_count (#PCDATA)>
<!ELEMENT mean_corpuscular_volume (#PCDATA)>
<!ELEMENT mean_corpuscular_hemoglobin (#PCDATA)>
<!ELEMENT red_cell_distribution_width (#PCDATA)>
<!ELEMENT bone_marrow_assessment (id,assessment_id,aspirate_findings,biopsy_findings,cellularity,cytogenetics_results,flow_cytometry_results,bone_marrow_comments,created_at,updated_at)>
<!ELEMENT aspirate_findings (#PCDATA)>
<!ELEMENT biopsy_findings (#PCDATA)>
<!ELEMENT cellularity (#PCDATA)>
<!ELEMENT cytogenetics_results (#PCDATA)>
<!ELEMENT flow_cytometry_results (#PCDATA)>
<!ELEMENT bone_marrow_comments (#PCDATA)>
<!ELEMENT clinical_review (id,assessment_id,clinical_summary,diagnosis,follow_up_plan,urgency_level,reviewer_name,review_date,additional_notes,created_at,updated_at)>
<!ELEMENT clinical_summary (#PCDATA)>
<!ELEMENT diagnosis (#PCDATA)>
<!ELEMENT follow_up_plan (#PCDATA)>
<!ELEMENT urgency_level (#PCDATA)>
<!ELEMENT reviewer_name (#PCDATA)>
<!ELEMENT review_date (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT coagulation_studies (id,assessment_id,prothrombin_time,inr,activated_partial_thromboplastin_time,fibrinogen,d_dimer,bleeding_time,created_at,updated_at)>
<!ELEMENT prothrombin_time (#PCDATA)>
<!ELEMENT inr (#PCDATA)>
<!ELEMENT activated_partial_thromboplastin_time (#PCDATA)>
<!ELEMENT fibrinogen (#PCDATA)>
<!ELEMENT d_dimer (#PCDATA)>
<!ELEMENT bleeding_time (#PCDATA)>
<!ELEMENT hemoglobinopathy_screening (id,assessment_id,hemoglobin_electrophoresis,sickle_cell_screen,thalassemia_screen,hplc_results,genetic_testing_notes,created_at,updated_at)>
<!ELEMENT hemoglobin_electrophoresis (#PCDATA)>
<!ELEMENT sickle_cell_screen (#PCDATA)>
<!ELEMENT thalassemia_screen (#PCDATA)>
<!ELEMENT hplc_results (#PCDATA)>
<!ELEMENT genetic_testing_notes (#PCDATA)>
<!ELEMENT iron_studies (id,assessment_id,serum_iron,total_iron_binding_capacity,transferrin_saturation,serum_ferritin,reticulocyte_count,created_at,updated_at)>
<!ELEMENT serum_iron (#PCDATA)>
<!ELEMENT total_iron_binding_capacity (#PCDATA)>
<!ELEMENT transferrin_saturation (#PCDATA)>
<!ELEMENT serum_ferritin (#PCDATA)>
<!ELEMENT reticulocyte_count (#PCDATA)>
<!ELEMENT patient_information (id,assessment_id,patient_name,date_of_birth,medical_record_number,referring_physician,clinical_indication,specimen_date,specimen_type,created_at,updated_at)>
<!ELEMENT patient_name (#PCDATA)>
<!ELEMENT date_of_birth (#PCDATA)>
<!ELEMENT medical_record_number (#PCDATA)>
<!ELEMENT referring_physician (#PCDATA)>
<!ELEMENT clinical_indication (#PCDATA)>
<!ELEMENT specimen_date (#PCDATA)>
<!ELEMENT specimen_type (#PCDATA)>
<!ELEMENT peripheral_blood_film (id,assessment_id,red_cell_morphology,white_blood_cell_differential,platelet_morphology,abnormal_cell_morphology,film_quality,film_comments,created_at,updated_at)>
<!ELEMENT red_cell_morphology (#PCDATA)>
<!ELEMENT white_blood_cell_differential (#PCDATA)>
<!ELEMENT platelet_morphology (#PCDATA)>
<!ELEMENT abnormal_cell_morphology (#PCDATA)>
<!ELEMENT film_quality (#PCDATA)>
<!ELEMENT film_comments (#PCDATA)>
<!ELEMENT transfusion_history (id,assessment_id,previous_transfusions,transfusion_reactions,blood_group_type,antibody_screen,crossmatch_results,created_at,updated_at)>
<!ELEMENT previous_transfusions (#PCDATA)>
<!ELEMENT transfusion_reactions (#PCDATA)>
<!ELEMENT blood_group_type (#PCDATA)>
<!ELEMENT antibody_screen (#PCDATA)>
<!ELEMENT crossmatch_results (#PCDATA)>
<!ELEMENT treatment_medications (id,assessment_id,current_medications,chemotherapy_regimen,anticoagulant_therapy,iron_therapy,treatment_response,adverse_effects,created_at,updated_at)>
<!ELEMENT current_medications (#PCDATA)>
<!ELEMENT chemotherapy_regimen (#PCDATA)>
<!ELEMENT anticoagulant_therapy (#PCDATA)>
<!ELEMENT iron_therapy (#PCDATA)>
<!ELEMENT treatment_response (#PCDATA)>
<!ELEMENT adverse_effects (#PCDATA)>
