forms/hematology-assessment/xml-representations/assessment_peripheral_blood_film.dtd

<!ELEMENT assessment_peripheral_blood_film (id,assessment_id,red_cell_morphology,white_blood_cell_differential,platelet_morphology,abnormal_cell_morphology,film_quality,film_comments,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT red_cell_morphology (#PCDATA)>
<!ELEMENT white_blood_cell_differential (#PCDATA)>
<!ELEMENT platelet_morphology (#PCDATA)>
<!ELEMENT abnormal_cell_morphology (#PCDATA)>
<!ELEMENT film_quality (#PCDATA)>
<!ELEMENT film_comments (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
