forms/vaccinations-checklist/xml-representations/assessment_occupational_vaccines.dtd

<!ELEMENT assessment_occupational_vaccines (id,assessment_id,hepatitis_b_course,hepatitis_b_course_date,hepatitis_b_doses_received,hepatitis_b_antibody_level,bcg_vaccine,bcg_vaccine_date,bcg_scar_present,varicella_vaccine,varicella_vaccine_date,varicella_history,hepatitis_a_vaccine,hepatitis_a_vaccine_date,typhoid_vaccine,typhoid_vaccine_date,rabies_vaccine,rabies_vaccine_date,occupational_vaccines_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT hepatitis_b_course (#PCDATA)>
<!ELEMENT hepatitis_b_course_date (#PCDATA)>
<!ELEMENT hepatitis_b_doses_received (#PCDATA)>
<!ELEMENT hepatitis_b_antibody_level (#PCDATA)>
<!ELEMENT bcg_vaccine (#PCDATA)>
<!ELEMENT bcg_vaccine_date (#PCDATA)>
<!ELEMENT bcg_scar_present (#PCDATA)>
<!ELEMENT varicella_vaccine (#PCDATA)>
<!ELEMENT varicella_vaccine_date (#PCDATA)>
<!ELEMENT varicella_history (#PCDATA)>
<!ELEMENT hepatitis_a_vaccine (#PCDATA)>
<!ELEMENT hepatitis_a_vaccine_date (#PCDATA)>
<!ELEMENT typhoid_vaccine (#PCDATA)>
<!ELEMENT typhoid_vaccine_date (#PCDATA)>
<!ELEMENT rabies_vaccine (#PCDATA)>
<!ELEMENT rabies_vaccine_date (#PCDATA)>
<!ELEMENT occupational_vaccines_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
