forms/vaccinations-checklist/xml-representations/assessment_vaccination_history.dtd

<!ELEMENT assessment_vaccination_history (id,assessment_id,has_vaccination_record,record_source,record_source_other,previous_adverse_reaction,adverse_reaction_details,adverse_reaction_vaccine,adverse_reaction_severity,immunocompromised,immunocompromised_details,pregnant_or_planning,vaccination_history_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_vaccination_record (#PCDATA)>
<!ELEMENT record_source (#PCDATA)>
<!ELEMENT record_source_other (#PCDATA)>
<!ELEMENT previous_adverse_reaction (#PCDATA)>
<!ELEMENT adverse_reaction_details (#PCDATA)>
<!ELEMENT adverse_reaction_vaccine (#PCDATA)>
<!ELEMENT adverse_reaction_severity (#PCDATA)>
<!ELEMENT immunocompromised (#PCDATA)>
<!ELEMENT immunocompromised_details (#PCDATA)>
<!ELEMENT pregnant_or_planning (#PCDATA)>
<!ELEMENT vaccination_history_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
