forms/vaccinations-checklist/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,childhood_immunisations,contraindications_allergies,covid19_vaccination,demographics,influenza_vaccination,occupational_vaccines,schedule_compliance,serology_immunity_testing,travel_vaccines,vaccination_history)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT childhood_immunisations (id,assessment_id,mmr_dose_1,mmr_dose_1_date,mmr_dose_2,mmr_dose_2_date,dtp_primary_course,dtp_primary_date,dtp_booster,dtp_booster_date,polio_primary_course,polio_primary_date,polio_booster,polio_booster_date,hib_vaccine,hib_vaccine_date,men_c_vaccine,men_c_vaccine_date,men_acwy_vaccine,men_acwy_vaccine_date,pcv_vaccine,pcv_vaccine_date,childhood_immunisations_notes,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT mmr_dose_1 (#PCDATA)>
<!ELEMENT mmr_dose_1_date (#PCDATA)>
<!ELEMENT mmr_dose_2 (#PCDATA)>
<!ELEMENT mmr_dose_2_date (#PCDATA)>
<!ELEMENT dtp_primary_course (#PCDATA)>
<!ELEMENT dtp_primary_date (#PCDATA)>
<!ELEMENT dtp_booster (#PCDATA)>
<!ELEMENT dtp_booster_date (#PCDATA)>
<!ELEMENT polio_primary_course (#PCDATA)>
<!ELEMENT polio_primary_date (#PCDATA)>
<!ELEMENT polio_booster (#PCDATA)>
<!ELEMENT polio_booster_date (#PCDATA)>
<!ELEMENT hib_vaccine (#PCDATA)>
<!ELEMENT hib_vaccine_date (#PCDATA)>
<!ELEMENT men_c_vaccine (#PCDATA)>
<!ELEMENT men_c_vaccine_date (#PCDATA)>
<!ELEMENT men_acwy_vaccine (#PCDATA)>
<!ELEMENT men_acwy_vaccine_date (#PCDATA)>
<!ELEMENT pcv_vaccine (#PCDATA)>
<!ELEMENT pcv_vaccine_date (#PCDATA)>
<!ELEMENT childhood_immunisations_notes (#PCDATA)>
<!ELEMENT contraindications_allergies (id,assessment_id,egg_allergy,egg_allergy_severity,gelatin_allergy,neomycin_allergy,latex_allergy,yeast_allergy,peg_polysorbate_allergy,other_vaccine_allergies,history_of_gbs,gbs_details,on_immunosuppressants,immunosuppressant_details,on_blood_products_recent,blood_products_details,live_vaccine_contraindicated,live_vaccine_contraindication_reason,contraindications_allergies_notes,created_at,updated_at)>
<!ELEMENT egg_allergy (#PCDATA)>
<!ELEMENT egg_allergy_severity (#PCDATA)>
<!ELEMENT gelatin_allergy (#PCDATA)>
<!ELEMENT neomycin_allergy (#PCDATA)>
<!ELEMENT latex_allergy (#PCDATA)>
<!ELEMENT yeast_allergy (#PCDATA)>
<!ELEMENT peg_polysorbate_allergy (#PCDATA)>
<!ELEMENT other_vaccine_allergies (#PCDATA)>
<!ELEMENT history_of_gbs (#PCDATA)>
<!ELEMENT gbs_details (#PCDATA)>
<!ELEMENT on_immunosuppressants (#PCDATA)>
<!ELEMENT immunosuppressant_details (#PCDATA)>
<!ELEMENT on_blood_products_recent (#PCDATA)>
<!ELEMENT blood_products_details (#PCDATA)>
<!ELEMENT live_vaccine_contraindicated (#PCDATA)>
<!ELEMENT live_vaccine_contraindication_reason (#PCDATA)>
<!ELEMENT contraindications_allergies_notes (#PCDATA)>
<!ELEMENT covid19_vaccination (id,assessment_id,covid_primary_course,covid_primary_vaccine_type,covid_dose_1_date,covid_dose_2_date,covid_booster_1,covid_booster_1_date,covid_booster_1_type,covid_booster_2,covid_booster_2_date,covid_booster_2_type,covid_autumn_booster,covid_autumn_booster_date,total_covid_doses,covid_adverse_reaction,covid_adverse_reaction_details,covid19_vaccination_notes,created_at,updated_at)>
<!ELEMENT covid_primary_course (#PCDATA)>
<!ELEMENT covid_primary_vaccine_type (#PCDATA)>
<!ELEMENT covid_dose_1_date (#PCDATA)>
<!ELEMENT covid_dose_2_date (#PCDATA)>
<!ELEMENT covid_booster_1 (#PCDATA)>
<!ELEMENT covid_booster_1_date (#PCDATA)>
<!ELEMENT covid_booster_1_type (#PCDATA)>
<!ELEMENT covid_booster_2 (#PCDATA)>
<!ELEMENT covid_booster_2_date (#PCDATA)>
<!ELEMENT covid_booster_2_type (#PCDATA)>
<!ELEMENT covid_autumn_booster (#PCDATA)>
<!ELEMENT covid_autumn_booster_date (#PCDATA)>
<!ELEMENT total_covid_doses (#PCDATA)>
<!ELEMENT covid_adverse_reaction (#PCDATA)>
<!ELEMENT covid_adverse_reaction_details (#PCDATA)>
<!ELEMENT covid19_vaccination_notes (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,preferred_name,gender_identity,ethnicity,preferred_language,interpreter_required,gp_name,gp_practice,occupation,occupation_category,employer,created_at,updated_at)>
<!ELEMENT preferred_name (#PCDATA)>
<!ELEMENT gender_identity (#PCDATA)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT preferred_language (#PCDATA)>
<!ELEMENT interpreter_required (#PCDATA)>
<!ELEMENT gp_name (#PCDATA)>
<!ELEMENT gp_practice (#PCDATA)>
<!ELEMENT occupation (#PCDATA)>
<!ELEMENT occupation_category (#PCDATA)>
<!ELEMENT employer (#PCDATA)>
<!ELEMENT influenza_vaccination (id,assessment_id,flu_vaccine_current_season,flu_vaccine_current_date,flu_vaccine_type,flu_vaccine_previous_season,flu_vaccine_annual_recipient,flu_high_risk_group,flu_high_risk_reason,flu_adverse_reaction,flu_adverse_reaction_details,influenza_vaccination_notes,created_at,updated_at)>
<!ELEMENT flu_vaccine_current_season (#PCDATA)>
<!ELEMENT flu_vaccine_current_date (#PCDATA)>
<!ELEMENT flu_vaccine_type (#PCDATA)>
<!ELEMENT flu_vaccine_previous_season (#PCDATA)>
<!ELEMENT flu_vaccine_annual_recipient (#PCDATA)>
<!ELEMENT flu_high_risk_group (#PCDATA)>
<!ELEMENT flu_high_risk_reason (#PCDATA)>
<!ELEMENT flu_adverse_reaction (#PCDATA)>
<!ELEMENT flu_adverse_reaction_details (#PCDATA)>
<!ELEMENT influenza_vaccination_notes (#PCDATA)>
<!ELEMENT occupational_vaccines (id,assessment_id,hepatitis_b_course,hepatitis_b_course_date,hepatitis_b_doses_received,hepatitis_b_antibody_level,bcg_vaccine,bcg_vaccine_date,bcg_scar_present,varicella_vaccine,varicella_vaccine_date,varicella_history,hepatitis_a_vaccine,hepatitis_a_vaccine_date,typhoid_vaccine,typhoid_vaccine_date,rabies_vaccine,rabies_vaccine_date,occupational_vaccines_notes,created_at,updated_at)>
<!ELEMENT hepatitis_b_course (#PCDATA)>
<!ELEMENT hepatitis_b_course_date (#PCDATA)>
<!ELEMENT hepatitis_b_doses_received (#PCDATA)>
<!ELEMENT hepatitis_b_antibody_level (#PCDATA)>
<!ELEMENT bcg_vaccine (#PCDATA)>
<!ELEMENT bcg_vaccine_date (#PCDATA)>
<!ELEMENT bcg_scar_present (#PCDATA)>
<!ELEMENT varicella_vaccine (#PCDATA)>
<!ELEMENT varicella_vaccine_date (#PCDATA)>
<!ELEMENT varicella_history (#PCDATA)>
<!ELEMENT hepatitis_a_vaccine (#PCDATA)>
<!ELEMENT hepatitis_a_vaccine_date (#PCDATA)>
<!ELEMENT typhoid_vaccine (#PCDATA)>
<!ELEMENT typhoid_vaccine_date (#PCDATA)>
<!ELEMENT rabies_vaccine (#PCDATA)>
<!ELEMENT rabies_vaccine_date (#PCDATA)>
<!ELEMENT occupational_vaccines_notes (#PCDATA)>
<!ELEMENT schedule_compliance (id,assessment_id,compliance_status,vaccines_due,vaccines_overdue,catch_up_plan_required,catch_up_plan_details,next_vaccination_date,next_vaccination_type,occupational_health_clearance,occupational_health_clearance_date,exposure_risk_level,active_exposure_incident,active_exposure_details,consent_for_vaccination,consent_date,schedule_compliance_notes,created_at,updated_at)>
<!ELEMENT compliance_status (#PCDATA)>
<!ELEMENT vaccines_due (#PCDATA)>
<!ELEMENT vaccines_overdue (#PCDATA)>
<!ELEMENT catch_up_plan_required (#PCDATA)>
<!ELEMENT catch_up_plan_details (#PCDATA)>
<!ELEMENT next_vaccination_date (#PCDATA)>
<!ELEMENT next_vaccination_type (#PCDATA)>
<!ELEMENT occupational_health_clearance (#PCDATA)>
<!ELEMENT occupational_health_clearance_date (#PCDATA)>
<!ELEMENT exposure_risk_level (#PCDATA)>
<!ELEMENT active_exposure_incident (#PCDATA)>
<!ELEMENT active_exposure_details (#PCDATA)>
<!ELEMENT consent_for_vaccination (#PCDATA)>
<!ELEMENT consent_date (#PCDATA)>
<!ELEMENT schedule_compliance_notes (#PCDATA)>
<!ELEMENT serology_immunity_testing (id,assessment_id,hep_b_surface_antibody,hep_b_surface_antibody_level,hep_b_surface_antibody_date,varicella_igg,varicella_igg_date,measles_igg,measles_igg_date,rubella_igg,rubella_igg_date,mumps_igg,mumps_igg_date,hep_a_igg,hep_a_igg_date,tetanus_antibody,tetanus_antibody_date,tb_igra_result,tb_igra_date,mantoux_result,mantoux_induration_mm,serology_immunity_testing_notes,created_at,updated_at)>
<!ELEMENT hep_b_surface_antibody (#PCDATA)>
<!ELEMENT hep_b_surface_antibody_level (#PCDATA)>
<!ELEMENT hep_b_surface_antibody_date (#PCDATA)>
<!ELEMENT varicella_igg (#PCDATA)>
<!ELEMENT varicella_igg_date (#PCDATA)>
<!ELEMENT measles_igg (#PCDATA)>
<!ELEMENT measles_igg_date (#PCDATA)>
<!ELEMENT rubella_igg (#PCDATA)>
<!ELEMENT rubella_igg_date (#PCDATA)>
<!ELEMENT mumps_igg (#PCDATA)>
<!ELEMENT mumps_igg_date (#PCDATA)>
<!ELEMENT hep_a_igg (#PCDATA)>
<!ELEMENT hep_a_igg_date (#PCDATA)>
<!ELEMENT tetanus_antibody (#PCDATA)>
<!ELEMENT tetanus_antibody_date (#PCDATA)>
<!ELEMENT tb_igra_result (#PCDATA)>
<!ELEMENT tb_igra_date (#PCDATA)>
<!ELEMENT mantoux_result (#PCDATA)>
<!ELEMENT mantoux_induration_mm (#PCDATA)>
<!ELEMENT serology_immunity_testing_notes (#PCDATA)>
<!ELEMENT travel_vaccines (id,assessment_id,travel_planned,travel_destination,travel_departure_date,travel_return_date,yellow_fever_vaccine,yellow_fever_vaccine_date,yellow_fever_certificate,japanese_encephalitis_vaccine,japanese_encephalitis_date,tick_borne_encephalitis_vaccine,tick_borne_encephalitis_date,cholera_vaccine,cholera_vaccine_date,meningococcal_acwy_travel,meningococcal_acwy_travel_date,malaria_prophylaxis,malaria_prophylaxis_drug,travel_vaccines_notes,created_at,updated_at)>
<!ELEMENT travel_planned (#PCDATA)>
<!ELEMENT travel_destination (#PCDATA)>
<!ELEMENT travel_departure_date (#PCDATA)>
<!ELEMENT travel_return_date (#PCDATA)>
<!ELEMENT yellow_fever_vaccine (#PCDATA)>
<!ELEMENT yellow_fever_vaccine_date (#PCDATA)>
<!ELEMENT yellow_fever_certificate (#PCDATA)>
<!ELEMENT japanese_encephalitis_vaccine (#PCDATA)>
<!ELEMENT japanese_encephalitis_date (#PCDATA)>
<!ELEMENT tick_borne_encephalitis_vaccine (#PCDATA)>
<!ELEMENT tick_borne_encephalitis_date (#PCDATA)>
<!ELEMENT cholera_vaccine (#PCDATA)>
<!ELEMENT cholera_vaccine_date (#PCDATA)>
<!ELEMENT meningococcal_acwy_travel (#PCDATA)>
<!ELEMENT meningococcal_acwy_travel_date (#PCDATA)>
<!ELEMENT malaria_prophylaxis (#PCDATA)>
<!ELEMENT malaria_prophylaxis_drug (#PCDATA)>
<!ELEMENT travel_vaccines_notes (#PCDATA)>
<!ELEMENT vaccination_history (id,assessment_id,has_vaccination_record,record_source,record_source_other,previous_adverse_reaction,adverse_reaction_details,adverse_reaction_vaccine,adverse_reaction_severity,immunocompromised,immunocompromised_details,pregnant_or_planning,vaccination_history_notes,created_at,updated_at)>
<!ELEMENT has_vaccination_record (#PCDATA)>
<!ELEMENT record_source (#PCDATA)>
<!ELEMENT record_source_other (#PCDATA)>
<!ELEMENT previous_adverse_reaction (#PCDATA)>
<!ELEMENT adverse_reaction_details (#PCDATA)>
<!ELEMENT adverse_reaction_vaccine (#PCDATA)>
<!ELEMENT adverse_reaction_severity (#PCDATA)>
<!ELEMENT immunocompromised (#PCDATA)>
<!ELEMENT immunocompromised_details (#PCDATA)>
<!ELEMENT pregnant_or_planning (#PCDATA)>
<!ELEMENT vaccination_history_notes (#PCDATA)>
