forms/vaccinations-checklist/xml-representations/assessment_covid19_vaccination.dtd

<!ELEMENT assessment_covid19_vaccination (id,assessment_id,covid_primary_course,covid_primary_vaccine_type,covid_dose_1_date,covid_dose_2_date,covid_booster_1,covid_booster_1_date,covid_booster_1_type,covid_booster_2,covid_booster_2_date,covid_booster_2_type,covid_autumn_booster,covid_autumn_booster_date,total_covid_doses,covid_adverse_reaction,covid_adverse_reaction_details,covid19_vaccination_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT covid_primary_course (#PCDATA)>
<!ELEMENT covid_primary_vaccine_type (#PCDATA)>
<!ELEMENT covid_dose_1_date (#PCDATA)>
<!ELEMENT covid_dose_2_date (#PCDATA)>
<!ELEMENT covid_booster_1 (#PCDATA)>
<!ELEMENT covid_booster_1_date (#PCDATA)>
<!ELEMENT covid_booster_1_type (#PCDATA)>
<!ELEMENT covid_booster_2 (#PCDATA)>
<!ELEMENT covid_booster_2_date (#PCDATA)>
<!ELEMENT covid_booster_2_type (#PCDATA)>
<!ELEMENT covid_autumn_booster (#PCDATA)>
<!ELEMENT covid_autumn_booster_date (#PCDATA)>
<!ELEMENT total_covid_doses (#PCDATA)>
<!ELEMENT covid_adverse_reaction (#PCDATA)>
<!ELEMENT covid_adverse_reaction_details (#PCDATA)>
<!ELEMENT covid19_vaccination_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
