forms/vaccinations-checklist/xml-representations/assessment_travel_vaccines.dtd

<!ELEMENT assessment_travel_vaccines (id,assessment_id,travel_planned,travel_destination,travel_departure_date,travel_return_date,yellow_fever_vaccine,yellow_fever_vaccine_date,yellow_fever_certificate,japanese_encephalitis_vaccine,japanese_encephalitis_date,tick_borne_encephalitis_vaccine,tick_borne_encephalitis_date,cholera_vaccine,cholera_vaccine_date,meningococcal_acwy_travel,meningococcal_acwy_travel_date,malaria_prophylaxis,malaria_prophylaxis_drug,travel_vaccines_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT travel_planned (#PCDATA)>
<!ELEMENT travel_destination (#PCDATA)>
<!ELEMENT travel_departure_date (#PCDATA)>
<!ELEMENT travel_return_date (#PCDATA)>
<!ELEMENT yellow_fever_vaccine (#PCDATA)>
<!ELEMENT yellow_fever_vaccine_date (#PCDATA)>
<!ELEMENT yellow_fever_certificate (#PCDATA)>
<!ELEMENT japanese_encephalitis_vaccine (#PCDATA)>
<!ELEMENT japanese_encephalitis_date (#PCDATA)>
<!ELEMENT tick_borne_encephalitis_vaccine (#PCDATA)>
<!ELEMENT tick_borne_encephalitis_date (#PCDATA)>
<!ELEMENT cholera_vaccine (#PCDATA)>
<!ELEMENT cholera_vaccine_date (#PCDATA)>
<!ELEMENT meningococcal_acwy_travel (#PCDATA)>
<!ELEMENT meningococcal_acwy_travel_date (#PCDATA)>
<!ELEMENT malaria_prophylaxis (#PCDATA)>
<!ELEMENT malaria_prophylaxis_drug (#PCDATA)>
<!ELEMENT travel_vaccines_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
