forms/vaccinations-checklist/xml-representations/assessment_schedule_compliance.dtd

<!ELEMENT assessment_schedule_compliance (id,assessment_id,compliance_status,vaccines_due,vaccines_overdue,catch_up_plan_required,catch_up_plan_details,next_vaccination_date,next_vaccination_type,occupational_health_clearance,occupational_health_clearance_date,exposure_risk_level,active_exposure_incident,active_exposure_details,consent_for_vaccination,consent_date,schedule_compliance_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT compliance_status (#PCDATA)>
<!ELEMENT vaccines_due (#PCDATA)>
<!ELEMENT vaccines_overdue (#PCDATA)>
<!ELEMENT catch_up_plan_required (#PCDATA)>
<!ELEMENT catch_up_plan_details (#PCDATA)>
<!ELEMENT next_vaccination_date (#PCDATA)>
<!ELEMENT next_vaccination_type (#PCDATA)>
<!ELEMENT occupational_health_clearance (#PCDATA)>
<!ELEMENT occupational_health_clearance_date (#PCDATA)>
<!ELEMENT exposure_risk_level (#PCDATA)>
<!ELEMENT active_exposure_incident (#PCDATA)>
<!ELEMENT active_exposure_details (#PCDATA)>
<!ELEMENT consent_for_vaccination (#PCDATA)>
<!ELEMENT consent_date (#PCDATA)>
<!ELEMENT schedule_compliance_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
