forms/vaccinations-checklist/xml-representations/assessment_childhood_immunisations.dtd

<!ELEMENT assessment_childhood_immunisations (id,assessment_id,mmr_dose_1,mmr_dose_1_date,mmr_dose_2,mmr_dose_2_date,dtp_primary_course,dtp_primary_date,dtp_booster,dtp_booster_date,polio_primary_course,polio_primary_date,polio_booster,polio_booster_date,hib_vaccine,hib_vaccine_date,men_c_vaccine,men_c_vaccine_date,men_acwy_vaccine,men_acwy_vaccine_date,pcv_vaccine,pcv_vaccine_date,childhood_immunisations_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT mmr_dose_1 (#PCDATA)>
<!ELEMENT mmr_dose_1_date (#PCDATA)>
<!ELEMENT mmr_dose_2 (#PCDATA)>
<!ELEMENT mmr_dose_2_date (#PCDATA)>
<!ELEMENT dtp_primary_course (#PCDATA)>
<!ELEMENT dtp_primary_date (#PCDATA)>
<!ELEMENT dtp_booster (#PCDATA)>
<!ELEMENT dtp_booster_date (#PCDATA)>
<!ELEMENT polio_primary_course (#PCDATA)>
<!ELEMENT polio_primary_date (#PCDATA)>
<!ELEMENT polio_booster (#PCDATA)>
<!ELEMENT polio_booster_date (#PCDATA)>
<!ELEMENT hib_vaccine (#PCDATA)>
<!ELEMENT hib_vaccine_date (#PCDATA)>
<!ELEMENT men_c_vaccine (#PCDATA)>
<!ELEMENT men_c_vaccine_date (#PCDATA)>
<!ELEMENT men_acwy_vaccine (#PCDATA)>
<!ELEMENT men_acwy_vaccine_date (#PCDATA)>
<!ELEMENT pcv_vaccine (#PCDATA)>
<!ELEMENT pcv_vaccine_date (#PCDATA)>
<!ELEMENT childhood_immunisations_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
