forms/vaccinations-checklist/xml-representations/assessment_serology_immunity_testing.dtd

<!ELEMENT assessment_serology_immunity_testing (id,assessment_id,hep_b_surface_antibody,hep_b_surface_antibody_level,hep_b_surface_antibody_date,varicella_igg,varicella_igg_date,measles_igg,measles_igg_date,rubella_igg,rubella_igg_date,mumps_igg,mumps_igg_date,hep_a_igg,hep_a_igg_date,tetanus_antibody,tetanus_antibody_date,tb_igra_result,tb_igra_date,mantoux_result,mantoux_induration_mm,serology_immunity_testing_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT hep_b_surface_antibody (#PCDATA)>
<!ELEMENT hep_b_surface_antibody_level (#PCDATA)>
<!ELEMENT hep_b_surface_antibody_date (#PCDATA)>
<!ELEMENT varicella_igg (#PCDATA)>
<!ELEMENT varicella_igg_date (#PCDATA)>
<!ELEMENT measles_igg (#PCDATA)>
<!ELEMENT measles_igg_date (#PCDATA)>
<!ELEMENT rubella_igg (#PCDATA)>
<!ELEMENT rubella_igg_date (#PCDATA)>
<!ELEMENT mumps_igg (#PCDATA)>
<!ELEMENT mumps_igg_date (#PCDATA)>
<!ELEMENT hep_a_igg (#PCDATA)>
<!ELEMENT hep_a_igg_date (#PCDATA)>
<!ELEMENT tetanus_antibody (#PCDATA)>
<!ELEMENT tetanus_antibody_date (#PCDATA)>
<!ELEMENT tb_igra_result (#PCDATA)>
<!ELEMENT tb_igra_date (#PCDATA)>
<!ELEMENT mantoux_result (#PCDATA)>
<!ELEMENT mantoux_induration_mm (#PCDATA)>
<!ELEMENT serology_immunity_testing_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
