forms/vaccinations-checklist/xml-representations/assessment_contraindications_allergies.dtd

<!ELEMENT assessment_contraindications_allergies (id,assessment_id,egg_allergy,egg_allergy_severity,gelatin_allergy,neomycin_allergy,latex_allergy,yeast_allergy,peg_polysorbate_allergy,other_vaccine_allergies,history_of_gbs,gbs_details,on_immunosuppressants,immunosuppressant_details,on_blood_products_recent,blood_products_details,live_vaccine_contraindicated,live_vaccine_contraindication_reason,contraindications_allergies_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT egg_allergy (#PCDATA)>
<!ELEMENT egg_allergy_severity (#PCDATA)>
<!ELEMENT gelatin_allergy (#PCDATA)>
<!ELEMENT neomycin_allergy (#PCDATA)>
<!ELEMENT latex_allergy (#PCDATA)>
<!ELEMENT yeast_allergy (#PCDATA)>
<!ELEMENT peg_polysorbate_allergy (#PCDATA)>
<!ELEMENT other_vaccine_allergies (#PCDATA)>
<!ELEMENT history_of_gbs (#PCDATA)>
<!ELEMENT gbs_details (#PCDATA)>
<!ELEMENT on_immunosuppressants (#PCDATA)>
<!ELEMENT immunosuppressant_details (#PCDATA)>
<!ELEMENT on_blood_products_recent (#PCDATA)>
<!ELEMENT blood_products_details (#PCDATA)>
<!ELEMENT live_vaccine_contraindicated (#PCDATA)>
<!ELEMENT live_vaccine_contraindication_reason (#PCDATA)>
<!ELEMENT contraindications_allergies_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
