forms/vaccinations-checklist/xml-representations/grading_result.dtd

<!ELEMENT grading_result (id,assessment_id,compliance_status,overall_risk_level,childhood_complete,occupational_complete,covid_complete,flu_current,graded_at,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT compliance_status (#PCDATA)>
<!ELEMENT overall_risk_level (#PCDATA)>
<!ELEMENT childhood_complete (#PCDATA)>
<!ELEMENT occupational_complete (#PCDATA)>
<!ELEMENT covid_complete (#PCDATA)>
<!ELEMENT flu_current (#PCDATA)>
<!ELEMENT graded_at (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
