forms/sundowner-syndrome-assessment/xml-representations/assessment_environmental.dtd

<!ELEMENT assessment_environmental (id,assessment_id,lighting_adequate,lighting_notes,noise_level,temperature_comfortable,familiar_objects_present,orientation_cues_present,orientation_cues_details,safe_wandering_space,exit_security,fall_hazards_addressed,structured_routine,evening_routine_established,evening_routine_details,daytime_activity_level,social_interaction,environmental_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT lighting_adequate (#PCDATA)>
<!ELEMENT lighting_notes (#PCDATA)>
<!ELEMENT noise_level (#PCDATA)>
<!ELEMENT temperature_comfortable (#PCDATA)>
<!ELEMENT familiar_objects_present (#PCDATA)>
<!ELEMENT orientation_cues_present (#PCDATA)>
<!ELEMENT orientation_cues_details (#PCDATA)>
<!ELEMENT safe_wandering_space (#PCDATA)>
<!ELEMENT exit_security (#PCDATA)>
<!ELEMENT fall_hazards_addressed (#PCDATA)>
<!ELEMENT structured_routine (#PCDATA)>
<!ELEMENT evening_routine_established (#PCDATA)>
<!ELEMENT evening_routine_details (#PCDATA)>
<!ELEMENT daytime_activity_level (#PCDATA)>
<!ELEMENT social_interaction (#PCDATA)>
<!ELEMENT environmental_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
