forms/sundowner-syndrome-assessment/xml-representations/assessment_behavioural_symptoms.dtd

<!ELEMENT assessment_behavioural_symptoms (id,assessment_id,agitation_level,verbal_aggression,physical_aggression,wandering,wandering_risk,pacing,repetitive_behaviours,repetitive_behaviours_details,hallucinations,hallucination_type,delusions,anxiety,depression,cmai_score,npi_total_score,self_harm_risk,harm_to_others_risk,behavioural_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT agitation_level (#PCDATA)>
<!ELEMENT verbal_aggression (#PCDATA)>
<!ELEMENT physical_aggression (#PCDATA)>
<!ELEMENT wandering (#PCDATA)>
<!ELEMENT wandering_risk (#PCDATA)>
<!ELEMENT pacing (#PCDATA)>
<!ELEMENT repetitive_behaviours (#PCDATA)>
<!ELEMENT repetitive_behaviours_details (#PCDATA)>
<!ELEMENT hallucinations (#PCDATA)>
<!ELEMENT hallucination_type (#PCDATA)>
<!ELEMENT delusions (#PCDATA)>
<!ELEMENT anxiety (#PCDATA)>
<!ELEMENT depression (#PCDATA)>
<!ELEMENT cmai_score (#PCDATA)>
<!ELEMENT npi_total_score (#PCDATA)>
<!ELEMENT self_harm_risk (#PCDATA)>
<!ELEMENT harm_to_others_risk (#PCDATA)>
<!ELEMENT behavioural_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
