forms/sundowner-syndrome-assessment/xml-representations/assessment_trigger_identification.dtd

<!ELEMENT assessment_trigger_identification (id,assessment_id,pain_trigger,pain_details,hunger_thirst_trigger,toileting_needs_trigger,fatigue_trigger,overstimulation_trigger,understimulation_trigger,unfamiliar_environment_trigger,carer_change_trigger,routine_disruption_trigger,infection_trigger,infection_details,constipation_trigger,dehydration_trigger,medication_change_trigger,other_triggers,trigger_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT pain_trigger (#PCDATA)>
<!ELEMENT pain_details (#PCDATA)>
<!ELEMENT hunger_thirst_trigger (#PCDATA)>
<!ELEMENT toileting_needs_trigger (#PCDATA)>
<!ELEMENT fatigue_trigger (#PCDATA)>
<!ELEMENT overstimulation_trigger (#PCDATA)>
<!ELEMENT understimulation_trigger (#PCDATA)>
<!ELEMENT unfamiliar_environment_trigger (#PCDATA)>
<!ELEMENT carer_change_trigger (#PCDATA)>
<!ELEMENT routine_disruption_trigger (#PCDATA)>
<!ELEMENT infection_trigger (#PCDATA)>
<!ELEMENT infection_details (#PCDATA)>
<!ELEMENT constipation_trigger (#PCDATA)>
<!ELEMENT dehydration_trigger (#PCDATA)>
<!ELEMENT medication_change_trigger (#PCDATA)>
<!ELEMENT other_triggers (#PCDATA)>
<!ELEMENT trigger_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
