forms/sundowner-syndrome-assessment/xml-representations/assessment_cognitive_status.dtd

<!ELEMENT assessment_cognitive_status (id,assessment_id,dementia_diagnosis,dementia_type,dementia_stage,mmse_score,moca_score,orientation_impaired,short_term_memory_impaired,long_term_memory_impaired,communication_ability,decision_making_capacity,cognitive_status_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT dementia_diagnosis (#PCDATA)>
<!ELEMENT dementia_type (#PCDATA)>
<!ELEMENT dementia_stage (#PCDATA)>
<!ELEMENT mmse_score (#PCDATA)>
<!ELEMENT moca_score (#PCDATA)>
<!ELEMENT orientation_impaired (#PCDATA)>
<!ELEMENT short_term_memory_impaired (#PCDATA)>
<!ELEMENT long_term_memory_impaired (#PCDATA)>
<!ELEMENT communication_ability (#PCDATA)>
<!ELEMENT decision_making_capacity (#PCDATA)>
<!ELEMENT cognitive_status_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
