forms/sundowner-syndrome-assessment/xml-representations/assessment_management_plan.dtd

<!ELEMENT assessment_management_plan (id,assessment_id,non_pharmacological_interventions,light_therapy,music_therapy,aromatherapy,structured_activities,exercise_programme,sleep_hygiene_plan,environmental_modifications,environmental_modifications_details,pharmacological_review,pharmacological_review_details,referral_to_specialist,specialist_type,carer_support_plan,follow_up_interval,safety_plan,safety_plan_details,management_plan_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT non_pharmacological_interventions (#PCDATA)>
<!ELEMENT light_therapy (#PCDATA)>
<!ELEMENT music_therapy (#PCDATA)>
<!ELEMENT aromatherapy (#PCDATA)>
<!ELEMENT structured_activities (#PCDATA)>
<!ELEMENT exercise_programme (#PCDATA)>
<!ELEMENT sleep_hygiene_plan (#PCDATA)>
<!ELEMENT environmental_modifications (#PCDATA)>
<!ELEMENT environmental_modifications_details (#PCDATA)>
<!ELEMENT pharmacological_review (#PCDATA)>
<!ELEMENT pharmacological_review_details (#PCDATA)>
<!ELEMENT referral_to_specialist (#PCDATA)>
<!ELEMENT specialist_type (#PCDATA)>
<!ELEMENT carer_support_plan (#PCDATA)>
<!ELEMENT follow_up_interval (#PCDATA)>
<!ELEMENT safety_plan (#PCDATA)>
<!ELEMENT safety_plan_details (#PCDATA)>
<!ELEMENT management_plan_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
