forms/sundowner-syndrome-assessment/xml-representations/assessment_medication_review.dtd

<!ELEMENT assessment_medication_review (id,assessment_id,on_cholinesterase_inhibitor,cholinesterase_inhibitor_details,on_memantine,on_antipsychotic,antipsychotic_details,on_benzodiazepine,benzodiazepine_details,on_antidepressant,antidepressant_details,on_melatonin,melatonin_dose,on_analgesic,analgesic_details,anticholinergic_burden,polypharmacy,total_medications,recent_medication_changes,recent_medication_changes_details,medication_adherence,medication_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT on_cholinesterase_inhibitor (#PCDATA)>
<!ELEMENT cholinesterase_inhibitor_details (#PCDATA)>
<!ELEMENT on_memantine (#PCDATA)>
<!ELEMENT on_antipsychotic (#PCDATA)>
<!ELEMENT antipsychotic_details (#PCDATA)>
<!ELEMENT on_benzodiazepine (#PCDATA)>
<!ELEMENT benzodiazepine_details (#PCDATA)>
<!ELEMENT on_antidepressant (#PCDATA)>
<!ELEMENT antidepressant_details (#PCDATA)>
<!ELEMENT on_melatonin (#PCDATA)>
<!ELEMENT melatonin_dose (#PCDATA)>
<!ELEMENT on_analgesic (#PCDATA)>
<!ELEMENT analgesic_details (#PCDATA)>
<!ELEMENT anticholinergic_burden (#PCDATA)>
<!ELEMENT polypharmacy (#PCDATA)>
<!ELEMENT total_medications (#PCDATA)>
<!ELEMENT recent_medication_changes (#PCDATA)>
<!ELEMENT recent_medication_changes_details (#PCDATA)>
<!ELEMENT medication_adherence (#PCDATA)>
<!ELEMENT medication_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
