forms/sundowner-syndrome-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,behavioural_symptoms,carer_impact,cognitive_status,demographics,environmental,management_plan,medication_review,sleep_wake_cycle,temporal_pattern,trigger_identification)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT behavioural_symptoms (id,assessment_id,agitation_level,verbal_aggression,physical_aggression,wandering,wandering_risk,pacing,repetitive_behaviours,repetitive_behaviours_details,hallucinations,hallucination_type,delusions,anxiety,depression,cmai_score,npi_total_score,self_harm_risk,harm_to_others_risk,behavioural_notes,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT agitation_level (#PCDATA)>
<!ELEMENT verbal_aggression (#PCDATA)>
<!ELEMENT physical_aggression (#PCDATA)>
<!ELEMENT wandering (#PCDATA)>
<!ELEMENT wandering_risk (#PCDATA)>
<!ELEMENT pacing (#PCDATA)>
<!ELEMENT repetitive_behaviours (#PCDATA)>
<!ELEMENT repetitive_behaviours_details (#PCDATA)>
<!ELEMENT hallucinations (#PCDATA)>
<!ELEMENT hallucination_type (#PCDATA)>
<!ELEMENT delusions (#PCDATA)>
<!ELEMENT anxiety (#PCDATA)>
<!ELEMENT depression (#PCDATA)>
<!ELEMENT cmai_score (#PCDATA)>
<!ELEMENT npi_total_score (#PCDATA)>
<!ELEMENT self_harm_risk (#PCDATA)>
<!ELEMENT harm_to_others_risk (#PCDATA)>
<!ELEMENT behavioural_notes (#PCDATA)>
<!ELEMENT carer_impact (id,assessment_id,carer_stress_level,carer_sleep_disruption,carer_physical_health_impact,carer_mental_health_impact,carer_burnout_risk,respite_care_available,respite_care_frequency,formal_support_services,formal_support_details,carer_training_received,carer_support_group,safeguarding_concerns,safeguarding_details,carer_impact_notes,created_at,updated_at)>
<!ELEMENT carer_stress_level (#PCDATA)>
<!ELEMENT carer_sleep_disruption (#PCDATA)>
<!ELEMENT carer_physical_health_impact (#PCDATA)>
<!ELEMENT carer_mental_health_impact (#PCDATA)>
<!ELEMENT carer_burnout_risk (#PCDATA)>
<!ELEMENT respite_care_available (#PCDATA)>
<!ELEMENT respite_care_frequency (#PCDATA)>
<!ELEMENT formal_support_services (#PCDATA)>
<!ELEMENT formal_support_details (#PCDATA)>
<!ELEMENT carer_training_received (#PCDATA)>
<!ELEMENT carer_support_group (#PCDATA)>
<!ELEMENT safeguarding_concerns (#PCDATA)>
<!ELEMENT safeguarding_details (#PCDATA)>
<!ELEMENT carer_impact_notes (#PCDATA)>
<!ELEMENT cognitive_status (id,assessment_id,dementia_diagnosis,dementia_type,dementia_stage,mmse_score,moca_score,orientation_impaired,short_term_memory_impaired,long_term_memory_impaired,communication_ability,decision_making_capacity,cognitive_status_notes,created_at,updated_at)>
<!ELEMENT dementia_diagnosis (#PCDATA)>
<!ELEMENT dementia_type (#PCDATA)>
<!ELEMENT dementia_stage (#PCDATA)>
<!ELEMENT mmse_score (#PCDATA)>
<!ELEMENT moca_score (#PCDATA)>
<!ELEMENT orientation_impaired (#PCDATA)>
<!ELEMENT short_term_memory_impaired (#PCDATA)>
<!ELEMENT long_term_memory_impaired (#PCDATA)>
<!ELEMENT communication_ability (#PCDATA)>
<!ELEMENT decision_making_capacity (#PCDATA)>
<!ELEMENT cognitive_status_notes (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,preferred_name,gender_identity,ethnicity,preferred_language,interpreter_required,living_situation,primary_carer_name,primary_carer_relationship,gp_name,gp_practice,referrer_name,referrer_role,created_at,updated_at)>
<!ELEMENT preferred_name (#PCDATA)>
<!ELEMENT gender_identity (#PCDATA)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT preferred_language (#PCDATA)>
<!ELEMENT interpreter_required (#PCDATA)>
<!ELEMENT living_situation (#PCDATA)>
<!ELEMENT primary_carer_name (#PCDATA)>
<!ELEMENT primary_carer_relationship (#PCDATA)>
<!ELEMENT gp_name (#PCDATA)>
<!ELEMENT gp_practice (#PCDATA)>
<!ELEMENT referrer_name (#PCDATA)>
<!ELEMENT referrer_role (#PCDATA)>
<!ELEMENT environmental (id,assessment_id,lighting_adequate,lighting_notes,noise_level,temperature_comfortable,familiar_objects_present,orientation_cues_present,orientation_cues_details,safe_wandering_space,exit_security,fall_hazards_addressed,structured_routine,evening_routine_established,evening_routine_details,daytime_activity_level,social_interaction,environmental_notes,created_at,updated_at)>
<!ELEMENT lighting_adequate (#PCDATA)>
<!ELEMENT lighting_notes (#PCDATA)>
<!ELEMENT noise_level (#PCDATA)>
<!ELEMENT temperature_comfortable (#PCDATA)>
<!ELEMENT familiar_objects_present (#PCDATA)>
<!ELEMENT orientation_cues_present (#PCDATA)>
<!ELEMENT orientation_cues_details (#PCDATA)>
<!ELEMENT safe_wandering_space (#PCDATA)>
<!ELEMENT exit_security (#PCDATA)>
<!ELEMENT fall_hazards_addressed (#PCDATA)>
<!ELEMENT structured_routine (#PCDATA)>
<!ELEMENT evening_routine_established (#PCDATA)>
<!ELEMENT evening_routine_details (#PCDATA)>
<!ELEMENT daytime_activity_level (#PCDATA)>
<!ELEMENT social_interaction (#PCDATA)>
<!ELEMENT environmental_notes (#PCDATA)>
<!ELEMENT management_plan (id,assessment_id,non_pharmacological_interventions,light_therapy,music_therapy,aromatherapy,structured_activities,exercise_programme,sleep_hygiene_plan,environmental_modifications,environmental_modifications_details,pharmacological_review,pharmacological_review_details,referral_to_specialist,specialist_type,carer_support_plan,follow_up_interval,safety_plan,safety_plan_details,management_plan_notes,created_at,updated_at)>
<!ELEMENT non_pharmacological_interventions (#PCDATA)>
<!ELEMENT light_therapy (#PCDATA)>
<!ELEMENT music_therapy (#PCDATA)>
<!ELEMENT aromatherapy (#PCDATA)>
<!ELEMENT structured_activities (#PCDATA)>
<!ELEMENT exercise_programme (#PCDATA)>
<!ELEMENT sleep_hygiene_plan (#PCDATA)>
<!ELEMENT environmental_modifications (#PCDATA)>
<!ELEMENT environmental_modifications_details (#PCDATA)>
<!ELEMENT pharmacological_review (#PCDATA)>
<!ELEMENT pharmacological_review_details (#PCDATA)>
<!ELEMENT referral_to_specialist (#PCDATA)>
<!ELEMENT specialist_type (#PCDATA)>
<!ELEMENT carer_support_plan (#PCDATA)>
<!ELEMENT follow_up_interval (#PCDATA)>
<!ELEMENT safety_plan (#PCDATA)>
<!ELEMENT safety_plan_details (#PCDATA)>
<!ELEMENT management_plan_notes (#PCDATA)>
<!ELEMENT medication_review (id,assessment_id,on_cholinesterase_inhibitor,cholinesterase_inhibitor_details,on_memantine,on_antipsychotic,antipsychotic_details,on_benzodiazepine,benzodiazepine_details,on_antidepressant,antidepressant_details,on_melatonin,melatonin_dose,on_analgesic,analgesic_details,anticholinergic_burden,polypharmacy,total_medications,recent_medication_changes,recent_medication_changes_details,medication_adherence,medication_notes,created_at,updated_at)>
<!ELEMENT on_cholinesterase_inhibitor (#PCDATA)>
<!ELEMENT cholinesterase_inhibitor_details (#PCDATA)>
<!ELEMENT on_memantine (#PCDATA)>
<!ELEMENT on_antipsychotic (#PCDATA)>
<!ELEMENT antipsychotic_details (#PCDATA)>
<!ELEMENT on_benzodiazepine (#PCDATA)>
<!ELEMENT benzodiazepine_details (#PCDATA)>
<!ELEMENT on_antidepressant (#PCDATA)>
<!ELEMENT antidepressant_details (#PCDATA)>
<!ELEMENT on_melatonin (#PCDATA)>
<!ELEMENT melatonin_dose (#PCDATA)>
<!ELEMENT on_analgesic (#PCDATA)>
<!ELEMENT analgesic_details (#PCDATA)>
<!ELEMENT anticholinergic_burden (#PCDATA)>
<!ELEMENT polypharmacy (#PCDATA)>
<!ELEMENT total_medications (#PCDATA)>
<!ELEMENT recent_medication_changes (#PCDATA)>
<!ELEMENT recent_medication_changes_details (#PCDATA)>
<!ELEMENT medication_adherence (#PCDATA)>
<!ELEMENT medication_notes (#PCDATA)>
<!ELEMENT sleep_wake_cycle (id,assessment_id,sleep_quality,typical_bedtime,typical_wake_time,sleep_duration_hours,night_waking_frequency,daytime_napping,nap_duration_hours,day_night_reversal,circadian_rhythm_disruption,sleep_apnoea,restless_legs,sleep_medication,sleep_medication_details,light_exposure_adequate,sleep_notes,created_at,updated_at)>
<!ELEMENT sleep_quality (#PCDATA)>
<!ELEMENT typical_bedtime (#PCDATA)>
<!ELEMENT typical_wake_time (#PCDATA)>
<!ELEMENT sleep_duration_hours (#PCDATA)>
<!ELEMENT night_waking_frequency (#PCDATA)>
<!ELEMENT daytime_napping (#PCDATA)>
<!ELEMENT nap_duration_hours (#PCDATA)>
<!ELEMENT day_night_reversal (#PCDATA)>
<!ELEMENT circadian_rhythm_disruption (#PCDATA)>
<!ELEMENT sleep_apnoea (#PCDATA)>
<!ELEMENT restless_legs (#PCDATA)>
<!ELEMENT sleep_medication (#PCDATA)>
<!ELEMENT sleep_medication_details (#PCDATA)>
<!ELEMENT light_exposure_adequate (#PCDATA)>
<!ELEMENT sleep_notes (#PCDATA)>
<!ELEMENT temporal_pattern (id,assessment_id,onset_time,typical_onset_hour,peak_severity_time,typical_duration_hours,episode_frequency,seasonal_pattern,seasonal_pattern_details,worse_with_daylight_changes,symptoms_resolve_by_morning,pattern_duration_months,pattern_worsening,temporal_notes,created_at,updated_at)>
<!ELEMENT onset_time (#PCDATA)>
<!ELEMENT typical_onset_hour (#PCDATA)>
<!ELEMENT peak_severity_time (#PCDATA)>
<!ELEMENT typical_duration_hours (#PCDATA)>
<!ELEMENT episode_frequency (#PCDATA)>
<!ELEMENT seasonal_pattern (#PCDATA)>
<!ELEMENT seasonal_pattern_details (#PCDATA)>
<!ELEMENT worse_with_daylight_changes (#PCDATA)>
<!ELEMENT symptoms_resolve_by_morning (#PCDATA)>
<!ELEMENT pattern_duration_months (#PCDATA)>
<!ELEMENT pattern_worsening (#PCDATA)>
<!ELEMENT temporal_notes (#PCDATA)>
<!ELEMENT trigger_identification (id,assessment_id,pain_trigger,pain_details,hunger_thirst_trigger,toileting_needs_trigger,fatigue_trigger,overstimulation_trigger,understimulation_trigger,unfamiliar_environment_trigger,carer_change_trigger,routine_disruption_trigger,infection_trigger,infection_details,constipation_trigger,dehydration_trigger,medication_change_trigger,other_triggers,trigger_notes,created_at,updated_at)>
<!ELEMENT pain_trigger (#PCDATA)>
<!ELEMENT pain_details (#PCDATA)>
<!ELEMENT hunger_thirst_trigger (#PCDATA)>
<!ELEMENT toileting_needs_trigger (#PCDATA)>
<!ELEMENT fatigue_trigger (#PCDATA)>
<!ELEMENT overstimulation_trigger (#PCDATA)>
<!ELEMENT understimulation_trigger (#PCDATA)>
<!ELEMENT unfamiliar_environment_trigger (#PCDATA)>
<!ELEMENT carer_change_trigger (#PCDATA)>
<!ELEMENT routine_disruption_trigger (#PCDATA)>
<!ELEMENT infection_trigger (#PCDATA)>
<!ELEMENT infection_details (#PCDATA)>
<!ELEMENT constipation_trigger (#PCDATA)>
<!ELEMENT dehydration_trigger (#PCDATA)>
<!ELEMENT medication_change_trigger (#PCDATA)>
<!ELEMENT other_triggers (#PCDATA)>
<!ELEMENT trigger_notes (#PCDATA)>
