forms/sundowner-syndrome-assessment/xml-representations/assessment_temporal_pattern.dtd

<!ELEMENT assessment_temporal_pattern (id,assessment_id,onset_time,typical_onset_hour,peak_severity_time,typical_duration_hours,episode_frequency,seasonal_pattern,seasonal_pattern_details,worse_with_daylight_changes,symptoms_resolve_by_morning,pattern_duration_months,pattern_worsening,temporal_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT onset_time (#PCDATA)>
<!ELEMENT typical_onset_hour (#PCDATA)>
<!ELEMENT peak_severity_time (#PCDATA)>
<!ELEMENT typical_duration_hours (#PCDATA)>
<!ELEMENT episode_frequency (#PCDATA)>
<!ELEMENT seasonal_pattern (#PCDATA)>
<!ELEMENT seasonal_pattern_details (#PCDATA)>
<!ELEMENT worse_with_daylight_changes (#PCDATA)>
<!ELEMENT symptoms_resolve_by_morning (#PCDATA)>
<!ELEMENT pattern_duration_months (#PCDATA)>
<!ELEMENT pattern_worsening (#PCDATA)>
<!ELEMENT temporal_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
