forms/sundowner-syndrome-assessment/xml-representations/assessment_carer_impact.dtd

<!ELEMENT assessment_carer_impact (id,assessment_id,carer_stress_level,carer_sleep_disruption,carer_physical_health_impact,carer_mental_health_impact,carer_burnout_risk,respite_care_available,respite_care_frequency,formal_support_services,formal_support_details,carer_training_received,carer_support_group,safeguarding_concerns,safeguarding_details,carer_impact_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT carer_stress_level (#PCDATA)>
<!ELEMENT carer_sleep_disruption (#PCDATA)>
<!ELEMENT carer_physical_health_impact (#PCDATA)>
<!ELEMENT carer_mental_health_impact (#PCDATA)>
<!ELEMENT carer_burnout_risk (#PCDATA)>
<!ELEMENT respite_care_available (#PCDATA)>
<!ELEMENT respite_care_frequency (#PCDATA)>
<!ELEMENT formal_support_services (#PCDATA)>
<!ELEMENT formal_support_details (#PCDATA)>
<!ELEMENT carer_training_received (#PCDATA)>
<!ELEMENT carer_support_group (#PCDATA)>
<!ELEMENT safeguarding_concerns (#PCDATA)>
<!ELEMENT safeguarding_details (#PCDATA)>
<!ELEMENT carer_impact_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
