forms/sundowner-syndrome-assessment/xml-representations/assessment_sleep_wake_cycle.dtd

<!ELEMENT assessment_sleep_wake_cycle (id,assessment_id,sleep_quality,typical_bedtime,typical_wake_time,sleep_duration_hours,night_waking_frequency,daytime_napping,nap_duration_hours,day_night_reversal,circadian_rhythm_disruption,sleep_apnoea,restless_legs,sleep_medication,sleep_medication_details,light_exposure_adequate,sleep_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT sleep_quality (#PCDATA)>
<!ELEMENT typical_bedtime (#PCDATA)>
<!ELEMENT typical_wake_time (#PCDATA)>
<!ELEMENT sleep_duration_hours (#PCDATA)>
<!ELEMENT night_waking_frequency (#PCDATA)>
<!ELEMENT daytime_napping (#PCDATA)>
<!ELEMENT nap_duration_hours (#PCDATA)>
<!ELEMENT day_night_reversal (#PCDATA)>
<!ELEMENT circadian_rhythm_disruption (#PCDATA)>
<!ELEMENT sleep_apnoea (#PCDATA)>
<!ELEMENT restless_legs (#PCDATA)>
<!ELEMENT sleep_medication (#PCDATA)>
<!ELEMENT sleep_medication_details (#PCDATA)>
<!ELEMENT light_exposure_adequate (#PCDATA)>
<!ELEMENT sleep_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
