forms/sundowner-syndrome-assessment/xml-representations/grading_result.dtd

<!ELEMENT grading_result (id,assessment_id,cmai_score,npi_total_score,overall_severity,graded_at,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT cmai_score (#PCDATA)>
<!ELEMENT npi_total_score (#PCDATA)>
<!ELEMENT overall_severity (#PCDATA)>
<!ELEMENT graded_at (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
