forms/plastic-surgery-assessment/xml-representations/assessment_photography_documentation.dtd

<!ELEMENT assessment_photography_documentation (id,assessment_id,clinical_photos_taken,photo_consent_obtained,number_of_photos,photo_views_taken,standardised_views,measurements_recorded,measurement_details,diagrams_drawn,diagram_notes,previous_imaging,previous_imaging_type,previous_imaging_findings,documentation_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT clinical_photos_taken (#PCDATA)>
<!ELEMENT photo_consent_obtained (#PCDATA)>
<!ELEMENT number_of_photos (#PCDATA)>
<!ELEMENT photo_views_taken (#PCDATA)>
<!ELEMENT standardised_views (#PCDATA)>
<!ELEMENT measurements_recorded (#PCDATA)>
<!ELEMENT measurement_details (#PCDATA)>
<!ELEMENT diagrams_drawn (#PCDATA)>
<!ELEMENT diagram_notes (#PCDATA)>
<!ELEMENT previous_imaging (#PCDATA)>
<!ELEMENT previous_imaging_type (#PCDATA)>
<!ELEMENT previous_imaging_findings (#PCDATA)>
<!ELEMENT documentation_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
