forms/plastic-surgery-assessment/xml-representations/assessment_medications_allergies.dtd

<!ELEMENT assessment_medications_allergies (id,assessment_id,on_anticoagulants,anticoagulant_details,on_antiplatelets,antiplatelet_details,on_steroids,steroid_details,on_immunosuppressants,immunosuppressant_details,on_chemotherapy,chemotherapy_details,on_hormone_therapy,hormone_therapy_details,other_medications,has_drug_allergies,drug_allergy_details,latex_allergy,adhesive_allergy,other_allergies,medication_adherence,medications_allergies_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT on_anticoagulants (#PCDATA)>
<!ELEMENT anticoagulant_details (#PCDATA)>
<!ELEMENT on_antiplatelets (#PCDATA)>
<!ELEMENT antiplatelet_details (#PCDATA)>
<!ELEMENT on_steroids (#PCDATA)>
<!ELEMENT steroid_details (#PCDATA)>
<!ELEMENT on_immunosuppressants (#PCDATA)>
<!ELEMENT immunosuppressant_details (#PCDATA)>
<!ELEMENT on_chemotherapy (#PCDATA)>
<!ELEMENT chemotherapy_details (#PCDATA)>
<!ELEMENT on_hormone_therapy (#PCDATA)>
<!ELEMENT hormone_therapy_details (#PCDATA)>
<!ELEMENT other_medications (#PCDATA)>
<!ELEMENT has_drug_allergies (#PCDATA)>
<!ELEMENT drug_allergy_details (#PCDATA)>
<!ELEMENT latex_allergy (#PCDATA)>
<!ELEMENT adhesive_allergy (#PCDATA)>
<!ELEMENT other_allergies (#PCDATA)>
<!ELEMENT medication_adherence (#PCDATA)>
<!ELEMENT medications_allergies_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
