forms/plastic-surgery-assessment/xml-representations/assessment_psychological.dtd

<!ELEMENT assessment_psychological (id,assessment_id,body_dysmorphic_concern,body_dysmorphic_details,realistic_expectations,expectations_details,motivation,motivation_other,previous_mental_health,mental_health_details,anxiety_level,depression_screen,social_impact,social_impact_details,psychological_referral_needed,psychological_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT body_dysmorphic_concern (#PCDATA)>
<!ELEMENT body_dysmorphic_details (#PCDATA)>
<!ELEMENT realistic_expectations (#PCDATA)>
<!ELEMENT expectations_details (#PCDATA)>
<!ELEMENT motivation (#PCDATA)>
<!ELEMENT motivation_other (#PCDATA)>
<!ELEMENT previous_mental_health (#PCDATA)>
<!ELEMENT mental_health_details (#PCDATA)>
<!ELEMENT anxiety_level (#PCDATA)>
<!ELEMENT depression_screen (#PCDATA)>
<!ELEMENT social_impact (#PCDATA)>
<!ELEMENT social_impact_details (#PCDATA)>
<!ELEMENT psychological_referral_needed (#PCDATA)>
<!ELEMENT psychological_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
