forms/plastic-surgery-assessment/xml-representations/assessment_wound_tissue.dtd

<!ELEMENT assessment_wound_tissue (id,assessment_id,has_open_wound,wound_classification,wound_age,wound_aetiology,wound_bed_tissue,wound_exudate,wound_infection_signs,wound_infection_details,tissue_viability,surrounding_skin,vascular_supply,sensory_status,previous_wound_treatments,wound_tissue_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_open_wound (#PCDATA)>
<!ELEMENT wound_classification (#PCDATA)>
<!ELEMENT wound_age (#PCDATA)>
<!ELEMENT wound_aetiology (#PCDATA)>
<!ELEMENT wound_bed_tissue (#PCDATA)>
<!ELEMENT wound_exudate (#PCDATA)>
<!ELEMENT wound_infection_signs (#PCDATA)>
<!ELEMENT wound_infection_details (#PCDATA)>
<!ELEMENT tissue_viability (#PCDATA)>
<!ELEMENT surrounding_skin (#PCDATA)>
<!ELEMENT vascular_supply (#PCDATA)>
<!ELEMENT sensory_status (#PCDATA)>
<!ELEMENT previous_wound_treatments (#PCDATA)>
<!ELEMENT wound_tissue_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
