forms/plastic-surgery-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,anaesthetic_risk,current_condition,demographics,medical_surgical_history,medications_allergies,photography_documentation,procedure_planning,psychological,reason_for_referral,wound_tissue)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT anaesthetic_risk (id,assessment_id,asa_class,previous_anaesthetic,anaesthetic_complications,anaesthetic_complications_details,difficult_airway,difficult_airway_details,malignant_hyperthermia_risk,family_anaesthetic_problems,family_anaesthetic_details,smoking_status,pack_years,alcohol_consumption,recreational_drugs,recreational_drugs_details,obstructive_sleep_apnoea,anaesthetic_preference,anaesthetic_notes,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT asa_class (#PCDATA)>
<!ELEMENT previous_anaesthetic (#PCDATA)>
<!ELEMENT anaesthetic_complications (#PCDATA)>
<!ELEMENT anaesthetic_complications_details (#PCDATA)>
<!ELEMENT difficult_airway (#PCDATA)>
<!ELEMENT difficult_airway_details (#PCDATA)>
<!ELEMENT malignant_hyperthermia_risk (#PCDATA)>
<!ELEMENT family_anaesthetic_problems (#PCDATA)>
<!ELEMENT family_anaesthetic_details (#PCDATA)>
<!ELEMENT smoking_status (#PCDATA)>
<!ELEMENT pack_years (#PCDATA)>
<!ELEMENT alcohol_consumption (#PCDATA)>
<!ELEMENT recreational_drugs (#PCDATA)>
<!ELEMENT recreational_drugs_details (#PCDATA)>
<!ELEMENT obstructive_sleep_apnoea (#PCDATA)>
<!ELEMENT anaesthetic_preference (#PCDATA)>
<!ELEMENT anaesthetic_notes (#PCDATA)>
<!ELEMENT current_condition (id,assessment_id,condition_category,condition_description,lesion_size_length_mm,lesion_size_width_mm,lesion_size_depth_mm,tissue_loss,tissue_loss_percentage,functional_impairment,functional_impairment_details,pain_level,cosmetic_concern,impact_on_daily_activities,current_condition_notes,created_at,updated_at)>
<!ELEMENT condition_category (#PCDATA)>
<!ELEMENT condition_description (#PCDATA)>
<!ELEMENT lesion_size_length_mm (#PCDATA)>
<!ELEMENT lesion_size_width_mm (#PCDATA)>
<!ELEMENT lesion_size_depth_mm (#PCDATA)>
<!ELEMENT tissue_loss (#PCDATA)>
<!ELEMENT tissue_loss_percentage (#PCDATA)>
<!ELEMENT functional_impairment (#PCDATA)>
<!ELEMENT functional_impairment_details (#PCDATA)>
<!ELEMENT pain_level (#PCDATA)>
<!ELEMENT cosmetic_concern (#PCDATA)>
<!ELEMENT impact_on_daily_activities (#PCDATA)>
<!ELEMENT current_condition_notes (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,preferred_name,gender_identity,ethnicity,preferred_language,interpreter_required,gp_name,gp_practice,referrer_name,referrer_role,created_at,updated_at)>
<!ELEMENT preferred_name (#PCDATA)>
<!ELEMENT gender_identity (#PCDATA)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT preferred_language (#PCDATA)>
<!ELEMENT interpreter_required (#PCDATA)>
<!ELEMENT gp_name (#PCDATA)>
<!ELEMENT gp_practice (#PCDATA)>
<!ELEMENT referrer_name (#PCDATA)>
<!ELEMENT referrer_role (#PCDATA)>
<!ELEMENT medical_surgical_history (id,assessment_id,previous_plastic_surgery,previous_plastic_surgery_details,previous_general_surgery,previous_general_surgery_details,wound_healing_problems,wound_healing_details,keloid_hypertrophic_scarring,scarring_details,diabetes,diabetes_controlled,hypertension,cardiac_disease,cardiac_disease_details,respiratory_disease,respiratory_disease_details,autoimmune_disease,autoimmune_disease_details,bleeding_disorder,bleeding_disorder_details,immunosuppressed,immunosuppressed_details,cancer_history,cancer_history_details,medical_history_notes,created_at,updated_at)>
<!ELEMENT previous_plastic_surgery (#PCDATA)>
<!ELEMENT previous_plastic_surgery_details (#PCDATA)>
<!ELEMENT previous_general_surgery (#PCDATA)>
<!ELEMENT previous_general_surgery_details (#PCDATA)>
<!ELEMENT wound_healing_problems (#PCDATA)>
<!ELEMENT wound_healing_details (#PCDATA)>
<!ELEMENT keloid_hypertrophic_scarring (#PCDATA)>
<!ELEMENT scarring_details (#PCDATA)>
<!ELEMENT diabetes (#PCDATA)>
<!ELEMENT diabetes_controlled (#PCDATA)>
<!ELEMENT hypertension (#PCDATA)>
<!ELEMENT cardiac_disease (#PCDATA)>
<!ELEMENT cardiac_disease_details (#PCDATA)>
<!ELEMENT respiratory_disease (#PCDATA)>
<!ELEMENT respiratory_disease_details (#PCDATA)>
<!ELEMENT autoimmune_disease (#PCDATA)>
<!ELEMENT autoimmune_disease_details (#PCDATA)>
<!ELEMENT bleeding_disorder (#PCDATA)>
<!ELEMENT bleeding_disorder_details (#PCDATA)>
<!ELEMENT immunosuppressed (#PCDATA)>
<!ELEMENT immunosuppressed_details (#PCDATA)>
<!ELEMENT cancer_history (#PCDATA)>
<!ELEMENT cancer_history_details (#PCDATA)>
<!ELEMENT medical_history_notes (#PCDATA)>
<!ELEMENT medications_allergies (id,assessment_id,on_anticoagulants,anticoagulant_details,on_antiplatelets,antiplatelet_details,on_steroids,steroid_details,on_immunosuppressants,immunosuppressant_details,on_chemotherapy,chemotherapy_details,on_hormone_therapy,hormone_therapy_details,other_medications,has_drug_allergies,drug_allergy_details,latex_allergy,adhesive_allergy,other_allergies,medication_adherence,medications_allergies_notes,created_at,updated_at)>
<!ELEMENT on_anticoagulants (#PCDATA)>
<!ELEMENT anticoagulant_details (#PCDATA)>
<!ELEMENT on_antiplatelets (#PCDATA)>
<!ELEMENT antiplatelet_details (#PCDATA)>
<!ELEMENT on_steroids (#PCDATA)>
<!ELEMENT steroid_details (#PCDATA)>
<!ELEMENT on_immunosuppressants (#PCDATA)>
<!ELEMENT immunosuppressant_details (#PCDATA)>
<!ELEMENT on_chemotherapy (#PCDATA)>
<!ELEMENT chemotherapy_details (#PCDATA)>
<!ELEMENT on_hormone_therapy (#PCDATA)>
<!ELEMENT hormone_therapy_details (#PCDATA)>
<!ELEMENT other_medications (#PCDATA)>
<!ELEMENT has_drug_allergies (#PCDATA)>
<!ELEMENT drug_allergy_details (#PCDATA)>
<!ELEMENT latex_allergy (#PCDATA)>
<!ELEMENT adhesive_allergy (#PCDATA)>
<!ELEMENT other_allergies (#PCDATA)>
<!ELEMENT medication_adherence (#PCDATA)>
<!ELEMENT medications_allergies_notes (#PCDATA)>
<!ELEMENT photography_documentation (id,assessment_id,clinical_photos_taken,photo_consent_obtained,number_of_photos,photo_views_taken,standardised_views,measurements_recorded,measurement_details,diagrams_drawn,diagram_notes,previous_imaging,previous_imaging_type,previous_imaging_findings,documentation_notes,created_at,updated_at)>
<!ELEMENT clinical_photos_taken (#PCDATA)>
<!ELEMENT photo_consent_obtained (#PCDATA)>
<!ELEMENT number_of_photos (#PCDATA)>
<!ELEMENT photo_views_taken (#PCDATA)>
<!ELEMENT standardised_views (#PCDATA)>
<!ELEMENT measurements_recorded (#PCDATA)>
<!ELEMENT measurement_details (#PCDATA)>
<!ELEMENT diagrams_drawn (#PCDATA)>
<!ELEMENT diagram_notes (#PCDATA)>
<!ELEMENT previous_imaging (#PCDATA)>
<!ELEMENT previous_imaging_type (#PCDATA)>
<!ELEMENT previous_imaging_findings (#PCDATA)>
<!ELEMENT documentation_notes (#PCDATA)>
<!ELEMENT procedure_planning (id,assessment_id,proposed_procedure,procedure_complexity,surgical_approach,expected_duration_minutes,expected_hospital_stay,flap_type,implant_required,implant_details,vte_risk,antibiotic_prophylaxis,anticipated_risks,alternative_treatments,consent_discussion,consent_form_signed,cooling_off_period_offered,follow_up_plan,procedure_planning_notes,created_at,updated_at)>
<!ELEMENT proposed_procedure (#PCDATA)>
<!ELEMENT procedure_complexity (#PCDATA)>
<!ELEMENT surgical_approach (#PCDATA)>
<!ELEMENT expected_duration_minutes (#PCDATA)>
<!ELEMENT expected_hospital_stay (#PCDATA)>
<!ELEMENT flap_type (#PCDATA)>
<!ELEMENT implant_required (#PCDATA)>
<!ELEMENT implant_details (#PCDATA)>
<!ELEMENT vte_risk (#PCDATA)>
<!ELEMENT antibiotic_prophylaxis (#PCDATA)>
<!ELEMENT anticipated_risks (#PCDATA)>
<!ELEMENT alternative_treatments (#PCDATA)>
<!ELEMENT consent_discussion (#PCDATA)>
<!ELEMENT consent_form_signed (#PCDATA)>
<!ELEMENT cooling_off_period_offered (#PCDATA)>
<!ELEMENT follow_up_plan (#PCDATA)>
<!ELEMENT procedure_planning_notes (#PCDATA)>
<!ELEMENT psychological (id,assessment_id,body_dysmorphic_concern,body_dysmorphic_details,realistic_expectations,expectations_details,motivation,motivation_other,previous_mental_health,mental_health_details,anxiety_level,depression_screen,social_impact,social_impact_details,psychological_referral_needed,psychological_notes,created_at,updated_at)>
<!ELEMENT body_dysmorphic_concern (#PCDATA)>
<!ELEMENT body_dysmorphic_details (#PCDATA)>
<!ELEMENT realistic_expectations (#PCDATA)>
<!ELEMENT expectations_details (#PCDATA)>
<!ELEMENT motivation (#PCDATA)>
<!ELEMENT motivation_other (#PCDATA)>
<!ELEMENT previous_mental_health (#PCDATA)>
<!ELEMENT mental_health_details (#PCDATA)>
<!ELEMENT anxiety_level (#PCDATA)>
<!ELEMENT depression_screen (#PCDATA)>
<!ELEMENT social_impact (#PCDATA)>
<!ELEMENT social_impact_details (#PCDATA)>
<!ELEMENT psychological_referral_needed (#PCDATA)>
<!ELEMENT psychological_notes (#PCDATA)>
<!ELEMENT reason_for_referral (id,assessment_id,referral_type,referral_type_other,urgency,primary_complaint,affected_body_area,affected_body_area_other,laterality,duration_of_condition,previous_consultations,previous_consultations_details,referral_notes,created_at,updated_at)>
<!ELEMENT referral_type (#PCDATA)>
<!ELEMENT referral_type_other (#PCDATA)>
<!ELEMENT urgency (#PCDATA)>
<!ELEMENT primary_complaint (#PCDATA)>
<!ELEMENT affected_body_area (#PCDATA)>
<!ELEMENT affected_body_area_other (#PCDATA)>
<!ELEMENT laterality (#PCDATA)>
<!ELEMENT duration_of_condition (#PCDATA)>
<!ELEMENT previous_consultations (#PCDATA)>
<!ELEMENT previous_consultations_details (#PCDATA)>
<!ELEMENT referral_notes (#PCDATA)>
<!ELEMENT wound_tissue (id,assessment_id,has_open_wound,wound_classification,wound_age,wound_aetiology,wound_bed_tissue,wound_exudate,wound_infection_signs,wound_infection_details,tissue_viability,surrounding_skin,vascular_supply,sensory_status,previous_wound_treatments,wound_tissue_notes,created_at,updated_at)>
<!ELEMENT has_open_wound (#PCDATA)>
<!ELEMENT wound_classification (#PCDATA)>
<!ELEMENT wound_age (#PCDATA)>
<!ELEMENT wound_aetiology (#PCDATA)>
<!ELEMENT wound_bed_tissue (#PCDATA)>
<!ELEMENT wound_exudate (#PCDATA)>
<!ELEMENT wound_infection_signs (#PCDATA)>
<!ELEMENT wound_infection_details (#PCDATA)>
<!ELEMENT tissue_viability (#PCDATA)>
<!ELEMENT surrounding_skin (#PCDATA)>
<!ELEMENT vascular_supply (#PCDATA)>
<!ELEMENT sensory_status (#PCDATA)>
<!ELEMENT previous_wound_treatments (#PCDATA)>
<!ELEMENT wound_tissue_notes (#PCDATA)>
