forms/plastic-surgery-assessment/xml-representations/assessment_anaesthetic_risk.dtd

<!ELEMENT assessment_anaesthetic_risk (id,assessment_id,asa_class,previous_anaesthetic,anaesthetic_complications,anaesthetic_complications_details,difficult_airway,difficult_airway_details,malignant_hyperthermia_risk,family_anaesthetic_problems,family_anaesthetic_details,smoking_status,pack_years,alcohol_consumption,recreational_drugs,recreational_drugs_details,obstructive_sleep_apnoea,anaesthetic_preference,anaesthetic_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT asa_class (#PCDATA)>
<!ELEMENT previous_anaesthetic (#PCDATA)>
<!ELEMENT anaesthetic_complications (#PCDATA)>
<!ELEMENT anaesthetic_complications_details (#PCDATA)>
<!ELEMENT difficult_airway (#PCDATA)>
<!ELEMENT difficult_airway_details (#PCDATA)>
<!ELEMENT malignant_hyperthermia_risk (#PCDATA)>
<!ELEMENT family_anaesthetic_problems (#PCDATA)>
<!ELEMENT family_anaesthetic_details (#PCDATA)>
<!ELEMENT smoking_status (#PCDATA)>
<!ELEMENT pack_years (#PCDATA)>
<!ELEMENT alcohol_consumption (#PCDATA)>
<!ELEMENT recreational_drugs (#PCDATA)>
<!ELEMENT recreational_drugs_details (#PCDATA)>
<!ELEMENT obstructive_sleep_apnoea (#PCDATA)>
<!ELEMENT anaesthetic_preference (#PCDATA)>
<!ELEMENT anaesthetic_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
