forms/plastic-surgery-assessment/xml-representations/assessment_medical_surgical_history.dtd

<!ELEMENT assessment_medical_surgical_history (id,assessment_id,previous_plastic_surgery,previous_plastic_surgery_details,previous_general_surgery,previous_general_surgery_details,wound_healing_problems,wound_healing_details,keloid_hypertrophic_scarring,scarring_details,diabetes,diabetes_controlled,hypertension,cardiac_disease,cardiac_disease_details,respiratory_disease,respiratory_disease_details,autoimmune_disease,autoimmune_disease_details,bleeding_disorder,bleeding_disorder_details,immunosuppressed,immunosuppressed_details,cancer_history,cancer_history_details,medical_history_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT previous_plastic_surgery (#PCDATA)>
<!ELEMENT previous_plastic_surgery_details (#PCDATA)>
<!ELEMENT previous_general_surgery (#PCDATA)>
<!ELEMENT previous_general_surgery_details (#PCDATA)>
<!ELEMENT wound_healing_problems (#PCDATA)>
<!ELEMENT wound_healing_details (#PCDATA)>
<!ELEMENT keloid_hypertrophic_scarring (#PCDATA)>
<!ELEMENT scarring_details (#PCDATA)>
<!ELEMENT diabetes (#PCDATA)>
<!ELEMENT diabetes_controlled (#PCDATA)>
<!ELEMENT hypertension (#PCDATA)>
<!ELEMENT cardiac_disease (#PCDATA)>
<!ELEMENT cardiac_disease_details (#PCDATA)>
<!ELEMENT respiratory_disease (#PCDATA)>
<!ELEMENT respiratory_disease_details (#PCDATA)>
<!ELEMENT autoimmune_disease (#PCDATA)>
<!ELEMENT autoimmune_disease_details (#PCDATA)>
<!ELEMENT bleeding_disorder (#PCDATA)>
<!ELEMENT bleeding_disorder_details (#PCDATA)>
<!ELEMENT immunosuppressed (#PCDATA)>
<!ELEMENT immunosuppressed_details (#PCDATA)>
<!ELEMENT cancer_history (#PCDATA)>
<!ELEMENT cancer_history_details (#PCDATA)>
<!ELEMENT medical_history_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
