forms/plastic-surgery-assessment/xml-representations/assessment_procedure_planning.dtd

<!ELEMENT assessment_procedure_planning (id,assessment_id,proposed_procedure,procedure_complexity,surgical_approach,expected_duration_minutes,expected_hospital_stay,flap_type,implant_required,implant_details,vte_risk,antibiotic_prophylaxis,anticipated_risks,alternative_treatments,consent_discussion,consent_form_signed,cooling_off_period_offered,follow_up_plan,procedure_planning_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT proposed_procedure (#PCDATA)>
<!ELEMENT procedure_complexity (#PCDATA)>
<!ELEMENT surgical_approach (#PCDATA)>
<!ELEMENT expected_duration_minutes (#PCDATA)>
<!ELEMENT expected_hospital_stay (#PCDATA)>
<!ELEMENT flap_type (#PCDATA)>
<!ELEMENT implant_required (#PCDATA)>
<!ELEMENT implant_details (#PCDATA)>
<!ELEMENT vte_risk (#PCDATA)>
<!ELEMENT antibiotic_prophylaxis (#PCDATA)>
<!ELEMENT anticipated_risks (#PCDATA)>
<!ELEMENT alternative_treatments (#PCDATA)>
<!ELEMENT consent_discussion (#PCDATA)>
<!ELEMENT consent_form_signed (#PCDATA)>
<!ELEMENT cooling_off_period_offered (#PCDATA)>
<!ELEMENT follow_up_plan (#PCDATA)>
<!ELEMENT procedure_planning_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
