forms/plastic-surgery-assessment/xml-representations/assessment_current_condition.dtd

<!ELEMENT assessment_current_condition (id,assessment_id,condition_category,condition_description,lesion_size_length_mm,lesion_size_width_mm,lesion_size_depth_mm,tissue_loss,tissue_loss_percentage,functional_impairment,functional_impairment_details,pain_level,cosmetic_concern,impact_on_daily_activities,current_condition_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT condition_category (#PCDATA)>
<!ELEMENT condition_description (#PCDATA)>
<!ELEMENT lesion_size_length_mm (#PCDATA)>
<!ELEMENT lesion_size_width_mm (#PCDATA)>
<!ELEMENT lesion_size_depth_mm (#PCDATA)>
<!ELEMENT tissue_loss (#PCDATA)>
<!ELEMENT tissue_loss_percentage (#PCDATA)>
<!ELEMENT functional_impairment (#PCDATA)>
<!ELEMENT functional_impairment_details (#PCDATA)>
<!ELEMENT pain_level (#PCDATA)>
<!ELEMENT cosmetic_concern (#PCDATA)>
<!ELEMENT impact_on_daily_activities (#PCDATA)>
<!ELEMENT current_condition_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
