forms/plastic-surgery-assessment/xml-representations/grading_result.dtd

<!ELEMENT grading_result (id,assessment_id,asa_class,wound_class,complexity_score,overall_risk_level,graded_at,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT asa_class (#PCDATA)>
<!ELEMENT wound_class (#PCDATA)>
<!ELEMENT complexity_score (#PCDATA)>
<!ELEMENT overall_risk_level (#PCDATA)>
<!ELEMENT graded_at (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
