forms/mast-cell-activation-syndrome-assessment/xml-representations/assessment_symptom_overview.dtd

<!ELEMENT assessment_symptom_overview (id,assessment_id,symptom_onset_date,symptom_duration,symptom_pattern,symptom_frequency,worst_symptom_description,overall_severity,previous_mcas_diagnosis,previous_mastocytosis_diagnosis,family_history_mast_cell,family_history_details,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT symptom_onset_date (#PCDATA)>
<!ELEMENT symptom_duration (#PCDATA)>
<!ELEMENT symptom_pattern (#PCDATA)>
<!ELEMENT symptom_frequency (#PCDATA)>
<!ELEMENT worst_symptom_description (#PCDATA)>
<!ELEMENT overall_severity (#PCDATA)>
<!ELEMENT previous_mcas_diagnosis (#PCDATA)>
<!ELEMENT previous_mastocytosis_diagnosis (#PCDATA)>
<!ELEMENT family_history_mast_cell (#PCDATA)>
<!ELEMENT family_history_details (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
