forms/mast-cell-activation-syndrome-assessment/xml-representations/assessment_neurological_symptoms.dtd

<!ELEMENT assessment_neurological_symptoms (id,assessment_id,headaches,headache_severity,headache_frequency,brain_fog,brain_fog_severity,dizziness,paraesthesia,paraesthesia_location,insomnia,fatigue,fatigue_severity,anxiety,depression,neurological_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT headaches (#PCDATA)>
<!ELEMENT headache_severity (#PCDATA)>
<!ELEMENT headache_frequency (#PCDATA)>
<!ELEMENT brain_fog (#PCDATA)>
<!ELEMENT brain_fog_severity (#PCDATA)>
<!ELEMENT dizziness (#PCDATA)>
<!ELEMENT paraesthesia (#PCDATA)>
<!ELEMENT paraesthesia_location (#PCDATA)>
<!ELEMENT insomnia (#PCDATA)>
<!ELEMENT fatigue (#PCDATA)>
<!ELEMENT fatigue_severity (#PCDATA)>
<!ELEMENT anxiety (#PCDATA)>
<!ELEMENT depression (#PCDATA)>
<!ELEMENT neurological_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
