forms/mast-cell-activation-syndrome-assessment/xml-representations/assessment_laboratory_results.dtd

<!ELEMENT assessment_laboratory_results (id,assessment_id,serum_tryptase,serum_tryptase_date,serum_tryptase_elevated,plasma_histamine,plasma_histamine_date,urine_n_methylhistamine,urine_n_methylhistamine_date,urine_prostaglandin_d2,urine_prostaglandin_d2_date,urine_leukotriene_e4,urine_leukotriene_e4_date,chromogranin_a,chromogranin_a_date,serum_ige_total,full_blood_count_notes,bone_marrow_biopsy,bone_marrow_biopsy_result,additional_lab_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT serum_tryptase (#PCDATA)>
<!ELEMENT serum_tryptase_date (#PCDATA)>
<!ELEMENT serum_tryptase_elevated (#PCDATA)>
<!ELEMENT plasma_histamine (#PCDATA)>
<!ELEMENT plasma_histamine_date (#PCDATA)>
<!ELEMENT urine_n_methylhistamine (#PCDATA)>
<!ELEMENT urine_n_methylhistamine_date (#PCDATA)>
<!ELEMENT urine_prostaglandin_d2 (#PCDATA)>
<!ELEMENT urine_prostaglandin_d2_date (#PCDATA)>
<!ELEMENT urine_leukotriene_e4 (#PCDATA)>
<!ELEMENT urine_leukotriene_e4_date (#PCDATA)>
<!ELEMENT chromogranin_a (#PCDATA)>
<!ELEMENT chromogranin_a_date (#PCDATA)>
<!ELEMENT serum_ige_total (#PCDATA)>
<!ELEMENT full_blood_count_notes (#PCDATA)>
<!ELEMENT bone_marrow_biopsy (#PCDATA)>
<!ELEMENT bone_marrow_biopsy_result (#PCDATA)>
<!ELEMENT additional_lab_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
