forms/mast-cell-activation-syndrome-assessment/xml-representations/assessment_cardiovascular_symptoms.dtd

<!ELEMENT assessment_cardiovascular_symptoms (id,assessment_id,tachycardia,resting_heart_rate,hypotension,systolic_bp,diastolic_bp,presyncope,syncope,syncope_frequency,palpitations,chest_pain,orthostatic_intolerance,anaphylaxis_history,anaphylaxis_episode_count,carries_adrenaline_auto_injector,cardiovascular_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT tachycardia (#PCDATA)>
<!ELEMENT resting_heart_rate (#PCDATA)>
<!ELEMENT hypotension (#PCDATA)>
<!ELEMENT systolic_bp (#PCDATA)>
<!ELEMENT diastolic_bp (#PCDATA)>
<!ELEMENT presyncope (#PCDATA)>
<!ELEMENT syncope (#PCDATA)>
<!ELEMENT syncope_frequency (#PCDATA)>
<!ELEMENT palpitations (#PCDATA)>
<!ELEMENT chest_pain (#PCDATA)>
<!ELEMENT orthostatic_intolerance (#PCDATA)>
<!ELEMENT anaphylaxis_history (#PCDATA)>
<!ELEMENT anaphylaxis_episode_count (#PCDATA)>
<!ELEMENT carries_adrenaline_auto_injector (#PCDATA)>
<!ELEMENT cardiovascular_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
