forms/mast-cell-activation-syndrome-assessment/xml-representations/assessment_dermatological_symptoms.dtd

<!ELEMENT assessment_dermatological_symptoms (id,assessment_id,flushing,flushing_severity,flushing_frequency,urticaria,urticaria_severity,angioedema,angioedema_location,pruritus,pruritus_severity,dermatographism,skin_lesions,dermatological_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT flushing (#PCDATA)>
<!ELEMENT flushing_severity (#PCDATA)>
<!ELEMENT flushing_frequency (#PCDATA)>
<!ELEMENT urticaria (#PCDATA)>
<!ELEMENT urticaria_severity (#PCDATA)>
<!ELEMENT angioedema (#PCDATA)>
<!ELEMENT angioedema_location (#PCDATA)>
<!ELEMENT pruritus (#PCDATA)>
<!ELEMENT pruritus_severity (#PCDATA)>
<!ELEMENT dermatographism (#PCDATA)>
<!ELEMENT skin_lesions (#PCDATA)>
<!ELEMENT dermatological_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
