forms/mast-cell-activation-syndrome-assessment/xml-representations/assessment_gastrointestinal_symptoms.dtd

<!ELEMENT assessment_gastrointestinal_symptoms (id,assessment_id,abdominal_pain,abdominal_pain_severity,nausea,vomiting,diarrhoea,diarrhoea_frequency,bloating,gastro_oesophageal_reflux,dysphagia,food_intolerances,weight_change,weight_change_amount_kg,gastrointestinal_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT abdominal_pain (#PCDATA)>
<!ELEMENT abdominal_pain_severity (#PCDATA)>
<!ELEMENT nausea (#PCDATA)>
<!ELEMENT vomiting (#PCDATA)>
<!ELEMENT diarrhoea (#PCDATA)>
<!ELEMENT diarrhoea_frequency (#PCDATA)>
<!ELEMENT bloating (#PCDATA)>
<!ELEMENT gastro_oesophageal_reflux (#PCDATA)>
<!ELEMENT dysphagia (#PCDATA)>
<!ELEMENT food_intolerances (#PCDATA)>
<!ELEMENT weight_change (#PCDATA)>
<!ELEMENT weight_change_amount_kg (#PCDATA)>
<!ELEMENT gastrointestinal_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
