forms/mast-cell-activation-syndrome-assessment/xml-representations/assessment_current_treatment.dtd

<!ELEMENT assessment_current_treatment (id,assessment_id,h1_antihistamine,h1_antihistamine_name,h1_antihistamine_dose,h2_antihistamine,h2_antihistamine_name,h2_antihistamine_dose,mast_cell_stabiliser,mast_cell_stabiliser_name,leukotriene_inhibitor,leukotriene_inhibitor_name,corticosteroids,corticosteroid_details,adrenaline_auto_injector_prescribed,omalizumab,other_medications,low_histamine_diet,avoidance_strategies,treatment_effectiveness,treatment_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT h1_antihistamine (#PCDATA)>
<!ELEMENT h1_antihistamine_name (#PCDATA)>
<!ELEMENT h1_antihistamine_dose (#PCDATA)>
<!ELEMENT h2_antihistamine (#PCDATA)>
<!ELEMENT h2_antihistamine_name (#PCDATA)>
<!ELEMENT h2_antihistamine_dose (#PCDATA)>
<!ELEMENT mast_cell_stabiliser (#PCDATA)>
<!ELEMENT mast_cell_stabiliser_name (#PCDATA)>
<!ELEMENT leukotriene_inhibitor (#PCDATA)>
<!ELEMENT leukotriene_inhibitor_name (#PCDATA)>
<!ELEMENT corticosteroids (#PCDATA)>
<!ELEMENT corticosteroid_details (#PCDATA)>
<!ELEMENT adrenaline_auto_injector_prescribed (#PCDATA)>
<!ELEMENT omalizumab (#PCDATA)>
<!ELEMENT other_medications (#PCDATA)>
<!ELEMENT low_histamine_diet (#PCDATA)>
<!ELEMENT avoidance_strategies (#PCDATA)>
<!ELEMENT treatment_effectiveness (#PCDATA)>
<!ELEMENT treatment_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
