forms/mast-cell-activation-syndrome-assessment/xml-representations/assessment_triggers_and_patterns.dtd

<!ELEMENT assessment_triggers_and_patterns (id,assessment_id,heat_trigger,cold_trigger,stress_trigger,exercise_trigger,food_trigger,food_trigger_details,alcohol_trigger,medication_trigger,medication_trigger_details,fragrance_chemical_trigger,insect_sting_trigger,hormonal_trigger,hormonal_trigger_details,infection_trigger,other_triggers,diurnal_pattern,seasonal_pattern,seasonal_pattern_details,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT heat_trigger (#PCDATA)>
<!ELEMENT cold_trigger (#PCDATA)>
<!ELEMENT stress_trigger (#PCDATA)>
<!ELEMENT exercise_trigger (#PCDATA)>
<!ELEMENT food_trigger (#PCDATA)>
<!ELEMENT food_trigger_details (#PCDATA)>
<!ELEMENT alcohol_trigger (#PCDATA)>
<!ELEMENT medication_trigger (#PCDATA)>
<!ELEMENT medication_trigger_details (#PCDATA)>
<!ELEMENT fragrance_chemical_trigger (#PCDATA)>
<!ELEMENT insect_sting_trigger (#PCDATA)>
<!ELEMENT hormonal_trigger (#PCDATA)>
<!ELEMENT hormonal_trigger_details (#PCDATA)>
<!ELEMENT infection_trigger (#PCDATA)>
<!ELEMENT other_triggers (#PCDATA)>
<!ELEMENT diurnal_pattern (#PCDATA)>
<!ELEMENT seasonal_pattern (#PCDATA)>
<!ELEMENT seasonal_pattern_details (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
