forms/mast-cell-activation-syndrome-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,cardiovascular_symptoms,current_treatment,demographics,dermatological_symptoms,gastrointestinal_symptoms,laboratory_results,neurological_symptoms,respiratory_symptoms,symptom_overview,triggers_and_patterns)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT cardiovascular_symptoms (id,assessment_id,tachycardia,resting_heart_rate,hypotension,systolic_bp,diastolic_bp,presyncope,syncope,syncope_frequency,palpitations,chest_pain,orthostatic_intolerance,anaphylaxis_history,anaphylaxis_episode_count,carries_adrenaline_auto_injector,cardiovascular_notes,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT tachycardia (#PCDATA)>
<!ELEMENT resting_heart_rate (#PCDATA)>
<!ELEMENT hypotension (#PCDATA)>
<!ELEMENT systolic_bp (#PCDATA)>
<!ELEMENT diastolic_bp (#PCDATA)>
<!ELEMENT presyncope (#PCDATA)>
<!ELEMENT syncope (#PCDATA)>
<!ELEMENT syncope_frequency (#PCDATA)>
<!ELEMENT palpitations (#PCDATA)>
<!ELEMENT chest_pain (#PCDATA)>
<!ELEMENT orthostatic_intolerance (#PCDATA)>
<!ELEMENT anaphylaxis_history (#PCDATA)>
<!ELEMENT anaphylaxis_episode_count (#PCDATA)>
<!ELEMENT carries_adrenaline_auto_injector (#PCDATA)>
<!ELEMENT cardiovascular_notes (#PCDATA)>
<!ELEMENT current_treatment (id,assessment_id,h1_antihistamine,h1_antihistamine_name,h1_antihistamine_dose,h2_antihistamine,h2_antihistamine_name,h2_antihistamine_dose,mast_cell_stabiliser,mast_cell_stabiliser_name,leukotriene_inhibitor,leukotriene_inhibitor_name,corticosteroids,corticosteroid_details,adrenaline_auto_injector_prescribed,omalizumab,other_medications,low_histamine_diet,avoidance_strategies,treatment_effectiveness,treatment_notes,created_at,updated_at)>
<!ELEMENT h1_antihistamine (#PCDATA)>
<!ELEMENT h1_antihistamine_name (#PCDATA)>
<!ELEMENT h1_antihistamine_dose (#PCDATA)>
<!ELEMENT h2_antihistamine (#PCDATA)>
<!ELEMENT h2_antihistamine_name (#PCDATA)>
<!ELEMENT h2_antihistamine_dose (#PCDATA)>
<!ELEMENT mast_cell_stabiliser (#PCDATA)>
<!ELEMENT mast_cell_stabiliser_name (#PCDATA)>
<!ELEMENT leukotriene_inhibitor (#PCDATA)>
<!ELEMENT leukotriene_inhibitor_name (#PCDATA)>
<!ELEMENT corticosteroids (#PCDATA)>
<!ELEMENT corticosteroid_details (#PCDATA)>
<!ELEMENT adrenaline_auto_injector_prescribed (#PCDATA)>
<!ELEMENT omalizumab (#PCDATA)>
<!ELEMENT other_medications (#PCDATA)>
<!ELEMENT low_histamine_diet (#PCDATA)>
<!ELEMENT avoidance_strategies (#PCDATA)>
<!ELEMENT treatment_effectiveness (#PCDATA)>
<!ELEMENT treatment_notes (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,occupation,ethnicity,contact_phone,contact_email,emergency_contact_name,emergency_contact_phone,gp_name,gp_practice,created_at,updated_at)>
<!ELEMENT occupation (#PCDATA)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT contact_phone (#PCDATA)>
<!ELEMENT contact_email (#PCDATA)>
<!ELEMENT emergency_contact_name (#PCDATA)>
<!ELEMENT emergency_contact_phone (#PCDATA)>
<!ELEMENT gp_name (#PCDATA)>
<!ELEMENT gp_practice (#PCDATA)>
<!ELEMENT dermatological_symptoms (id,assessment_id,flushing,flushing_severity,flushing_frequency,urticaria,urticaria_severity,angioedema,angioedema_location,pruritus,pruritus_severity,dermatographism,skin_lesions,dermatological_notes,created_at,updated_at)>
<!ELEMENT flushing (#PCDATA)>
<!ELEMENT flushing_severity (#PCDATA)>
<!ELEMENT flushing_frequency (#PCDATA)>
<!ELEMENT urticaria (#PCDATA)>
<!ELEMENT urticaria_severity (#PCDATA)>
<!ELEMENT angioedema (#PCDATA)>
<!ELEMENT angioedema_location (#PCDATA)>
<!ELEMENT pruritus (#PCDATA)>
<!ELEMENT pruritus_severity (#PCDATA)>
<!ELEMENT dermatographism (#PCDATA)>
<!ELEMENT skin_lesions (#PCDATA)>
<!ELEMENT dermatological_notes (#PCDATA)>
<!ELEMENT gastrointestinal_symptoms (id,assessment_id,abdominal_pain,abdominal_pain_severity,nausea,vomiting,diarrhoea,diarrhoea_frequency,bloating,gastro_oesophageal_reflux,dysphagia,food_intolerances,weight_change,weight_change_amount_kg,gastrointestinal_notes,created_at,updated_at)>
<!ELEMENT abdominal_pain (#PCDATA)>
<!ELEMENT abdominal_pain_severity (#PCDATA)>
<!ELEMENT nausea (#PCDATA)>
<!ELEMENT vomiting (#PCDATA)>
<!ELEMENT diarrhoea (#PCDATA)>
<!ELEMENT diarrhoea_frequency (#PCDATA)>
<!ELEMENT bloating (#PCDATA)>
<!ELEMENT gastro_oesophageal_reflux (#PCDATA)>
<!ELEMENT dysphagia (#PCDATA)>
<!ELEMENT food_intolerances (#PCDATA)>
<!ELEMENT weight_change (#PCDATA)>
<!ELEMENT weight_change_amount_kg (#PCDATA)>
<!ELEMENT gastrointestinal_notes (#PCDATA)>
<!ELEMENT laboratory_results (id,assessment_id,serum_tryptase,serum_tryptase_date,serum_tryptase_elevated,plasma_histamine,plasma_histamine_date,urine_n_methylhistamine,urine_n_methylhistamine_date,urine_prostaglandin_d2,urine_prostaglandin_d2_date,urine_leukotriene_e4,urine_leukotriene_e4_date,chromogranin_a,chromogranin_a_date,serum_ige_total,full_blood_count_notes,bone_marrow_biopsy,bone_marrow_biopsy_result,additional_lab_notes,created_at,updated_at)>
<!ELEMENT serum_tryptase (#PCDATA)>
<!ELEMENT serum_tryptase_date (#PCDATA)>
<!ELEMENT serum_tryptase_elevated (#PCDATA)>
<!ELEMENT plasma_histamine (#PCDATA)>
<!ELEMENT plasma_histamine_date (#PCDATA)>
<!ELEMENT urine_n_methylhistamine (#PCDATA)>
<!ELEMENT urine_n_methylhistamine_date (#PCDATA)>
<!ELEMENT urine_prostaglandin_d2 (#PCDATA)>
<!ELEMENT urine_prostaglandin_d2_date (#PCDATA)>
<!ELEMENT urine_leukotriene_e4 (#PCDATA)>
<!ELEMENT urine_leukotriene_e4_date (#PCDATA)>
<!ELEMENT chromogranin_a (#PCDATA)>
<!ELEMENT chromogranin_a_date (#PCDATA)>
<!ELEMENT serum_ige_total (#PCDATA)>
<!ELEMENT full_blood_count_notes (#PCDATA)>
<!ELEMENT bone_marrow_biopsy (#PCDATA)>
<!ELEMENT bone_marrow_biopsy_result (#PCDATA)>
<!ELEMENT additional_lab_notes (#PCDATA)>
<!ELEMENT neurological_symptoms (id,assessment_id,headaches,headache_severity,headache_frequency,brain_fog,brain_fog_severity,dizziness,paraesthesia,paraesthesia_location,insomnia,fatigue,fatigue_severity,anxiety,depression,neurological_notes,created_at,updated_at)>
<!ELEMENT headaches (#PCDATA)>
<!ELEMENT headache_severity (#PCDATA)>
<!ELEMENT headache_frequency (#PCDATA)>
<!ELEMENT brain_fog (#PCDATA)>
<!ELEMENT brain_fog_severity (#PCDATA)>
<!ELEMENT dizziness (#PCDATA)>
<!ELEMENT paraesthesia (#PCDATA)>
<!ELEMENT paraesthesia_location (#PCDATA)>
<!ELEMENT insomnia (#PCDATA)>
<!ELEMENT fatigue (#PCDATA)>
<!ELEMENT fatigue_severity (#PCDATA)>
<!ELEMENT anxiety (#PCDATA)>
<!ELEMENT depression (#PCDATA)>
<!ELEMENT neurological_notes (#PCDATA)>
<!ELEMENT respiratory_symptoms (id,assessment_id,wheezing,dyspnoea,dyspnoea_severity,nasal_congestion,rhinorrhoea,throat_tightness,stridor,cough,cough_type,asthma_diagnosis,peak_flow_lpm,respiratory_notes,created_at,updated_at)>
<!ELEMENT wheezing (#PCDATA)>
<!ELEMENT dyspnoea (#PCDATA)>
<!ELEMENT dyspnoea_severity (#PCDATA)>
<!ELEMENT nasal_congestion (#PCDATA)>
<!ELEMENT rhinorrhoea (#PCDATA)>
<!ELEMENT throat_tightness (#PCDATA)>
<!ELEMENT stridor (#PCDATA)>
<!ELEMENT cough (#PCDATA)>
<!ELEMENT cough_type (#PCDATA)>
<!ELEMENT asthma_diagnosis (#PCDATA)>
<!ELEMENT peak_flow_lpm (#PCDATA)>
<!ELEMENT respiratory_notes (#PCDATA)>
<!ELEMENT symptom_overview (id,assessment_id,symptom_onset_date,symptom_duration,symptom_pattern,symptom_frequency,worst_symptom_description,overall_severity,previous_mcas_diagnosis,previous_mastocytosis_diagnosis,family_history_mast_cell,family_history_details,created_at,updated_at)>
<!ELEMENT symptom_onset_date (#PCDATA)>
<!ELEMENT symptom_duration (#PCDATA)>
<!ELEMENT symptom_pattern (#PCDATA)>
<!ELEMENT symptom_frequency (#PCDATA)>
<!ELEMENT worst_symptom_description (#PCDATA)>
<!ELEMENT overall_severity (#PCDATA)>
<!ELEMENT previous_mcas_diagnosis (#PCDATA)>
<!ELEMENT previous_mastocytosis_diagnosis (#PCDATA)>
<!ELEMENT family_history_mast_cell (#PCDATA)>
<!ELEMENT family_history_details (#PCDATA)>
<!ELEMENT triggers_and_patterns (id,assessment_id,heat_trigger,cold_trigger,stress_trigger,exercise_trigger,food_trigger,food_trigger_details,alcohol_trigger,medication_trigger,medication_trigger_details,fragrance_chemical_trigger,insect_sting_trigger,hormonal_trigger,hormonal_trigger_details,infection_trigger,other_triggers,diurnal_pattern,seasonal_pattern,seasonal_pattern_details,created_at,updated_at)>
<!ELEMENT heat_trigger (#PCDATA)>
<!ELEMENT cold_trigger (#PCDATA)>
<!ELEMENT stress_trigger (#PCDATA)>
<!ELEMENT exercise_trigger (#PCDATA)>
<!ELEMENT food_trigger (#PCDATA)>
<!ELEMENT food_trigger_details (#PCDATA)>
<!ELEMENT alcohol_trigger (#PCDATA)>
<!ELEMENT medication_trigger (#PCDATA)>
<!ELEMENT medication_trigger_details (#PCDATA)>
<!ELEMENT fragrance_chemical_trigger (#PCDATA)>
<!ELEMENT insect_sting_trigger (#PCDATA)>
<!ELEMENT hormonal_trigger (#PCDATA)>
<!ELEMENT hormonal_trigger_details (#PCDATA)>
<!ELEMENT infection_trigger (#PCDATA)>
<!ELEMENT other_triggers (#PCDATA)>
<!ELEMENT diurnal_pattern (#PCDATA)>
<!ELEMENT seasonal_pattern (#PCDATA)>
<!ELEMENT seasonal_pattern_details (#PCDATA)>
