forms/consent-to-treatment/xml-representations/assessment_risks_benefits.dtd

<!ELEMENT assessment_risks_benefits (id,assessment_id,common_risks,uncommon_risks,rare_risks,specific_risks_to_patient,risk_of_not_having_treatment,expected_benefits,success_rate_discussed,success_rate_details,recovery_time_discussed,expected_recovery_details,limitations_after_procedure,follow_up_required,follow_up_details,risks_benefits_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT common_risks (#PCDATA)>
<!ELEMENT uncommon_risks (#PCDATA)>
<!ELEMENT rare_risks (#PCDATA)>
<!ELEMENT specific_risks_to_patient (#PCDATA)>
<!ELEMENT risk_of_not_having_treatment (#PCDATA)>
<!ELEMENT expected_benefits (#PCDATA)>
<!ELEMENT success_rate_discussed (#PCDATA)>
<!ELEMENT success_rate_details (#PCDATA)>
<!ELEMENT recovery_time_discussed (#PCDATA)>
<!ELEMENT expected_recovery_details (#PCDATA)>
<!ELEMENT limitations_after_procedure (#PCDATA)>
<!ELEMENT follow_up_required (#PCDATA)>
<!ELEMENT follow_up_details (#PCDATA)>
<!ELEMENT risks_benefits_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
