forms/consent-to-treatment/xml-representations/assessment_questions_understanding.dtd

<!ELEMENT assessment_questions_understanding (id,assessment_id,patient_had_opportunity_to_ask_questions,patient_questions,questions_answered_satisfactorily,patient_understands_procedure,patient_understands_risks,patient_understands_alternatives,information_leaflet_provided,leaflet_reference,additional_information_requested,additional_information_details,time_to_consider_given,understanding_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT patient_had_opportunity_to_ask_questions (#PCDATA)>
<!ELEMENT patient_questions (#PCDATA)>
<!ELEMENT questions_answered_satisfactorily (#PCDATA)>
<!ELEMENT patient_understands_procedure (#PCDATA)>
<!ELEMENT patient_understands_risks (#PCDATA)>
<!ELEMENT patient_understands_alternatives (#PCDATA)>
<!ELEMENT information_leaflet_provided (#PCDATA)>
<!ELEMENT leaflet_reference (#PCDATA)>
<!ELEMENT additional_information_requested (#PCDATA)>
<!ELEMENT additional_information_details (#PCDATA)>
<!ELEMENT time_to_consider_given (#PCDATA)>
<!ELEMENT understanding_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
