forms/consent-to-treatment/xml-representations/assessment_anesthesia_information.dtd

<!ELEMENT assessment_anesthesia_information (id,assessment_id,anesthesia_required,anesthesia_type,anesthesia_details,anesthesia_risks_explained,anesthesia_specific_risks,fasting_instructions_given,fasting_from_time,previous_anesthesia_problems,previous_anesthesia_problem_details,family_anesthesia_problems,family_anesthesia_problem_details,anesthetist_name,anesthesia_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT anesthesia_required (#PCDATA)>
<!ELEMENT anesthesia_type (#PCDATA)>
<!ELEMENT anesthesia_details (#PCDATA)>
<!ELEMENT anesthesia_risks_explained (#PCDATA)>
<!ELEMENT anesthesia_specific_risks (#PCDATA)>
<!ELEMENT fasting_instructions_given (#PCDATA)>
<!ELEMENT fasting_from_time (#PCDATA)>
<!ELEMENT previous_anesthesia_problems (#PCDATA)>
<!ELEMENT previous_anesthesia_problem_details (#PCDATA)>
<!ELEMENT family_anesthesia_problems (#PCDATA)>
<!ELEMENT family_anesthesia_problem_details (#PCDATA)>
<!ELEMENT anesthetist_name (#PCDATA)>
<!ELEMENT anesthesia_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
