forms/consent-to-treatment/xml-representations/assessment_procedure_details.dtd

<!ELEMENT assessment_procedure_details (id,assessment_id,procedure_name,procedure_description,procedure_site,procedure_site_details,intended_benefit,urgency,planned_date,estimated_duration_minutes,performing_clinician,performing_clinician_role,supervised_by,additional_procedures,procedure_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT procedure_name (#PCDATA)>
<!ELEMENT procedure_description (#PCDATA)>
<!ELEMENT procedure_site (#PCDATA)>
<!ELEMENT procedure_site_details (#PCDATA)>
<!ELEMENT intended_benefit (#PCDATA)>
<!ELEMENT urgency (#PCDATA)>
<!ELEMENT planned_date (#PCDATA)>
<!ELEMENT estimated_duration_minutes (#PCDATA)>
<!ELEMENT performing_clinician (#PCDATA)>
<!ELEMENT performing_clinician_role (#PCDATA)>
<!ELEMENT supervised_by (#PCDATA)>
<!ELEMENT additional_procedures (#PCDATA)>
<!ELEMENT procedure_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
