forms/consent-to-treatment/xml-representations/assessment_signature_consent.dtd

<!ELEMENT assessment_signature_consent (id,assessment_id,patient_has_capacity,capacity_assessment_details,consent_given_by,consent_given_by_name,consent_given_by_relationship,patient_signature_obtained,patient_signature_date,patient_signature_time,clinician_signature_obtained,clinician_name,clinician_role,clinician_gmc_number,clinician_signature_date,witness_required,witness_name,witness_role,witness_signature_date,consent_form_copy_given,signature_consent_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT patient_has_capacity (#PCDATA)>
<!ELEMENT capacity_assessment_details (#PCDATA)>
<!ELEMENT consent_given_by (#PCDATA)>
<!ELEMENT consent_given_by_name (#PCDATA)>
<!ELEMENT consent_given_by_relationship (#PCDATA)>
<!ELEMENT patient_signature_obtained (#PCDATA)>
<!ELEMENT patient_signature_date (#PCDATA)>
<!ELEMENT patient_signature_time (#PCDATA)>
<!ELEMENT clinician_signature_obtained (#PCDATA)>
<!ELEMENT clinician_name (#PCDATA)>
<!ELEMENT clinician_role (#PCDATA)>
<!ELEMENT clinician_gmc_number (#PCDATA)>
<!ELEMENT clinician_signature_date (#PCDATA)>
<!ELEMENT witness_required (#PCDATA)>
<!ELEMENT witness_name (#PCDATA)>
<!ELEMENT witness_role (#PCDATA)>
<!ELEMENT witness_signature_date (#PCDATA)>
<!ELEMENT consent_form_copy_given (#PCDATA)>
<!ELEMENT signature_consent_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
