forms/consent-to-treatment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,alternative_treatments,anesthesia_information,patient_information,patient_rights,procedure_details,questions_understanding,risks_benefits,signature_consent)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT alternative_treatments (id,assessment_id,alternatives_discussed,conservative_management_discussed,conservative_management_details,alternative_procedures_discussed,alternative_procedures_details,no_treatment_option_discussed,no_treatment_consequences,patient_preference,reason_for_chosen_treatment,alternative_treatments_notes,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT alternatives_discussed (#PCDATA)>
<!ELEMENT conservative_management_discussed (#PCDATA)>
<!ELEMENT conservative_management_details (#PCDATA)>
<!ELEMENT alternative_procedures_discussed (#PCDATA)>
<!ELEMENT alternative_procedures_details (#PCDATA)>
<!ELEMENT no_treatment_option_discussed (#PCDATA)>
<!ELEMENT no_treatment_consequences (#PCDATA)>
<!ELEMENT patient_preference (#PCDATA)>
<!ELEMENT reason_for_chosen_treatment (#PCDATA)>
<!ELEMENT alternative_treatments_notes (#PCDATA)>
<!ELEMENT anesthesia_information (id,assessment_id,anesthesia_required,anesthesia_type,anesthesia_details,anesthesia_risks_explained,anesthesia_specific_risks,fasting_instructions_given,fasting_from_time,previous_anesthesia_problems,previous_anesthesia_problem_details,family_anesthesia_problems,family_anesthesia_problem_details,anesthetist_name,anesthesia_notes,created_at,updated_at)>
<!ELEMENT anesthesia_required (#PCDATA)>
<!ELEMENT anesthesia_type (#PCDATA)>
<!ELEMENT anesthesia_details (#PCDATA)>
<!ELEMENT anesthesia_risks_explained (#PCDATA)>
<!ELEMENT anesthesia_specific_risks (#PCDATA)>
<!ELEMENT fasting_instructions_given (#PCDATA)>
<!ELEMENT fasting_from_time (#PCDATA)>
<!ELEMENT previous_anesthesia_problems (#PCDATA)>
<!ELEMENT previous_anesthesia_problem_details (#PCDATA)>
<!ELEMENT family_anesthesia_problems (#PCDATA)>
<!ELEMENT family_anesthesia_problem_details (#PCDATA)>
<!ELEMENT anesthetist_name (#PCDATA)>
<!ELEMENT anesthesia_notes (#PCDATA)>
<!ELEMENT patient_information (id,assessment_id,preferred_name,gender_identity,address,telephone,email,nhs_number,hospital_number,ward_department,consultant_name,interpreter_required,interpreter_language,next_of_kin_name,next_of_kin_relationship,next_of_kin_telephone,created_at,updated_at)>
<!ELEMENT preferred_name (#PCDATA)>
<!ELEMENT gender_identity (#PCDATA)>
<!ELEMENT address (#PCDATA)>
<!ELEMENT telephone (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT nhs_number (#PCDATA)>
<!ELEMENT hospital_number (#PCDATA)>
<!ELEMENT ward_department (#PCDATA)>
<!ELEMENT consultant_name (#PCDATA)>
<!ELEMENT interpreter_required (#PCDATA)>
<!ELEMENT interpreter_language (#PCDATA)>
<!ELEMENT next_of_kin_name (#PCDATA)>
<!ELEMENT next_of_kin_relationship (#PCDATA)>
<!ELEMENT next_of_kin_telephone (#PCDATA)>
<!ELEMENT patient_rights (id,assessment_id,right_to_withdraw_explained,right_to_second_opinion_explained,confidentiality_explained,data_use_explained,consent_to_photography,consent_to_teaching,consent_to_tissue_storage,advance_directive_in_place,advance_directive_details,lasting_power_of_attorney,lpa_details,patient_rights_notes,created_at,updated_at)>
<!ELEMENT right_to_withdraw_explained (#PCDATA)>
<!ELEMENT right_to_second_opinion_explained (#PCDATA)>
<!ELEMENT confidentiality_explained (#PCDATA)>
<!ELEMENT data_use_explained (#PCDATA)>
<!ELEMENT consent_to_photography (#PCDATA)>
<!ELEMENT consent_to_teaching (#PCDATA)>
<!ELEMENT consent_to_tissue_storage (#PCDATA)>
<!ELEMENT advance_directive_in_place (#PCDATA)>
<!ELEMENT advance_directive_details (#PCDATA)>
<!ELEMENT lasting_power_of_attorney (#PCDATA)>
<!ELEMENT lpa_details (#PCDATA)>
<!ELEMENT patient_rights_notes (#PCDATA)>
<!ELEMENT procedure_details (id,assessment_id,procedure_name,procedure_description,procedure_site,procedure_site_details,intended_benefit,urgency,planned_date,estimated_duration_minutes,performing_clinician,performing_clinician_role,supervised_by,additional_procedures,procedure_notes,created_at,updated_at)>
<!ELEMENT procedure_name (#PCDATA)>
<!ELEMENT procedure_description (#PCDATA)>
<!ELEMENT procedure_site (#PCDATA)>
<!ELEMENT procedure_site_details (#PCDATA)>
<!ELEMENT intended_benefit (#PCDATA)>
<!ELEMENT urgency (#PCDATA)>
<!ELEMENT planned_date (#PCDATA)>
<!ELEMENT estimated_duration_minutes (#PCDATA)>
<!ELEMENT performing_clinician (#PCDATA)>
<!ELEMENT performing_clinician_role (#PCDATA)>
<!ELEMENT supervised_by (#PCDATA)>
<!ELEMENT additional_procedures (#PCDATA)>
<!ELEMENT procedure_notes (#PCDATA)>
<!ELEMENT questions_understanding (id,assessment_id,patient_had_opportunity_to_ask_questions,patient_questions,questions_answered_satisfactorily,patient_understands_procedure,patient_understands_risks,patient_understands_alternatives,information_leaflet_provided,leaflet_reference,additional_information_requested,additional_information_details,time_to_consider_given,understanding_notes,created_at,updated_at)>
<!ELEMENT patient_had_opportunity_to_ask_questions (#PCDATA)>
<!ELEMENT patient_questions (#PCDATA)>
<!ELEMENT questions_answered_satisfactorily (#PCDATA)>
<!ELEMENT patient_understands_procedure (#PCDATA)>
<!ELEMENT patient_understands_risks (#PCDATA)>
<!ELEMENT patient_understands_alternatives (#PCDATA)>
<!ELEMENT information_leaflet_provided (#PCDATA)>
<!ELEMENT leaflet_reference (#PCDATA)>
<!ELEMENT additional_information_requested (#PCDATA)>
<!ELEMENT additional_information_details (#PCDATA)>
<!ELEMENT time_to_consider_given (#PCDATA)>
<!ELEMENT understanding_notes (#PCDATA)>
<!ELEMENT risks_benefits (id,assessment_id,common_risks,uncommon_risks,rare_risks,specific_risks_to_patient,risk_of_not_having_treatment,expected_benefits,success_rate_discussed,success_rate_details,recovery_time_discussed,expected_recovery_details,limitations_after_procedure,follow_up_required,follow_up_details,risks_benefits_notes,created_at,updated_at)>
<!ELEMENT common_risks (#PCDATA)>
<!ELEMENT uncommon_risks (#PCDATA)>
<!ELEMENT rare_risks (#PCDATA)>
<!ELEMENT specific_risks_to_patient (#PCDATA)>
<!ELEMENT risk_of_not_having_treatment (#PCDATA)>
<!ELEMENT expected_benefits (#PCDATA)>
<!ELEMENT success_rate_discussed (#PCDATA)>
<!ELEMENT success_rate_details (#PCDATA)>
<!ELEMENT recovery_time_discussed (#PCDATA)>
<!ELEMENT expected_recovery_details (#PCDATA)>
<!ELEMENT limitations_after_procedure (#PCDATA)>
<!ELEMENT follow_up_required (#PCDATA)>
<!ELEMENT follow_up_details (#PCDATA)>
<!ELEMENT risks_benefits_notes (#PCDATA)>
<!ELEMENT signature_consent (id,assessment_id,patient_has_capacity,capacity_assessment_details,consent_given_by,consent_given_by_name,consent_given_by_relationship,patient_signature_obtained,patient_signature_date,patient_signature_time,clinician_signature_obtained,clinician_name,clinician_role,clinician_gmc_number,clinician_signature_date,witness_required,witness_name,witness_role,witness_signature_date,consent_form_copy_given,signature_consent_notes,created_at,updated_at)>
<!ELEMENT patient_has_capacity (#PCDATA)>
<!ELEMENT capacity_assessment_details (#PCDATA)>
<!ELEMENT consent_given_by (#PCDATA)>
<!ELEMENT consent_given_by_name (#PCDATA)>
<!ELEMENT consent_given_by_relationship (#PCDATA)>
<!ELEMENT patient_signature_obtained (#PCDATA)>
<!ELEMENT patient_signature_date (#PCDATA)>
<!ELEMENT patient_signature_time (#PCDATA)>
<!ELEMENT clinician_signature_obtained (#PCDATA)>
<!ELEMENT clinician_name (#PCDATA)>
<!ELEMENT clinician_role (#PCDATA)>
<!ELEMENT clinician_gmc_number (#PCDATA)>
<!ELEMENT clinician_signature_date (#PCDATA)>
<!ELEMENT witness_required (#PCDATA)>
<!ELEMENT witness_name (#PCDATA)>
<!ELEMENT witness_role (#PCDATA)>
<!ELEMENT witness_signature_date (#PCDATA)>
<!ELEMENT consent_form_copy_given (#PCDATA)>
<!ELEMENT signature_consent_notes (#PCDATA)>
