forms/consent-to-treatment/xml-representations/assessment_patient_information.dtd

<!ELEMENT assessment_patient_information (id,assessment_id,preferred_name,gender_identity,address,telephone,email,nhs_number,hospital_number,ward_department,consultant_name,interpreter_required,interpreter_language,next_of_kin_name,next_of_kin_relationship,next_of_kin_telephone,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT preferred_name (#PCDATA)>
<!ELEMENT gender_identity (#PCDATA)>
<!ELEMENT address (#PCDATA)>
<!ELEMENT telephone (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT nhs_number (#PCDATA)>
<!ELEMENT hospital_number (#PCDATA)>
<!ELEMENT ward_department (#PCDATA)>
<!ELEMENT consultant_name (#PCDATA)>
<!ELEMENT interpreter_required (#PCDATA)>
<!ELEMENT interpreter_language (#PCDATA)>
<!ELEMENT next_of_kin_name (#PCDATA)>
<!ELEMENT next_of_kin_relationship (#PCDATA)>
<!ELEMENT next_of_kin_telephone (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
