forms/consent-to-treatment/xml-representations/assessment_patient_rights.dtd

<!ELEMENT assessment_patient_rights (id,assessment_id,right_to_withdraw_explained,right_to_second_opinion_explained,confidentiality_explained,data_use_explained,consent_to_photography,consent_to_teaching,consent_to_tissue_storage,advance_directive_in_place,advance_directive_details,lasting_power_of_attorney,lpa_details,patient_rights_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT right_to_withdraw_explained (#PCDATA)>
<!ELEMENT right_to_second_opinion_explained (#PCDATA)>
<!ELEMENT confidentiality_explained (#PCDATA)>
<!ELEMENT data_use_explained (#PCDATA)>
<!ELEMENT consent_to_photography (#PCDATA)>
<!ELEMENT consent_to_teaching (#PCDATA)>
<!ELEMENT consent_to_tissue_storage (#PCDATA)>
<!ELEMENT advance_directive_in_place (#PCDATA)>
<!ELEMENT advance_directive_details (#PCDATA)>
<!ELEMENT lasting_power_of_attorney (#PCDATA)>
<!ELEMENT lpa_details (#PCDATA)>
<!ELEMENT patient_rights_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
