forms/mental-health-assessment/xml-representations/assessment_treatment_history.dtd

<!ELEMENT assessment_treatment_history (id,assessment_id,previous_psychiatric_diagnosis,previous_diagnoses,previous_therapy,therapy_type,therapy_details,previous_psychiatric_admission,admission_count,admission_details,crisis_team_involvement,sectioned_under_mental_health_act,section_details,electroconvulsive_therapy,treatment_response,treatment_history_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT previous_psychiatric_diagnosis (#PCDATA)>
<!ELEMENT previous_diagnoses (#PCDATA)>
<!ELEMENT previous_therapy (#PCDATA)>
<!ELEMENT therapy_type (#PCDATA)>
<!ELEMENT therapy_details (#PCDATA)>
<!ELEMENT previous_psychiatric_admission (#PCDATA)>
<!ELEMENT admission_count (#PCDATA)>
<!ELEMENT admission_details (#PCDATA)>
<!ELEMENT crisis_team_involvement (#PCDATA)>
<!ELEMENT sectioned_under_mental_health_act (#PCDATA)>
<!ELEMENT section_details (#PCDATA)>
<!ELEMENT electroconvulsive_therapy (#PCDATA)>
<!ELEMENT treatment_response (#PCDATA)>
<!ELEMENT treatment_history_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
