forms/mental-health-assessment/xml-representations/assessment_mood_and_affect.dtd

<!ELEMENT assessment_mood_and_affect (id,assessment_id,current_mood,mood_stability,affect,sleep_quality,sleep_hours_per_night,appetite,energy_level,motivation_level,anhedonia,irritability,psychomotor_changes,mood_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT current_mood (#PCDATA)>
<!ELEMENT mood_stability (#PCDATA)>
<!ELEMENT affect (#PCDATA)>
<!ELEMENT sleep_quality (#PCDATA)>
<!ELEMENT sleep_hours_per_night (#PCDATA)>
<!ELEMENT appetite (#PCDATA)>
<!ELEMENT energy_level (#PCDATA)>
<!ELEMENT motivation_level (#PCDATA)>
<!ELEMENT anhedonia (#PCDATA)>
<!ELEMENT irritability (#PCDATA)>
<!ELEMENT psychomotor_changes (#PCDATA)>
<!ELEMENT mood_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
