forms/mental-health-assessment/xml-representations/assessment_current_medication_item.dtd

<!ELEMENT assessment_current_medication_item (id,current_medications_id,medication_name,dose,frequency,prescriber,start_date,medication_class,sort_order,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT current_medications_id (#PCDATA)>
<!ELEMENT medication_name (#PCDATA)>
<!ELEMENT dose (#PCDATA)>
<!ELEMENT frequency (#PCDATA)>
<!ELEMENT prescriber (#PCDATA)>
<!ELEMENT start_date (#PCDATA)>
<!ELEMENT medication_class (#PCDATA)>
<!ELEMENT sort_order (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
