forms/mental-health-assessment/xml-representations/assessment_substance_use.dtd

<!ELEMENT assessment_substance_use (id,assessment_id,alcohol_use,alcohol_units_per_week,alcohol_concern,tobacco_use,tobacco_per_day,cannabis_use,recreational_drug_use,recreational_drug_details,prescription_misuse,prescription_misuse_details,caffeine_intake,previous_substance_treatment,previous_substance_treatment_details,substance_use_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT alcohol_use (#PCDATA)>
<!ELEMENT alcohol_units_per_week (#PCDATA)>
<!ELEMENT alcohol_concern (#PCDATA)>
<!ELEMENT tobacco_use (#PCDATA)>
<!ELEMENT tobacco_per_day (#PCDATA)>
<!ELEMENT cannabis_use (#PCDATA)>
<!ELEMENT recreational_drug_use (#PCDATA)>
<!ELEMENT recreational_drug_details (#PCDATA)>
<!ELEMENT prescription_misuse (#PCDATA)>
<!ELEMENT prescription_misuse_details (#PCDATA)>
<!ELEMENT caffeine_intake (#PCDATA)>
<!ELEMENT previous_substance_treatment (#PCDATA)>
<!ELEMENT previous_substance_treatment_details (#PCDATA)>
<!ELEMENT substance_use_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
