forms/mental-health-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,current_medication_item,current_medications,demographics,gad7_anxiety_screen,mood_and_affect,phq9_depression_screen,risk_assessment,social_and_functional,substance_use,treatment_history)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT current_medication_item (id,current_medications_id,medication_name,dose,frequency,prescriber,start_date,medication_class,sort_order,created_at,updated_at)>
<!ELEMENT current_medications_id (#PCDATA)>
<!ELEMENT medication_name (#PCDATA)>
<!ELEMENT dose (#PCDATA)>
<!ELEMENT frequency (#PCDATA)>
<!ELEMENT prescriber (#PCDATA)>
<!ELEMENT start_date (#PCDATA)>
<!ELEMENT medication_class (#PCDATA)>
<!ELEMENT sort_order (#PCDATA)>
<!ELEMENT current_medications (id,assessment_id,taking_psychotropic_medication,medication_adherence,side_effects,side_effects_details,over_the_counter_medications,supplements,medication_notes,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT taking_psychotropic_medication (#PCDATA)>
<!ELEMENT medication_adherence (#PCDATA)>
<!ELEMENT side_effects (#PCDATA)>
<!ELEMENT side_effects_details (#PCDATA)>
<!ELEMENT over_the_counter_medications (#PCDATA)>
<!ELEMENT supplements (#PCDATA)>
<!ELEMENT medication_notes (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,occupation,marital_status,living_situation,ethnicity,contact_phone,contact_email,emergency_contact_name,emergency_contact_phone,gp_name,gp_practice,created_at,updated_at)>
<!ELEMENT occupation (#PCDATA)>
<!ELEMENT marital_status (#PCDATA)>
<!ELEMENT living_situation (#PCDATA)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT contact_phone (#PCDATA)>
<!ELEMENT contact_email (#PCDATA)>
<!ELEMENT emergency_contact_name (#PCDATA)>
<!ELEMENT emergency_contact_phone (#PCDATA)>
<!ELEMENT gp_name (#PCDATA)>
<!ELEMENT gp_practice (#PCDATA)>
<!ELEMENT gad7_anxiety_screen (id,assessment_id,q1_feeling_nervous,q2_uncontrollable_worrying,q3_worrying_too_much,q4_trouble_relaxing,q5_restlessness,q6_easily_annoyed,q7_feeling_afraid,gad7_total_score,difficulty_level,created_at,updated_at)>
<!ELEMENT q1_feeling_nervous (#PCDATA)>
<!ELEMENT q2_uncontrollable_worrying (#PCDATA)>
<!ELEMENT q3_worrying_too_much (#PCDATA)>
<!ELEMENT q4_trouble_relaxing (#PCDATA)>
<!ELEMENT q5_restlessness (#PCDATA)>
<!ELEMENT q6_easily_annoyed (#PCDATA)>
<!ELEMENT q7_feeling_afraid (#PCDATA)>
<!ELEMENT gad7_total_score (#PCDATA)>
<!ELEMENT difficulty_level (#PCDATA)>
<!ELEMENT mood_and_affect (id,assessment_id,current_mood,mood_stability,affect,sleep_quality,sleep_hours_per_night,appetite,energy_level,motivation_level,anhedonia,irritability,psychomotor_changes,mood_notes,created_at,updated_at)>
<!ELEMENT current_mood (#PCDATA)>
<!ELEMENT mood_stability (#PCDATA)>
<!ELEMENT affect (#PCDATA)>
<!ELEMENT sleep_quality (#PCDATA)>
<!ELEMENT sleep_hours_per_night (#PCDATA)>
<!ELEMENT appetite (#PCDATA)>
<!ELEMENT energy_level (#PCDATA)>
<!ELEMENT motivation_level (#PCDATA)>
<!ELEMENT anhedonia (#PCDATA)>
<!ELEMENT irritability (#PCDATA)>
<!ELEMENT psychomotor_changes (#PCDATA)>
<!ELEMENT mood_notes (#PCDATA)>
<!ELEMENT phq9_depression_screen (id,assessment_id,q1_little_interest,q2_feeling_down,q3_sleep_problems,q4_feeling_tired,q5_appetite_changes,q6_feeling_bad_about_self,q7_trouble_concentrating,q8_moving_slowly_or_fidgety,q9_thoughts_of_self_harm,phq9_total_score,difficulty_level,created_at,updated_at)>
<!ELEMENT q1_little_interest (#PCDATA)>
<!ELEMENT q2_feeling_down (#PCDATA)>
<!ELEMENT q3_sleep_problems (#PCDATA)>
<!ELEMENT q4_feeling_tired (#PCDATA)>
<!ELEMENT q5_appetite_changes (#PCDATA)>
<!ELEMENT q6_feeling_bad_about_self (#PCDATA)>
<!ELEMENT q7_trouble_concentrating (#PCDATA)>
<!ELEMENT q8_moving_slowly_or_fidgety (#PCDATA)>
<!ELEMENT q9_thoughts_of_self_harm (#PCDATA)>
<!ELEMENT phq9_total_score (#PCDATA)>
<!ELEMENT risk_assessment (id,assessment_id,suicidal_ideation,suicidal_ideation_frequency,suicidal_plan,suicidal_intent,previous_suicide_attempts,previous_attempt_count,previous_attempt_details,self_harm,self_harm_type,harm_to_others,harm_to_others_details,access_to_means,access_to_means_details,protective_factors,overall_risk_level,safety_plan_in_place,risk_notes,created_at,updated_at)>
<!ELEMENT suicidal_ideation (#PCDATA)>
<!ELEMENT suicidal_ideation_frequency (#PCDATA)>
<!ELEMENT suicidal_plan (#PCDATA)>
<!ELEMENT suicidal_intent (#PCDATA)>
<!ELEMENT previous_suicide_attempts (#PCDATA)>
<!ELEMENT previous_attempt_count (#PCDATA)>
<!ELEMENT previous_attempt_details (#PCDATA)>
<!ELEMENT self_harm (#PCDATA)>
<!ELEMENT self_harm_type (#PCDATA)>
<!ELEMENT harm_to_others (#PCDATA)>
<!ELEMENT harm_to_others_details (#PCDATA)>
<!ELEMENT access_to_means (#PCDATA)>
<!ELEMENT access_to_means_details (#PCDATA)>
<!ELEMENT protective_factors (#PCDATA)>
<!ELEMENT overall_risk_level (#PCDATA)>
<!ELEMENT safety_plan_in_place (#PCDATA)>
<!ELEMENT risk_notes (#PCDATA)>
<!ELEMENT social_and_functional (id,assessment_id,employment_status,employment_impact,social_support,social_isolation,relationship_difficulties,relationship_details,financial_difficulties,housing_issues,housing_details,caring_responsibilities,caring_details,daily_functioning,hobbies_and_interests,exercise_frequency,social_functional_notes,created_at,updated_at)>
<!ELEMENT employment_status (#PCDATA)>
<!ELEMENT employment_impact (#PCDATA)>
<!ELEMENT social_support (#PCDATA)>
<!ELEMENT social_isolation (#PCDATA)>
<!ELEMENT relationship_difficulties (#PCDATA)>
<!ELEMENT relationship_details (#PCDATA)>
<!ELEMENT financial_difficulties (#PCDATA)>
<!ELEMENT housing_issues (#PCDATA)>
<!ELEMENT housing_details (#PCDATA)>
<!ELEMENT caring_responsibilities (#PCDATA)>
<!ELEMENT caring_details (#PCDATA)>
<!ELEMENT daily_functioning (#PCDATA)>
<!ELEMENT hobbies_and_interests (#PCDATA)>
<!ELEMENT exercise_frequency (#PCDATA)>
<!ELEMENT social_functional_notes (#PCDATA)>
<!ELEMENT substance_use (id,assessment_id,alcohol_use,alcohol_units_per_week,alcohol_concern,tobacco_use,tobacco_per_day,cannabis_use,recreational_drug_use,recreational_drug_details,prescription_misuse,prescription_misuse_details,caffeine_intake,previous_substance_treatment,previous_substance_treatment_details,substance_use_notes,created_at,updated_at)>
<!ELEMENT alcohol_use (#PCDATA)>
<!ELEMENT alcohol_units_per_week (#PCDATA)>
<!ELEMENT alcohol_concern (#PCDATA)>
<!ELEMENT tobacco_use (#PCDATA)>
<!ELEMENT tobacco_per_day (#PCDATA)>
<!ELEMENT cannabis_use (#PCDATA)>
<!ELEMENT recreational_drug_use (#PCDATA)>
<!ELEMENT recreational_drug_details (#PCDATA)>
<!ELEMENT prescription_misuse (#PCDATA)>
<!ELEMENT prescription_misuse_details (#PCDATA)>
<!ELEMENT caffeine_intake (#PCDATA)>
<!ELEMENT previous_substance_treatment (#PCDATA)>
<!ELEMENT previous_substance_treatment_details (#PCDATA)>
<!ELEMENT substance_use_notes (#PCDATA)>
<!ELEMENT treatment_history (id,assessment_id,previous_psychiatric_diagnosis,previous_diagnoses,previous_therapy,therapy_type,therapy_details,previous_psychiatric_admission,admission_count,admission_details,crisis_team_involvement,sectioned_under_mental_health_act,section_details,electroconvulsive_therapy,treatment_response,treatment_history_notes,created_at,updated_at)>
<!ELEMENT previous_psychiatric_diagnosis (#PCDATA)>
<!ELEMENT previous_diagnoses (#PCDATA)>
<!ELEMENT previous_therapy (#PCDATA)>
<!ELEMENT therapy_type (#PCDATA)>
<!ELEMENT therapy_details (#PCDATA)>
<!ELEMENT previous_psychiatric_admission (#PCDATA)>
<!ELEMENT admission_count (#PCDATA)>
<!ELEMENT admission_details (#PCDATA)>
<!ELEMENT crisis_team_involvement (#PCDATA)>
<!ELEMENT sectioned_under_mental_health_act (#PCDATA)>
<!ELEMENT section_details (#PCDATA)>
<!ELEMENT electroconvulsive_therapy (#PCDATA)>
<!ELEMENT treatment_response (#PCDATA)>
<!ELEMENT treatment_history_notes (#PCDATA)>
