forms/mental-health-assessment/xml-representations/assessment_demographics.dtd

<!ELEMENT assessment_demographics (id,assessment_id,occupation,marital_status,living_situation,ethnicity,contact_phone,contact_email,emergency_contact_name,emergency_contact_phone,gp_name,gp_practice,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT occupation (#PCDATA)>
<!ELEMENT marital_status (#PCDATA)>
<!ELEMENT living_situation (#PCDATA)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT contact_phone (#PCDATA)>
<!ELEMENT contact_email (#PCDATA)>
<!ELEMENT emergency_contact_name (#PCDATA)>
<!ELEMENT emergency_contact_phone (#PCDATA)>
<!ELEMENT gp_name (#PCDATA)>
<!ELEMENT gp_practice (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
