forms/mental-health-assessment/xml-representations/assessment_risk_assessment.dtd

<!ELEMENT assessment_risk_assessment (id,assessment_id,suicidal_ideation,suicidal_ideation_frequency,suicidal_plan,suicidal_intent,previous_suicide_attempts,previous_attempt_count,previous_attempt_details,self_harm,self_harm_type,harm_to_others,harm_to_others_details,access_to_means,access_to_means_details,protective_factors,overall_risk_level,safety_plan_in_place,risk_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT suicidal_ideation (#PCDATA)>
<!ELEMENT suicidal_ideation_frequency (#PCDATA)>
<!ELEMENT suicidal_plan (#PCDATA)>
<!ELEMENT suicidal_intent (#PCDATA)>
<!ELEMENT previous_suicide_attempts (#PCDATA)>
<!ELEMENT previous_attempt_count (#PCDATA)>
<!ELEMENT previous_attempt_details (#PCDATA)>
<!ELEMENT self_harm (#PCDATA)>
<!ELEMENT self_harm_type (#PCDATA)>
<!ELEMENT harm_to_others (#PCDATA)>
<!ELEMENT harm_to_others_details (#PCDATA)>
<!ELEMENT access_to_means (#PCDATA)>
<!ELEMENT access_to_means_details (#PCDATA)>
<!ELEMENT protective_factors (#PCDATA)>
<!ELEMENT overall_risk_level (#PCDATA)>
<!ELEMENT safety_plan_in_place (#PCDATA)>
<!ELEMENT risk_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
