forms/mental-health-assessment/xml-representations/assessment_phq9_depression_screen.dtd

<!ELEMENT assessment_phq9_depression_screen (id,assessment_id,q1_little_interest,q2_feeling_down,q3_sleep_problems,q4_feeling_tired,q5_appetite_changes,q6_feeling_bad_about_self,q7_trouble_concentrating,q8_moving_slowly_or_fidgety,q9_thoughts_of_self_harm,phq9_total_score,difficulty_level,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT q1_little_interest (#PCDATA)>
<!ELEMENT q2_feeling_down (#PCDATA)>
<!ELEMENT q3_sleep_problems (#PCDATA)>
<!ELEMENT q4_feeling_tired (#PCDATA)>
<!ELEMENT q5_appetite_changes (#PCDATA)>
<!ELEMENT q6_feeling_bad_about_self (#PCDATA)>
<!ELEMENT q7_trouble_concentrating (#PCDATA)>
<!ELEMENT q8_moving_slowly_or_fidgety (#PCDATA)>
<!ELEMENT q9_thoughts_of_self_harm (#PCDATA)>
<!ELEMENT phq9_total_score (#PCDATA)>
<!ELEMENT difficulty_level (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
