forms/mental-health-assessment/xml-representations/assessment_social_and_functional.dtd

<!ELEMENT assessment_social_and_functional (id,assessment_id,employment_status,employment_impact,social_support,social_isolation,relationship_difficulties,relationship_details,financial_difficulties,housing_issues,housing_details,caring_responsibilities,caring_details,daily_functioning,hobbies_and_interests,exercise_frequency,social_functional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT employment_status (#PCDATA)>
<!ELEMENT employment_impact (#PCDATA)>
<!ELEMENT social_support (#PCDATA)>
<!ELEMENT social_isolation (#PCDATA)>
<!ELEMENT relationship_difficulties (#PCDATA)>
<!ELEMENT relationship_details (#PCDATA)>
<!ELEMENT financial_difficulties (#PCDATA)>
<!ELEMENT housing_issues (#PCDATA)>
<!ELEMENT housing_details (#PCDATA)>
<!ELEMENT caring_responsibilities (#PCDATA)>
<!ELEMENT caring_details (#PCDATA)>
<!ELEMENT daily_functioning (#PCDATA)>
<!ELEMENT hobbies_and_interests (#PCDATA)>
<!ELEMENT exercise_frequency (#PCDATA)>
<!ELEMENT social_functional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
