forms/substance-abuse-assessment/xml-representations/assessment_withdrawal.dtd

<!ELEMENT assessment_withdrawal (id,assessment_id,currently_in_withdrawal,withdrawal_substance,tremor,sweating,nausea_vomiting,anxiety,agitation,seizure_history,delirium_tremens_history,hallucinations,last_drink_drug_hours,withdrawal_severity,medically_supervised_detox_needed,withdrawal_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT currently_in_withdrawal (#PCDATA)>
<!ELEMENT withdrawal_substance (#PCDATA)>
<!ELEMENT tremor (#PCDATA)>
<!ELEMENT sweating (#PCDATA)>
<!ELEMENT nausea_vomiting (#PCDATA)>
<!ELEMENT anxiety (#PCDATA)>
<!ELEMENT agitation (#PCDATA)>
<!ELEMENT seizure_history (#PCDATA)>
<!ELEMENT delirium_tremens_history (#PCDATA)>
<!ELEMENT hallucinations (#PCDATA)>
<!ELEMENT last_drink_drug_hours (#PCDATA)>
<!ELEMENT withdrawal_severity (#PCDATA)>
<!ELEMENT medically_supervised_detox_needed (#PCDATA)>
<!ELEMENT withdrawal_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
