forms/substance-abuse-assessment/xml-representations/assessment_drug_use_dast.dtd

<!ELEMENT assessment_drug_use_dast (id,assessment_id,dast_q1_non_medical_use,dast_q2_poly_drug,dast_q3_able_to_stop,dast_q4_blackouts,dast_q5_guilt,dast_q6_complaints,dast_q7_neglect,dast_q8_illegal_activities,dast_q9_withdrawal,dast_q10_medical_problems,dast_total_score,dast_risk_category,drug_use_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT dast_q1_non_medical_use (#PCDATA)>
<!ELEMENT dast_q2_poly_drug (#PCDATA)>
<!ELEMENT dast_q3_able_to_stop (#PCDATA)>
<!ELEMENT dast_q4_blackouts (#PCDATA)>
<!ELEMENT dast_q5_guilt (#PCDATA)>
<!ELEMENT dast_q6_complaints (#PCDATA)>
<!ELEMENT dast_q7_neglect (#PCDATA)>
<!ELEMENT dast_q8_illegal_activities (#PCDATA)>
<!ELEMENT dast_q9_withdrawal (#PCDATA)>
<!ELEMENT dast_q10_medical_problems (#PCDATA)>
<!ELEMENT dast_total_score (#PCDATA)>
<!ELEMENT dast_risk_category (#PCDATA)>
<!ELEMENT drug_use_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
