forms/substance-abuse-assessment/xml-representations/assessment_alcohol_use_audit.dtd

<!ELEMENT assessment_alcohol_use_audit (id,assessment_id,audit_q1_frequency,audit_q2_typical_quantity,audit_q3_binge_frequency,audit_q4_impaired_control,audit_q5_failed_expectations,audit_q6_morning_drinking,audit_q7_guilt,audit_q8_blackout,audit_q9_injury,audit_q10_concern,audit_total_score,audit_risk_category,alcohol_use_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT audit_q1_frequency (#PCDATA)>
<!ELEMENT audit_q2_typical_quantity (#PCDATA)>
<!ELEMENT audit_q3_binge_frequency (#PCDATA)>
<!ELEMENT audit_q4_impaired_control (#PCDATA)>
<!ELEMENT audit_q5_failed_expectations (#PCDATA)>
<!ELEMENT audit_q6_morning_drinking (#PCDATA)>
<!ELEMENT audit_q7_guilt (#PCDATA)>
<!ELEMENT audit_q8_blackout (#PCDATA)>
<!ELEMENT audit_q9_injury (#PCDATA)>
<!ELEMENT audit_q10_concern (#PCDATA)>
<!ELEMENT audit_total_score (#PCDATA)>
<!ELEMENT audit_risk_category (#PCDATA)>
<!ELEMENT alcohol_use_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
