forms/substance-abuse-assessment/xml-representations/assessment_mental_health_comorbidities.dtd

<!ELEMENT assessment_mental_health_comorbidities (id,assessment_id,depression,depression_severity,anxiety_disorder,anxiety_disorder_type,ptsd,ptsd_details,bipolar_disorder,psychosis,personality_disorder,eating_disorder,adhd,suicidal_ideation,suicidal_ideation_current,self_harm_history,previous_suicide_attempts,psychiatric_medication,psychiatric_medication_details,mental_health_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT depression (#PCDATA)>
<!ELEMENT depression_severity (#PCDATA)>
<!ELEMENT anxiety_disorder (#PCDATA)>
<!ELEMENT anxiety_disorder_type (#PCDATA)>
<!ELEMENT ptsd (#PCDATA)>
<!ELEMENT ptsd_details (#PCDATA)>
<!ELEMENT bipolar_disorder (#PCDATA)>
<!ELEMENT psychosis (#PCDATA)>
<!ELEMENT personality_disorder (#PCDATA)>
<!ELEMENT eating_disorder (#PCDATA)>
<!ELEMENT adhd (#PCDATA)>
<!ELEMENT suicidal_ideation (#PCDATA)>
<!ELEMENT suicidal_ideation_current (#PCDATA)>
<!ELEMENT self_harm_history (#PCDATA)>
<!ELEMENT previous_suicide_attempts (#PCDATA)>
<!ELEMENT psychiatric_medication (#PCDATA)>
<!ELEMENT psychiatric_medication_details (#PCDATA)>
<!ELEMENT mental_health_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
