forms/substance-abuse-assessment/xml-representations/assessment_previous_treatment.dtd

<!ELEMENT assessment_previous_treatment (id,assessment_id,previous_treatment,number_of_treatment_episodes,previous_detox,detox_setting,previous_rehab,rehab_type,previous_counselling,counselling_type,previous_medication_assisted,mat_medication,self_help_groups,self_help_group_type,longest_period_abstinent,relapse_triggers,treatment_history_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT previous_treatment (#PCDATA)>
<!ELEMENT number_of_treatment_episodes (#PCDATA)>
<!ELEMENT previous_detox (#PCDATA)>
<!ELEMENT detox_setting (#PCDATA)>
<!ELEMENT previous_rehab (#PCDATA)>
<!ELEMENT rehab_type (#PCDATA)>
<!ELEMENT previous_counselling (#PCDATA)>
<!ELEMENT counselling_type (#PCDATA)>
<!ELEMENT previous_medication_assisted (#PCDATA)>
<!ELEMENT mat_medication (#PCDATA)>
<!ELEMENT self_help_groups (#PCDATA)>
<!ELEMENT self_help_group_type (#PCDATA)>
<!ELEMENT longest_period_abstinent (#PCDATA)>
<!ELEMENT relapse_triggers (#PCDATA)>
<!ELEMENT treatment_history_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
