forms/substance-abuse-assessment/xml-representations/assessment_social_legal_impact.dtd

<!ELEMENT assessment_social_legal_impact (id,assessment_id,employment_status,occupation,employment_affected,housing_status,relationship_status,relationship_impact,dependents,children_safeguarding_concerns,social_support,criminal_record,criminal_record_details,current_legal_issues,current_legal_details,dui_dwi_history,driving_status,financial_difficulties,domestic_violence,domestic_violence_details,social_legal_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT employment_status (#PCDATA)>
<!ELEMENT occupation (#PCDATA)>
<!ELEMENT employment_affected (#PCDATA)>
<!ELEMENT housing_status (#PCDATA)>
<!ELEMENT relationship_status (#PCDATA)>
<!ELEMENT relationship_impact (#PCDATA)>
<!ELEMENT dependents (#PCDATA)>
<!ELEMENT children_safeguarding_concerns (#PCDATA)>
<!ELEMENT social_support (#PCDATA)>
<!ELEMENT criminal_record (#PCDATA)>
<!ELEMENT criminal_record_details (#PCDATA)>
<!ELEMENT current_legal_issues (#PCDATA)>
<!ELEMENT current_legal_details (#PCDATA)>
<!ELEMENT dui_dwi_history (#PCDATA)>
<!ELEMENT driving_status (#PCDATA)>
<!ELEMENT financial_difficulties (#PCDATA)>
<!ELEMENT domestic_violence (#PCDATA)>
<!ELEMENT domestic_violence_details (#PCDATA)>
<!ELEMENT social_legal_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
