forms/substance-abuse-assessment/xml-representations/assessment_physical_health_impact.dtd

<!ELEMENT assessment_physical_health_impact (id,assessment_id,liver_disease,liver_disease_type,hepatitis_b,hepatitis_c,hiv_status,cardiovascular_issues,cardiovascular_details,respiratory_issues,respiratory_details,gastrointestinal_issues,gastrointestinal_details,neurological_issues,neurological_details,nutritional_deficiency,chronic_pain,chronic_pain_details,overdose_history,overdose_count,last_overdose_date,physical_health_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT liver_disease (#PCDATA)>
<!ELEMENT liver_disease_type (#PCDATA)>
<!ELEMENT hepatitis_b (#PCDATA)>
<!ELEMENT hepatitis_c (#PCDATA)>
<!ELEMENT hiv_status (#PCDATA)>
<!ELEMENT cardiovascular_issues (#PCDATA)>
<!ELEMENT cardiovascular_details (#PCDATA)>
<!ELEMENT respiratory_issues (#PCDATA)>
<!ELEMENT respiratory_details (#PCDATA)>
<!ELEMENT gastrointestinal_issues (#PCDATA)>
<!ELEMENT gastrointestinal_details (#PCDATA)>
<!ELEMENT neurological_issues (#PCDATA)>
<!ELEMENT neurological_details (#PCDATA)>
<!ELEMENT nutritional_deficiency (#PCDATA)>
<!ELEMENT chronic_pain (#PCDATA)>
<!ELEMENT chronic_pain_details (#PCDATA)>
<!ELEMENT overdose_history (#PCDATA)>
<!ELEMENT overdose_count (#PCDATA)>
<!ELEMENT last_overdose_date (#PCDATA)>
<!ELEMENT physical_health_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
