forms/substance-abuse-assessment/xml-representations/assessment_treatment_planning.dtd

<!ELEMENT assessment_treatment_planning (id,assessment_id,treatment_goal,readiness_to_change,motivation_level,preferred_treatment_setting,interested_in_counselling,interested_in_medication,interested_in_self_help,barriers_to_treatment,support_network_available,support_network_details,risk_of_relapse,safety_plan_needed,naloxone_provided,follow_up_plan,treatment_planning_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT treatment_goal (#PCDATA)>
<!ELEMENT readiness_to_change (#PCDATA)>
<!ELEMENT motivation_level (#PCDATA)>
<!ELEMENT preferred_treatment_setting (#PCDATA)>
<!ELEMENT interested_in_counselling (#PCDATA)>
<!ELEMENT interested_in_medication (#PCDATA)>
<!ELEMENT interested_in_self_help (#PCDATA)>
<!ELEMENT barriers_to_treatment (#PCDATA)>
<!ELEMENT support_network_available (#PCDATA)>
<!ELEMENT support_network_details (#PCDATA)>
<!ELEMENT risk_of_relapse (#PCDATA)>
<!ELEMENT safety_plan_needed (#PCDATA)>
<!ELEMENT naloxone_provided (#PCDATA)>
<!ELEMENT follow_up_plan (#PCDATA)>
<!ELEMENT treatment_planning_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
