forms/substance-abuse-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,alcohol_use_audit,demographics,drug_use_dast,mental_health_comorbidities,physical_health_impact,assessment_previous_treatment,social_legal_impact,substance_use_history,treatment_planning,withdrawal)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT alcohol_use_audit (id,assessment_id,audit_q1_frequency,audit_q2_typical_quantity,audit_q3_binge_frequency,audit_q4_impaired_control,audit_q5_failed_expectations,audit_q6_morning_drinking,audit_q7_guilt,audit_q8_blackout,audit_q9_injury,audit_q10_concern,audit_total_score,audit_risk_category,alcohol_use_notes,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT audit_q1_frequency (#PCDATA)>
<!ELEMENT audit_q2_typical_quantity (#PCDATA)>
<!ELEMENT audit_q3_binge_frequency (#PCDATA)>
<!ELEMENT audit_q4_impaired_control (#PCDATA)>
<!ELEMENT audit_q5_failed_expectations (#PCDATA)>
<!ELEMENT audit_q6_morning_drinking (#PCDATA)>
<!ELEMENT audit_q7_guilt (#PCDATA)>
<!ELEMENT audit_q8_blackout (#PCDATA)>
<!ELEMENT audit_q9_injury (#PCDATA)>
<!ELEMENT audit_q10_concern (#PCDATA)>
<!ELEMENT audit_total_score (#PCDATA)>
<!ELEMENT audit_risk_category (#PCDATA)>
<!ELEMENT alcohol_use_notes (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,preferred_name,gender_identity,ethnicity,preferred_language,interpreter_required,gp_name,gp_practice,referrer_name,referrer_role,created_at,updated_at)>
<!ELEMENT preferred_name (#PCDATA)>
<!ELEMENT gender_identity (#PCDATA)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT preferred_language (#PCDATA)>
<!ELEMENT interpreter_required (#PCDATA)>
<!ELEMENT gp_name (#PCDATA)>
<!ELEMENT gp_practice (#PCDATA)>
<!ELEMENT referrer_name (#PCDATA)>
<!ELEMENT referrer_role (#PCDATA)>
<!ELEMENT drug_use_dast (id,assessment_id,dast_q1_non_medical_use,dast_q2_poly_drug,dast_q3_able_to_stop,dast_q4_blackouts,dast_q5_guilt,dast_q6_complaints,dast_q7_neglect,dast_q8_illegal_activities,dast_q9_withdrawal,dast_q10_medical_problems,dast_total_score,dast_risk_category,drug_use_notes,created_at,updated_at)>
<!ELEMENT dast_q1_non_medical_use (#PCDATA)>
<!ELEMENT dast_q2_poly_drug (#PCDATA)>
<!ELEMENT dast_q3_able_to_stop (#PCDATA)>
<!ELEMENT dast_q4_blackouts (#PCDATA)>
<!ELEMENT dast_q5_guilt (#PCDATA)>
<!ELEMENT dast_q6_complaints (#PCDATA)>
<!ELEMENT dast_q7_neglect (#PCDATA)>
<!ELEMENT dast_q8_illegal_activities (#PCDATA)>
<!ELEMENT dast_q9_withdrawal (#PCDATA)>
<!ELEMENT dast_q10_medical_problems (#PCDATA)>
<!ELEMENT dast_total_score (#PCDATA)>
<!ELEMENT dast_risk_category (#PCDATA)>
<!ELEMENT drug_use_notes (#PCDATA)>
<!ELEMENT mental_health_comorbidities (id,assessment_id,depression,depression_severity,anxiety_disorder,anxiety_disorder_type,ptsd,ptsd_details,bipolar_disorder,psychosis,personality_disorder,eating_disorder,adhd,suicidal_ideation,suicidal_ideation_current,self_harm_history,previous_suicide_attempts,psychiatric_medication,psychiatric_medication_details,mental_health_notes,created_at,updated_at)>
<!ELEMENT depression (#PCDATA)>
<!ELEMENT depression_severity (#PCDATA)>
<!ELEMENT anxiety_disorder (#PCDATA)>
<!ELEMENT anxiety_disorder_type (#PCDATA)>
<!ELEMENT ptsd (#PCDATA)>
<!ELEMENT ptsd_details (#PCDATA)>
<!ELEMENT bipolar_disorder (#PCDATA)>
<!ELEMENT psychosis (#PCDATA)>
<!ELEMENT personality_disorder (#PCDATA)>
<!ELEMENT eating_disorder (#PCDATA)>
<!ELEMENT adhd (#PCDATA)>
<!ELEMENT suicidal_ideation (#PCDATA)>
<!ELEMENT suicidal_ideation_current (#PCDATA)>
<!ELEMENT self_harm_history (#PCDATA)>
<!ELEMENT previous_suicide_attempts (#PCDATA)>
<!ELEMENT psychiatric_medication (#PCDATA)>
<!ELEMENT psychiatric_medication_details (#PCDATA)>
<!ELEMENT mental_health_notes (#PCDATA)>
<!ELEMENT physical_health_impact (id,assessment_id,liver_disease,liver_disease_type,hepatitis_b,hepatitis_c,hiv_status,cardiovascular_issues,cardiovascular_details,respiratory_issues,respiratory_details,gastrointestinal_issues,gastrointestinal_details,neurological_issues,neurological_details,nutritional_deficiency,chronic_pain,chronic_pain_details,overdose_history,overdose_count,last_overdose_date,physical_health_notes,created_at,updated_at)>
<!ELEMENT liver_disease (#PCDATA)>
<!ELEMENT liver_disease_type (#PCDATA)>
<!ELEMENT hepatitis_b (#PCDATA)>
<!ELEMENT hepatitis_c (#PCDATA)>
<!ELEMENT hiv_status (#PCDATA)>
<!ELEMENT cardiovascular_issues (#PCDATA)>
<!ELEMENT cardiovascular_details (#PCDATA)>
<!ELEMENT respiratory_issues (#PCDATA)>
<!ELEMENT respiratory_details (#PCDATA)>
<!ELEMENT gastrointestinal_issues (#PCDATA)>
<!ELEMENT gastrointestinal_details (#PCDATA)>
<!ELEMENT neurological_issues (#PCDATA)>
<!ELEMENT neurological_details (#PCDATA)>
<!ELEMENT nutritional_deficiency (#PCDATA)>
<!ELEMENT chronic_pain (#PCDATA)>
<!ELEMENT chronic_pain_details (#PCDATA)>
<!ELEMENT overdose_history (#PCDATA)>
<!ELEMENT overdose_count (#PCDATA)>
<!ELEMENT last_overdose_date (#PCDATA)>
<!ELEMENT physical_health_notes (#PCDATA)>
<!ELEMENT assessment_previous_treatment (id,assessment_id,previous_treatment,number_of_treatment_episodes,previous_detox,detox_setting,previous_rehab,rehab_type,previous_counselling,counselling_type,previous_medication_assisted,mat_medication,self_help_groups,self_help_group_type,longest_period_abstinent,relapse_triggers,treatment_history_notes,created_at,updated_at)>
<!ELEMENT previous_treatment (#PCDATA)>
<!ELEMENT number_of_treatment_episodes (#PCDATA)>
<!ELEMENT previous_detox (#PCDATA)>
<!ELEMENT detox_setting (#PCDATA)>
<!ELEMENT previous_rehab (#PCDATA)>
<!ELEMENT rehab_type (#PCDATA)>
<!ELEMENT previous_counselling (#PCDATA)>
<!ELEMENT counselling_type (#PCDATA)>
<!ELEMENT previous_medication_assisted (#PCDATA)>
<!ELEMENT mat_medication (#PCDATA)>
<!ELEMENT self_help_groups (#PCDATA)>
<!ELEMENT self_help_group_type (#PCDATA)>
<!ELEMENT longest_period_abstinent (#PCDATA)>
<!ELEMENT relapse_triggers (#PCDATA)>
<!ELEMENT treatment_history_notes (#PCDATA)>
<!ELEMENT social_legal_impact (id,assessment_id,employment_status,occupation,employment_affected,housing_status,relationship_status,relationship_impact,dependents,children_safeguarding_concerns,social_support,criminal_record,criminal_record_details,current_legal_issues,current_legal_details,dui_dwi_history,driving_status,financial_difficulties,domestic_violence,domestic_violence_details,social_legal_notes,created_at,updated_at)>
<!ELEMENT employment_status (#PCDATA)>
<!ELEMENT occupation (#PCDATA)>
<!ELEMENT employment_affected (#PCDATA)>
<!ELEMENT housing_status (#PCDATA)>
<!ELEMENT relationship_status (#PCDATA)>
<!ELEMENT relationship_impact (#PCDATA)>
<!ELEMENT dependents (#PCDATA)>
<!ELEMENT children_safeguarding_concerns (#PCDATA)>
<!ELEMENT social_support (#PCDATA)>
<!ELEMENT criminal_record (#PCDATA)>
<!ELEMENT criminal_record_details (#PCDATA)>
<!ELEMENT current_legal_issues (#PCDATA)>
<!ELEMENT current_legal_details (#PCDATA)>
<!ELEMENT dui_dwi_history (#PCDATA)>
<!ELEMENT driving_status (#PCDATA)>
<!ELEMENT financial_difficulties (#PCDATA)>
<!ELEMENT domestic_violence (#PCDATA)>
<!ELEMENT domestic_violence_details (#PCDATA)>
<!ELEMENT social_legal_notes (#PCDATA)>
<!ELEMENT substance_use_history (id,assessment_id,age_first_alcohol_use,age_first_drug_use,primary_substance,primary_substance_other,secondary_substances,route_of_administration,frequency_of_use,duration_of_use,last_use_date,current_use_status,iv_drug_use,needle_sharing,substance_history_notes,created_at,updated_at)>
<!ELEMENT age_first_alcohol_use (#PCDATA)>
<!ELEMENT age_first_drug_use (#PCDATA)>
<!ELEMENT primary_substance (#PCDATA)>
<!ELEMENT primary_substance_other (#PCDATA)>
<!ELEMENT secondary_substances (#PCDATA)>
<!ELEMENT route_of_administration (#PCDATA)>
<!ELEMENT frequency_of_use (#PCDATA)>
<!ELEMENT duration_of_use (#PCDATA)>
<!ELEMENT last_use_date (#PCDATA)>
<!ELEMENT current_use_status (#PCDATA)>
<!ELEMENT iv_drug_use (#PCDATA)>
<!ELEMENT needle_sharing (#PCDATA)>
<!ELEMENT substance_history_notes (#PCDATA)>
<!ELEMENT treatment_planning (id,assessment_id,treatment_goal,readiness_to_change,motivation_level,preferred_treatment_setting,interested_in_counselling,interested_in_medication,interested_in_self_help,barriers_to_treatment,support_network_available,support_network_details,risk_of_relapse,safety_plan_needed,naloxone_provided,follow_up_plan,treatment_planning_notes,created_at,updated_at)>
<!ELEMENT treatment_goal (#PCDATA)>
<!ELEMENT readiness_to_change (#PCDATA)>
<!ELEMENT motivation_level (#PCDATA)>
<!ELEMENT preferred_treatment_setting (#PCDATA)>
<!ELEMENT interested_in_counselling (#PCDATA)>
<!ELEMENT interested_in_medication (#PCDATA)>
<!ELEMENT interested_in_self_help (#PCDATA)>
<!ELEMENT barriers_to_treatment (#PCDATA)>
<!ELEMENT support_network_available (#PCDATA)>
<!ELEMENT support_network_details (#PCDATA)>
<!ELEMENT risk_of_relapse (#PCDATA)>
<!ELEMENT safety_plan_needed (#PCDATA)>
<!ELEMENT naloxone_provided (#PCDATA)>
<!ELEMENT follow_up_plan (#PCDATA)>
<!ELEMENT treatment_planning_notes (#PCDATA)>
<!ELEMENT withdrawal (id,assessment_id,currently_in_withdrawal,withdrawal_substance,tremor,sweating,nausea_vomiting,anxiety,agitation,seizure_history,delirium_tremens_history,hallucinations,last_drink_drug_hours,withdrawal_severity,medically_supervised_detox_needed,withdrawal_notes,created_at,updated_at)>
<!ELEMENT currently_in_withdrawal (#PCDATA)>
<!ELEMENT withdrawal_substance (#PCDATA)>
<!ELEMENT tremor (#PCDATA)>
<!ELEMENT sweating (#PCDATA)>
<!ELEMENT nausea_vomiting (#PCDATA)>
<!ELEMENT anxiety (#PCDATA)>
<!ELEMENT agitation (#PCDATA)>
<!ELEMENT seizure_history (#PCDATA)>
<!ELEMENT delirium_tremens_history (#PCDATA)>
<!ELEMENT hallucinations (#PCDATA)>
<!ELEMENT last_drink_drug_hours (#PCDATA)>
<!ELEMENT withdrawal_severity (#PCDATA)>
<!ELEMENT medically_supervised_detox_needed (#PCDATA)>
<!ELEMENT withdrawal_notes (#PCDATA)>
