forms/substance-abuse-assessment/xml-representations/assessment_substance_use_history.dtd

<!ELEMENT assessment_substance_use_history (id,assessment_id,age_first_alcohol_use,age_first_drug_use,primary_substance,primary_substance_other,secondary_substances,route_of_administration,frequency_of_use,duration_of_use,last_use_date,current_use_status,iv_drug_use,needle_sharing,substance_history_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT age_first_alcohol_use (#PCDATA)>
<!ELEMENT age_first_drug_use (#PCDATA)>
<!ELEMENT primary_substance (#PCDATA)>
<!ELEMENT primary_substance_other (#PCDATA)>
<!ELEMENT secondary_substances (#PCDATA)>
<!ELEMENT route_of_administration (#PCDATA)>
<!ELEMENT frequency_of_use (#PCDATA)>
<!ELEMENT duration_of_use (#PCDATA)>
<!ELEMENT last_use_date (#PCDATA)>
<!ELEMENT current_use_status (#PCDATA)>
<!ELEMENT iv_drug_use (#PCDATA)>
<!ELEMENT needle_sharing (#PCDATA)>
<!ELEMENT substance_history_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
