forms/substance-abuse-assessment/xml-representations/grading_result.dtd

<!ELEMENT grading_result (id,assessment_id,audit_score,audit_risk_category,dast_score,dast_risk_category,overall_risk_level,graded_at,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT audit_score (#PCDATA)>
<!ELEMENT audit_risk_category (#PCDATA)>
<!ELEMENT dast_score (#PCDATA)>
<!ELEMENT dast_risk_category (#PCDATA)>
<!ELEMENT overall_risk_level (#PCDATA)>
<!ELEMENT graded_at (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
