forms/oncology-assessment/xml-representations/assessment_treatment_history.dtd

<!ELEMENT assessment_treatment_history (id,assessment_id,has_prior_surgery,surgery_details,has_prior_radiation,radiation_details,has_prior_chemotherapy,chemotherapy_details,has_prior_immunotherapy,immunotherapy_details,has_prior_hormone_therapy,hormone_therapy_details,has_prior_targeted_therapy,targeted_therapy_details,has_clinical_trial_participation,clinical_trial_details,best_response,treatment_history_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_prior_surgery (#PCDATA)>
<!ELEMENT surgery_details (#PCDATA)>
<!ELEMENT has_prior_radiation (#PCDATA)>
<!ELEMENT radiation_details (#PCDATA)>
<!ELEMENT has_prior_chemotherapy (#PCDATA)>
<!ELEMENT chemotherapy_details (#PCDATA)>
<!ELEMENT has_prior_immunotherapy (#PCDATA)>
<!ELEMENT immunotherapy_details (#PCDATA)>
<!ELEMENT has_prior_hormone_therapy (#PCDATA)>
<!ELEMENT hormone_therapy_details (#PCDATA)>
<!ELEMENT has_prior_targeted_therapy (#PCDATA)>
<!ELEMENT targeted_therapy_details (#PCDATA)>
<!ELEMENT has_clinical_trial_participation (#PCDATA)>
<!ELEMENT clinical_trial_details (#PCDATA)>
<!ELEMENT best_response (#PCDATA)>
<!ELEMENT treatment_history_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
