forms/oncology-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,cancer_diagnosis,current_medications,current_treatment,demographics,functional_nutritional,laboratory_results,medication_item,psychosocial,side_effects,symptom_assessment,treatment_history)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT cancer_diagnosis (id,assessment_id,cancer_type,cancer_site,histology,histology_other,date_of_diagnosis,stage,tnm_t,tnm_n,tnm_m,grade,laterality,metastatic_sites,biomarkers,genetic_mutations,diagnosis_notes,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT cancer_type (#PCDATA)>
<!ELEMENT cancer_site (#PCDATA)>
<!ELEMENT histology (#PCDATA)>
<!ELEMENT histology_other (#PCDATA)>
<!ELEMENT date_of_diagnosis (#PCDATA)>
<!ELEMENT stage (#PCDATA)>
<!ELEMENT tnm_t (#PCDATA)>
<!ELEMENT tnm_n (#PCDATA)>
<!ELEMENT tnm_m (#PCDATA)>
<!ELEMENT grade (#PCDATA)>
<!ELEMENT laterality (#PCDATA)>
<!ELEMENT metastatic_sites (#PCDATA)>
<!ELEMENT biomarkers (#PCDATA)>
<!ELEMENT genetic_mutations (#PCDATA)>
<!ELEMENT diagnosis_notes (#PCDATA)>
<!ELEMENT current_medications (id,assessment_id,polypharmacy_concern,drug_interactions_identified,drug_interaction_details,complementary_medicines,complementary_medicine_details,medication_adherence,medications_notes,created_at,updated_at)>
<!ELEMENT polypharmacy_concern (#PCDATA)>
<!ELEMENT drug_interactions_identified (#PCDATA)>
<!ELEMENT drug_interaction_details (#PCDATA)>
<!ELEMENT complementary_medicines (#PCDATA)>
<!ELEMENT complementary_medicine_details (#PCDATA)>
<!ELEMENT medication_adherence (#PCDATA)>
<!ELEMENT medications_notes (#PCDATA)>
<!ELEMENT current_treatment (id,assessment_id,treatment_intent,current_regimen,cycle_number,total_planned_cycles,last_treatment_date,next_treatment_date,treatment_modifications,dose_reductions,dose_reduction_details,treatment_delays,treatment_delay_details,current_response,supportive_care,current_treatment_notes,created_at,updated_at)>
<!ELEMENT treatment_intent (#PCDATA)>
<!ELEMENT current_regimen (#PCDATA)>
<!ELEMENT cycle_number (#PCDATA)>
<!ELEMENT total_planned_cycles (#PCDATA)>
<!ELEMENT last_treatment_date (#PCDATA)>
<!ELEMENT next_treatment_date (#PCDATA)>
<!ELEMENT treatment_modifications (#PCDATA)>
<!ELEMENT dose_reductions (#PCDATA)>
<!ELEMENT dose_reduction_details (#PCDATA)>
<!ELEMENT treatment_delays (#PCDATA)>
<!ELEMENT treatment_delay_details (#PCDATA)>
<!ELEMENT current_response (#PCDATA)>
<!ELEMENT supportive_care (#PCDATA)>
<!ELEMENT current_treatment_notes (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,first_name,last_name,date_of_birth,sex,phone,email,address,emergency_contact_name,emergency_contact_phone,emergency_contact_relationship,created_at,updated_at)>
<!ELEMENT first_name (#PCDATA)>
<!ELEMENT last_name (#PCDATA)>
<!ELEMENT date_of_birth (#PCDATA)>
<!ELEMENT sex (#PCDATA)>
<!ELEMENT phone (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT address (#PCDATA)>
<!ELEMENT emergency_contact_name (#PCDATA)>
<!ELEMENT emergency_contact_phone (#PCDATA)>
<!ELEMENT emergency_contact_relationship (#PCDATA)>
<!ELEMENT functional_nutritional (id,assessment_id,ecog_performance_status,karnofsky_score,mobility_level,adl_independence,weight_change,weight_kg,height_cm,bmi,nutritional_risk,oral_intake,nutritional_support,dietitian_referral,functional_nutritional_notes,created_at,updated_at)>
<!ELEMENT ecog_performance_status (#PCDATA)>
<!ELEMENT karnofsky_score (#PCDATA)>
<!ELEMENT mobility_level (#PCDATA)>
<!ELEMENT adl_independence (#PCDATA)>
<!ELEMENT weight_change (#PCDATA)>
<!ELEMENT weight_kg (#PCDATA)>
<!ELEMENT height_cm (#PCDATA)>
<!ELEMENT bmi (#PCDATA)>
<!ELEMENT nutritional_risk (#PCDATA)>
<!ELEMENT oral_intake (#PCDATA)>
<!ELEMENT nutritional_support (#PCDATA)>
<!ELEMENT dietitian_referral (#PCDATA)>
<!ELEMENT functional_nutritional_notes (#PCDATA)>
<!ELEMENT laboratory_results (id,assessment_id,lab_date,haemoglobin,white_cell_count,neutrophil_count,platelet_count,creatinine,egfr,bilirubin,alt,ast,alkaline_phosphatase,albumin,ldh,tumour_markers,other_results,laboratory_notes,created_at,updated_at)>
<!ELEMENT lab_date (#PCDATA)>
<!ELEMENT haemoglobin (#PCDATA)>
<!ELEMENT white_cell_count (#PCDATA)>
<!ELEMENT neutrophil_count (#PCDATA)>
<!ELEMENT platelet_count (#PCDATA)>
<!ELEMENT creatinine (#PCDATA)>
<!ELEMENT egfr (#PCDATA)>
<!ELEMENT bilirubin (#PCDATA)>
<!ELEMENT alt (#PCDATA)>
<!ELEMENT ast (#PCDATA)>
<!ELEMENT alkaline_phosphatase (#PCDATA)>
<!ELEMENT albumin (#PCDATA)>
<!ELEMENT ldh (#PCDATA)>
<!ELEMENT tumour_markers (#PCDATA)>
<!ELEMENT other_results (#PCDATA)>
<!ELEMENT laboratory_notes (#PCDATA)>
<!ELEMENT medication_item (id,current_medications_id,medication_name,dose,frequency,route,indication,start_date,sort_order,created_at,updated_at)>
<!ELEMENT current_medications_id (#PCDATA)>
<!ELEMENT medication_name (#PCDATA)>
<!ELEMENT dose (#PCDATA)>
<!ELEMENT frequency (#PCDATA)>
<!ELEMENT route (#PCDATA)>
<!ELEMENT indication (#PCDATA)>
<!ELEMENT start_date (#PCDATA)>
<!ELEMENT sort_order (#PCDATA)>
<!ELEMENT psychosocial (id,assessment_id,anxiety_level,depression_level,distress_thermometer_score,coping_ability,social_support,financial_concerns,financial_concerns_details,employment_impact,relationship_impact,spiritual_concerns,spiritual_concerns_details,psychological_support_in_place,psychological_support_details,advance_care_planning_discussed,psychosocial_notes,created_at,updated_at)>
<!ELEMENT anxiety_level (#PCDATA)>
<!ELEMENT depression_level (#PCDATA)>
<!ELEMENT distress_thermometer_score (#PCDATA)>
<!ELEMENT coping_ability (#PCDATA)>
<!ELEMENT social_support (#PCDATA)>
<!ELEMENT financial_concerns (#PCDATA)>
<!ELEMENT financial_concerns_details (#PCDATA)>
<!ELEMENT employment_impact (#PCDATA)>
<!ELEMENT relationship_impact (#PCDATA)>
<!ELEMENT spiritual_concerns (#PCDATA)>
<!ELEMENT spiritual_concerns_details (#PCDATA)>
<!ELEMENT psychological_support_in_place (#PCDATA)>
<!ELEMENT psychological_support_details (#PCDATA)>
<!ELEMENT advance_care_planning_discussed (#PCDATA)>
<!ELEMENT psychosocial_notes (#PCDATA)>
<!ELEMENT side_effects (id,assessment_id,has_haematological_toxicity,neutropenia_grade,anaemia_grade,thrombocytopenia_grade,has_dermatological_toxicity,dermatological_details,has_neuropathy,neuropathy_grade,neuropathy_details,has_hepatotoxicity,hepatotoxicity_details,has_nephrotoxicity,nephrotoxicity_details,has_cardiotoxicity,cardiotoxicity_details,has_mucositis,mucositis_grade,alopecia,other_side_effects,side_effects_notes,created_at,updated_at)>
<!ELEMENT has_haematological_toxicity (#PCDATA)>
<!ELEMENT neutropenia_grade (#PCDATA)>
<!ELEMENT anaemia_grade (#PCDATA)>
<!ELEMENT thrombocytopenia_grade (#PCDATA)>
<!ELEMENT has_dermatological_toxicity (#PCDATA)>
<!ELEMENT dermatological_details (#PCDATA)>
<!ELEMENT has_neuropathy (#PCDATA)>
<!ELEMENT neuropathy_grade (#PCDATA)>
<!ELEMENT neuropathy_details (#PCDATA)>
<!ELEMENT has_hepatotoxicity (#PCDATA)>
<!ELEMENT hepatotoxicity_details (#PCDATA)>
<!ELEMENT has_nephrotoxicity (#PCDATA)>
<!ELEMENT nephrotoxicity_details (#PCDATA)>
<!ELEMENT has_cardiotoxicity (#PCDATA)>
<!ELEMENT cardiotoxicity_details (#PCDATA)>
<!ELEMENT has_mucositis (#PCDATA)>
<!ELEMENT mucositis_grade (#PCDATA)>
<!ELEMENT alopecia (#PCDATA)>
<!ELEMENT other_side_effects (#PCDATA)>
<!ELEMENT side_effects_notes (#PCDATA)>
<!ELEMENT symptom_assessment (id,assessment_id,pain_severity,pain_location,pain_character,fatigue_severity,nausea_severity,vomiting_frequency,appetite_level,dyspnoea_severity,constipation_severity,diarrhoea_severity,insomnia_severity,cognitive_changes,cognitive_changes_details,other_symptoms,symptom_notes,created_at,updated_at)>
<!ELEMENT pain_severity (#PCDATA)>
<!ELEMENT pain_location (#PCDATA)>
<!ELEMENT pain_character (#PCDATA)>
<!ELEMENT fatigue_severity (#PCDATA)>
<!ELEMENT nausea_severity (#PCDATA)>
<!ELEMENT vomiting_frequency (#PCDATA)>
<!ELEMENT appetite_level (#PCDATA)>
<!ELEMENT dyspnoea_severity (#PCDATA)>
<!ELEMENT constipation_severity (#PCDATA)>
<!ELEMENT diarrhoea_severity (#PCDATA)>
<!ELEMENT insomnia_severity (#PCDATA)>
<!ELEMENT cognitive_changes (#PCDATA)>
<!ELEMENT cognitive_changes_details (#PCDATA)>
<!ELEMENT other_symptoms (#PCDATA)>
<!ELEMENT symptom_notes (#PCDATA)>
<!ELEMENT treatment_history (id,assessment_id,has_prior_surgery,surgery_details,has_prior_radiation,radiation_details,has_prior_chemotherapy,chemotherapy_details,has_prior_immunotherapy,immunotherapy_details,has_prior_hormone_therapy,hormone_therapy_details,has_prior_targeted_therapy,targeted_therapy_details,has_clinical_trial_participation,clinical_trial_details,best_response,treatment_history_notes,created_at,updated_at)>
<!ELEMENT has_prior_surgery (#PCDATA)>
<!ELEMENT surgery_details (#PCDATA)>
<!ELEMENT has_prior_radiation (#PCDATA)>
<!ELEMENT radiation_details (#PCDATA)>
<!ELEMENT has_prior_chemotherapy (#PCDATA)>
<!ELEMENT chemotherapy_details (#PCDATA)>
<!ELEMENT has_prior_immunotherapy (#PCDATA)>
<!ELEMENT immunotherapy_details (#PCDATA)>
<!ELEMENT has_prior_hormone_therapy (#PCDATA)>
<!ELEMENT hormone_therapy_details (#PCDATA)>
<!ELEMENT has_prior_targeted_therapy (#PCDATA)>
<!ELEMENT targeted_therapy_details (#PCDATA)>
<!ELEMENT has_clinical_trial_participation (#PCDATA)>
<!ELEMENT clinical_trial_details (#PCDATA)>
<!ELEMENT best_response (#PCDATA)>
<!ELEMENT treatment_history_notes (#PCDATA)>
