forms/oncology-assessment/xml-representations/assessment_current_treatment.dtd

<!ELEMENT assessment_current_treatment (id,assessment_id,treatment_intent,current_regimen,cycle_number,total_planned_cycles,last_treatment_date,next_treatment_date,treatment_modifications,dose_reductions,dose_reduction_details,treatment_delays,treatment_delay_details,current_response,supportive_care,current_treatment_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT treatment_intent (#PCDATA)>
<!ELEMENT current_regimen (#PCDATA)>
<!ELEMENT cycle_number (#PCDATA)>
<!ELEMENT total_planned_cycles (#PCDATA)>
<!ELEMENT last_treatment_date (#PCDATA)>
<!ELEMENT next_treatment_date (#PCDATA)>
<!ELEMENT treatment_modifications (#PCDATA)>
<!ELEMENT dose_reductions (#PCDATA)>
<!ELEMENT dose_reduction_details (#PCDATA)>
<!ELEMENT treatment_delays (#PCDATA)>
<!ELEMENT treatment_delay_details (#PCDATA)>
<!ELEMENT current_response (#PCDATA)>
<!ELEMENT supportive_care (#PCDATA)>
<!ELEMENT current_treatment_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
