forms/oncology-assessment/xml-representations/assessment_functional_nutritional.dtd

<!ELEMENT assessment_functional_nutritional (id,assessment_id,ecog_performance_status,karnofsky_score,mobility_level,adl_independence,weight_change,weight_kg,height_cm,bmi,nutritional_risk,oral_intake,nutritional_support,dietitian_referral,functional_nutritional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT ecog_performance_status (#PCDATA)>
<!ELEMENT karnofsky_score (#PCDATA)>
<!ELEMENT mobility_level (#PCDATA)>
<!ELEMENT adl_independence (#PCDATA)>
<!ELEMENT weight_change (#PCDATA)>
<!ELEMENT weight_kg (#PCDATA)>
<!ELEMENT height_cm (#PCDATA)>
<!ELEMENT bmi (#PCDATA)>
<!ELEMENT nutritional_risk (#PCDATA)>
<!ELEMENT oral_intake (#PCDATA)>
<!ELEMENT nutritional_support (#PCDATA)>
<!ELEMENT dietitian_referral (#PCDATA)>
<!ELEMENT functional_nutritional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
