forms/oncology-assessment/xml-representations/assessment_cancer_diagnosis.dtd

<!ELEMENT assessment_cancer_diagnosis (id,assessment_id,cancer_type,cancer_site,histology,histology_other,date_of_diagnosis,stage,tnm_t,tnm_n,tnm_m,grade,laterality,metastatic_sites,biomarkers,genetic_mutations,diagnosis_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT cancer_type (#PCDATA)>
<!ELEMENT cancer_site (#PCDATA)>
<!ELEMENT histology (#PCDATA)>
<!ELEMENT histology_other (#PCDATA)>
<!ELEMENT date_of_diagnosis (#PCDATA)>
<!ELEMENT stage (#PCDATA)>
<!ELEMENT tnm_t (#PCDATA)>
<!ELEMENT tnm_n (#PCDATA)>
<!ELEMENT tnm_m (#PCDATA)>
<!ELEMENT grade (#PCDATA)>
<!ELEMENT laterality (#PCDATA)>
<!ELEMENT metastatic_sites (#PCDATA)>
<!ELEMENT biomarkers (#PCDATA)>
<!ELEMENT genetic_mutations (#PCDATA)>
<!ELEMENT diagnosis_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
