forms/oncology-assessment/xml-representations/assessment_psychosocial.dtd

<!ELEMENT assessment_psychosocial (id,assessment_id,anxiety_level,depression_level,distress_thermometer_score,coping_ability,social_support,financial_concerns,financial_concerns_details,employment_impact,relationship_impact,spiritual_concerns,spiritual_concerns_details,psychological_support_in_place,psychological_support_details,advance_care_planning_discussed,psychosocial_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT anxiety_level (#PCDATA)>
<!ELEMENT depression_level (#PCDATA)>
<!ELEMENT distress_thermometer_score (#PCDATA)>
<!ELEMENT coping_ability (#PCDATA)>
<!ELEMENT social_support (#PCDATA)>
<!ELEMENT financial_concerns (#PCDATA)>
<!ELEMENT financial_concerns_details (#PCDATA)>
<!ELEMENT employment_impact (#PCDATA)>
<!ELEMENT relationship_impact (#PCDATA)>
<!ELEMENT spiritual_concerns (#PCDATA)>
<!ELEMENT spiritual_concerns_details (#PCDATA)>
<!ELEMENT psychological_support_in_place (#PCDATA)>
<!ELEMENT psychological_support_details (#PCDATA)>
<!ELEMENT advance_care_planning_discussed (#PCDATA)>
<!ELEMENT psychosocial_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
