forms/oncology-assessment/xml-representations/assessment_laboratory_results.dtd

<!ELEMENT assessment_laboratory_results (id,assessment_id,lab_date,haemoglobin,white_cell_count,neutrophil_count,platelet_count,creatinine,egfr,bilirubin,alt,ast,alkaline_phosphatase,albumin,ldh,tumour_markers,other_results,laboratory_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT lab_date (#PCDATA)>
<!ELEMENT haemoglobin (#PCDATA)>
<!ELEMENT white_cell_count (#PCDATA)>
<!ELEMENT neutrophil_count (#PCDATA)>
<!ELEMENT platelet_count (#PCDATA)>
<!ELEMENT creatinine (#PCDATA)>
<!ELEMENT egfr (#PCDATA)>
<!ELEMENT bilirubin (#PCDATA)>
<!ELEMENT alt (#PCDATA)>
<!ELEMENT ast (#PCDATA)>
<!ELEMENT alkaline_phosphatase (#PCDATA)>
<!ELEMENT albumin (#PCDATA)>
<!ELEMENT ldh (#PCDATA)>
<!ELEMENT tumour_markers (#PCDATA)>
<!ELEMENT other_results (#PCDATA)>
<!ELEMENT laboratory_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
