forms/oncology-assessment/xml-representations/assessment_medication_item.dtd

<!ELEMENT assessment_medication_item (id,current_medications_id,medication_name,dose,frequency,route,indication,start_date,sort_order,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT current_medications_id (#PCDATA)>
<!ELEMENT medication_name (#PCDATA)>
<!ELEMENT dose (#PCDATA)>
<!ELEMENT frequency (#PCDATA)>
<!ELEMENT route (#PCDATA)>
<!ELEMENT indication (#PCDATA)>
<!ELEMENT start_date (#PCDATA)>
<!ELEMENT sort_order (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
