forms/oncology-assessment/xml-representations/assessment_side_effects.dtd

<!ELEMENT assessment_side_effects (id,assessment_id,has_haematological_toxicity,neutropenia_grade,anaemia_grade,thrombocytopenia_grade,has_dermatological_toxicity,dermatological_details,has_neuropathy,neuropathy_grade,neuropathy_details,has_hepatotoxicity,hepatotoxicity_details,has_nephrotoxicity,nephrotoxicity_details,has_cardiotoxicity,cardiotoxicity_details,has_mucositis,mucositis_grade,alopecia,other_side_effects,side_effects_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_haematological_toxicity (#PCDATA)>
<!ELEMENT neutropenia_grade (#PCDATA)>
<!ELEMENT anaemia_grade (#PCDATA)>
<!ELEMENT thrombocytopenia_grade (#PCDATA)>
<!ELEMENT has_dermatological_toxicity (#PCDATA)>
<!ELEMENT dermatological_details (#PCDATA)>
<!ELEMENT has_neuropathy (#PCDATA)>
<!ELEMENT neuropathy_grade (#PCDATA)>
<!ELEMENT neuropathy_details (#PCDATA)>
<!ELEMENT has_hepatotoxicity (#PCDATA)>
<!ELEMENT hepatotoxicity_details (#PCDATA)>
<!ELEMENT has_nephrotoxicity (#PCDATA)>
<!ELEMENT nephrotoxicity_details (#PCDATA)>
<!ELEMENT has_cardiotoxicity (#PCDATA)>
<!ELEMENT cardiotoxicity_details (#PCDATA)>
<!ELEMENT has_mucositis (#PCDATA)>
<!ELEMENT mucositis_grade (#PCDATA)>
<!ELEMENT alopecia (#PCDATA)>
<!ELEMENT other_side_effects (#PCDATA)>
<!ELEMENT side_effects_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
