forms/oncology-assessment/xml-representations/assessment_symptom_assessment.dtd

<!ELEMENT assessment_symptom_assessment (id,assessment_id,pain_severity,pain_location,pain_character,fatigue_severity,nausea_severity,vomiting_frequency,appetite_level,dyspnoea_severity,constipation_severity,diarrhoea_severity,insomnia_severity,cognitive_changes,cognitive_changes_details,other_symptoms,symptom_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT pain_severity (#PCDATA)>
<!ELEMENT pain_location (#PCDATA)>
<!ELEMENT pain_character (#PCDATA)>
<!ELEMENT fatigue_severity (#PCDATA)>
<!ELEMENT nausea_severity (#PCDATA)>
<!ELEMENT vomiting_frequency (#PCDATA)>
<!ELEMENT appetite_level (#PCDATA)>
<!ELEMENT dyspnoea_severity (#PCDATA)>
<!ELEMENT constipation_severity (#PCDATA)>
<!ELEMENT diarrhoea_severity (#PCDATA)>
<!ELEMENT insomnia_severity (#PCDATA)>
<!ELEMENT cognitive_changes (#PCDATA)>
<!ELEMENT cognitive_changes_details (#PCDATA)>
<!ELEMENT other_symptoms (#PCDATA)>
<!ELEMENT symptom_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
