forms/oncology-assessment/xml-representations/assessment_current_medications.dtd

<!ELEMENT assessment_current_medications (id,assessment_id,polypharmacy_concern,drug_interactions_identified,drug_interaction_details,complementary_medicines,complementary_medicine_details,medication_adherence,medications_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT polypharmacy_concern (#PCDATA)>
<!ELEMENT drug_interactions_identified (#PCDATA)>
<!ELEMENT drug_interaction_details (#PCDATA)>
<!ELEMENT complementary_medicines (#PCDATA)>
<!ELEMENT complementary_medicine_details (#PCDATA)>
<!ELEMENT medication_adherence (#PCDATA)>
<!ELEMENT medications_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
