forms/oncology-assessment/xml-representations/grading_result.dtd

<!ELEMENT grading_result (id,assessment_id,ecog_score,ecog_category,graded_at,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT ecog_score (#PCDATA)>
<!ELEMENT ecog_category (#PCDATA)>
<!ELEMENT graded_at (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
