forms/cardiology-assessment/xml-representations/assessment_risk_factors.dtd

<!ELEMENT assessment_risk_factors (id,assessment_id,hypertension,systolic_bp_mmhg,diastolic_bp_mmhg,diabetes,hba1c_mmol_mol,hyperlipidaemia,total_cholesterol_mmol,ldl_cholesterol_mmol,hdl_cholesterol_mmol,smoking_status,pack_years,family_history_cvd,family_cvd_details,obesity,chronic_kidney_disease,ckd_stage,risk_factors_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT hypertension (#PCDATA)>
<!ELEMENT systolic_bp_mmhg (#PCDATA)>
<!ELEMENT diastolic_bp_mmhg (#PCDATA)>
<!ELEMENT diabetes (#PCDATA)>
<!ELEMENT hba1c_mmol_mol (#PCDATA)>
<!ELEMENT hyperlipidaemia (#PCDATA)>
<!ELEMENT total_cholesterol_mmol (#PCDATA)>
<!ELEMENT ldl_cholesterol_mmol (#PCDATA)>
<!ELEMENT hdl_cholesterol_mmol (#PCDATA)>
<!ELEMENT smoking_status (#PCDATA)>
<!ELEMENT pack_years (#PCDATA)>
<!ELEMENT family_history_cvd (#PCDATA)>
<!ELEMENT family_cvd_details (#PCDATA)>
<!ELEMENT obesity (#PCDATA)>
<!ELEMENT chronic_kidney_disease (#PCDATA)>
<!ELEMENT ckd_stage (#PCDATA)>
<!ELEMENT risk_factors_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
