forms/cardiology-assessment/xml-representations/assessment_current_medications.dtd

<!ELEMENT assessment_current_medications (id,assessment_id,on_antiplatelet,antiplatelet_details,on_anticoagulant,anticoagulant_type,anticoagulant_details,on_beta_blocker,beta_blocker_details,on_ace_inhibitor_arb,ace_arb_details,on_statin,statin_details,on_diuretic,diuretic_details,on_calcium_channel_blocker,ccb_details,on_nitrate,nitrate_details,other_cardiac_medications,medication_adherence,medication_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT on_antiplatelet (#PCDATA)>
<!ELEMENT antiplatelet_details (#PCDATA)>
<!ELEMENT on_anticoagulant (#PCDATA)>
<!ELEMENT anticoagulant_type (#PCDATA)>
<!ELEMENT anticoagulant_details (#PCDATA)>
<!ELEMENT on_beta_blocker (#PCDATA)>
<!ELEMENT beta_blocker_details (#PCDATA)>
<!ELEMENT on_ace_inhibitor_arb (#PCDATA)>
<!ELEMENT ace_arb_details (#PCDATA)>
<!ELEMENT on_statin (#PCDATA)>
<!ELEMENT statin_details (#PCDATA)>
<!ELEMENT on_diuretic (#PCDATA)>
<!ELEMENT diuretic_details (#PCDATA)>
<!ELEMENT on_calcium_channel_blocker (#PCDATA)>
<!ELEMENT ccb_details (#PCDATA)>
<!ELEMENT on_nitrate (#PCDATA)>
<!ELEMENT nitrate_details (#PCDATA)>
<!ELEMENT other_cardiac_medications (#PCDATA)>
<!ELEMENT medication_adherence (#PCDATA)>
<!ELEMENT medication_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
