forms/cardiology-assessment/xml-representations/assessment_social_functional.dtd

<!ELEMENT assessment_social_functional (id,assessment_id,exercise_capacity,flights_of_stairs,walking_distance_metres,driving_status,employment_status,occupation,physical_demands_of_work,alcohol_consumption,alcohol_units_per_week,recreational_drug_use,recreational_drug_details,psychological_impact,anxiety_depression_screen,social_functional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT exercise_capacity (#PCDATA)>
<!ELEMENT flights_of_stairs (#PCDATA)>
<!ELEMENT walking_distance_metres (#PCDATA)>
<!ELEMENT driving_status (#PCDATA)>
<!ELEMENT employment_status (#PCDATA)>
<!ELEMENT occupation (#PCDATA)>
<!ELEMENT physical_demands_of_work (#PCDATA)>
<!ELEMENT alcohol_consumption (#PCDATA)>
<!ELEMENT alcohol_units_per_week (#PCDATA)>
<!ELEMENT recreational_drug_use (#PCDATA)>
<!ELEMENT recreational_drug_details (#PCDATA)>
<!ELEMENT psychological_impact (#PCDATA)>
<!ELEMENT anxiety_depression_screen (#PCDATA)>
<!ELEMENT social_functional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
