forms/cardiology-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,allergies,arrhythmia_conduction,cardiac_history,chest_pain_angina,current_medications,demographics,diagnostic_results,heart_failure_symptoms,risk_factors,social_functional)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT allergies (id,assessment_id,has_drug_allergies,drug_allergy_details,contrast_dye_allergy,contrast_dye_allergy_details,latex_allergy,other_allergies,previous_adverse_reactions,allergy_notes,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_drug_allergies (#PCDATA)>
<!ELEMENT drug_allergy_details (#PCDATA)>
<!ELEMENT contrast_dye_allergy (#PCDATA)>
<!ELEMENT contrast_dye_allergy_details (#PCDATA)>
<!ELEMENT latex_allergy (#PCDATA)>
<!ELEMENT other_allergies (#PCDATA)>
<!ELEMENT previous_adverse_reactions (#PCDATA)>
<!ELEMENT allergy_notes (#PCDATA)>
<!ELEMENT arrhythmia_conduction (id,assessment_id,has_palpitations,palpitation_character,palpitation_frequency,known_atrial_fibrillation,af_type,history_of_syncope,syncope_details,history_of_presyncope,known_conduction_disorder,conduction_disorder_type,has_pacemaker,has_icd,device_details,arrhythmia_notes,created_at,updated_at)>
<!ELEMENT has_palpitations (#PCDATA)>
<!ELEMENT palpitation_character (#PCDATA)>
<!ELEMENT palpitation_frequency (#PCDATA)>
<!ELEMENT known_atrial_fibrillation (#PCDATA)>
<!ELEMENT af_type (#PCDATA)>
<!ELEMENT history_of_syncope (#PCDATA)>
<!ELEMENT syncope_details (#PCDATA)>
<!ELEMENT history_of_presyncope (#PCDATA)>
<!ELEMENT known_conduction_disorder (#PCDATA)>
<!ELEMENT conduction_disorder_type (#PCDATA)>
<!ELEMENT has_pacemaker (#PCDATA)>
<!ELEMENT has_icd (#PCDATA)>
<!ELEMENT device_details (#PCDATA)>
<!ELEMENT arrhythmia_notes (#PCDATA)>
<!ELEMENT cardiac_history (id,assessment_id,previous_mi,mi_date,mi_details,previous_pci,pci_date,pci_details,previous_cabg,cabg_date,cabg_details,previous_valve_surgery,valve_surgery_details,known_heart_failure,heart_failure_type,ejection_fraction_percent,known_cardiomyopathy,cardiomyopathy_type,cardiac_history_notes,created_at,updated_at)>
<!ELEMENT previous_mi (#PCDATA)>
<!ELEMENT mi_date (#PCDATA)>
<!ELEMENT mi_details (#PCDATA)>
<!ELEMENT previous_pci (#PCDATA)>
<!ELEMENT pci_date (#PCDATA)>
<!ELEMENT pci_details (#PCDATA)>
<!ELEMENT previous_cabg (#PCDATA)>
<!ELEMENT cabg_date (#PCDATA)>
<!ELEMENT cabg_details (#PCDATA)>
<!ELEMENT previous_valve_surgery (#PCDATA)>
<!ELEMENT valve_surgery_details (#PCDATA)>
<!ELEMENT known_heart_failure (#PCDATA)>
<!ELEMENT heart_failure_type (#PCDATA)>
<!ELEMENT ejection_fraction_percent (#PCDATA)>
<!ELEMENT known_cardiomyopathy (#PCDATA)>
<!ELEMENT cardiomyopathy_type (#PCDATA)>
<!ELEMENT cardiac_history_notes (#PCDATA)>
<!ELEMENT chest_pain_angina (id,assessment_id,has_chest_pain,chest_pain_character,chest_pain_character_other,chest_pain_location,chest_pain_radiation,chest_pain_duration_minutes,chest_pain_trigger,relieved_by_rest,relieved_by_gtn,ccs_angina_class,angina_frequency,chest_pain_notes,created_at,updated_at)>
<!ELEMENT has_chest_pain (#PCDATA)>
<!ELEMENT chest_pain_character (#PCDATA)>
<!ELEMENT chest_pain_character_other (#PCDATA)>
<!ELEMENT chest_pain_location (#PCDATA)>
<!ELEMENT chest_pain_radiation (#PCDATA)>
<!ELEMENT chest_pain_duration_minutes (#PCDATA)>
<!ELEMENT chest_pain_trigger (#PCDATA)>
<!ELEMENT relieved_by_rest (#PCDATA)>
<!ELEMENT relieved_by_gtn (#PCDATA)>
<!ELEMENT ccs_angina_class (#PCDATA)>
<!ELEMENT angina_frequency (#PCDATA)>
<!ELEMENT chest_pain_notes (#PCDATA)>
<!ELEMENT current_medications (id,assessment_id,on_antiplatelet,antiplatelet_details,on_anticoagulant,anticoagulant_type,anticoagulant_details,on_beta_blocker,beta_blocker_details,on_ace_inhibitor_arb,ace_arb_details,on_statin,statin_details,on_diuretic,diuretic_details,on_calcium_channel_blocker,ccb_details,on_nitrate,nitrate_details,other_cardiac_medications,medication_adherence,medication_notes,created_at,updated_at)>
<!ELEMENT on_antiplatelet (#PCDATA)>
<!ELEMENT antiplatelet_details (#PCDATA)>
<!ELEMENT on_anticoagulant (#PCDATA)>
<!ELEMENT anticoagulant_type (#PCDATA)>
<!ELEMENT anticoagulant_details (#PCDATA)>
<!ELEMENT on_beta_blocker (#PCDATA)>
<!ELEMENT beta_blocker_details (#PCDATA)>
<!ELEMENT on_ace_inhibitor_arb (#PCDATA)>
<!ELEMENT ace_arb_details (#PCDATA)>
<!ELEMENT on_statin (#PCDATA)>
<!ELEMENT statin_details (#PCDATA)>
<!ELEMENT on_diuretic (#PCDATA)>
<!ELEMENT diuretic_details (#PCDATA)>
<!ELEMENT on_calcium_channel_blocker (#PCDATA)>
<!ELEMENT ccb_details (#PCDATA)>
<!ELEMENT on_nitrate (#PCDATA)>
<!ELEMENT nitrate_details (#PCDATA)>
<!ELEMENT other_cardiac_medications (#PCDATA)>
<!ELEMENT medication_adherence (#PCDATA)>
<!ELEMENT medication_notes (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,preferred_name,gender_identity,ethnicity,preferred_language,interpreter_required,gp_name,gp_practice,referrer_name,referrer_role,created_at,updated_at)>
<!ELEMENT preferred_name (#PCDATA)>
<!ELEMENT gender_identity (#PCDATA)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT preferred_language (#PCDATA)>
<!ELEMENT interpreter_required (#PCDATA)>
<!ELEMENT gp_name (#PCDATA)>
<!ELEMENT gp_practice (#PCDATA)>
<!ELEMENT referrer_name (#PCDATA)>
<!ELEMENT referrer_role (#PCDATA)>
<!ELEMENT diagnostic_results (id,assessment_id,ecg_performed,ecg_date,ecg_findings,ecg_rhythm,echocardiogram_performed,echocardiogram_date,echocardiogram_findings,lvef_percent,exercise_test_performed,exercise_test_date,exercise_test_result,exercise_test_details,coronary_angiogram_performed,coronary_angiogram_date,coronary_angiogram_findings,ct_coronary_angiogram_performed,ct_coronary_angiogram_findings,bnp_pg_ml,troponin_ng_l,diagnostic_notes,created_at,updated_at)>
<!ELEMENT ecg_performed (#PCDATA)>
<!ELEMENT ecg_date (#PCDATA)>
<!ELEMENT ecg_findings (#PCDATA)>
<!ELEMENT ecg_rhythm (#PCDATA)>
<!ELEMENT echocardiogram_performed (#PCDATA)>
<!ELEMENT echocardiogram_date (#PCDATA)>
<!ELEMENT echocardiogram_findings (#PCDATA)>
<!ELEMENT lvef_percent (#PCDATA)>
<!ELEMENT exercise_test_performed (#PCDATA)>
<!ELEMENT exercise_test_date (#PCDATA)>
<!ELEMENT exercise_test_result (#PCDATA)>
<!ELEMENT exercise_test_details (#PCDATA)>
<!ELEMENT coronary_angiogram_performed (#PCDATA)>
<!ELEMENT coronary_angiogram_date (#PCDATA)>
<!ELEMENT coronary_angiogram_findings (#PCDATA)>
<!ELEMENT ct_coronary_angiogram_performed (#PCDATA)>
<!ELEMENT ct_coronary_angiogram_findings (#PCDATA)>
<!ELEMENT bnp_pg_ml (#PCDATA)>
<!ELEMENT troponin_ng_l (#PCDATA)>
<!ELEMENT diagnostic_notes (#PCDATA)>
<!ELEMENT heart_failure_symptoms (id,assessment_id,has_dyspnoea,dyspnoea_on_exertion,orthopnoea,pillows_required,paroxysmal_nocturnal_dyspnoea,peripheral_oedema,oedema_location,fatigue_level,weight_gain_recent,weight_gain_kg,nyha_class,heart_failure_notes,created_at,updated_at)>
<!ELEMENT has_dyspnoea (#PCDATA)>
<!ELEMENT dyspnoea_on_exertion (#PCDATA)>
<!ELEMENT orthopnoea (#PCDATA)>
<!ELEMENT pillows_required (#PCDATA)>
<!ELEMENT paroxysmal_nocturnal_dyspnoea (#PCDATA)>
<!ELEMENT peripheral_oedema (#PCDATA)>
<!ELEMENT oedema_location (#PCDATA)>
<!ELEMENT fatigue_level (#PCDATA)>
<!ELEMENT weight_gain_recent (#PCDATA)>
<!ELEMENT weight_gain_kg (#PCDATA)>
<!ELEMENT nyha_class (#PCDATA)>
<!ELEMENT heart_failure_notes (#PCDATA)>
<!ELEMENT risk_factors (id,assessment_id,hypertension,systolic_bp_mmhg,diastolic_bp_mmhg,diabetes,hba1c_mmol_mol,hyperlipidaemia,total_cholesterol_mmol,ldl_cholesterol_mmol,hdl_cholesterol_mmol,smoking_status,pack_years,family_history_cvd,family_cvd_details,obesity,chronic_kidney_disease,ckd_stage,risk_factors_notes,created_at,updated_at)>
<!ELEMENT hypertension (#PCDATA)>
<!ELEMENT systolic_bp_mmhg (#PCDATA)>
<!ELEMENT diastolic_bp_mmhg (#PCDATA)>
<!ELEMENT diabetes (#PCDATA)>
<!ELEMENT hba1c_mmol_mol (#PCDATA)>
<!ELEMENT hyperlipidaemia (#PCDATA)>
<!ELEMENT total_cholesterol_mmol (#PCDATA)>
<!ELEMENT ldl_cholesterol_mmol (#PCDATA)>
<!ELEMENT hdl_cholesterol_mmol (#PCDATA)>
<!ELEMENT smoking_status (#PCDATA)>
<!ELEMENT pack_years (#PCDATA)>
<!ELEMENT family_history_cvd (#PCDATA)>
<!ELEMENT family_cvd_details (#PCDATA)>
<!ELEMENT obesity (#PCDATA)>
<!ELEMENT chronic_kidney_disease (#PCDATA)>
<!ELEMENT ckd_stage (#PCDATA)>
<!ELEMENT risk_factors_notes (#PCDATA)>
<!ELEMENT social_functional (id,assessment_id,exercise_capacity,flights_of_stairs,walking_distance_metres,driving_status,employment_status,occupation,physical_demands_of_work,alcohol_consumption,alcohol_units_per_week,recreational_drug_use,recreational_drug_details,psychological_impact,anxiety_depression_screen,social_functional_notes,created_at,updated_at)>
<!ELEMENT exercise_capacity (#PCDATA)>
<!ELEMENT flights_of_stairs (#PCDATA)>
<!ELEMENT walking_distance_metres (#PCDATA)>
<!ELEMENT driving_status (#PCDATA)>
<!ELEMENT employment_status (#PCDATA)>
<!ELEMENT occupation (#PCDATA)>
<!ELEMENT physical_demands_of_work (#PCDATA)>
<!ELEMENT alcohol_consumption (#PCDATA)>
<!ELEMENT alcohol_units_per_week (#PCDATA)>
<!ELEMENT recreational_drug_use (#PCDATA)>
<!ELEMENT recreational_drug_details (#PCDATA)>
<!ELEMENT psychological_impact (#PCDATA)>
<!ELEMENT anxiety_depression_screen (#PCDATA)>
<!ELEMENT social_functional_notes (#PCDATA)>
