forms/cardiology-assessment/xml-representations/assessment_arrhythmia_conduction.dtd

<!ELEMENT assessment_arrhythmia_conduction (id,assessment_id,has_palpitations,palpitation_character,palpitation_frequency,known_atrial_fibrillation,af_type,history_of_syncope,syncope_details,history_of_presyncope,known_conduction_disorder,conduction_disorder_type,has_pacemaker,has_icd,device_details,arrhythmia_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_palpitations (#PCDATA)>
<!ELEMENT palpitation_character (#PCDATA)>
<!ELEMENT palpitation_frequency (#PCDATA)>
<!ELEMENT known_atrial_fibrillation (#PCDATA)>
<!ELEMENT af_type (#PCDATA)>
<!ELEMENT history_of_syncope (#PCDATA)>
<!ELEMENT syncope_details (#PCDATA)>
<!ELEMENT history_of_presyncope (#PCDATA)>
<!ELEMENT known_conduction_disorder (#PCDATA)>
<!ELEMENT conduction_disorder_type (#PCDATA)>
<!ELEMENT has_pacemaker (#PCDATA)>
<!ELEMENT has_icd (#PCDATA)>
<!ELEMENT device_details (#PCDATA)>
<!ELEMENT arrhythmia_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
