forms/cardiology-assessment/xml-representations/assessment_diagnostic_results.dtd

<!ELEMENT assessment_diagnostic_results (id,assessment_id,ecg_performed,ecg_date,ecg_findings,ecg_rhythm,echocardiogram_performed,echocardiogram_date,echocardiogram_findings,lvef_percent,exercise_test_performed,exercise_test_date,exercise_test_result,exercise_test_details,coronary_angiogram_performed,coronary_angiogram_date,coronary_angiogram_findings,ct_coronary_angiogram_performed,ct_coronary_angiogram_findings,bnp_pg_ml,troponin_ng_l,diagnostic_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT ecg_performed (#PCDATA)>
<!ELEMENT ecg_date (#PCDATA)>
<!ELEMENT ecg_findings (#PCDATA)>
<!ELEMENT ecg_rhythm (#PCDATA)>
<!ELEMENT echocardiogram_performed (#PCDATA)>
<!ELEMENT echocardiogram_date (#PCDATA)>
<!ELEMENT echocardiogram_findings (#PCDATA)>
<!ELEMENT lvef_percent (#PCDATA)>
<!ELEMENT exercise_test_performed (#PCDATA)>
<!ELEMENT exercise_test_date (#PCDATA)>
<!ELEMENT exercise_test_result (#PCDATA)>
<!ELEMENT exercise_test_details (#PCDATA)>
<!ELEMENT coronary_angiogram_performed (#PCDATA)>
<!ELEMENT coronary_angiogram_date (#PCDATA)>
<!ELEMENT coronary_angiogram_findings (#PCDATA)>
<!ELEMENT ct_coronary_angiogram_performed (#PCDATA)>
<!ELEMENT ct_coronary_angiogram_findings (#PCDATA)>
<!ELEMENT bnp_pg_ml (#PCDATA)>
<!ELEMENT troponin_ng_l (#PCDATA)>
<!ELEMENT diagnostic_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
