forms/cardiology-assessment/xml-representations/assessment_heart_failure_symptoms.dtd

<!ELEMENT assessment_heart_failure_symptoms (id,assessment_id,has_dyspnoea,dyspnoea_on_exertion,orthopnoea,pillows_required,paroxysmal_nocturnal_dyspnoea,peripheral_oedema,oedema_location,fatigue_level,weight_gain_recent,weight_gain_kg,nyha_class,heart_failure_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_dyspnoea (#PCDATA)>
<!ELEMENT dyspnoea_on_exertion (#PCDATA)>
<!ELEMENT orthopnoea (#PCDATA)>
<!ELEMENT pillows_required (#PCDATA)>
<!ELEMENT paroxysmal_nocturnal_dyspnoea (#PCDATA)>
<!ELEMENT peripheral_oedema (#PCDATA)>
<!ELEMENT oedema_location (#PCDATA)>
<!ELEMENT fatigue_level (#PCDATA)>
<!ELEMENT weight_gain_recent (#PCDATA)>
<!ELEMENT weight_gain_kg (#PCDATA)>
<!ELEMENT nyha_class (#PCDATA)>
<!ELEMENT heart_failure_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
