forms/cardiology-assessment/xml-representations/assessment_cardiac_history.dtd

<!ELEMENT assessment_cardiac_history (id,assessment_id,previous_mi,mi_date,mi_details,previous_pci,pci_date,pci_details,previous_cabg,cabg_date,cabg_details,previous_valve_surgery,valve_surgery_details,known_heart_failure,heart_failure_type,ejection_fraction_percent,known_cardiomyopathy,cardiomyopathy_type,cardiac_history_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT previous_mi (#PCDATA)>
<!ELEMENT mi_date (#PCDATA)>
<!ELEMENT mi_details (#PCDATA)>
<!ELEMENT previous_pci (#PCDATA)>
<!ELEMENT pci_date (#PCDATA)>
<!ELEMENT pci_details (#PCDATA)>
<!ELEMENT previous_cabg (#PCDATA)>
<!ELEMENT cabg_date (#PCDATA)>
<!ELEMENT cabg_details (#PCDATA)>
<!ELEMENT previous_valve_surgery (#PCDATA)>
<!ELEMENT valve_surgery_details (#PCDATA)>
<!ELEMENT known_heart_failure (#PCDATA)>
<!ELEMENT heart_failure_type (#PCDATA)>
<!ELEMENT ejection_fraction_percent (#PCDATA)>
<!ELEMENT known_cardiomyopathy (#PCDATA)>
<!ELEMENT cardiomyopathy_type (#PCDATA)>
<!ELEMENT cardiac_history_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
