forms/cardiology-assessment/xml-representations/assessment_chest_pain_angina.dtd

<!ELEMENT assessment_chest_pain_angina (id,assessment_id,has_chest_pain,chest_pain_character,chest_pain_character_other,chest_pain_location,chest_pain_radiation,chest_pain_duration_minutes,chest_pain_trigger,relieved_by_rest,relieved_by_gtn,ccs_angina_class,angina_frequency,chest_pain_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_chest_pain (#PCDATA)>
<!ELEMENT chest_pain_character (#PCDATA)>
<!ELEMENT chest_pain_character_other (#PCDATA)>
<!ELEMENT chest_pain_location (#PCDATA)>
<!ELEMENT chest_pain_radiation (#PCDATA)>
<!ELEMENT chest_pain_duration_minutes (#PCDATA)>
<!ELEMENT chest_pain_trigger (#PCDATA)>
<!ELEMENT relieved_by_rest (#PCDATA)>
<!ELEMENT relieved_by_gtn (#PCDATA)>
<!ELEMENT ccs_angina_class (#PCDATA)>
<!ELEMENT angina_frequency (#PCDATA)>
<!ELEMENT chest_pain_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
