forms/ophthalmology-assessment/xml-representations/assessment_ocular_history.dtd

<!ELEMENT assessment_ocular_history (id,assessment_id,has_glaucoma,glaucoma_details,has_cataract,cataract_details,has_macular_degeneration,macular_degeneration_details,has_diabetic_retinopathy,diabetic_retinopathy_details,has_retinal_detachment,retinal_detachment_details,has_strabismus,strabismus_details,has_amblyopia,amblyopia_details,previous_eye_surgery,eye_surgery_details,previous_eye_trauma,eye_trauma_details,family_eye_history,contact_lens_use,contact_lens_details,ocular_history_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_glaucoma (#PCDATA)>
<!ELEMENT glaucoma_details (#PCDATA)>
<!ELEMENT has_cataract (#PCDATA)>
<!ELEMENT cataract_details (#PCDATA)>
<!ELEMENT has_macular_degeneration (#PCDATA)>
<!ELEMENT macular_degeneration_details (#PCDATA)>
<!ELEMENT has_diabetic_retinopathy (#PCDATA)>
<!ELEMENT diabetic_retinopathy_details (#PCDATA)>
<!ELEMENT has_retinal_detachment (#PCDATA)>
<!ELEMENT retinal_detachment_details (#PCDATA)>
<!ELEMENT has_strabismus (#PCDATA)>
<!ELEMENT strabismus_details (#PCDATA)>
<!ELEMENT has_amblyopia (#PCDATA)>
<!ELEMENT amblyopia_details (#PCDATA)>
<!ELEMENT previous_eye_surgery (#PCDATA)>
<!ELEMENT eye_surgery_details (#PCDATA)>
<!ELEMENT previous_eye_trauma (#PCDATA)>
<!ELEMENT eye_trauma_details (#PCDATA)>
<!ELEMENT family_eye_history (#PCDATA)>
<!ELEMENT contact_lens_use (#PCDATA)>
<!ELEMENT contact_lens_details (#PCDATA)>
<!ELEMENT ocular_history_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
