forms/ophthalmology-assessment/xml-representations/assessment_visual_field_pupils.dtd

<!ELEMENT assessment_visual_field_pupils (id,assessment_id,confrontation_field_right,confrontation_field_right_details,confrontation_field_left,confrontation_field_left_details,formal_perimetry_performed,perimetry_type,perimetry_right_result,perimetry_left_result,mean_deviation_right,mean_deviation_left,pupil_right_size_mm,pupil_left_size_mm,pupil_right_shape,pupil_left_shape,pupil_right_reaction,pupil_left_reaction,rapd,ocular_motility,ocular_motility_details,visual_field_pupils_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT confrontation_field_right (#PCDATA)>
<!ELEMENT confrontation_field_right_details (#PCDATA)>
<!ELEMENT confrontation_field_left (#PCDATA)>
<!ELEMENT confrontation_field_left_details (#PCDATA)>
<!ELEMENT formal_perimetry_performed (#PCDATA)>
<!ELEMENT perimetry_type (#PCDATA)>
<!ELEMENT perimetry_right_result (#PCDATA)>
<!ELEMENT perimetry_left_result (#PCDATA)>
<!ELEMENT mean_deviation_right (#PCDATA)>
<!ELEMENT mean_deviation_left (#PCDATA)>
<!ELEMENT pupil_right_size_mm (#PCDATA)>
<!ELEMENT pupil_left_size_mm (#PCDATA)>
<!ELEMENT pupil_right_shape (#PCDATA)>
<!ELEMENT pupil_left_shape (#PCDATA)>
<!ELEMENT pupil_right_reaction (#PCDATA)>
<!ELEMENT pupil_left_reaction (#PCDATA)>
<!ELEMENT rapd (#PCDATA)>
<!ELEMENT ocular_motility (#PCDATA)>
<!ELEMENT ocular_motility_details (#PCDATA)>
<!ELEMENT visual_field_pupils_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
