forms/ophthalmology-assessment/xml-representations/assessment_systemic_conditions.dtd

<!ELEMENT assessment_systemic_conditions (id,assessment_id,has_diabetes,diabetes_type,diabetes_duration_years,hba1c,has_hypertension,hypertension_controlled,has_thyroid_disease,thyroid_disease_details,has_autoimmune_disease,autoimmune_disease_details,has_cardiovascular_disease,cardiovascular_disease_details,has_neurological_disease,neurological_disease_details,smoking_status,other_systemic_conditions,systemic_conditions_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_diabetes (#PCDATA)>
<!ELEMENT diabetes_type (#PCDATA)>
<!ELEMENT diabetes_duration_years (#PCDATA)>
<!ELEMENT hba1c (#PCDATA)>
<!ELEMENT has_hypertension (#PCDATA)>
<!ELEMENT hypertension_controlled (#PCDATA)>
<!ELEMENT has_thyroid_disease (#PCDATA)>
<!ELEMENT thyroid_disease_details (#PCDATA)>
<!ELEMENT has_autoimmune_disease (#PCDATA)>
<!ELEMENT autoimmune_disease_details (#PCDATA)>
<!ELEMENT has_cardiovascular_disease (#PCDATA)>
<!ELEMENT cardiovascular_disease_details (#PCDATA)>
<!ELEMENT has_neurological_disease (#PCDATA)>
<!ELEMENT neurological_disease_details (#PCDATA)>
<!ELEMENT smoking_status (#PCDATA)>
<!ELEMENT other_systemic_conditions (#PCDATA)>
<!ELEMENT systemic_conditions_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
