forms/ophthalmology-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,anterior_segment,chief_complaint,current_medications,demographics,functional_impact,medication_item,ocular_history,posterior_segment,systemic_conditions,visual_acuity,visual_field_pupils)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT anterior_segment (id,assessment_id,lids_right,lids_right_details,lids_left,lids_left_details,conjunctiva_right,conjunctiva_right_details,conjunctiva_left,conjunctiva_left_details,cornea_right,cornea_right_details,cornea_left,cornea_left_details,anterior_chamber_right,anterior_chamber_right_details,anterior_chamber_left,anterior_chamber_left_details,iris_right,iris_right_details,iris_left,iris_left_details,lens_right,lens_right_details,lens_left,lens_left_details,iop_right_mmhg,iop_left_mmhg,iop_method,iop_time,anterior_segment_notes,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT lids_right (#PCDATA)>
<!ELEMENT lids_right_details (#PCDATA)>
<!ELEMENT lids_left (#PCDATA)>
<!ELEMENT lids_left_details (#PCDATA)>
<!ELEMENT conjunctiva_right (#PCDATA)>
<!ELEMENT conjunctiva_right_details (#PCDATA)>
<!ELEMENT conjunctiva_left (#PCDATA)>
<!ELEMENT conjunctiva_left_details (#PCDATA)>
<!ELEMENT cornea_right (#PCDATA)>
<!ELEMENT cornea_right_details (#PCDATA)>
<!ELEMENT cornea_left (#PCDATA)>
<!ELEMENT cornea_left_details (#PCDATA)>
<!ELEMENT anterior_chamber_right (#PCDATA)>
<!ELEMENT anterior_chamber_right_details (#PCDATA)>
<!ELEMENT anterior_chamber_left (#PCDATA)>
<!ELEMENT anterior_chamber_left_details (#PCDATA)>
<!ELEMENT iris_right (#PCDATA)>
<!ELEMENT iris_right_details (#PCDATA)>
<!ELEMENT iris_left (#PCDATA)>
<!ELEMENT iris_left_details (#PCDATA)>
<!ELEMENT lens_right (#PCDATA)>
<!ELEMENT lens_right_details (#PCDATA)>
<!ELEMENT lens_left (#PCDATA)>
<!ELEMENT lens_left_details (#PCDATA)>
<!ELEMENT iop_right_mmhg (#PCDATA)>
<!ELEMENT iop_left_mmhg (#PCDATA)>
<!ELEMENT iop_method (#PCDATA)>
<!ELEMENT iop_time (#PCDATA)>
<!ELEMENT anterior_segment_notes (#PCDATA)>
<!ELEMENT chief_complaint (id,assessment_id,primary_complaint,onset,duration,laterality,associated_symptoms,pain,pain_severity,pain_character,photophobia,discharge,discharge_description,flashes_or_floaters,flashes_floaters_details,vision_loss,vision_loss_details,chief_complaint_notes,created_at,updated_at)>
<!ELEMENT primary_complaint (#PCDATA)>
<!ELEMENT onset (#PCDATA)>
<!ELEMENT duration (#PCDATA)>
<!ELEMENT laterality (#PCDATA)>
<!ELEMENT associated_symptoms (#PCDATA)>
<!ELEMENT pain (#PCDATA)>
<!ELEMENT pain_severity (#PCDATA)>
<!ELEMENT pain_character (#PCDATA)>
<!ELEMENT photophobia (#PCDATA)>
<!ELEMENT discharge (#PCDATA)>
<!ELEMENT discharge_description (#PCDATA)>
<!ELEMENT flashes_or_floaters (#PCDATA)>
<!ELEMENT flashes_floaters_details (#PCDATA)>
<!ELEMENT vision_loss (#PCDATA)>
<!ELEMENT vision_loss_details (#PCDATA)>
<!ELEMENT chief_complaint_notes (#PCDATA)>
<!ELEMENT current_medications (id,assessment_id,has_ocular_medications,has_systemic_medications,medication_allergies,medications_notes,created_at,updated_at)>
<!ELEMENT has_ocular_medications (#PCDATA)>
<!ELEMENT has_systemic_medications (#PCDATA)>
<!ELEMENT medication_allergies (#PCDATA)>
<!ELEMENT medications_notes (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,first_name,last_name,date_of_birth,sex,phone,email,address,gp_name,gp_practice,optometrist_name,created_at,updated_at)>
<!ELEMENT first_name (#PCDATA)>
<!ELEMENT last_name (#PCDATA)>
<!ELEMENT date_of_birth (#PCDATA)>
<!ELEMENT sex (#PCDATA)>
<!ELEMENT phone (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT address (#PCDATA)>
<!ELEMENT gp_name (#PCDATA)>
<!ELEMENT gp_practice (#PCDATA)>
<!ELEMENT optometrist_name (#PCDATA)>
<!ELEMENT functional_impact (id,assessment_id,reading_difficulty,driving_ability,dvla_notification_required,screen_use_difficulty,mobility_impact,falls_risk,work_impact,daily_living_impact,social_impact,low_vision_aids_used,low_vision_referral,certificate_of_visual_impairment,functional_impact_notes,created_at,updated_at)>
<!ELEMENT reading_difficulty (#PCDATA)>
<!ELEMENT driving_ability (#PCDATA)>
<!ELEMENT dvla_notification_required (#PCDATA)>
<!ELEMENT screen_use_difficulty (#PCDATA)>
<!ELEMENT mobility_impact (#PCDATA)>
<!ELEMENT falls_risk (#PCDATA)>
<!ELEMENT work_impact (#PCDATA)>
<!ELEMENT daily_living_impact (#PCDATA)>
<!ELEMENT social_impact (#PCDATA)>
<!ELEMENT low_vision_aids_used (#PCDATA)>
<!ELEMENT low_vision_referral (#PCDATA)>
<!ELEMENT certificate_of_visual_impairment (#PCDATA)>
<!ELEMENT functional_impact_notes (#PCDATA)>
<!ELEMENT medication_item (id,current_medications_id,medication_name,dose,frequency,route,eye,indication,sort_order,created_at,updated_at)>
<!ELEMENT current_medications_id (#PCDATA)>
<!ELEMENT medication_name (#PCDATA)>
<!ELEMENT dose (#PCDATA)>
<!ELEMENT frequency (#PCDATA)>
<!ELEMENT route (#PCDATA)>
<!ELEMENT eye (#PCDATA)>
<!ELEMENT indication (#PCDATA)>
<!ELEMENT sort_order (#PCDATA)>
<!ELEMENT ocular_history (id,assessment_id,has_glaucoma,glaucoma_details,has_cataract,cataract_details,has_macular_degeneration,macular_degeneration_details,has_diabetic_retinopathy,diabetic_retinopathy_details,has_retinal_detachment,retinal_detachment_details,has_strabismus,strabismus_details,has_amblyopia,amblyopia_details,previous_eye_surgery,eye_surgery_details,previous_eye_trauma,eye_trauma_details,family_eye_history,contact_lens_use,contact_lens_details,ocular_history_notes,created_at,updated_at)>
<!ELEMENT has_glaucoma (#PCDATA)>
<!ELEMENT glaucoma_details (#PCDATA)>
<!ELEMENT has_cataract (#PCDATA)>
<!ELEMENT cataract_details (#PCDATA)>
<!ELEMENT has_macular_degeneration (#PCDATA)>
<!ELEMENT macular_degeneration_details (#PCDATA)>
<!ELEMENT has_diabetic_retinopathy (#PCDATA)>
<!ELEMENT diabetic_retinopathy_details (#PCDATA)>
<!ELEMENT has_retinal_detachment (#PCDATA)>
<!ELEMENT retinal_detachment_details (#PCDATA)>
<!ELEMENT has_strabismus (#PCDATA)>
<!ELEMENT strabismus_details (#PCDATA)>
<!ELEMENT has_amblyopia (#PCDATA)>
<!ELEMENT amblyopia_details (#PCDATA)>
<!ELEMENT previous_eye_surgery (#PCDATA)>
<!ELEMENT eye_surgery_details (#PCDATA)>
<!ELEMENT previous_eye_trauma (#PCDATA)>
<!ELEMENT eye_trauma_details (#PCDATA)>
<!ELEMENT family_eye_history (#PCDATA)>
<!ELEMENT contact_lens_use (#PCDATA)>
<!ELEMENT contact_lens_details (#PCDATA)>
<!ELEMENT ocular_history_notes (#PCDATA)>
<!ELEMENT posterior_segment (id,assessment_id,vitreous_right,vitreous_right_details,vitreous_left,vitreous_left_details,optic_disc_right,optic_disc_right_details,optic_disc_left,optic_disc_left_details,cup_disc_ratio_right,cup_disc_ratio_left,macula_right,macula_right_details,macula_left,macula_left_details,retinal_vessels_right,retinal_vessels_right_details,retinal_vessels_left,retinal_vessels_left_details,peripheral_retina_right,peripheral_retina_right_details,peripheral_retina_left,peripheral_retina_left_details,dilation_used,dilating_agent,posterior_segment_notes,created_at,updated_at)>
<!ELEMENT vitreous_right (#PCDATA)>
<!ELEMENT vitreous_right_details (#PCDATA)>
<!ELEMENT vitreous_left (#PCDATA)>
<!ELEMENT vitreous_left_details (#PCDATA)>
<!ELEMENT optic_disc_right (#PCDATA)>
<!ELEMENT optic_disc_right_details (#PCDATA)>
<!ELEMENT optic_disc_left (#PCDATA)>
<!ELEMENT optic_disc_left_details (#PCDATA)>
<!ELEMENT cup_disc_ratio_right (#PCDATA)>
<!ELEMENT cup_disc_ratio_left (#PCDATA)>
<!ELEMENT macula_right (#PCDATA)>
<!ELEMENT macula_right_details (#PCDATA)>
<!ELEMENT macula_left (#PCDATA)>
<!ELEMENT macula_left_details (#PCDATA)>
<!ELEMENT retinal_vessels_right (#PCDATA)>
<!ELEMENT retinal_vessels_right_details (#PCDATA)>
<!ELEMENT retinal_vessels_left (#PCDATA)>
<!ELEMENT retinal_vessels_left_details (#PCDATA)>
<!ELEMENT peripheral_retina_right (#PCDATA)>
<!ELEMENT peripheral_retina_right_details (#PCDATA)>
<!ELEMENT peripheral_retina_left (#PCDATA)>
<!ELEMENT peripheral_retina_left_details (#PCDATA)>
<!ELEMENT dilation_used (#PCDATA)>
<!ELEMENT dilating_agent (#PCDATA)>
<!ELEMENT posterior_segment_notes (#PCDATA)>
<!ELEMENT systemic_conditions (id,assessment_id,has_diabetes,diabetes_type,diabetes_duration_years,hba1c,has_hypertension,hypertension_controlled,has_thyroid_disease,thyroid_disease_details,has_autoimmune_disease,autoimmune_disease_details,has_cardiovascular_disease,cardiovascular_disease_details,has_neurological_disease,neurological_disease_details,smoking_status,other_systemic_conditions,systemic_conditions_notes,created_at,updated_at)>
<!ELEMENT has_diabetes (#PCDATA)>
<!ELEMENT diabetes_type (#PCDATA)>
<!ELEMENT diabetes_duration_years (#PCDATA)>
<!ELEMENT hba1c (#PCDATA)>
<!ELEMENT has_hypertension (#PCDATA)>
<!ELEMENT hypertension_controlled (#PCDATA)>
<!ELEMENT has_thyroid_disease (#PCDATA)>
<!ELEMENT thyroid_disease_details (#PCDATA)>
<!ELEMENT has_autoimmune_disease (#PCDATA)>
<!ELEMENT autoimmune_disease_details (#PCDATA)>
<!ELEMENT has_cardiovascular_disease (#PCDATA)>
<!ELEMENT cardiovascular_disease_details (#PCDATA)>
<!ELEMENT has_neurological_disease (#PCDATA)>
<!ELEMENT neurological_disease_details (#PCDATA)>
<!ELEMENT smoking_status (#PCDATA)>
<!ELEMENT other_systemic_conditions (#PCDATA)>
<!ELEMENT systemic_conditions_notes (#PCDATA)>
<!ELEMENT visual_acuity (id,assessment_id,va_right_unaided,va_left_unaided,va_right_corrected,va_left_corrected,va_right_pinhole,va_left_pinhole,va_method,near_vision_right,near_vision_left,current_spectacle_prescription,refraction_right,refraction_left,auto_refraction_right,auto_refraction_left,colour_vision,colour_vision_details,visual_acuity_notes,created_at,updated_at)>
<!ELEMENT va_right_unaided (#PCDATA)>
<!ELEMENT va_left_unaided (#PCDATA)>
<!ELEMENT va_right_corrected (#PCDATA)>
<!ELEMENT va_left_corrected (#PCDATA)>
<!ELEMENT va_right_pinhole (#PCDATA)>
<!ELEMENT va_left_pinhole (#PCDATA)>
<!ELEMENT va_method (#PCDATA)>
<!ELEMENT near_vision_right (#PCDATA)>
<!ELEMENT near_vision_left (#PCDATA)>
<!ELEMENT current_spectacle_prescription (#PCDATA)>
<!ELEMENT refraction_right (#PCDATA)>
<!ELEMENT refraction_left (#PCDATA)>
<!ELEMENT auto_refraction_right (#PCDATA)>
<!ELEMENT auto_refraction_left (#PCDATA)>
<!ELEMENT colour_vision (#PCDATA)>
<!ELEMENT colour_vision_details (#PCDATA)>
<!ELEMENT visual_acuity_notes (#PCDATA)>
<!ELEMENT visual_field_pupils (id,assessment_id,confrontation_field_right,confrontation_field_right_details,confrontation_field_left,confrontation_field_left_details,formal_perimetry_performed,perimetry_type,perimetry_right_result,perimetry_left_result,mean_deviation_right,mean_deviation_left,pupil_right_size_mm,pupil_left_size_mm,pupil_right_shape,pupil_left_shape,pupil_right_reaction,pupil_left_reaction,rapd,ocular_motility,ocular_motility_details,visual_field_pupils_notes,created_at,updated_at)>
<!ELEMENT confrontation_field_right (#PCDATA)>
<!ELEMENT confrontation_field_right_details (#PCDATA)>
<!ELEMENT confrontation_field_left (#PCDATA)>
<!ELEMENT confrontation_field_left_details (#PCDATA)>
<!ELEMENT formal_perimetry_performed (#PCDATA)>
<!ELEMENT perimetry_type (#PCDATA)>
<!ELEMENT perimetry_right_result (#PCDATA)>
<!ELEMENT perimetry_left_result (#PCDATA)>
<!ELEMENT mean_deviation_right (#PCDATA)>
<!ELEMENT mean_deviation_left (#PCDATA)>
<!ELEMENT pupil_right_size_mm (#PCDATA)>
<!ELEMENT pupil_left_size_mm (#PCDATA)>
<!ELEMENT pupil_right_shape (#PCDATA)>
<!ELEMENT pupil_left_shape (#PCDATA)>
<!ELEMENT pupil_right_reaction (#PCDATA)>
<!ELEMENT pupil_left_reaction (#PCDATA)>
<!ELEMENT rapd (#PCDATA)>
<!ELEMENT ocular_motility (#PCDATA)>
<!ELEMENT ocular_motility_details (#PCDATA)>
<!ELEMENT visual_field_pupils_notes (#PCDATA)>
