forms/ophthalmology-assessment/xml-representations/assessment_posterior_segment.dtd

<!ELEMENT assessment_posterior_segment (id,assessment_id,vitreous_right,vitreous_right_details,vitreous_left,vitreous_left_details,optic_disc_right,optic_disc_right_details,optic_disc_left,optic_disc_left_details,cup_disc_ratio_right,cup_disc_ratio_left,macula_right,macula_right_details,macula_left,macula_left_details,retinal_vessels_right,retinal_vessels_right_details,retinal_vessels_left,retinal_vessels_left_details,peripheral_retina_right,peripheral_retina_right_details,peripheral_retina_left,peripheral_retina_left_details,dilation_used,dilating_agent,posterior_segment_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT vitreous_right (#PCDATA)>
<!ELEMENT vitreous_right_details (#PCDATA)>
<!ELEMENT vitreous_left (#PCDATA)>
<!ELEMENT vitreous_left_details (#PCDATA)>
<!ELEMENT optic_disc_right (#PCDATA)>
<!ELEMENT optic_disc_right_details (#PCDATA)>
<!ELEMENT optic_disc_left (#PCDATA)>
<!ELEMENT optic_disc_left_details (#PCDATA)>
<!ELEMENT cup_disc_ratio_right (#PCDATA)>
<!ELEMENT cup_disc_ratio_left (#PCDATA)>
<!ELEMENT macula_right (#PCDATA)>
<!ELEMENT macula_right_details (#PCDATA)>
<!ELEMENT macula_left (#PCDATA)>
<!ELEMENT macula_left_details (#PCDATA)>
<!ELEMENT retinal_vessels_right (#PCDATA)>
<!ELEMENT retinal_vessels_right_details (#PCDATA)>
<!ELEMENT retinal_vessels_left (#PCDATA)>
<!ELEMENT retinal_vessels_left_details (#PCDATA)>
<!ELEMENT peripheral_retina_right (#PCDATA)>
<!ELEMENT peripheral_retina_right_details (#PCDATA)>
<!ELEMENT peripheral_retina_left (#PCDATA)>
<!ELEMENT peripheral_retina_left_details (#PCDATA)>
<!ELEMENT dilation_used (#PCDATA)>
<!ELEMENT dilating_agent (#PCDATA)>
<!ELEMENT posterior_segment_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
