forms/ophthalmology-assessment/xml-representations/assessment_current_medications.dtd

<!ELEMENT assessment_current_medications (id,assessment_id,has_ocular_medications,has_systemic_medications,medication_allergies,medications_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_ocular_medications (#PCDATA)>
<!ELEMENT has_systemic_medications (#PCDATA)>
<!ELEMENT medication_allergies (#PCDATA)>
<!ELEMENT medications_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
