forms/ophthalmology-assessment/xml-representations/assessment_functional_impact.dtd

<!ELEMENT assessment_functional_impact (id,assessment_id,reading_difficulty,driving_ability,dvla_notification_required,screen_use_difficulty,mobility_impact,falls_risk,work_impact,daily_living_impact,social_impact,low_vision_aids_used,low_vision_referral,certificate_of_visual_impairment,functional_impact_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT reading_difficulty (#PCDATA)>
<!ELEMENT driving_ability (#PCDATA)>
<!ELEMENT dvla_notification_required (#PCDATA)>
<!ELEMENT screen_use_difficulty (#PCDATA)>
<!ELEMENT mobility_impact (#PCDATA)>
<!ELEMENT falls_risk (#PCDATA)>
<!ELEMENT work_impact (#PCDATA)>
<!ELEMENT daily_living_impact (#PCDATA)>
<!ELEMENT social_impact (#PCDATA)>
<!ELEMENT low_vision_aids_used (#PCDATA)>
<!ELEMENT low_vision_referral (#PCDATA)>
<!ELEMENT certificate_of_visual_impairment (#PCDATA)>
<!ELEMENT functional_impact_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
