forms/ophthalmology-assessment/xml-representations/assessment_chief_complaint.dtd

<!ELEMENT assessment_chief_complaint (id,assessment_id,primary_complaint,onset,duration,laterality,associated_symptoms,pain,pain_severity,pain_character,photophobia,discharge,discharge_description,flashes_or_floaters,flashes_floaters_details,vision_loss,vision_loss_details,chief_complaint_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT primary_complaint (#PCDATA)>
<!ELEMENT onset (#PCDATA)>
<!ELEMENT duration (#PCDATA)>
<!ELEMENT laterality (#PCDATA)>
<!ELEMENT associated_symptoms (#PCDATA)>
<!ELEMENT pain (#PCDATA)>
<!ELEMENT pain_severity (#PCDATA)>
<!ELEMENT pain_character (#PCDATA)>
<!ELEMENT photophobia (#PCDATA)>
<!ELEMENT discharge (#PCDATA)>
<!ELEMENT discharge_description (#PCDATA)>
<!ELEMENT flashes_or_floaters (#PCDATA)>
<!ELEMENT flashes_floaters_details (#PCDATA)>
<!ELEMENT vision_loss (#PCDATA)>
<!ELEMENT vision_loss_details (#PCDATA)>
<!ELEMENT chief_complaint_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
