forms/ophthalmology-assessment/xml-representations/assessment_visual_acuity.dtd

<!ELEMENT assessment_visual_acuity (id,assessment_id,va_right_unaided,va_left_unaided,va_right_corrected,va_left_corrected,va_right_pinhole,va_left_pinhole,va_method,near_vision_right,near_vision_left,current_spectacle_prescription,refraction_right,refraction_left,auto_refraction_right,auto_refraction_left,colour_vision,colour_vision_details,visual_acuity_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT va_right_unaided (#PCDATA)>
<!ELEMENT va_left_unaided (#PCDATA)>
<!ELEMENT va_right_corrected (#PCDATA)>
<!ELEMENT va_left_corrected (#PCDATA)>
<!ELEMENT va_right_pinhole (#PCDATA)>
<!ELEMENT va_left_pinhole (#PCDATA)>
<!ELEMENT va_method (#PCDATA)>
<!ELEMENT near_vision_right (#PCDATA)>
<!ELEMENT near_vision_left (#PCDATA)>
<!ELEMENT current_spectacle_prescription (#PCDATA)>
<!ELEMENT refraction_right (#PCDATA)>
<!ELEMENT refraction_left (#PCDATA)>
<!ELEMENT auto_refraction_right (#PCDATA)>
<!ELEMENT auto_refraction_left (#PCDATA)>
<!ELEMENT colour_vision (#PCDATA)>
<!ELEMENT colour_vision_details (#PCDATA)>
<!ELEMENT visual_acuity_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
