forms/ophthalmology-assessment/xml-representations/assessment_anterior_segment.dtd

<!ELEMENT assessment_anterior_segment (id,assessment_id,lids_right,lids_right_details,lids_left,lids_left_details,conjunctiva_right,conjunctiva_right_details,conjunctiva_left,conjunctiva_left_details,cornea_right,cornea_right_details,cornea_left,cornea_left_details,anterior_chamber_right,anterior_chamber_right_details,anterior_chamber_left,anterior_chamber_left_details,iris_right,iris_right_details,iris_left,iris_left_details,lens_right,lens_right_details,lens_left,lens_left_details,iop_right_mmhg,iop_left_mmhg,iop_method,iop_time,anterior_segment_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT lids_right (#PCDATA)>
<!ELEMENT lids_right_details (#PCDATA)>
<!ELEMENT lids_left (#PCDATA)>
<!ELEMENT lids_left_details (#PCDATA)>
<!ELEMENT conjunctiva_right (#PCDATA)>
<!ELEMENT conjunctiva_right_details (#PCDATA)>
<!ELEMENT conjunctiva_left (#PCDATA)>
<!ELEMENT conjunctiva_left_details (#PCDATA)>
<!ELEMENT cornea_right (#PCDATA)>
<!ELEMENT cornea_right_details (#PCDATA)>
<!ELEMENT cornea_left (#PCDATA)>
<!ELEMENT cornea_left_details (#PCDATA)>
<!ELEMENT anterior_chamber_right (#PCDATA)>
<!ELEMENT anterior_chamber_right_details (#PCDATA)>
<!ELEMENT anterior_chamber_left (#PCDATA)>
<!ELEMENT anterior_chamber_left_details (#PCDATA)>
<!ELEMENT iris_right (#PCDATA)>
<!ELEMENT iris_right_details (#PCDATA)>
<!ELEMENT iris_left (#PCDATA)>
<!ELEMENT iris_left_details (#PCDATA)>
<!ELEMENT lens_right (#PCDATA)>
<!ELEMENT lens_right_details (#PCDATA)>
<!ELEMENT lens_left (#PCDATA)>
<!ELEMENT lens_left_details (#PCDATA)>
<!ELEMENT iop_right_mmhg (#PCDATA)>
<!ELEMENT iop_left_mmhg (#PCDATA)>
<!ELEMENT iop_method (#PCDATA)>
<!ELEMENT iop_time (#PCDATA)>
<!ELEMENT anterior_segment_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
