forms/asthma-assessment/xml-representations/assessment_triggers.dtd

<!ELEMENT assessment_triggers (id,assessment_id,trigger_dust_mites,trigger_pollen,trigger_animal_dander,trigger_mould,trigger_cold_air,trigger_exercise,trigger_infections,trigger_tobacco_smoke,trigger_occupational,occupational_trigger_details,trigger_stress,trigger_nsaids,other_triggers,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT trigger_dust_mites (#PCDATA)>
<!ELEMENT trigger_pollen (#PCDATA)>
<!ELEMENT trigger_animal_dander (#PCDATA)>
<!ELEMENT trigger_mould (#PCDATA)>
<!ELEMENT trigger_cold_air (#PCDATA)>
<!ELEMENT trigger_exercise (#PCDATA)>
<!ELEMENT trigger_infections (#PCDATA)>
<!ELEMENT trigger_tobacco_smoke (#PCDATA)>
<!ELEMENT trigger_occupational (#PCDATA)>
<!ELEMENT occupational_trigger_details (#PCDATA)>
<!ELEMENT trigger_stress (#PCDATA)>
<!ELEMENT trigger_nsaids (#PCDATA)>
<!ELEMENT other_triggers (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
