forms/asthma-assessment/xml-representations/assessment_social_history.dtd

<!ELEMENT assessment_social_history (id,assessment_id,smoking_status,pack_years,vaping_status,passive_smoke_exposure,housing_type,housing_damp_or_mould,pets_in_home,pet_details,occupational_exposures,exercise_frequency,impact_on_daily_life,days_missed_work_or_school,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT smoking_status (#PCDATA)>
<!ELEMENT pack_years (#PCDATA)>
<!ELEMENT vaping_status (#PCDATA)>
<!ELEMENT passive_smoke_exposure (#PCDATA)>
<!ELEMENT housing_type (#PCDATA)>
<!ELEMENT housing_damp_or_mould (#PCDATA)>
<!ELEMENT pets_in_home (#PCDATA)>
<!ELEMENT pet_details (#PCDATA)>
<!ELEMENT occupational_exposures (#PCDATA)>
<!ELEMENT exercise_frequency (#PCDATA)>
<!ELEMENT impact_on_daily_life (#PCDATA)>
<!ELEMENT days_missed_work_or_school (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
