forms/asthma-assessment/xml-representations/assessment_comorbidities.dtd

<!ELEMENT assessment_comorbidities (id,assessment_id,has_gord,has_obesity,has_obstructive_sleep_apnoea,has_nasal_polyps,has_anxiety,has_depression,has_vocal_cord_dysfunction,has_copd_overlap,has_bronchiectasis,other_comorbidities,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_gord (#PCDATA)>
<!ELEMENT has_obesity (#PCDATA)>
<!ELEMENT has_obstructive_sleep_apnoea (#PCDATA)>
<!ELEMENT has_nasal_polyps (#PCDATA)>
<!ELEMENT has_anxiety (#PCDATA)>
<!ELEMENT has_depression (#PCDATA)>
<!ELEMENT has_vocal_cord_dysfunction (#PCDATA)>
<!ELEMENT has_copd_overlap (#PCDATA)>
<!ELEMENT has_bronchiectasis (#PCDATA)>
<!ELEMENT other_comorbidities (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
