forms/asthma-assessment/xml-representations/assessment_current_medications.dtd

<!ELEMENT assessment_current_medications (id,assessment_id,uses_saba_reliever,saba_name,saba_frequency,uses_ics_preventer,ics_name,ics_dose,uses_laba,laba_name,uses_ltra,ltra_name,uses_biologic,biologic_name,uses_oral_corticosteroid,oral_corticosteroid_details,inhaler_technique_checked,adherence_self_rating,other_medications,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT uses_saba_reliever (#PCDATA)>
<!ELEMENT saba_name (#PCDATA)>
<!ELEMENT saba_frequency (#PCDATA)>
<!ELEMENT uses_ics_preventer (#PCDATA)>
<!ELEMENT ics_name (#PCDATA)>
<!ELEMENT ics_dose (#PCDATA)>
<!ELEMENT uses_laba (#PCDATA)>
<!ELEMENT laba_name (#PCDATA)>
<!ELEMENT uses_ltra (#PCDATA)>
<!ELEMENT ltra_name (#PCDATA)>
<!ELEMENT uses_biologic (#PCDATA)>
<!ELEMENT biologic_name (#PCDATA)>
<!ELEMENT uses_oral_corticosteroid (#PCDATA)>
<!ELEMENT oral_corticosteroid_details (#PCDATA)>
<!ELEMENT inhaler_technique_checked (#PCDATA)>
<!ELEMENT adherence_self_rating (#PCDATA)>
<!ELEMENT other_medications (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
