forms/asthma-assessment/xml-representations/assessment_demographics.dtd

<!ELEMENT assessment_demographics (id,assessment_id,age,sex,ethnicity,occupation,postcode,age_at_diagnosis,referring_clinician,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT age (#PCDATA)>
<!ELEMENT sex (#PCDATA)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT occupation (#PCDATA)>
<!ELEMENT postcode (#PCDATA)>
<!ELEMENT age_at_diagnosis (#PCDATA)>
<!ELEMENT referring_clinician (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
