forms/asthma-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,allergies,comorbidities,current_medications,demographics,exacerbation_history,lung_function,social_history,symptom_frequency,triggers)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT allergies (id,assessment_id,has_atopic_history,has_eczema,has_allergic_rhinitis,has_food_allergies,food_allergy_details,has_drug_allergies,drug_allergy_details,has_anaphylaxis_history,anaphylaxis_details,allergy_testing_done,allergy_testing_results,total_ige_level,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_atopic_history (#PCDATA)>
<!ELEMENT has_eczema (#PCDATA)>
<!ELEMENT has_allergic_rhinitis (#PCDATA)>
<!ELEMENT has_food_allergies (#PCDATA)>
<!ELEMENT food_allergy_details (#PCDATA)>
<!ELEMENT has_drug_allergies (#PCDATA)>
<!ELEMENT drug_allergy_details (#PCDATA)>
<!ELEMENT has_anaphylaxis_history (#PCDATA)>
<!ELEMENT anaphylaxis_details (#PCDATA)>
<!ELEMENT allergy_testing_done (#PCDATA)>
<!ELEMENT allergy_testing_results (#PCDATA)>
<!ELEMENT total_ige_level (#PCDATA)>
<!ELEMENT comorbidities (id,assessment_id,has_gord,has_obesity,has_obstructive_sleep_apnoea,has_nasal_polyps,has_anxiety,has_depression,has_vocal_cord_dysfunction,has_copd_overlap,has_bronchiectasis,other_comorbidities,created_at,updated_at)>
<!ELEMENT has_gord (#PCDATA)>
<!ELEMENT has_obesity (#PCDATA)>
<!ELEMENT has_obstructive_sleep_apnoea (#PCDATA)>
<!ELEMENT has_nasal_polyps (#PCDATA)>
<!ELEMENT has_anxiety (#PCDATA)>
<!ELEMENT has_depression (#PCDATA)>
<!ELEMENT has_vocal_cord_dysfunction (#PCDATA)>
<!ELEMENT has_copd_overlap (#PCDATA)>
<!ELEMENT has_bronchiectasis (#PCDATA)>
<!ELEMENT other_comorbidities (#PCDATA)>
<!ELEMENT current_medications (id,assessment_id,uses_saba_reliever,saba_name,saba_frequency,uses_ics_preventer,ics_name,ics_dose,uses_laba,laba_name,uses_ltra,ltra_name,uses_biologic,biologic_name,uses_oral_corticosteroid,oral_corticosteroid_details,inhaler_technique_checked,adherence_self_rating,other_medications,created_at,updated_at)>
<!ELEMENT uses_saba_reliever (#PCDATA)>
<!ELEMENT saba_name (#PCDATA)>
<!ELEMENT saba_frequency (#PCDATA)>
<!ELEMENT uses_ics_preventer (#PCDATA)>
<!ELEMENT ics_name (#PCDATA)>
<!ELEMENT ics_dose (#PCDATA)>
<!ELEMENT uses_laba (#PCDATA)>
<!ELEMENT laba_name (#PCDATA)>
<!ELEMENT uses_ltra (#PCDATA)>
<!ELEMENT ltra_name (#PCDATA)>
<!ELEMENT uses_biologic (#PCDATA)>
<!ELEMENT biologic_name (#PCDATA)>
<!ELEMENT uses_oral_corticosteroid (#PCDATA)>
<!ELEMENT oral_corticosteroid_details (#PCDATA)>
<!ELEMENT inhaler_technique_checked (#PCDATA)>
<!ELEMENT adherence_self_rating (#PCDATA)>
<!ELEMENT other_medications (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,age,sex,ethnicity,occupation,postcode,age_at_diagnosis,referring_clinician,created_at,updated_at)>
<!ELEMENT age (#PCDATA)>
<!ELEMENT sex (#PCDATA)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT occupation (#PCDATA)>
<!ELEMENT postcode (#PCDATA)>
<!ELEMENT age_at_diagnosis (#PCDATA)>
<!ELEMENT referring_clinician (#PCDATA)>
<!ELEMENT exacerbation_history (id,assessment_id,exacerbations_past_12_months,oral_steroid_courses_past_12_months,ed_visits_past_12_months,hospital_admissions_past_12_months,icu_admissions_ever,intubation_history,worst_exacerbation_details,has_asthma_action_plan,created_at,updated_at)>
<!ELEMENT exacerbations_past_12_months (#PCDATA)>
<!ELEMENT oral_steroid_courses_past_12_months (#PCDATA)>
<!ELEMENT ed_visits_past_12_months (#PCDATA)>
<!ELEMENT hospital_admissions_past_12_months (#PCDATA)>
<!ELEMENT icu_admissions_ever (#PCDATA)>
<!ELEMENT intubation_history (#PCDATA)>
<!ELEMENT worst_exacerbation_details (#PCDATA)>
<!ELEMENT has_asthma_action_plan (#PCDATA)>
<!ELEMENT lung_function (id,assessment_id,fev1_litres,fev1_percent_predicted,fvc_litres,fev1_fvc_ratio,pef_litres_per_min,pef_percent_predicted,pef_variability_percent,reversibility_test_done,reversibility_percent,spirometry_date,spirometry_notes,created_at,updated_at)>
<!ELEMENT fev1_litres (#PCDATA)>
<!ELEMENT fev1_percent_predicted (#PCDATA)>
<!ELEMENT fvc_litres (#PCDATA)>
<!ELEMENT fev1_fvc_ratio (#PCDATA)>
<!ELEMENT pef_litres_per_min (#PCDATA)>
<!ELEMENT pef_percent_predicted (#PCDATA)>
<!ELEMENT pef_variability_percent (#PCDATA)>
<!ELEMENT reversibility_test_done (#PCDATA)>
<!ELEMENT reversibility_percent (#PCDATA)>
<!ELEMENT spirometry_date (#PCDATA)>
<!ELEMENT spirometry_notes (#PCDATA)>
<!ELEMENT social_history (id,assessment_id,smoking_status,pack_years,vaping_status,passive_smoke_exposure,housing_type,housing_damp_or_mould,pets_in_home,pet_details,occupational_exposures,exercise_frequency,impact_on_daily_life,days_missed_work_or_school,created_at,updated_at)>
<!ELEMENT smoking_status (#PCDATA)>
<!ELEMENT pack_years (#PCDATA)>
<!ELEMENT vaping_status (#PCDATA)>
<!ELEMENT passive_smoke_exposure (#PCDATA)>
<!ELEMENT housing_type (#PCDATA)>
<!ELEMENT housing_damp_or_mould (#PCDATA)>
<!ELEMENT pets_in_home (#PCDATA)>
<!ELEMENT pet_details (#PCDATA)>
<!ELEMENT occupational_exposures (#PCDATA)>
<!ELEMENT exercise_frequency (#PCDATA)>
<!ELEMENT impact_on_daily_life (#PCDATA)>
<!ELEMENT days_missed_work_or_school (#PCDATA)>
<!ELEMENT symptom_frequency (id,assessment_id,act_q1_activity_limitation,act_q2_shortness_of_breath,act_q3_night_symptoms,act_q4_rescue_inhaler_use,act_q5_self_rated_control,daytime_symptom_frequency,nocturnal_symptom_frequency,exercise_induced_symptoms,created_at,updated_at)>
<!ELEMENT act_q1_activity_limitation (#PCDATA)>
<!ELEMENT act_q2_shortness_of_breath (#PCDATA)>
<!ELEMENT act_q3_night_symptoms (#PCDATA)>
<!ELEMENT act_q4_rescue_inhaler_use (#PCDATA)>
<!ELEMENT act_q5_self_rated_control (#PCDATA)>
<!ELEMENT daytime_symptom_frequency (#PCDATA)>
<!ELEMENT nocturnal_symptom_frequency (#PCDATA)>
<!ELEMENT exercise_induced_symptoms (#PCDATA)>
<!ELEMENT triggers (id,assessment_id,trigger_dust_mites,trigger_pollen,trigger_animal_dander,trigger_mould,trigger_cold_air,trigger_exercise,trigger_infections,trigger_tobacco_smoke,trigger_occupational,occupational_trigger_details,trigger_stress,trigger_nsaids,other_triggers,created_at,updated_at)>
<!ELEMENT trigger_dust_mites (#PCDATA)>
<!ELEMENT trigger_pollen (#PCDATA)>
<!ELEMENT trigger_animal_dander (#PCDATA)>
<!ELEMENT trigger_mould (#PCDATA)>
<!ELEMENT trigger_cold_air (#PCDATA)>
<!ELEMENT trigger_exercise (#PCDATA)>
<!ELEMENT trigger_infections (#PCDATA)>
<!ELEMENT trigger_tobacco_smoke (#PCDATA)>
<!ELEMENT trigger_occupational (#PCDATA)>
<!ELEMENT occupational_trigger_details (#PCDATA)>
<!ELEMENT trigger_stress (#PCDATA)>
<!ELEMENT trigger_nsaids (#PCDATA)>
<!ELEMENT other_triggers (#PCDATA)>
