forms/asthma-assessment/xml-representations/assessment_allergies.dtd

<!ELEMENT assessment_allergies (id,assessment_id,has_atopic_history,has_eczema,has_allergic_rhinitis,has_food_allergies,food_allergy_details,has_drug_allergies,drug_allergy_details,has_anaphylaxis_history,anaphylaxis_details,allergy_testing_done,allergy_testing_results,total_ige_level,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_atopic_history (#PCDATA)>
<!ELEMENT has_eczema (#PCDATA)>
<!ELEMENT has_allergic_rhinitis (#PCDATA)>
<!ELEMENT has_food_allergies (#PCDATA)>
<!ELEMENT food_allergy_details (#PCDATA)>
<!ELEMENT has_drug_allergies (#PCDATA)>
<!ELEMENT drug_allergy_details (#PCDATA)>
<!ELEMENT has_anaphylaxis_history (#PCDATA)>
<!ELEMENT anaphylaxis_details (#PCDATA)>
<!ELEMENT allergy_testing_done (#PCDATA)>
<!ELEMENT allergy_testing_results (#PCDATA)>
<!ELEMENT total_ige_level (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
