forms/first-responder-assessment/xml-representations/assessment_communication_skills.dtd

<!ELEMENT assessment_communication_skills (id,assessment_id,patient_communication,relative_communication,handover_competency,documentation_competency,multidisciplinary_teamwork,conflict_resolution,safeguarding_awareness,breaking_bad_news,communication_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT patient_communication (#PCDATA)>
<!ELEMENT relative_communication (#PCDATA)>
<!ELEMENT handover_competency (#PCDATA)>
<!ELEMENT documentation_competency (#PCDATA)>
<!ELEMENT multidisciplinary_teamwork (#PCDATA)>
<!ELEMENT conflict_resolution (#PCDATA)>
<!ELEMENT safeguarding_awareness (#PCDATA)>
<!ELEMENT breaking_bad_news (#PCDATA)>
<!ELEMENT communication_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
