forms/first-responder-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,clinical_skills,communication_skills,cpd_training,demographics,equipment_vehicle,fitness_decision,occupational_health,physical_fitness,psychological_readiness,role_qualifications)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT clinical_skills (id,assessment_id,basic_life_support,advanced_life_support,airway_management,iv_cannulation,drug_administration,trauma_assessment,immobilisation_splinting,ecg_interpretation,patient_assessment,triage_competency,paediatric_competency,obstetric_competency,clinical_skills_notes,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT basic_life_support (#PCDATA)>
<!ELEMENT advanced_life_support (#PCDATA)>
<!ELEMENT airway_management (#PCDATA)>
<!ELEMENT iv_cannulation (#PCDATA)>
<!ELEMENT drug_administration (#PCDATA)>
<!ELEMENT trauma_assessment (#PCDATA)>
<!ELEMENT immobilisation_splinting (#PCDATA)>
<!ELEMENT ecg_interpretation (#PCDATA)>
<!ELEMENT patient_assessment (#PCDATA)>
<!ELEMENT triage_competency (#PCDATA)>
<!ELEMENT paediatric_competency (#PCDATA)>
<!ELEMENT obstetric_competency (#PCDATA)>
<!ELEMENT clinical_skills_notes (#PCDATA)>
<!ELEMENT communication_skills (id,assessment_id,patient_communication,relative_communication,handover_competency,documentation_competency,multidisciplinary_teamwork,conflict_resolution,safeguarding_awareness,breaking_bad_news,communication_notes,created_at,updated_at)>
<!ELEMENT patient_communication (#PCDATA)>
<!ELEMENT relative_communication (#PCDATA)>
<!ELEMENT handover_competency (#PCDATA)>
<!ELEMENT documentation_competency (#PCDATA)>
<!ELEMENT multidisciplinary_teamwork (#PCDATA)>
<!ELEMENT conflict_resolution (#PCDATA)>
<!ELEMENT safeguarding_awareness (#PCDATA)>
<!ELEMENT breaking_bad_news (#PCDATA)>
<!ELEMENT communication_notes (#PCDATA)>
<!ELEMENT cpd_training (id,assessment_id,cpd_hours_last_year,cpd_hours_required,mandatory_training_complete,bls_recertification_date,als_recertification_date,manual_handling_recertification_date,safeguarding_training_date,infection_control_training_date,major_incident_training,major_incident_training_date,mentoring_capability,clinical_supervision_attendance,reflective_practice,cpd_training_notes,created_at,updated_at)>
<!ELEMENT cpd_hours_last_year (#PCDATA)>
<!ELEMENT cpd_hours_required (#PCDATA)>
<!ELEMENT mandatory_training_complete (#PCDATA)>
<!ELEMENT bls_recertification_date (#PCDATA)>
<!ELEMENT als_recertification_date (#PCDATA)>
<!ELEMENT manual_handling_recertification_date (#PCDATA)>
<!ELEMENT safeguarding_training_date (#PCDATA)>
<!ELEMENT infection_control_training_date (#PCDATA)>
<!ELEMENT major_incident_training (#PCDATA)>
<!ELEMENT major_incident_training_date (#PCDATA)>
<!ELEMENT mentoring_capability (#PCDATA)>
<!ELEMENT clinical_supervision_attendance (#PCDATA)>
<!ELEMENT reflective_practice (#PCDATA)>
<!ELEMENT cpd_training_notes (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,preferred_name,gender_identity,ethnicity,preferred_language,interpreter_required,emergency_contact_name,emergency_contact_phone,emergency_contact_relationship,created_at,updated_at)>
<!ELEMENT preferred_name (#PCDATA)>
<!ELEMENT gender_identity (#PCDATA)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT preferred_language (#PCDATA)>
<!ELEMENT interpreter_required (#PCDATA)>
<!ELEMENT emergency_contact_name (#PCDATA)>
<!ELEMENT emergency_contact_phone (#PCDATA)>
<!ELEMENT emergency_contact_relationship (#PCDATA)>
<!ELEMENT equipment_vehicle (id,assessment_id,defibrillator_competency,monitor_competency,ventilator_competency,suction_competency,stretcher_competency,scoop_competency,ambulance_driving,emergency_driving,vehicle_daily_inspection,equipment_check_competency,radio_communications,equipment_vehicle_notes,created_at,updated_at)>
<!ELEMENT defibrillator_competency (#PCDATA)>
<!ELEMENT monitor_competency (#PCDATA)>
<!ELEMENT ventilator_competency (#PCDATA)>
<!ELEMENT suction_competency (#PCDATA)>
<!ELEMENT stretcher_competency (#PCDATA)>
<!ELEMENT scoop_competency (#PCDATA)>
<!ELEMENT ambulance_driving (#PCDATA)>
<!ELEMENT emergency_driving (#PCDATA)>
<!ELEMENT vehicle_daily_inspection (#PCDATA)>
<!ELEMENT equipment_check_competency (#PCDATA)>
<!ELEMENT radio_communications (#PCDATA)>
<!ELEMENT equipment_vehicle_notes (#PCDATA)>
<!ELEMENT fitness_decision (id,assessment_id,overall_fitness,restrictions_details,reassessment_required,reassessment_date,remedial_actions,referrals_required,assessor_name,assessor_role,assessor_registration,assessment_date,countersignature_name,countersignature_date,fitness_decision_notes,created_at,updated_at)>
<!ELEMENT overall_fitness (#PCDATA)>
<!ELEMENT restrictions_details (#PCDATA)>
<!ELEMENT reassessment_required (#PCDATA)>
<!ELEMENT reassessment_date (#PCDATA)>
<!ELEMENT remedial_actions (#PCDATA)>
<!ELEMENT referrals_required (#PCDATA)>
<!ELEMENT assessor_name (#PCDATA)>
<!ELEMENT assessor_role (#PCDATA)>
<!ELEMENT assessor_registration (#PCDATA)>
<!ELEMENT assessment_date (#PCDATA)>
<!ELEMENT countersignature_name (#PCDATA)>
<!ELEMENT countersignature_date (#PCDATA)>
<!ELEMENT fitness_decision_notes (#PCDATA)>
<!ELEMENT occupational_health (id,assessment_id,vision_test,vision_corrected,hearing_test,hearing_aid_required,immunisation_status,hepatitis_b_immune,current_medications,substance_misuse_screen,musculoskeletal_issues,musculoskeletal_details,respiratory_issues,respiratory_details,skin_conditions,skin_condition_details,sickness_absence_days,occupational_health_notes,created_at,updated_at)>
<!ELEMENT vision_test (#PCDATA)>
<!ELEMENT vision_corrected (#PCDATA)>
<!ELEMENT hearing_test (#PCDATA)>
<!ELEMENT hearing_aid_required (#PCDATA)>
<!ELEMENT immunisation_status (#PCDATA)>
<!ELEMENT hepatitis_b_immune (#PCDATA)>
<!ELEMENT current_medications (#PCDATA)>
<!ELEMENT substance_misuse_screen (#PCDATA)>
<!ELEMENT musculoskeletal_issues (#PCDATA)>
<!ELEMENT musculoskeletal_details (#PCDATA)>
<!ELEMENT respiratory_issues (#PCDATA)>
<!ELEMENT respiratory_details (#PCDATA)>
<!ELEMENT skin_conditions (#PCDATA)>
<!ELEMENT skin_condition_details (#PCDATA)>
<!ELEMENT sickness_absence_days (#PCDATA)>
<!ELEMENT occupational_health_notes (#PCDATA)>
<!ELEMENT physical_fitness (id,assessment_id,cardiovascular_fitness,shuttle_run_level,vo2_max,muscular_strength,grip_strength_kg,manual_handling_competency,patient_carry_ability,flexibility_mobility,balance_coordination,resting_heart_rate_bpm,blood_pressure_systolic,blood_pressure_diastolic,physical_fitness_notes,created_at,updated_at)>
<!ELEMENT cardiovascular_fitness (#PCDATA)>
<!ELEMENT shuttle_run_level (#PCDATA)>
<!ELEMENT vo2_max (#PCDATA)>
<!ELEMENT muscular_strength (#PCDATA)>
<!ELEMENT grip_strength_kg (#PCDATA)>
<!ELEMENT manual_handling_competency (#PCDATA)>
<!ELEMENT patient_carry_ability (#PCDATA)>
<!ELEMENT flexibility_mobility (#PCDATA)>
<!ELEMENT balance_coordination (#PCDATA)>
<!ELEMENT resting_heart_rate_bpm (#PCDATA)>
<!ELEMENT blood_pressure_systolic (#PCDATA)>
<!ELEMENT blood_pressure_diastolic (#PCDATA)>
<!ELEMENT physical_fitness_notes (#PCDATA)>
<!ELEMENT psychological_readiness (id,assessment_id,stress_management,resilience_level,ptsd_screening,ptsd_screening_result,critical_incident_exposure,critical_incident_details,critical_incident_debriefed,sleep_quality,burnout_risk,decision_making_under_pressure,emotional_regulation,psychological_notes,created_at,updated_at)>
<!ELEMENT stress_management (#PCDATA)>
<!ELEMENT resilience_level (#PCDATA)>
<!ELEMENT ptsd_screening (#PCDATA)>
<!ELEMENT ptsd_screening_result (#PCDATA)>
<!ELEMENT critical_incident_exposure (#PCDATA)>
<!ELEMENT critical_incident_details (#PCDATA)>
<!ELEMENT critical_incident_debriefed (#PCDATA)>
<!ELEMENT sleep_quality (#PCDATA)>
<!ELEMENT burnout_risk (#PCDATA)>
<!ELEMENT decision_making_under_pressure (#PCDATA)>
<!ELEMENT emotional_regulation (#PCDATA)>
<!ELEMENT psychological_notes (#PCDATA)>
<!ELEMENT role_qualifications (id,assessment_id,role_type,role_type_other,employer_organisation,station_base,years_of_service,registration_number,registration_body,registration_expiry_date,highest_qualification,qualification_details,driving_licence_category,blue_light_trained,role_notes,created_at,updated_at)>
<!ELEMENT role_type (#PCDATA)>
<!ELEMENT role_type_other (#PCDATA)>
<!ELEMENT employer_organisation (#PCDATA)>
<!ELEMENT station_base (#PCDATA)>
<!ELEMENT years_of_service (#PCDATA)>
<!ELEMENT registration_number (#PCDATA)>
<!ELEMENT registration_body (#PCDATA)>
<!ELEMENT registration_expiry_date (#PCDATA)>
<!ELEMENT highest_qualification (#PCDATA)>
<!ELEMENT qualification_details (#PCDATA)>
<!ELEMENT driving_licence_category (#PCDATA)>
<!ELEMENT blue_light_trained (#PCDATA)>
<!ELEMENT role_notes (#PCDATA)>
