forms/first-responder-assessment/xml-representations/assessment_clinical_skills.dtd

<!ELEMENT assessment_clinical_skills (id,assessment_id,basic_life_support,advanced_life_support,airway_management,iv_cannulation,drug_administration,trauma_assessment,immobilisation_splinting,ecg_interpretation,patient_assessment,triage_competency,paediatric_competency,obstetric_competency,clinical_skills_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT basic_life_support (#PCDATA)>
<!ELEMENT advanced_life_support (#PCDATA)>
<!ELEMENT airway_management (#PCDATA)>
<!ELEMENT iv_cannulation (#PCDATA)>
<!ELEMENT drug_administration (#PCDATA)>
<!ELEMENT trauma_assessment (#PCDATA)>
<!ELEMENT immobilisation_splinting (#PCDATA)>
<!ELEMENT ecg_interpretation (#PCDATA)>
<!ELEMENT patient_assessment (#PCDATA)>
<!ELEMENT triage_competency (#PCDATA)>
<!ELEMENT paediatric_competency (#PCDATA)>
<!ELEMENT obstetric_competency (#PCDATA)>
<!ELEMENT clinical_skills_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
