forms/first-responder-assessment/xml-representations/assessment_occupational_health.dtd

<!ELEMENT assessment_occupational_health (id,assessment_id,vision_test,vision_corrected,hearing_test,hearing_aid_required,immunisation_status,hepatitis_b_immune,current_medications,substance_misuse_screen,musculoskeletal_issues,musculoskeletal_details,respiratory_issues,respiratory_details,skin_conditions,skin_condition_details,sickness_absence_days,occupational_health_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT vision_test (#PCDATA)>
<!ELEMENT vision_corrected (#PCDATA)>
<!ELEMENT hearing_test (#PCDATA)>
<!ELEMENT hearing_aid_required (#PCDATA)>
<!ELEMENT immunisation_status (#PCDATA)>
<!ELEMENT hepatitis_b_immune (#PCDATA)>
<!ELEMENT current_medications (#PCDATA)>
<!ELEMENT substance_misuse_screen (#PCDATA)>
<!ELEMENT musculoskeletal_issues (#PCDATA)>
<!ELEMENT musculoskeletal_details (#PCDATA)>
<!ELEMENT respiratory_issues (#PCDATA)>
<!ELEMENT respiratory_details (#PCDATA)>
<!ELEMENT skin_conditions (#PCDATA)>
<!ELEMENT skin_condition_details (#PCDATA)>
<!ELEMENT sickness_absence_days (#PCDATA)>
<!ELEMENT occupational_health_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
