forms/first-responder-assessment/xml-representations/assessment_cpd_training.dtd

<!ELEMENT assessment_cpd_training (id,assessment_id,cpd_hours_last_year,cpd_hours_required,mandatory_training_complete,bls_recertification_date,als_recertification_date,manual_handling_recertification_date,safeguarding_training_date,infection_control_training_date,major_incident_training,major_incident_training_date,mentoring_capability,clinical_supervision_attendance,reflective_practice,cpd_training_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT cpd_hours_last_year (#PCDATA)>
<!ELEMENT cpd_hours_required (#PCDATA)>
<!ELEMENT mandatory_training_complete (#PCDATA)>
<!ELEMENT bls_recertification_date (#PCDATA)>
<!ELEMENT als_recertification_date (#PCDATA)>
<!ELEMENT manual_handling_recertification_date (#PCDATA)>
<!ELEMENT safeguarding_training_date (#PCDATA)>
<!ELEMENT infection_control_training_date (#PCDATA)>
<!ELEMENT major_incident_training (#PCDATA)>
<!ELEMENT major_incident_training_date (#PCDATA)>
<!ELEMENT mentoring_capability (#PCDATA)>
<!ELEMENT clinical_supervision_attendance (#PCDATA)>
<!ELEMENT reflective_practice (#PCDATA)>
<!ELEMENT cpd_training_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
