forms/first-responder-assessment/xml-representations/assessment_equipment_vehicle.dtd

<!ELEMENT assessment_equipment_vehicle (id,assessment_id,defibrillator_competency,monitor_competency,ventilator_competency,suction_competency,stretcher_competency,scoop_competency,ambulance_driving,emergency_driving,vehicle_daily_inspection,equipment_check_competency,radio_communications,equipment_vehicle_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT defibrillator_competency (#PCDATA)>
<!ELEMENT monitor_competency (#PCDATA)>
<!ELEMENT ventilator_competency (#PCDATA)>
<!ELEMENT suction_competency (#PCDATA)>
<!ELEMENT stretcher_competency (#PCDATA)>
<!ELEMENT scoop_competency (#PCDATA)>
<!ELEMENT ambulance_driving (#PCDATA)>
<!ELEMENT emergency_driving (#PCDATA)>
<!ELEMENT vehicle_daily_inspection (#PCDATA)>
<!ELEMENT equipment_check_competency (#PCDATA)>
<!ELEMENT radio_communications (#PCDATA)>
<!ELEMENT equipment_vehicle_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
