forms/first-responder-assessment/xml-representations/assessment_role_qualifications.dtd

<!ELEMENT assessment_role_qualifications (id,assessment_id,role_type,role_type_other,employer_organisation,station_base,years_of_service,registration_number,registration_body,registration_expiry_date,highest_qualification,qualification_details,driving_licence_category,blue_light_trained,role_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT role_type (#PCDATA)>
<!ELEMENT role_type_other (#PCDATA)>
<!ELEMENT employer_organisation (#PCDATA)>
<!ELEMENT station_base (#PCDATA)>
<!ELEMENT years_of_service (#PCDATA)>
<!ELEMENT registration_number (#PCDATA)>
<!ELEMENT registration_body (#PCDATA)>
<!ELEMENT registration_expiry_date (#PCDATA)>
<!ELEMENT highest_qualification (#PCDATA)>
<!ELEMENT qualification_details (#PCDATA)>
<!ELEMENT driving_licence_category (#PCDATA)>
<!ELEMENT blue_light_trained (#PCDATA)>
<!ELEMENT role_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
