forms/first-responder-assessment/xml-representations/assessment_physical_fitness.dtd

<!ELEMENT assessment_physical_fitness (id,assessment_id,cardiovascular_fitness,shuttle_run_level,vo2_max,muscular_strength,grip_strength_kg,manual_handling_competency,patient_carry_ability,flexibility_mobility,balance_coordination,resting_heart_rate_bpm,blood_pressure_systolic,blood_pressure_diastolic,physical_fitness_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT cardiovascular_fitness (#PCDATA)>
<!ELEMENT shuttle_run_level (#PCDATA)>
<!ELEMENT vo2_max (#PCDATA)>
<!ELEMENT muscular_strength (#PCDATA)>
<!ELEMENT grip_strength_kg (#PCDATA)>
<!ELEMENT manual_handling_competency (#PCDATA)>
<!ELEMENT patient_carry_ability (#PCDATA)>
<!ELEMENT flexibility_mobility (#PCDATA)>
<!ELEMENT balance_coordination (#PCDATA)>
<!ELEMENT resting_heart_rate_bpm (#PCDATA)>
<!ELEMENT blood_pressure_systolic (#PCDATA)>
<!ELEMENT blood_pressure_diastolic (#PCDATA)>
<!ELEMENT physical_fitness_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
