forms/first-responder-assessment/xml-representations/assessment_demographics.dtd

<!ELEMENT assessment_demographics (id,assessment_id,preferred_name,gender_identity,ethnicity,preferred_language,interpreter_required,emergency_contact_name,emergency_contact_phone,emergency_contact_relationship,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT preferred_name (#PCDATA)>
<!ELEMENT gender_identity (#PCDATA)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT preferred_language (#PCDATA)>
<!ELEMENT interpreter_required (#PCDATA)>
<!ELEMENT emergency_contact_name (#PCDATA)>
<!ELEMENT emergency_contact_phone (#PCDATA)>
<!ELEMENT emergency_contact_relationship (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
