forms/first-responder-assessment/xml-representations/assessment_fitness_decision.dtd

<!ELEMENT assessment_fitness_decision (id,assessment_id,overall_fitness,restrictions_details,reassessment_required,reassessment_date,remedial_actions,referrals_required,assessor_name,assessor_role,assessor_registration,assessment_date,countersignature_name,countersignature_date,fitness_decision_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT overall_fitness (#PCDATA)>
<!ELEMENT restrictions_details (#PCDATA)>
<!ELEMENT reassessment_required (#PCDATA)>
<!ELEMENT reassessment_date (#PCDATA)>
<!ELEMENT remedial_actions (#PCDATA)>
<!ELEMENT referrals_required (#PCDATA)>
<!ELEMENT assessor_name (#PCDATA)>
<!ELEMENT assessor_role (#PCDATA)>
<!ELEMENT assessor_registration (#PCDATA)>
<!ELEMENT assessment_date (#PCDATA)>
<!ELEMENT countersignature_name (#PCDATA)>
<!ELEMENT countersignature_date (#PCDATA)>
<!ELEMENT fitness_decision_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
