forms/dermatology-assessment/xml-representations/assessment_medical_history.dtd

<!ELEMENT assessment_medical_history (id,assessment_id,has_eczema,eczema_details,has_psoriasis,psoriasis_details,has_acne,acne_details,has_skin_cancer_history,skin_cancer_details,has_autoimmune_condition,autoimmune_details,has_diabetes,has_thyroid_disease,has_immunosuppression,immunosuppression_details,previous_skin_biopsies,biopsy_details,previous_dermatological_procedures,other_conditions,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_eczema (#PCDATA)>
<!ELEMENT eczema_details (#PCDATA)>
<!ELEMENT has_psoriasis (#PCDATA)>
<!ELEMENT psoriasis_details (#PCDATA)>
<!ELEMENT has_acne (#PCDATA)>
<!ELEMENT acne_details (#PCDATA)>
<!ELEMENT has_skin_cancer_history (#PCDATA)>
<!ELEMENT skin_cancer_details (#PCDATA)>
<!ELEMENT has_autoimmune_condition (#PCDATA)>
<!ELEMENT autoimmune_details (#PCDATA)>
<!ELEMENT has_diabetes (#PCDATA)>
<!ELEMENT has_thyroid_disease (#PCDATA)>
<!ELEMENT has_immunosuppression (#PCDATA)>
<!ELEMENT immunosuppression_details (#PCDATA)>
<!ELEMENT previous_skin_biopsies (#PCDATA)>
<!ELEMENT biopsy_details (#PCDATA)>
<!ELEMENT previous_dermatological_procedures (#PCDATA)>
<!ELEMENT other_conditions (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
