forms/dermatology-assessment/xml-representations/assessment_family_history.dtd

<!ELEMENT assessment_family_history (id,assessment_id,family_eczema,family_eczema_relationship,family_psoriasis,family_psoriasis_relationship,family_skin_cancer,family_skin_cancer_type,family_skin_cancer_relationship,family_autoimmune,family_autoimmune_details,family_atopy,family_atopy_details,family_alopecia,family_vitiligo,other_family_skin_conditions,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT family_eczema (#PCDATA)>
<!ELEMENT family_eczema_relationship (#PCDATA)>
<!ELEMENT family_psoriasis (#PCDATA)>
<!ELEMENT family_psoriasis_relationship (#PCDATA)>
<!ELEMENT family_skin_cancer (#PCDATA)>
<!ELEMENT family_skin_cancer_type (#PCDATA)>
<!ELEMENT family_skin_cancer_relationship (#PCDATA)>
<!ELEMENT family_autoimmune (#PCDATA)>
<!ELEMENT family_autoimmune_details (#PCDATA)>
<!ELEMENT family_atopy (#PCDATA)>
<!ELEMENT family_atopy_details (#PCDATA)>
<!ELEMENT family_alopecia (#PCDATA)>
<!ELEMENT family_vitiligo (#PCDATA)>
<!ELEMENT other_family_skin_conditions (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
