forms/dermatology-assessment/xml-representations/assessment_allergies.dtd

<!ELEMENT assessment_allergies (id,assessment_id,has_drug_allergies,drug_allergy_details,has_contact_allergies,contact_allergy_details,patch_testing_performed,patch_testing_results,has_latex_allergy,has_nickel_allergy,has_fragrance_allergy,has_preservative_allergy,has_cosmetic_sensitivities,cosmetic_sensitivity_details,has_food_allergies,food_allergy_details,other_allergies,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_drug_allergies (#PCDATA)>
<!ELEMENT drug_allergy_details (#PCDATA)>
<!ELEMENT has_contact_allergies (#PCDATA)>
<!ELEMENT contact_allergy_details (#PCDATA)>
<!ELEMENT patch_testing_performed (#PCDATA)>
<!ELEMENT patch_testing_results (#PCDATA)>
<!ELEMENT has_latex_allergy (#PCDATA)>
<!ELEMENT has_nickel_allergy (#PCDATA)>
<!ELEMENT has_fragrance_allergy (#PCDATA)>
<!ELEMENT has_preservative_allergy (#PCDATA)>
<!ELEMENT has_cosmetic_sensitivities (#PCDATA)>
<!ELEMENT cosmetic_sensitivity_details (#PCDATA)>
<!ELEMENT has_food_allergies (#PCDATA)>
<!ELEMENT food_allergy_details (#PCDATA)>
<!ELEMENT other_allergies (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
