forms/dermatology-assessment/xml-representations/assessment_social_history.dtd

<!ELEMENT assessment_social_history (id,assessment_id,occupation,occupational_skin_exposure,occupational_exposure_details,sun_exposure_level,sunscreen_use,history_of_sunburn,sunburn_frequency,sunbed_use,skin_type,tobacco_use,alcohol_use,stress_level,psychological_impact,hobbies_affecting_skin,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT occupation (#PCDATA)>
<!ELEMENT occupational_skin_exposure (#PCDATA)>
<!ELEMENT occupational_exposure_details (#PCDATA)>
<!ELEMENT sun_exposure_level (#PCDATA)>
<!ELEMENT sunscreen_use (#PCDATA)>
<!ELEMENT history_of_sunburn (#PCDATA)>
<!ELEMENT sunburn_frequency (#PCDATA)>
<!ELEMENT sunbed_use (#PCDATA)>
<!ELEMENT skin_type (#PCDATA)>
<!ELEMENT tobacco_use (#PCDATA)>
<!ELEMENT alcohol_use (#PCDATA)>
<!ELEMENT stress_level (#PCDATA)>
<!ELEMENT psychological_impact (#PCDATA)>
<!ELEMENT hobbies_affecting_skin (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
