forms/dermatology-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,allergies,assessment_chief_complaint,current_medications,demographics,dlqi_questionnaire,family_history,lesion_characteristics,medical_history,social_history)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT allergies (id,assessment_id,has_drug_allergies,drug_allergy_details,has_contact_allergies,contact_allergy_details,patch_testing_performed,patch_testing_results,has_latex_allergy,has_nickel_allergy,has_fragrance_allergy,has_preservative_allergy,has_cosmetic_sensitivities,cosmetic_sensitivity_details,has_food_allergies,food_allergy_details,other_allergies,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_drug_allergies (#PCDATA)>
<!ELEMENT drug_allergy_details (#PCDATA)>
<!ELEMENT has_contact_allergies (#PCDATA)>
<!ELEMENT contact_allergy_details (#PCDATA)>
<!ELEMENT patch_testing_performed (#PCDATA)>
<!ELEMENT patch_testing_results (#PCDATA)>
<!ELEMENT has_latex_allergy (#PCDATA)>
<!ELEMENT has_nickel_allergy (#PCDATA)>
<!ELEMENT has_fragrance_allergy (#PCDATA)>
<!ELEMENT has_preservative_allergy (#PCDATA)>
<!ELEMENT has_cosmetic_sensitivities (#PCDATA)>
<!ELEMENT cosmetic_sensitivity_details (#PCDATA)>
<!ELEMENT has_food_allergies (#PCDATA)>
<!ELEMENT food_allergy_details (#PCDATA)>
<!ELEMENT other_allergies (#PCDATA)>
<!ELEMENT assessment_chief_complaint (id,assessment_id,chief_complaint,onset_date,duration,body_area_affected,symptom_progression,pruritus,pruritus_severity,pain,bleeding,previous_treatment,previous_treatment_response,created_at,updated_at)>
<!ELEMENT chief_complaint (#PCDATA)>
<!ELEMENT onset_date (#PCDATA)>
<!ELEMENT duration (#PCDATA)>
<!ELEMENT body_area_affected (#PCDATA)>
<!ELEMENT symptom_progression (#PCDATA)>
<!ELEMENT pruritus (#PCDATA)>
<!ELEMENT pruritus_severity (#PCDATA)>
<!ELEMENT pain (#PCDATA)>
<!ELEMENT bleeding (#PCDATA)>
<!ELEMENT previous_treatment (#PCDATA)>
<!ELEMENT previous_treatment_response (#PCDATA)>
<!ELEMENT current_medications (id,assessment_id,takes_topical_steroids,topical_steroid_name,topical_steroid_potency,takes_systemic_immunosuppressants,immunosuppressant_name,takes_biologics,biologic_name,takes_retinoids,retinoid_name,takes_antibiotics,antibiotic_name,takes_antihistamines,antihistamine_name,uses_emollients,emollient_name,phototherapy_history,phototherapy_details,other_medications,created_at,updated_at)>
<!ELEMENT takes_topical_steroids (#PCDATA)>
<!ELEMENT topical_steroid_name (#PCDATA)>
<!ELEMENT topical_steroid_potency (#PCDATA)>
<!ELEMENT takes_systemic_immunosuppressants (#PCDATA)>
<!ELEMENT immunosuppressant_name (#PCDATA)>
<!ELEMENT takes_biologics (#PCDATA)>
<!ELEMENT biologic_name (#PCDATA)>
<!ELEMENT takes_retinoids (#PCDATA)>
<!ELEMENT retinoid_name (#PCDATA)>
<!ELEMENT takes_antibiotics (#PCDATA)>
<!ELEMENT antibiotic_name (#PCDATA)>
<!ELEMENT takes_antihistamines (#PCDATA)>
<!ELEMENT antihistamine_name (#PCDATA)>
<!ELEMENT uses_emollients (#PCDATA)>
<!ELEMENT emollient_name (#PCDATA)>
<!ELEMENT phototherapy_history (#PCDATA)>
<!ELEMENT phototherapy_details (#PCDATA)>
<!ELEMENT other_medications (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,full_name,date_of_birth,nhs_number,address,telephone,email,gp_name,gp_practice,created_at,updated_at)>
<!ELEMENT full_name (#PCDATA)>
<!ELEMENT date_of_birth (#PCDATA)>
<!ELEMENT nhs_number (#PCDATA)>
<!ELEMENT address (#PCDATA)>
<!ELEMENT telephone (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT gp_name (#PCDATA)>
<!ELEMENT gp_practice (#PCDATA)>
<!ELEMENT dlqi_questionnaire (id,assessment_id,q1_symptoms,q2_embarrassment,q3_daily_activities,q4_clothing,q5_social_leisure,q6_sport,q7_work_study,q8_relationships,q9_sexual,q10_treatment,dlqi_total,created_at,updated_at)>
<!ELEMENT q1_symptoms (#PCDATA)>
<!ELEMENT q2_embarrassment (#PCDATA)>
<!ELEMENT q3_daily_activities (#PCDATA)>
<!ELEMENT q4_clothing (#PCDATA)>
<!ELEMENT q5_social_leisure (#PCDATA)>
<!ELEMENT q6_sport (#PCDATA)>
<!ELEMENT q7_work_study (#PCDATA)>
<!ELEMENT q8_relationships (#PCDATA)>
<!ELEMENT q9_sexual (#PCDATA)>
<!ELEMENT q10_treatment (#PCDATA)>
<!ELEMENT dlqi_total (#PCDATA)>
<!ELEMENT family_history (id,assessment_id,family_eczema,family_eczema_relationship,family_psoriasis,family_psoriasis_relationship,family_skin_cancer,family_skin_cancer_type,family_skin_cancer_relationship,family_autoimmune,family_autoimmune_details,family_atopy,family_atopy_details,family_alopecia,family_vitiligo,other_family_skin_conditions,created_at,updated_at)>
<!ELEMENT family_eczema (#PCDATA)>
<!ELEMENT family_eczema_relationship (#PCDATA)>
<!ELEMENT family_psoriasis (#PCDATA)>
<!ELEMENT family_psoriasis_relationship (#PCDATA)>
<!ELEMENT family_skin_cancer (#PCDATA)>
<!ELEMENT family_skin_cancer_type (#PCDATA)>
<!ELEMENT family_skin_cancer_relationship (#PCDATA)>
<!ELEMENT family_autoimmune (#PCDATA)>
<!ELEMENT family_autoimmune_details (#PCDATA)>
<!ELEMENT family_atopy (#PCDATA)>
<!ELEMENT family_atopy_details (#PCDATA)>
<!ELEMENT family_alopecia (#PCDATA)>
<!ELEMENT family_vitiligo (#PCDATA)>
<!ELEMENT other_family_skin_conditions (#PCDATA)>
<!ELEMENT lesion_characteristics (id,assessment_id,lesion_type,lesion_type_other,lesion_colour,lesion_shape,lesion_border,lesion_surface,lesion_distribution,lesion_size_mm,number_of_lesions,body_site,dermoscopy_performed,dermoscopy_findings,photography_taken,clinical_notes,created_at,updated_at)>
<!ELEMENT lesion_type (#PCDATA)>
<!ELEMENT lesion_type_other (#PCDATA)>
<!ELEMENT lesion_colour (#PCDATA)>
<!ELEMENT lesion_shape (#PCDATA)>
<!ELEMENT lesion_border (#PCDATA)>
<!ELEMENT lesion_surface (#PCDATA)>
<!ELEMENT lesion_distribution (#PCDATA)>
<!ELEMENT lesion_size_mm (#PCDATA)>
<!ELEMENT number_of_lesions (#PCDATA)>
<!ELEMENT body_site (#PCDATA)>
<!ELEMENT dermoscopy_performed (#PCDATA)>
<!ELEMENT dermoscopy_findings (#PCDATA)>
<!ELEMENT photography_taken (#PCDATA)>
<!ELEMENT clinical_notes (#PCDATA)>
<!ELEMENT medical_history (id,assessment_id,has_eczema,eczema_details,has_psoriasis,psoriasis_details,has_acne,acne_details,has_skin_cancer_history,skin_cancer_details,has_autoimmune_condition,autoimmune_details,has_diabetes,has_thyroid_disease,has_immunosuppression,immunosuppression_details,previous_skin_biopsies,biopsy_details,previous_dermatological_procedures,other_conditions,created_at,updated_at)>
<!ELEMENT has_eczema (#PCDATA)>
<!ELEMENT eczema_details (#PCDATA)>
<!ELEMENT has_psoriasis (#PCDATA)>
<!ELEMENT psoriasis_details (#PCDATA)>
<!ELEMENT has_acne (#PCDATA)>
<!ELEMENT acne_details (#PCDATA)>
<!ELEMENT has_skin_cancer_history (#PCDATA)>
<!ELEMENT skin_cancer_details (#PCDATA)>
<!ELEMENT has_autoimmune_condition (#PCDATA)>
<!ELEMENT autoimmune_details (#PCDATA)>
<!ELEMENT has_diabetes (#PCDATA)>
<!ELEMENT has_thyroid_disease (#PCDATA)>
<!ELEMENT has_immunosuppression (#PCDATA)>
<!ELEMENT immunosuppression_details (#PCDATA)>
<!ELEMENT previous_skin_biopsies (#PCDATA)>
<!ELEMENT biopsy_details (#PCDATA)>
<!ELEMENT previous_dermatological_procedures (#PCDATA)>
<!ELEMENT other_conditions (#PCDATA)>
<!ELEMENT social_history (id,assessment_id,occupation,occupational_skin_exposure,occupational_exposure_details,sun_exposure_level,sunscreen_use,history_of_sunburn,sunburn_frequency,sunbed_use,skin_type,tobacco_use,alcohol_use,stress_level,psychological_impact,hobbies_affecting_skin,additional_notes,created_at,updated_at)>
<!ELEMENT occupation (#PCDATA)>
<!ELEMENT occupational_skin_exposure (#PCDATA)>
<!ELEMENT occupational_exposure_details (#PCDATA)>
<!ELEMENT sun_exposure_level (#PCDATA)>
<!ELEMENT sunscreen_use (#PCDATA)>
<!ELEMENT history_of_sunburn (#PCDATA)>
<!ELEMENT sunburn_frequency (#PCDATA)>
<!ELEMENT sunbed_use (#PCDATA)>
<!ELEMENT skin_type (#PCDATA)>
<!ELEMENT tobacco_use (#PCDATA)>
<!ELEMENT alcohol_use (#PCDATA)>
<!ELEMENT stress_level (#PCDATA)>
<!ELEMENT psychological_impact (#PCDATA)>
<!ELEMENT hobbies_affecting_skin (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
