forms/dermatology-assessment/xml-representations/assessment_chief_complaint.dtd

<!ELEMENT assessment_chief_complaint (id,assessment_id,chief_complaint,onset_date,duration,body_area_affected,symptom_progression,pruritus,pruritus_severity,pain,bleeding,previous_treatment,previous_treatment_response,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT chief_complaint (#PCDATA)>
<!ELEMENT onset_date (#PCDATA)>
<!ELEMENT duration (#PCDATA)>
<!ELEMENT body_area_affected (#PCDATA)>
<!ELEMENT symptom_progression (#PCDATA)>
<!ELEMENT pruritus (#PCDATA)>
<!ELEMENT pruritus_severity (#PCDATA)>
<!ELEMENT pain (#PCDATA)>
<!ELEMENT bleeding (#PCDATA)>
<!ELEMENT previous_treatment (#PCDATA)>
<!ELEMENT previous_treatment_response (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
