forms/dermatology-assessment/xml-representations/assessment_lesion_characteristics.dtd

<!ELEMENT assessment_lesion_characteristics (id,assessment_id,lesion_type,lesion_type_other,lesion_colour,lesion_shape,lesion_border,lesion_surface,lesion_distribution,lesion_size_mm,number_of_lesions,body_site,dermoscopy_performed,dermoscopy_findings,photography_taken,clinical_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT lesion_type (#PCDATA)>
<!ELEMENT lesion_type_other (#PCDATA)>
<!ELEMENT lesion_colour (#PCDATA)>
<!ELEMENT lesion_shape (#PCDATA)>
<!ELEMENT lesion_border (#PCDATA)>
<!ELEMENT lesion_surface (#PCDATA)>
<!ELEMENT lesion_distribution (#PCDATA)>
<!ELEMENT lesion_size_mm (#PCDATA)>
<!ELEMENT number_of_lesions (#PCDATA)>
<!ELEMENT body_site (#PCDATA)>
<!ELEMENT dermoscopy_performed (#PCDATA)>
<!ELEMENT dermoscopy_findings (#PCDATA)>
<!ELEMENT photography_taken (#PCDATA)>
<!ELEMENT clinical_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
