forms/dermatology-assessment/xml-representations/assessment_current_medications.dtd

<!ELEMENT assessment_current_medications (id,assessment_id,takes_topical_steroids,topical_steroid_name,topical_steroid_potency,takes_systemic_immunosuppressants,immunosuppressant_name,takes_biologics,biologic_name,takes_retinoids,retinoid_name,takes_antibiotics,antibiotic_name,takes_antihistamines,antihistamine_name,uses_emollients,emollient_name,phototherapy_history,phototherapy_details,other_medications,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT takes_topical_steroids (#PCDATA)>
<!ELEMENT topical_steroid_name (#PCDATA)>
<!ELEMENT topical_steroid_potency (#PCDATA)>
<!ELEMENT takes_systemic_immunosuppressants (#PCDATA)>
<!ELEMENT immunosuppressant_name (#PCDATA)>
<!ELEMENT takes_biologics (#PCDATA)>
<!ELEMENT biologic_name (#PCDATA)>
<!ELEMENT takes_retinoids (#PCDATA)>
<!ELEMENT retinoid_name (#PCDATA)>
<!ELEMENT takes_antibiotics (#PCDATA)>
<!ELEMENT antibiotic_name (#PCDATA)>
<!ELEMENT takes_antihistamines (#PCDATA)>
<!ELEMENT antihistamine_name (#PCDATA)>
<!ELEMENT uses_emollients (#PCDATA)>
<!ELEMENT emollient_name (#PCDATA)>
<!ELEMENT phototherapy_history (#PCDATA)>
<!ELEMENT phototherapy_details (#PCDATA)>
<!ELEMENT other_medications (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
