forms/semaglutide-assessment/xml-representations/assessment_current_medications.dtd

<!ELEMENT assessment_current_medications (id,assessment_id,currently_on_insulin,insulin_type,insulin_dose,currently_on_sulfonylurea,sulfonylurea_name,currently_on_metformin,metformin_dose_mg,currently_on_sglt2_inhibitor,sglt2_inhibitor_name,currently_on_other_glp1,other_glp1_name,antihypertensive_use,antihypertensive_details,statin_use,anticoagulant_use,oral_contraceptive_use,other_medications,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT currently_on_insulin (#PCDATA)>
<!ELEMENT insulin_type (#PCDATA)>
<!ELEMENT insulin_dose (#PCDATA)>
<!ELEMENT currently_on_sulfonylurea (#PCDATA)>
<!ELEMENT sulfonylurea_name (#PCDATA)>
<!ELEMENT currently_on_metformin (#PCDATA)>
<!ELEMENT metformin_dose_mg (#PCDATA)>
<!ELEMENT currently_on_sglt2_inhibitor (#PCDATA)>
<!ELEMENT sglt2_inhibitor_name (#PCDATA)>
<!ELEMENT currently_on_other_glp1 (#PCDATA)>
<!ELEMENT other_glp1_name (#PCDATA)>
<!ELEMENT antihypertensive_use (#PCDATA)>
<!ELEMENT antihypertensive_details (#PCDATA)>
<!ELEMENT statin_use (#PCDATA)>
<!ELEMENT anticoagulant_use (#PCDATA)>
<!ELEMENT oral_contraceptive_use (#PCDATA)>
<!ELEMENT other_medications (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
