forms/semaglutide-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,body_composition,cardiovascular_risk,contraindications_screening,current_medications,demographics,gi_history,indication_goals,mental_health_screening,metabolic_profile,treatment_plan)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT body_composition (id,assessment_id,current_weight_kg,height_cm,bmi,waist_circumference_cm,hip_circumference_cm,waist_hip_ratio,body_fat_percentage,highest_lifetime_weight_kg,weight_change_last_6_months_kg,bmi_category,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT current_weight_kg (#PCDATA)>
<!ELEMENT height_cm (#PCDATA)>
<!ELEMENT bmi (#PCDATA)>
<!ELEMENT waist_circumference_cm (#PCDATA)>
<!ELEMENT hip_circumference_cm (#PCDATA)>
<!ELEMENT waist_hip_ratio (#PCDATA)>
<!ELEMENT body_fat_percentage (#PCDATA)>
<!ELEMENT highest_lifetime_weight_kg (#PCDATA)>
<!ELEMENT weight_change_last_6_months_kg (#PCDATA)>
<!ELEMENT bmi_category (#PCDATA)>
<!ELEMENT cardiovascular_risk (id,assessment_id,hypertension,systolic_bp_mmhg,diastolic_bp_mmhg,resting_heart_rate_bpm,history_of_mi,history_of_stroke,peripheral_arterial_disease,heart_failure,heart_failure_nyha_class,atrial_fibrillation,family_history_cvd,family_history_cvd_details,obstructive_sleep_apnoea,created_at,updated_at)>
<!ELEMENT hypertension (#PCDATA)>
<!ELEMENT systolic_bp_mmhg (#PCDATA)>
<!ELEMENT diastolic_bp_mmhg (#PCDATA)>
<!ELEMENT resting_heart_rate_bpm (#PCDATA)>
<!ELEMENT history_of_mi (#PCDATA)>
<!ELEMENT history_of_stroke (#PCDATA)>
<!ELEMENT peripheral_arterial_disease (#PCDATA)>
<!ELEMENT heart_failure (#PCDATA)>
<!ELEMENT heart_failure_nyha_class (#PCDATA)>
<!ELEMENT atrial_fibrillation (#PCDATA)>
<!ELEMENT family_history_cvd (#PCDATA)>
<!ELEMENT family_history_cvd_details (#PCDATA)>
<!ELEMENT obstructive_sleep_apnoea (#PCDATA)>
<!ELEMENT contraindications_screening (id,assessment_id,personal_medullary_thyroid_carcinoma,family_medullary_thyroid_carcinoma,men2_syndrome,type1_diabetes,pregnancy,breastfeeding,planning_pregnancy,history_of_pancreatitis,gallbladder_disease,severe_renal_impairment,egfr_ml_min,diabetic_retinopathy,history_of_eating_disorder,known_hypersensitivity_glp1,additional_contraindications,created_at,updated_at)>
<!ELEMENT personal_medullary_thyroid_carcinoma (#PCDATA)>
<!ELEMENT family_medullary_thyroid_carcinoma (#PCDATA)>
<!ELEMENT men2_syndrome (#PCDATA)>
<!ELEMENT type1_diabetes (#PCDATA)>
<!ELEMENT pregnancy (#PCDATA)>
<!ELEMENT breastfeeding (#PCDATA)>
<!ELEMENT planning_pregnancy (#PCDATA)>
<!ELEMENT history_of_pancreatitis (#PCDATA)>
<!ELEMENT gallbladder_disease (#PCDATA)>
<!ELEMENT severe_renal_impairment (#PCDATA)>
<!ELEMENT egfr_ml_min (#PCDATA)>
<!ELEMENT diabetic_retinopathy (#PCDATA)>
<!ELEMENT history_of_eating_disorder (#PCDATA)>
<!ELEMENT known_hypersensitivity_glp1 (#PCDATA)>
<!ELEMENT additional_contraindications (#PCDATA)>
<!ELEMENT current_medications (id,assessment_id,currently_on_insulin,insulin_type,insulin_dose,currently_on_sulfonylurea,sulfonylurea_name,currently_on_metformin,metformin_dose_mg,currently_on_sglt2_inhibitor,sglt2_inhibitor_name,currently_on_other_glp1,other_glp1_name,antihypertensive_use,antihypertensive_details,statin_use,anticoagulant_use,oral_contraceptive_use,other_medications,created_at,updated_at)>
<!ELEMENT currently_on_insulin (#PCDATA)>
<!ELEMENT insulin_type (#PCDATA)>
<!ELEMENT insulin_dose (#PCDATA)>
<!ELEMENT currently_on_sulfonylurea (#PCDATA)>
<!ELEMENT sulfonylurea_name (#PCDATA)>
<!ELEMENT currently_on_metformin (#PCDATA)>
<!ELEMENT metformin_dose_mg (#PCDATA)>
<!ELEMENT currently_on_sglt2_inhibitor (#PCDATA)>
<!ELEMENT sglt2_inhibitor_name (#PCDATA)>
<!ELEMENT currently_on_other_glp1 (#PCDATA)>
<!ELEMENT other_glp1_name (#PCDATA)>
<!ELEMENT antihypertensive_use (#PCDATA)>
<!ELEMENT antihypertensive_details (#PCDATA)>
<!ELEMENT statin_use (#PCDATA)>
<!ELEMENT anticoagulant_use (#PCDATA)>
<!ELEMENT oral_contraceptive_use (#PCDATA)>
<!ELEMENT other_medications (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,ethnicity,occupation,referring_physician,referral_date,smoking_status,alcohol_use,created_at,updated_at)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT occupation (#PCDATA)>
<!ELEMENT referring_physician (#PCDATA)>
<!ELEMENT referral_date (#PCDATA)>
<!ELEMENT smoking_status (#PCDATA)>
<!ELEMENT alcohol_use (#PCDATA)>
<!ELEMENT gi_history (id,assessment_id,history_of_nausea,history_of_vomiting,chronic_diarrhoea,chronic_constipation,gastroesophageal_reflux,gastroparesis,inflammatory_bowel_disease,ibd_type,irritable_bowel_syndrome,previous_gi_surgery,gi_surgery_details,previous_bariatric_surgery,bariatric_surgery_type,current_gi_symptoms,created_at,updated_at)>
<!ELEMENT history_of_nausea (#PCDATA)>
<!ELEMENT history_of_vomiting (#PCDATA)>
<!ELEMENT chronic_diarrhoea (#PCDATA)>
<!ELEMENT chronic_constipation (#PCDATA)>
<!ELEMENT gastroesophageal_reflux (#PCDATA)>
<!ELEMENT gastroparesis (#PCDATA)>
<!ELEMENT inflammatory_bowel_disease (#PCDATA)>
<!ELEMENT ibd_type (#PCDATA)>
<!ELEMENT irritable_bowel_syndrome (#PCDATA)>
<!ELEMENT previous_gi_surgery (#PCDATA)>
<!ELEMENT gi_surgery_details (#PCDATA)>
<!ELEMENT previous_bariatric_surgery (#PCDATA)>
<!ELEMENT bariatric_surgery_type (#PCDATA)>
<!ELEMENT current_gi_symptoms (#PCDATA)>
<!ELEMENT indication_goals (id,assessment_id,primary_indication,indication_other,weight_loss_goal_kg,target_hba1c_percent,previous_weight_loss_attempts,previous_attempts_details,previous_glp1_use,previous_glp1_details,patient_motivation,realistic_expectations_discussed,created_at,updated_at)>
<!ELEMENT primary_indication (#PCDATA)>
<!ELEMENT indication_other (#PCDATA)>
<!ELEMENT weight_loss_goal_kg (#PCDATA)>
<!ELEMENT target_hba1c_percent (#PCDATA)>
<!ELEMENT previous_weight_loss_attempts (#PCDATA)>
<!ELEMENT previous_attempts_details (#PCDATA)>
<!ELEMENT previous_glp1_use (#PCDATA)>
<!ELEMENT previous_glp1_details (#PCDATA)>
<!ELEMENT patient_motivation (#PCDATA)>
<!ELEMENT realistic_expectations_discussed (#PCDATA)>
<!ELEMENT mental_health_screening (id,assessment_id,history_of_depression,current_depression,depression_treatment,depression_treatment_details,history_of_anxiety,current_anxiety,suicidal_ideation_history,current_suicidal_ideation,history_of_eating_disorder,eating_disorder_type,eating_disorder_details,binge_eating_current,body_image_concerns,phq2_score,additional_notes,created_at,updated_at)>
<!ELEMENT history_of_depression (#PCDATA)>
<!ELEMENT current_depression (#PCDATA)>
<!ELEMENT depression_treatment (#PCDATA)>
<!ELEMENT depression_treatment_details (#PCDATA)>
<!ELEMENT history_of_anxiety (#PCDATA)>
<!ELEMENT current_anxiety (#PCDATA)>
<!ELEMENT suicidal_ideation_history (#PCDATA)>
<!ELEMENT current_suicidal_ideation (#PCDATA)>
<!ELEMENT eating_disorder_type (#PCDATA)>
<!ELEMENT eating_disorder_details (#PCDATA)>
<!ELEMENT binge_eating_current (#PCDATA)>
<!ELEMENT body_image_concerns (#PCDATA)>
<!ELEMENT phq2_score (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT metabolic_profile (id,assessment_id,fasting_glucose_mmol_l,hba1c_percent,hba1c_mmol_mol,diabetes_diagnosis,diabetes_type,diabetes_duration_years,total_cholesterol_mmol_l,ldl_cholesterol_mmol_l,hdl_cholesterol_mmol_l,triglycerides_mmol_l,insulin_resistance_suspected,metabolic_syndrome,thyroid_function_normal,tsh_miu_l,lab_date,created_at,updated_at)>
<!ELEMENT fasting_glucose_mmol_l (#PCDATA)>
<!ELEMENT hba1c_percent (#PCDATA)>
<!ELEMENT hba1c_mmol_mol (#PCDATA)>
<!ELEMENT diabetes_diagnosis (#PCDATA)>
<!ELEMENT diabetes_type (#PCDATA)>
<!ELEMENT diabetes_duration_years (#PCDATA)>
<!ELEMENT total_cholesterol_mmol_l (#PCDATA)>
<!ELEMENT ldl_cholesterol_mmol_l (#PCDATA)>
<!ELEMENT hdl_cholesterol_mmol_l (#PCDATA)>
<!ELEMENT triglycerides_mmol_l (#PCDATA)>
<!ELEMENT insulin_resistance_suspected (#PCDATA)>
<!ELEMENT metabolic_syndrome (#PCDATA)>
<!ELEMENT thyroid_function_normal (#PCDATA)>
<!ELEMENT tsh_miu_l (#PCDATA)>
<!ELEMENT lab_date (#PCDATA)>
<!ELEMENT treatment_plan (id,assessment_id,semaglutide_formulation,brand_name,starting_dose,dose_escalation_plan,injection_site_education,dietary_counselling_provided,exercise_plan_discussed,behavioural_support_referral,monitoring_plan,follow_up_interval_weeks,insulin_dose_adjustment_needed,sulfonylurea_dose_adjustment_needed,informed_consent_obtained,side_effects_discussed,clinician_notes,created_at,updated_at)>
<!ELEMENT semaglutide_formulation (#PCDATA)>
<!ELEMENT brand_name (#PCDATA)>
<!ELEMENT starting_dose (#PCDATA)>
<!ELEMENT dose_escalation_plan (#PCDATA)>
<!ELEMENT injection_site_education (#PCDATA)>
<!ELEMENT dietary_counselling_provided (#PCDATA)>
<!ELEMENT exercise_plan_discussed (#PCDATA)>
<!ELEMENT behavioural_support_referral (#PCDATA)>
<!ELEMENT monitoring_plan (#PCDATA)>
<!ELEMENT follow_up_interval_weeks (#PCDATA)>
<!ELEMENT insulin_dose_adjustment_needed (#PCDATA)>
<!ELEMENT sulfonylurea_dose_adjustment_needed (#PCDATA)>
<!ELEMENT informed_consent_obtained (#PCDATA)>
<!ELEMENT side_effects_discussed (#PCDATA)>
<!ELEMENT clinician_notes (#PCDATA)>
