forms/semaglutide-assessment/xml-representations/assessment_treatment_plan.dtd

<!ELEMENT assessment_treatment_plan (id,assessment_id,semaglutide_formulation,brand_name,starting_dose,dose_escalation_plan,injection_site_education,dietary_counselling_provided,exercise_plan_discussed,behavioural_support_referral,monitoring_plan,follow_up_interval_weeks,insulin_dose_adjustment_needed,sulfonylurea_dose_adjustment_needed,informed_consent_obtained,side_effects_discussed,clinician_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT semaglutide_formulation (#PCDATA)>
<!ELEMENT brand_name (#PCDATA)>
<!ELEMENT starting_dose (#PCDATA)>
<!ELEMENT dose_escalation_plan (#PCDATA)>
<!ELEMENT injection_site_education (#PCDATA)>
<!ELEMENT dietary_counselling_provided (#PCDATA)>
<!ELEMENT exercise_plan_discussed (#PCDATA)>
<!ELEMENT behavioural_support_referral (#PCDATA)>
<!ELEMENT monitoring_plan (#PCDATA)>
<!ELEMENT follow_up_interval_weeks (#PCDATA)>
<!ELEMENT insulin_dose_adjustment_needed (#PCDATA)>
<!ELEMENT sulfonylurea_dose_adjustment_needed (#PCDATA)>
<!ELEMENT informed_consent_obtained (#PCDATA)>
<!ELEMENT side_effects_discussed (#PCDATA)>
<!ELEMENT clinician_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
