forms/semaglutide-assessment/xml-representations/assessment_gi_history.dtd

<!ELEMENT assessment_gi_history (id,assessment_id,history_of_nausea,history_of_vomiting,chronic_diarrhoea,chronic_constipation,gastroesophageal_reflux,gastroparesis,inflammatory_bowel_disease,ibd_type,irritable_bowel_syndrome,previous_gi_surgery,gi_surgery_details,previous_bariatric_surgery,bariatric_surgery_type,current_gi_symptoms,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT history_of_nausea (#PCDATA)>
<!ELEMENT history_of_vomiting (#PCDATA)>
<!ELEMENT chronic_diarrhoea (#PCDATA)>
<!ELEMENT chronic_constipation (#PCDATA)>
<!ELEMENT gastroesophageal_reflux (#PCDATA)>
<!ELEMENT gastroparesis (#PCDATA)>
<!ELEMENT inflammatory_bowel_disease (#PCDATA)>
<!ELEMENT ibd_type (#PCDATA)>
<!ELEMENT irritable_bowel_syndrome (#PCDATA)>
<!ELEMENT previous_gi_surgery (#PCDATA)>
<!ELEMENT gi_surgery_details (#PCDATA)>
<!ELEMENT previous_bariatric_surgery (#PCDATA)>
<!ELEMENT bariatric_surgery_type (#PCDATA)>
<!ELEMENT current_gi_symptoms (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
