forms/semaglutide-assessment/xml-representations/assessment_cardiovascular_risk.dtd

<!ELEMENT assessment_cardiovascular_risk (id,assessment_id,hypertension,systolic_bp_mmhg,diastolic_bp_mmhg,resting_heart_rate_bpm,history_of_mi,history_of_stroke,peripheral_arterial_disease,heart_failure,heart_failure_nyha_class,atrial_fibrillation,family_history_cvd,family_history_cvd_details,obstructive_sleep_apnoea,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT hypertension (#PCDATA)>
<!ELEMENT systolic_bp_mmhg (#PCDATA)>
<!ELEMENT diastolic_bp_mmhg (#PCDATA)>
<!ELEMENT resting_heart_rate_bpm (#PCDATA)>
<!ELEMENT history_of_mi (#PCDATA)>
<!ELEMENT history_of_stroke (#PCDATA)>
<!ELEMENT peripheral_arterial_disease (#PCDATA)>
<!ELEMENT heart_failure (#PCDATA)>
<!ELEMENT heart_failure_nyha_class (#PCDATA)>
<!ELEMENT atrial_fibrillation (#PCDATA)>
<!ELEMENT family_history_cvd (#PCDATA)>
<!ELEMENT family_history_cvd_details (#PCDATA)>
<!ELEMENT obstructive_sleep_apnoea (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
