forms/semaglutide-assessment/xml-representations/assessment_contraindications_screening.dtd

<!ELEMENT assessment_contraindications_screening (id,assessment_id,personal_medullary_thyroid_carcinoma,family_medullary_thyroid_carcinoma,men2_syndrome,type1_diabetes,pregnancy,breastfeeding,planning_pregnancy,history_of_pancreatitis,gallbladder_disease,severe_renal_impairment,egfr_ml_min,diabetic_retinopathy,history_of_eating_disorder,known_hypersensitivity_glp1,additional_contraindications,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT personal_medullary_thyroid_carcinoma (#PCDATA)>
<!ELEMENT family_medullary_thyroid_carcinoma (#PCDATA)>
<!ELEMENT men2_syndrome (#PCDATA)>
<!ELEMENT type1_diabetes (#PCDATA)>
<!ELEMENT pregnancy (#PCDATA)>
<!ELEMENT breastfeeding (#PCDATA)>
<!ELEMENT planning_pregnancy (#PCDATA)>
<!ELEMENT history_of_pancreatitis (#PCDATA)>
<!ELEMENT gallbladder_disease (#PCDATA)>
<!ELEMENT severe_renal_impairment (#PCDATA)>
<!ELEMENT egfr_ml_min (#PCDATA)>
<!ELEMENT diabetic_retinopathy (#PCDATA)>
<!ELEMENT history_of_eating_disorder (#PCDATA)>
<!ELEMENT known_hypersensitivity_glp1 (#PCDATA)>
<!ELEMENT additional_contraindications (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
