forms/semaglutide-assessment/xml-representations/assessment_metabolic_profile.dtd

<!ELEMENT assessment_metabolic_profile (id,assessment_id,fasting_glucose_mmol_l,hba1c_percent,hba1c_mmol_mol,diabetes_diagnosis,diabetes_type,diabetes_duration_years,total_cholesterol_mmol_l,ldl_cholesterol_mmol_l,hdl_cholesterol_mmol_l,triglycerides_mmol_l,insulin_resistance_suspected,metabolic_syndrome,thyroid_function_normal,tsh_miu_l,lab_date,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT fasting_glucose_mmol_l (#PCDATA)>
<!ELEMENT hba1c_percent (#PCDATA)>
<!ELEMENT hba1c_mmol_mol (#PCDATA)>
<!ELEMENT diabetes_diagnosis (#PCDATA)>
<!ELEMENT diabetes_type (#PCDATA)>
<!ELEMENT diabetes_duration_years (#PCDATA)>
<!ELEMENT total_cholesterol_mmol_l (#PCDATA)>
<!ELEMENT ldl_cholesterol_mmol_l (#PCDATA)>
<!ELEMENT hdl_cholesterol_mmol_l (#PCDATA)>
<!ELEMENT triglycerides_mmol_l (#PCDATA)>
<!ELEMENT insulin_resistance_suspected (#PCDATA)>
<!ELEMENT metabolic_syndrome (#PCDATA)>
<!ELEMENT thyroid_function_normal (#PCDATA)>
<!ELEMENT tsh_miu_l (#PCDATA)>
<!ELEMENT lab_date (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
