forms/semaglutide-assessment/xml-representations/assessment_mental_health_screening.dtd

<!ELEMENT assessment_mental_health_screening (id,assessment_id,history_of_depression,current_depression,depression_treatment,depression_treatment_details,history_of_anxiety,current_anxiety,suicidal_ideation_history,current_suicidal_ideation,history_of_eating_disorder,eating_disorder_type,eating_disorder_details,binge_eating_current,body_image_concerns,phq2_score,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT history_of_depression (#PCDATA)>
<!ELEMENT current_depression (#PCDATA)>
<!ELEMENT depression_treatment (#PCDATA)>
<!ELEMENT depression_treatment_details (#PCDATA)>
<!ELEMENT history_of_anxiety (#PCDATA)>
<!ELEMENT current_anxiety (#PCDATA)>
<!ELEMENT suicidal_ideation_history (#PCDATA)>
<!ELEMENT current_suicidal_ideation (#PCDATA)>
<!ELEMENT history_of_eating_disorder (#PCDATA)>
<!ELEMENT eating_disorder_type (#PCDATA)>
<!ELEMENT eating_disorder_details (#PCDATA)>
<!ELEMENT binge_eating_current (#PCDATA)>
<!ELEMENT body_image_concerns (#PCDATA)>
<!ELEMENT phq2_score (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
