forms/casualty-card-form/xml-representations/casualty_card_presenting_complaint.dtd

<!ELEMENT casualty_card_presenting_complaint (id,casualty_card_id,chief_complaint,history_of_presenting_complaint,onset,duration,character,severity,location,radiation,aggravating_factors,relieving_factors,associated_symptoms,previous_episodes,treatment_prior_to_arrival,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT casualty_card_id (#PCDATA)>
<!ELEMENT chief_complaint (#PCDATA)>
<!ELEMENT history_of_presenting_complaint (#PCDATA)>
<!ELEMENT onset (#PCDATA)>
<!ELEMENT duration (#PCDATA)>
<!ELEMENT character (#PCDATA)>
<!ELEMENT severity (#PCDATA)>
<!ELEMENT location (#PCDATA)>
<!ELEMENT radiation (#PCDATA)>
<!ELEMENT aggravating_factors (#PCDATA)>
<!ELEMENT relieving_factors (#PCDATA)>
<!ELEMENT associated_symptoms (#PCDATA)>
<!ELEMENT previous_episodes (#PCDATA)>
<!ELEMENT treatment_prior_to_arrival (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
