forms/casualty-card-form/xml-representations/casualty_card_clinical_examination.dtd

<!ELEMENT casualty_card_clinical_examination (id,casualty_card_id,general_appearance,head_and_face,neck,chest_cardiovascular,chest_respiratory,abdomen,pelvis,musculoskeletal_limbs,neurological,skin,mental_state,body_diagram_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT casualty_card_id (#PCDATA)>
<!ELEMENT general_appearance (#PCDATA)>
<!ELEMENT head_and_face (#PCDATA)>
<!ELEMENT neck (#PCDATA)>
<!ELEMENT chest_cardiovascular (#PCDATA)>
<!ELEMENT chest_respiratory (#PCDATA)>
<!ELEMENT abdomen (#PCDATA)>
<!ELEMENT pelvis (#PCDATA)>
<!ELEMENT musculoskeletal_limbs (#PCDATA)>
<!ELEMENT neurological (#PCDATA)>
<!ELEMENT skin (#PCDATA)>
<!ELEMENT mental_state (#PCDATA)>
<!ELEMENT body_diagram_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
