forms/casualty-card-form/xml-representations/casualty_card_pain_assessment.dtd

<!ELEMENT casualty_card_pain_assessment (id,casualty_card_id,pain_present,pain_score,pain_location,pain_character,pain_onset,pain_severity_category,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT casualty_card_id (#PCDATA)>
<!ELEMENT pain_present (#PCDATA)>
<!ELEMENT pain_score (#PCDATA)>
<!ELEMENT pain_location (#PCDATA)>
<!ELEMENT pain_character (#PCDATA)>
<!ELEMENT pain_onset (#PCDATA)>
<!ELEMENT pain_severity_category (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
