forms/casualty-card-form/xml-representations/casualty_card_assessment_plan.dtd

<!ELEMENT casualty_card_assessment_plan (id,casualty_card_id,working_diagnosis,differential_diagnoses,clinical_impression,risk_stratification,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT casualty_card_id (#PCDATA)>
<!ELEMENT working_diagnosis (#PCDATA)>
<!ELEMENT differential_diagnoses (#PCDATA)>
<!ELEMENT clinical_impression (#PCDATA)>
<!ELEMENT risk_stratification (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
