forms/casualty-card-form/xml-representations/casualty_card_medical_history.dtd

<!ELEMENT casualty_card_medical_history (id,casualty_card_id,past_medical_history,past_surgical_history,tetanus_status,smoking_status,alcohol_consumption,recreational_drug_use,last_oral_intake,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT casualty_card_id (#PCDATA)>
<!ELEMENT past_medical_history (#PCDATA)>
<!ELEMENT past_surgical_history (#PCDATA)>
<!ELEMENT tetanus_status (#PCDATA)>
<!ELEMENT smoking_status (#PCDATA)>
<!ELEMENT alcohol_consumption (#PCDATA)>
<!ELEMENT recreational_drug_use (#PCDATA)>
<!ELEMENT last_oral_intake (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
