forms/casualty-card-form/xml-representations/casualty_card_primary_survey.dtd

<!ELEMENT casualty_card_primary_survey (id,casualty_card_id,airway_status,airway_adjuncts,c_spine_immobilised,breathing_effort,chest_movement,breath_sounds,trachea_position,pulse_character,skin_colour,skin_temperature,capillary_refill,haemorrhage,iv_access,gcs_eye,gcs_verbal,gcs_motor,gcs_total,pupils,blood_glucose_disability,limb_movements,skin_examination,injuries_identified,log_roll_findings,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT casualty_card_id (#PCDATA)>
<!ELEMENT airway_status (#PCDATA)>
<!ELEMENT airway_adjuncts (#PCDATA)>
<!ELEMENT c_spine_immobilised (#PCDATA)>
<!ELEMENT breathing_effort (#PCDATA)>
<!ELEMENT chest_movement (#PCDATA)>
<!ELEMENT breath_sounds (#PCDATA)>
<!ELEMENT trachea_position (#PCDATA)>
<!ELEMENT pulse_character (#PCDATA)>
<!ELEMENT skin_colour (#PCDATA)>
<!ELEMENT skin_temperature (#PCDATA)>
<!ELEMENT capillary_refill (#PCDATA)>
<!ELEMENT haemorrhage (#PCDATA)>
<!ELEMENT iv_access (#PCDATA)>
<!ELEMENT gcs_eye (#PCDATA)>
<!ELEMENT gcs_verbal (#PCDATA)>
<!ELEMENT gcs_motor (#PCDATA)>
<!ELEMENT gcs_total (#PCDATA)>
<!ELEMENT pupils (#PCDATA)>
<!ELEMENT blood_glucose_disability (#PCDATA)>
<!ELEMENT limb_movements (#PCDATA)>
<!ELEMENT skin_examination (#PCDATA)>
<!ELEMENT injuries_identified (#PCDATA)>
<!ELEMENT log_roll_findings (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
