forms/casualty-card-form/xml-representations/casualty_card_allergy.dtd

<!ELEMENT casualty_card_allergy (id,casualty_card_id,allergen,reaction,severity,sort_order,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT casualty_card_id (#PCDATA)>
<!ELEMENT allergen (#PCDATA)>
<!ELEMENT reaction (#PCDATA)>
<!ELEMENT severity (#PCDATA)>
<!ELEMENT sort_order (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
