forms/casualty-card-form/xml-representations/casualty_card_disposition.dtd

<!ELEMENT casualty_card_disposition (id,casualty_card_id,disposition,admitting_specialty,admitting_consultant,ward,level_of_care,discharge_diagnosis,discharge_medications,discharge_instructions,follow_up,return_precautions,receiving_hospital,reason_for_transfer,mode_of_transfer,discharge_time,total_time_in_department,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT casualty_card_id (#PCDATA)>
<!ELEMENT disposition (#PCDATA)>
<!ELEMENT admitting_specialty (#PCDATA)>
<!ELEMENT admitting_consultant (#PCDATA)>
<!ELEMENT ward (#PCDATA)>
<!ELEMENT level_of_care (#PCDATA)>
<!ELEMENT discharge_diagnosis (#PCDATA)>
<!ELEMENT discharge_medications (#PCDATA)>
<!ELEMENT discharge_instructions (#PCDATA)>
<!ELEMENT follow_up (#PCDATA)>
<!ELEMENT return_precautions (#PCDATA)>
<!ELEMENT receiving_hospital (#PCDATA)>
<!ELEMENT reason_for_transfer (#PCDATA)>
<!ELEMENT mode_of_transfer (#PCDATA)>
<!ELEMENT discharge_time (#PCDATA)>
<!ELEMENT total_time_in_department (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
