forms/casualty-card-form/xml-representations/casualty_card_vital_signs.dtd

<!ELEMENT casualty_card_vital_signs (id,casualty_card_id,heart_rate,systolic_bp,diastolic_bp,respiratory_rate,oxygen_saturation,supplemental_oxygen,oxygen_flow_rate,temperature,blood_glucose,consciousness_level,pupil_left_size,pupil_left_reactive,pupil_right_size,pupil_right_reactive,capillary_refill_time,weight,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT casualty_card_id (#PCDATA)>
<!ELEMENT heart_rate (#PCDATA)>
<!ELEMENT systolic_bp (#PCDATA)>
<!ELEMENT diastolic_bp (#PCDATA)>
<!ELEMENT respiratory_rate (#PCDATA)>
<!ELEMENT oxygen_saturation (#PCDATA)>
<!ELEMENT supplemental_oxygen (#PCDATA)>
<!ELEMENT oxygen_flow_rate (#PCDATA)>
<!ELEMENT temperature (#PCDATA)>
<!ELEMENT blood_glucose (#PCDATA)>
<!ELEMENT consciousness_level (#PCDATA)>
<!ELEMENT pupil_left_size (#PCDATA)>
<!ELEMENT pupil_left_reactive (#PCDATA)>
<!ELEMENT pupil_right_size (#PCDATA)>
<!ELEMENT pupil_right_reactive (#PCDATA)>
<!ELEMENT capillary_refill_time (#PCDATA)>
<!ELEMENT weight (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
