forms/framingham-risk-score-for-hard-coronary-heart-disease/xml-representations/assessment_lifestyle_factors.dtd

<!ELEMENT assessment_lifestyle_factors (id,assessment_id,physical_activity,alcohol_consumption,diet_quality,bmi,waist_circumference_cm,stress_level,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT physical_activity (#PCDATA)>
<!ELEMENT alcohol_consumption (#PCDATA)>
<!ELEMENT diet_quality (#PCDATA)>
<!ELEMENT bmi (#PCDATA)>
<!ELEMENT waist_circumference_cm (#PCDATA)>
<!ELEMENT stress_level (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
