forms/framingham-risk-score-for-hard-coronary-heart-disease/xml-representations/assessment_demographics.dtd

<!ELEMENT assessment_demographics (id,assessment_id,age,sex,ethnicity,height_cm,weight_kg,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT age (#PCDATA)>
<!ELEMENT sex (#PCDATA)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT height_cm (#PCDATA)>
<!ELEMENT weight_kg (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
