forms/framingham-risk-score-for-hard-coronary-heart-disease/xml-representations/assessment_blood_pressure.dtd

<!ELEMENT assessment_blood_pressure (id,assessment_id,systolic_bp,diastolic_bp,on_bp_treatment,bp_medication_name,bp_measurement_method,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT systolic_bp (#PCDATA)>
<!ELEMENT diastolic_bp (#PCDATA)>
<!ELEMENT on_bp_treatment (#PCDATA)>
<!ELEMENT bp_medication_name (#PCDATA)>
<!ELEMENT bp_measurement_method (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
