forms/framingham-risk-score-for-hard-coronary-heart-disease/xml-representations/assessment_medical_history.dtd

<!ELEMENT assessment_medical_history (id,assessment_id,has_diabetes,has_prior_chd,has_peripheral_vascular_disease,has_cerebrovascular_disease,has_heart_failure,has_atrial_fibrillation,other_conditions,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_diabetes (#PCDATA)>
<!ELEMENT has_prior_chd (#PCDATA)>
<!ELEMENT has_peripheral_vascular_disease (#PCDATA)>
<!ELEMENT has_cerebrovascular_disease (#PCDATA)>
<!ELEMENT has_heart_failure (#PCDATA)>
<!ELEMENT has_atrial_fibrillation (#PCDATA)>
<!ELEMENT other_conditions (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
