forms/framingham-risk-score-for-hard-coronary-heart-disease/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,blood_pressure,cholesterol,current_medications,demographics,family_history,lifestyle_factors,medical_history,patient_information,review_calculate,smoking_history)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT blood_pressure (id,assessment_id,systolic_bp,diastolic_bp,on_bp_treatment,bp_medication_name,bp_measurement_method,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT systolic_bp (#PCDATA)>
<!ELEMENT diastolic_bp (#PCDATA)>
<!ELEMENT on_bp_treatment (#PCDATA)>
<!ELEMENT bp_medication_name (#PCDATA)>
<!ELEMENT bp_measurement_method (#PCDATA)>
<!ELEMENT cholesterol (id,assessment_id,total_cholesterol,hdl_cholesterol,ldl_cholesterol,triglycerides,cholesterol_unit,fasting_sample,created_at,updated_at)>
<!ELEMENT total_cholesterol (#PCDATA)>
<!ELEMENT hdl_cholesterol (#PCDATA)>
<!ELEMENT ldl_cholesterol (#PCDATA)>
<!ELEMENT triglycerides (#PCDATA)>
<!ELEMENT cholesterol_unit (#PCDATA)>
<!ELEMENT fasting_sample (#PCDATA)>
<!ELEMENT current_medications (id,assessment_id,on_statin,statin_name,on_aspirin,on_antihypertensive,antihypertensive_name,other_medications,created_at,updated_at)>
<!ELEMENT on_statin (#PCDATA)>
<!ELEMENT statin_name (#PCDATA)>
<!ELEMENT on_aspirin (#PCDATA)>
<!ELEMENT on_antihypertensive (#PCDATA)>
<!ELEMENT antihypertensive_name (#PCDATA)>
<!ELEMENT other_medications (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,age,sex,ethnicity,height_cm,weight_kg,created_at,updated_at)>
<!ELEMENT age (#PCDATA)>
<!ELEMENT sex (#PCDATA)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT height_cm (#PCDATA)>
<!ELEMENT weight_kg (#PCDATA)>
<!ELEMENT family_history (id,assessment_id,family_chd_history,family_chd_age_onset,family_chd_relationship,family_stroke_history,family_diabetes_history,created_at,updated_at)>
<!ELEMENT family_chd_history (#PCDATA)>
<!ELEMENT family_chd_age_onset (#PCDATA)>
<!ELEMENT family_chd_relationship (#PCDATA)>
<!ELEMENT family_stroke_history (#PCDATA)>
<!ELEMENT family_diabetes_history (#PCDATA)>
<!ELEMENT lifestyle_factors (id,assessment_id,physical_activity,alcohol_consumption,diet_quality,bmi,waist_circumference_cm,stress_level,created_at,updated_at)>
<!ELEMENT physical_activity (#PCDATA)>
<!ELEMENT alcohol_consumption (#PCDATA)>
<!ELEMENT diet_quality (#PCDATA)>
<!ELEMENT bmi (#PCDATA)>
<!ELEMENT waist_circumference_cm (#PCDATA)>
<!ELEMENT stress_level (#PCDATA)>
<!ELEMENT medical_history (id,assessment_id,has_diabetes,has_prior_chd,has_peripheral_vascular_disease,has_cerebrovascular_disease,has_heart_failure,has_atrial_fibrillation,other_conditions,created_at,updated_at)>
<!ELEMENT has_diabetes (#PCDATA)>
<!ELEMENT has_prior_chd (#PCDATA)>
<!ELEMENT has_peripheral_vascular_disease (#PCDATA)>
<!ELEMENT has_cerebrovascular_disease (#PCDATA)>
<!ELEMENT has_heart_failure (#PCDATA)>
<!ELEMENT has_atrial_fibrillation (#PCDATA)>
<!ELEMENT other_conditions (#PCDATA)>
<!ELEMENT patient_information (id,assessment_id,full_name,date_of_birth,nhs_number,address,telephone,email,gp_name,gp_practice,created_at,updated_at)>
<!ELEMENT full_name (#PCDATA)>
<!ELEMENT date_of_birth (#PCDATA)>
<!ELEMENT nhs_number (#PCDATA)>
<!ELEMENT address (#PCDATA)>
<!ELEMENT telephone (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT gp_name (#PCDATA)>
<!ELEMENT gp_practice (#PCDATA)>
<!ELEMENT review_calculate (id,assessment_id,clinician_name,review_date,clinical_notes,patient_consent,created_at,updated_at)>
<!ELEMENT clinician_name (#PCDATA)>
<!ELEMENT review_date (#PCDATA)>
<!ELEMENT clinical_notes (#PCDATA)>
<!ELEMENT patient_consent (#PCDATA)>
<!ELEMENT smoking_history (id,assessment_id,smoking_status,cigarettes_per_day,years_smoked,years_since_quit,created_at,updated_at)>
<!ELEMENT smoking_status (#PCDATA)>
<!ELEMENT cigarettes_per_day (#PCDATA)>
<!ELEMENT years_smoked (#PCDATA)>
<!ELEMENT years_since_quit (#PCDATA)>
