forms/framingham-risk-score-for-hard-coronary-heart-disease/xml-representations/assessment_review_calculate.dtd

<!ELEMENT assessment_review_calculate (id,assessment_id,clinician_name,review_date,clinical_notes,patient_consent,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT clinician_name (#PCDATA)>
<!ELEMENT review_date (#PCDATA)>
<!ELEMENT clinical_notes (#PCDATA)>
<!ELEMENT patient_consent (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
