forms/framingham-risk-score-for-hard-coronary-heart-disease/xml-representations/grading_result.dtd

<!ELEMENT grading_result (id,assessment_id,ten_year_risk_percent,risk_category,graded_at,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT ten_year_risk_percent (#PCDATA)>
<!ELEMENT risk_category (#PCDATA)>
<!ELEMENT graded_at (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
