forms/pre-operative-assessment-by-patient/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,weight,height,bmi,planned_procedure,procedure_urgency,status,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT weight (#PCDATA)>
<!ELEMENT height (#PCDATA)>
<!ELEMENT bmi (#PCDATA)>
<!ELEMENT planned_procedure (#PCDATA)>
<!ELEMENT procedure_urgency (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
