forms/pre-operative-assessment-by-patient/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,weight,height,bmi,planned_procedure,procedure_urgency,status,created_at,updated_at,allergy,cardiovascular,demographics,endocrine,functional_capacity,gastrointestinal,haematological,hepatic,medication,musculoskeletal_airway,neurological,pregnancy,assessment_previous_anaesthesia,renal,respiratory,social_history)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT weight (#PCDATA)>
<!ELEMENT height (#PCDATA)>
<!ELEMENT bmi (#PCDATA)>
<!ELEMENT planned_procedure (#PCDATA)>
<!ELEMENT procedure_urgency (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT allergy (id,assessment_id,allergen,reaction,severity,sort_order,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT allergen (#PCDATA)>
<!ELEMENT reaction (#PCDATA)>
<!ELEMENT severity (#PCDATA)>
<!ELEMENT sort_order (#PCDATA)>
<!ELEMENT cardiovascular (id,assessment_id,hypertension,hypertension_controlled,ischemic_heart_disease,ihd_details,heart_failure,heart_failure_nyha,valvular_disease,valvular_details,arrhythmia,arrhythmia_type,pacemaker,recent_mi,recent_mi_weeks,created_at,updated_at)>
<!ELEMENT hypertension (#PCDATA)>
<!ELEMENT hypertension_controlled (#PCDATA)>
<!ELEMENT ischemic_heart_disease (#PCDATA)>
<!ELEMENT ihd_details (#PCDATA)>
<!ELEMENT heart_failure (#PCDATA)>
<!ELEMENT heart_failure_nyha (#PCDATA)>
<!ELEMENT valvular_disease (#PCDATA)>
<!ELEMENT valvular_details (#PCDATA)>
<!ELEMENT arrhythmia (#PCDATA)>
<!ELEMENT arrhythmia_type (#PCDATA)>
<!ELEMENT pacemaker (#PCDATA)>
<!ELEMENT recent_mi (#PCDATA)>
<!ELEMENT recent_mi_weeks (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,created_at,updated_at)>
<!ELEMENT endocrine (id,assessment_id,diabetes,diabetes_control,diabetes_on_insulin,thyroid_disease,thyroid_type,adrenal_insufficiency,created_at,updated_at)>
<!ELEMENT diabetes (#PCDATA)>
<!ELEMENT diabetes_control (#PCDATA)>
<!ELEMENT diabetes_on_insulin (#PCDATA)>
<!ELEMENT thyroid_disease (#PCDATA)>
<!ELEMENT thyroid_type (#PCDATA)>
<!ELEMENT adrenal_insufficiency (#PCDATA)>
<!ELEMENT functional_capacity (id,assessment_id,exercise_tolerance,estimated_mets,mobility_aids,recent_decline,created_at,updated_at)>
<!ELEMENT exercise_tolerance (#PCDATA)>
<!ELEMENT estimated_mets (#PCDATA)>
<!ELEMENT mobility_aids (#PCDATA)>
<!ELEMENT recent_decline (#PCDATA)>
<!ELEMENT gastrointestinal (id,assessment_id,gord,hiatus_hernia,nausea,created_at,updated_at)>
<!ELEMENT gord (#PCDATA)>
<!ELEMENT hiatus_hernia (#PCDATA)>
<!ELEMENT nausea (#PCDATA)>
<!ELEMENT haematological (id,assessment_id,bleeding_disorder,bleeding_details,on_anticoagulants,anticoagulant_type,sickle_cell_disease,sickle_cell_trait,anaemia,created_at,updated_at)>
<!ELEMENT bleeding_disorder (#PCDATA)>
<!ELEMENT bleeding_details (#PCDATA)>
<!ELEMENT on_anticoagulants (#PCDATA)>
<!ELEMENT anticoagulant_type (#PCDATA)>
<!ELEMENT sickle_cell_disease (#PCDATA)>
<!ELEMENT sickle_cell_trait (#PCDATA)>
<!ELEMENT anaemia (#PCDATA)>
<!ELEMENT hepatic (id,assessment_id,liver_disease,cirrhosis,child_pugh_score,hepatitis,hepatitis_type,created_at,updated_at)>
<!ELEMENT liver_disease (#PCDATA)>
<!ELEMENT cirrhosis (#PCDATA)>
<!ELEMENT child_pugh_score (#PCDATA)>
<!ELEMENT hepatitis (#PCDATA)>
<!ELEMENT hepatitis_type (#PCDATA)>
<!ELEMENT medication (id,assessment_id,name,dose,frequency,sort_order,created_at,updated_at)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT dose (#PCDATA)>
<!ELEMENT frequency (#PCDATA)>
<!ELEMENT musculoskeletal_airway (id,assessment_id,rheumatoid_arthritis,cervical_spine_issues,limited_neck_movement,limited_mouth_opening,dental_issues,dental_details,previous_difficult_airway,mallampati_score,created_at,updated_at)>
<!ELEMENT rheumatoid_arthritis (#PCDATA)>
<!ELEMENT cervical_spine_issues (#PCDATA)>
<!ELEMENT limited_neck_movement (#PCDATA)>
<!ELEMENT limited_mouth_opening (#PCDATA)>
<!ELEMENT dental_issues (#PCDATA)>
<!ELEMENT dental_details (#PCDATA)>
<!ELEMENT previous_difficult_airway (#PCDATA)>
<!ELEMENT mallampati_score (#PCDATA)>
<!ELEMENT neurological (id,assessment_id,stroke_or_tia,stroke_details,epilepsy,epilepsy_controlled,neuromuscular_disease,neuromuscular_details,raised_icp,created_at,updated_at)>
<!ELEMENT stroke_or_tia (#PCDATA)>
<!ELEMENT stroke_details (#PCDATA)>
<!ELEMENT epilepsy (#PCDATA)>
<!ELEMENT epilepsy_controlled (#PCDATA)>
<!ELEMENT neuromuscular_disease (#PCDATA)>
<!ELEMENT neuromuscular_details (#PCDATA)>
<!ELEMENT raised_icp (#PCDATA)>
<!ELEMENT pregnancy (id,assessment_id,possibly_pregnant,pregnancy_confirmed,gestation_weeks,created_at,updated_at)>
<!ELEMENT possibly_pregnant (#PCDATA)>
<!ELEMENT pregnancy_confirmed (#PCDATA)>
<!ELEMENT gestation_weeks (#PCDATA)>
<!ELEMENT assessment_previous_anaesthesia (id,assessment_id,previous_anaesthesia,anaesthesia_problems,anaesthesia_problem_details,family_mh_history,family_mh_details,ponv,created_at,updated_at)>
<!ELEMENT previous_anaesthesia (#PCDATA)>
<!ELEMENT anaesthesia_problems (#PCDATA)>
<!ELEMENT anaesthesia_problem_details (#PCDATA)>
<!ELEMENT family_mh_history (#PCDATA)>
<!ELEMENT family_mh_details (#PCDATA)>
<!ELEMENT ponv (#PCDATA)>
<!ELEMENT renal (id,assessment_id,ckd,ckd_stage,dialysis,dialysis_type,created_at,updated_at)>
<!ELEMENT ckd (#PCDATA)>
<!ELEMENT ckd_stage (#PCDATA)>
<!ELEMENT dialysis (#PCDATA)>
<!ELEMENT dialysis_type (#PCDATA)>
<!ELEMENT respiratory (id,assessment_id,asthma,asthma_frequency,copd,copd_severity,osa,osa_cpap,smoking,smoking_pack_years,recent_urti,created_at,updated_at)>
<!ELEMENT asthma (#PCDATA)>
<!ELEMENT asthma_frequency (#PCDATA)>
<!ELEMENT copd (#PCDATA)>
<!ELEMENT copd_severity (#PCDATA)>
<!ELEMENT osa (#PCDATA)>
<!ELEMENT osa_cpap (#PCDATA)>
<!ELEMENT smoking (#PCDATA)>
<!ELEMENT smoking_pack_years (#PCDATA)>
<!ELEMENT recent_urti (#PCDATA)>
<!ELEMENT social_history (id,assessment_id,alcohol,alcohol_units_per_week,recreational_drugs,drug_details,created_at,updated_at)>
<!ELEMENT alcohol (#PCDATA)>
<!ELEMENT alcohol_units_per_week (#PCDATA)>
<!ELEMENT recreational_drugs (#PCDATA)>
<!ELEMENT drug_details (#PCDATA)>
