forms/pre-operative-assessment-by-patient/xml-representations/assessment_respiratory.dtd

<!ELEMENT assessment_respiratory (id,assessment_id,asthma,asthma_frequency,copd,copd_severity,osa,osa_cpap,smoking,smoking_pack_years,recent_urti,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT asthma (#PCDATA)>
<!ELEMENT asthma_frequency (#PCDATA)>
<!ELEMENT copd (#PCDATA)>
<!ELEMENT copd_severity (#PCDATA)>
<!ELEMENT osa (#PCDATA)>
<!ELEMENT osa_cpap (#PCDATA)>
<!ELEMENT smoking (#PCDATA)>
<!ELEMENT smoking_pack_years (#PCDATA)>
<!ELEMENT recent_urti (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
