forms/medical-records-release-permission/xml-representations/authorization_period.dtd

<!ELEMENT authorization_period (id,release_form_id,start_date,end_date,single_use,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT release_form_id (#PCDATA)>
<!ELEMENT start_date (#PCDATA)>
<!ELEMENT end_date (#PCDATA)>
<!ELEMENT single_use (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
