forms/medical-records-release-permission/xml-representations/patient_rights.dtd

<!ELEMENT patient_rights (id,release_form_id,acknowledged_right_to_revoke,acknowledged_no_charge_for_access,acknowledged_data_protection,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT release_form_id (#PCDATA)>
<!ELEMENT acknowledged_right_to_revoke (#PCDATA)>
<!ELEMENT acknowledged_no_charge_for_access (#PCDATA)>
<!ELEMENT acknowledged_data_protection (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
