forms/medical-records-release-permission/xml-representations/restrictions_limitations.dtd

<!ELEMENT restrictions_limitations (id,release_form_id,exclude_hiv,exclude_substance_abuse,exclude_mental_health,exclude_genetic_info,exclude_sti,additional_restrictions,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT release_form_id (#PCDATA)>
<!ELEMENT exclude_hiv (#PCDATA)>
<!ELEMENT exclude_substance_abuse (#PCDATA)>
<!ELEMENT exclude_mental_health (#PCDATA)>
<!ELEMENT exclude_genetic_info (#PCDATA)>
<!ELEMENT exclude_sti (#PCDATA)>
<!ELEMENT additional_restrictions (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
