forms/medical-records-release-permission/xml-representations/validation_additional_flag.dtd

<!ELEMENT validation_additional_flag (id,validation_result_id,flag_id,category,message,priority,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT validation_result_id (#PCDATA)>
<!ELEMENT flag_id (#PCDATA)>
<!ELEMENT category (#PCDATA)>
<!ELEMENT message (#PCDATA)>
<!ELEMENT priority (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
