forms/gerontology-assessment/xml-representations/assessment_psychosocial.dtd

<!ELEMENT assessment_psychosocial (id,assessment_id,mood_screen,geriatric_depression_scale_score,anxiety_present,social_isolation,loneliness,social_activities_participation,carer_available,carer_relationship,carer_stress,carer_stress_details,bereavement,bereavement_details,financial_concerns,elder_abuse_concerns,safeguarding_referral_needed,psychosocial_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT mood_screen (#PCDATA)>
<!ELEMENT geriatric_depression_scale_score (#PCDATA)>
<!ELEMENT anxiety_present (#PCDATA)>
<!ELEMENT social_isolation (#PCDATA)>
<!ELEMENT loneliness (#PCDATA)>
<!ELEMENT social_activities_participation (#PCDATA)>
<!ELEMENT carer_available (#PCDATA)>
<!ELEMENT carer_relationship (#PCDATA)>
<!ELEMENT carer_stress (#PCDATA)>
<!ELEMENT carer_stress_details (#PCDATA)>
<!ELEMENT bereavement (#PCDATA)>
<!ELEMENT bereavement_details (#PCDATA)>
<!ELEMENT financial_concerns (#PCDATA)>
<!ELEMENT elder_abuse_concerns (#PCDATA)>
<!ELEMENT safeguarding_referral_needed (#PCDATA)>
<!ELEMENT psychosocial_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
