forms/gerontology-assessment/xml-representations/assessment_cognitive_screen.dtd

<!ELEMENT assessment_cognitive_screen (id,assessment_id,mmse_score,moca_score,clock_drawing_score,orientation_to_time,orientation_to_place,short_term_memory,long_term_memory,executive_function,language_function,known_dementia_diagnosis,dementia_type,delirium_screen,cognitive_decline_reported_by,cognitive_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT mmse_score (#PCDATA)>
<!ELEMENT moca_score (#PCDATA)>
<!ELEMENT clock_drawing_score (#PCDATA)>
<!ELEMENT orientation_to_time (#PCDATA)>
<!ELEMENT orientation_to_place (#PCDATA)>
<!ELEMENT short_term_memory (#PCDATA)>
<!ELEMENT long_term_memory (#PCDATA)>
<!ELEMENT executive_function (#PCDATA)>
<!ELEMENT language_function (#PCDATA)>
<!ELEMENT known_dementia_diagnosis (#PCDATA)>
<!ELEMENT dementia_type (#PCDATA)>
<!ELEMENT delirium_screen (#PCDATA)>
<!ELEMENT cognitive_decline_reported_by (#PCDATA)>
<!ELEMENT cognitive_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
