forms/gerontology-assessment/xml-representations/assessment_polypharmacy_review.dtd

<!ELEMENT assessment_polypharmacy_review (id,assessment_id,total_regular_medications,total_prn_medications,polypharmacy_flag,medication_review_date,falls_risk_medications,falls_risk_medication_details,anticholinergic_burden,drug_interactions_identified,drug_interaction_details,adherence_concerns,adherence_details,stopp_start_review_done,deprescribing_opportunities,polypharmacy_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT total_regular_medications (#PCDATA)>
<!ELEMENT total_prn_medications (#PCDATA)>
<!ELEMENT polypharmacy_flag (#PCDATA)>
<!ELEMENT medication_review_date (#PCDATA)>
<!ELEMENT falls_risk_medications (#PCDATA)>
<!ELEMENT falls_risk_medication_details (#PCDATA)>
<!ELEMENT anticholinergic_burden (#PCDATA)>
<!ELEMENT drug_interactions_identified (#PCDATA)>
<!ELEMENT drug_interaction_details (#PCDATA)>
<!ELEMENT adherence_concerns (#PCDATA)>
<!ELEMENT adherence_details (#PCDATA)>
<!ELEMENT stopp_start_review_done (#PCDATA)>
<!ELEMENT deprescribing_opportunities (#PCDATA)>
<!ELEMENT polypharmacy_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
