forms/gerontology-assessment/xml-representations/assessment_continence_and_skin.dtd

<!ELEMENT assessment_continence_and_skin (id,assessment_id,urinary_incontinence,urinary_incontinence_type,urinary_frequency,nocturia,catheter_in_situ,faecal_incontinence,constipation,bowel_pattern,skin_integrity,pressure_ulcer,pressure_ulcer_grade,pressure_ulcer_location,waterlow_score,skin_tears,leg_ulcers,moisture_associated_skin_damage,continence_skin_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT urinary_incontinence (#PCDATA)>
<!ELEMENT urinary_incontinence_type (#PCDATA)>
<!ELEMENT urinary_frequency (#PCDATA)>
<!ELEMENT nocturia (#PCDATA)>
<!ELEMENT catheter_in_situ (#PCDATA)>
<!ELEMENT faecal_incontinence (#PCDATA)>
<!ELEMENT constipation (#PCDATA)>
<!ELEMENT bowel_pattern (#PCDATA)>
<!ELEMENT skin_integrity (#PCDATA)>
<!ELEMENT pressure_ulcer (#PCDATA)>
<!ELEMENT pressure_ulcer_grade (#PCDATA)>
<!ELEMENT pressure_ulcer_location (#PCDATA)>
<!ELEMENT waterlow_score (#PCDATA)>
<!ELEMENT skin_tears (#PCDATA)>
<!ELEMENT leg_ulcers (#PCDATA)>
<!ELEMENT moisture_associated_skin_damage (#PCDATA)>
<!ELEMENT continence_skin_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
