forms/gerontology-assessment/xml-representations/assessment_mobility_and_falls.dtd

<!ELEMENT assessment_mobility_and_falls (id,assessment_id,mobility_level,mobility_aid_type,gait_abnormality,gait_abnormality_details,timed_up_and_go_seconds,history_of_falls,falls_in_last_12_months,fall_related_injury,fall_injury_details,fear_of_falling,balance_impairment,postural_hypotension,home_hazards_identified,home_hazard_details,mobility_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT mobility_level (#PCDATA)>
<!ELEMENT mobility_aid_type (#PCDATA)>
<!ELEMENT gait_abnormality (#PCDATA)>
<!ELEMENT gait_abnormality_details (#PCDATA)>
<!ELEMENT timed_up_and_go_seconds (#PCDATA)>
<!ELEMENT history_of_falls (#PCDATA)>
<!ELEMENT falls_in_last_12_months (#PCDATA)>
<!ELEMENT fall_related_injury (#PCDATA)>
<!ELEMENT fall_injury_details (#PCDATA)>
<!ELEMENT fear_of_falling (#PCDATA)>
<!ELEMENT balance_impairment (#PCDATA)>
<!ELEMENT postural_hypotension (#PCDATA)>
<!ELEMENT home_hazards_identified (#PCDATA)>
<!ELEMENT home_hazard_details (#PCDATA)>
<!ELEMENT mobility_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
