forms/gerontology-assessment/xml-representations/assessment_comorbidities.dtd

<!ELEMENT assessment_comorbidities (id,assessment_id,has_hypertension,has_diabetes,diabetes_type,has_heart_failure,has_atrial_fibrillation,has_copd,has_osteoporosis,has_osteoarthritis,has_chronic_kidney_disease,ckd_stage,has_stroke_history,has_parkinson_disease,has_cancer,cancer_details,charlson_comorbidity_index,other_comorbidities,comorbidity_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_hypertension (#PCDATA)>
<!ELEMENT has_diabetes (#PCDATA)>
<!ELEMENT diabetes_type (#PCDATA)>
<!ELEMENT has_heart_failure (#PCDATA)>
<!ELEMENT has_atrial_fibrillation (#PCDATA)>
<!ELEMENT has_copd (#PCDATA)>
<!ELEMENT has_osteoporosis (#PCDATA)>
<!ELEMENT has_osteoarthritis (#PCDATA)>
<!ELEMENT has_chronic_kidney_disease (#PCDATA)>
<!ELEMENT ckd_stage (#PCDATA)>
<!ELEMENT has_stroke_history (#PCDATA)>
<!ELEMENT has_parkinson_disease (#PCDATA)>
<!ELEMENT has_cancer (#PCDATA)>
<!ELEMENT cancer_details (#PCDATA)>
<!ELEMENT charlson_comorbidity_index (#PCDATA)>
<!ELEMENT other_comorbidities (#PCDATA)>
<!ELEMENT comorbidity_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
