forms/gerontology-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,cognitive_screen,comorbidities,continence_and_skin,demographics,functional_assessment,mobility_and_falls,nutrition,polypharmacy_review,polypharmacy_review_medication,psychosocial)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT cognitive_screen (id,assessment_id,mmse_score,moca_score,clock_drawing_score,orientation_to_time,orientation_to_place,short_term_memory,long_term_memory,executive_function,language_function,known_dementia_diagnosis,dementia_type,delirium_screen,cognitive_decline_reported_by,cognitive_notes,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT mmse_score (#PCDATA)>
<!ELEMENT moca_score (#PCDATA)>
<!ELEMENT clock_drawing_score (#PCDATA)>
<!ELEMENT orientation_to_time (#PCDATA)>
<!ELEMENT orientation_to_place (#PCDATA)>
<!ELEMENT short_term_memory (#PCDATA)>
<!ELEMENT long_term_memory (#PCDATA)>
<!ELEMENT executive_function (#PCDATA)>
<!ELEMENT language_function (#PCDATA)>
<!ELEMENT known_dementia_diagnosis (#PCDATA)>
<!ELEMENT dementia_type (#PCDATA)>
<!ELEMENT delirium_screen (#PCDATA)>
<!ELEMENT cognitive_decline_reported_by (#PCDATA)>
<!ELEMENT cognitive_notes (#PCDATA)>
<!ELEMENT comorbidities (id,assessment_id,has_hypertension,has_diabetes,diabetes_type,has_heart_failure,has_atrial_fibrillation,has_copd,has_osteoporosis,has_osteoarthritis,has_chronic_kidney_disease,ckd_stage,has_stroke_history,has_parkinson_disease,has_cancer,cancer_details,charlson_comorbidity_index,other_comorbidities,comorbidity_notes,created_at,updated_at)>
<!ELEMENT has_hypertension (#PCDATA)>
<!ELEMENT has_diabetes (#PCDATA)>
<!ELEMENT diabetes_type (#PCDATA)>
<!ELEMENT has_heart_failure (#PCDATA)>
<!ELEMENT has_atrial_fibrillation (#PCDATA)>
<!ELEMENT has_copd (#PCDATA)>
<!ELEMENT has_osteoporosis (#PCDATA)>
<!ELEMENT has_osteoarthritis (#PCDATA)>
<!ELEMENT has_chronic_kidney_disease (#PCDATA)>
<!ELEMENT ckd_stage (#PCDATA)>
<!ELEMENT has_stroke_history (#PCDATA)>
<!ELEMENT has_parkinson_disease (#PCDATA)>
<!ELEMENT has_cancer (#PCDATA)>
<!ELEMENT cancer_details (#PCDATA)>
<!ELEMENT charlson_comorbidity_index (#PCDATA)>
<!ELEMENT other_comorbidities (#PCDATA)>
<!ELEMENT comorbidity_notes (#PCDATA)>
<!ELEMENT continence_and_skin (id,assessment_id,urinary_incontinence,urinary_incontinence_type,urinary_frequency,nocturia,catheter_in_situ,faecal_incontinence,constipation,bowel_pattern,skin_integrity,pressure_ulcer,pressure_ulcer_grade,pressure_ulcer_location,waterlow_score,skin_tears,leg_ulcers,moisture_associated_skin_damage,continence_skin_notes,created_at,updated_at)>
<!ELEMENT urinary_incontinence (#PCDATA)>
<!ELEMENT urinary_incontinence_type (#PCDATA)>
<!ELEMENT urinary_frequency (#PCDATA)>
<!ELEMENT nocturia (#PCDATA)>
<!ELEMENT catheter_in_situ (#PCDATA)>
<!ELEMENT faecal_incontinence (#PCDATA)>
<!ELEMENT constipation (#PCDATA)>
<!ELEMENT bowel_pattern (#PCDATA)>
<!ELEMENT skin_integrity (#PCDATA)>
<!ELEMENT pressure_ulcer (#PCDATA)>
<!ELEMENT pressure_ulcer_grade (#PCDATA)>
<!ELEMENT pressure_ulcer_location (#PCDATA)>
<!ELEMENT waterlow_score (#PCDATA)>
<!ELEMENT skin_tears (#PCDATA)>
<!ELEMENT leg_ulcers (#PCDATA)>
<!ELEMENT moisture_associated_skin_damage (#PCDATA)>
<!ELEMENT continence_skin_notes (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,ethnicity,primary_language,interpreter_required,marital_status,living_situation,next_of_kin_name,next_of_kin_phone,next_of_kin_relationship,has_lasting_power_of_attorney,gp_name,gp_practice,created_at,updated_at)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT primary_language (#PCDATA)>
<!ELEMENT interpreter_required (#PCDATA)>
<!ELEMENT marital_status (#PCDATA)>
<!ELEMENT living_situation (#PCDATA)>
<!ELEMENT next_of_kin_name (#PCDATA)>
<!ELEMENT next_of_kin_phone (#PCDATA)>
<!ELEMENT next_of_kin_relationship (#PCDATA)>
<!ELEMENT has_lasting_power_of_attorney (#PCDATA)>
<!ELEMENT gp_name (#PCDATA)>
<!ELEMENT gp_practice (#PCDATA)>
<!ELEMENT functional_assessment (id,assessment_id,bathing_independence,dressing_independence,toileting_independence,transferring_independence,feeding_independence,continence_status,cooking_ability,shopping_ability,housework_ability,medication_management,telephone_use,finances_management,barthel_index_score,additional_functional_notes,created_at,updated_at)>
<!ELEMENT bathing_independence (#PCDATA)>
<!ELEMENT dressing_independence (#PCDATA)>
<!ELEMENT toileting_independence (#PCDATA)>
<!ELEMENT transferring_independence (#PCDATA)>
<!ELEMENT feeding_independence (#PCDATA)>
<!ELEMENT continence_status (#PCDATA)>
<!ELEMENT cooking_ability (#PCDATA)>
<!ELEMENT shopping_ability (#PCDATA)>
<!ELEMENT housework_ability (#PCDATA)>
<!ELEMENT medication_management (#PCDATA)>
<!ELEMENT telephone_use (#PCDATA)>
<!ELEMENT finances_management (#PCDATA)>
<!ELEMENT barthel_index_score (#PCDATA)>
<!ELEMENT additional_functional_notes (#PCDATA)>
<!ELEMENT mobility_and_falls (id,assessment_id,mobility_level,mobility_aid_type,gait_abnormality,gait_abnormality_details,timed_up_and_go_seconds,history_of_falls,falls_in_last_12_months,fall_related_injury,fall_injury_details,fear_of_falling,balance_impairment,postural_hypotension,home_hazards_identified,home_hazard_details,mobility_notes,created_at,updated_at)>
<!ELEMENT mobility_level (#PCDATA)>
<!ELEMENT mobility_aid_type (#PCDATA)>
<!ELEMENT gait_abnormality (#PCDATA)>
<!ELEMENT gait_abnormality_details (#PCDATA)>
<!ELEMENT timed_up_and_go_seconds (#PCDATA)>
<!ELEMENT history_of_falls (#PCDATA)>
<!ELEMENT falls_in_last_12_months (#PCDATA)>
<!ELEMENT fall_related_injury (#PCDATA)>
<!ELEMENT fall_injury_details (#PCDATA)>
<!ELEMENT fear_of_falling (#PCDATA)>
<!ELEMENT balance_impairment (#PCDATA)>
<!ELEMENT postural_hypotension (#PCDATA)>
<!ELEMENT home_hazards_identified (#PCDATA)>
<!ELEMENT home_hazard_details (#PCDATA)>
<!ELEMENT mobility_notes (#PCDATA)>
<!ELEMENT nutrition (id,assessment_id,unintentional_weight_loss,weight_loss_amount_kg,weight_loss_duration_months,appetite,meals_per_day,meal_preparation,dietary_restrictions,swallowing_difficulty,swallowing_details,denture_status,hydration_status,must_score,nutritional_supplement,supplement_details,nutrition_notes,created_at,updated_at)>
<!ELEMENT unintentional_weight_loss (#PCDATA)>
<!ELEMENT weight_loss_amount_kg (#PCDATA)>
<!ELEMENT weight_loss_duration_months (#PCDATA)>
<!ELEMENT appetite (#PCDATA)>
<!ELEMENT meals_per_day (#PCDATA)>
<!ELEMENT meal_preparation (#PCDATA)>
<!ELEMENT dietary_restrictions (#PCDATA)>
<!ELEMENT swallowing_difficulty (#PCDATA)>
<!ELEMENT swallowing_details (#PCDATA)>
<!ELEMENT denture_status (#PCDATA)>
<!ELEMENT hydration_status (#PCDATA)>
<!ELEMENT must_score (#PCDATA)>
<!ELEMENT nutritional_supplement (#PCDATA)>
<!ELEMENT supplement_details (#PCDATA)>
<!ELEMENT nutrition_notes (#PCDATA)>
<!ELEMENT polypharmacy_review (id,assessment_id,total_regular_medications,total_prn_medications,polypharmacy_flag,medication_review_date,falls_risk_medications,falls_risk_medication_details,anticholinergic_burden,drug_interactions_identified,drug_interaction_details,adherence_concerns,adherence_details,stopp_start_review_done,deprescribing_opportunities,polypharmacy_notes,created_at,updated_at)>
<!ELEMENT total_regular_medications (#PCDATA)>
<!ELEMENT total_prn_medications (#PCDATA)>
<!ELEMENT polypharmacy_flag (#PCDATA)>
<!ELEMENT medication_review_date (#PCDATA)>
<!ELEMENT falls_risk_medications (#PCDATA)>
<!ELEMENT falls_risk_medication_details (#PCDATA)>
<!ELEMENT anticholinergic_burden (#PCDATA)>
<!ELEMENT drug_interactions_identified (#PCDATA)>
<!ELEMENT drug_interaction_details (#PCDATA)>
<!ELEMENT adherence_concerns (#PCDATA)>
<!ELEMENT adherence_details (#PCDATA)>
<!ELEMENT stopp_start_review_done (#PCDATA)>
<!ELEMENT deprescribing_opportunities (#PCDATA)>
<!ELEMENT polypharmacy_notes (#PCDATA)>
<!ELEMENT polypharmacy_review_medication (id,polypharmacy_review_id,medication_name,dose,frequency,route,indication,is_prn,sort_order,created_at,updated_at)>
<!ELEMENT polypharmacy_review_id (#PCDATA)>
<!ELEMENT medication_name (#PCDATA)>
<!ELEMENT dose (#PCDATA)>
<!ELEMENT frequency (#PCDATA)>
<!ELEMENT route (#PCDATA)>
<!ELEMENT indication (#PCDATA)>
<!ELEMENT is_prn (#PCDATA)>
<!ELEMENT sort_order (#PCDATA)>
<!ELEMENT psychosocial (id,assessment_id,mood_screen,geriatric_depression_scale_score,anxiety_present,social_isolation,loneliness,social_activities_participation,carer_available,carer_relationship,carer_stress,carer_stress_details,bereavement,bereavement_details,financial_concerns,elder_abuse_concerns,safeguarding_referral_needed,psychosocial_notes,created_at,updated_at)>
<!ELEMENT mood_screen (#PCDATA)>
<!ELEMENT geriatric_depression_scale_score (#PCDATA)>
<!ELEMENT anxiety_present (#PCDATA)>
<!ELEMENT social_isolation (#PCDATA)>
<!ELEMENT loneliness (#PCDATA)>
<!ELEMENT social_activities_participation (#PCDATA)>
<!ELEMENT carer_available (#PCDATA)>
<!ELEMENT carer_relationship (#PCDATA)>
<!ELEMENT carer_stress (#PCDATA)>
<!ELEMENT carer_stress_details (#PCDATA)>
<!ELEMENT bereavement (#PCDATA)>
<!ELEMENT bereavement_details (#PCDATA)>
<!ELEMENT financial_concerns (#PCDATA)>
<!ELEMENT elder_abuse_concerns (#PCDATA)>
<!ELEMENT safeguarding_referral_needed (#PCDATA)>
<!ELEMENT psychosocial_notes (#PCDATA)>
