forms/gerontology-assessment/xml-representations/assessment_nutrition.dtd

<!ELEMENT assessment_nutrition (id,assessment_id,unintentional_weight_loss,weight_loss_amount_kg,weight_loss_duration_months,appetite,meals_per_day,meal_preparation,dietary_restrictions,swallowing_difficulty,swallowing_details,denture_status,hydration_status,must_score,nutritional_supplement,supplement_details,nutrition_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT unintentional_weight_loss (#PCDATA)>
<!ELEMENT weight_loss_amount_kg (#PCDATA)>
<!ELEMENT weight_loss_duration_months (#PCDATA)>
<!ELEMENT appetite (#PCDATA)>
<!ELEMENT meals_per_day (#PCDATA)>
<!ELEMENT meal_preparation (#PCDATA)>
<!ELEMENT dietary_restrictions (#PCDATA)>
<!ELEMENT swallowing_difficulty (#PCDATA)>
<!ELEMENT swallowing_details (#PCDATA)>
<!ELEMENT denture_status (#PCDATA)>
<!ELEMENT hydration_status (#PCDATA)>
<!ELEMENT must_score (#PCDATA)>
<!ELEMENT nutritional_supplement (#PCDATA)>
<!ELEMENT supplement_details (#PCDATA)>
<!ELEMENT nutrition_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
