forms/gerontology-assessment/xml-representations/assessment_functional_assessment.dtd

<!ELEMENT assessment_functional_assessment (id,assessment_id,bathing_independence,dressing_independence,toileting_independence,transferring_independence,feeding_independence,continence_status,cooking_ability,shopping_ability,housework_ability,medication_management,telephone_use,finances_management,barthel_index_score,additional_functional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT bathing_independence (#PCDATA)>
<!ELEMENT dressing_independence (#PCDATA)>
<!ELEMENT toileting_independence (#PCDATA)>
<!ELEMENT transferring_independence (#PCDATA)>
<!ELEMENT feeding_independence (#PCDATA)>
<!ELEMENT continence_status (#PCDATA)>
<!ELEMENT cooking_ability (#PCDATA)>
<!ELEMENT shopping_ability (#PCDATA)>
<!ELEMENT housework_ability (#PCDATA)>
<!ELEMENT medication_management (#PCDATA)>
<!ELEMENT telephone_use (#PCDATA)>
<!ELEMENT finances_management (#PCDATA)>
<!ELEMENT barthel_index_score (#PCDATA)>
<!ELEMENT additional_functional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
