forms/kinesiology-assessment/xml-representations/assessment_trunk_stability_push_up.dtd

<!ELEMENT assessment_trunk_stability_push_up (id,assessment_id,raw_score,pain_noted,clearing_test_pain,final_score,hand_position,body_lifts_as_unit,spine_sag_noted,clinician_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT raw_score (#PCDATA)>
<!ELEMENT pain_noted (#PCDATA)>
<!ELEMENT clearing_test_pain (#PCDATA)>
<!ELEMENT final_score (#PCDATA)>
<!ELEMENT hand_position (#PCDATA)>
<!ELEMENT body_lifts_as_unit (#PCDATA)>
<!ELEMENT spine_sag_noted (#PCDATA)>
<!ELEMENT clinician_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
