forms/kinesiology-assessment/xml-representations/assessment_hurdle_step.dtd

<!ELEMENT assessment_hurdle_step (id,assessment_id,left_raw_score,right_raw_score,pain_noted_left,pain_noted_right,final_score,hip_knee_ankle_alignment_left,hip_knee_ankle_alignment_right,stance_leg_stable,dowel_position_maintained,clinician_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT left_raw_score (#PCDATA)>
<!ELEMENT right_raw_score (#PCDATA)>
<!ELEMENT pain_noted_left (#PCDATA)>
<!ELEMENT pain_noted_right (#PCDATA)>
<!ELEMENT final_score (#PCDATA)>
<!ELEMENT hip_knee_ankle_alignment_left (#PCDATA)>
<!ELEMENT hip_knee_ankle_alignment_right (#PCDATA)>
<!ELEMENT stance_leg_stable (#PCDATA)>
<!ELEMENT dowel_position_maintained (#PCDATA)>
<!ELEMENT clinician_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
