forms/kinesiology-assessment/xml-representations/assessment_in_line_lunge.dtd

<!ELEMENT assessment_in_line_lunge (id,assessment_id,left_raw_score,right_raw_score,pain_noted_left,pain_noted_right,final_score,dowel_contact_maintained,torso_remains_upright,knee_touches_board,foot_alignment_maintained,clinician_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT left_raw_score (#PCDATA)>
<!ELEMENT right_raw_score (#PCDATA)>
<!ELEMENT pain_noted_left (#PCDATA)>
<!ELEMENT pain_noted_right (#PCDATA)>
<!ELEMENT final_score (#PCDATA)>
<!ELEMENT dowel_contact_maintained (#PCDATA)>
<!ELEMENT torso_remains_upright (#PCDATA)>
<!ELEMENT knee_touches_board (#PCDATA)>
<!ELEMENT foot_alignment_maintained (#PCDATA)>
<!ELEMENT clinician_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
