forms/kinesiology-assessment/xml-representations/assessment_rotary_stability.dtd

<!ELEMENT assessment_rotary_stability (id,assessment_id,left_raw_score,right_raw_score,pain_noted_left,pain_noted_right,clearing_test_pain,final_score,unilateral_pattern_achieved,diagonal_pattern_achieved,trunk_rotation_noted,clinician_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT left_raw_score (#PCDATA)>
<!ELEMENT right_raw_score (#PCDATA)>
<!ELEMENT pain_noted_left (#PCDATA)>
<!ELEMENT pain_noted_right (#PCDATA)>
<!ELEMENT clearing_test_pain (#PCDATA)>
<!ELEMENT final_score (#PCDATA)>
<!ELEMENT unilateral_pattern_achieved (#PCDATA)>
<!ELEMENT diagonal_pattern_achieved (#PCDATA)>
<!ELEMENT trunk_rotation_noted (#PCDATA)>
<!ELEMENT clinician_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
