forms/kinesiology-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,active_straight_leg_raise,deep_squat,demographics,hurdle_step,in_line_lunge,movement_history,referral_information,rotary_stability,shoulder_mobility,trunk_stability_push_up)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT active_straight_leg_raise (id,assessment_id,left_raw_score,right_raw_score,pain_noted_left,pain_noted_right,final_score,malleolus_position_left,malleolus_position_right,opposite_leg_remains_flat,clinician_notes,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT left_raw_score (#PCDATA)>
<!ELEMENT right_raw_score (#PCDATA)>
<!ELEMENT pain_noted_left (#PCDATA)>
<!ELEMENT pain_noted_right (#PCDATA)>
<!ELEMENT final_score (#PCDATA)>
<!ELEMENT malleolus_position_left (#PCDATA)>
<!ELEMENT malleolus_position_right (#PCDATA)>
<!ELEMENT opposite_leg_remains_flat (#PCDATA)>
<!ELEMENT clinician_notes (#PCDATA)>
<!ELEMENT deep_squat (id,assessment_id,raw_score,pain_noted,clearing_test_pain,final_score,upper_torso_alignment,femur_below_horizontal,knees_over_feet,heels_on_floor,dowel_overhead,clinician_notes,created_at,updated_at)>
<!ELEMENT raw_score (#PCDATA)>
<!ELEMENT pain_noted (#PCDATA)>
<!ELEMENT clearing_test_pain (#PCDATA)>
<!ELEMENT upper_torso_alignment (#PCDATA)>
<!ELEMENT femur_below_horizontal (#PCDATA)>
<!ELEMENT knees_over_feet (#PCDATA)>
<!ELEMENT heels_on_floor (#PCDATA)>
<!ELEMENT dowel_overhead (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,occupation,sport_or_activity,activity_level,dominant_side,contact_phone,contact_email,created_at,updated_at)>
<!ELEMENT occupation (#PCDATA)>
<!ELEMENT sport_or_activity (#PCDATA)>
<!ELEMENT activity_level (#PCDATA)>
<!ELEMENT dominant_side (#PCDATA)>
<!ELEMENT contact_phone (#PCDATA)>
<!ELEMENT contact_email (#PCDATA)>
<!ELEMENT hurdle_step (id,assessment_id,left_raw_score,right_raw_score,pain_noted_left,pain_noted_right,final_score,hip_knee_ankle_alignment_left,hip_knee_ankle_alignment_right,stance_leg_stable,dowel_position_maintained,clinician_notes,created_at,updated_at)>
<!ELEMENT hip_knee_ankle_alignment_left (#PCDATA)>
<!ELEMENT hip_knee_ankle_alignment_right (#PCDATA)>
<!ELEMENT stance_leg_stable (#PCDATA)>
<!ELEMENT dowel_position_maintained (#PCDATA)>
<!ELEMENT in_line_lunge (id,assessment_id,left_raw_score,right_raw_score,pain_noted_left,pain_noted_right,final_score,dowel_contact_maintained,torso_remains_upright,knee_touches_board,foot_alignment_maintained,clinician_notes,created_at,updated_at)>
<!ELEMENT dowel_contact_maintained (#PCDATA)>
<!ELEMENT torso_remains_upright (#PCDATA)>
<!ELEMENT knee_touches_board (#PCDATA)>
<!ELEMENT foot_alignment_maintained (#PCDATA)>
<!ELEMENT movement_history (id,assessment_id,current_pain,pain_location,pain_severity,pain_duration,previous_injuries,previous_surgeries,chronic_conditions,movement_limitations,exercise_frequency,exercise_type,created_at,updated_at)>
<!ELEMENT current_pain (#PCDATA)>
<!ELEMENT pain_location (#PCDATA)>
<!ELEMENT pain_severity (#PCDATA)>
<!ELEMENT pain_duration (#PCDATA)>
<!ELEMENT previous_injuries (#PCDATA)>
<!ELEMENT previous_surgeries (#PCDATA)>
<!ELEMENT chronic_conditions (#PCDATA)>
<!ELEMENT movement_limitations (#PCDATA)>
<!ELEMENT exercise_frequency (#PCDATA)>
<!ELEMENT exercise_type (#PCDATA)>
<!ELEMENT referral_information (id,assessment_id,referring_clinician,referring_organisation,referral_date,referral_reason,previous_fms_assessment,previous_fms_date,previous_fms_score,created_at,updated_at)>
<!ELEMENT referring_clinician (#PCDATA)>
<!ELEMENT referring_organisation (#PCDATA)>
<!ELEMENT referral_date (#PCDATA)>
<!ELEMENT referral_reason (#PCDATA)>
<!ELEMENT previous_fms_assessment (#PCDATA)>
<!ELEMENT previous_fms_date (#PCDATA)>
<!ELEMENT previous_fms_score (#PCDATA)>
<!ELEMENT rotary_stability (id,assessment_id,left_raw_score,right_raw_score,pain_noted_left,pain_noted_right,clearing_test_pain,final_score,unilateral_pattern_achieved,diagonal_pattern_achieved,trunk_rotation_noted,clinician_notes,created_at,updated_at)>
<!ELEMENT unilateral_pattern_achieved (#PCDATA)>
<!ELEMENT diagonal_pattern_achieved (#PCDATA)>
<!ELEMENT trunk_rotation_noted (#PCDATA)>
<!ELEMENT shoulder_mobility (id,assessment_id,left_raw_score,right_raw_score,pain_noted_left,pain_noted_right,clearing_test_pain_left,clearing_test_pain_right,final_score,hand_distance_cm,hand_span_length_cm,clinician_notes,created_at,updated_at)>
<!ELEMENT clearing_test_pain_left (#PCDATA)>
<!ELEMENT clearing_test_pain_right (#PCDATA)>
<!ELEMENT hand_distance_cm (#PCDATA)>
<!ELEMENT hand_span_length_cm (#PCDATA)>
<!ELEMENT trunk_stability_push_up (id,assessment_id,raw_score,pain_noted,clearing_test_pain,final_score,hand_position,body_lifts_as_unit,spine_sag_noted,clinician_notes,created_at,updated_at)>
<!ELEMENT hand_position (#PCDATA)>
<!ELEMENT body_lifts_as_unit (#PCDATA)>
<!ELEMENT spine_sag_noted (#PCDATA)>
