forms/kinesiology-assessment/xml-representations/assessment_movement_history.dtd

<!ELEMENT assessment_movement_history (id,assessment_id,current_pain,pain_location,pain_severity,pain_duration,previous_injuries,previous_surgeries,chronic_conditions,movement_limitations,exercise_frequency,exercise_type,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT current_pain (#PCDATA)>
<!ELEMENT pain_location (#PCDATA)>
<!ELEMENT pain_severity (#PCDATA)>
<!ELEMENT pain_duration (#PCDATA)>
<!ELEMENT previous_injuries (#PCDATA)>
<!ELEMENT previous_surgeries (#PCDATA)>
<!ELEMENT chronic_conditions (#PCDATA)>
<!ELEMENT movement_limitations (#PCDATA)>
<!ELEMENT exercise_frequency (#PCDATA)>
<!ELEMENT exercise_type (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
