forms/genetic-assessment/xml-representations/assessment_personal_medical_history.dtd

<!ELEMENT assessment_personal_medical_history (id,assessment_id,has_cancer_diagnosis,cancer_type,cancer_age_at_diagnosis,cancer_treatment_details,has_cardiovascular_condition,cardiovascular_details,has_neurological_condition,neurological_details,has_congenital_anomalies,congenital_anomaly_details,has_intellectual_disability,intellectual_disability_details,other_significant_conditions,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_cancer_diagnosis (#PCDATA)>
<!ELEMENT cancer_type (#PCDATA)>
<!ELEMENT cancer_age_at_diagnosis (#PCDATA)>
<!ELEMENT cancer_treatment_details (#PCDATA)>
<!ELEMENT has_cardiovascular_condition (#PCDATA)>
<!ELEMENT cardiovascular_details (#PCDATA)>
<!ELEMENT has_neurological_condition (#PCDATA)>
<!ELEMENT neurological_details (#PCDATA)>
<!ELEMENT has_congenital_anomalies (#PCDATA)>
<!ELEMENT congenital_anomaly_details (#PCDATA)>
<!ELEMENT has_intellectual_disability (#PCDATA)>
<!ELEMENT intellectual_disability_details (#PCDATA)>
<!ELEMENT other_significant_conditions (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
