forms/genetic-assessment/xml-representations/assessment_neurogenetics.dtd

<!ELEMENT assessment_neurogenetics (id,assessment_id,family_history_huntington,huntington_details,family_history_early_onset_dementia,dementia_type,dementia_age_at_onset,family_history_motor_neurone_disease,motor_neurone_details,family_history_hereditary_neuropathy,hereditary_neuropathy_details,family_history_epilepsy,epilepsy_details,family_history_ataxia,ataxia_details,neurogenetics_risk_score,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT family_history_huntington (#PCDATA)>
<!ELEMENT huntington_details (#PCDATA)>
<!ELEMENT family_history_early_onset_dementia (#PCDATA)>
<!ELEMENT dementia_type (#PCDATA)>
<!ELEMENT dementia_age_at_onset (#PCDATA)>
<!ELEMENT family_history_motor_neurone_disease (#PCDATA)>
<!ELEMENT motor_neurone_details (#PCDATA)>
<!ELEMENT family_history_hereditary_neuropathy (#PCDATA)>
<!ELEMENT hereditary_neuropathy_details (#PCDATA)>
<!ELEMENT family_history_epilepsy (#PCDATA)>
<!ELEMENT epilepsy_details (#PCDATA)>
<!ELEMENT family_history_ataxia (#PCDATA)>
<!ELEMENT ataxia_details (#PCDATA)>
<!ELEMENT neurogenetics_risk_score (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
