forms/genetic-assessment/xml-representations/assessment_family_pedigree.dtd

<!ELEMENT assessment_family_pedigree (id,assessment_id,total_first_degree_relatives,total_second_degree_relatives,consanguinity_in_family,consanguinity_details,adoption_status,pedigree_notes,three_generation_pedigree_drawn,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT total_first_degree_relatives (#PCDATA)>
<!ELEMENT total_second_degree_relatives (#PCDATA)>
<!ELEMENT consanguinity_in_family (#PCDATA)>
<!ELEMENT consanguinity_details (#PCDATA)>
<!ELEMENT adoption_status (#PCDATA)>
<!ELEMENT pedigree_notes (#PCDATA)>
<!ELEMENT three_generation_pedigree_drawn (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
