forms/genetic-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,cancer_history,cancer_history_item,cardiovascular_genetics,demographics,ethnic_background_and_consanguinity,family_pedigree,family_pedigree_member,genetic_testing_history,neurogenetics,personal_medical_history,referral_information,reproductive_genetics)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT cancer_history (id,assessment_id,family_cancer_history,multiple_family_cancers,early_onset_cancer,bilateral_cancer,rare_tumour_types,rare_tumour_details,known_cancer_syndrome,cancer_syndrome_details,cancer_risk_score,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT family_cancer_history (#PCDATA)>
<!ELEMENT multiple_family_cancers (#PCDATA)>
<!ELEMENT early_onset_cancer (#PCDATA)>
<!ELEMENT bilateral_cancer (#PCDATA)>
<!ELEMENT rare_tumour_types (#PCDATA)>
<!ELEMENT rare_tumour_details (#PCDATA)>
<!ELEMENT known_cancer_syndrome (#PCDATA)>
<!ELEMENT cancer_syndrome_details (#PCDATA)>
<!ELEMENT cancer_risk_score (#PCDATA)>
<!ELEMENT cancer_history_item (id,cancer_history_id,relative_relationship,cancer_type,age_at_diagnosis,outcome,sort_order,created_at,updated_at)>
<!ELEMENT cancer_history_id (#PCDATA)>
<!ELEMENT relative_relationship (#PCDATA)>
<!ELEMENT cancer_type (#PCDATA)>
<!ELEMENT age_at_diagnosis (#PCDATA)>
<!ELEMENT outcome (#PCDATA)>
<!ELEMENT sort_order (#PCDATA)>
<!ELEMENT cardiovascular_genetics (id,assessment_id,family_history_sudden_cardiac_death,sudden_cardiac_death_details,family_history_cardiomyopathy,cardiomyopathy_type,cardiomyopathy_details,family_history_aortopathy,aortopathy_details,family_history_arrhythmia,arrhythmia_type,family_history_familial_hypercholesterolaemia,cholesterol_level_mmol_l,connective_tissue_disorder,connective_tissue_details,cardiovascular_risk_score,created_at,updated_at)>
<!ELEMENT family_history_sudden_cardiac_death (#PCDATA)>
<!ELEMENT sudden_cardiac_death_details (#PCDATA)>
<!ELEMENT family_history_cardiomyopathy (#PCDATA)>
<!ELEMENT cardiomyopathy_type (#PCDATA)>
<!ELEMENT cardiomyopathy_details (#PCDATA)>
<!ELEMENT family_history_aortopathy (#PCDATA)>
<!ELEMENT aortopathy_details (#PCDATA)>
<!ELEMENT family_history_arrhythmia (#PCDATA)>
<!ELEMENT arrhythmia_type (#PCDATA)>
<!ELEMENT family_history_familial_hypercholesterolaemia (#PCDATA)>
<!ELEMENT cholesterol_level_mmol_l (#PCDATA)>
<!ELEMENT connective_tissue_disorder (#PCDATA)>
<!ELEMENT connective_tissue_details (#PCDATA)>
<!ELEMENT cardiovascular_risk_score (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,ethnicity,primary_language,interpreter_required,marital_status,occupation,emergency_contact_name,emergency_contact_phone,emergency_contact_relationship,created_at,updated_at)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT primary_language (#PCDATA)>
<!ELEMENT interpreter_required (#PCDATA)>
<!ELEMENT marital_status (#PCDATA)>
<!ELEMENT occupation (#PCDATA)>
<!ELEMENT emergency_contact_name (#PCDATA)>
<!ELEMENT emergency_contact_phone (#PCDATA)>
<!ELEMENT emergency_contact_relationship (#PCDATA)>
<!ELEMENT ethnic_background_and_consanguinity (id,assessment_id,maternal_ethnic_background,paternal_ethnic_background,maternal_country_of_origin,paternal_country_of_origin,ashkenazi_jewish_ancestry,ashkenazi_lineage,consanguinity,consanguinity_degree,endogamous_community,endogamous_community_details,population_specific_conditions,created_at,updated_at)>
<!ELEMENT maternal_ethnic_background (#PCDATA)>
<!ELEMENT paternal_ethnic_background (#PCDATA)>
<!ELEMENT maternal_country_of_origin (#PCDATA)>
<!ELEMENT paternal_country_of_origin (#PCDATA)>
<!ELEMENT ashkenazi_jewish_ancestry (#PCDATA)>
<!ELEMENT ashkenazi_lineage (#PCDATA)>
<!ELEMENT consanguinity (#PCDATA)>
<!ELEMENT consanguinity_degree (#PCDATA)>
<!ELEMENT endogamous_community (#PCDATA)>
<!ELEMENT endogamous_community_details (#PCDATA)>
<!ELEMENT population_specific_conditions (#PCDATA)>
<!ELEMENT family_pedigree (id,assessment_id,total_first_degree_relatives,total_second_degree_relatives,consanguinity_in_family,consanguinity_details,adoption_status,pedigree_notes,three_generation_pedigree_drawn,created_at,updated_at)>
<!ELEMENT total_first_degree_relatives (#PCDATA)>
<!ELEMENT total_second_degree_relatives (#PCDATA)>
<!ELEMENT consanguinity_in_family (#PCDATA)>
<!ELEMENT consanguinity_details (#PCDATA)>
<!ELEMENT adoption_status (#PCDATA)>
<!ELEMENT pedigree_notes (#PCDATA)>
<!ELEMENT three_generation_pedigree_drawn (#PCDATA)>
<!ELEMENT family_pedigree_member (id,family_pedigree_id,relationship,sex,age,alive,age_at_death,cause_of_death,medical_conditions,sort_order,created_at,updated_at)>
<!ELEMENT family_pedigree_id (#PCDATA)>
<!ELEMENT relationship (#PCDATA)>
<!ELEMENT sex (#PCDATA)>
<!ELEMENT age (#PCDATA)>
<!ELEMENT alive (#PCDATA)>
<!ELEMENT age_at_death (#PCDATA)>
<!ELEMENT cause_of_death (#PCDATA)>
<!ELEMENT medical_conditions (#PCDATA)>
<!ELEMENT genetic_testing_history (id,assessment_id,previous_genetic_testing,previous_chromosomal_analysis,chromosomal_analysis_result,previous_single_gene_test,single_gene_test_details,previous_gene_panel,gene_panel_details,previous_whole_exome_sequencing,wes_result,previous_whole_genome_sequencing,wgs_result,previous_microarray,microarray_result,prenatal_testing_performed,prenatal_testing_details,family_member_testing,family_member_testing_details,consent_for_further_testing,created_at,updated_at)>
<!ELEMENT previous_genetic_testing (#PCDATA)>
<!ELEMENT previous_chromosomal_analysis (#PCDATA)>
<!ELEMENT chromosomal_analysis_result (#PCDATA)>
<!ELEMENT previous_single_gene_test (#PCDATA)>
<!ELEMENT single_gene_test_details (#PCDATA)>
<!ELEMENT previous_gene_panel (#PCDATA)>
<!ELEMENT gene_panel_details (#PCDATA)>
<!ELEMENT previous_whole_exome_sequencing (#PCDATA)>
<!ELEMENT wes_result (#PCDATA)>
<!ELEMENT previous_whole_genome_sequencing (#PCDATA)>
<!ELEMENT wgs_result (#PCDATA)>
<!ELEMENT previous_microarray (#PCDATA)>
<!ELEMENT microarray_result (#PCDATA)>
<!ELEMENT prenatal_testing_performed (#PCDATA)>
<!ELEMENT prenatal_testing_details (#PCDATA)>
<!ELEMENT family_member_testing (#PCDATA)>
<!ELEMENT family_member_testing_details (#PCDATA)>
<!ELEMENT consent_for_further_testing (#PCDATA)>
<!ELEMENT neurogenetics (id,assessment_id,family_history_huntington,huntington_details,family_history_early_onset_dementia,dementia_type,dementia_age_at_onset,family_history_motor_neurone_disease,motor_neurone_details,family_history_hereditary_neuropathy,hereditary_neuropathy_details,family_history_epilepsy,epilepsy_details,family_history_ataxia,ataxia_details,neurogenetics_risk_score,created_at,updated_at)>
<!ELEMENT family_history_huntington (#PCDATA)>
<!ELEMENT huntington_details (#PCDATA)>
<!ELEMENT family_history_early_onset_dementia (#PCDATA)>
<!ELEMENT dementia_type (#PCDATA)>
<!ELEMENT dementia_age_at_onset (#PCDATA)>
<!ELEMENT family_history_motor_neurone_disease (#PCDATA)>
<!ELEMENT motor_neurone_details (#PCDATA)>
<!ELEMENT family_history_hereditary_neuropathy (#PCDATA)>
<!ELEMENT hereditary_neuropathy_details (#PCDATA)>
<!ELEMENT family_history_epilepsy (#PCDATA)>
<!ELEMENT epilepsy_details (#PCDATA)>
<!ELEMENT family_history_ataxia (#PCDATA)>
<!ELEMENT ataxia_details (#PCDATA)>
<!ELEMENT neurogenetics_risk_score (#PCDATA)>
<!ELEMENT personal_medical_history (id,assessment_id,has_cancer_diagnosis,cancer_type,cancer_age_at_diagnosis,cancer_treatment_details,has_cardiovascular_condition,cardiovascular_details,has_neurological_condition,neurological_details,has_congenital_anomalies,congenital_anomaly_details,has_intellectual_disability,intellectual_disability_details,other_significant_conditions,created_at,updated_at)>
<!ELEMENT has_cancer_diagnosis (#PCDATA)>
<!ELEMENT cancer_age_at_diagnosis (#PCDATA)>
<!ELEMENT cancer_treatment_details (#PCDATA)>
<!ELEMENT has_cardiovascular_condition (#PCDATA)>
<!ELEMENT cardiovascular_details (#PCDATA)>
<!ELEMENT has_neurological_condition (#PCDATA)>
<!ELEMENT neurological_details (#PCDATA)>
<!ELEMENT has_congenital_anomalies (#PCDATA)>
<!ELEMENT congenital_anomaly_details (#PCDATA)>
<!ELEMENT has_intellectual_disability (#PCDATA)>
<!ELEMENT intellectual_disability_details (#PCDATA)>
<!ELEMENT other_significant_conditions (#PCDATA)>
<!ELEMENT referral_information (id,assessment_id,referring_clinician_name,referring_clinician_role,referring_organisation,referral_date,referral_reason,referral_urgency,specialty_referred_to,previous_genetic_referral,previous_referral_details,created_at,updated_at)>
<!ELEMENT referring_clinician_name (#PCDATA)>
<!ELEMENT referring_clinician_role (#PCDATA)>
<!ELEMENT referring_organisation (#PCDATA)>
<!ELEMENT referral_date (#PCDATA)>
<!ELEMENT referral_reason (#PCDATA)>
<!ELEMENT referral_urgency (#PCDATA)>
<!ELEMENT specialty_referred_to (#PCDATA)>
<!ELEMENT previous_genetic_referral (#PCDATA)>
<!ELEMENT previous_referral_details (#PCDATA)>
<!ELEMENT reproductive_genetics (id,assessment_id,planning_pregnancy,currently_pregnant,gestational_age_weeks,history_of_recurrent_miscarriage,number_of_miscarriages,history_of_stillbirth,stillbirth_details,history_of_neonatal_death,neonatal_death_details,child_with_congenital_anomaly,congenital_anomaly_details,known_carrier_status,carrier_status_details,partner_carrier_status,partner_carrier_details,assisted_reproduction,assisted_reproduction_details,created_at,updated_at)>
<!ELEMENT planning_pregnancy (#PCDATA)>
<!ELEMENT currently_pregnant (#PCDATA)>
<!ELEMENT gestational_age_weeks (#PCDATA)>
<!ELEMENT history_of_recurrent_miscarriage (#PCDATA)>
<!ELEMENT number_of_miscarriages (#PCDATA)>
<!ELEMENT history_of_stillbirth (#PCDATA)>
<!ELEMENT stillbirth_details (#PCDATA)>
<!ELEMENT history_of_neonatal_death (#PCDATA)>
<!ELEMENT neonatal_death_details (#PCDATA)>
<!ELEMENT child_with_congenital_anomaly (#PCDATA)>
<!ELEMENT known_carrier_status (#PCDATA)>
<!ELEMENT carrier_status_details (#PCDATA)>
<!ELEMENT partner_carrier_status (#PCDATA)>
<!ELEMENT partner_carrier_details (#PCDATA)>
<!ELEMENT assisted_reproduction (#PCDATA)>
<!ELEMENT assisted_reproduction_details (#PCDATA)>
