forms/genetic-assessment/xml-representations/assessment_genetic_testing_history.dtd

<!ELEMENT assessment_genetic_testing_history (id,assessment_id,previous_genetic_testing,previous_chromosomal_analysis,chromosomal_analysis_result,previous_single_gene_test,single_gene_test_details,previous_gene_panel,gene_panel_details,previous_whole_exome_sequencing,wes_result,previous_whole_genome_sequencing,wgs_result,previous_microarray,microarray_result,prenatal_testing_performed,prenatal_testing_details,family_member_testing,family_member_testing_details,consent_for_further_testing,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT previous_genetic_testing (#PCDATA)>
<!ELEMENT previous_chromosomal_analysis (#PCDATA)>
<!ELEMENT chromosomal_analysis_result (#PCDATA)>
<!ELEMENT previous_single_gene_test (#PCDATA)>
<!ELEMENT single_gene_test_details (#PCDATA)>
<!ELEMENT previous_gene_panel (#PCDATA)>
<!ELEMENT gene_panel_details (#PCDATA)>
<!ELEMENT previous_whole_exome_sequencing (#PCDATA)>
<!ELEMENT wes_result (#PCDATA)>
<!ELEMENT previous_whole_genome_sequencing (#PCDATA)>
<!ELEMENT wgs_result (#PCDATA)>
<!ELEMENT previous_microarray (#PCDATA)>
<!ELEMENT microarray_result (#PCDATA)>
<!ELEMENT prenatal_testing_performed (#PCDATA)>
<!ELEMENT prenatal_testing_details (#PCDATA)>
<!ELEMENT family_member_testing (#PCDATA)>
<!ELEMENT family_member_testing_details (#PCDATA)>
<!ELEMENT consent_for_further_testing (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
