forms/genetic-assessment/xml-representations/assessment_reproductive_genetics.dtd

<!ELEMENT assessment_reproductive_genetics (id,assessment_id,planning_pregnancy,currently_pregnant,gestational_age_weeks,history_of_recurrent_miscarriage,number_of_miscarriages,history_of_stillbirth,stillbirth_details,history_of_neonatal_death,neonatal_death_details,child_with_congenital_anomaly,congenital_anomaly_details,known_carrier_status,carrier_status_details,partner_carrier_status,partner_carrier_details,assisted_reproduction,assisted_reproduction_details,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT planning_pregnancy (#PCDATA)>
<!ELEMENT currently_pregnant (#PCDATA)>
<!ELEMENT gestational_age_weeks (#PCDATA)>
<!ELEMENT history_of_recurrent_miscarriage (#PCDATA)>
<!ELEMENT number_of_miscarriages (#PCDATA)>
<!ELEMENT history_of_stillbirth (#PCDATA)>
<!ELEMENT stillbirth_details (#PCDATA)>
<!ELEMENT history_of_neonatal_death (#PCDATA)>
<!ELEMENT neonatal_death_details (#PCDATA)>
<!ELEMENT child_with_congenital_anomaly (#PCDATA)>
<!ELEMENT congenital_anomaly_details (#PCDATA)>
<!ELEMENT known_carrier_status (#PCDATA)>
<!ELEMENT carrier_status_details (#PCDATA)>
<!ELEMENT partner_carrier_status (#PCDATA)>
<!ELEMENT partner_carrier_details (#PCDATA)>
<!ELEMENT assisted_reproduction (#PCDATA)>
<!ELEMENT assisted_reproduction_details (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
