forms/genetic-assessment/xml-representations/assessment_family_pedigree_member.dtd

<!ELEMENT assessment_family_pedigree_member (id,family_pedigree_id,relationship,sex,age,alive,age_at_death,cause_of_death,medical_conditions,sort_order,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT family_pedigree_id (#PCDATA)>
<!ELEMENT relationship (#PCDATA)>
<!ELEMENT sex (#PCDATA)>
<!ELEMENT age (#PCDATA)>
<!ELEMENT alive (#PCDATA)>
<!ELEMENT age_at_death (#PCDATA)>
<!ELEMENT cause_of_death (#PCDATA)>
<!ELEMENT medical_conditions (#PCDATA)>
<!ELEMENT sort_order (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
