forms/genetic-assessment/xml-representations/assessment_ethnic_background_and_consanguinity.dtd

<!ELEMENT assessment_ethnic_background_and_consanguinity (id,assessment_id,maternal_ethnic_background,paternal_ethnic_background,maternal_country_of_origin,paternal_country_of_origin,ashkenazi_jewish_ancestry,ashkenazi_lineage,consanguinity,consanguinity_degree,endogamous_community,endogamous_community_details,population_specific_conditions,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT maternal_ethnic_background (#PCDATA)>
<!ELEMENT paternal_ethnic_background (#PCDATA)>
<!ELEMENT maternal_country_of_origin (#PCDATA)>
<!ELEMENT paternal_country_of_origin (#PCDATA)>
<!ELEMENT ashkenazi_jewish_ancestry (#PCDATA)>
<!ELEMENT ashkenazi_lineage (#PCDATA)>
<!ELEMENT consanguinity (#PCDATA)>
<!ELEMENT consanguinity_degree (#PCDATA)>
<!ELEMENT endogamous_community (#PCDATA)>
<!ELEMENT endogamous_community_details (#PCDATA)>
<!ELEMENT population_specific_conditions (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
