forms/genetic-assessment/xml-representations/assessment_demographics.dtd

<!ELEMENT assessment_demographics (id,assessment_id,ethnicity,primary_language,interpreter_required,marital_status,occupation,emergency_contact_name,emergency_contact_phone,emergency_contact_relationship,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT primary_language (#PCDATA)>
<!ELEMENT interpreter_required (#PCDATA)>
<!ELEMENT marital_status (#PCDATA)>
<!ELEMENT occupation (#PCDATA)>
<!ELEMENT emergency_contact_name (#PCDATA)>
<!ELEMENT emergency_contact_phone (#PCDATA)>
<!ELEMENT emergency_contact_relationship (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
