forms/genetic-assessment/xml-representations/assessment_cardiovascular_genetics.dtd

<!ELEMENT assessment_cardiovascular_genetics (id,assessment_id,family_history_sudden_cardiac_death,sudden_cardiac_death_details,family_history_cardiomyopathy,cardiomyopathy_type,cardiomyopathy_details,family_history_aortopathy,aortopathy_details,family_history_arrhythmia,arrhythmia_type,family_history_familial_hypercholesterolaemia,cholesterol_level_mmol_l,connective_tissue_disorder,connective_tissue_details,cardiovascular_risk_score,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT family_history_sudden_cardiac_death (#PCDATA)>
<!ELEMENT sudden_cardiac_death_details (#PCDATA)>
<!ELEMENT family_history_cardiomyopathy (#PCDATA)>
<!ELEMENT cardiomyopathy_type (#PCDATA)>
<!ELEMENT cardiomyopathy_details (#PCDATA)>
<!ELEMENT family_history_aortopathy (#PCDATA)>
<!ELEMENT aortopathy_details (#PCDATA)>
<!ELEMENT family_history_arrhythmia (#PCDATA)>
<!ELEMENT arrhythmia_type (#PCDATA)>
<!ELEMENT family_history_familial_hypercholesterolaemia (#PCDATA)>
<!ELEMENT cholesterol_level_mmol_l (#PCDATA)>
<!ELEMENT connective_tissue_disorder (#PCDATA)>
<!ELEMENT connective_tissue_details (#PCDATA)>
<!ELEMENT cardiovascular_risk_score (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
