forms/patient-intake/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,allergies,allergy_item,consent_preferences,family_history,insurance_and_id,medical_history,medication_item,medications,personal_information,reason_for_visit,review_of_systems,social_history)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT allergies (id,assessment_id,has_drug_allergies,has_food_allergies,has_environmental_allergies,has_latex_allergy,has_contrast_allergy,has_anaesthetic_allergy,history_of_anaphylaxis,carries_epipen,allergies_notes,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_drug_allergies (#PCDATA)>
<!ELEMENT has_food_allergies (#PCDATA)>
<!ELEMENT has_environmental_allergies (#PCDATA)>
<!ELEMENT has_latex_allergy (#PCDATA)>
<!ELEMENT has_contrast_allergy (#PCDATA)>
<!ELEMENT has_anaesthetic_allergy (#PCDATA)>
<!ELEMENT history_of_anaphylaxis (#PCDATA)>
<!ELEMENT carries_epipen (#PCDATA)>
<!ELEMENT allergies_notes (#PCDATA)>
<!ELEMENT allergy_item (id,allergies_id,allergen,allergy_type,reaction,severity,sort_order,created_at,updated_at)>
<!ELEMENT allergies_id (#PCDATA)>
<!ELEMENT allergen (#PCDATA)>
<!ELEMENT allergy_type (#PCDATA)>
<!ELEMENT reaction (#PCDATA)>
<!ELEMENT severity (#PCDATA)>
<!ELEMENT sort_order (#PCDATA)>
<!ELEMENT consent_preferences (id,assessment_id,consent_to_treatment,consent_to_share_records,consent_to_research,consent_to_contact_sms,consent_to_contact_email,consent_to_contact_phone,preferred_contact_method,preferred_appointment_time,advance_directive,advance_directive_details,power_of_attorney,power_of_attorney_details,accessibility_needs,special_requirements,patient_signature_date,consent_notes,created_at,updated_at)>
<!ELEMENT consent_to_treatment (#PCDATA)>
<!ELEMENT consent_to_share_records (#PCDATA)>
<!ELEMENT consent_to_research (#PCDATA)>
<!ELEMENT consent_to_contact_sms (#PCDATA)>
<!ELEMENT consent_to_contact_email (#PCDATA)>
<!ELEMENT consent_to_contact_phone (#PCDATA)>
<!ELEMENT preferred_contact_method (#PCDATA)>
<!ELEMENT preferred_appointment_time (#PCDATA)>
<!ELEMENT advance_directive (#PCDATA)>
<!ELEMENT advance_directive_details (#PCDATA)>
<!ELEMENT power_of_attorney (#PCDATA)>
<!ELEMENT power_of_attorney_details (#PCDATA)>
<!ELEMENT accessibility_needs (#PCDATA)>
<!ELEMENT special_requirements (#PCDATA)>
<!ELEMENT patient_signature_date (#PCDATA)>
<!ELEMENT consent_notes (#PCDATA)>
<!ELEMENT family_history (id,assessment_id,family_history_heart_disease,family_history_stroke,family_history_diabetes,family_history_cancer,family_cancer_details,family_history_hypertension,family_history_mental_health,family_mental_health_details,family_history_autoimmune,family_history_kidney_disease,family_history_lung_disease,family_history_genetic,family_genetic_details,other_family_history,family_history_notes,created_at,updated_at)>
<!ELEMENT family_history_heart_disease (#PCDATA)>
<!ELEMENT family_history_stroke (#PCDATA)>
<!ELEMENT family_history_diabetes (#PCDATA)>
<!ELEMENT family_history_cancer (#PCDATA)>
<!ELEMENT family_cancer_details (#PCDATA)>
<!ELEMENT family_history_hypertension (#PCDATA)>
<!ELEMENT family_history_mental_health (#PCDATA)>
<!ELEMENT family_mental_health_details (#PCDATA)>
<!ELEMENT family_history_autoimmune (#PCDATA)>
<!ELEMENT family_history_kidney_disease (#PCDATA)>
<!ELEMENT family_history_lung_disease (#PCDATA)>
<!ELEMENT family_history_genetic (#PCDATA)>
<!ELEMENT family_genetic_details (#PCDATA)>
<!ELEMENT other_family_history (#PCDATA)>
<!ELEMENT family_history_notes (#PCDATA)>
<!ELEMENT insurance_and_id (id,assessment_id,nhs_number,hospital_number,gp_name,gp_practice,gp_address,gp_phone,has_private_insurance,insurance_provider,insurance_policy_number,insurance_group_number,insurance_phone,photo_id_verified,photo_id_type,insurance_notes,created_at,updated_at)>
<!ELEMENT nhs_number (#PCDATA)>
<!ELEMENT hospital_number (#PCDATA)>
<!ELEMENT gp_name (#PCDATA)>
<!ELEMENT gp_practice (#PCDATA)>
<!ELEMENT gp_address (#PCDATA)>
<!ELEMENT gp_phone (#PCDATA)>
<!ELEMENT has_private_insurance (#PCDATA)>
<!ELEMENT insurance_provider (#PCDATA)>
<!ELEMENT insurance_policy_number (#PCDATA)>
<!ELEMENT insurance_group_number (#PCDATA)>
<!ELEMENT insurance_phone (#PCDATA)>
<!ELEMENT photo_id_verified (#PCDATA)>
<!ELEMENT photo_id_type (#PCDATA)>
<!ELEMENT insurance_notes (#PCDATA)>
<!ELEMENT medical_history (id,assessment_id,has_chronic_conditions,has_diabetes,diabetes_type,has_hypertension,has_heart_disease,heart_disease_details,has_lung_disease,lung_disease_details,has_kidney_disease,has_liver_disease,has_cancer,cancer_details,has_stroke,has_epilepsy,has_mental_health_condition,mental_health_details,has_autoimmune_disease,autoimmune_disease_details,has_previous_surgeries,surgery_details,has_hospitalisations,hospitalisation_details,other_conditions,medical_history_notes,created_at,updated_at)>
<!ELEMENT has_chronic_conditions (#PCDATA)>
<!ELEMENT has_diabetes (#PCDATA)>
<!ELEMENT diabetes_type (#PCDATA)>
<!ELEMENT has_hypertension (#PCDATA)>
<!ELEMENT has_heart_disease (#PCDATA)>
<!ELEMENT heart_disease_details (#PCDATA)>
<!ELEMENT has_lung_disease (#PCDATA)>
<!ELEMENT lung_disease_details (#PCDATA)>
<!ELEMENT has_kidney_disease (#PCDATA)>
<!ELEMENT has_liver_disease (#PCDATA)>
<!ELEMENT has_cancer (#PCDATA)>
<!ELEMENT cancer_details (#PCDATA)>
<!ELEMENT has_stroke (#PCDATA)>
<!ELEMENT has_epilepsy (#PCDATA)>
<!ELEMENT has_mental_health_condition (#PCDATA)>
<!ELEMENT mental_health_details (#PCDATA)>
<!ELEMENT has_autoimmune_disease (#PCDATA)>
<!ELEMENT autoimmune_disease_details (#PCDATA)>
<!ELEMENT has_previous_surgeries (#PCDATA)>
<!ELEMENT surgery_details (#PCDATA)>
<!ELEMENT has_hospitalisations (#PCDATA)>
<!ELEMENT hospitalisation_details (#PCDATA)>
<!ELEMENT other_conditions (#PCDATA)>
<!ELEMENT medical_history_notes (#PCDATA)>
<!ELEMENT medication_item (id,medications_id,medication_name,dose,frequency,route,prescriber,reason,start_date,sort_order,created_at,updated_at)>
<!ELEMENT medications_id (#PCDATA)>
<!ELEMENT medication_name (#PCDATA)>
<!ELEMENT dose (#PCDATA)>
<!ELEMENT frequency (#PCDATA)>
<!ELEMENT route (#PCDATA)>
<!ELEMENT prescriber (#PCDATA)>
<!ELEMENT reason (#PCDATA)>
<!ELEMENT start_date (#PCDATA)>
<!ELEMENT medications (id,assessment_id,takes_medications,takes_over_the_counter,takes_supplements,supplement_details,medication_adherence,pharmacy_name,pharmacy_phone,medications_notes,created_at,updated_at)>
<!ELEMENT takes_medications (#PCDATA)>
<!ELEMENT takes_over_the_counter (#PCDATA)>
<!ELEMENT takes_supplements (#PCDATA)>
<!ELEMENT supplement_details (#PCDATA)>
<!ELEMENT medication_adherence (#PCDATA)>
<!ELEMENT pharmacy_name (#PCDATA)>
<!ELEMENT pharmacy_phone (#PCDATA)>
<!ELEMENT medications_notes (#PCDATA)>
<!ELEMENT personal_information (id,assessment_id,first_name,middle_name,last_name,preferred_name,date_of_birth,sex,gender_identity,pronouns,marital_status,ethnicity,preferred_language,interpreter_needed,phone_home,phone_mobile,phone_work,email,address_line_1,address_line_2,city,county,postcode,emergency_contact_name,emergency_contact_phone,emergency_contact_relationship,created_at,updated_at)>
<!ELEMENT first_name (#PCDATA)>
<!ELEMENT middle_name (#PCDATA)>
<!ELEMENT last_name (#PCDATA)>
<!ELEMENT preferred_name (#PCDATA)>
<!ELEMENT date_of_birth (#PCDATA)>
<!ELEMENT sex (#PCDATA)>
<!ELEMENT gender_identity (#PCDATA)>
<!ELEMENT pronouns (#PCDATA)>
<!ELEMENT marital_status (#PCDATA)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT preferred_language (#PCDATA)>
<!ELEMENT interpreter_needed (#PCDATA)>
<!ELEMENT phone_home (#PCDATA)>
<!ELEMENT phone_mobile (#PCDATA)>
<!ELEMENT phone_work (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT address_line_1 (#PCDATA)>
<!ELEMENT address_line_2 (#PCDATA)>
<!ELEMENT city (#PCDATA)>
<!ELEMENT county (#PCDATA)>
<!ELEMENT postcode (#PCDATA)>
<!ELEMENT emergency_contact_name (#PCDATA)>
<!ELEMENT emergency_contact_phone (#PCDATA)>
<!ELEMENT emergency_contact_relationship (#PCDATA)>
<!ELEMENT reason_for_visit (id,assessment_id,visit_type,primary_reason,symptom_onset,symptom_duration,symptom_severity,symptoms_worsening,previous_treatment_for_this,referring_provider,referral_reason,patient_goals,reason_for_visit_notes,created_at,updated_at)>
<!ELEMENT visit_type (#PCDATA)>
<!ELEMENT primary_reason (#PCDATA)>
<!ELEMENT symptom_onset (#PCDATA)>
<!ELEMENT symptom_duration (#PCDATA)>
<!ELEMENT symptom_severity (#PCDATA)>
<!ELEMENT symptoms_worsening (#PCDATA)>
<!ELEMENT previous_treatment_for_this (#PCDATA)>
<!ELEMENT referring_provider (#PCDATA)>
<!ELEMENT referral_reason (#PCDATA)>
<!ELEMENT patient_goals (#PCDATA)>
<!ELEMENT reason_for_visit_notes (#PCDATA)>
<!ELEMENT review_of_systems (id,assessment_id,constitutional_fever,constitutional_weight_loss,constitutional_fatigue,constitutional_night_sweats,heent_headache,heent_vision_changes,heent_hearing_changes,heent_sore_throat,cardiovascular_chest_pain,cardiovascular_palpitations,cardiovascular_oedema,cardiovascular_dyspnoea,respiratory_cough,respiratory_wheezing,respiratory_shortness_of_breath,gi_nausea,gi_vomiting,gi_abdominal_pain,gi_diarrhoea,gi_constipation,gu_frequency,gu_urgency,gu_dysuria,msk_joint_pain,msk_muscle_pain,msk_swelling,msk_stiffness,neuro_numbness,neuro_tingling,neuro_weakness,neuro_dizziness,neuro_seizures,psych_depression,psych_anxiety,psych_sleep_disturbance,skin_rash,skin_itching,skin_lesions,additional_symptoms,review_of_systems_notes,created_at,updated_at)>
<!ELEMENT constitutional_fever (#PCDATA)>
<!ELEMENT constitutional_weight_loss (#PCDATA)>
<!ELEMENT constitutional_fatigue (#PCDATA)>
<!ELEMENT constitutional_night_sweats (#PCDATA)>
<!ELEMENT heent_headache (#PCDATA)>
<!ELEMENT heent_vision_changes (#PCDATA)>
<!ELEMENT heent_hearing_changes (#PCDATA)>
<!ELEMENT heent_sore_throat (#PCDATA)>
<!ELEMENT cardiovascular_chest_pain (#PCDATA)>
<!ELEMENT cardiovascular_palpitations (#PCDATA)>
<!ELEMENT cardiovascular_oedema (#PCDATA)>
<!ELEMENT cardiovascular_dyspnoea (#PCDATA)>
<!ELEMENT respiratory_cough (#PCDATA)>
<!ELEMENT respiratory_wheezing (#PCDATA)>
<!ELEMENT respiratory_shortness_of_breath (#PCDATA)>
<!ELEMENT gi_nausea (#PCDATA)>
<!ELEMENT gi_vomiting (#PCDATA)>
<!ELEMENT gi_abdominal_pain (#PCDATA)>
<!ELEMENT gi_diarrhoea (#PCDATA)>
<!ELEMENT gi_constipation (#PCDATA)>
<!ELEMENT gu_frequency (#PCDATA)>
<!ELEMENT gu_urgency (#PCDATA)>
<!ELEMENT gu_dysuria (#PCDATA)>
<!ELEMENT msk_joint_pain (#PCDATA)>
<!ELEMENT msk_muscle_pain (#PCDATA)>
<!ELEMENT msk_swelling (#PCDATA)>
<!ELEMENT msk_stiffness (#PCDATA)>
<!ELEMENT neuro_numbness (#PCDATA)>
<!ELEMENT neuro_tingling (#PCDATA)>
<!ELEMENT neuro_weakness (#PCDATA)>
<!ELEMENT neuro_dizziness (#PCDATA)>
<!ELEMENT neuro_seizures (#PCDATA)>
<!ELEMENT psych_depression (#PCDATA)>
<!ELEMENT psych_anxiety (#PCDATA)>
<!ELEMENT psych_sleep_disturbance (#PCDATA)>
<!ELEMENT skin_rash (#PCDATA)>
<!ELEMENT skin_itching (#PCDATA)>
<!ELEMENT skin_lesions (#PCDATA)>
<!ELEMENT additional_symptoms (#PCDATA)>
<!ELEMENT review_of_systems_notes (#PCDATA)>
<!ELEMENT social_history (id,assessment_id,smoking_status,smoking_pack_years,smoking_quit_date,alcohol_use,alcohol_units_per_week,recreational_drug_use,recreational_drug_details,caffeine_intake,exercise_frequency,exercise_type,diet_description,diet_details,occupation,employment_status,occupational_hazards,living_situation,housing_type,sexual_health_concerns,travel_history,social_history_notes,created_at,updated_at)>
<!ELEMENT smoking_status (#PCDATA)>
<!ELEMENT smoking_pack_years (#PCDATA)>
<!ELEMENT smoking_quit_date (#PCDATA)>
<!ELEMENT alcohol_use (#PCDATA)>
<!ELEMENT alcohol_units_per_week (#PCDATA)>
<!ELEMENT recreational_drug_use (#PCDATA)>
<!ELEMENT recreational_drug_details (#PCDATA)>
<!ELEMENT caffeine_intake (#PCDATA)>
<!ELEMENT exercise_frequency (#PCDATA)>
<!ELEMENT exercise_type (#PCDATA)>
<!ELEMENT diet_description (#PCDATA)>
<!ELEMENT diet_details (#PCDATA)>
<!ELEMENT occupation (#PCDATA)>
<!ELEMENT employment_status (#PCDATA)>
<!ELEMENT occupational_hazards (#PCDATA)>
<!ELEMENT living_situation (#PCDATA)>
<!ELEMENT housing_type (#PCDATA)>
<!ELEMENT sexual_health_concerns (#PCDATA)>
<!ELEMENT travel_history (#PCDATA)>
<!ELEMENT social_history_notes (#PCDATA)>
