forms/patient-intake/xml-representations/assessment_allergies.dtd

<!ELEMENT assessment_allergies (id,assessment_id,has_drug_allergies,has_food_allergies,has_environmental_allergies,has_latex_allergy,has_contrast_allergy,has_anaesthetic_allergy,history_of_anaphylaxis,carries_epipen,allergies_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_drug_allergies (#PCDATA)>
<!ELEMENT has_food_allergies (#PCDATA)>
<!ELEMENT has_environmental_allergies (#PCDATA)>
<!ELEMENT has_latex_allergy (#PCDATA)>
<!ELEMENT has_contrast_allergy (#PCDATA)>
<!ELEMENT has_anaesthetic_allergy (#PCDATA)>
<!ELEMENT history_of_anaphylaxis (#PCDATA)>
<!ELEMENT carries_epipen (#PCDATA)>
<!ELEMENT allergies_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
