forms/patient-intake/xml-representations/assessment_medical_history.dtd

<!ELEMENT assessment_medical_history (id,assessment_id,has_chronic_conditions,has_diabetes,diabetes_type,has_hypertension,has_heart_disease,heart_disease_details,has_lung_disease,lung_disease_details,has_kidney_disease,has_liver_disease,has_cancer,cancer_details,has_stroke,has_epilepsy,has_mental_health_condition,mental_health_details,has_autoimmune_disease,autoimmune_disease_details,has_previous_surgeries,surgery_details,has_hospitalisations,hospitalisation_details,other_conditions,medical_history_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_chronic_conditions (#PCDATA)>
<!ELEMENT has_diabetes (#PCDATA)>
<!ELEMENT diabetes_type (#PCDATA)>
<!ELEMENT has_hypertension (#PCDATA)>
<!ELEMENT has_heart_disease (#PCDATA)>
<!ELEMENT heart_disease_details (#PCDATA)>
<!ELEMENT has_lung_disease (#PCDATA)>
<!ELEMENT lung_disease_details (#PCDATA)>
<!ELEMENT has_kidney_disease (#PCDATA)>
<!ELEMENT has_liver_disease (#PCDATA)>
<!ELEMENT has_cancer (#PCDATA)>
<!ELEMENT cancer_details (#PCDATA)>
<!ELEMENT has_stroke (#PCDATA)>
<!ELEMENT has_epilepsy (#PCDATA)>
<!ELEMENT has_mental_health_condition (#PCDATA)>
<!ELEMENT mental_health_details (#PCDATA)>
<!ELEMENT has_autoimmune_disease (#PCDATA)>
<!ELEMENT autoimmune_disease_details (#PCDATA)>
<!ELEMENT has_previous_surgeries (#PCDATA)>
<!ELEMENT surgery_details (#PCDATA)>
<!ELEMENT has_hospitalisations (#PCDATA)>
<!ELEMENT hospitalisation_details (#PCDATA)>
<!ELEMENT other_conditions (#PCDATA)>
<!ELEMENT medical_history_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
