forms/patient-intake/xml-representations/assessment_insurance_and_id.dtd

<!ELEMENT assessment_insurance_and_id (id,assessment_id,nhs_number,hospital_number,gp_name,gp_practice,gp_address,gp_phone,has_private_insurance,insurance_provider,insurance_policy_number,insurance_group_number,insurance_phone,photo_id_verified,photo_id_type,insurance_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT nhs_number (#PCDATA)>
<!ELEMENT hospital_number (#PCDATA)>
<!ELEMENT gp_name (#PCDATA)>
<!ELEMENT gp_practice (#PCDATA)>
<!ELEMENT gp_address (#PCDATA)>
<!ELEMENT gp_phone (#PCDATA)>
<!ELEMENT has_private_insurance (#PCDATA)>
<!ELEMENT insurance_provider (#PCDATA)>
<!ELEMENT insurance_policy_number (#PCDATA)>
<!ELEMENT insurance_group_number (#PCDATA)>
<!ELEMENT insurance_phone (#PCDATA)>
<!ELEMENT photo_id_verified (#PCDATA)>
<!ELEMENT photo_id_type (#PCDATA)>
<!ELEMENT insurance_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
