forms/patient-intake/xml-representations/assessment_consent_preferences.dtd

<!ELEMENT assessment_consent_preferences (id,assessment_id,consent_to_treatment,consent_to_share_records,consent_to_research,consent_to_contact_sms,consent_to_contact_email,consent_to_contact_phone,preferred_contact_method,preferred_appointment_time,advance_directive,advance_directive_details,power_of_attorney,power_of_attorney_details,accessibility_needs,special_requirements,patient_signature_date,consent_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT consent_to_treatment (#PCDATA)>
<!ELEMENT consent_to_share_records (#PCDATA)>
<!ELEMENT consent_to_research (#PCDATA)>
<!ELEMENT consent_to_contact_sms (#PCDATA)>
<!ELEMENT consent_to_contact_email (#PCDATA)>
<!ELEMENT consent_to_contact_phone (#PCDATA)>
<!ELEMENT preferred_contact_method (#PCDATA)>
<!ELEMENT preferred_appointment_time (#PCDATA)>
<!ELEMENT advance_directive (#PCDATA)>
<!ELEMENT advance_directive_details (#PCDATA)>
<!ELEMENT power_of_attorney (#PCDATA)>
<!ELEMENT power_of_attorney_details (#PCDATA)>
<!ELEMENT accessibility_needs (#PCDATA)>
<!ELEMENT special_requirements (#PCDATA)>
<!ELEMENT patient_signature_date (#PCDATA)>
<!ELEMENT consent_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
