forms/patient-intake/xml-representations/assessment_family_history.dtd

<!ELEMENT assessment_family_history (id,assessment_id,family_history_heart_disease,family_history_stroke,family_history_diabetes,family_history_cancer,family_cancer_details,family_history_hypertension,family_history_mental_health,family_mental_health_details,family_history_autoimmune,family_history_kidney_disease,family_history_lung_disease,family_history_genetic,family_genetic_details,other_family_history,family_history_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT family_history_heart_disease (#PCDATA)>
<!ELEMENT family_history_stroke (#PCDATA)>
<!ELEMENT family_history_diabetes (#PCDATA)>
<!ELEMENT family_history_cancer (#PCDATA)>
<!ELEMENT family_cancer_details (#PCDATA)>
<!ELEMENT family_history_hypertension (#PCDATA)>
<!ELEMENT family_history_mental_health (#PCDATA)>
<!ELEMENT family_mental_health_details (#PCDATA)>
<!ELEMENT family_history_autoimmune (#PCDATA)>
<!ELEMENT family_history_kidney_disease (#PCDATA)>
<!ELEMENT family_history_lung_disease (#PCDATA)>
<!ELEMENT family_history_genetic (#PCDATA)>
<!ELEMENT family_genetic_details (#PCDATA)>
<!ELEMENT other_family_history (#PCDATA)>
<!ELEMENT family_history_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
