forms/patient-intake/xml-representations/assessment_personal_information.dtd

<!ELEMENT assessment_personal_information (id,assessment_id,first_name,middle_name,last_name,preferred_name,date_of_birth,sex,gender_identity,pronouns,marital_status,ethnicity,preferred_language,interpreter_needed,phone_home,phone_mobile,phone_work,email,address_line_1,address_line_2,city,county,postcode,emergency_contact_name,emergency_contact_phone,emergency_contact_relationship,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT first_name (#PCDATA)>
<!ELEMENT middle_name (#PCDATA)>
<!ELEMENT last_name (#PCDATA)>
<!ELEMENT preferred_name (#PCDATA)>
<!ELEMENT date_of_birth (#PCDATA)>
<!ELEMENT sex (#PCDATA)>
<!ELEMENT gender_identity (#PCDATA)>
<!ELEMENT pronouns (#PCDATA)>
<!ELEMENT marital_status (#PCDATA)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT preferred_language (#PCDATA)>
<!ELEMENT interpreter_needed (#PCDATA)>
<!ELEMENT phone_home (#PCDATA)>
<!ELEMENT phone_mobile (#PCDATA)>
<!ELEMENT phone_work (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT address_line_1 (#PCDATA)>
<!ELEMENT address_line_2 (#PCDATA)>
<!ELEMENT city (#PCDATA)>
<!ELEMENT county (#PCDATA)>
<!ELEMENT postcode (#PCDATA)>
<!ELEMENT emergency_contact_name (#PCDATA)>
<!ELEMENT emergency_contact_phone (#PCDATA)>
<!ELEMENT emergency_contact_relationship (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
