forms/patient-intake/xml-representations/assessment_review_of_systems.dtd

<!ELEMENT assessment_review_of_systems (id,assessment_id,constitutional_fever,constitutional_weight_loss,constitutional_fatigue,constitutional_night_sweats,heent_headache,heent_vision_changes,heent_hearing_changes,heent_sore_throat,cardiovascular_chest_pain,cardiovascular_palpitations,cardiovascular_oedema,cardiovascular_dyspnoea,respiratory_cough,respiratory_wheezing,respiratory_shortness_of_breath,gi_nausea,gi_vomiting,gi_abdominal_pain,gi_diarrhoea,gi_constipation,gu_frequency,gu_urgency,gu_dysuria,msk_joint_pain,msk_muscle_pain,msk_swelling,msk_stiffness,neuro_numbness,neuro_tingling,neuro_weakness,neuro_dizziness,neuro_seizures,psych_depression,psych_anxiety,psych_sleep_disturbance,skin_rash,skin_itching,skin_lesions,additional_symptoms,review_of_systems_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT constitutional_fever (#PCDATA)>
<!ELEMENT constitutional_weight_loss (#PCDATA)>
<!ELEMENT constitutional_fatigue (#PCDATA)>
<!ELEMENT constitutional_night_sweats (#PCDATA)>
<!ELEMENT heent_headache (#PCDATA)>
<!ELEMENT heent_vision_changes (#PCDATA)>
<!ELEMENT heent_hearing_changes (#PCDATA)>
<!ELEMENT heent_sore_throat (#PCDATA)>
<!ELEMENT cardiovascular_chest_pain (#PCDATA)>
<!ELEMENT cardiovascular_palpitations (#PCDATA)>
<!ELEMENT cardiovascular_oedema (#PCDATA)>
<!ELEMENT cardiovascular_dyspnoea (#PCDATA)>
<!ELEMENT respiratory_cough (#PCDATA)>
<!ELEMENT respiratory_wheezing (#PCDATA)>
<!ELEMENT respiratory_shortness_of_breath (#PCDATA)>
<!ELEMENT gi_nausea (#PCDATA)>
<!ELEMENT gi_vomiting (#PCDATA)>
<!ELEMENT gi_abdominal_pain (#PCDATA)>
<!ELEMENT gi_diarrhoea (#PCDATA)>
<!ELEMENT gi_constipation (#PCDATA)>
<!ELEMENT gu_frequency (#PCDATA)>
<!ELEMENT gu_urgency (#PCDATA)>
<!ELEMENT gu_dysuria (#PCDATA)>
<!ELEMENT msk_joint_pain (#PCDATA)>
<!ELEMENT msk_muscle_pain (#PCDATA)>
<!ELEMENT msk_swelling (#PCDATA)>
<!ELEMENT msk_stiffness (#PCDATA)>
<!ELEMENT neuro_numbness (#PCDATA)>
<!ELEMENT neuro_tingling (#PCDATA)>
<!ELEMENT neuro_weakness (#PCDATA)>
<!ELEMENT neuro_dizziness (#PCDATA)>
<!ELEMENT neuro_seizures (#PCDATA)>
<!ELEMENT psych_depression (#PCDATA)>
<!ELEMENT psych_anxiety (#PCDATA)>
<!ELEMENT psych_sleep_disturbance (#PCDATA)>
<!ELEMENT skin_rash (#PCDATA)>
<!ELEMENT skin_itching (#PCDATA)>
<!ELEMENT skin_lesions (#PCDATA)>
<!ELEMENT additional_symptoms (#PCDATA)>
<!ELEMENT review_of_systems_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
