forms/patient-intake/xml-representations/assessment_social_history.dtd

<!ELEMENT assessment_social_history (id,assessment_id,smoking_status,smoking_pack_years,smoking_quit_date,alcohol_use,alcohol_units_per_week,recreational_drug_use,recreational_drug_details,caffeine_intake,exercise_frequency,exercise_type,diet_description,diet_details,occupation,employment_status,occupational_hazards,living_situation,housing_type,sexual_health_concerns,travel_history,social_history_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT smoking_status (#PCDATA)>
<!ELEMENT smoking_pack_years (#PCDATA)>
<!ELEMENT smoking_quit_date (#PCDATA)>
<!ELEMENT alcohol_use (#PCDATA)>
<!ELEMENT alcohol_units_per_week (#PCDATA)>
<!ELEMENT recreational_drug_use (#PCDATA)>
<!ELEMENT recreational_drug_details (#PCDATA)>
<!ELEMENT caffeine_intake (#PCDATA)>
<!ELEMENT exercise_frequency (#PCDATA)>
<!ELEMENT exercise_type (#PCDATA)>
<!ELEMENT diet_description (#PCDATA)>
<!ELEMENT diet_details (#PCDATA)>
<!ELEMENT occupation (#PCDATA)>
<!ELEMENT employment_status (#PCDATA)>
<!ELEMENT occupational_hazards (#PCDATA)>
<!ELEMENT living_situation (#PCDATA)>
<!ELEMENT housing_type (#PCDATA)>
<!ELEMENT sexual_health_concerns (#PCDATA)>
<!ELEMENT travel_history (#PCDATA)>
<!ELEMENT social_history_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
