forms/attention-deficit-assessment/xml-representations/assessment_demographics.dtd

<!ELEMENT assessment_demographics (id,assessment_id,age,sex,ethnicity,occupation,education_level,marital_status,referring_clinician,referral_reason,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT age (#PCDATA)>
<!ELEMENT sex (#PCDATA)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT occupation (#PCDATA)>
<!ELEMENT education_level (#PCDATA)>
<!ELEMENT marital_status (#PCDATA)>
<!ELEMENT referring_clinician (#PCDATA)>
<!ELEMENT referral_reason (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
