forms/attention-deficit-assessment/xml-representations/assessment_social_support.dtd

<!ELEMENT assessment_social_support (id,assessment_id,living_situation,employment_status,has_support_network,support_network_details,coping_strategies,risk_taking_behaviour,risk_behaviour_details,legal_issues,legal_details,caffeine_use,alcohol_use,recreational_drug_use,goals_for_treatment,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT living_situation (#PCDATA)>
<!ELEMENT employment_status (#PCDATA)>
<!ELEMENT has_support_network (#PCDATA)>
<!ELEMENT support_network_details (#PCDATA)>
<!ELEMENT coping_strategies (#PCDATA)>
<!ELEMENT risk_taking_behaviour (#PCDATA)>
<!ELEMENT risk_behaviour_details (#PCDATA)>
<!ELEMENT legal_issues (#PCDATA)>
<!ELEMENT legal_details (#PCDATA)>
<!ELEMENT caffeine_use (#PCDATA)>
<!ELEMENT alcohol_use (#PCDATA)>
<!ELEMENT recreational_drug_use (#PCDATA)>
<!ELEMENT goals_for_treatment (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
