forms/attention-deficit-assessment/xml-representations/assessment_comorbid_conditions.dtd

<!ELEMENT assessment_comorbid_conditions (id,assessment_id,has_anxiety,has_depression,has_bipolar_disorder,has_autism_spectrum,has_learning_disability,has_substance_use_disorder,substance_use_details,has_sleep_disorder,sleep_disorder_details,has_personality_disorder,has_eating_disorder,has_tic_disorder,other_comorbidities,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_anxiety (#PCDATA)>
<!ELEMENT has_depression (#PCDATA)>
<!ELEMENT has_bipolar_disorder (#PCDATA)>
<!ELEMENT has_autism_spectrum (#PCDATA)>
<!ELEMENT has_learning_disability (#PCDATA)>
<!ELEMENT has_substance_use_disorder (#PCDATA)>
<!ELEMENT substance_use_details (#PCDATA)>
<!ELEMENT has_sleep_disorder (#PCDATA)>
<!ELEMENT sleep_disorder_details (#PCDATA)>
<!ELEMENT has_personality_disorder (#PCDATA)>
<!ELEMENT has_eating_disorder (#PCDATA)>
<!ELEMENT has_tic_disorder (#PCDATA)>
<!ELEMENT other_comorbidities (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
