forms/attention-deficit-assessment/xml-representations/assessment_current_medications.dtd

<!ELEMENT assessment_current_medications (id,assessment_id,currently_on_adhd_medication,adhd_medication_name,adhd_medication_dose,adhd_medication_duration,adhd_medication_response,previous_adhd_medications,previous_medication_side_effects,other_psychiatric_medications,other_regular_medications,cardiovascular_history,cardiovascular_details,blood_pressure_checked,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT currently_on_adhd_medication (#PCDATA)>
<!ELEMENT adhd_medication_name (#PCDATA)>
<!ELEMENT adhd_medication_dose (#PCDATA)>
<!ELEMENT adhd_medication_duration (#PCDATA)>
<!ELEMENT adhd_medication_response (#PCDATA)>
<!ELEMENT previous_adhd_medications (#PCDATA)>
<!ELEMENT previous_medication_side_effects (#PCDATA)>
<!ELEMENT other_psychiatric_medications (#PCDATA)>
<!ELEMENT other_regular_medications (#PCDATA)>
<!ELEMENT cardiovascular_history (#PCDATA)>
<!ELEMENT cardiovascular_details (#PCDATA)>
<!ELEMENT blood_pressure_checked (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
