forms/attention-deficit-assessment/xml-representations/assessment_medical_history.dtd

<!ELEMENT assessment_medical_history (id,assessment_id,has_head_injury_history,head_injury_details,has_seizure_history,seizure_details,has_thyroid_disorder,thyroid_details,has_cardiac_conditions,cardiac_details,birth_complications,birth_complication_details,family_history_of_adhd,family_adhd_details,family_psychiatric_history,other_medical_history,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_head_injury_history (#PCDATA)>
<!ELEMENT head_injury_details (#PCDATA)>
<!ELEMENT has_seizure_history (#PCDATA)>
<!ELEMENT seizure_details (#PCDATA)>
<!ELEMENT has_thyroid_disorder (#PCDATA)>
<!ELEMENT thyroid_details (#PCDATA)>
<!ELEMENT has_cardiac_conditions (#PCDATA)>
<!ELEMENT cardiac_details (#PCDATA)>
<!ELEMENT birth_complications (#PCDATA)>
<!ELEMENT birth_complication_details (#PCDATA)>
<!ELEMENT family_history_of_adhd (#PCDATA)>
<!ELEMENT family_adhd_details (#PCDATA)>
<!ELEMENT family_psychiatric_history (#PCDATA)>
<!ELEMENT other_medical_history (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
