forms/attention-deficit-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,allergies,asrs_part_a,asrs_part_b,childhood_history,comorbid_conditions,current_medications,demographics,functional_impact,medical_history,social_support)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT allergies (id,assessment_id,has_drug_allergies,drug_allergy_details,has_food_allergies,food_allergy_details,has_other_allergies,other_allergy_details,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_drug_allergies (#PCDATA)>
<!ELEMENT drug_allergy_details (#PCDATA)>
<!ELEMENT has_food_allergies (#PCDATA)>
<!ELEMENT food_allergy_details (#PCDATA)>
<!ELEMENT has_other_allergies (#PCDATA)>
<!ELEMENT other_allergy_details (#PCDATA)>
<!ELEMENT asrs_part_a (id,assessment_id,q1_wrapping_up_details,q2_difficulty_ordering,q3_remembering_appointments,q4_avoiding_starting,q5_fidgeting,q6_feeling_overly_active,darkly_shaded_count,created_at,updated_at)>
<!ELEMENT q1_wrapping_up_details (#PCDATA)>
<!ELEMENT q2_difficulty_ordering (#PCDATA)>
<!ELEMENT q3_remembering_appointments (#PCDATA)>
<!ELEMENT q4_avoiding_starting (#PCDATA)>
<!ELEMENT q5_fidgeting (#PCDATA)>
<!ELEMENT q6_feeling_overly_active (#PCDATA)>
<!ELEMENT darkly_shaded_count (#PCDATA)>
<!ELEMENT asrs_part_b (id,assessment_id,q7_careless_mistakes,q8_difficulty_sustaining_attention,q9_difficulty_listening,q10_difficulty_following_through,q11_difficulty_keeping_quiet,q12_finishing_others_sentences,q13_difficulty_waiting_turn,q14_interrupting_others,q15_always_on_the_go,q16_difficulty_relaxing,q17_talking_too_much,q18_losing_things,created_at,updated_at)>
<!ELEMENT q7_careless_mistakes (#PCDATA)>
<!ELEMENT q8_difficulty_sustaining_attention (#PCDATA)>
<!ELEMENT q9_difficulty_listening (#PCDATA)>
<!ELEMENT q10_difficulty_following_through (#PCDATA)>
<!ELEMENT q11_difficulty_keeping_quiet (#PCDATA)>
<!ELEMENT q12_finishing_others_sentences (#PCDATA)>
<!ELEMENT q13_difficulty_waiting_turn (#PCDATA)>
<!ELEMENT q14_interrupting_others (#PCDATA)>
<!ELEMENT q15_always_on_the_go (#PCDATA)>
<!ELEMENT q16_difficulty_relaxing (#PCDATA)>
<!ELEMENT q17_talking_too_much (#PCDATA)>
<!ELEMENT q18_losing_things (#PCDATA)>
<!ELEMENT childhood_history (id,assessment_id,symptoms_present_before_age_12,childhood_academic_difficulties,childhood_academic_details,childhood_behavioural_problems,childhood_behavioural_details,childhood_social_difficulties,previous_adhd_assessment,previous_assessment_details,school_reports_available,informant_corroboration,informant_details,created_at,updated_at)>
<!ELEMENT symptoms_present_before_age_12 (#PCDATA)>
<!ELEMENT childhood_academic_difficulties (#PCDATA)>
<!ELEMENT childhood_academic_details (#PCDATA)>
<!ELEMENT childhood_behavioural_problems (#PCDATA)>
<!ELEMENT childhood_behavioural_details (#PCDATA)>
<!ELEMENT childhood_social_difficulties (#PCDATA)>
<!ELEMENT previous_adhd_assessment (#PCDATA)>
<!ELEMENT previous_assessment_details (#PCDATA)>
<!ELEMENT school_reports_available (#PCDATA)>
<!ELEMENT informant_corroboration (#PCDATA)>
<!ELEMENT informant_details (#PCDATA)>
<!ELEMENT comorbid_conditions (id,assessment_id,has_anxiety,has_depression,has_bipolar_disorder,has_autism_spectrum,has_learning_disability,has_substance_use_disorder,substance_use_details,has_sleep_disorder,sleep_disorder_details,has_personality_disorder,has_eating_disorder,has_tic_disorder,other_comorbidities,created_at,updated_at)>
<!ELEMENT has_anxiety (#PCDATA)>
<!ELEMENT has_depression (#PCDATA)>
<!ELEMENT has_bipolar_disorder (#PCDATA)>
<!ELEMENT has_autism_spectrum (#PCDATA)>
<!ELEMENT has_learning_disability (#PCDATA)>
<!ELEMENT has_substance_use_disorder (#PCDATA)>
<!ELEMENT substance_use_details (#PCDATA)>
<!ELEMENT has_sleep_disorder (#PCDATA)>
<!ELEMENT sleep_disorder_details (#PCDATA)>
<!ELEMENT has_personality_disorder (#PCDATA)>
<!ELEMENT has_eating_disorder (#PCDATA)>
<!ELEMENT has_tic_disorder (#PCDATA)>
<!ELEMENT other_comorbidities (#PCDATA)>
<!ELEMENT current_medications (id,assessment_id,currently_on_adhd_medication,adhd_medication_name,adhd_medication_dose,adhd_medication_duration,adhd_medication_response,previous_adhd_medications,previous_medication_side_effects,other_psychiatric_medications,other_regular_medications,cardiovascular_history,cardiovascular_details,blood_pressure_checked,created_at,updated_at)>
<!ELEMENT currently_on_adhd_medication (#PCDATA)>
<!ELEMENT adhd_medication_name (#PCDATA)>
<!ELEMENT adhd_medication_dose (#PCDATA)>
<!ELEMENT adhd_medication_duration (#PCDATA)>
<!ELEMENT adhd_medication_response (#PCDATA)>
<!ELEMENT previous_adhd_medications (#PCDATA)>
<!ELEMENT previous_medication_side_effects (#PCDATA)>
<!ELEMENT other_psychiatric_medications (#PCDATA)>
<!ELEMENT other_regular_medications (#PCDATA)>
<!ELEMENT cardiovascular_history (#PCDATA)>
<!ELEMENT cardiovascular_details (#PCDATA)>
<!ELEMENT blood_pressure_checked (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,age,sex,ethnicity,occupation,education_level,marital_status,referring_clinician,referral_reason,created_at,updated_at)>
<!ELEMENT age (#PCDATA)>
<!ELEMENT sex (#PCDATA)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT occupation (#PCDATA)>
<!ELEMENT education_level (#PCDATA)>
<!ELEMENT marital_status (#PCDATA)>
<!ELEMENT referring_clinician (#PCDATA)>
<!ELEMENT referral_reason (#PCDATA)>
<!ELEMENT functional_impact (id,assessment_id,impact_on_work,work_impact_details,impact_on_education,education_impact_details,impact_on_relationships,relationship_impact_details,impact_on_daily_tasks,daily_tasks_impact_details,impact_on_finances,impact_on_self_esteem,driving_concerns,overall_functional_impairment,created_at,updated_at)>
<!ELEMENT impact_on_work (#PCDATA)>
<!ELEMENT work_impact_details (#PCDATA)>
<!ELEMENT impact_on_education (#PCDATA)>
<!ELEMENT education_impact_details (#PCDATA)>
<!ELEMENT impact_on_relationships (#PCDATA)>
<!ELEMENT relationship_impact_details (#PCDATA)>
<!ELEMENT impact_on_daily_tasks (#PCDATA)>
<!ELEMENT daily_tasks_impact_details (#PCDATA)>
<!ELEMENT impact_on_finances (#PCDATA)>
<!ELEMENT impact_on_self_esteem (#PCDATA)>
<!ELEMENT driving_concerns (#PCDATA)>
<!ELEMENT overall_functional_impairment (#PCDATA)>
<!ELEMENT medical_history (id,assessment_id,has_head_injury_history,head_injury_details,has_seizure_history,seizure_details,has_thyroid_disorder,thyroid_details,has_cardiac_conditions,cardiac_details,birth_complications,birth_complication_details,family_history_of_adhd,family_adhd_details,family_psychiatric_history,other_medical_history,created_at,updated_at)>
<!ELEMENT has_head_injury_history (#PCDATA)>
<!ELEMENT head_injury_details (#PCDATA)>
<!ELEMENT has_seizure_history (#PCDATA)>
<!ELEMENT seizure_details (#PCDATA)>
<!ELEMENT has_thyroid_disorder (#PCDATA)>
<!ELEMENT thyroid_details (#PCDATA)>
<!ELEMENT has_cardiac_conditions (#PCDATA)>
<!ELEMENT cardiac_details (#PCDATA)>
<!ELEMENT birth_complications (#PCDATA)>
<!ELEMENT birth_complication_details (#PCDATA)>
<!ELEMENT family_history_of_adhd (#PCDATA)>
<!ELEMENT family_adhd_details (#PCDATA)>
<!ELEMENT family_psychiatric_history (#PCDATA)>
<!ELEMENT other_medical_history (#PCDATA)>
<!ELEMENT social_support (id,assessment_id,living_situation,employment_status,has_support_network,support_network_details,coping_strategies,risk_taking_behaviour,risk_behaviour_details,legal_issues,legal_details,caffeine_use,alcohol_use,recreational_drug_use,goals_for_treatment,created_at,updated_at)>
<!ELEMENT living_situation (#PCDATA)>
<!ELEMENT employment_status (#PCDATA)>
<!ELEMENT has_support_network (#PCDATA)>
<!ELEMENT support_network_details (#PCDATA)>
<!ELEMENT coping_strategies (#PCDATA)>
<!ELEMENT risk_taking_behaviour (#PCDATA)>
<!ELEMENT risk_behaviour_details (#PCDATA)>
<!ELEMENT legal_issues (#PCDATA)>
<!ELEMENT legal_details (#PCDATA)>
<!ELEMENT caffeine_use (#PCDATA)>
<!ELEMENT alcohol_use (#PCDATA)>
<!ELEMENT recreational_drug_use (#PCDATA)>
<!ELEMENT goals_for_treatment (#PCDATA)>
