forms/attention-deficit-assessment/xml-representations/assessment_childhood_history.dtd

<!ELEMENT assessment_childhood_history (id,assessment_id,symptoms_present_before_age_12,childhood_academic_difficulties,childhood_academic_details,childhood_behavioural_problems,childhood_behavioural_details,childhood_social_difficulties,previous_adhd_assessment,previous_assessment_details,school_reports_available,informant_corroboration,informant_details,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT symptoms_present_before_age_12 (#PCDATA)>
<!ELEMENT childhood_academic_difficulties (#PCDATA)>
<!ELEMENT childhood_academic_details (#PCDATA)>
<!ELEMENT childhood_behavioural_problems (#PCDATA)>
<!ELEMENT childhood_behavioural_details (#PCDATA)>
<!ELEMENT childhood_social_difficulties (#PCDATA)>
<!ELEMENT previous_adhd_assessment (#PCDATA)>
<!ELEMENT previous_assessment_details (#PCDATA)>
<!ELEMENT school_reports_available (#PCDATA)>
<!ELEMENT informant_corroboration (#PCDATA)>
<!ELEMENT informant_details (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
