forms/attention-deficit-assessment/xml-representations/grading_result.dtd

<!ELEMENT grading_result (id,assessment_id,part_a_darkly_shaded_count,screening_result,graded_at,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT part_a_darkly_shaded_count (#PCDATA)>
<!ELEMENT screening_result (#PCDATA)>
<!ELEMENT graded_at (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
