forms/mobility-assessment/xml-representations/assessment_functional_independence.dtd

<!ELEMENT assessment_functional_independence (id,assessment_id,transfers,indoor_mobility,outdoor_mobility,stair_negotiation,bathing,dressing,toileting,meal_preparation,shopping,community_access,carer_support,carer_details,functional_goals,functional_independence_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT transfers (#PCDATA)>
<!ELEMENT indoor_mobility (#PCDATA)>
<!ELEMENT outdoor_mobility (#PCDATA)>
<!ELEMENT stair_negotiation (#PCDATA)>
<!ELEMENT bathing (#PCDATA)>
<!ELEMENT dressing (#PCDATA)>
<!ELEMENT toileting (#PCDATA)>
<!ELEMENT meal_preparation (#PCDATA)>
<!ELEMENT shopping (#PCDATA)>
<!ELEMENT community_access (#PCDATA)>
<!ELEMENT carer_support (#PCDATA)>
<!ELEMENT carer_details (#PCDATA)>
<!ELEMENT functional_goals (#PCDATA)>
<!ELEMENT functional_independence_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
