forms/mobility-assessment/xml-representations/assessment_fall_history.dtd

<!ELEMENT assessment_fall_history (id,assessment_id,falls_in_past_12_months,fall_count,most_recent_fall_date,fall_circumstances,fall_injuries,fall_injury_details,fracture_from_fall,fracture_details,hospitalisation_from_fall,fear_of_falling,activity_restriction_due_to_fear,near_falls,near_fall_frequency,fall_history_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT falls_in_past_12_months (#PCDATA)>
<!ELEMENT fall_count (#PCDATA)>
<!ELEMENT most_recent_fall_date (#PCDATA)>
<!ELEMENT fall_circumstances (#PCDATA)>
<!ELEMENT fall_injuries (#PCDATA)>
<!ELEMENT fall_injury_details (#PCDATA)>
<!ELEMENT fracture_from_fall (#PCDATA)>
<!ELEMENT fracture_details (#PCDATA)>
<!ELEMENT hospitalisation_from_fall (#PCDATA)>
<!ELEMENT fear_of_falling (#PCDATA)>
<!ELEMENT activity_restriction_due_to_fear (#PCDATA)>
<!ELEMENT near_falls (#PCDATA)>
<!ELEMENT near_fall_frequency (#PCDATA)>
<!ELEMENT fall_history_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
