forms/mobility-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,assistive_devices,balance_assessment,current_medications,demographics,fall_history,functional_independence,gait_assessment,range_of_motion,referral_information,timed_up_and_go)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT assistive_devices (id,assessment_id,uses_assistive_device,walking_stick,walking_frame,rollator,wheelchair,wheelchair_type,orthotics,orthotics_details,other_device,device_condition,device_appropriate,device_used_correctly,home_adaptations,assistive_device_notes,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT uses_assistive_device (#PCDATA)>
<!ELEMENT walking_stick (#PCDATA)>
<!ELEMENT walking_frame (#PCDATA)>
<!ELEMENT rollator (#PCDATA)>
<!ELEMENT wheelchair (#PCDATA)>
<!ELEMENT wheelchair_type (#PCDATA)>
<!ELEMENT orthotics (#PCDATA)>
<!ELEMENT orthotics_details (#PCDATA)>
<!ELEMENT other_device (#PCDATA)>
<!ELEMENT device_condition (#PCDATA)>
<!ELEMENT device_appropriate (#PCDATA)>
<!ELEMENT device_used_correctly (#PCDATA)>
<!ELEMENT home_adaptations (#PCDATA)>
<!ELEMENT assistive_device_notes (#PCDATA)>
<!ELEMENT balance_assessment (id,assessment_id,sitting_balance,arising_from_chair,attempts_to_arise,immediate_standing_balance,standing_balance,nudge_test,eyes_closed,turning_360,sitting_down,balance_total_score,balance_notes,created_at,updated_at)>
<!ELEMENT sitting_balance (#PCDATA)>
<!ELEMENT arising_from_chair (#PCDATA)>
<!ELEMENT attempts_to_arise (#PCDATA)>
<!ELEMENT immediate_standing_balance (#PCDATA)>
<!ELEMENT standing_balance (#PCDATA)>
<!ELEMENT nudge_test (#PCDATA)>
<!ELEMENT eyes_closed (#PCDATA)>
<!ELEMENT turning_360 (#PCDATA)>
<!ELEMENT sitting_down (#PCDATA)>
<!ELEMENT balance_total_score (#PCDATA)>
<!ELEMENT balance_notes (#PCDATA)>
<!ELEMENT current_medications (id,assessment_id,polypharmacy,total_medication_count,fall_risk_medications,sedatives,antihypertensives,diuretics,psychotropics,opioids,anticonvulsants,postural_hypotension,recent_medication_changes,medication_change_details,medication_notes,created_at,updated_at)>
<!ELEMENT polypharmacy (#PCDATA)>
<!ELEMENT total_medication_count (#PCDATA)>
<!ELEMENT fall_risk_medications (#PCDATA)>
<!ELEMENT sedatives (#PCDATA)>
<!ELEMENT antihypertensives (#PCDATA)>
<!ELEMENT diuretics (#PCDATA)>
<!ELEMENT psychotropics (#PCDATA)>
<!ELEMENT opioids (#PCDATA)>
<!ELEMENT anticonvulsants (#PCDATA)>
<!ELEMENT postural_hypotension (#PCDATA)>
<!ELEMENT recent_medication_changes (#PCDATA)>
<!ELEMENT medication_change_details (#PCDATA)>
<!ELEMENT medication_notes (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,occupation,ethnicity,contact_phone,contact_email,emergency_contact_name,emergency_contact_phone,gp_name,gp_practice,living_environment,stairs_at_home,created_at,updated_at)>
<!ELEMENT occupation (#PCDATA)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT contact_phone (#PCDATA)>
<!ELEMENT contact_email (#PCDATA)>
<!ELEMENT emergency_contact_name (#PCDATA)>
<!ELEMENT emergency_contact_phone (#PCDATA)>
<!ELEMENT gp_name (#PCDATA)>
<!ELEMENT gp_practice (#PCDATA)>
<!ELEMENT living_environment (#PCDATA)>
<!ELEMENT stairs_at_home (#PCDATA)>
<!ELEMENT fall_history (id,assessment_id,falls_in_past_12_months,fall_count,most_recent_fall_date,fall_circumstances,fall_injuries,fall_injury_details,fracture_from_fall,fracture_details,hospitalisation_from_fall,fear_of_falling,activity_restriction_due_to_fear,near_falls,near_fall_frequency,fall_history_notes,created_at,updated_at)>
<!ELEMENT falls_in_past_12_months (#PCDATA)>
<!ELEMENT fall_count (#PCDATA)>
<!ELEMENT most_recent_fall_date (#PCDATA)>
<!ELEMENT fall_circumstances (#PCDATA)>
<!ELEMENT fall_injuries (#PCDATA)>
<!ELEMENT fall_injury_details (#PCDATA)>
<!ELEMENT fracture_from_fall (#PCDATA)>
<!ELEMENT fracture_details (#PCDATA)>
<!ELEMENT hospitalisation_from_fall (#PCDATA)>
<!ELEMENT fear_of_falling (#PCDATA)>
<!ELEMENT activity_restriction_due_to_fear (#PCDATA)>
<!ELEMENT near_falls (#PCDATA)>
<!ELEMENT near_fall_frequency (#PCDATA)>
<!ELEMENT fall_history_notes (#PCDATA)>
<!ELEMENT functional_independence (id,assessment_id,transfers,indoor_mobility,outdoor_mobility,stair_negotiation,bathing,dressing,toileting,meal_preparation,shopping,community_access,carer_support,carer_details,functional_goals,functional_independence_notes,created_at,updated_at)>
<!ELEMENT transfers (#PCDATA)>
<!ELEMENT indoor_mobility (#PCDATA)>
<!ELEMENT outdoor_mobility (#PCDATA)>
<!ELEMENT stair_negotiation (#PCDATA)>
<!ELEMENT bathing (#PCDATA)>
<!ELEMENT dressing (#PCDATA)>
<!ELEMENT toileting (#PCDATA)>
<!ELEMENT meal_preparation (#PCDATA)>
<!ELEMENT shopping (#PCDATA)>
<!ELEMENT community_access (#PCDATA)>
<!ELEMENT carer_support (#PCDATA)>
<!ELEMENT carer_details (#PCDATA)>
<!ELEMENT functional_goals (#PCDATA)>
<!ELEMENT functional_independence_notes (#PCDATA)>
<!ELEMENT gait_assessment (id,assessment_id,initiation_of_gait,step_length_right,step_length_left,step_height_right,step_height_left,step_symmetry,step_continuity,path_deviation,trunk_sway,walking_stance,gait_total_score,gait_notes,created_at,updated_at)>
<!ELEMENT initiation_of_gait (#PCDATA)>
<!ELEMENT step_length_right (#PCDATA)>
<!ELEMENT step_length_left (#PCDATA)>
<!ELEMENT step_height_right (#PCDATA)>
<!ELEMENT step_height_left (#PCDATA)>
<!ELEMENT step_symmetry (#PCDATA)>
<!ELEMENT step_continuity (#PCDATA)>
<!ELEMENT path_deviation (#PCDATA)>
<!ELEMENT trunk_sway (#PCDATA)>
<!ELEMENT walking_stance (#PCDATA)>
<!ELEMENT gait_total_score (#PCDATA)>
<!ELEMENT gait_notes (#PCDATA)>
<!ELEMENT range_of_motion (id,assessment_id,hip_flexion_left,hip_flexion_right,hip_extension_left,hip_extension_right,knee_flexion_left,knee_flexion_right,knee_extension_left,knee_extension_right,ankle_dorsiflexion_left,ankle_dorsiflexion_right,ankle_plantarflexion_left,ankle_plantarflexion_right,joint_pain,joint_pain_details,joint_stiffness,range_of_motion_notes,created_at,updated_at)>
<!ELEMENT hip_flexion_left (#PCDATA)>
<!ELEMENT hip_flexion_right (#PCDATA)>
<!ELEMENT hip_extension_left (#PCDATA)>
<!ELEMENT hip_extension_right (#PCDATA)>
<!ELEMENT knee_flexion_left (#PCDATA)>
<!ELEMENT knee_flexion_right (#PCDATA)>
<!ELEMENT knee_extension_left (#PCDATA)>
<!ELEMENT knee_extension_right (#PCDATA)>
<!ELEMENT ankle_dorsiflexion_left (#PCDATA)>
<!ELEMENT ankle_dorsiflexion_right (#PCDATA)>
<!ELEMENT ankle_plantarflexion_left (#PCDATA)>
<!ELEMENT ankle_plantarflexion_right (#PCDATA)>
<!ELEMENT joint_pain (#PCDATA)>
<!ELEMENT joint_pain_details (#PCDATA)>
<!ELEMENT joint_stiffness (#PCDATA)>
<!ELEMENT range_of_motion_notes (#PCDATA)>
<!ELEMENT referral_information (id,assessment_id,referring_clinician,referring_organisation,referral_date,referral_reason,previous_mobility_assessment,previous_assessment_date,previous_tinetti_score,created_at,updated_at)>
<!ELEMENT referring_clinician (#PCDATA)>
<!ELEMENT referring_organisation (#PCDATA)>
<!ELEMENT referral_date (#PCDATA)>
<!ELEMENT referral_reason (#PCDATA)>
<!ELEMENT previous_mobility_assessment (#PCDATA)>
<!ELEMENT previous_assessment_date (#PCDATA)>
<!ELEMENT previous_tinetti_score (#PCDATA)>
<!ELEMENT timed_up_and_go (id,assessment_id,tug_time_seconds,tug_risk_category,assistive_device_used,assistive_device_type,unsteadiness_observed,required_physical_assistance,trial_count,tug_notes,created_at,updated_at)>
<!ELEMENT tug_time_seconds (#PCDATA)>
<!ELEMENT tug_risk_category (#PCDATA)>
<!ELEMENT assistive_device_used (#PCDATA)>
<!ELEMENT assistive_device_type (#PCDATA)>
<!ELEMENT unsteadiness_observed (#PCDATA)>
<!ELEMENT required_physical_assistance (#PCDATA)>
<!ELEMENT trial_count (#PCDATA)>
<!ELEMENT tug_notes (#PCDATA)>
