forms/mobility-assessment/xml-representations/assessment_range_of_motion.dtd

<!ELEMENT assessment_range_of_motion (id,assessment_id,hip_flexion_left,hip_flexion_right,hip_extension_left,hip_extension_right,knee_flexion_left,knee_flexion_right,knee_extension_left,knee_extension_right,ankle_dorsiflexion_left,ankle_dorsiflexion_right,ankle_plantarflexion_left,ankle_plantarflexion_right,joint_pain,joint_pain_details,joint_stiffness,range_of_motion_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT hip_flexion_left (#PCDATA)>
<!ELEMENT hip_flexion_right (#PCDATA)>
<!ELEMENT hip_extension_left (#PCDATA)>
<!ELEMENT hip_extension_right (#PCDATA)>
<!ELEMENT knee_flexion_left (#PCDATA)>
<!ELEMENT knee_flexion_right (#PCDATA)>
<!ELEMENT knee_extension_left (#PCDATA)>
<!ELEMENT knee_extension_right (#PCDATA)>
<!ELEMENT ankle_dorsiflexion_left (#PCDATA)>
<!ELEMENT ankle_dorsiflexion_right (#PCDATA)>
<!ELEMENT ankle_plantarflexion_left (#PCDATA)>
<!ELEMENT ankle_plantarflexion_right (#PCDATA)>
<!ELEMENT joint_pain (#PCDATA)>
<!ELEMENT joint_pain_details (#PCDATA)>
<!ELEMENT joint_stiffness (#PCDATA)>
<!ELEMENT range_of_motion_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
