forms/mobility-assessment/xml-representations/assessment_current_medications.dtd

<!ELEMENT assessment_current_medications (id,assessment_id,polypharmacy,total_medication_count,fall_risk_medications,sedatives,antihypertensives,diuretics,psychotropics,opioids,anticonvulsants,postural_hypotension,recent_medication_changes,medication_change_details,medication_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT polypharmacy (#PCDATA)>
<!ELEMENT total_medication_count (#PCDATA)>
<!ELEMENT fall_risk_medications (#PCDATA)>
<!ELEMENT sedatives (#PCDATA)>
<!ELEMENT antihypertensives (#PCDATA)>
<!ELEMENT diuretics (#PCDATA)>
<!ELEMENT psychotropics (#PCDATA)>
<!ELEMENT opioids (#PCDATA)>
<!ELEMENT anticonvulsants (#PCDATA)>
<!ELEMENT postural_hypotension (#PCDATA)>
<!ELEMENT recent_medication_changes (#PCDATA)>
<!ELEMENT medication_change_details (#PCDATA)>
<!ELEMENT medication_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
