forms/mobility-assessment/xml-representations/assessment_assistive_devices.dtd

<!ELEMENT assessment_assistive_devices (id,assessment_id,uses_assistive_device,walking_stick,walking_frame,rollator,wheelchair,wheelchair_type,orthotics,orthotics_details,other_device,device_condition,device_appropriate,device_used_correctly,home_adaptations,assistive_device_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT uses_assistive_device (#PCDATA)>
<!ELEMENT walking_stick (#PCDATA)>
<!ELEMENT walking_frame (#PCDATA)>
<!ELEMENT rollator (#PCDATA)>
<!ELEMENT wheelchair (#PCDATA)>
<!ELEMENT wheelchair_type (#PCDATA)>
<!ELEMENT orthotics (#PCDATA)>
<!ELEMENT orthotics_details (#PCDATA)>
<!ELEMENT other_device (#PCDATA)>
<!ELEMENT device_condition (#PCDATA)>
<!ELEMENT device_appropriate (#PCDATA)>
<!ELEMENT device_used_correctly (#PCDATA)>
<!ELEMENT home_adaptations (#PCDATA)>
<!ELEMENT assistive_device_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
