forms/mobility-assessment/xml-representations/assessment_timed_up_and_go.dtd

<!ELEMENT assessment_timed_up_and_go (id,assessment_id,tug_time_seconds,tug_risk_category,assistive_device_used,assistive_device_type,unsteadiness_observed,required_physical_assistance,trial_count,tug_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT tug_time_seconds (#PCDATA)>
<!ELEMENT tug_risk_category (#PCDATA)>
<!ELEMENT assistive_device_used (#PCDATA)>
<!ELEMENT assistive_device_type (#PCDATA)>
<!ELEMENT unsteadiness_observed (#PCDATA)>
<!ELEMENT required_physical_assistance (#PCDATA)>
<!ELEMENT trial_count (#PCDATA)>
<!ELEMENT tug_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
