forms/nutrition-assessment/xml-representations/assessment_dietary_history.dtd

<!ELEMENT assessment_dietary_history (id,assessment_id,meals_per_day,snacks_per_day,appetite,appetite_change,fluid_intake_ml_per_day,diet_type,diet_type_other,texture_modification,fluid_consistency,meal_preparation,dietary_restrictions,dietary_history_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT meals_per_day (#PCDATA)>
<!ELEMENT snacks_per_day (#PCDATA)>
<!ELEMENT appetite (#PCDATA)>
<!ELEMENT appetite_change (#PCDATA)>
<!ELEMENT fluid_intake_ml_per_day (#PCDATA)>
<!ELEMENT diet_type (#PCDATA)>
<!ELEMENT diet_type_other (#PCDATA)>
<!ELEMENT texture_modification (#PCDATA)>
<!ELEMENT fluid_consistency (#PCDATA)>
<!ELEMENT meal_preparation (#PCDATA)>
<!ELEMENT dietary_restrictions (#PCDATA)>
<!ELEMENT dietary_history_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
