forms/nutrition-assessment/xml-representations/assessment_current_nutritional_support.dtd

<!ELEMENT assessment_current_nutritional_support (id,assessment_id,oral_diet,oral_nutritional_supplements,ons_type,ons_frequency,enteral_feeding,enteral_route,enteral_feed_type,enteral_rate_ml_per_hour,enteral_hours_per_day,parenteral_nutrition,parenteral_type,parenteral_details,food_fortification,nutritional_support_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT oral_diet (#PCDATA)>
<!ELEMENT oral_nutritional_supplements (#PCDATA)>
<!ELEMENT ons_type (#PCDATA)>
<!ELEMENT ons_frequency (#PCDATA)>
<!ELEMENT enteral_feeding (#PCDATA)>
<!ELEMENT enteral_route (#PCDATA)>
<!ELEMENT enteral_feed_type (#PCDATA)>
<!ELEMENT enteral_rate_ml_per_hour (#PCDATA)>
<!ELEMENT enteral_hours_per_day (#PCDATA)>
<!ELEMENT parenteral_nutrition (#PCDATA)>
<!ELEMENT parenteral_type (#PCDATA)>
<!ELEMENT parenteral_details (#PCDATA)>
<!ELEMENT food_fortification (#PCDATA)>
<!ELEMENT nutritional_support_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
