forms/nutrition-assessment/xml-representations/assessment_food_allergies_intolerances.dtd

<!ELEMENT assessment_food_allergies_intolerances (id,assessment_id,has_food_allergies,has_food_intolerances,coeliac_disease,lactose_intolerance,has_drug_allergies,anaphylaxis_history,anaphylaxis_details,epipen_available,allergy_details,intolerance_details,drug_allergy_details,food_allergy_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_food_allergies (#PCDATA)>
<!ELEMENT has_food_intolerances (#PCDATA)>
<!ELEMENT coeliac_disease (#PCDATA)>
<!ELEMENT lactose_intolerance (#PCDATA)>
<!ELEMENT has_drug_allergies (#PCDATA)>
<!ELEMENT anaphylaxis_history (#PCDATA)>
<!ELEMENT anaphylaxis_details (#PCDATA)>
<!ELEMENT epipen_available (#PCDATA)>
<!ELEMENT allergy_details (#PCDATA)>
<!ELEMENT intolerance_details (#PCDATA)>
<!ELEMENT drug_allergy_details (#PCDATA)>
<!ELEMENT food_allergy_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
