forms/nutrition-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,anthropometric_measurements,care_plan_monitoring,current_nutritional_support,demographics,dietary_history,food_allergies_intolerances,gastrointestinal_function,nutritional_requirements,nutritional_screening,swallowing_oral_health)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT anthropometric_measurements (id,assessment_id,current_weight_kg,usual_weight_kg,height_cm,bmi,mid_upper_arm_circumference_cm,waist_circumference_cm,unplanned_weight_loss,weight_loss_percent,weight_loss_timeframe,unable_to_weigh,unable_to_weigh_reason,anthropometric_notes,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT current_weight_kg (#PCDATA)>
<!ELEMENT usual_weight_kg (#PCDATA)>
<!ELEMENT height_cm (#PCDATA)>
<!ELEMENT bmi (#PCDATA)>
<!ELEMENT mid_upper_arm_circumference_cm (#PCDATA)>
<!ELEMENT waist_circumference_cm (#PCDATA)>
<!ELEMENT unplanned_weight_loss (#PCDATA)>
<!ELEMENT weight_loss_percent (#PCDATA)>
<!ELEMENT weight_loss_timeframe (#PCDATA)>
<!ELEMENT unable_to_weigh (#PCDATA)>
<!ELEMENT unable_to_weigh_reason (#PCDATA)>
<!ELEMENT anthropometric_notes (#PCDATA)>
<!ELEMENT care_plan_monitoring (id,assessment_id,nutritional_goals,weight_monitoring_frequency,food_chart_required,fluid_balance_chart_required,dietitian_referral,salt_referral,reassessment_date,reassessment_frequency,escalation_plan,discharge_nutrition_plan,patient_education_provided,patient_education_details,care_plan_notes,created_at,updated_at)>
<!ELEMENT nutritional_goals (#PCDATA)>
<!ELEMENT weight_monitoring_frequency (#PCDATA)>
<!ELEMENT food_chart_required (#PCDATA)>
<!ELEMENT fluid_balance_chart_required (#PCDATA)>
<!ELEMENT dietitian_referral (#PCDATA)>
<!ELEMENT salt_referral (#PCDATA)>
<!ELEMENT reassessment_date (#PCDATA)>
<!ELEMENT reassessment_frequency (#PCDATA)>
<!ELEMENT escalation_plan (#PCDATA)>
<!ELEMENT discharge_nutrition_plan (#PCDATA)>
<!ELEMENT patient_education_provided (#PCDATA)>
<!ELEMENT patient_education_details (#PCDATA)>
<!ELEMENT care_plan_notes (#PCDATA)>
<!ELEMENT current_nutritional_support (id,assessment_id,oral_diet,oral_nutritional_supplements,ons_type,ons_frequency,enteral_feeding,enteral_route,enteral_feed_type,enteral_rate_ml_per_hour,enteral_hours_per_day,parenteral_nutrition,parenteral_type,parenteral_details,food_fortification,nutritional_support_notes,created_at,updated_at)>
<!ELEMENT oral_diet (#PCDATA)>
<!ELEMENT oral_nutritional_supplements (#PCDATA)>
<!ELEMENT ons_type (#PCDATA)>
<!ELEMENT ons_frequency (#PCDATA)>
<!ELEMENT enteral_feeding (#PCDATA)>
<!ELEMENT enteral_route (#PCDATA)>
<!ELEMENT enteral_feed_type (#PCDATA)>
<!ELEMENT enteral_rate_ml_per_hour (#PCDATA)>
<!ELEMENT enteral_hours_per_day (#PCDATA)>
<!ELEMENT parenteral_nutrition (#PCDATA)>
<!ELEMENT parenteral_type (#PCDATA)>
<!ELEMENT parenteral_details (#PCDATA)>
<!ELEMENT food_fortification (#PCDATA)>
<!ELEMENT nutritional_support_notes (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,preferred_name,gender_identity,ethnicity,preferred_language,interpreter_required,gp_name,gp_practice,referrer_name,referrer_role,created_at,updated_at)>
<!ELEMENT preferred_name (#PCDATA)>
<!ELEMENT gender_identity (#PCDATA)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT preferred_language (#PCDATA)>
<!ELEMENT interpreter_required (#PCDATA)>
<!ELEMENT gp_name (#PCDATA)>
<!ELEMENT gp_practice (#PCDATA)>
<!ELEMENT referrer_name (#PCDATA)>
<!ELEMENT referrer_role (#PCDATA)>
<!ELEMENT dietary_history (id,assessment_id,meals_per_day,snacks_per_day,appetite,appetite_change,fluid_intake_ml_per_day,diet_type,diet_type_other,texture_modification,fluid_consistency,meal_preparation,dietary_restrictions,dietary_history_notes,created_at,updated_at)>
<!ELEMENT meals_per_day (#PCDATA)>
<!ELEMENT snacks_per_day (#PCDATA)>
<!ELEMENT appetite (#PCDATA)>
<!ELEMENT appetite_change (#PCDATA)>
<!ELEMENT fluid_intake_ml_per_day (#PCDATA)>
<!ELEMENT diet_type (#PCDATA)>
<!ELEMENT diet_type_other (#PCDATA)>
<!ELEMENT texture_modification (#PCDATA)>
<!ELEMENT fluid_consistency (#PCDATA)>
<!ELEMENT meal_preparation (#PCDATA)>
<!ELEMENT dietary_restrictions (#PCDATA)>
<!ELEMENT dietary_history_notes (#PCDATA)>
<!ELEMENT food_allergies_intolerances (id,assessment_id,has_food_allergies,has_food_intolerances,coeliac_disease,lactose_intolerance,has_drug_allergies,anaphylaxis_history,anaphylaxis_details,epipen_available,allergy_details,intolerance_details,drug_allergy_details,food_allergy_notes,created_at,updated_at)>
<!ELEMENT has_food_allergies (#PCDATA)>
<!ELEMENT has_food_intolerances (#PCDATA)>
<!ELEMENT coeliac_disease (#PCDATA)>
<!ELEMENT lactose_intolerance (#PCDATA)>
<!ELEMENT has_drug_allergies (#PCDATA)>
<!ELEMENT anaphylaxis_history (#PCDATA)>
<!ELEMENT anaphylaxis_details (#PCDATA)>
<!ELEMENT epipen_available (#PCDATA)>
<!ELEMENT allergy_details (#PCDATA)>
<!ELEMENT intolerance_details (#PCDATA)>
<!ELEMENT drug_allergy_details (#PCDATA)>
<!ELEMENT food_allergy_notes (#PCDATA)>
<!ELEMENT gastrointestinal_function (id,assessment_id,nausea,vomiting,vomiting_frequency,diarrhoea,diarrhoea_frequency,constipation,abdominal_pain,abdominal_bloating,stoma,stoma_type,bowel_surgery,bowel_surgery_details,gi_function_notes,created_at,updated_at)>
<!ELEMENT nausea (#PCDATA)>
<!ELEMENT vomiting (#PCDATA)>
<!ELEMENT vomiting_frequency (#PCDATA)>
<!ELEMENT diarrhoea (#PCDATA)>
<!ELEMENT diarrhoea_frequency (#PCDATA)>
<!ELEMENT constipation (#PCDATA)>
<!ELEMENT abdominal_pain (#PCDATA)>
<!ELEMENT abdominal_bloating (#PCDATA)>
<!ELEMENT stoma (#PCDATA)>
<!ELEMENT stoma_type (#PCDATA)>
<!ELEMENT bowel_surgery (#PCDATA)>
<!ELEMENT bowel_surgery_details (#PCDATA)>
<!ELEMENT gi_function_notes (#PCDATA)>
<!ELEMENT nutritional_requirements (id,assessment_id,estimated_energy_kcal_per_day,estimated_protein_g_per_day,estimated_fluid_ml_per_day,fluid_restriction,fluid_restriction_ml,electrolyte_monitoring,refeeding_risk,refeeding_risk_factors,micronutrient_supplementation,micronutrient_details,special_requirements,nutritional_requirements_notes,created_at,updated_at)>
<!ELEMENT estimated_energy_kcal_per_day (#PCDATA)>
<!ELEMENT estimated_protein_g_per_day (#PCDATA)>
<!ELEMENT estimated_fluid_ml_per_day (#PCDATA)>
<!ELEMENT fluid_restriction (#PCDATA)>
<!ELEMENT fluid_restriction_ml (#PCDATA)>
<!ELEMENT electrolyte_monitoring (#PCDATA)>
<!ELEMENT refeeding_risk (#PCDATA)>
<!ELEMENT refeeding_risk_factors (#PCDATA)>
<!ELEMENT micronutrient_supplementation (#PCDATA)>
<!ELEMENT micronutrient_details (#PCDATA)>
<!ELEMENT special_requirements (#PCDATA)>
<!ELEMENT nutritional_requirements_notes (#PCDATA)>
<!ELEMENT nutritional_screening (id,assessment_id,must_step1_bmi_score,must_step2_weight_loss_score,must_step3_acute_disease_score,must_total_score,must_risk_category,acutely_ill,no_nutritional_intake_days,screening_date,screened_by,nutritional_screening_notes,created_at,updated_at)>
<!ELEMENT must_step1_bmi_score (#PCDATA)>
<!ELEMENT must_step2_weight_loss_score (#PCDATA)>
<!ELEMENT must_step3_acute_disease_score (#PCDATA)>
<!ELEMENT must_total_score (#PCDATA)>
<!ELEMENT must_risk_category (#PCDATA)>
<!ELEMENT acutely_ill (#PCDATA)>
<!ELEMENT no_nutritional_intake_days (#PCDATA)>
<!ELEMENT screening_date (#PCDATA)>
<!ELEMENT screened_by (#PCDATA)>
<!ELEMENT nutritional_screening_notes (#PCDATA)>
<!ELEMENT swallowing_oral_health (id,assessment_id,swallowing_difficulty,dysphagia_severity,dysphagia_type,choking_episodes,coughing_during_meals,salt_referral,dental_problems,dental_problem_details,dentures,dentures_fit_well,oral_pain,dry_mouth,oral_thrush,swallowing_oral_notes,created_at,updated_at)>
<!ELEMENT swallowing_difficulty (#PCDATA)>
<!ELEMENT dysphagia_severity (#PCDATA)>
<!ELEMENT dysphagia_type (#PCDATA)>
<!ELEMENT choking_episodes (#PCDATA)>
<!ELEMENT coughing_during_meals (#PCDATA)>
<!ELEMENT dental_problems (#PCDATA)>
<!ELEMENT dental_problem_details (#PCDATA)>
<!ELEMENT dentures (#PCDATA)>
<!ELEMENT dentures_fit_well (#PCDATA)>
<!ELEMENT oral_pain (#PCDATA)>
<!ELEMENT dry_mouth (#PCDATA)>
<!ELEMENT oral_thrush (#PCDATA)>
<!ELEMENT swallowing_oral_notes (#PCDATA)>
