forms/nutrition-assessment/xml-representations/assessment_care_plan_monitoring.dtd

<!ELEMENT assessment_care_plan_monitoring (id,assessment_id,nutritional_goals,weight_monitoring_frequency,food_chart_required,fluid_balance_chart_required,dietitian_referral,salt_referral,reassessment_date,reassessment_frequency,escalation_plan,discharge_nutrition_plan,patient_education_provided,patient_education_details,care_plan_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT nutritional_goals (#PCDATA)>
<!ELEMENT weight_monitoring_frequency (#PCDATA)>
<!ELEMENT food_chart_required (#PCDATA)>
<!ELEMENT fluid_balance_chart_required (#PCDATA)>
<!ELEMENT dietitian_referral (#PCDATA)>
<!ELEMENT salt_referral (#PCDATA)>
<!ELEMENT reassessment_date (#PCDATA)>
<!ELEMENT reassessment_frequency (#PCDATA)>
<!ELEMENT escalation_plan (#PCDATA)>
<!ELEMENT discharge_nutrition_plan (#PCDATA)>
<!ELEMENT patient_education_provided (#PCDATA)>
<!ELEMENT patient_education_details (#PCDATA)>
<!ELEMENT care_plan_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
