forms/nutrition-assessment/xml-representations/assessment_swallowing_oral_health.dtd

<!ELEMENT assessment_swallowing_oral_health (id,assessment_id,swallowing_difficulty,dysphagia_severity,dysphagia_type,choking_episodes,coughing_during_meals,salt_referral,dental_problems,dental_problem_details,dentures,dentures_fit_well,oral_pain,dry_mouth,oral_thrush,swallowing_oral_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT swallowing_difficulty (#PCDATA)>
<!ELEMENT dysphagia_severity (#PCDATA)>
<!ELEMENT dysphagia_type (#PCDATA)>
<!ELEMENT choking_episodes (#PCDATA)>
<!ELEMENT coughing_during_meals (#PCDATA)>
<!ELEMENT salt_referral (#PCDATA)>
<!ELEMENT dental_problems (#PCDATA)>
<!ELEMENT dental_problem_details (#PCDATA)>
<!ELEMENT dentures (#PCDATA)>
<!ELEMENT dentures_fit_well (#PCDATA)>
<!ELEMENT oral_pain (#PCDATA)>
<!ELEMENT dry_mouth (#PCDATA)>
<!ELEMENT oral_thrush (#PCDATA)>
<!ELEMENT swallowing_oral_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
