forms/nutrition-assessment/xml-representations/assessment_gastrointestinal_function.dtd

<!ELEMENT assessment_gastrointestinal_function (id,assessment_id,nausea,vomiting,vomiting_frequency,diarrhoea,diarrhoea_frequency,constipation,abdominal_pain,abdominal_bloating,stoma,stoma_type,bowel_surgery,bowel_surgery_details,gi_function_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT nausea (#PCDATA)>
<!ELEMENT vomiting (#PCDATA)>
<!ELEMENT vomiting_frequency (#PCDATA)>
<!ELEMENT diarrhoea (#PCDATA)>
<!ELEMENT diarrhoea_frequency (#PCDATA)>
<!ELEMENT constipation (#PCDATA)>
<!ELEMENT abdominal_pain (#PCDATA)>
<!ELEMENT abdominal_bloating (#PCDATA)>
<!ELEMENT stoma (#PCDATA)>
<!ELEMENT stoma_type (#PCDATA)>
<!ELEMENT bowel_surgery (#PCDATA)>
<!ELEMENT bowel_surgery_details (#PCDATA)>
<!ELEMENT gi_function_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
