forms/ergonomic-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,current_interventions,current_symptoms,manual_handling,medical_history,posture,psychosocial_factors,recommendations,repetitive_tasks,workstation_setup)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT current_interventions (id,assessment_id,ergonomic_equipment,physiotherapy,occupational_therapy,workplace_adjustments,medications,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT ergonomic_equipment (#PCDATA)>
<!ELEMENT physiotherapy (#PCDATA)>
<!ELEMENT occupational_therapy (#PCDATA)>
<!ELEMENT workplace_adjustments (#PCDATA)>
<!ELEMENT medications (#PCDATA)>
<!ELEMENT current_symptoms (id,assessment_id,pain_locations,pain_severity,onset_date,duration,aggravating_factors,relieving_factors,impact_on_work,created_at,updated_at)>
<!ELEMENT pain_locations (#PCDATA)>
<!ELEMENT pain_severity (#PCDATA)>
<!ELEMENT onset_date (#PCDATA)>
<!ELEMENT duration (#PCDATA)>
<!ELEMENT aggravating_factors (#PCDATA)>
<!ELEMENT relieving_factors (#PCDATA)>
<!ELEMENT impact_on_work (#PCDATA)>
<!ELEMENT manual_handling (id,assessment_id,lifting_frequency,load_weight_kg,carry_distance_metres,push_pull_forces,team_lifting,mechanical_aids_available,created_at,updated_at)>
<!ELEMENT lifting_frequency (#PCDATA)>
<!ELEMENT load_weight_kg (#PCDATA)>
<!ELEMENT carry_distance_metres (#PCDATA)>
<!ELEMENT push_pull_forces (#PCDATA)>
<!ELEMENT team_lifting (#PCDATA)>
<!ELEMENT mechanical_aids_available (#PCDATA)>
<!ELEMENT medical_history (id,assessment_id,musculoskeletal_conditions,previous_injuries,surgeries,chronic_pain,rsi_carpal_tunnel,back_problems,created_at,updated_at)>
<!ELEMENT musculoskeletal_conditions (#PCDATA)>
<!ELEMENT previous_injuries (#PCDATA)>
<!ELEMENT surgeries (#PCDATA)>
<!ELEMENT chronic_pain (#PCDATA)>
<!ELEMENT rsi_carpal_tunnel (#PCDATA)>
<!ELEMENT back_problems (#PCDATA)>
<!ELEMENT posture (id,assessment_id,sitting_posture,standing_posture,neck_angle,trunk_angle,shoulder_position,wrist_deviation,neck_score,trunk_score,leg_score,upper_arm_score,lower_arm_score,wrist_score,created_at,updated_at)>
<!ELEMENT sitting_posture (#PCDATA)>
<!ELEMENT standing_posture (#PCDATA)>
<!ELEMENT neck_angle (#PCDATA)>
<!ELEMENT trunk_angle (#PCDATA)>
<!ELEMENT shoulder_position (#PCDATA)>
<!ELEMENT wrist_deviation (#PCDATA)>
<!ELEMENT neck_score (#PCDATA)>
<!ELEMENT trunk_score (#PCDATA)>
<!ELEMENT leg_score (#PCDATA)>
<!ELEMENT upper_arm_score (#PCDATA)>
<!ELEMENT lower_arm_score (#PCDATA)>
<!ELEMENT wrist_score (#PCDATA)>
<!ELEMENT psychosocial_factors (id,assessment_id,job_satisfaction,workload,stress_level,breaks_taken,autonomy,employer_support,created_at,updated_at)>
<!ELEMENT job_satisfaction (#PCDATA)>
<!ELEMENT workload (#PCDATA)>
<!ELEMENT stress_level (#PCDATA)>
<!ELEMENT breaks_taken (#PCDATA)>
<!ELEMENT autonomy (#PCDATA)>
<!ELEMENT employer_support (#PCDATA)>
<!ELEMENT recommendations (id,assessment_id,equipment_changes,workstation_modifications,training_required,break_schedule,follow_up_date,referrals,created_at,updated_at)>
<!ELEMENT equipment_changes (#PCDATA)>
<!ELEMENT workstation_modifications (#PCDATA)>
<!ELEMENT training_required (#PCDATA)>
<!ELEMENT break_schedule (#PCDATA)>
<!ELEMENT follow_up_date (#PCDATA)>
<!ELEMENT referrals (#PCDATA)>
<!ELEMENT repetitive_tasks (id,assessment_id,task_description,frequency,duration_per_session,force_required,vibration_exposure,cycle_time_seconds,created_at,updated_at)>
<!ELEMENT task_description (#PCDATA)>
<!ELEMENT frequency (#PCDATA)>
<!ELEMENT duration_per_session (#PCDATA)>
<!ELEMENT force_required (#PCDATA)>
<!ELEMENT vibration_exposure (#PCDATA)>
<!ELEMENT cycle_time_seconds (#PCDATA)>
<!ELEMENT workstation_setup (id,assessment_id,desk_height,chair_type,chair_adjustability,monitor_position,monitor_distance,monitor_height,keyboard_placement,mouse_placement,lighting,temperature,created_at,updated_at)>
<!ELEMENT desk_height (#PCDATA)>
<!ELEMENT chair_type (#PCDATA)>
<!ELEMENT chair_adjustability (#PCDATA)>
<!ELEMENT monitor_position (#PCDATA)>
<!ELEMENT monitor_distance (#PCDATA)>
<!ELEMENT monitor_height (#PCDATA)>
<!ELEMENT keyboard_placement (#PCDATA)>
<!ELEMENT mouse_placement (#PCDATA)>
<!ELEMENT lighting (#PCDATA)>
<!ELEMENT temperature (#PCDATA)>
