forms/ergonomic-assessment/xml-representations/assessment_psychosocial_factors.dtd

<!ELEMENT assessment_psychosocial_factors (id,assessment_id,job_satisfaction,workload,stress_level,breaks_taken,autonomy,employer_support,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT job_satisfaction (#PCDATA)>
<!ELEMENT workload (#PCDATA)>
<!ELEMENT stress_level (#PCDATA)>
<!ELEMENT breaks_taken (#PCDATA)>
<!ELEMENT autonomy (#PCDATA)>
<!ELEMENT employer_support (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
