forms/ergonomic-assessment/xml-representations/assessment_posture.dtd

<!ELEMENT assessment_posture (id,assessment_id,sitting_posture,standing_posture,neck_angle,trunk_angle,shoulder_position,wrist_deviation,neck_score,trunk_score,leg_score,upper_arm_score,lower_arm_score,wrist_score,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT sitting_posture (#PCDATA)>
<!ELEMENT standing_posture (#PCDATA)>
<!ELEMENT neck_angle (#PCDATA)>
<!ELEMENT trunk_angle (#PCDATA)>
<!ELEMENT shoulder_position (#PCDATA)>
<!ELEMENT wrist_deviation (#PCDATA)>
<!ELEMENT neck_score (#PCDATA)>
<!ELEMENT trunk_score (#PCDATA)>
<!ELEMENT leg_score (#PCDATA)>
<!ELEMENT upper_arm_score (#PCDATA)>
<!ELEMENT lower_arm_score (#PCDATA)>
<!ELEMENT wrist_score (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
