forms/ergonomic-assessment/xml-representations/assessment_medical_history.dtd

<!ELEMENT assessment_medical_history (id,assessment_id,musculoskeletal_conditions,previous_injuries,surgeries,chronic_pain,rsi_carpal_tunnel,back_problems,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT musculoskeletal_conditions (#PCDATA)>
<!ELEMENT previous_injuries (#PCDATA)>
<!ELEMENT surgeries (#PCDATA)>
<!ELEMENT chronic_pain (#PCDATA)>
<!ELEMENT rsi_carpal_tunnel (#PCDATA)>
<!ELEMENT back_problems (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
