forms/ergonomic-assessment/xml-representations/assessment_current_symptoms.dtd

<!ELEMENT assessment_current_symptoms (id,assessment_id,pain_locations,pain_severity,onset_date,duration,aggravating_factors,relieving_factors,impact_on_work,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT pain_locations (#PCDATA)>
<!ELEMENT pain_severity (#PCDATA)>
<!ELEMENT onset_date (#PCDATA)>
<!ELEMENT duration (#PCDATA)>
<!ELEMENT aggravating_factors (#PCDATA)>
<!ELEMENT relieving_factors (#PCDATA)>
<!ELEMENT impact_on_work (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
