forms/ergonomic-assessment/xml-representations/assessment_recommendations.dtd

<!ELEMENT assessment_recommendations (id,assessment_id,equipment_changes,workstation_modifications,training_required,break_schedule,follow_up_date,referrals,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT equipment_changes (#PCDATA)>
<!ELEMENT workstation_modifications (#PCDATA)>
<!ELEMENT training_required (#PCDATA)>
<!ELEMENT break_schedule (#PCDATA)>
<!ELEMENT follow_up_date (#PCDATA)>
<!ELEMENT referrals (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
