forms/ergonomic-assessment/xml-representations/assessment_current_interventions.dtd

<!ELEMENT assessment_current_interventions (id,assessment_id,ergonomic_equipment,physiotherapy,occupational_therapy,workplace_adjustments,medications,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT ergonomic_equipment (#PCDATA)>
<!ELEMENT physiotherapy (#PCDATA)>
<!ELEMENT occupational_therapy (#PCDATA)>
<!ELEMENT workplace_adjustments (#PCDATA)>
<!ELEMENT medications (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
