forms/ergonomic-assessment/xml-representations/grading_fired_rule.dtd

<!ELEMENT grading_fired_rule (id,grading_result_id,rule_id,system,description,score,created_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT grading_result_id (#PCDATA)>
<!ELEMENT rule_id (#PCDATA)>
<!ELEMENT system (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT score (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
