forms/rheumatology-assessment/xml-representations/assessment_functional_assessment.dtd

<!ELEMENT assessment_functional_assessment (id,assessment_id,haq_dressing_grooming,haq_arising,haq_eating,haq_walking,haq_hygiene,haq_reach,haq_grip,haq_activities,work_impact,mobility_aid_use,mobility_aid_details,physiotherapy_current,occupational_therapy_current,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT haq_dressing_grooming (#PCDATA)>
<!ELEMENT haq_arising (#PCDATA)>
<!ELEMENT haq_eating (#PCDATA)>
<!ELEMENT haq_walking (#PCDATA)>
<!ELEMENT haq_hygiene (#PCDATA)>
<!ELEMENT haq_reach (#PCDATA)>
<!ELEMENT haq_grip (#PCDATA)>
<!ELEMENT haq_activities (#PCDATA)>
<!ELEMENT work_impact (#PCDATA)>
<!ELEMENT mobility_aid_use (#PCDATA)>
<!ELEMENT mobility_aid_details (#PCDATA)>
<!ELEMENT physiotherapy_current (#PCDATA)>
<!ELEMENT occupational_therapy_current (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
