forms/rheumatology-assessment/xml-representations/assessment_allergies.dtd

<!ELEMENT assessment_allergies (id,assessment_id,has_drug_allergies,drug_allergy_details,methotrexate_intolerance,sulfa_allergy,nsaid_allergy,biologic_reaction_history,biologic_reaction_details,latex_allergy,other_allergies,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_drug_allergies (#PCDATA)>
<!ELEMENT drug_allergy_details (#PCDATA)>
<!ELEMENT methotrexate_intolerance (#PCDATA)>
<!ELEMENT sulfa_allergy (#PCDATA)>
<!ELEMENT nsaid_allergy (#PCDATA)>
<!ELEMENT biologic_reaction_history (#PCDATA)>
<!ELEMENT biologic_reaction_details (#PCDATA)>
<!ELEMENT latex_allergy (#PCDATA)>
<!ELEMENT other_allergies (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
