forms/rheumatology-assessment/xml-representations/assessment_disease_history.dtd

<!ELEMENT assessment_disease_history (id,assessment_id,diagnosis,diagnosis_other,diagnosis_date,disease_duration_years,rheumatoid_factor_positive,anti_ccp_positive,previous_dmard_use,previous_dmard_details,previous_biologic_use,previous_biologic_details,joint_surgery_history,joint_surgery_details,flare_frequency,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT diagnosis (#PCDATA)>
<!ELEMENT diagnosis_other (#PCDATA)>
<!ELEMENT diagnosis_date (#PCDATA)>
<!ELEMENT disease_duration_years (#PCDATA)>
<!ELEMENT rheumatoid_factor_positive (#PCDATA)>
<!ELEMENT anti_ccp_positive (#PCDATA)>
<!ELEMENT previous_dmard_use (#PCDATA)>
<!ELEMENT previous_dmard_details (#PCDATA)>
<!ELEMENT previous_biologic_use (#PCDATA)>
<!ELEMENT previous_biologic_details (#PCDATA)>
<!ELEMENT joint_surgery_history (#PCDATA)>
<!ELEMENT joint_surgery_details (#PCDATA)>
<!ELEMENT flare_frequency (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
