forms/rheumatology-assessment/xml-representations/assessment_current_medications.dtd

<!ELEMENT assessment_current_medications (id,assessment_id,currently_on_dmard,dmard_names,currently_on_biologic,biologic_name,currently_on_corticosteroid,corticosteroid_dose_mg,nsaid_use,nsaid_name,analgesic_use,analgesic_details,folic_acid_supplementation,other_medications,medication_adherence,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT currently_on_dmard (#PCDATA)>
<!ELEMENT dmard_names (#PCDATA)>
<!ELEMENT currently_on_biologic (#PCDATA)>
<!ELEMENT biologic_name (#PCDATA)>
<!ELEMENT currently_on_corticosteroid (#PCDATA)>
<!ELEMENT corticosteroid_dose_mg (#PCDATA)>
<!ELEMENT nsaid_use (#PCDATA)>
<!ELEMENT nsaid_name (#PCDATA)>
<!ELEMENT analgesic_use (#PCDATA)>
<!ELEMENT analgesic_details (#PCDATA)>
<!ELEMENT folic_acid_supplementation (#PCDATA)>
<!ELEMENT other_medications (#PCDATA)>
<!ELEMENT medication_adherence (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
