forms/rheumatology-assessment/xml-representations/assessment_laboratory_results.dtd

<!ELEMENT assessment_laboratory_results (id,assessment_id,esr_mm_hr,crp_mg_l,rheumatoid_factor_iu_ml,anti_ccp_u_ml,ana_positive,ana_titre,haemoglobin_g_dl,white_cell_count,platelet_count,creatinine_umol_l,alt_u_l,lab_date,additional_results,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT esr_mm_hr (#PCDATA)>
<!ELEMENT crp_mg_l (#PCDATA)>
<!ELEMENT rheumatoid_factor_iu_ml (#PCDATA)>
<!ELEMENT anti_ccp_u_ml (#PCDATA)>
<!ELEMENT ana_positive (#PCDATA)>
<!ELEMENT ana_titre (#PCDATA)>
<!ELEMENT haemoglobin_g_dl (#PCDATA)>
<!ELEMENT white_cell_count (#PCDATA)>
<!ELEMENT platelet_count (#PCDATA)>
<!ELEMENT creatinine_umol_l (#PCDATA)>
<!ELEMENT alt_u_l (#PCDATA)>
<!ELEMENT lab_date (#PCDATA)>
<!ELEMENT additional_results (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
