forms/rheumatology-assessment/xml-representations/assessment_comorbidities_social.dtd

<!ELEMENT assessment_comorbidities_social (id,assessment_id,cardiovascular_disease,cardiovascular_details,diabetes,diabetes_type,hypertension,chronic_kidney_disease,hepatitis_b_or_c,tuberculosis_history,osteoporosis,depression_anxiety,malignancy_history,malignancy_details,lives_alone,carer_support,exercise_frequency,vaccination_status_up_to_date,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT cardiovascular_disease (#PCDATA)>
<!ELEMENT cardiovascular_details (#PCDATA)>
<!ELEMENT diabetes (#PCDATA)>
<!ELEMENT diabetes_type (#PCDATA)>
<!ELEMENT hypertension (#PCDATA)>
<!ELEMENT chronic_kidney_disease (#PCDATA)>
<!ELEMENT hepatitis_b_or_c (#PCDATA)>
<!ELEMENT tuberculosis_history (#PCDATA)>
<!ELEMENT osteoporosis (#PCDATA)>
<!ELEMENT depression_anxiety (#PCDATA)>
<!ELEMENT malignancy_history (#PCDATA)>
<!ELEMENT malignancy_details (#PCDATA)>
<!ELEMENT lives_alone (#PCDATA)>
<!ELEMENT carer_support (#PCDATA)>
<!ELEMENT exercise_frequency (#PCDATA)>
<!ELEMENT vaccination_status_up_to_date (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
