forms/rheumatology-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,allergies,chief_complaint,comorbidities_social,current_medications,demographics,disease_history,extra_articular_features,functional_assessment,joint_assessment,laboratory_results)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT allergies (id,assessment_id,has_drug_allergies,drug_allergy_details,methotrexate_intolerance,sulfa_allergy,nsaid_allergy,biologic_reaction_history,biologic_reaction_details,latex_allergy,other_allergies,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT has_drug_allergies (#PCDATA)>
<!ELEMENT drug_allergy_details (#PCDATA)>
<!ELEMENT methotrexate_intolerance (#PCDATA)>
<!ELEMENT sulfa_allergy (#PCDATA)>
<!ELEMENT nsaid_allergy (#PCDATA)>
<!ELEMENT biologic_reaction_history (#PCDATA)>
<!ELEMENT biologic_reaction_details (#PCDATA)>
<!ELEMENT latex_allergy (#PCDATA)>
<!ELEMENT other_allergies (#PCDATA)>
<!ELEMENT chief_complaint (id,assessment_id,primary_complaint,symptom_onset_date,symptom_duration_weeks,symptom_pattern,morning_stiffness_duration_minutes,pain_severity,fatigue_severity,patient_global_assessment,additional_notes,created_at,updated_at)>
<!ELEMENT primary_complaint (#PCDATA)>
<!ELEMENT symptom_onset_date (#PCDATA)>
<!ELEMENT symptom_duration_weeks (#PCDATA)>
<!ELEMENT symptom_pattern (#PCDATA)>
<!ELEMENT morning_stiffness_duration_minutes (#PCDATA)>
<!ELEMENT pain_severity (#PCDATA)>
<!ELEMENT fatigue_severity (#PCDATA)>
<!ELEMENT patient_global_assessment (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT comorbidities_social (id,assessment_id,cardiovascular_disease,cardiovascular_details,diabetes,diabetes_type,hypertension,chronic_kidney_disease,hepatitis_b_or_c,tuberculosis_history,osteoporosis,depression_anxiety,malignancy_history,malignancy_details,lives_alone,carer_support,exercise_frequency,vaccination_status_up_to_date,additional_notes,created_at,updated_at)>
<!ELEMENT cardiovascular_disease (#PCDATA)>
<!ELEMENT cardiovascular_details (#PCDATA)>
<!ELEMENT diabetes (#PCDATA)>
<!ELEMENT diabetes_type (#PCDATA)>
<!ELEMENT hypertension (#PCDATA)>
<!ELEMENT chronic_kidney_disease (#PCDATA)>
<!ELEMENT hepatitis_b_or_c (#PCDATA)>
<!ELEMENT tuberculosis_history (#PCDATA)>
<!ELEMENT osteoporosis (#PCDATA)>
<!ELEMENT depression_anxiety (#PCDATA)>
<!ELEMENT malignancy_history (#PCDATA)>
<!ELEMENT malignancy_details (#PCDATA)>
<!ELEMENT lives_alone (#PCDATA)>
<!ELEMENT carer_support (#PCDATA)>
<!ELEMENT exercise_frequency (#PCDATA)>
<!ELEMENT vaccination_status_up_to_date (#PCDATA)>
<!ELEMENT current_medications (id,assessment_id,currently_on_dmard,dmard_names,currently_on_biologic,biologic_name,currently_on_corticosteroid,corticosteroid_dose_mg,nsaid_use,nsaid_name,analgesic_use,analgesic_details,folic_acid_supplementation,other_medications,medication_adherence,created_at,updated_at)>
<!ELEMENT currently_on_dmard (#PCDATA)>
<!ELEMENT dmard_names (#PCDATA)>
<!ELEMENT currently_on_biologic (#PCDATA)>
<!ELEMENT biologic_name (#PCDATA)>
<!ELEMENT currently_on_corticosteroid (#PCDATA)>
<!ELEMENT corticosteroid_dose_mg (#PCDATA)>
<!ELEMENT nsaid_use (#PCDATA)>
<!ELEMENT nsaid_name (#PCDATA)>
<!ELEMENT analgesic_use (#PCDATA)>
<!ELEMENT analgesic_details (#PCDATA)>
<!ELEMENT folic_acid_supplementation (#PCDATA)>
<!ELEMENT other_medications (#PCDATA)>
<!ELEMENT medication_adherence (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,ethnicity,occupation,referring_physician,referral_date,smoking_status,alcohol_use,created_at,updated_at)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT occupation (#PCDATA)>
<!ELEMENT referring_physician (#PCDATA)>
<!ELEMENT referral_date (#PCDATA)>
<!ELEMENT smoking_status (#PCDATA)>
<!ELEMENT alcohol_use (#PCDATA)>
<!ELEMENT disease_history (id,assessment_id,diagnosis,diagnosis_other,diagnosis_date,disease_duration_years,rheumatoid_factor_positive,anti_ccp_positive,previous_dmard_use,previous_dmard_details,previous_biologic_use,previous_biologic_details,joint_surgery_history,joint_surgery_details,flare_frequency,created_at,updated_at)>
<!ELEMENT diagnosis (#PCDATA)>
<!ELEMENT diagnosis_other (#PCDATA)>
<!ELEMENT diagnosis_date (#PCDATA)>
<!ELEMENT disease_duration_years (#PCDATA)>
<!ELEMENT rheumatoid_factor_positive (#PCDATA)>
<!ELEMENT anti_ccp_positive (#PCDATA)>
<!ELEMENT previous_dmard_use (#PCDATA)>
<!ELEMENT previous_dmard_details (#PCDATA)>
<!ELEMENT previous_biologic_use (#PCDATA)>
<!ELEMENT previous_biologic_details (#PCDATA)>
<!ELEMENT joint_surgery_history (#PCDATA)>
<!ELEMENT joint_surgery_details (#PCDATA)>
<!ELEMENT flare_frequency (#PCDATA)>
<!ELEMENT extra_articular_features (id,assessment_id,rheumatoid_nodules,rheumatoid_nodules_location,dry_eyes_or_mouth,skin_rash,skin_rash_details,raynauds_phenomenon,interstitial_lung_disease,vasculitis,scleritis_episcleritis,peripheral_neuropathy,pleuritis_pericarditis,constitutional_symptoms,created_at,updated_at)>
<!ELEMENT rheumatoid_nodules (#PCDATA)>
<!ELEMENT rheumatoid_nodules_location (#PCDATA)>
<!ELEMENT dry_eyes_or_mouth (#PCDATA)>
<!ELEMENT skin_rash (#PCDATA)>
<!ELEMENT skin_rash_details (#PCDATA)>
<!ELEMENT raynauds_phenomenon (#PCDATA)>
<!ELEMENT interstitial_lung_disease (#PCDATA)>
<!ELEMENT vasculitis (#PCDATA)>
<!ELEMENT scleritis_episcleritis (#PCDATA)>
<!ELEMENT peripheral_neuropathy (#PCDATA)>
<!ELEMENT pleuritis_pericarditis (#PCDATA)>
<!ELEMENT constitutional_symptoms (#PCDATA)>
<!ELEMENT functional_assessment (id,assessment_id,haq_dressing_grooming,haq_arising,haq_eating,haq_walking,haq_hygiene,haq_reach,haq_grip,haq_activities,work_impact,mobility_aid_use,mobility_aid_details,physiotherapy_current,occupational_therapy_current,created_at,updated_at)>
<!ELEMENT haq_dressing_grooming (#PCDATA)>
<!ELEMENT haq_arising (#PCDATA)>
<!ELEMENT haq_eating (#PCDATA)>
<!ELEMENT haq_walking (#PCDATA)>
<!ELEMENT haq_hygiene (#PCDATA)>
<!ELEMENT haq_reach (#PCDATA)>
<!ELEMENT haq_grip (#PCDATA)>
<!ELEMENT haq_activities (#PCDATA)>
<!ELEMENT work_impact (#PCDATA)>
<!ELEMENT mobility_aid_use (#PCDATA)>
<!ELEMENT mobility_aid_details (#PCDATA)>
<!ELEMENT physiotherapy_current (#PCDATA)>
<!ELEMENT occupational_therapy_current (#PCDATA)>
<!ELEMENT joint_assessment (id,assessment_id,tender_joint_count_28,swollen_joint_count_28,shoulders_involved,elbows_involved,wrists_involved,mcp_joints_involved,pip_joints_involved,knees_involved,joint_deformity_present,joint_deformity_details,joint_pattern,created_at,updated_at)>
<!ELEMENT tender_joint_count_28 (#PCDATA)>
<!ELEMENT swollen_joint_count_28 (#PCDATA)>
<!ELEMENT shoulders_involved (#PCDATA)>
<!ELEMENT elbows_involved (#PCDATA)>
<!ELEMENT wrists_involved (#PCDATA)>
<!ELEMENT mcp_joints_involved (#PCDATA)>
<!ELEMENT pip_joints_involved (#PCDATA)>
<!ELEMENT knees_involved (#PCDATA)>
<!ELEMENT joint_deformity_present (#PCDATA)>
<!ELEMENT joint_deformity_details (#PCDATA)>
<!ELEMENT joint_pattern (#PCDATA)>
<!ELEMENT laboratory_results (id,assessment_id,esr_mm_hr,crp_mg_l,rheumatoid_factor_iu_ml,anti_ccp_u_ml,ana_positive,ana_titre,haemoglobin_g_dl,white_cell_count,platelet_count,creatinine_umol_l,alt_u_l,lab_date,additional_results,created_at,updated_at)>
<!ELEMENT esr_mm_hr (#PCDATA)>
<!ELEMENT crp_mg_l (#PCDATA)>
<!ELEMENT rheumatoid_factor_iu_ml (#PCDATA)>
<!ELEMENT anti_ccp_u_ml (#PCDATA)>
<!ELEMENT ana_positive (#PCDATA)>
<!ELEMENT ana_titre (#PCDATA)>
<!ELEMENT haemoglobin_g_dl (#PCDATA)>
<!ELEMENT white_cell_count (#PCDATA)>
<!ELEMENT platelet_count (#PCDATA)>
<!ELEMENT creatinine_umol_l (#PCDATA)>
<!ELEMENT alt_u_l (#PCDATA)>
<!ELEMENT lab_date (#PCDATA)>
<!ELEMENT additional_results (#PCDATA)>
