forms/urology-assessment/xml-representations/assessment_current_medications.dtd

<!ELEMENT assessment_current_medications (id,assessment_id,alpha_blocker_use,alpha_blocker_name,five_alpha_reductase_inhibitor,five_ari_name,anticholinergic_use,anticholinergic_name,beta3_agonist_use,beta3_agonist_name,pde5_inhibitor_use,diuretic_use,diuretic_name,antihypertensive_use,antihypertensive_details,anticoagulant_use,anticoagulant_name,other_medications,known_drug_allergies,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT alpha_blocker_use (#PCDATA)>
<!ELEMENT alpha_blocker_name (#PCDATA)>
<!ELEMENT five_alpha_reductase_inhibitor (#PCDATA)>
<!ELEMENT five_ari_name (#PCDATA)>
<!ELEMENT anticholinergic_use (#PCDATA)>
<!ELEMENT anticholinergic_name (#PCDATA)>
<!ELEMENT beta3_agonist_use (#PCDATA)>
<!ELEMENT beta3_agonist_name (#PCDATA)>
<!ELEMENT pde5_inhibitor_use (#PCDATA)>
<!ELEMENT diuretic_use (#PCDATA)>
<!ELEMENT diuretic_name (#PCDATA)>
<!ELEMENT antihypertensive_use (#PCDATA)>
<!ELEMENT antihypertensive_details (#PCDATA)>
<!ELEMENT anticoagulant_use (#PCDATA)>
<!ELEMENT anticoagulant_name (#PCDATA)>
<!ELEMENT other_medications (#PCDATA)>
<!ELEMENT known_drug_allergies (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
