forms/urology-assessment/xml-representations/assessment_urinary_symptoms.dtd

<!ELEMENT assessment_urinary_symptoms (id,assessment_id,urinary_frequency_daytime,urgency,urge_incontinence,stress_incontinence,pad_use,pads_per_day,hesitancy,poor_stream,terminal_dribbling,post_void_dribbling,feeling_of_incomplete_emptying,urinary_retention_history,haematuria,haematuria_type,dysuria,suprapubic_pain,loin_pain,recurrent_utis,uti_frequency_per_year,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT urinary_frequency_daytime (#PCDATA)>
<!ELEMENT urgency (#PCDATA)>
<!ELEMENT urge_incontinence (#PCDATA)>
<!ELEMENT stress_incontinence (#PCDATA)>
<!ELEMENT pad_use (#PCDATA)>
<!ELEMENT pads_per_day (#PCDATA)>
<!ELEMENT hesitancy (#PCDATA)>
<!ELEMENT poor_stream (#PCDATA)>
<!ELEMENT terminal_dribbling (#PCDATA)>
<!ELEMENT post_void_dribbling (#PCDATA)>
<!ELEMENT feeling_of_incomplete_emptying (#PCDATA)>
<!ELEMENT urinary_retention_history (#PCDATA)>
<!ELEMENT haematuria (#PCDATA)>
<!ELEMENT haematuria_type (#PCDATA)>
<!ELEMENT dysuria (#PCDATA)>
<!ELEMENT suprapubic_pain (#PCDATA)>
<!ELEMENT loin_pain (#PCDATA)>
<!ELEMENT recurrent_utis (#PCDATA)>
<!ELEMENT uti_frequency_per_year (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
