forms/urology-assessment/xml-representations/assessment_sexual_health.dtd

<!ELEMENT assessment_sexual_health (id,assessment_id,sexually_active,erectile_dysfunction,erectile_dysfunction_severity,erectile_dysfunction_duration_months,iief5_score,ejaculatory_dysfunction,ejaculatory_dysfunction_type,decreased_libido,testosterone_level_nmol_l,pde5_inhibitor_use,pde5_inhibitor_name,fertility_concerns,fertility_details,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT sexually_active (#PCDATA)>
<!ELEMENT erectile_dysfunction (#PCDATA)>
<!ELEMENT erectile_dysfunction_severity (#PCDATA)>
<!ELEMENT erectile_dysfunction_duration_months (#PCDATA)>
<!ELEMENT iief5_score (#PCDATA)>
<!ELEMENT ejaculatory_dysfunction (#PCDATA)>
<!ELEMENT ejaculatory_dysfunction_type (#PCDATA)>
<!ELEMENT decreased_libido (#PCDATA)>
<!ELEMENT testosterone_level_nmol_l (#PCDATA)>
<!ELEMENT pde5_inhibitor_use (#PCDATA)>
<!ELEMENT pde5_inhibitor_name (#PCDATA)>
<!ELEMENT fertility_concerns (#PCDATA)>
<!ELEMENT fertility_details (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
