forms/urology-assessment/xml-representations/assessment_quality_of_life.dtd

<!ELEMENT assessment_quality_of_life (id,assessment_id,ipss_qol_score,sleep_disruption_from_nocturia,social_activity_limitation,anxiety_about_symptoms,embarrassment_from_symptoms,travel_restriction,fluid_intake_restriction,overall_wellbeing,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT ipss_qol_score (#PCDATA)>
<!ELEMENT sleep_disruption_from_nocturia (#PCDATA)>
<!ELEMENT social_activity_limitation (#PCDATA)>
<!ELEMENT anxiety_about_symptoms (#PCDATA)>
<!ELEMENT embarrassment_from_symptoms (#PCDATA)>
<!ELEMENT travel_restriction (#PCDATA)>
<!ELEMENT fluid_intake_restriction (#PCDATA)>
<!ELEMENT overall_wellbeing (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
