forms/urology-assessment/xml-representations/assessment_chief_complaint.dtd

<!ELEMENT assessment_chief_complaint (id,assessment_id,primary_complaint,symptom_onset_date,symptom_duration_weeks,symptom_progression,previous_urological_evaluation,previous_evaluation_details,impact_on_quality_of_life,additional_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT primary_complaint (#PCDATA)>
<!ELEMENT symptom_onset_date (#PCDATA)>
<!ELEMENT symptom_duration_weeks (#PCDATA)>
<!ELEMENT symptom_progression (#PCDATA)>
<!ELEMENT previous_urological_evaluation (#PCDATA)>
<!ELEMENT previous_evaluation_details (#PCDATA)>
<!ELEMENT impact_on_quality_of_life (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
