forms/urology-assessment/xml-representations/assessment_renal_function.dtd

<!ELEMENT assessment_renal_function (id,assessment_id,creatinine_umol_l,egfr_ml_min,urea_mmol_l,psa_ng_ml,psa_previous_value,psa_previous_date,urinalysis_performed,urinalysis_leukocytes,urinalysis_nitrites,urinalysis_blood,urinalysis_protein,post_void_residual_ml,uroflowmetry_performed,max_flow_rate_ml_s,ultrasound_performed,ultrasound_findings,prostate_volume_ml,lab_date,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT creatinine_umol_l (#PCDATA)>
<!ELEMENT egfr_ml_min (#PCDATA)>
<!ELEMENT urea_mmol_l (#PCDATA)>
<!ELEMENT psa_ng_ml (#PCDATA)>
<!ELEMENT psa_previous_value (#PCDATA)>
<!ELEMENT psa_previous_date (#PCDATA)>
<!ELEMENT urinalysis_performed (#PCDATA)>
<!ELEMENT urinalysis_leukocytes (#PCDATA)>
<!ELEMENT urinalysis_nitrites (#PCDATA)>
<!ELEMENT urinalysis_blood (#PCDATA)>
<!ELEMENT urinalysis_protein (#PCDATA)>
<!ELEMENT post_void_residual_ml (#PCDATA)>
<!ELEMENT uroflowmetry_performed (#PCDATA)>
<!ELEMENT max_flow_rate_ml_s (#PCDATA)>
<!ELEMENT ultrasound_performed (#PCDATA)>
<!ELEMENT ultrasound_findings (#PCDATA)>
<!ELEMENT prostate_volume_ml (#PCDATA)>
<!ELEMENT lab_date (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
