forms/urology-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,chief_complaint,current_medications,demographics,family_history,ipss_questionnaire,medical_history,quality_of_life,renal_function,sexual_health,urinary_symptoms)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT chief_complaint (id,assessment_id,primary_complaint,symptom_onset_date,symptom_duration_weeks,symptom_progression,previous_urological_evaluation,previous_evaluation_details,impact_on_quality_of_life,additional_notes,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT primary_complaint (#PCDATA)>
<!ELEMENT symptom_onset_date (#PCDATA)>
<!ELEMENT symptom_duration_weeks (#PCDATA)>
<!ELEMENT symptom_progression (#PCDATA)>
<!ELEMENT previous_urological_evaluation (#PCDATA)>
<!ELEMENT previous_evaluation_details (#PCDATA)>
<!ELEMENT impact_on_quality_of_life (#PCDATA)>
<!ELEMENT additional_notes (#PCDATA)>
<!ELEMENT current_medications (id,assessment_id,alpha_blocker_use,alpha_blocker_name,five_alpha_reductase_inhibitor,five_ari_name,anticholinergic_use,anticholinergic_name,beta3_agonist_use,beta3_agonist_name,pde5_inhibitor_use,diuretic_use,diuretic_name,antihypertensive_use,antihypertensive_details,anticoagulant_use,anticoagulant_name,other_medications,known_drug_allergies,created_at,updated_at)>
<!ELEMENT alpha_blocker_use (#PCDATA)>
<!ELEMENT alpha_blocker_name (#PCDATA)>
<!ELEMENT five_alpha_reductase_inhibitor (#PCDATA)>
<!ELEMENT five_ari_name (#PCDATA)>
<!ELEMENT anticholinergic_use (#PCDATA)>
<!ELEMENT anticholinergic_name (#PCDATA)>
<!ELEMENT beta3_agonist_use (#PCDATA)>
<!ELEMENT beta3_agonist_name (#PCDATA)>
<!ELEMENT pde5_inhibitor_use (#PCDATA)>
<!ELEMENT diuretic_use (#PCDATA)>
<!ELEMENT diuretic_name (#PCDATA)>
<!ELEMENT antihypertensive_use (#PCDATA)>
<!ELEMENT antihypertensive_details (#PCDATA)>
<!ELEMENT anticoagulant_use (#PCDATA)>
<!ELEMENT anticoagulant_name (#PCDATA)>
<!ELEMENT other_medications (#PCDATA)>
<!ELEMENT known_drug_allergies (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,ethnicity,occupation,referring_physician,referral_date,smoking_status,alcohol_use,created_at,updated_at)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT occupation (#PCDATA)>
<!ELEMENT referring_physician (#PCDATA)>
<!ELEMENT referral_date (#PCDATA)>
<!ELEMENT smoking_status (#PCDATA)>
<!ELEMENT alcohol_use (#PCDATA)>
<!ELEMENT family_history (id,assessment_id,family_history_prostate_cancer,prostate_cancer_relationship,prostate_cancer_age_at_diagnosis,family_history_bladder_cancer,family_history_kidney_cancer,family_history_kidney_stones,family_history_bph,family_history_brca_mutation,family_history_breast_cancer,additional_family_history,created_at,updated_at)>
<!ELEMENT family_history_prostate_cancer (#PCDATA)>
<!ELEMENT prostate_cancer_relationship (#PCDATA)>
<!ELEMENT prostate_cancer_age_at_diagnosis (#PCDATA)>
<!ELEMENT family_history_bladder_cancer (#PCDATA)>
<!ELEMENT family_history_kidney_cancer (#PCDATA)>
<!ELEMENT family_history_kidney_stones (#PCDATA)>
<!ELEMENT family_history_bph (#PCDATA)>
<!ELEMENT family_history_brca_mutation (#PCDATA)>
<!ELEMENT family_history_breast_cancer (#PCDATA)>
<!ELEMENT additional_family_history (#PCDATA)>
<!ELEMENT ipss_questionnaire (id,assessment_id,ipss_q1_incomplete_emptying,ipss_q2_frequency,ipss_q3_intermittency,ipss_q4_urgency,ipss_q5_weak_stream,ipss_q6_straining,ipss_q7_nocturia,created_at,updated_at)>
<!ELEMENT ipss_q1_incomplete_emptying (#PCDATA)>
<!ELEMENT ipss_q2_frequency (#PCDATA)>
<!ELEMENT ipss_q3_intermittency (#PCDATA)>
<!ELEMENT ipss_q4_urgency (#PCDATA)>
<!ELEMENT ipss_q5_weak_stream (#PCDATA)>
<!ELEMENT ipss_q6_straining (#PCDATA)>
<!ELEMENT ipss_q7_nocturia (#PCDATA)>
<!ELEMENT medical_history (id,assessment_id,previous_urological_surgery,urological_surgery_details,benign_prostatic_hyperplasia,prostate_cancer_history,prostate_cancer_details,bladder_cancer_history,kidney_stones_history,kidney_stones_details,catheterisation_history,diabetes,hypertension,cardiovascular_disease,neurological_disease,neurological_disease_details,chronic_kidney_disease,previous_pelvic_surgery,pelvic_surgery_details,previous_radiotherapy,radiotherapy_details,created_at,updated_at)>
<!ELEMENT previous_urological_surgery (#PCDATA)>
<!ELEMENT urological_surgery_details (#PCDATA)>
<!ELEMENT benign_prostatic_hyperplasia (#PCDATA)>
<!ELEMENT prostate_cancer_history (#PCDATA)>
<!ELEMENT prostate_cancer_details (#PCDATA)>
<!ELEMENT bladder_cancer_history (#PCDATA)>
<!ELEMENT kidney_stones_history (#PCDATA)>
<!ELEMENT kidney_stones_details (#PCDATA)>
<!ELEMENT catheterisation_history (#PCDATA)>
<!ELEMENT diabetes (#PCDATA)>
<!ELEMENT hypertension (#PCDATA)>
<!ELEMENT cardiovascular_disease (#PCDATA)>
<!ELEMENT neurological_disease (#PCDATA)>
<!ELEMENT neurological_disease_details (#PCDATA)>
<!ELEMENT chronic_kidney_disease (#PCDATA)>
<!ELEMENT previous_pelvic_surgery (#PCDATA)>
<!ELEMENT pelvic_surgery_details (#PCDATA)>
<!ELEMENT previous_radiotherapy (#PCDATA)>
<!ELEMENT radiotherapy_details (#PCDATA)>
<!ELEMENT quality_of_life (id,assessment_id,ipss_qol_score,sleep_disruption_from_nocturia,social_activity_limitation,anxiety_about_symptoms,embarrassment_from_symptoms,travel_restriction,fluid_intake_restriction,overall_wellbeing,created_at,updated_at)>
<!ELEMENT ipss_qol_score (#PCDATA)>
<!ELEMENT sleep_disruption_from_nocturia (#PCDATA)>
<!ELEMENT social_activity_limitation (#PCDATA)>
<!ELEMENT anxiety_about_symptoms (#PCDATA)>
<!ELEMENT embarrassment_from_symptoms (#PCDATA)>
<!ELEMENT travel_restriction (#PCDATA)>
<!ELEMENT fluid_intake_restriction (#PCDATA)>
<!ELEMENT overall_wellbeing (#PCDATA)>
<!ELEMENT renal_function (id,assessment_id,creatinine_umol_l,egfr_ml_min,urea_mmol_l,psa_ng_ml,psa_previous_value,psa_previous_date,urinalysis_performed,urinalysis_leukocytes,urinalysis_nitrites,urinalysis_blood,urinalysis_protein,post_void_residual_ml,uroflowmetry_performed,max_flow_rate_ml_s,ultrasound_performed,ultrasound_findings,prostate_volume_ml,lab_date,created_at,updated_at)>
<!ELEMENT creatinine_umol_l (#PCDATA)>
<!ELEMENT egfr_ml_min (#PCDATA)>
<!ELEMENT urea_mmol_l (#PCDATA)>
<!ELEMENT psa_ng_ml (#PCDATA)>
<!ELEMENT psa_previous_value (#PCDATA)>
<!ELEMENT psa_previous_date (#PCDATA)>
<!ELEMENT urinalysis_performed (#PCDATA)>
<!ELEMENT urinalysis_leukocytes (#PCDATA)>
<!ELEMENT urinalysis_nitrites (#PCDATA)>
<!ELEMENT urinalysis_blood (#PCDATA)>
<!ELEMENT urinalysis_protein (#PCDATA)>
<!ELEMENT post_void_residual_ml (#PCDATA)>
<!ELEMENT uroflowmetry_performed (#PCDATA)>
<!ELEMENT max_flow_rate_ml_s (#PCDATA)>
<!ELEMENT ultrasound_performed (#PCDATA)>
<!ELEMENT ultrasound_findings (#PCDATA)>
<!ELEMENT prostate_volume_ml (#PCDATA)>
<!ELEMENT lab_date (#PCDATA)>
<!ELEMENT sexual_health (id,assessment_id,sexually_active,erectile_dysfunction,erectile_dysfunction_severity,erectile_dysfunction_duration_months,iief5_score,ejaculatory_dysfunction,ejaculatory_dysfunction_type,decreased_libido,testosterone_level_nmol_l,pde5_inhibitor_use,pde5_inhibitor_name,fertility_concerns,fertility_details,created_at,updated_at)>
<!ELEMENT sexually_active (#PCDATA)>
<!ELEMENT erectile_dysfunction (#PCDATA)>
<!ELEMENT erectile_dysfunction_severity (#PCDATA)>
<!ELEMENT erectile_dysfunction_duration_months (#PCDATA)>
<!ELEMENT iief5_score (#PCDATA)>
<!ELEMENT ejaculatory_dysfunction (#PCDATA)>
<!ELEMENT ejaculatory_dysfunction_type (#PCDATA)>
<!ELEMENT decreased_libido (#PCDATA)>
<!ELEMENT testosterone_level_nmol_l (#PCDATA)>
<!ELEMENT pde5_inhibitor_name (#PCDATA)>
<!ELEMENT fertility_concerns (#PCDATA)>
<!ELEMENT fertility_details (#PCDATA)>
<!ELEMENT urinary_symptoms (id,assessment_id,urinary_frequency_daytime,urgency,urge_incontinence,stress_incontinence,pad_use,pads_per_day,hesitancy,poor_stream,terminal_dribbling,post_void_dribbling,feeling_of_incomplete_emptying,urinary_retention_history,haematuria,haematuria_type,dysuria,suprapubic_pain,loin_pain,recurrent_utis,uti_frequency_per_year,created_at,updated_at)>
<!ELEMENT urinary_frequency_daytime (#PCDATA)>
<!ELEMENT urgency (#PCDATA)>
<!ELEMENT urge_incontinence (#PCDATA)>
<!ELEMENT stress_incontinence (#PCDATA)>
<!ELEMENT pad_use (#PCDATA)>
<!ELEMENT pads_per_day (#PCDATA)>
<!ELEMENT hesitancy (#PCDATA)>
<!ELEMENT poor_stream (#PCDATA)>
<!ELEMENT terminal_dribbling (#PCDATA)>
<!ELEMENT post_void_dribbling (#PCDATA)>
<!ELEMENT feeling_of_incomplete_emptying (#PCDATA)>
<!ELEMENT urinary_retention_history (#PCDATA)>
<!ELEMENT haematuria (#PCDATA)>
<!ELEMENT haematuria_type (#PCDATA)>
<!ELEMENT dysuria (#PCDATA)>
<!ELEMENT suprapubic_pain (#PCDATA)>
<!ELEMENT loin_pain (#PCDATA)>
<!ELEMENT recurrent_utis (#PCDATA)>
<!ELEMENT uti_frequency_per_year (#PCDATA)>
