forms/urology-assessment/xml-representations/assessment_medical_history.dtd

<!ELEMENT assessment_medical_history (id,assessment_id,previous_urological_surgery,urological_surgery_details,benign_prostatic_hyperplasia,prostate_cancer_history,prostate_cancer_details,bladder_cancer_history,kidney_stones_history,kidney_stones_details,catheterisation_history,diabetes,hypertension,cardiovascular_disease,neurological_disease,neurological_disease_details,chronic_kidney_disease,previous_pelvic_surgery,pelvic_surgery_details,previous_radiotherapy,radiotherapy_details,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT previous_urological_surgery (#PCDATA)>
<!ELEMENT urological_surgery_details (#PCDATA)>
<!ELEMENT benign_prostatic_hyperplasia (#PCDATA)>
<!ELEMENT prostate_cancer_history (#PCDATA)>
<!ELEMENT prostate_cancer_details (#PCDATA)>
<!ELEMENT bladder_cancer_history (#PCDATA)>
<!ELEMENT kidney_stones_history (#PCDATA)>
<!ELEMENT kidney_stones_details (#PCDATA)>
<!ELEMENT catheterisation_history (#PCDATA)>
<!ELEMENT diabetes (#PCDATA)>
<!ELEMENT hypertension (#PCDATA)>
<!ELEMENT cardiovascular_disease (#PCDATA)>
<!ELEMENT neurological_disease (#PCDATA)>
<!ELEMENT neurological_disease_details (#PCDATA)>
<!ELEMENT chronic_kidney_disease (#PCDATA)>
<!ELEMENT previous_pelvic_surgery (#PCDATA)>
<!ELEMENT pelvic_surgery_details (#PCDATA)>
<!ELEMENT previous_radiotherapy (#PCDATA)>
<!ELEMENT radiotherapy_details (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
