forms/urology-assessment/xml-representations/grading_result.dtd

<!ELEMENT grading_result (id,assessment_id,ipss_total_score,ipss_qol_score,symptom_severity,graded_at,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT ipss_total_score (#PCDATA)>
<!ELEMENT ipss_qol_score (#PCDATA)>
<!ELEMENT symptom_severity (#PCDATA)>
<!ELEMENT graded_at (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
