forms/diabetes-assessment/xml-representations/assessment_medications.dtd

<!ELEMENT assessment_medications (id,assessment_id,metformin,sulfonylurea,sglt2_inhibitor,glp1_agonist,dpp4_inhibitor,insulin,insulin_regimen,insulin_daily_dose,medication_adherence,other_medications,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT metformin (#PCDATA)>
<!ELEMENT sulfonylurea (#PCDATA)>
<!ELEMENT sglt2_inhibitor (#PCDATA)>
<!ELEMENT glp1_agonist (#PCDATA)>
<!ELEMENT dpp4_inhibitor (#PCDATA)>
<!ELEMENT insulin (#PCDATA)>
<!ELEMENT insulin_regimen (#PCDATA)>
<!ELEMENT insulin_daily_dose (#PCDATA)>
<!ELEMENT medication_adherence (#PCDATA)>
<!ELEMENT other_medications (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
