forms/diabetes-assessment/xml-representations/assessment_review_care_plan.dtd

<!ELEMENT assessment_review_care_plan (id,assessment_id,clinician_name,review_date,hba1c_target_agreed,care_plan_updated,clinical_notes,referrals,next_review_date,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT clinician_name (#PCDATA)>
<!ELEMENT review_date (#PCDATA)>
<!ELEMENT hba1c_target_agreed (#PCDATA)>
<!ELEMENT care_plan_updated (#PCDATA)>
<!ELEMENT clinical_notes (#PCDATA)>
<!ELEMENT referrals (#PCDATA)>
<!ELEMENT next_review_date (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
