forms/diabetes-assessment/xml-representations/assessment_self_care_lifestyle.dtd

<!ELEMENT assessment_self_care_lifestyle (id,assessment_id,diet_adherence,carb_counting,physical_activity,bmi,weight_change,alcohol_consumption,smoking_cessation,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT diet_adherence (#PCDATA)>
<!ELEMENT carb_counting (#PCDATA)>
<!ELEMENT physical_activity (#PCDATA)>
<!ELEMENT bmi (#PCDATA)>
<!ELEMENT weight_change (#PCDATA)>
<!ELEMENT alcohol_consumption (#PCDATA)>
<!ELEMENT smoking_cessation (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
