forms/diabetes-assessment/xml-representations/assessment.dtd

<!ELEMENT assessment (id,patient_id,status,created_at,updated_at,cardiovascular_risk,complications_screening,diabetes_history,foot_assessment,glycaemic_control,medications,psychological_wellbeing,review_care_plan,self_care_lifestyle)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT patient_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT cardiovascular_risk (id,assessment_id,systolic_bp,diastolic_bp,on_antihypertensive,total_cholesterol,ldl_cholesterol,on_statin,smoking_status,previous_cvd_event,qrisk_score,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT systolic_bp (#PCDATA)>
<!ELEMENT diastolic_bp (#PCDATA)>
<!ELEMENT on_antihypertensive (#PCDATA)>
<!ELEMENT total_cholesterol (#PCDATA)>
<!ELEMENT ldl_cholesterol (#PCDATA)>
<!ELEMENT on_statin (#PCDATA)>
<!ELEMENT smoking_status (#PCDATA)>
<!ELEMENT previous_cvd_event (#PCDATA)>
<!ELEMENT qrisk_score (#PCDATA)>
<!ELEMENT complications_screening (id,assessment_id,retinopathy_status,last_eye_screening,nephropathy_status,egfr,urine_acr,neuropathy_symptoms,autonomic_neuropathy,erectile_dysfunction,created_at,updated_at)>
<!ELEMENT retinopathy_status (#PCDATA)>
<!ELEMENT last_eye_screening (#PCDATA)>
<!ELEMENT nephropathy_status (#PCDATA)>
<!ELEMENT egfr (#PCDATA)>
<!ELEMENT urine_acr (#PCDATA)>
<!ELEMENT neuropathy_symptoms (#PCDATA)>
<!ELEMENT autonomic_neuropathy (#PCDATA)>
<!ELEMENT erectile_dysfunction (#PCDATA)>
<!ELEMENT diabetes_history (id,assessment_id,diabetes_type,age_at_diagnosis,years_duration,diagnosis_method,family_history,autoantibodies_tested,created_at,updated_at)>
<!ELEMENT diabetes_type (#PCDATA)>
<!ELEMENT age_at_diagnosis (#PCDATA)>
<!ELEMENT years_duration (#PCDATA)>
<!ELEMENT diagnosis_method (#PCDATA)>
<!ELEMENT family_history (#PCDATA)>
<!ELEMENT autoantibodies_tested (#PCDATA)>
<!ELEMENT foot_assessment (id,assessment_id,foot_pulses,monofilament_test,vibration_sense,foot_deformity,callus_present,ulcer_present,previous_amputation,foot_risk_category,created_at,updated_at)>
<!ELEMENT foot_pulses (#PCDATA)>
<!ELEMENT monofilament_test (#PCDATA)>
<!ELEMENT vibration_sense (#PCDATA)>
<!ELEMENT foot_deformity (#PCDATA)>
<!ELEMENT callus_present (#PCDATA)>
<!ELEMENT ulcer_present (#PCDATA)>
<!ELEMENT previous_amputation (#PCDATA)>
<!ELEMENT foot_risk_category (#PCDATA)>
<!ELEMENT glycaemic_control (id,assessment_id,hba1c_value,hba1c_unit,hba1c_target,fasting_glucose,postprandial_glucose,glucose_monitoring_type,hypoglycaemia_frequency,severe_hypoglycaemia,time_in_range,created_at,updated_at)>
<!ELEMENT hba1c_value (#PCDATA)>
<!ELEMENT hba1c_unit (#PCDATA)>
<!ELEMENT hba1c_target (#PCDATA)>
<!ELEMENT fasting_glucose (#PCDATA)>
<!ELEMENT postprandial_glucose (#PCDATA)>
<!ELEMENT glucose_monitoring_type (#PCDATA)>
<!ELEMENT hypoglycaemia_frequency (#PCDATA)>
<!ELEMENT severe_hypoglycaemia (#PCDATA)>
<!ELEMENT time_in_range (#PCDATA)>
<!ELEMENT medications (id,assessment_id,metformin,sulfonylurea,sglt2_inhibitor,glp1_agonist,dpp4_inhibitor,insulin,insulin_regimen,insulin_daily_dose,medication_adherence,other_medications,created_at,updated_at)>
<!ELEMENT metformin (#PCDATA)>
<!ELEMENT sulfonylurea (#PCDATA)>
<!ELEMENT sglt2_inhibitor (#PCDATA)>
<!ELEMENT glp1_agonist (#PCDATA)>
<!ELEMENT dpp4_inhibitor (#PCDATA)>
<!ELEMENT insulin (#PCDATA)>
<!ELEMENT insulin_regimen (#PCDATA)>
<!ELEMENT insulin_daily_dose (#PCDATA)>
<!ELEMENT medication_adherence (#PCDATA)>
<!ELEMENT other_medications (#PCDATA)>
<!ELEMENT psychological_wellbeing (id,assessment_id,diabetes_distress,depression_screening,anxiety_screening,eating_disorder,fear_of_hypoglycaemia,coping_ability,needs_support,created_at,updated_at)>
<!ELEMENT diabetes_distress (#PCDATA)>
<!ELEMENT depression_screening (#PCDATA)>
<!ELEMENT anxiety_screening (#PCDATA)>
<!ELEMENT eating_disorder (#PCDATA)>
<!ELEMENT fear_of_hypoglycaemia (#PCDATA)>
<!ELEMENT coping_ability (#PCDATA)>
<!ELEMENT needs_support (#PCDATA)>
<!ELEMENT review_care_plan (id,assessment_id,clinician_name,review_date,hba1c_target_agreed,care_plan_updated,clinical_notes,referrals,next_review_date,created_at,updated_at)>
<!ELEMENT clinician_name (#PCDATA)>
<!ELEMENT review_date (#PCDATA)>
<!ELEMENT hba1c_target_agreed (#PCDATA)>
<!ELEMENT care_plan_updated (#PCDATA)>
<!ELEMENT clinical_notes (#PCDATA)>
<!ELEMENT referrals (#PCDATA)>
<!ELEMENT next_review_date (#PCDATA)>
<!ELEMENT self_care_lifestyle (id,assessment_id,diet_adherence,carb_counting,physical_activity,bmi,weight_change,alcohol_consumption,smoking_cessation,created_at,updated_at)>
<!ELEMENT diet_adherence (#PCDATA)>
<!ELEMENT carb_counting (#PCDATA)>
<!ELEMENT physical_activity (#PCDATA)>
<!ELEMENT bmi (#PCDATA)>
<!ELEMENT weight_change (#PCDATA)>
<!ELEMENT alcohol_consumption (#PCDATA)>
<!ELEMENT smoking_cessation (#PCDATA)>
