forms/diabetes-assessment/xml-representations/assessment_foot_assessment.dtd

<!ELEMENT assessment_foot_assessment (id,assessment_id,foot_pulses,monofilament_test,vibration_sense,foot_deformity,callus_present,ulcer_present,previous_amputation,foot_risk_category,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT foot_pulses (#PCDATA)>
<!ELEMENT monofilament_test (#PCDATA)>
<!ELEMENT vibration_sense (#PCDATA)>
<!ELEMENT foot_deformity (#PCDATA)>
<!ELEMENT callus_present (#PCDATA)>
<!ELEMENT ulcer_present (#PCDATA)>
<!ELEMENT previous_amputation (#PCDATA)>
<!ELEMENT foot_risk_category (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
