forms/diabetes-assessment/xml-representations/assessment_cardiovascular_risk.dtd

<!ELEMENT assessment_cardiovascular_risk (id,assessment_id,systolic_bp,diastolic_bp,on_antihypertensive,total_cholesterol,ldl_cholesterol,on_statin,smoking_status,previous_cvd_event,qrisk_score,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT systolic_bp (#PCDATA)>
<!ELEMENT diastolic_bp (#PCDATA)>
<!ELEMENT on_antihypertensive (#PCDATA)>
<!ELEMENT total_cholesterol (#PCDATA)>
<!ELEMENT ldl_cholesterol (#PCDATA)>
<!ELEMENT on_statin (#PCDATA)>
<!ELEMENT smoking_status (#PCDATA)>
<!ELEMENT previous_cvd_event (#PCDATA)>
<!ELEMENT qrisk_score (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
