forms/diabetes-assessment/xml-representations/assessment_glycaemic_control.dtd

<!ELEMENT assessment_glycaemic_control (id,assessment_id,hba1c_value,hba1c_unit,hba1c_target,fasting_glucose,postprandial_glucose,glucose_monitoring_type,hypoglycaemia_frequency,severe_hypoglycaemia,time_in_range,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT hba1c_value (#PCDATA)>
<!ELEMENT hba1c_unit (#PCDATA)>
<!ELEMENT hba1c_target (#PCDATA)>
<!ELEMENT fasting_glucose (#PCDATA)>
<!ELEMENT postprandial_glucose (#PCDATA)>
<!ELEMENT glucose_monitoring_type (#PCDATA)>
<!ELEMENT hypoglycaemia_frequency (#PCDATA)>
<!ELEMENT severe_hypoglycaemia (#PCDATA)>
<!ELEMENT time_in_range (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
