forms/diabetes-assessment/xml-representations/grading_result.dtd

<!ELEMENT grading_result (id,assessment_id,control_level,control_score,graded_at,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT control_level (#PCDATA)>
<!ELEMENT control_score (#PCDATA)>
<!ELEMENT graded_at (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
