forms/employee-onboarding-checklist/xml-representations/assessment_it_systems_access.dtd

<!ELEMENT assessment_it_systems_access (id,assessment_id,nhs_smartcard_issued,nhs_smartcard_number,email_account_created,network_login_created,clinical_system_access,clinical_system_name,clinical_system_training_completed,rostering_system_access,phone_extension,bleep_number,it_access_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT nhs_smartcard_issued (#PCDATA)>
<!ELEMENT nhs_smartcard_number (#PCDATA)>
<!ELEMENT email_account_created (#PCDATA)>
<!ELEMENT network_login_created (#PCDATA)>
<!ELEMENT clinical_system_access (#PCDATA)>
<!ELEMENT clinical_system_name (#PCDATA)>
<!ELEMENT clinical_system_training_completed (#PCDATA)>
<!ELEMENT rostering_system_access (#PCDATA)>
<!ELEMENT phone_extension (#PCDATA)>
<!ELEMENT bleep_number (#PCDATA)>
<!ELEMENT it_access_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
