forms/employee-onboarding-checklist/xml-representations/assessment.dtd

<!ELEMENT assessment (id,employee_id,status,created_at,updated_at,demographics,induction_programme,it_systems_access,mandatory_training,occupational_health,pre_employment_checks,probation_supervision,professional_registration,sign_off_compliance,uniform_id_badge)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT employee_id (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
<!ELEMENT demographics (id,assessment_id,preferred_name,gender_identity,ethnicity,preferred_language,interpreter_required,emergency_contact_name,emergency_contact_phone,emergency_contact_relationship,address_line_1,address_line_2,city,postcode,created_at,updated_at)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT preferred_name (#PCDATA)>
<!ELEMENT gender_identity (#PCDATA)>
<!ELEMENT ethnicity (#PCDATA)>
<!ELEMENT preferred_language (#PCDATA)>
<!ELEMENT interpreter_required (#PCDATA)>
<!ELEMENT emergency_contact_name (#PCDATA)>
<!ELEMENT emergency_contact_phone (#PCDATA)>
<!ELEMENT emergency_contact_relationship (#PCDATA)>
<!ELEMENT address_line_1 (#PCDATA)>
<!ELEMENT address_line_2 (#PCDATA)>
<!ELEMENT city (#PCDATA)>
<!ELEMENT postcode (#PCDATA)>
<!ELEMENT induction_programme (id,assessment_id,corporate_induction_completed,corporate_induction_date,local_induction_completed,local_induction_date,department_tour_completed,introduced_to_team,emergency_procedures_briefed,policies_handbook_received,buddy_assigned,buddy_name,induction_programme_notes,created_at,updated_at)>
<!ELEMENT corporate_induction_completed (#PCDATA)>
<!ELEMENT corporate_induction_date (#PCDATA)>
<!ELEMENT local_induction_completed (#PCDATA)>
<!ELEMENT local_induction_date (#PCDATA)>
<!ELEMENT department_tour_completed (#PCDATA)>
<!ELEMENT introduced_to_team (#PCDATA)>
<!ELEMENT emergency_procedures_briefed (#PCDATA)>
<!ELEMENT policies_handbook_received (#PCDATA)>
<!ELEMENT buddy_assigned (#PCDATA)>
<!ELEMENT buddy_name (#PCDATA)>
<!ELEMENT induction_programme_notes (#PCDATA)>
<!ELEMENT it_systems_access (id,assessment_id,nhs_smartcard_issued,nhs_smartcard_number,email_account_created,network_login_created,clinical_system_access,clinical_system_name,clinical_system_training_completed,rostering_system_access,phone_extension,bleep_number,it_access_notes,created_at,updated_at)>
<!ELEMENT nhs_smartcard_issued (#PCDATA)>
<!ELEMENT nhs_smartcard_number (#PCDATA)>
<!ELEMENT email_account_created (#PCDATA)>
<!ELEMENT network_login_created (#PCDATA)>
<!ELEMENT clinical_system_access (#PCDATA)>
<!ELEMENT clinical_system_name (#PCDATA)>
<!ELEMENT clinical_system_training_completed (#PCDATA)>
<!ELEMENT rostering_system_access (#PCDATA)>
<!ELEMENT phone_extension (#PCDATA)>
<!ELEMENT bleep_number (#PCDATA)>
<!ELEMENT it_access_notes (#PCDATA)>
<!ELEMENT mandatory_training (id,assessment_id,fire_safety_completed,fire_safety_date,manual_handling_completed,manual_handling_date,infection_control_completed,infection_control_date,safeguarding_adults_completed,safeguarding_adults_level,safeguarding_children_completed,safeguarding_children_level,information_governance_completed,information_governance_date,basic_life_support_completed,basic_life_support_date,equality_diversity_completed,health_safety_completed,conflict_resolution_completed,mandatory_training_notes,created_at,updated_at)>
<!ELEMENT fire_safety_completed (#PCDATA)>
<!ELEMENT fire_safety_date (#PCDATA)>
<!ELEMENT manual_handling_completed (#PCDATA)>
<!ELEMENT manual_handling_date (#PCDATA)>
<!ELEMENT infection_control_completed (#PCDATA)>
<!ELEMENT infection_control_date (#PCDATA)>
<!ELEMENT safeguarding_adults_completed (#PCDATA)>
<!ELEMENT safeguarding_adults_level (#PCDATA)>
<!ELEMENT safeguarding_children_completed (#PCDATA)>
<!ELEMENT safeguarding_children_level (#PCDATA)>
<!ELEMENT information_governance_completed (#PCDATA)>
<!ELEMENT information_governance_date (#PCDATA)>
<!ELEMENT basic_life_support_completed (#PCDATA)>
<!ELEMENT basic_life_support_date (#PCDATA)>
<!ELEMENT equality_diversity_completed (#PCDATA)>
<!ELEMENT health_safety_completed (#PCDATA)>
<!ELEMENT conflict_resolution_completed (#PCDATA)>
<!ELEMENT mandatory_training_notes (#PCDATA)>
<!ELEMENT occupational_health (id,assessment_id,oh_questionnaire_submitted,oh_clearance_received,oh_clearance_date,oh_restrictions,oh_restriction_details,hepatitis_b_status,tb_screening_status,immunisation_status,fit_to_work,occupational_health_notes,created_at,updated_at)>
<!ELEMENT oh_questionnaire_submitted (#PCDATA)>
<!ELEMENT oh_clearance_received (#PCDATA)>
<!ELEMENT oh_clearance_date (#PCDATA)>
<!ELEMENT oh_restrictions (#PCDATA)>
<!ELEMENT oh_restriction_details (#PCDATA)>
<!ELEMENT hepatitis_b_status (#PCDATA)>
<!ELEMENT tb_screening_status (#PCDATA)>
<!ELEMENT immunisation_status (#PCDATA)>
<!ELEMENT fit_to_work (#PCDATA)>
<!ELEMENT occupational_health_notes (#PCDATA)>
<!ELEMENT pre_employment_checks (id,assessment_id,dbs_check_status,dbs_certificate_number,dbs_check_date,dbs_update_service_registered,right_to_work_verified,right_to_work_document_type,right_to_work_expiry_date,references_received,references_required,references_satisfactory,identity_verified,pre_employment_notes,created_at,updated_at)>
<!ELEMENT dbs_check_status (#PCDATA)>
<!ELEMENT dbs_certificate_number (#PCDATA)>
<!ELEMENT dbs_check_date (#PCDATA)>
<!ELEMENT dbs_update_service_registered (#PCDATA)>
<!ELEMENT right_to_work_verified (#PCDATA)>
<!ELEMENT right_to_work_document_type (#PCDATA)>
<!ELEMENT right_to_work_expiry_date (#PCDATA)>
<!ELEMENT references_received (#PCDATA)>
<!ELEMENT references_required (#PCDATA)>
<!ELEMENT references_satisfactory (#PCDATA)>
<!ELEMENT identity_verified (#PCDATA)>
<!ELEMENT pre_employment_notes (#PCDATA)>
<!ELEMENT probation_supervision (id,assessment_id,probation_period_months,probation_start_date,probation_end_date,line_manager_name,line_manager_email,supervisor_name,supervision_frequency,first_supervision_date,objectives_set,appraisal_date_agreed,appraisal_date,probation_supervision_notes,created_at,updated_at)>
<!ELEMENT probation_period_months (#PCDATA)>
<!ELEMENT probation_start_date (#PCDATA)>
<!ELEMENT probation_end_date (#PCDATA)>
<!ELEMENT line_manager_name (#PCDATA)>
<!ELEMENT line_manager_email (#PCDATA)>
<!ELEMENT supervisor_name (#PCDATA)>
<!ELEMENT supervision_frequency (#PCDATA)>
<!ELEMENT first_supervision_date (#PCDATA)>
<!ELEMENT objectives_set (#PCDATA)>
<!ELEMENT appraisal_date_agreed (#PCDATA)>
<!ELEMENT appraisal_date (#PCDATA)>
<!ELEMENT probation_supervision_notes (#PCDATA)>
<!ELEMENT professional_registration (id,assessment_id,registration_required,regulatory_body,regulatory_body_other,registration_number,registration_verified,registration_expiry_date,registration_conditions,registration_condition_details,revalidation_date,indemnity_insurance,professional_registration_notes,created_at,updated_at)>
<!ELEMENT registration_required (#PCDATA)>
<!ELEMENT regulatory_body (#PCDATA)>
<!ELEMENT regulatory_body_other (#PCDATA)>
<!ELEMENT registration_number (#PCDATA)>
<!ELEMENT registration_verified (#PCDATA)>
<!ELEMENT registration_expiry_date (#PCDATA)>
<!ELEMENT registration_conditions (#PCDATA)>
<!ELEMENT registration_condition_details (#PCDATA)>
<!ELEMENT revalidation_date (#PCDATA)>
<!ELEMENT indemnity_insurance (#PCDATA)>
<!ELEMENT professional_registration_notes (#PCDATA)>
<!ELEMENT sign_off_compliance (id,assessment_id,confidentiality_agreement_signed,code_of_conduct_signed,social_media_policy_acknowledged,it_acceptable_use_signed,gdpr_training_completed,duty_of_candour_briefed,whistleblowing_policy_briefed,employee_signed_off,employee_sign_off_date,manager_signed_off,manager_sign_off_date,manager_sign_off_name,sign_off_compliance_notes,created_at,updated_at)>
<!ELEMENT confidentiality_agreement_signed (#PCDATA)>
<!ELEMENT code_of_conduct_signed (#PCDATA)>
<!ELEMENT social_media_policy_acknowledged (#PCDATA)>
<!ELEMENT it_acceptable_use_signed (#PCDATA)>
<!ELEMENT gdpr_training_completed (#PCDATA)>
<!ELEMENT duty_of_candour_briefed (#PCDATA)>
<!ELEMENT whistleblowing_policy_briefed (#PCDATA)>
<!ELEMENT employee_signed_off (#PCDATA)>
<!ELEMENT employee_sign_off_date (#PCDATA)>
<!ELEMENT manager_signed_off (#PCDATA)>
<!ELEMENT manager_sign_off_date (#PCDATA)>
<!ELEMENT manager_sign_off_name (#PCDATA)>
<!ELEMENT sign_off_compliance_notes (#PCDATA)>
<!ELEMENT uniform_id_badge (id,assessment_id,uniform_required,uniform_ordered,uniform_received,uniform_size,id_badge_photo_taken,id_badge_issued,id_badge_number,access_card_issued,access_card_areas,locker_allocated,locker_number,uniform_id_notes,created_at,updated_at)>
<!ELEMENT uniform_required (#PCDATA)>
<!ELEMENT uniform_ordered (#PCDATA)>
<!ELEMENT uniform_received (#PCDATA)>
<!ELEMENT uniform_size (#PCDATA)>
<!ELEMENT id_badge_photo_taken (#PCDATA)>
<!ELEMENT id_badge_issued (#PCDATA)>
<!ELEMENT id_badge_number (#PCDATA)>
<!ELEMENT access_card_issued (#PCDATA)>
<!ELEMENT access_card_areas (#PCDATA)>
<!ELEMENT locker_allocated (#PCDATA)>
<!ELEMENT locker_number (#PCDATA)>
<!ELEMENT uniform_id_notes (#PCDATA)>
