forms/employee-onboarding-checklist/xml-representations/assessment_sign_off_compliance.dtd

<!ELEMENT assessment_sign_off_compliance (id,assessment_id,confidentiality_agreement_signed,code_of_conduct_signed,social_media_policy_acknowledged,it_acceptable_use_signed,gdpr_training_completed,duty_of_candour_briefed,whistleblowing_policy_briefed,employee_signed_off,employee_sign_off_date,manager_signed_off,manager_sign_off_date,manager_sign_off_name,sign_off_compliance_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT confidentiality_agreement_signed (#PCDATA)>
<!ELEMENT code_of_conduct_signed (#PCDATA)>
<!ELEMENT social_media_policy_acknowledged (#PCDATA)>
<!ELEMENT it_acceptable_use_signed (#PCDATA)>
<!ELEMENT gdpr_training_completed (#PCDATA)>
<!ELEMENT duty_of_candour_briefed (#PCDATA)>
<!ELEMENT whistleblowing_policy_briefed (#PCDATA)>
<!ELEMENT employee_signed_off (#PCDATA)>
<!ELEMENT employee_sign_off_date (#PCDATA)>
<!ELEMENT manager_signed_off (#PCDATA)>
<!ELEMENT manager_sign_off_date (#PCDATA)>
<!ELEMENT manager_sign_off_name (#PCDATA)>
<!ELEMENT sign_off_compliance_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
