forms/employee-onboarding-checklist/xml-representations/assessment_mandatory_training.dtd

<!ELEMENT assessment_mandatory_training (id,assessment_id,fire_safety_completed,fire_safety_date,manual_handling_completed,manual_handling_date,infection_control_completed,infection_control_date,safeguarding_adults_completed,safeguarding_adults_level,safeguarding_children_completed,safeguarding_children_level,information_governance_completed,information_governance_date,basic_life_support_completed,basic_life_support_date,equality_diversity_completed,health_safety_completed,conflict_resolution_completed,mandatory_training_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT fire_safety_completed (#PCDATA)>
<!ELEMENT fire_safety_date (#PCDATA)>
<!ELEMENT manual_handling_completed (#PCDATA)>
<!ELEMENT manual_handling_date (#PCDATA)>
<!ELEMENT infection_control_completed (#PCDATA)>
<!ELEMENT infection_control_date (#PCDATA)>
<!ELEMENT safeguarding_adults_completed (#PCDATA)>
<!ELEMENT safeguarding_adults_level (#PCDATA)>
<!ELEMENT safeguarding_children_completed (#PCDATA)>
<!ELEMENT safeguarding_children_level (#PCDATA)>
<!ELEMENT information_governance_completed (#PCDATA)>
<!ELEMENT information_governance_date (#PCDATA)>
<!ELEMENT basic_life_support_completed (#PCDATA)>
<!ELEMENT basic_life_support_date (#PCDATA)>
<!ELEMENT equality_diversity_completed (#PCDATA)>
<!ELEMENT health_safety_completed (#PCDATA)>
<!ELEMENT conflict_resolution_completed (#PCDATA)>
<!ELEMENT mandatory_training_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
