forms/employee-onboarding-checklist/xml-representations/assessment_professional_registration.dtd

<!ELEMENT assessment_professional_registration (id,assessment_id,registration_required,regulatory_body,regulatory_body_other,registration_number,registration_verified,registration_expiry_date,registration_conditions,registration_condition_details,revalidation_date,indemnity_insurance,professional_registration_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT registration_required (#PCDATA)>
<!ELEMENT regulatory_body (#PCDATA)>
<!ELEMENT regulatory_body_other (#PCDATA)>
<!ELEMENT registration_number (#PCDATA)>
<!ELEMENT registration_verified (#PCDATA)>
<!ELEMENT registration_expiry_date (#PCDATA)>
<!ELEMENT registration_conditions (#PCDATA)>
<!ELEMENT registration_condition_details (#PCDATA)>
<!ELEMENT revalidation_date (#PCDATA)>
<!ELEMENT indemnity_insurance (#PCDATA)>
<!ELEMENT professional_registration_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
