forms/employee-onboarding-checklist/xml-representations/assessment_probation_supervision.dtd

<!ELEMENT assessment_probation_supervision (id,assessment_id,probation_period_months,probation_start_date,probation_end_date,line_manager_name,line_manager_email,supervisor_name,supervision_frequency,first_supervision_date,objectives_set,appraisal_date_agreed,appraisal_date,probation_supervision_notes,created_at,updated_at)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT assessment_id (#PCDATA)>
<!ELEMENT probation_period_months (#PCDATA)>
<!ELEMENT probation_start_date (#PCDATA)>
<!ELEMENT probation_end_date (#PCDATA)>
<!ELEMENT line_manager_name (#PCDATA)>
<!ELEMENT line_manager_email (#PCDATA)>
<!ELEMENT supervisor_name (#PCDATA)>
<!ELEMENT supervision_frequency (#PCDATA)>
<!ELEMENT first_supervision_date (#PCDATA)>
<!ELEMENT objectives_set (#PCDATA)>
<!ELEMENT appraisal_date_agreed (#PCDATA)>
<!ELEMENT appraisal_date (#PCDATA)>
<!ELEMENT probation_supervision_notes (#PCDATA)>
<!ELEMENT created_at (#PCDATA)>
<!ELEMENT updated_at (#PCDATA)>
